<template>
  <div id="check-out">
    <!-- 主体内容 (◕ᴗ◕✿)-->
    <div class="content-box" v-if="initPage.entry.length || initPage.exit.length">
      <div class="content-display-box">
        <div class="title">{{$t('ViBorder.businessLogicCommon.in')}}</div>
        <div class="img-list-box">
          <!-- Entry 通道车辆 -->
          <!-- 所有车道按照数组长度拼接样式 -->
          <div :class="[`display-vehicle${initPage.entry.length}`, `alarmInfo-${pageUseParam.entryVehicleStatus}`]" v-for="(item, index) in initPage.entry" :key="index" @click="showModal({item, index, position: 'entry'})">
            <div class="title-tip">{{$t('ViBorder.CHECKOUT.entry', {No: item.laneNumber})}}</div>
            <div class="white-bg"></div>
            <div v-if="item.lprStatus === 'ipcFaulty'" class="modal-box">
              <img class="modal-box-error" src="../../assets/img/sms/noConnection.gif" :alt="$t('ViBorder.common.nopictrue')">
            </div>
            <div v-else-if="!item.lprStatus && !item.rfidStatus" class="modal-box">
              <div>{{$t('ViBorder.CHECKOUT.deviceNoSignal')}}</div>
            </div>
            <div v-else-if="(item.lprStatus === 'ipcWell' || item.rfidStatus === 'ipcWell') && (!item.lprPhotoPath)" class="modal-box">
              <div>{{$t('ViBorder.common.nopictrue')}}</div>
            </div>
            <!-- <div class="box-shadow-glow" :class="`alarmInfo-${item.vehicleStatus && item.vehicleStatus}`"> -->
            <div class="box-shadow-glow">
              <img v-if="item.lprPhotoPath" class="vehicle-box" :src="item.lprPhotoPath" :alt="$t('ViBorder.common.nopictrue')">
            </div>
          </div>
          <div class="device-status-box">
            <DeviceStatus :deviceMsg="deviceMsgEntry" />
          </div>
        </div>
      </div>
      <div class="content-display-box">
        <div class="title">{{$t('ViBorder.businessLogicCommon.out')}}</div>
        <div class="img-list-box">
          <!-- Exit 通道车辆 -->
          <!-- 所有车道按照数组长度拼接样式 -->
          <div :class="[`display-vehicle${initPage.exit.length}`, `alarmInfo-${pageUseParam.exitVehicleStatus}`]" v-for="(item, index) in initPage.exit" :key="index" @click="showModal({item, index, position: 'exit'})">
            <div class="title-tip">{{$t('ViBorder.CHECKOUT.exit', {No: item.laneNumber})}}</div>
            <div class="white-bg"></div>
            <div v-if="item.lprStatus === 'ipcFaulty'" class="modal-box">
              <img class="modal-box-error" src="../../assets/img/sms/noConnection.gif" :alt="$t('ViBorder.common.nopictrue')">
            </div>
            <div v-else-if="!item.lprStatus && !item.rfidStatus" class="modal-box">
              <div>{{$t('ViBorder.CHECKOUT.deviceNoSignal')}}</div>
            </div>
            <div v-else-if="(item.lprStatus === 'ipcWell' || item.rfidStatus === 'ipcWell') && (!item.lprPhotoPath)" class="modal-box">
              <div>{{$t('ViBorder.common.nopictrue')}}</div>
            </div>
            <!-- <div class="box-shadow-glow" :class="`alarmInfo-${item.vehicleStatus && item.vehicleStatus}`"> -->
            <div class="box-shadow-glow">
              <img v-if="item.lprPhotoPath" class="vehicle-box" :src="item.lprPhotoPath" :alt="$t('ViBorder.common.nopictrue')">
            </div>
          </div>
          <div class="device-status-box">
            <DeviceStatus :deviceMsg="deviceMsgExit" />
          </div>
        </div>
      </div>
      <!-- 弹窗显示详情 -->
      <Dialog :modalData="detailsModalData">
        <div id="check-out-detail">
          <div class="container-box">
            <div class="display-info">
              <div class="barrer"> <span>{{$t('ViBorder.CHECKOUT.baseInformation')}}</span> <i v-if="vehiclePosition.position === 'entry'" class="iconfont" @click="sendSiteLaneNumber">&#xe6eb;</i></div>
              <div class="form-table">
                <tableForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule' ref="modalTableForm"></tableForm>
              </div>
            </div>
            <el-tabs type="border-card" v-model="tabActiveName">
              <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')" name="first">
                <singleImgView :singleImgInfo="detailsInitData.singleImgInfo"></singleImgView>
              </el-tab-pane>
              <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')">
                <Viewer :imgInfo="detailsInitData.pageImg" :viewerStyle="detailsInitData.viewerStyle"></Viewer>
              </el-tab-pane>
              <el-tab-pane v-if="hasAsycuda" :label="$t('ViBorder.businessLogicCommon.asycudaTab')">
                <div class="single-img">
                  {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
                </div>
              </el-tab-pane>
              <el-tab-pane v-if="detailsInitData.showJointInspecte" :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')">
                <otherSystem :conclusionList="conclusionList"></otherSystem>
              </el-tab-pane>
            </el-tabs>
          </div>
        </div>
      </Dialog>
    </div>
    <!-- 没有数据的时候显示 ヽ(￣▽￣)ﾉ-->
    <div class="content-box" v-if="!initPage.entry.length && !initPage.exit.length">{{$t('ViBorder.CHECKOUT.noData')}}</div>
  </div>
</template>

<script>
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import handleData from '@/api/CHECKOUT/checkOut.js'
import DeviceStatus from '@/components/common/deviceStatus'
import initConfirmData from '@/components/common/commonData'
import {connect, disconnect} from '@/components/common/ws.js'
export default {
  data () {
    return {
      audioFlag: { // 控制报警声音是否关闭标志位
        entryLprStatus: true,
        entryColor: true,
        exitLprStatus: true,
        exitColor: true
      },
      audioTimeout: '',
      notifyOffset: window.config.notifyOffset,
      pageUseParam: {
        defaultOptions: {}, // 默认参数
        fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}`,
        lprFolder: window.config.fileFolder.lprFolder,
        manifestFolder: `${window.config.fileFolder.manifestFolder}`,
        vehicleId: ``,
        checkOutClient: ``,
        saveInitPlantNum: ``,
        saveInitTime: ``,
        notAllowRelease: ``,
        allowRelease: ``,
        saveImcTime: ``,
        entryVehicleStatus: ``,
        exitVehicleStatus: ``
      },
      vehiclePosition: { // 存放點擊了哪個的道號
        vehicleIndex: ``,
        postion: ``
      },
      detailsModalData: { // 模态框的固定属性
        flag: false,
        resetModal: this.close
      },
      initPage: { // 初始化页面通道车辆数据
        entry: ``,
        exit: ``
      },
      detailsInitData: { // 详情页的数据
        singleImgInfo: { // 单张图显示
          src: '',
          left: '',
          right: ''
        },
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0
        },
        pageImg: [],
        showJointInspecte: false
      },
      inputItem: [ // 弹窗上的左侧文本信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber',
          maxlength: 20
        },
        {
          getLabel: 'RFID',
          type: 'onlyRead',
          models: '',
          ruleProp: 'rfidNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'arrivalTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'checkInTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleType'
        },
        {
          getLabel: this.$t('ViBorder.CHECKOUT.releaseConclusion'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'conclusionType'
        },
        {
          getLabel: this.$t('ViBorder.CHECKOUT.nextStep'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'nextStep'
        },
        {
          getLabel: this.$t('ViBorder.CHECKOUT.release'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'release'
        }
      ],
      queryFn: { // 查询按钮以及方法
        hasBtn: true,
        isBackBtn: true,
        formMethod: this.close,
        backText: this.$t('ViBorder.common.close')
      },
      clearQueryFn: {
        hasBtn: true,
        resetText: this.$t('ViBorder.common.close'),
        close: this.close
      },
      formRule: { // form规则
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      conclusionList: [],
      hasAsycuda: false,
      reconnectParm: {},
      deviceMsgEntry: {
        device: {
          TRAFFICLIGHT_1: {
            status: ''
          },
          BARRIER_1: {
            status: ''
          }
        },
        localRemote: ''
      },
      officalCar: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          blur: this.modifyLpn,
          ruleProp: 'licensePlateNumber',
          maxlength: 20
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'arrivalTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark'
        }
      ],
      deviceMsgExit: {
        device: {
          TRAFFICLIGHT_1: {
            status: ''
          },
          BARRIER_1: {
            status: ''
          }
        },
        localRemote: ''
      }, // 向设备状态组件传递推送数据
      tabActiveName: 'first'
    }
  },
  created () {
    this.hasRealeaseField()
    this.getRules()
    this.initData()
    this.siteLane = {site: localStorage.checkOutSite, laneNumber: '1'}
  },
  mounted () {
    this.setAttr()
  },
  beforeDestroy () {
    this.toggleWarningAudio(false)
  },
  destroyed () {
    this.pageUseParam.checkOutClient && disconnect({client: this.pageUseParam.checkOutClient}) // socket断开连接
  },
  methods: {
    /**
     * 页面操作方法 方法归类 ٩(๑❛ᴗ❛๑)۶
     */
    getRules () {
      Object.assign(this.formRule.rule, this.$rules(['licensePlateNumber']))
    },
    audioStopFlag () { // 用于判断是否保留报警灯和报警声音
      let audioFlag = ''
      if (this.audioFlag.entryLprStatus && this.audioFlag.entryColor && this.audioFlag.exitLprStatus && this.audioFlag.exitColor) {
        audioFlag = true
      } else {
        audioFlag = false
      }
      return audioFlag
    },
    toggleWarningAudio (bool) {
      this.$store.commit({
        type: 'audioAndLight',
        audio: bool
      })
    },
    sleepCloseAudio () {
      this.audioTimeout = setTimeout(() => {
        this.toggleWarningAudio(false)
      }, 60000)
    },
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    dataErrorPrompt (val) { // 当返回dataerror时的提示语（公共方法）
      let message = ''
      if (val.includes('E0')) {
        message = this.$t('ViBorder.upms.ajax.' + val)
      } else {
        message = this.$t('ViBorder.errorCode.' + val)
      }
      this.$notify.error({
        title: this.$t('ViBorder.common.dataError'),
        message,
        offset: this.notifyOffset
      })
    },
    removeAttr () { // 移除tab打开日期组件
      let key = document.getElementsByClassName('el-range-input')
      for (let i = 0; i < key.length; i++) {
        key[i].removeAttribute('tabindex')
      }
    },
    setAttr () { // 禁止tab打开日期组件
      let key = document.getElementsByClassName('el-range-input')
      for (let i = 0; i < key.length; i++) {
        key[i].setAttribute('tabindex', -1)
      }
    },
    hasRealeaseField () { // 处理一下inputItem数据 在接口返回之后 替换掉数据
      let allow = JSON.parse(JSON.stringify(this.inputItem))
      this.pageUseParam.allowRelease = JSON.parse(JSON.stringify(this.inputItem))
      this.pageUseParam.allowRelease[0].blur = this.modifyLpn // JSON.parse(JSON.stringify())不能复制函数 所以需要hack一下加进去
      allow.pop()
      this.pageUseParam.notAllowRelease = JSON.parse(JSON.stringify(allow))
      this.pageUseParam.notAllowRelease[0].blur = this.modifyLpn
    },
    initData (options) { // 获取主页面的数据
      // console.log('我是初始化页面啊created啊', options)
      handleData._initData(options).then(res => {
        if (res.data.flag) {
          let {result} = res.data
          let deviceStatusFn = (key, ele) => {
            this[key].device.TRAFFICLIGHT_1.status = ele.trfficLightStatus && ele.trfficLightStatus.status
            this[key].device.BARRIER_1.status = ele.barrierStatus && ele.barrierStatus.status
            this[key].localRemote = ele.trfficLightStatus && ele.trfficLightStatus.OBox_WorkMode_Exit
            this[key].localRemote = ele.barrierStatus && ele.barrierStatus.OBox_WorkMode_Exit
          }
          let dealPhoto = (arr, site, status) => {
            arr.forEach(ele => {
              if (ele.lprPhotoPath) {
                ele.lprPhotoPath = `${this.pageUseParam.fileServerUrl}${this.pageUseParam.lprFolder}${ele.lprPhotoPath}`
              }
              // 出现背景图
              if (site === 'entry' && ele.vehicleStatus) {
                this.pageUseParam.entryVehicleStatus = ele.vehicleStatus
              } else if (site === 'exit' && ele.vehicleStatus) {
                this.pageUseParam.exitVehicleStatus = ele.vehicleStatus
              }
              // 入口的交通灯和灯杆状态以及本地还是远程
              if (status === 'Entry') {
                deviceStatusFn('deviceMsgEntry', ele)
              } else {
                // 出口的交通灯和灯杆状态以及本地还是远程
                deviceStatusFn('deviceMsgExit', ele)
              }
            })
          }
          result.entry.length && dealPhoto(result.entry, 'entry', 'Entry')
          result.exit.length && dealPhoto(result.exit, 'exit', 'Exit')
          let playAudio = (arr, type) => {
            // 初始化判断是否加载播放语言
            arr.forEach(ele => {
              if (ele.lprStatus) {
                if (ele.lprStatus === 'ipcFaulty' || ele.vehicleStatus === 'yellow' || ele.vehicleStatus === 'red') {
                  if (this.audioTimeout) {
                    clearTimeout(this.audioTimeout)
                  }
                  this.toggleWarningAudio(true)
                  this.sleepCloseAudio()
                }
                if (ele.lprStatus === 'ipcFaulty') {
                  this.audioFlag[`${type}LprStatus`] = false
                }
                if (ele.vehicleStatus === 'yellow' || ele.vehicleStatus === 'red') {
                  this.audioFlag[`${type}Color`] = false
                }
              }
            })
          }
          playAudio(result.entry, 'entry')
          playAudio(result.exit, 'exit')
          this.initPage = {
            entry: result.entry,
            exit: result.exit
          }
          // 在页面有数据的情况下才去监听消息
          if (result.entry.length && !result.exit.length) {
            this.initWebSocket({site: {ICOA: localStorage.checkOutSite.split(',')[0]}, arr: {ICOA: result.entry}, isExistRFIDCard: result.isExistRFIDCard})
            this.reconnectParm = {site: {ICOA: localStorage.checkOutSite.split(',')[0]}, arr: {ICOA: result.entry}, isExistRFIDCard: result.isExistRFIDCard}
          } else if (!result.entry.length && result.exit.length) {
            this.initWebSocket({site: {OCOA: localStorage.checkOutSite.split(',')[1]}, arr: {OCOA: result.exit}, isExistRFIDCard: result.isExistRFIDCard})
            this.reconnectParm = {site: {OCOA: localStorage.checkOutSite.split(',')[1]}, arr: {OCOA: result.exit}, isExistRFIDCard: result.isExistRFIDCard}
          } else {
            this.initWebSocket({site: {ICOA: localStorage.checkOutSite.split(',')[0], OCOA: localStorage.checkOutSite.split(',')[1]}, arr: {ICOA: result.entry, OCOA: result.exit}, isExistRFIDCard: result.isExistRFIDCard})
            this.reconnectParm = {site: {ICOA: localStorage.checkOutSite.split(',')[0], OCOA: localStorage.checkOutSite.split(',')[1]}, arr: {ICOA: result.entry, OCOA: result.exit}, isExistRFIDCard: result.isExistRFIDCard}
          }
          // result.entry.length && this.initWebSocket({site: localStorage.checkOutSite.split(',')[0], arr: result.entry, isExistRFIDCard: result.isExistRFIDCard})
          // result.exit.length && this.initWebSocket({site: localStorage.checkOutSite.split(',')[1], arr: result.exit, isExistRFIDCard: result.isExistRFIDCard})
          if (result.isExistRFIDCard === '0') {
            this.pageUseParam.allowRelease.splice(1, 1)
            this.pageUseParam.notAllowRelease.splice(1, 1)
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initWebSocket ({site = this.reconnectParm.site, arr = this.reconnectParm.arr, isExistRFIDCard = this.reconnectParm.isExistRFIDCard}) { // 初始化socket连接
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(baseUrl + viborderStompWebsocket)
      this.pageUseParam.checkOutClient = Stomp.over(socket) // 实例化
      let subscribeData = []
      let siteArr = ['ICOA', 'OCOA']
      siteArr.forEach(item => {
        if (arr[item] && arr[item].length) {
          arr[item].forEach((ele, idx) => {
            subscribeData.push(
              {
                path: `/topic/eventTopic_${site[item]}_${ele.laneNumber}`,
                scb: (msg) => {
                  let option = {key: `${site[item]}_${ele.laneNumber}`, msg, index: ele.laneNumber - 1, isExistRFIDCard, site: site[item]}
                  this.webSocketEventTopic(option)
                }
              },
              {
                path: `/topic/commandTopic_${site[item]}_${ele.laneNumber}`,
                scb: (msg) => {
                  let option = {key: `${site[item]}_${ele.laneNumber}`, msg, index: ele.laneNumber - 1, isExistRFIDCard, site: site[item]}
                  this.webSocketCommandTopic(option)
                }
              }
            )
          })
        }
      })
      connect({client: this.pageUseParam.checkOutClient, subscribeData, header: 'CHECKOUT', reconCallBack: this.initWebSocket})
    },
    releaseOfficialCarTips ({initPageObjInfo, siteInfo}) {
      // console.log('this.pageUseParam.defaultOptions.site', this.pageUseParam.defaultOptions.site)
      // console.log('siteInfo', siteInfo)
      this.$notify({
        title: this.$t('ViBorder.common.successfuly'),
        message: this.$t('ViBorder.CHECKOUT.officalCarRelease'),
        type: 'success',
        offset: this.notifyOffset
      })
      // 有报警清除报警，有颜色清除颜色，有图片请图片，有车牌请车牌
      if (this.detailsModalData.flag && this.pageUseParam.defaultOptions.site === siteInfo) {
        // 详情的数据都清掉
        this.inputItem.forEach(ele => {
          ele.models = ''
        })
      }
      let initPageObj = ''
      let site = ''
      if (initPageObjInfo) {
        initPageObj = initPageObjInfo
        site = siteInfo
      } else {
        let {vehicleIndex, position} = this.vehiclePosition
        if (position === 'exit') {
          initPageObj = this.initPage.exit[vehicleIndex]
          site = 'OCOA'
        } else {
          site = 'ICOA'
          initPageObj = this.initPage.entry[vehicleIndex]
        }
      }
      this.isNewVehicleClearPage({initPageObj, site})
    },
    lprStatusAndColorKey (site) {
      let dir = {
        'ICOA': () => {
          return `entry`
        },
        'OCOA': () => {
          return `exit`
        }
      }
      return {
        status: `${dir[site]()}LprStatus`,
        color: `${dir[site]()}Color`
      }
    },
    webSocketEventTopic ({msg, index, key, isExistRFIDCard, site}) { // 推送逻辑
      let siteBody = ''
      let {defaultOptions} = this.pageUseParam
      // 获取推送过来的site
      if (msg.body.task) {
        siteBody = msg.body.task.position.site || site
      }
      let lprStatusAndColorFn = (site) => {
        let {status, color} = this.lprStatusAndColorKey(site)
        if (msg.body.status === 'ipcFaulty') {
          this.audioFlag[status] = false
        } else if (msg.body.status === 'ipcWell') {
          this.audioFlag[status] = true
        }
        if (msg.body.status === 'signaled') {
          this.audioFlag[color] = true
        }
      }
      // 获取当前车道数据
      let initPageObj
      if (key.includes(localStorage.checkOutSite.split(',')[0])) {
        initPageObj = this.initPage.entry[index]
      } else if (key.includes(localStorage.checkOutSite.split(',')[1])) {
        initPageObj = this.initPage.exit[index]
      }
      // 处理外边的图片以及设备信息
      let cb = () => {
        let {lprPhotoPath} = msg.body.task
        let lprPath = `${this.pageUseParam.fileServerUrl}${this.pageUseParam.lprFolder}${lprPhotoPath}`
        if (lprPhotoPath) {
          initPageObj.lprStatus = 'ipcWell'
          initPageObj.lprPhotoPath = lprPath
        }
      }
      let whiteListCar = () => {
        // 白名单车放行
        if (msg.device === 'task' && msg.body && msg.body.whiteList) {
          this.releaseOfficialCarTips({initPageObjInfo: initPageObj, siteInfo: site})
        }
      }
      // 赋值包括详情以及外边的边框
      let dataInit = (msg, bool) => {
        let {site, laneNumber} = msg.position
        cb()
        this.initDataDetails({site, laneNumber}, cb, {index, key, site}, bool)
      }
      // 切换警告信息以及显示边框颜色
      let lpnWarning = () => {
        if (msg.body.status === 'ipcFaulty') {
          if (this.audioTimeout) {
            clearTimeout(this.audioTimeout)
          }
          this.toggleWarningAudio(true)
          this.sleepCloseAudio()
        } else if (msg.body.status === 'ipcWell' && (initPageObj.vehicleStatus === 'green' || !initPageObj.vehicleStatus)) {
          // this.toggleWarningAudio(false)
          let flag = this.audioStopFlag()
          if (flag) {
            this.toggleWarningAudio(false)
          }
        }
        // 改变设备状态ipcwell/ipcfaulty
        this.$set(initPageObj, 'lprStatus', msg.body.status)
      }
      let normalSite = (bool) => {
        // 正常里外赋值
        // 新车清空车牌
        if (msg.body.newVehicle) {
          // 先清掉数据
          this.detailsInitData.singleImgInfo = {
            left: '',
            src: '',
            right: ''
          }
          this.pageUseParam.saveInitPlantNum = ''
          this.$set(this.inputItem[0], 'models', '')
          this.isNewVehicleClearPage({initPageObj, site})
          // 公共推送数据赋值
          if (msg.body.task) {
            dataInit(msg.body.task, bool)
          }
        } else {
          // 公共推送数据赋值
          if (msg.body.task) {
            dataInit(msg.body.task, bool)
          }
        }
      }
      let unnormalSite = (bool) => {
        // 不正常赋值对应的siteBody的外边
        // 新车清空车牌
        if (msg.body.newVehicle) {
          // 公共推送数据赋值
          if (msg.body.task) {
            dataInit(msg.body.task, bool)
          }
        } else {
          // 公共推送数据赋值
          if (msg.body.task) {
            dataInit(msg.body.task, bool)
          }
        }
      }
      // 切换交通灯档杆状态和本地远程模式
      if (msg.body.status !== 'ipcWell' && msg.body.status !== 'ipcFaulty') {
        this.changeDeviceStatus(msg, site)
      }
      // console.log('==============747行============', `siteBody: ${siteBody}`, `site: ${site}`, `this.pageUseParam.defaultOptions.site: ${this.pageUseParam.defaultOptions.site}`)
      if (siteBody === site && (!defaultOptions.site || siteBody === defaultOptions.site || site === defaultOptions.site)) {
        // console.log('这是允许赋值详情页和外边的')
        // 参数true为可以为详情赋值
        normalSite(true)
      } else if (siteBody === site && (siteBody !== defaultOptions.site || site !== defaultOptions.site)) {
        // console.log('这是不允许赋值详情页的')
        unnormalSite(false)
      }
      lprStatusAndColorFn(site)
      lpnWarning()
      // 新车清掉对应的数据
      if (!msg.body.task && msg.body.newVehicle) {
        this.isNewVehicleClearPage({initPageObj, site: site})
      }
      whiteListCar()
    },
    isNewVehicleClearPage ({initPageObj, site}) {
      if (this.detailsModalData.flag && this.pageUseParam.defaultOptions.site === site) {
        this.inputItem.forEach(ele => {
          ele.models = ''
        })
      }
      this.pageUseParam.saveInitPlantNum = ''
      if (site === 'ICOA') {
        this.pageUseParam.entryVehicleStatus = 'none'
      } else if (site === 'OCOA') {
        this.pageUseParam.exitVehicleStatus = 'none'
      }
      this.$set(initPageObj, 'lprPhotoPath', '')
      this.$set(initPageObj, 'lprStatus', 'ipcWell')
      this.$set(initPageObj, 'vehicleStatus', '')
      this.$set(initPageObj, 'licensePlateNumber', '')
      let {status, color} = this.lprStatusAndColorKey(site)
      this.audioFlag[status] = true
      this.audioFlag[color] = true
      let flag = this.audioStopFlag()
      if (flag) {
        this.toggleWarningAudio(false)
      }
    },
    changeDeviceStatus (msg, site) {
      let updateDevice = ''
      if (site === 'ICOA') {
        updateDevice = 'deviceMsgEntry'
      } else {
        updateDevice = 'deviceMsgExit'
      }
      if (msg.body.status === 'localModeExit') {
        // 控制本地远程
        this[updateDevice].localRemote = msg.body.OBox_WorkMode_Exit
      }
      // 档杆
      if (msg.device === 'BARRIER_1') {
        let device = ['powerOff', 'opened', 'closed', 'armDetached']
        // 控制显示设备状态
        if (device.includes(msg.body.status)) {
          this[updateDevice].device.BARRIER_1.status = msg.body.status
        }
      } else {
        // 交通灯
        let device = ['powerOff', 'greenLight', 'redLight']
        // 控制显示设备状态
        if (device.includes(msg.body.status)) {
          this[updateDevice].device.TRAFFICLIGHT_1.status = msg.body.status
        }
      }
    },
    webSocketCommandTopic ({msg, index, key, site}) { // 边框推送
      if (site === 'ICOA') {
        if (msg.command === 'yellow' || msg.command === 'red') {
          this.audioFlag.entryColor = false
        } else if (msg.command === 'green') {
          this.audioFlag.entryColor = true
        } else if (msg.command === 'E250801') {
          this.dataErrorPrompt(msg.command)
        }
      }
      if (site === 'OCOA') {
        if (msg.command === 'yellow' || msg.command === 'red') {
          this.audioFlag.exitColor = false
        } else if (msg.command === 'green') {
          this.audioFlag.exitColor = true
        } else if (msg.command === 'E250801') {
          this.dataErrorPrompt(msg.command)
        }
      }
      let initPageObj
      if (key.includes(localStorage.checkOutSite.split(',')[0])) {
        initPageObj = this.initPage.entry[index]
      } else if (key.includes(localStorage.checkOutSite.split(',')[1])) {
        initPageObj = this.initPage.exit[index]
      }
      let colorArr = ['red', 'green', 'yellow']
      if (colorArr.includes(msg.command)) {
        if ((msg.command === 'green' || !msg.command) && initPageObj.lprStatus === 'ipcWell') {
          let flag = this.audioStopFlag()
          if (flag) {
            this.toggleWarningAudio(false)
          }
          // this.toggleWarningAudio(false)
        } else {
          if (msg.command === 'yellow' || msg.command === 'red') {
            if (this.audioTimeout) {
              clearTimeout(this.audioTimeout)
            }
            this.toggleWarningAudio(true)
            this.sleepCloseAudio()
          }
        }
        if (site === 'ICOA') {
          this.pageUseParam.entryVehicleStatus = msg.command
        } else if (site === 'OCOA') {
          this.pageUseParam.exitVehicleStatus = msg.command
        }
        initPageObj.vehicleStatus = msg.command
        // this.$set(initPageObj, 'lprStatus', msg.body.status)
      }
    },
    showModal ({item, index, position}) { // 弹出页面弹窗详情
      this.tabActiveName = 'first'
      this.detailsModalData.flag = true
      this.vehiclePosition.vehicleIndex = index
      this.vehiclePosition.position = position
      this.detailsModalData.title = `${this.$t(`ViBorder.CHECKOUT.${position}`, {No: item.laneNumber})}`
      if (position === 'entry') {
        this.pageUseParam.defaultOptions = {site: localStorage.checkOutSite.split(',')[0], laneNumber: item.laneNumber}
      } else {
        this.pageUseParam.defaultOptions = {site: localStorage.checkOutSite.split(',')[1], laneNumber: item.laneNumber}
      }
      this.inputItem.forEach(ele => {
        ele.models = item[ele.ruleProp]
      })
      setTimeout(function () {
        let inputelement = document.getElementsByClassName('el-input__inner')
        if (inputelement && inputelement[0]) {
          inputelement[0].focus()
        }
      }, 20)
      this.inputItem[0].blur = this.modifyLpn
      this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: false }}
      this.initDataDetails(this.pageUseParam.defaultOptions, '', {index: '', key: '', site: ''}, true)
    },
    /*
    * 详情弹窗数据
    */
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, initConfirmData.confirm()).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            message: this.$t('ViBorder.common.successfuly'),
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    reset () {
      this.inputItem.forEach(ele => {
        if (ele.ruleProp !== 'licensePlateNumber') {
          ele.models = ''
        }
      })
      this.detailsInitData.singleImgInfo = {}
      this.hasAsycuda = false
      this.detailsInitData.pageImg = []
      this.detailsInitData.showJointInspecte = false
    },
    isReleaseCondition (data = {}) { // 当前车辆是否为符合自动放行车辆条件
      if (data.whiteList) {
        this.releaseOfficialCarTips({initPageObjInfo: '', siteInfo: ''})
      } else if (data.release) { // 允许放行
        this.inputItem = this.pageUseParam.allowRelease
        if (data.nextStep) { // 存在下一环节
          if (data.vehicleId) {
            this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: false }}
          } else {
            this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: true }}
          }
        } else {
          this.queryFn = {hasBtn: true, isBackBtn: true, formMethod: this.close, backText: this.$t('ViBorder.common.close')}
        }
      } else { // 不允许放行
        if (data.release === false || !data.release) {
          this.inputItem = this.pageUseParam.allowRelease
        } else {
          this.inputItem = this.pageUseParam.notAllowRelease
        }
        if (data.nextStep && data.vehicleId) { // 存在下一环节并且vehicleId不为空
          this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: true }}
        } else {
          this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: true }}
        }
        if (!data.vehicleId) {
          this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: false }}
        }
      }
      if (data.nextStep) { // 下一环节不为空 显示手动放行
        // 车辆类型是 入境超限（巴士） 禁止手动放行
        if (data.vehicleType && (data.vehicleType.value === 'OVERLIMITTRUCK' && data.direction === 'IMPORT')) {
          this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: true }}
        }
        // 入境巴士禁止手动放行
        if (data.vehicleType && (data.vehicleType.value === 'BUS' && data.direction === 'IMPORT')) {
          this.queryFn = {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: true }}
        }
      }
    },
    showScanFiles (result) { // 显示扫描文件
      this.detailsInitData.pageImg = []
      this.detailsInitData.viewerStyle.titleIndex = 0
      for (const key in result.vehicleScannedDoc) {
        let value = result.vehicleScannedDoc[key]
        if (!value.docImgPath) {
          return false
        }
        this.detailsInitData.viewerStyle.isTitle = true
        this.detailsInitData.pageImg.push({
          title: this.$t(value.docTypeI18n.key),
          url: value.docImgPath.split(',').map(e => {
            return `${this.pageUseParam.fileServerUrl}${this.pageUseParam.manifestFolder}${e}`
          })
        })
      }
    },
    redisplayData (result = {}, cb) { // 弹窗详情处理和获取lpn之后的处理
      let {licensePlateNumber} = this.formRule.model
      if (Object.keys(result).length) {
        this.pageUseParam.vehicleId = result.vehicleId
        let {jointConfirm} = result
        this.conclusionList = jointConfirm ? this.$otherHoverData(jointConfirm) : []
        this.detailsInitData.showJointInspecte = jointConfirm && Object.values(jointConfirm).some(t => t.length > 0)
        this.pageUseParam.saveInitPlantNum = result.licensePlateNumber || licensePlateNumber
        result.arrivalTime = (result.arrivalTime || this.pageUseParam.saveInitTime) && this.$formatDateTime(result.arrivalTime || this.pageUseParam.saveInitTime, this.$t('ViBorder.common.formatDate'))
        this.pageUseParam.saveImcTime = (result.arrivalTime || this.pageUseParam.saveInitTime) && this.$formatDateTime(result.arrivalTime || this.pageUseParam.saveInitTime, this.$t('ViBorder.common.formatDate'))
        result.checkInTime = result.checkInTime && this.$formatDateTime(result.checkInTime, this.$t('ViBorder.common.formatDate'))
        this.inputItem.forEach(ele => { // tableform赋值
          for (const val in result) {
            if (ele.ruleProp === val) {
              ele.models = result[val]
            }
            if (val === 'release' && ele.ruleProp === val) {
              ele.models = result[val] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
            }
            if ((val === 'nextStep' || val === 'vehicleType' || val === 'conclusionType') && ele.ruleProp === val) {
              ele.models = result[val] && this.$t(result[val].key)
            }
          }
        })
        // 不判断进出口 只判断是空车和bus
        if (result.vehicleType && (result.vehicleType.value === 'BUS' || result.vehicleType.value === 'EMPTYTRUCK')) {
          this.hasAsycuda = false
        } else {
          this.hasAsycuda = true
        }
        this.detailsInitData.singleImgInfo = { // 右侧单图像查看组件赋值
          left: result.vehicleLpr ? result.vehicleLpr.result : '',
          src: result.vehicleLpr ? `${this.pageUseParam.fileServerUrl}${this.pageUseParam.lprFolder}${result.vehicleLpr.photoPath}` : '',
          right: result.vehicleLpr ? this.$formatDateTime(result.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')) : ''
        }
        if (result.vehicleScannedDoc && Object.keys(result.vehicleScannedDoc).length) {
          this.showScanFiles(result)
        } else {
          this.detailsInitData.pageImg = []
        }
      } else {
        this.reset()
      }
      cb && cb()
    },
    initDataDetails (options, cb, {index, key, site}, bool) {
      // console.log('我是大弹窗的详情页数据啊', options)
      handleData._initDataDetails(options).then(res => {
        if (res.data.flag) {
          this.$refs.modalTableForm && this.$refs.modalTableForm.reset()
          if (Object.keys(res.data.result).length === 0) {
            res.data.result.checkOut = {}
          }
          let {checkOut} = res.data.result
          if (checkOut) {
            this.pageUseParam.saveInitTime = checkOut.arrivalTime
            this.isReleaseCondition(checkOut) // 確定彈出詳情頁面的左側按鈕應該為打印還是手動放行
            bool && this.redisplayData(checkOut, cb)
            index === 0 && key && site && this.webSocketCommandTopic({msg: {command: checkOut.vehicleStatus}, index, key, site})
          } else {
            this.detailsInitData.singleImgInfo = {}
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    modifyLpn () { // 修改车牌号
      let {licensePlateNumber} = this.formRule.model
      if ((licensePlateNumber && (this.pageUseParam.saveInitPlantNum !== licensePlateNumber))) {
        this.reset()
        handleData._getByLpn({...{licensePlateNumber}, ...this.pageUseParam.defaultOptions}).then(res => {
          if (res.data.flag) {
            if (Object.keys(res.data.result).length === 0) {
              res.data.result.checkOut = {}
            }
            let {checkOut} = res.data.result
            if (checkOut) {
              this.isReleaseCondition(checkOut)
              this.redisplayData(checkOut)
            }
          } else {
            // res.data.errorCode && this.dataErrorPrompt(res.data.errorCode)
            this.queryFn = res.data.errorCode && {...this.clearQueryFn, ...{ queryText: this.$t('ViBorder.CHECKOUT.manualRelease'), query: this.manualRelease, queryDisabled: false }}
            this.pageUseParam.vehicleId = res.data.errorCode ? '' : this.pageUseParam.vehicleId
          }
          this.pageUseParam.saveInitPlantNum = licensePlateNumber
        }).catch(err => {
          console.log('err', err)
        })
      }
    },
    sendSiteLaneNumber () {
      let options = this.pageUseParam.defaultOptions
      let callBack = () => {
        handleData._manualUpBarrier(options).then(res => {
          if (res.data.flag) {
            return true
          } else {
            return false
          }
        }).catch(err => {
          console.log('err', err)
        })
      }
      this.confirmModal({
        tips: this.$t('ViBorder.CHECKOUT.isOpenBarrer'),
        scb: callBack
      })
    },
    /*
    * 详情弹窗下方操作按钮
    */
    manualRelease () {
      let {licensePlateNumber} = this.formRule.model
      let {position, vehicleIndex} = this.vehiclePosition
      let scb = () => {
        let options = {...this.pageUseParam.defaultOptions, ...{vehicleId: this.pageUseParam.vehicleId}, ...{licensePlateNumber: licensePlateNumber}}
        // console.log('我是手动放行呀 开始发送执行命令啦', options)
        handleData._manualRelease(options).then(res => {
          if (res.data.flag) {
            if (Object.keys(res.data.result).length === 0) {
              res.data.result.checkOut = {}
            }
            this.pageUseParam.saveInitPlantNum = ''
            let {checkOut} = res.data.result
            if (checkOut) {
              this.$notify({
                title: this.$t('ViBorder.common.successfuly'),
                message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
                type: 'success',
                offset: this.notifyOffset
              })
              // 清空车牌
              if (!checkOut.licensePlateNumber) {
                this.inputItem[0].models = ''
              }
              this.reset()
              this.queryFn = {hasBtn: true, isBackBtn: true, formMethod: this.close, backText: this.$t('ViBorder.common.close')}
              this.redisplayData(checkOut)
              if (!checkOut.vehicleStatus) {
                if (position === 'exit') {
                  this.pageUseParam.exitVehicleStatus = 'none'
                  this.audioFlag.exitLprStatus = true
                  this.audioFlag.exitColor = true
                } else {
                  this.audioFlag.entryLprStatus = true
                  this.audioFlag.entryColor = true
                  this.pageUseParam.entryVehicleStatus = 'none'
                }
                // 关闭音频
                let flag = this.audioStopFlag()
                if (flag) {
                  this.toggleWarningAudio(false)
                }
              } else {
                if (position === 'exit') {
                  this.pageUseParam.exitVehicleStatus = checkOut.vehicleStatus
                } else {
                  this.pageUseParam.entryVehicleStatus = checkOut.vehicleStatus
                }
              }
              let vehicleLprPath = checkOut.vehicleLpr && checkOut.vehicleLpr.photoPath
              // 替换掉主页的车牌信息
              if (position === 'exit') {
                vehicleLprPath ? this.$set(this.initPage.exit[vehicleIndex], 'lprPhotoPath', `${this.pageUseParam.fileServerUrl}${this.pageUseParam.lprFolder}${vehicleLprPath}`) : this.$set(this.initPage.exit[vehicleIndex], 'lprPhotoPath', ``)
              } else {
                vehicleLprPath ? this.$set(this.initPage.entry[vehicleIndex], 'lprPhotoPath', `${this.pageUseParam.fileServerUrl}${this.pageUseParam.lprFolder}${vehicleLprPath}`) : this.$set(this.initPage.entry[vehicleIndex], 'lprPhotoPath', ``)
              }
            }
          }
        }).catch(err => {
          console.log('err', err)
        })
      }
      let param = {
        tips: this.$t('ViBorder.CHECKOUT.isRelease'),
        scb
      }
      this.confirmModal(param)
    },
    close () {
      this.detailsModalData.flag = false
      this.detailsInitData.pageImg = []
      this.pageUseParam.saveInitPlantNum = ''
      // this.reset()
    }
  },
  components: {DeviceStatus}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#check-out {
  width: $all;
  height: $all;
  padding: $margin;
  @include box-sizing();
  .content-box {
    height: $all;
    @include flex();
    .content-display-box {
      box-shadow: 2px 2px 8px 6px $gray;
      width: $all / 2;
      height: $all;
      &:first-child {
        margin-right: $dis10;
      }
      .title {
        font-size: 24px;
        color: #fff;
        text-align: left;
        padding: $dis10;
        background: linear-gradient(to bottom,#4169E1,#1C86EE);
      }
      .img-list-box {
        width: $all;
        height: calc(100% - 48px);
        position: relative;
        @include box-sizing();
        @include flex();
        flex-wrap: wrap;
        padding: $dis10;
        // .alarmInfo-yellow {
        //   box-shadow: 2px 2px 8px 6px rgba(255, 217, 0, 0.884)
        // }
        // .alarmInfo-green {
        //   box-shadow: 2px 2px 8px 6px rgba(9, 255, 0, 0.801)
        // }
        // .alarmInfo-red {
        //   box-shadow: 2px 2px 8px 6px rgba(255, 0, 0, 0.863)
        // }
        .box-shadow-glow {
          position: relative;
          width: calc(100% - 12px);
          height: $all;
          z-index: 2;
          @include flex();
        }
        .vehicle-box {
          width: $all;
          max-height: $all;
          @include flex();
          flex-wrap: wrap;
          background-color: rgba(189, 210, 253, 1);
        }
        .title-tip {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 4;
          background: linear-gradient(to bottom,#4169E1,#1C86EE);
          border-radius: 8px;
          padding: 4px;
          color: #fff;
        }
        .white-bg {
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          @include flex();
          position: absolute;
          left: 6px;
          top: 6px;
          z-index: 2;
          background: #fff;
        }
        .modal-box {
           width: calc(100% - 12px);
          height: calc(100% - 12px);
          @include flex();
          position: absolute;
          left: 6px;
          top: 6px;
          z-index: 3;
          background: rgba(189,210,253,0.5);
          cursor: pointer;
          .modal-box-error {
            width: 20%;
            height: 20%;
          }
        }
        img {
          cursor: pointer;
        }
        .display-vehicle1 {
          width: 80%;
          height: 80%;
          position: relative;
          @include box-sizing();
          @include flex();
        }
        .device-status-box {
          width: 79%;
          height: 20%;
          border: 1px solid #ccc;
          #device-status {
            width: $all;
            margin: 0;
          }
        }
        .display-vehicle2, .display-vehicle3, .display-vehicle4 {
          position: relative;
          width: calc(50% - 8px);
          height: calc(50% - 8px);
          @include box-sizing();
          @include flex();
          margin: 4px;
        }
        .alarmInfo-yellow {
          background: url('../../assets/img/checkOut/yellow.gif');
        }
        .alarmInfo-green {
          // background: url('../../assets/img/checkOut/green.gif');
          background-color: #3cc51f;
        }
        .alarmInfo-red {
          background: url('../../assets/img/checkOut/red.gif');
        }
      }
    }
    #dialog {
      .el-form {
        .el-form-item {
          .el-form-item__error {
            display: none;
          }
        }
      }
    }
  }
  .el-dialog {
    margin-top: 8vh !important;
    width: 98% !important;
    height: 85% !important;
    .el-dialog__body {
      padding: 10px 20px;
      height: calc(100% - 85px);
    }
  }
  #check-out-detail {
    width: $all;
    height: $all;
    @include box-sizing();
    @include flex();
    .container-box {
      width: $all;
      height: $all;
      @include flex(row, flex-start, center);
      @include box-sizing();
      .display-info {
        .barrer {
          width: $all;
          // text-align: right;
          @include flex(row, space-between, center);
          padding:0 $margin;
          @include box-sizing();
          span {
            font-size: 20px
          }
          .iconfont {
            font-size: $headerTitle;
            cursor: pointer;
          }
        }
        @include box-sizing();
        padding: 25px $dis10;
        width: $all / 2;
        height: $all;
        @include flex(column, flex-start, center);
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
        margin-right: $dis10;
        .title {
          width: $all;
          text-align: left;
          padding: 0 0 10px 10px;
          font-size: 26px;
          color: $asideHoverbg;
          font-weight: bold;
          @include box-sizing();
        }
        .form-table {
          width: $all;
          height: $all;
          .tableForm {
            .el-form {
              border: 1px solid #ddd;
            }
          }
        }
      }
      .el-tabs--border-card {
        width: $all / 2;
        height: $all;
        border-radius: 4px;
        @include box-sizing();
        border: 1px solid #ccc;
        .el-tabs__content {
          @include box-sizing();
          height: calc(100% - 34px);
          .el-tab-pane {
            height: $all;
            .single-img {
              height: $all;
              @include flex(row, center, center);
              color: #ccc;
            }
          }
        }
      }
    }
  }
}
</style>
