<template>
  <div id="tc-bar" v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="tc-M">
      <!-- <div class="infolist tc-top tc-lpn">
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
      </div> -->
      <!-- 表格内容 -->
      <div class="infolist list-height">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar">
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
    </div>
    <div class="fix-box">
      <div class="fix-tab" ref="toggleTab">
        <el-tooltip class="item" effect="dark" :content="$t('ViBorder.businessLogicCommon.historicalTaskList')" placement="left">
          <div class="fix-tab-title" @click="toggleAsideTab">
            <span class="tab-text">{{$t('ViBorder.businessLogicCommon.historicalTaskList')}}</span>
            <i class="iconfont" :style="{transform: asideTab.rotateDeg}">&#xe623;</i>
          </div>
        </el-tooltip>
        <div ref="toggleTabContanier" class="fix-tab-container">
          <div class="up-down-container">
            <div class="up-down-infolist">
              <div class="up-down-panel">
                <panelTitle :panelTitleInit="asideModalTitle.queryTitle"></panelTitle>
                <ComForm :searchIpt="asideModalItem" :searchFunc="asideModalFn" :formRule='asideModalRule'></ComForm>
              </div>
              <div class="up-down-panel panel-bottom">
                <panelTitle :panelTitleInit="asideModalTitle.listTitle">
                  <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
                </panelTitle>
                <ComTable :tableData='asideTabContainer' :tableGroup='asideTableGroup'></ComTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/TC/index.js'
import {formatDateTime} from '../../lib/index.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import {connect, disconnect} from '../../components/common/ws.js'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
export default {
  name: 'tc-page',
  data () {
    return {
      loading: false,
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      pageSizeNum: ``, // 当前页单页显示数据数
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      tableSize: '',
      sideTableSize: '',
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.listQuery,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
        },
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        MaxHeight: '780',
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.confirmRelease,
          label: `<span class='editTable'><i class="iconfont">&#xe605;</i></span>`,
          title: this.$t('ViBorder.common.confirm'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          model: 'licensePlateNumberBack',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '130'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.length'),
          type: 'text',
          width: '80',
          model: 'vehicleLength'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.width'),
          type: 'text',
          width: '90',
          model: 'vehicleWidth'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.height'),
          type: 'text',
          width: '90',
          model: 'vehicleHeight'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.totalWeight'),
          type: 'text',
          width: '110',
          model: 'vehicleWeight'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          width: '180',
          model: 'conclusionType'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          width: '110',
          model: 'operationUserName'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureBeginTime'),
          type: 'text',
          width: '220',
          model: 'enterTunnelTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureEndTime'),
          type: 'text',
          width: '220',
          model: 'leftTunnelTime'
        },
        {
          label: this.$t('ViBorder.TC.vehicleIdentificationPicture'),
          type: 'imgPopper',
          popoverWidth: '400px',
          popoverHeight: '400px',
          width: '290',
          // lpnPath: '', // 存放图片地址
          model: 'lprPhotoPath'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right',
          width: '110'
        }
      ],
      /**
       * ************************侧拉框的数据信息*******************
       */
      asideTab: { // 侧栏数据
        display: false,
        rotateDeg: ''
      },
      asideModalTitle: { // 模态框数据标题
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      asideModalItem: [ // 侧拉框文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          isThree: true,
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'measureTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.IC.inspection'),
              value: 'current'
            },
            {
              label: this.$t('ViBorder.IC.history'),
              value: 'history'
            }
          ],
          ruleProp: 'vehicleState',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          ruleProp: 'normalEnd',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          clearable: true
        }
      ],
      asideModalFn: { // 弹窗表单确定方法
        query: this.asideModalSure,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      asideModalRule: { // 弹窗表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
          measureTime: [
            {validator: (rule, value, callback) => {
              this.$customValidateTimeRange(rule, value, callback)
            },
            trigger: 'change'}
          ]
        },
        model: {}
      },
      sidePageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      sideOperation: [ // 表格操作
        {
          func: this.viewDetail,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      asideTableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessType',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureBeginTime'),
          type: 'text',
          model: 'enterTunnelTime',
          width: '220',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureEndTime'),
          type: 'text',
          model: 'leftTunnelTime',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoRecognition'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '450'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correction'),
          type: 'text',
          model: 'licensePlateNumberAmend',
          width: '350'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          model: 'fourthConclusion',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'text',
          model: 'vehicleState',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureHeight'),
          type: 'text',
          model: 'vehicleHeight',
          width: '300'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionHeight'),
          type: 'text',
          model: 'vehicleHeightAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureWidth'),
          type: 'text',
          model: 'vehicleWidth',
          width: '300'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionWidth'),
          type: 'text',
          model: 'vehicleWidthAmend',
          width: '300'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureLength'),
          type: 'text',
          model: 'vehicleLength',
          width: '300'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionLength'),
          type: 'text',
          model: 'vehicleLengthAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureWeight'),
          type: 'text',
          model: 'total',
          width: '300'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionTotal'),
          type: 'text',
          model: 'totalAmend',
          width: '240'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          width: '180'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          width: '180',
          model: 'fourthOperator'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.submitConclusionTime'),
          type: 'text',
          width: '220',
          model: 'fourthTime'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right',
          width: '110'
        }
      ],
      asideTabContainer: { // 侧栏表格
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '570',
        refName: 'multipleTable',
        sortMethod: this.asideGetSortTable // 新增排序方法
      },
      pageUseParam: {
        CurrentChageFlag: false, // 分页切换标志位
        defaultOptions: ``, // 默认参数
        pageSizeNum: ``, // 当前页单页显示数据数
        fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}`,
        lprFolder: window.config.fileFolder.lprFolder,
        manifestFolder: `${window.config.fileFolder.manifestFolder}`,
        vehicleId: ``,
        TCClient: ``,
        saveInitPlantNum: ``,
        saveInitTime: ``,
        notAllowRelease: ``,
        allowRelease: ``,
        saveImcTime: ``
      },
      pageSortParm: {},
      asideSortParm: {}
    }
  },
  created () {
    Promise.all([this.getDropDownList(), this.listQuery()])
    this.connectWebSocket()
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
    // 页面加载时按下tab键不激活日期组件
    var key = document.getElementsByClassName('fix-box')[0].getElementsByClassName('el-range-input')
    for (var i = 0; i < key.length; i++) {
      key[i].setAttribute('tabindex', -1)
    }
  },
  destroyed () {
    this.pageUseParam.TCClient && disconnect({client: this.pageUseParam.TCClient}) // socket断开连接
    this.toggleGloableModal(false)
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    windowResize () { // 用于页面改变时（大屏或小屏）更改dialog弹窗数据列表的MaxHeight
      let clientWidth = document.body.clientWidth
      if (this.$refs.toggleTabContanier) {
        if (clientWidth < 1640) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
          this.$data.asideTabContainer.MaxHeight = 280
          // this.$data.tableData.MaxHeight = 160
        } else {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
          this.$data.asideTabContainer.MaxHeight = 570
          // this.$data.tableData.MaxHeight = 780
        }
      }
    },
    getQueryParam (val) {
      let {model} = val
      let time = {}
      let b = {}
      let tStr = [
        {
          key: 'checkinTime',
          timeKey: ['startTime', 'endTime']
        },
        {
          key: 'measureTime',
          timeKey: ['measureStartTime', 'measureEndTime']
        }
      ]
      tStr.forEach(e => {
        if (model[e.key]) {
          if (!model[e.key][1].includes('999')) {
            model[e.key][1] = `${model[e.key][1]}.999`
          }
          time = Object.assign(time, {
            [e.timeKey[0]]: new Date(model[e.key][0]).getTime(),
            [e.timeKey[1]]: new Date(model[e.key][1]).getTime()
          })
        }
      })
      for (const key in model) {
        const element = model[key]
        if (key !== 'checkinTime' && key !== 'measureTime') {
          Object.assign(b, {[key]: element})
        }
      }
      let param = Object.assign({}, { ...time, ...b })
      return this.$filterNullFields(param)
    },
    // *********************************** 页面逻辑 *****************************************
    getDropDownList () {
      handleData._getDropDownlist().then(res => {
        const {flag, result} = res.data
        if (flag) {
          let arr = result.conclusionType.map(ele => {
            return {
              label: this.$t(ele.key),
              value: ele.value
            }
          })
          this.inputItem.forEach(item => {
            if (item.ruleProp === 'conclusionType') {
              item.option = arr.filter(item => {
                return item.value === 'NOPASS' || item.value === 'MANUALMEASURE'
              })
            }
          })
          this.asideModalItem.forEach(item => {
            if (item.ruleProp === 'conclusionType') {
              item.option = arr
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.pageUseParam.TCClient = Stomp.over(socket)
      let path = `/topic/commandTopic_${localStorage.tcSite}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        this.listQuery()
      }
      connect({client: this.pageUseParam.TCClient, path, scb, header: 'TRAFFICCONFIRM', reconCallBack: this.connectWebSocket})
    },
    getSideTableData (options) { // 侧拉获取表格初始数据 模拟请求回来的数据
      handleData._listTrafficConfirmHis(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话加分页
            this.asideTabContainer.isPage = true
          } else {
            this.asideTabContainer.isPage = false
          }
          this.asideTabContainer.page = {
            // CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.sideHandleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.sideHandleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.asideModalRule.model.size = res.data.result.size
          // this.asideModalRule.model.CurrentPage = res.data.result.number
          this.sidePageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.asideTabContainer.data = this.unifiedFormData(res.data.result.content, 'side')
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableData (options) { // 获取主页表格初始数据 模拟请求回来的数据
      handleData._listWaitTrafficConfirm(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option, side) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          if (side === 'side') {
            element.operation = this.sideOperation
          } else {
            element.operation = this.operation
          }
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'enterTunnelTime':case 'leftTunnelTime':case 'checkInTime':case 'fourthTime':
                  element[oKey] = element[oKey] && formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate'))
                  // 分页查询时间格式化
                  break
                case 'fourthConclusion':case 'conclusionType':
                  element[oKey] = element[oKey] && this.$t(element[oKey].key || element[oKey])
                  break
                case 'vehicleState':case 'businessType':
                  element[oKey] = element[oKey] && this.$t(element[oKey])
                  break
                case 'lprPhotoPath':
                  element[oKey] = element.lprPhotoPath && `${this.lprFolder}${element.lprPhotoPath}`
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    confirmRelease (selection) { // 主页放行确认的操作按钮
      let index = selection.$index
      sessionStorage.setItem('vehicleMeasureId', this.tableData.data[index].id || '')
      sessionStorage.setItem('vehicleId', this.tableData.data[index].vehicleId || '')
      handleData._isAllowOpen({vehicleId: this.tableData.data[index].vehicleId}).then(res => {
        const {flag, errorCode} = res.data
        if (flag) {
          this.$router.push({
            path: '/tc/tcOperation'
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    viewDetail (selection) { // 侧拉框的option方法
      const index = selection.$index
      sessionStorage.setItem('vehicleId', this.asideTabContainer.data[index].vehicleId)
      this.asideTab.display = false
      this.$router.push({
        path: '/tc/tcDetail'
      })
    },
    listQuery () { // 主页表单查询方法
      this.pageOptions.currentChageFlag = true
      setTimeout(() => {
        let param = this.getQueryParam(this.formRule)
        const handlesize = {...param, ...{size: this.tableSize || 10, page: 0}, ...this.pageSortParm}
        this.getTableData(handlesize)
      }, 10)
    },
    asideModalSure () { // 侧拉框表单查询方法
      this.sidePageOptions.currentChageFlag = true
      setTimeout(() => {
        let sort = this.getQueryParam(this.asideModalRule)
        const param = {...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...sort, ...this.asideSortParm}
        this.getSideTableData(param)
      }, 10)
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'enterTunnelTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'enterTunnelTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.pageSortParm = sort
        let param = this.getQueryParam(this.formRule)
        const handlesize = {...{size: this.tableSize || 10, page: 0}, ...sort, ...param}
        this.getTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.tableSize = val
      this.pageOptions.currentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.pageSortParm}
      this.getTableData(handlesize)
    },
    sideHandleSizeChange (val) { // 侧拉页主页分页条数改变触发该函数
      this.sidePageOptions.currentChageFlag = true
      this.pageUseParam.pageSizeFlag = val
      // let handlesize = this.getQueryParam({...{size: val, page: 0}})
      let handlesize = this.getQueryParam(this.asideModalRule)
      let param = {...handlesize, ...this.asideSortParm, ...{page: 0, size: val}}
      this.getSideTableData(param)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        let param = this.getQueryParam(this.formRule)
        const pagesize = this.tableData.page.pagesize
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.pageSortParm}
        this.getTableData(handlesize)
      }
    },
    sideHandleCurrentChange (val) { // 侧拉页当前页码改变触发改函数
      if (!this.sidePageOptions.currentChageFlag) {
        const pagesize = this.asideTabContainer.page.pagesize
        let handlesize = this.getQueryParam(this.asideModalRule)
        let param = {...{page: parseInt(val - 1), size: pagesize}, ...handlesize, ...this.asideSortParm}
        this.getSideTableData(param)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    toggleAsideTab () {
      // 切换侧栏tab
      this.asideTab.display = !this.asideTab.display
      // 宽度慢慢展现
      if (document.body.clientWidth < 1640) {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
      } else {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
      }
      // this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0'
      // 隐藏掉边框
      this.$refs.toggleTab.style.right = this.asideTab.display ? '0' : '0'
      // 三角号旋转
      this.asideTab.rotateDeg = this.asideTab.display ? 'rotate(-90deg)' : 'rotate(90deg)'
      // 获取列表数据
      if (this.asideTab.display) {
        this.toggleGloableModal(true)
        this.asideModalSure() // 初始化表格
      } else {
        this.toggleGloableModal(false)
      }
    },
    asideGetSortTable (column, prop, order) { // 根据时间排序
      if (this.asideTabContainer.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'enterTunnelTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'enterTunnelTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.asideSortParm = sort
        let param = this.getQueryParam(this.asideModalRule)
        const handlesize = {...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...sort, ...param}
        this.getSideTableData(handlesize)
      }
    },
    getDownloadOptions () {
      return {...this.getQueryParam(this.asideModalRule), ...initDownloadOptions({ exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4', titleKey: this.$t(this.$route.matched[0].meta.title), tableGroup: this.asideTableGroup })}
    },
    exportExcle () {
      if (this.asideTabContainer.data.length === 0) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
      } else {
        this.loading = true
        handleData._exportExcel(this.getDownloadOptions()).then(res => {
          this.$createBlobUrl(res.data, res.headers['content-type'], this.$t(this.$route.matched[0].meta.title))
        }).catch(err => {
          console.log('err', err)
        }).finally(() => {
          this.loading = false
        })
      }
    }
  },
  watch: {
    'asideTab.display': {
      handler (newName, oldName) {
        if (document.getElementsByClassName('fix-box')[0]) {
          var key = document.getElementsByClassName('fix-box')[0].getElementsByClassName('el-range-input')
          var all = document.getElementsByClassName('el-range-input')
          if (newName) {
            for (let i = 0; i < all.length; i++) {
              all[i].setAttribute('tabindex', -1)
            }
            // 历史在检列表显示时按下tab键可以激活日期组件
            for (let i = 0; i < key.length; i++) {
              key[i].setAttribute('tabindex', i + 1)
            }
          } else {
            for (let i = 0; i < all.length; i++) {
              all[i].setAttribute('tabindex', i + 1)
            }
            // 历史在检列表隐藏时按下tab键不激活日期组件
            for (let i = 0; i < key.length; i++) {
              key[i].setAttribute('tabindex', -1)
            }
          }
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.el-popover {
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      // .dc-checkimg {
      //   width: 100%;
      //   position: relative!important;
      // }
    }
  }
}
#tc-bar {
  @extend .extend-bar;
  .tc-M {
    padding: $margin;
    box-sizing: border-box;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
          display: flex!important;
          flex-direction: column;
          .search-form-item {
            align-self: flex-start;
            .search-form-input {
              z-index: 4;
            }
          }
          .search-form-btn {
            padding-top: 23px;
          }
          // .el-form-item__content {
          //   padding-top: 19px;
          // }
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
        width: 25%;
        @media screen and (max-width: 1640px) {
          width: 100%;
        }
      }
      .panel-L {
        @extend .extend-panel-L;
        width: 100%;
        // .tableComp {
        //   @media screen and (max-width: 1640px) {
        //     height: 220px;
        //   }
        // }
        .iconfont {
          // font-size: 25px;
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
      height: $all;
    }
    // .list-height {
    //   height: 100%;
    //   @media screen and (max-width: 1640px) {
    //     height: 200px;
    //   }
    // }
    .tc-top {
      height: auto;
      .panel {
        width: 100%;
      }
      .el-form-item {
        width: 48% !important;
        float: left;
      }
      .search-form-btn {
        display: none;
      }
    }
    .tc-lpn {
      .search-form-btn {
        display: block;
        .el-form-item__content {
          text-align: center!important;
        }
      }
    }
  }
  .fix-box {
    position: fixed;
    z-index: 25;
    right: -217px;
    top: calc(50% - 120px);
    .fix-tab {
      @include flex();
      height: 240px;
      .fix-tab-title {
        left: -96px;
        width: 280px;
        height: 40px;
        position: relative;
        cursor: pointer;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        background:rgba(44, 166, 204, 0.8);
        @include flex();
        transform: rotate(-90deg);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .iconfont {
          transform: rotate(90deg);
          margin-left: 10px;
        }
        .tab-text {
          display: inline-block;
          max-width: 246px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .fix-tab-container {
        background: $white;
        border: 1px solid #ccc;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
        position: relative;
        overflow: hidden;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -o-transition: width 0.6s;
        transition: width 0.6s;
        width: 0;
        right: 217px;
        height: 1036px;
        @media screen and (max-width: 1640px) {
          height: 610px;
        }
        border-radius: 6px;
        .up-down-container {
          .iconfont {
            margin: 0 $margin;
            color: $primary;
            cursor: pointer;
          }
          padding: 10px;
          .tableComp {
            @extend .extend-table-tr-th-style;
            // height: 640px;
          }
        }
      }
    }
  }
  .table-bar {
    width: $all;
    @media screen and (min-width: 1640px) {
      height: $all;
      overflow: hidden;
    }
  }
}
</style>
