<template>
  <div id="tc-detail" v-bar>
    <div class="tc-M">
      <div class="table-info">
        <!-- 基础信息栏目开始 -->
      <div class="panel" >
        <panelTitle :panelTitleInit="panelTitle.queryTitleTop"></panelTitle>
        <div class="left-bar" v-bar>
          <div>
            <div class="print-table-on-page" v-if="isMaunalMeasure">
              <printTable :turnOnPrinting="false" :tableTitle="$t('ViBorder.businessLogicCommon.manualMeasurement')" :tableDefaultData="printTableData" :isReadOnly="true" :lpnFrontImg="lpnFrontImg"></printTable>
            </div>
            <div class="tableForm">
              <div class="title">{{$t('ViBorder.TC.measuringTimes', {msg: ruleForm.numberOfTimes})}}</div>
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                <el-form-item>
                  <!-- 驶入通道和离开通道时间 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.TC.enteringTimeAndLeavingTime')">{{$t('ViBorder.TC.enteringTimeAndLeavingTime')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.enterAndLeaveTime}}</span>
                    <div class="leaving-time common-img" @click="measureAudioPlay(videoPathIn, videoPathOut)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <!-- lpn(Front)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumber}}
                      <el-popover placement="right" title="" width="500" trigger="hover">
                        <div class="popover-bodystyle" v-for="(item, index) in lpnFrontPopover" :key="index">
                          <div class="popover-title">
                            <span>{{item.title}}:</span>
                          </div>
                          <pre class="popover-content">{{item.content}}</pre>
                        </div>
                      <el-button slot="reference" v-show="popover.lpnFrontPopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                    </span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="lpnImageFrontClick('last')">
                      <el-popover placement="left" :disabled="ruleForm.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in ruleForm.buttonImageData.lpnImageFront" :key="index">
                            <img :src="item" class="tc-detailimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <!-- lpn(back)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumberBack}}
                      <el-popover
                      placement="right" title="" width="500" trigger="hover">
                        <div class="popover-bodystyle" v-for="(item, index) in lpnBackPopover" :key="index">
                          <div class="popover-title">
                            <span>{{item.title}}:</span>
                          </div>
                          <!-- <span style="padding: 2px 10px; text-align: right;">{{item.title}}:</span> -->
                          <pre class="popover-content">{{item.content}}</pre>
                        </div>
                      <el-button slot="reference" v-show="popover.lpnBackPopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                    </span>
                    <!-- lpn（back）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="lpnImageBack('last')">
                      <el-popover placement="left" :disabled="ruleForm.buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in ruleForm.buttonImageData.lpnImageBackcontent" :key="index">
                            <img :src="ruleForm.buttonImageData.lpnImageBackcontent[0]" class="tc-detailimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <!-- 集装箱鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.containerNumber}}
                      <el-popover
                      placement="right" title="" width="500" trigger="hover">
                        <div class="popover-bodystyle"  v-for="(item, index) in containerNoPopover" :key="index">
                          <div class="popover-title">
                            <span>{{item.title}}:</span>
                          </div>
                          <pre class="popover-content">{{item.content}}</pre>
                        </div>
                      <el-button slot="reference" v-show="popover.containerNumberPopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                    </span>
                    <!-- 集装箱后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div  @click="containerImage('last')">
                      <el-popover placement="left" :disabled="ruleForm.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in ruleForm.buttonImageData.containerImagedata" :key="index">
                            <img :src="item" class="tc-detailimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                    <!-- <template v-for="(item, index) in ruleForm.LWH"> -->
                    <template v-if="ruleForm.LWH.vehicleLength || ruleForm.LWH.vehicleWidth || ruleForm.LWH.vehicleHeight">
                      <span v-for="(item, index) in ruleForm.LWH" :class="ruleForm.LWH[index] - ruleForm.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                    <!-- </template> -->
                    <el-popover
                      placement="left" title="" width="500" trigger="hover">
                      <div class="popover-bodystyle" v-for="(item, index) in LwhpopoverData" :key="index">
                        <div class="popover-title">
                          <span>{{item.title}}:</span>
                        </div>
                        <!-- <span style="padding: 2px 10px; text-align: right;">{{item.title}}:</span> -->
                        <pre class="popover-content">{{item.content}}</pre>
                      </div>
                      <el-button slot="reference" v-show="popover.lwhPopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                    <!-- <i class="iconfont" @click="lwhChange">&#xe650;</i> -->
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                    <span v-if="ruleForm.totalWeight.totalWeight" class="border-style" :class="ruleForm.totalWeight.totalWeight - ruleForm.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{ruleForm.totalWeight.totalWeight}}</span>
                    <el-popover
                      placement="right" title="" width="500" trigger="hover">
                      <div class="popover-bodystyle" v-for="(item, index) in totalWeightPopover" :key="index">
                        <div class="popover-title">
                          <span >{{item.title}}:</span>
                        </div>
                        <!-- <span style="padding: 2px 10px; text-align: right;">{{item.title}}:</span> -->
                        <pre class="popover-content">{{item.content}}</pre>
                      </div>
                      <el-button slot="reference" v-show="popover.totalWeightPopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <!-- <template v-for="(item, index) in ruleForm.axleWeight"> -->
                    <template v-if="ruleForm.axleWeight">
                      <span v-for="(item, index) in ruleForm.axleWeight" :class="item - ruleForm.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                    <!-- </template> -->
                    <el-popover
                      placement="left" title="" width="500" trigger="hover">
                      <div class="popover-bodystyle" v-for="(item, index) in axleWeightPopover" :key="index">
                        <div class="popover-title">
                          <span >{{item.title}}:</span>
                        </div>
                        <!-- <span style="padding: 2px 10px; text-align: right;">{{item.title}}:</span> -->
                        <pre class="popover-content">{{item.content}}</pre>
                      </div>
                      <el-button slot="reference" v-show="popover.axleWeightPopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴间距的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.axelDistance">
                      <span v-for="(item, index) in ruleForm.axelDistance" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                    <!-- </template> -->
                    <el-popover
                      placement="left" title="" width="500" trigger="hover">
                      <div class="popover-bodystyle" v-for="(item, index) in axelDistancePopover" :key="index">
                        <div class="popover-title">
                          <span >{{item.title}}:</span>
                        </div>
                        <!-- <span style="padding: 2px 10px; text-align: right;">{{item.title}}:</span> -->
                        <pre class="popover-content">{{item.content}}</pre>
                      </div>
                      <el-button slot="reference" v-show="popover.axelDistancePopover"><i class="iconfont">&#xe650;</i></el-button>
                    </el-popover>
                  </div>
                </el-form-item>
                <el-form-item v-if="!isMaunalMeasure">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.approvalRecord')">{{$t('ViBorder.businessLogicCommon.approvalRecord')}}</label>
                  <div class="data-panel statusStart remark-text" v-html="ruleForm.approvalRecord"></div>
                </el-form-item>
              </el-form>
            </div>
            <div class="tableForm" v-for="(item, index) in ruleFormArr" :key="index">
              <div class="title">{{$t('ViBorder.TC.measuringTimes', {msg: item.numberOfTimes})}}</div>
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                <el-form-item>
                  <!-- 驶入通道和离开通道时间 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.TC.enteringTimeAndLeavingTime')">{{$t('ViBorder.TC.enteringTimeAndLeavingTime')}}</label>
                  <div class="data-panel">
                    <span>{{item.enterAndLeaveTime}}</span>
                    <div class="leaving-time common-img" @click="measureAudioPlay(item.checkInVoVideoPath, item.measureVoVieoPath)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <!-- lpn(Front)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                  <div class="data-panel">
                    <span>{{item.licensePlateNumber}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="lpnImageFrontClick(index)">
                      <el-popover placement="left" :disabled="item.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(cell, index) in item.buttonImageData.lpnImageFront" :key="index">
                            <img :src="cell" class="tc-detailimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <!-- lpn(back)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                  <div class="data-panel">
                    <span>{{item.licensePlateNumberBack}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="lpnImageBack(index)">
                      <el-popover placement="left" :disabled="item.buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(cell, index) in item.buttonImageData.lpnImageBackcontent" :key="index">
                            <img :src="cell" class="tc-detailimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <!-- 集装箱鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                  <div class="data-panel">
                    <span>{{item.containerNumber}}</span>
                    <!-- 集装箱的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div  @click="containerImage(index)">
                      <el-popover placement="left" :disabled="item.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in item.buttonImageData.containerImagedata" :key="index">
                            <img :src="item" class="tc-detailimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                      <template v-if="item.LWH.vehicleLength || item.LWH.vehicleWidth || item.LWH.vehicleHeight">
                        <span v-for="(cell, index) in item.LWH" :class="item.LWH[index] - item.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="cell">{{cell}}</span></span>
                      </template>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                    <span v-if="item.totalWeight.totalWeight" class="border-style" :class="item.totalWeight.totalWeight - item.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{item.totalWeight.totalWeight}}</span>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="item.axleWeight">
                      <span v-for="(cell, index) in item.axleWeight" :class="item.axleWeight[index] - item.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="cell">{{cell}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item>
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴间距的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="item.axelDistance">
                      <span v-for="(cell, index) in item.axelDistance" class="border-style" :key="index"><span v-if="cell">{{cell}}</span></span>
                    </template>
                  </div>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </div>
        <div class="button">
          <el-button @click="goBack">{{$t('ViBorder.common.close')}}</el-button>
        </div>
      </div>
      </div>
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{videoDriveIn}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{videoDriveOut}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
        <!-- 基础信息栏结束 -->
    </div>
  </div>
</template>

<script>
import printTable from '../../components/common/printTable'
import Axios from '../../api/TC/index.js'
import {formatDateTime} from '../../lib/index.js'
import {getConclusion} from '../../components/common/unifiedLogic'
export default {
  name: 'tc-operation',
  data () {
    return {
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      panelTitle: { // title组件数据
        queryTitleTop: {
          title: this.$t('ViBorder.TC.measurementInformation')
        }
      },
      // measureVehicleId: '', // 存放请求到的measureVehicleId，用于提交数据
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        checkinVideoData: { // 存放登记时候的视屏会赋值到dialogData
          checkInVideoPathIn: '',
          checkInVideoPathOut: '',
          measureVideoPathIn: '',
          measureVideoPathOut: ''
        },
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.measureVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      imgError: '',
      imagePlay: false, // 图片按钮点击后
      popover: { // 控制红色修改图标是否显示
        lpnFrontPopover: false,
        lpnBackPopover: '',
        containerNumberPopover: '',
        lwhPopover: '',
        totalWeightPopover: '',
        axleWeightPopover: '',
        axelDistancePopover: ''
      },
      ruleFormArr: [ // 历史测量记录数据
      ],
      lpnFrontPopover: [ // 前车牌的popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      lpnBackPopover: [ // 后车牌的popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      containerNoPopover: [ // 集装箱号popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      LwhpopoverData: [ // 长宽高的popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      totalWeightPopover: [ // 总重量的popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      axleWeightPopover: [ // 轴重的popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      axelDistancePopover: [ // 轴间距的popover数据
        {
          title: this.$t('ViBorder.TC.modifyContent'),
          content: '',
          ruleProp: 'modifyContent'
        },
        {
          title: this.$t('ViBorder.TC.modifyNote'),
          content: '',
          ruleProp: 'modifyNote'
        },
        {
          title: this.$t('ViBorder.TC.changeTime'),
          content: '',
          ruleProp: 'changeTime'
        },
        {
          title: this.$t('ViBorder.TC.modifier'),
          content: '',
          ruleProp: 'modifier'
        }
      ],
      videoDriveIn: this.$t('ViBorder.businessLogicCommon.enterVideo'), // 驶入通道视频title
      videoDriveOut: this.$t('ViBorder.businessLogicCommon.leaveVideo'), // 驶离通道视频title
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 最后一次的视频地址
      videoPathOut: '', // z最后一次的视频地址
      ruleFormCopy: '', // 用于存放纯净的ruleForm
      ruleForm: { // 最后一次测量的数据
        checkInVoVideoPath: '', // 历史测量数据额的视频
        measureVoVieoPath: '', // 历史测量数据的驶离通道的视频
        numberOfTimes: '', // 第几次测量
        containerNumber: '', // 集装箱号
        containerNumberRemark: '', // 集装箱号备注
        comparisonRemark: '', // 数据比对备注
        licensePlateNumberBack: '', // 后车牌号
        licensePlateNumberBackRemark: '', // 后车牌号备注
        delivery: false,
        comparisonConclusion: '', // 数据比对结论
        licensePlateNumber: '', // 前车牌号
        licensePlateNumberRemark: '', // 前车牌号备注
        enterAndLeaveTime: '',
        lwhStatus: { // 长宽高的标准值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: { // 长宽高值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        lwhRemark: '', // 长宽高备注
        totalWeight: {
          weightStatus: '', // 总重量的标准值
          totalWeight: '' // 总重量
        },
        totalWeightRemark: '', // 总重备注
        axleWeightstatus: '', // 轴重标准值
        axleWeight: [], // 轴重的值
        axleWeightRemark: '', // 轴重备注
        axelDistance: [], // 轴间距
        axelDistanceRemark: '', // 轴间距备注
        // axelDistancestatus: '', // 轴间距标准值
        manuelConclusion: '', // 手检比对结论
        manuelRemark: '', // 手检比对备注
        buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
          scanPath: '',
          lpnImageFront: [],
          lpnImageBackcontent: [],
          containerImagedata: []
        },
        approvalRecord: ''
      },
      rules: {
      },
      lpnFrontImg: [],
      // 人工测量数据
      isMaunalMeasure: false,
      printTableData: {
        licensePlateNumber: '',
        lpnPicUrl: [],
        brand: '',
        vehicleType: '',
        axles: '',
        axelDistance1: '',
        axelDistance2: '',
        axelDistance3: '',
        trailerAxelDistance1: '',
        trailerAxelDistance2: '',
        trailerAxelDistance3: '',
        wheels1: '',
        wheels2: '',
        wheels3: '',
        trailerWheels1: '',
        trailerWheels2: '',
        trailerWheels3: '',
        trailerLicensePlateNumber: '',
        trailerBrand: '',
        trailerVehicleType: '',
        trailerAxles: '',
        totalWeightStand: '',
        totalWeight: '',
        totalWeightDiff: '',
        axelWeightOriginal1: '',
        axelWeightActual1: '',
        axelWeightDiff1: '',
        axelWeightOriginal2: '',
        axelWeightActual2: '',
        axelWeightDiff2: '',
        axelWeightOriginal3: '',
        axelWeightActual3: '',
        axelWeightDiff3: '',
        axelWeightOriginal4: '',
        axelWeightActual4: '',
        axelWeightDiff4: '',
        axelWeightOriginal5: '',
        axelWeightActual5: '',
        axelWeightDiff5: '',
        axelWeightOriginal6: '',
        axelWeightActual6: '',
        axelWeightDiff6: '',
        vehicleHeightOriginal: '',
        vehicleHeightActual: '',
        vehicleHeightDiff: '',
        vehicleWidthOriginal: '',
        vehicleWidthActual: '',
        vehicleWidthDiff: '',
        vehicleWeightDiff: '',
        vehicleWeightOriginal: '',
        vehicleWeightActual: '',
        vehicleLengthOriginal: '',
        vehicleLengthActual: '',
        vehicleLengthDiff: '',
        conclusion: '',
        reason: '',
        operator: '',
        operateTime: ''
      }
    }
  },
  created () {
    this.toggleGloableModal(false)
    this.isShowMenu = false
    this.ruleFormCopy = JSON.parse(JSON.stringify(this.ruleForm))
    // let initPageData = sessionStorage.getItem('vehicleId')
    // let vehicleMeasureId = sessionStorage.getItem('vehicleMeasureId')
    let vehicleId = sessionStorage.getItem('vehicleId')
    this.initPageData({vehicleId: vehicleId})
    vehicleId && this.queryManualMeasure({vehicleId})
  },
  methods: {
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    prompt (param) {
      this.$confirm(`${param}`, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: false,
        type: 'warning'
      }).then().catch(() => { // 取消操作的时候就不用给提示了
      })
    },
    lpnImageFrontClick (val) { // 点击前车牌照片的方法
      if (val === 'last') { // 当点击最后一次测量的数据表格时候判断显示
        if (!this.ruleForm.buttonImageData.lpnImageFront.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      } else { // 点击历史数据表格时候判断显示
        if (!this.ruleFormArr[val].buttonImageData.lpnImageFront.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      }
    },
    confirmModal (parm) { // 确认信息弹窗
      this.$confirm(`${parm.msg}`, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: true,
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        type: 'warning'
      }).then(() => {
        parm.scb()
      }).catch(() => { // 取消操作的时候就不用给提示了
      })
    },
    lpnImageBack (val) { // 点击后车牌照片的方法
      if (val === 'last') { // 当点击最后一次测量的数据表格时候判断显示
        if (!this.ruleForm.buttonImageData.lpnImageBackcontent.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      } else { // 点击历史数据表格时候判断显示
        if (!this.ruleFormArr[val].buttonImageData.lpnImageBackcontent.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      }
    },
    containerImage (val) { // 点击集装箱照片的方法
      if (val === 'last') { // 当点击最后一次测量的数据表格时候判断显示
        if (!this.ruleForm.buttonImageData.containerImagedata.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      } else { // 点击历史数据表格时候判断显示
        if (!this.ruleFormArr[val].buttonImageData.containerImagedata.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      }
    },
    initPageData (val) {
      Axios._findHisDetail(val).then(res => {
        if (res.data.flag === true) { // 页面数据进行初始化
          // this.measureVehicleId = res.data.result[0].vehicleMeasure.vehicleLmiVo.measureVehicleId
          res.data.result = res.data.result ? res.data.result : []
          if (res.data.result.length && res.data.result[0].vehicleInspection.length) {
            this.ruleForm.approvalRecord = getConclusion(res.data.result.length && res.data.result[0].vehicleInspection)
          }
          res.data.result.forEach((element, index) => {
            if (index === 0) { // 对最后一次扫描的数据进行渲染
              this.lpnFrontImg = this.ruleForm.buttonImageData.lpnImageFront
              this.ruleForm.numberOfTimes = res.data.result.length // 判断这是低级次测量
              this.initData(this.ruleForm, element, index)
              this.videoPathIn = element.videoPathIn && `${this.video}${element.videoPathIn}`
              // this.videoPathIn = element.videoPathIn
              this.videoPathOut = element.videoPathOut && `${this.video}${element.videoPathOut}`
            } else { // 对历史数据进行渲染
              let params = JSON.parse(JSON.stringify(this.ruleFormCopy))
              this.lpnFrontImg = this.ruleForm.buttonImageData.lpnImageFront
              this.initData(params, element, index)
              params.checkInVoVideoPath = element.videoPathIn && `${this.video}${element.videoPathIn}` // 驶入通道对历史视频地址赋值
              params.measureVoVieoPath = element.videoPathOut && `${this.video}${element.videoPathOut}` // 对历史驶离通道视频地址赋值
              params.numberOfTimes = res.data.result.length - index
              this.ruleFormArr.push(params)
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initData (val, element, index) { // 页面数据赋值公共的方法
      for (var item in val) {
        switch (item) {
          case 'enterAndLeaveTime':
            let enterTunnelTime = element.vehicleMeasure.enterTunnelTime && formatDateTime(element.vehicleMeasure.enterTunnelTime, this.$t('ViBorder.common.formatDate'))
            let leftTunnelTime = element.vehicleMeasure.leftTunnelTime && formatDateTime(element.vehicleMeasure.leftTunnelTime, this.$t('ViBorder.common.formatDate'))
            if (!leftTunnelTime) {
              val[item] = `${enterTunnelTime}`
            } else {
              val[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            }
            break
          case 'licensePlateNumber':
            if (element.frontVehicleLprVo) {
              val[item] = element.frontVehicleLprVo.amendResult
              if (element.frontVehicleLprVo.amendResult !== element.frontVehicleLprVo.result && index === 0) {
                this.popover.lpnFrontPopover = true
                this.lpnFrontPopover.forEach(item => {
                  if (item.ruleProp === 'modifyContent') {
                    item.content = element.frontVehicleLprVo && element.frontVehicleLprVo.result
                  }
                  if (item.ruleProp === 'modifyNote') {
                    item.content = element.frontVehicleLprVo.remark
                  }
                  if (item.ruleProp === 'changeTime') {
                    item.content = element.frontVehicleLprVo.modifyTime && formatDateTime(element.frontVehicleLprVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                  }
                  if (item.ruleProp === 'modifier') {
                    item.content = element.frontVehicleLprVo.modifyUserName
                  }
                })
              }
            }
            break
          case 'licensePlateNumberBack':
            if (element.backVehicleLprVo) {
              val[item] = element.backVehicleLprVo.amendResult
              if (element.backVehicleLprVo) {
                if (!(!element.backVehicleLprVo.amendResult && !element.backVehicleLprVo.result) && (element.backVehicleLprVo.amendResult !== element.backVehicleLprVo.result) && index === 0) {
                  this.popover.lpnBackPopover = true
                  this.lpnBackPopover.forEach(item => {
                    if (item.ruleProp === 'modifyContent') {
                      item.content = element.backVehicleLprVo && element.backVehicleLprVo.result
                    }
                    if (item.ruleProp === 'modifyNote') {
                      item.content = element.backVehicleLprVo.remark
                    }
                    if (item.ruleProp === 'changeTime') {
                      item.content = element.backVehicleLprVo.modifyTime && formatDateTime(element.backVehicleLprVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                    }
                    if (item.ruleProp === 'modifier') {
                      item.content = element.backVehicleLprVo.modifyUserName
                    }
                  })
                }
              }
            }
            break
          case 'containerNumber':
            if (element.vehicleContainerCcrVo) {
              val[item] = element.vehicleContainerCcrVo.amendResult
              if (element.vehicleContainerCcrVo) {
                if (element.vehicleContainerCcrVo.amendResult !== element.vehicleContainerCcrVo.result && index === 0) {
                  this.popover.containerNumberPopover = true
                  this.containerNoPopover.forEach(item => {
                    if (item.ruleProp === 'modifyContent') {
                      item.content = element.vehicleContainerCcrVo && element.vehicleContainerCcrVo.result
                    }
                    if (item.ruleProp === 'modifyNote') {
                      item.content = element.vehicleContainerCcrVo.remark
                    }
                    if (item.ruleProp === 'changeTime') {
                      item.content = element.vehicleContainerCcrVo.modifyTime && formatDateTime(element.vehicleContainerCcrVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                    }
                    if (item.ruleProp === 'modifier') {
                      item.content = element.vehicleContainerCcrVo.modifyUserName
                    }
                  })
                }
              }
            }
            break
          case 'LWH':
            if (element.vehicleMeasure && element.vehicleMeasure.vehicleLmiVo) {
              val.LWH.vehicleLength = element.vehicleMeasure.vehicleLmiVo.vehicleLengthAmend
              val.LWH.vehicleWidth = element.vehicleMeasure.vehicleLmiVo.vehicleWidthAmend
              val.LWH.vehicleHeight = element.vehicleMeasure.vehicleLmiVo.vehicleHeightAmend
              if (element.vehicleMeasure.vehicleLmiVo.remark && index === 0) {
                this.popover.lwhPopover = true
                this.LwhpopoverData.forEach(item => {
                  if (item.ruleProp === 'modifyContent') { // 显示样式待确定
                    let array = []
                    element.vehicleMeasure.vehicleLmiVo.vehicleLength && array.push(element.vehicleMeasure.vehicleLmiVo.vehicleLength)
                    element.vehicleMeasure.vehicleLmiVo.vehicleWidth && array.push(element.vehicleMeasure.vehicleLmiVo.vehicleWidth)
                    element.vehicleMeasure.vehicleLmiVo.vehicleHeight && array.push(element.vehicleMeasure.vehicleLmiVo.vehicleHeight)
                    item.content = array && array.join(',')
                  }
                  if (item.ruleProp === 'modifyNote') {
                    item.content = element.vehicleMeasure.vehicleLmiVo.remark
                  }
                  if (item.ruleProp === 'changeTime') {
                    item.content = element.vehicleMeasure.vehicleLmiVo.modifyTime && formatDateTime(element.vehicleMeasure.vehicleLmiVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                  }
                  if (item.ruleProp === 'modifier') {
                    item.content = element.vehicleMeasure.vehicleLmiVo.modifyUserName
                  }
                })
              }
            }
            break
          case 'lwhStatus': // 对长宽高的标准值进行赋值
            if (element.validationInfos) {
              val.lwhStatus.vehicleLength = element.validationInfos.LENGTH
              val.lwhStatus.vehicleWidth = element.validationInfos.WIDTH
              val.lwhStatus.vehicleHeight = element.validationInfos.HEIGHT
            }
            break
          case 'totalWeight':
            val[item].totalWeight = element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.totalAmendResult // 对车辆的重量赋值
            val[item].weightStatus = element.validationInfos.TOTALWEIGHT // 对车重的标准值进行赋值
            if (element.vehicleMeasure && element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.totalRemark && index === 0) {
              this.popover.totalWeightPopover = true
              this.totalWeightPopover.forEach(item => {
                if (item.ruleProp === 'modifyContent') { // 显示样式待确定
                  item.content = element.vehicleMeasure.vehicleWeightVo.total
                }
                if (item.ruleProp === 'modifyNote') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.totalRemark
                }
                if (item.ruleProp === 'changeTime') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.totalRemark && formatDateTime(element.vehicleMeasure.vehicleWeightVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                }
                if (item.ruleProp === 'modifier') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.modifyUserName
                }
              })
            }
            break
          case 'axleWeight':
            val[item] = element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.axelWeightAmendResult && element.vehicleMeasure.vehicleWeightVo.axelWeightAmendResult.split(',') // 对轴重进行赋值
            if (element.vehicleMeasure && element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.axelWeightRemark && index === 0) {
              this.popover.axleWeightPopover = true
              this.axleWeightPopover.forEach(item => {
                if (item.ruleProp === 'modifyContent') { // 显示样式待确定
                  item.content = element.vehicleMeasure.vehicleWeightVo.axelWeight
                }
                if (item.ruleProp === 'modifyNote') {
                  item.content = element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.axelWeightRemark
                }
                if (item.ruleProp === 'changeTime') {
                  item.content = element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.totalRemark && formatDateTime(element.vehicleMeasure.vehicleWeightVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                }
                if (item.ruleProp === 'modifier') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.modifyUserName
                }
              })
            }
            break
          case 'axleWeightstatus':
            val[item] = element.validationInfos && element.validationInfos.AXLEWEIGHT // 对轴重的标准值进行赋值
            break
          case 'axelDistance':
            val[item] = element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.axelDistanceAmendResult && element.vehicleMeasure.vehicleWeightVo.axelDistanceAmendResult.split(',') // 对轴重进行赋值
            if (element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.axelDistanceRemark && index === 0) {
              this.popover.axelDistancePopover = true
              this.axelDistancePopover.forEach(item => {
                if (item.ruleProp === 'modifyContent') { // 显示样式待确定
                  item.content = element.vehicleMeasure.vehicleWeightVo.axelDistance
                }
                if (item.ruleProp === 'modifyNote') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.axelDistanceRemark
                }
                if (item.ruleProp === 'changeTime') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.totalRemark && formatDateTime(element.vehicleMeasure.vehicleWeightVo.modifyTime, this.$t('ViBorder.common.formatDate'))
                }
                if (item.ruleProp === 'modifier') {
                  item.content = element.vehicleMeasure.vehicleWeightVo.modifyUserName
                }
              })
            }
            break
          case 'axelDistancestatus':
            val[item] = element.validationInfos.AXLEWEIGHT // 对轴间距的标准值进行赋值
            break
          case 'buttonImageData':
            if (element.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
              let ccrPhotoArry = element.ccrPhoto.split(',')
              val[item].containerImagedata = ccrPhotoArry.map(e => {
                return `${this.ccrFolder}${e}`
              })
            }
            if (element.lprPhotoPathBack) { // 对后车牌图片按钮进行图片地址赋值
              let lprPhotoPathBack = element.lprPhotoPathBack.split(',')
              val[item].lpnImageBackcontent = lprPhotoPathBack.map(e => {
                return `${this.lprFolder}${e}`
              })
            }
            if (element.lprCheckInPhotoPath) { // 对前车牌图片按钮进行图片地址赋值/注册车辆
              let lprCheckInPhotoPath = element.lprCheckInPhotoPath
              val[item].lpnImageFront.push(`${this.lprFolder}${lprCheckInPhotoPath}`)
            }
            if (element.lprPhotoPath) { // 对前车牌图片按钮进行图片地址赋值测量车辆
              let lprPhotoPath = element.lprPhotoPath
              val[item].lpnImageFront.push(`${this.lprFolder}${lprPhotoPath}`)
            }
            break
        }
      }
    },
    goBack () {
      this.$router.push({
        path: '/tc/index'
      })
    },
    measureAudioPlay (videoPathIn, videoPathOut) { // 点击视频按钮时候触发的方法
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
      if (videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(videoPathIn)
      }
      if (videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        // let param = this.$t('ViBorder.common.noVideo')
        // this.prompt(param)
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    maunalMeasureDataInit (result, vehicleInspection) {
      let axelWeightOriginal = {}
      for (const okey in result) {
        const element = result[okey]
        if (element) {
          if (okey.includes('vehicleTypeI18N')) {
            this.printTableData.vehicleType = this.$t(element.key)
          } else if (okey.includes('brandI18N')) {
            this.printTableData.brand = this.$t(element.key)
          } else if (okey.includes('trailerBrandI18N')) {
            this.printTableData.trailerBrand = this.$t(element.key)
          } else if (okey.includes('trailerVehicleTypeI18N')) {
            this.printTableData.trailerVehicleType = this.$t(element.key)
          } else {
            this.printTableData[okey] = element
          }
        }
      }
      let awo = result && result.axelWeightOriginal
      if (awo) {
        awo.split(',').forEach((item, idx) => {
          Object.assign(axelWeightOriginal, {[`axelWeightOriginal${idx + 1}`]: item})
        })
      }
      let approvalRecord = getConclusion(vehicleInspection)
      this.printTableData = {...this.printTableData, ...axelWeightOriginal, ...{approvalRecord}}
    },
    // 获取人工测量数据
    queryManualMeasure (options) {
      Axios._queryManualMeasure(options).then(res => {
        let {flag, result} = res.data
        if (flag) {
          if (result && result.manualMeasurement) {
            this.isMaunalMeasure = true
            this.maunalMeasureDataInit(result.manualMeasurement, result.vehicleInspection)
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    }
  },
  components: {printTable}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.el-popover {
  .el-carousel__indicators {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .tc-detailimg {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#tc-detail {
  @extend .extend-bar;
  .tc-M {
    padding: $margin;
    box-sizing: border-box;
    position: relative;
    .table-info {
      width: $all;
      height: 100%;
      margin-right: $margin;
      @include flex(column, start);
      .panel {
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        height: calc(100% - 2px);
        margin-bottom: 0px;
        .left-bar {
          @extend .extend-bar;
          width: $all;
          .print-table-on-page {
            padding: 0 5%;
            margin: 15px 10%;
            padding-bottom: 10px;
            border: 1px solid #ddd;
          }
          // border: #ddd solid 1px;
          .tableForm {
            // height: 400px;
            padding: 0 5%;
            margin: 15px 10%;
            padding-bottom: 10px;
            border: 1px solid #ddd;
            .title {
              height: 30px;
              line-height: 30px;
              font-size: 14px;
              text-align: left;
              font-weight: bold;
              // padding-left: 9px;
            }
            .data-panel {
              width: $all * .6;
              @include flex(row,space-between);
              padding: 0 $margin;
              .iconfont {
                // display: block;
                margin-left: 15px;
                color: red;
              }
              .el-input {
                width: $all * 0.35;
              }
              .el-textarea {
                padding: 4px 0;
              }
              .border-style {
                width: $all * .15;
                height: 20px;
                @include flex();
                border-radius: 6px;
                border: 1px solid #ddd;
              }
              .border-style.danger-border {
                border: 1px dashed red;
              }
              .text-color {
                color: red;
              }
              .iconfont {
                font-size: $headerRight;
                cursor: pointer;
              }
            }
            .statusStart {
              @include flex(row,flex-start);
              .border-style {
                margin-right: 10px;
              }
            }
            .el-form {
              width: calc(100% - 20px);
              // margin: $dis10;
              @include box-sizing;
              border: 1px solid $panelBorder;
              .btn-style {
                margin: $margin;
              }
              .el-form-item {
                width: $all;
                display: flex;
                margin: 0px;
                .el-form-item__label {
                  @extend .extend-table-form-left-style;
                  border: none;
                  height: $all;
                  border-right: 1px solid #ddd;
                }
                .el-form-item__content {
                  @extend .extend-table-form-content-style;
                  width: $all;
                  padding: 0;
                  line-height: normal;
                  .data-panel {
                    span {
                      .el-button {
                        border: none;
                        padding: 0px;
                        &:hover {
                          background-color: #fff;
                        }
                      }
                    }
                  }
                  .common-img {
                    cursor: pointer;
                    height: $large;
                    width: $large;
                  }
                  .lpn-front {
                    background: $carBg  top -15% center no-repeat;
                  }
                  .lpn-back {
                    background: $carBg  top 48% center no-repeat;
                  }
                  .container {
                    background: $carBg  top 115% center no-repeat;
                  }
                  .leaving-time {
                    background: $videoBg  top 50%  center no-repeat;
                  }
                }
                .el-form-item__error {
                  display: none;
                }
                .remark-text {
                  line-height: 30px;
                  text-align: left;
                  word-break: break-all;
                }
                &:last-child {
                  .el-form-item__content {
                    margin: 0px;
                    width: $all;
                    border-bottom: none
                  }
                }
              }
            }
          }
        }
        .button {
          height: 80px;
          width: $all;
          @include flex(row, center)
        }
      }
    }
    #dialog {
      // .el-dialog {
      //   width: 30%;
      //   @media screen and (max-width: 1640px) {
      //     width: 40%!important;
      //   }
      // }
      .search-form {
        @include flex(column);
        width: $all;
        .el-form-item {
          width: $all / 2;
          .el-form-item__content {
            width: $all;
            .pack {
              width: $all;
              @include flex();
              .search-form-label {
                text-align: left;
                width: 30%;
              }
              .search-form-input {
                flex: 1;
              }
              .el-textarea {
                width: 71%;
              }
            }
          }
        }
        .el-form-item.search-form-item {
          @include flex(row, flex-start, center);
          margin-bottom: 0;
          width: 70%;
          margin-top: 5px;
        }
        .el-form-item.search-form-btn {
          margin-bottom: 0;
          margin-top: 10px;
        }
        // .search-form-btn {
        //   width: $all / 2;
        // }
      }
    }
    .audio-one {
      #dialog .el-dialog {
        width: 510px;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
  }
}
</style>
