<template>
  <div id="tc-operation" v-bar>
    <div class="tc-M">
      <div class="table-info">
        <!-- 基础信息栏目开始 -->
        <div class="panel" >
          <panelTitle :panelTitleInit="panelTitle.queryTitleTop"></panelTitle>
          <div class="left-bar" v-bar>
            <div>
              <!-- 显示的人工测量 -->
              <div class="print-table-on-page" v-if="isMaunalMeasure">
                <printTable :turnOnPrinting="false" :tableTitle="$t('ViBorder.businessLogicCommon.manualMeasurement')" :tableDefaultData="printTableData" :lpnFrontImg="lpnFrontImg"></printTable>
              </div>
              <!-- 打印的隐藏了已经 -->
              <div class="print-table-on-print">
                <div id="printJS-table">
                  <printTable :turnOnPrinting="true" :tableDefaultData="printTableData1"></printTable>
                </div>
              </div>
              <div class="tableForm" v-if="!isMaunalMeasure">
                <div class="title">{{$t('ViBorder.TC.measuringTimes', {msg: ruleForm.numberOfTimes})}}</div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleFormTop">
                  <el-form-item>
                    <!-- 驶入通道和离开通道时间 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')">{{$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.enterAndLeaveTime}}</span>
                      <div v-if="isMeasuring === '1'" class="leaving-time common-img" @click="measureAudioPlay(videoPathIn, videoPathOut)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <!-- lpn(Front)鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.licensePlateNumber}}<i v-if="isMeasuring === '1'" class="iconfont" @click="lpnFrontChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i></span>
                      <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div class="lpn-front" @click="lpnImageFrontClick('last')">
                        <el-popover placement="left" :disabled="ruleForm.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in ruleForm.buttonImageData.lpnImageFront" :key="index">
                              <img :src="item" class="tc-operation">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <!-- lpn(back)鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.licensePlateNumberBack}}<i v-if="isMeasuring === '1'" class="iconfont"  @click="lpnBackChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i></span>
                      <!-- lpn（back）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div class="lpn-front" @click="lpnImageBack('last')" v-if="isMeasuring === '1'">
                        <el-popover placement="left" :disabled="ruleForm.buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in ruleForm.buttonImageData.lpnImageBackcontent" :key="index">
                              <img :src="ruleForm.buttonImageData.lpnImageBackcontent[0]" class="tc-operation">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.containerNumber}}<i class="iconfont" v-if="isMeasuring === '1'" @click="containerNumberChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i></span>
                      <div @click="containerImage('last')" v-if="isMeasuring === '1'">
                        <el-popover placement="left" :disabled="ruleForm.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in ruleForm.buttonImageData.containerImagedata" :key="index">
                              <img :src="item" class="tc-operation">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                        <template v-if="ruleForm.LWH.vehicleLength || ruleForm.LWH.vehicleWidth || ruleForm.LWH.vehicleHeight">
                          <span v-for="(item, index) in ruleForm.LWH" :class="ruleForm.LWH[index] - ruleForm.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                        </template>
                        <i class="iconfont" @click="lwhChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i>
                    </div>
                    <!-- <div v-else class="data-panel statusStart"></div> -->
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                      <span v-if="ruleForm.totalWeight.totalWeight" class="border-style" :class="ruleForm.totalWeight.totalWeight - ruleForm.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{ruleForm.totalWeight.totalWeight}}</span>
                      <i class="iconfont" v-if="isMeasuring === '1'" @click="totalWeightChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                      <template v-if="ruleForm.axleWeight">
                        <span v-for="(item, index) in ruleForm.axleWeight" :class="item - ruleForm.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                      </template>
                      <i class="iconfont" v-if="isMeasuring === '1'" @click="axleWeightChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                      <!-- <template v-for="(item, index) in ruleForm.axleWeight"> -->
                      <template v-if="ruleForm.axelDistance">
                        <span v-for="(item, index) in ruleForm.axelDistance" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                      </template>
                      <!-- </template> -->
                      <i class="iconfont" v-if="isMeasuring === '1'" @click="wheelBaseChange" :title="$t('ViBorder.businessLogicCommon.modifyInformation')">&#xe698;</i>
                    </div>
                  </el-form-item>
                  <!-- 审批记录 -->
                  <el-form-item v-if="hasApprovalRecord && ruleForm.approvalRecord">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.approvalRecord')">{{$t('ViBorder.businessLogicCommon.approvalRecord')}}</label>
                    <div class="data-panel statusStart" v-html="ruleForm.approvalRecord"></div>
                  </el-form-item>
                  <!-- 备注 -->
                  <el-form-item prop="checkRemark" v-if="isMeasuring === '1'">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.remark')">{{$t('ViBorder.businessLogicCommon.remark')}}</label>
                    <div class="data-panel statusStart remark-text">
                      <el-input v-if="!remarkIsOnlyRead" type="textarea" resize="none" v-model="ruleForm.checkRemark" maxlength="500"></el-input>
                      <div v-if="remarkIsOnlyRead"></div>
                    </div>
                  </el-form-item>
                </el-form>
              </div>
              <div class="tableForm" v-for="(item, index) in ruleFormArr" :key="index">
                <div class="title">{{$t('ViBorder.TC.measuringTimes', {msg: item.numberOfTimes})}}</div>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                  <el-form-item>
                    <!-- 驶入通道和离开通道时间 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.TC.enteringTimeAndLeavingTime')">{{$t('ViBorder.TC.enteringTimeAndLeavingTime')}}</label>
                    <div class="data-panel">
                      <span>{{item.enterAndLeaveTime}}</span>
                      <div class="leaving-time common-img" @click="measureAudioPlay(item.checkInVoVideoPath, item.measureVoVieoPath)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <!-- lpn(Front)鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                    <div class="data-panel">
                      <span>{{item.licensePlateNumber}}</span>
                      <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div class="lpn-front" @click="lpnImageFrontClick(index)">
                        <el-popover placement="left" :disabled="item.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(cell, index) in item.buttonImageData.lpnImageFront" :key="index">
                              <img :src="cell" class="tc-operation">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <!-- lpn(back)鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                    <div class="data-panel">
                      <span>{{item.licensePlateNumberBack}}</span>
                      <!-- lpn（back）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div class="lpn-front" @click="lpnImageBack(index)">
                        <el-popover placement="left" :disabled="item.buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(cell, index) in item.buttonImageData.lpnImageBackcontent" :key="index">
                              <img :src="cell" class="tc-operation">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <!-- 鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                    <div class="data-panel">
                      <span>{{item.containerNumber}}</span>
                      <!-- 集装箱的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div  @click="containerImage(index)">
                        <el-popover placement="left" :disabled="item.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in item.buttonImageData.containerImagedata" :key="index">
                              <img :src="item" class="tc-operation">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                      <template v-if="item.LWH.vehicleLength || item.LWH.vehicleWidth || item.LWH.vehicleHeight">
                        <span v-for="(cell, index) in item.LWH" :class="item.LWH[index] - item.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="cell">{{cell}}</span></span>
                      </template>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                      <span v-if="item.totalWeight.totalWeight" class="border-style" :class="item.totalWeight.totalWeight - item.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{item.totalWeight.totalWeight}}</span>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                      <template v-if="item.axleWeight">
                        <span v-for="(cell, index) in item.axleWeight" :class="item.axleWeight[index] - item.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="cell">{{cell}}</span></span>
                      </template>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                      <template v-if="item.axelDistance">
                        <span v-for="(cell, index) in item.axelDistance" class="border-style" :key="index"><span v-if="cell">{{cell}}</span></span>
                      </template>
                    </div>
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </div>
          <!-- 没有审批记录 -->
          <div class="button has-right" v-if="!hasApprovalRecord && !remarkIsOnlyRead">
            <el-button type="success" @click="confirmRelease('PASSED')">{{$t('ViBorder.businessLogicCommon.pass')}}</el-button>
            <el-button type="danger" @click="confirmRelease('NOPASS')">{{$t('ViBorder.businessLogicCommon.notPass')}}</el-button>
            <el-button type="primary" @click="confirmRelease('MANUALMEASURE')">{{$t('ViBorder.businessLogicCommon.manualMeasurement')}}</el-button>
            <el-button class="right-btn" @click="goBack">{{$t('ViBorder.common.back')}}</el-button>
          </div>
          <!-- 有审批记录 -->
          <div class="button has-right" v-if="hasApprovalRecord && !remarkIsOnlyRead">
            <el-button type="success" @click="confirmRelease('PASSED')">{{$t('ViBorder.businessLogicCommon.pass')}}</el-button>
            <el-button type="primary" @click="confirmRelease('MANUALMEASURE')">{{$t('ViBorder.businessLogicCommon.manualMeasurement')}}</el-button>
            <el-button class="right-btn" @click="goBack">{{$t('ViBorder.common.back')}}</el-button>
          </div>
          <!-- 人工测量 -->
          <div class="button has-right" v-if="remarkIsOnlyRead">
            <el-button type="success" @click="manualPass">{{$t('ViBorder.businessLogicCommon.pass')}}</el-button>
            <el-button type="primary" @click="manualSave">{{$t('ViBorder.common.save')}}</el-button>
            <el-button type="primary" @click="print">{{$t('ViBorder.businessLogicCommon.print')}}</el-button>
            <el-button class="right-btn" @click="goBack">{{$t('ViBorder.common.back')}}</el-button>
          </div>
        </div>
      </div>
      <Dialog :modalData="addTaskInfo">
        <ComForm v-if="lpnFrontShow" :searchIpt="changeLpnFront" :searchFunc="changeLpnFrontFn" :formRule='lpnFrontRule'></ComForm>
        <ComForm v-if="lpnBackShow" :searchIpt="changeLpnBack" :searchFunc="changeLpnBackFn" :formRule='lpnBackRule'></ComForm>
        <div class="tableForm containernumber" v-if="containerNoShow">
          <el-form :model="containerNumber" :rules="containerNoRule.rule" ref="containerNoRuleForm">
            <el-form-item prop="containerNumberLeft" class="containerNumberLeft" v-if="containerNumber.containerNumberLeftShow">
              <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
              <div class="data-panel">
                <el-input v-model="containerNumber.containerNumberLeft" maxlength=11 clearable></el-input>
                <el-button class="button" v-if="!containerNumber.containerNumberRightShow" @click="buttonAdd">+</el-button>
              </div>
            </el-form-item>
            <el-form-item prop="containerNumberRight" class="containerNumberLeft" v-if="containerNumber.containerNumberRightShow">
              <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
              <div class="data-panel">
                <el-input v-model="containerNumber.containerNumberRight" maxlength=11 clearable></el-input>
                <el-button class="button" @click="buttonMinus">-</el-button>
              </div>
            </el-form-item>
            <el-form-item prop="containerNumberRemark" class="containerNumberLeft">
              <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.remark')">{{$t('ViBorder.businessLogicCommon.remark')}}</label>
              <div class="data-panel">
                <el-input type="textarea" resize="none" v-model="containerNumber.containerNumberRemark" maxlength="500"></el-input>
              </div>
            </el-form-item>
            <el-form-item class="buttonClass">
              <el-button type="primary" size="large" @click="addContainerNoTask">{{$t('ViBorder.common.sure')}}</el-button>
              <el-button  size="large" @click="cancelTask">{{$t('ViBorder.common.back')}}</el-button>
            </el-form-item>
          </el-form>
        </div>
        <ComForm v-if="lwhNoShow" :searchIpt="lwh" :searchFunc="lwhFn" :formRule='lwhRule'></ComForm>
        <ComForm v-if="totalWeightShow" :searchIpt="totalWeight" :searchFunc="totalWeightFn" :formRule='totalWeightRule'></ComForm>
        <ComForm v-if="axleWeightShow" :searchIpt="axleWeight" :searchFunc="axleWeightFn" :formRule='axleWeightRule'></ComForm>
        <ComForm v-if="wheelBaseShow" :searchIpt="wheelBase" :searchFunc="wheelBaseFn" :formRule='wheelBaseRule'></ComForm>
      </Dialog>
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{videoDriveIn}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{videoDriveOut}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
    </div>
  </div>
</template>

<script>
import printTable from '../../components/common/printTable'
import Axios from '../../api/TC/index.js'
import {formatDateTime} from '../../lib/index.js'
import {getConclusion} from '../../components/common/unifiedLogic'
import Print from 'print-js'
export default {
  name: 'tc-operation',
  data () {
    return {
      printTableData: {
        licensePlateNumber: '',
        lpnPicUrl: [],
        brand: '',
        vehicleType: '',
        axles: '',
        axelDistance1: '',
        axelDistance2: '',
        axelDistance3: '',
        trailerAxelDistance1: '',
        trailerAxelDistance2: '',
        trailerAxelDistance3: '',
        wheels1: '',
        wheels2: '',
        wheels3: '',
        trailerWheels1: '',
        trailerWheels2: '',
        trailerWheels3: '',
        trailerLicensePlateNumber: '',
        trailerBrand: '',
        trailerVehicleType: '',
        trailerAxles: '',
        totalWeightStand: '',
        totalWeight: '',
        totalWeightDiff: '',
        axelWeightOriginal1: '',
        axelWeightActual1: '',
        axelWeightDiff1: '',
        axelWeightOriginal2: '',
        axelWeightActual2: '',
        axelWeightDiff2: '',
        axelWeightOriginal3: '',
        axelWeightActual3: '',
        axelWeightDiff3: '',
        axelWeightOriginal4: '',
        axelWeightActual4: '',
        axelWeightDiff4: '',
        axelWeightOriginal5: '',
        axelWeightActual5: '',
        axelWeightDiff5: '',
        axelWeightOriginal6: '',
        axelWeightActual6: '',
        axelWeightDiff6: '',
        vehicleHeightOriginal: '',
        vehicleHeightActual: '',
        vehicleHeightDiff: '',
        vehicleWidthOriginal: '',
        vehicleWidthActual: '',
        vehicleWidthDiff: '',
        vehicleWeightDiff: '',
        vehicleWeightOriginal: '',
        vehicleWeightActual: '',
        vehicleLengthOriginal: '',
        vehicleLengthActual: '',
        vehicleLengthDiff: '',
        conclusion: '',
        reason: '',
        operator: '',
        operateTime: '',
        remark: '',
        isSavePass: ''
      },
      notifyOffset: window.config.notifyOffset,
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      panelTitle: { // title组件数据
        queryTitleTop: {
          title: this.$t('ViBorder.TC.measurementInformation')
        }
      },
      measureVehicleId: '', // 存放请求到的measureVehicleId，用于提交数据
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        checkinVideoData: { // 存放登记时候的视屏会赋值到dialogData
          checkInVideoPathIn: '',
          checkInVideoPathOut: '',
          measureVideoPathIn: '',
          measureVideoPathOut: ''
        },
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.measureVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      addTaskInfo: { // 修改信息的Dialog
        flag: false,
        title: this.$t('ViBorder.businessLogicCommon.lpnBack'),
        resetModal: this.cancelTask
      },
      //  *********************修改前车牌信息数据字段
      lpnFrontShow: false,
      changeLpnFront: [ // 修改前车牌号信息的Dialog数据信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          maxlength: 20,
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none',
          maxlength: 500
        }
      ],
      changeLpnFrontFn: { // 修改前车牌号信息Dialog的方法
        query: this.addLpnFrontTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      lpnFrontRule: { // 前车牌号信息Dialog的验证规则
        refName: 'addTaskRule',
        rule: {
          licensePlateNumber: [ // 前车牌号校验
            { required: true, message: this.$t('ViBorder.businessLogicCommon.inputLpn'), trigger: 'blur' },
            { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.lpnLength'), trigger: 'blur' },
            { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyLpn') }
          ],
          licensePlateNumberBack: [ // 后车牌号校验
            { required: true, message: this.$t('ViBorder.businessLogicCommon.lpnBackWarn'), trigger: 'blur' },
            { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.lpnLength'), trigger: 'blur' },
            { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyLpn') }
          ],
          remark: [
            { required: false, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      //  *********************修改后车牌信息数据字段
      lpnBackShow: false,
      changeLpnBack: [ // 修改后车牌号信息的Dialog数据信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.lpnBackWarn'),
          models: '',
          ruleProp: 'licensePlateNumberBack',
          maxlength: '20'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          models: '',
          ruleProp: 'licensePlateNumberBackRemark',
          content: '',
          resize: 'none',
          maxlength: 500
        }
      ],
      changeLpnBackFn: { // 修改后车牌号信息Dialog的方法
        query: this.addLpnBackTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      lpnBackRule: { // 后车牌号信息Dialog的验证规则
        refName: 'addTaskRule',
        rule: {
          licensePlateNumberBack: [
            { required: false, message: this.$t('ViBorder.businessLogicCommon.lpnBackWarn'), trigger: 'blur' },
            { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.lpnLength'), trigger: 'blur' },
            { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyLpnBack') }
          ],
          licensePlateNumberBackRemark: [
            { required: false, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      //  *********************集装箱号信息数据字段
      containerNoShow: false,
      containerNumber: {
        containerNumberLeftShow: true, // 控制第一个集装箱号输入框是否显示
        containerNumberRightShow: false, // 控制第二个集装箱号输入框是否显示
        containerNumberLeft: '', // 第一个集装箱号
        containerNumberRight: '', // 第二个集装箱号
        containerNumberRemark: '' // 集装箱好的remark
      },
      containerNoRule: { // 集装箱号信息Dialog的验证规则
        refName: 'addTaskRule',
        rule: {
          containerNumberLeft: [ // 集装箱号校验
            { required: false, message: this.$t('ViBorder.businessLogicCommon.containerNoWarn'), trigger: 'blur' },
            { min: 1, max: 11, message: this.$t('ViBorder.businessLogicCommon.containerLength'), trigger: 'blur' },
            // { pattern: /^[a-zA-Z0-9]{11}}$/, message: this.$t('ViBorder.TC.containerLength') }
            { pattern: /^[a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.containerOnly') }
          ],
          containerNumberRight: [ // 集装箱号校验
            { required: false, message: this.$t('ViBorder.businessLogicCommon.containerNoWarn'), trigger: 'blur' },
            { min: 1, max: 11, message: this.$t('ViBorder.businessLogicCommon.containerLength'), trigger: 'blur' },
            // { pattern: /^[a-zA-Z0-9]{11}}$/, message: this.$t('ViBorder.TC.containerLength') }
            { pattern: /^[a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.containerOnly') }
          ],
          containerNumberRemark: [ // 备注校验
            { required: false, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      //  *********************长宽高信息数据字段
      lwhNoShow: false,
      lwh: [ // 长宽高信息的Dialog数据信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.length'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.length'),
          models: '',
          maxlength: 5,
          ruleProp: 'vehicleLength'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.width'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.width'),
          models: '',
          maxlength: 5,
          ruleProp: 'vehicleWidth'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.height'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.height'),
          models: '',
          maxlength: 5,
          ruleProp: 'vehicleHeight'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none',
          maxlength: 500
        }
      ],
      lwhFn: { // 长宽高信息Dialog的方法
        query: this.addLwhTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      lwhRule: { // 长宽高信息Dialog的验证规则
        refName: 'addTaskRule',
        rule: {
          vehicleLength: [ // 长度校验
            { required: true, message: this.$t('ViBorder.TC.lengthMust'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
          ],
          vehicleWidth: [ // 宽度校验
            { required: true, message: this.$t('ViBorder.TC.widthMust'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
          ],
          vehicleHeight: [ // 高度校验
            { required: true, message: this.$t('ViBorder.TC.heightMust'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
          ],
          remark: [ // 备注校验
            { required: true, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      //  *********************总重信息数据字段
      totalWeightShow: false,
      totalWeight: [ // 总重信息的Dialog数据信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.totalWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.TC.totalWeightMust'),
          models: '',
          maxlength: 6,
          ruleProp: 'totalWeight'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none',
          maxlength: 500
        }
      ],
      totalWeightFn: { // 总重信息Dialog的方法
        query: this.addTotalWeightTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      totalWeightRule: { // 总重信息Dialog的验证规则
        refName: 'addTaskRule',
        rule: {
          totalWeight: [ // 总重量校验
            { required: true, message: this.$t('ViBorder.TC.totalWeightMust'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          remark: [ // 备注校验
            { required: true, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      axleWeightShow: false,
      axleWeight: [ // 轴重信息的Dialog数据信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          models: '',
          maxlength: 6,
          change: this.regularCheck,
          ruleProp: 'axleWeight1'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          models: '',
          maxlength: 6,
          change: this.regularCheck,
          ruleProp: 'axleWeight2'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          models: '',
          maxlength: 6,
          change: this.regularCheck,
          ruleProp: 'axleWeight3'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          models: '',
          maxlength: 6,
          change: this.regularCheck,
          ruleProp: 'axleWeight4'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          models: '',
          maxlength: 6,
          change: this.regularCheck,
          ruleProp: 'axleWeight5'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.axleWeight'),
          models: '',
          maxlength: 6,
          change: this.regularCheck,
          ruleProp: 'axleWeight6'
        },
        { // 需要push的轴重Remark
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          models: '',
          blur: this.regularCheck,
          ruleProp: 'remark',
          content: '',
          resize: 'none',
          maxlength: 500
        }
      ],
      axleWeightFn: { // 轴重信息Dialog的方法
        query: this.addAxleWeightTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      axleWeightRule: { // 轴重信息Dialog的验证规则
        refName: 'addTaskRule',
        rule: {
          axleWeight1: [ // 轴重校验
            { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          axleWeight2: [ // 轴重校验
            { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          axleWeight3: [ // 轴重校验
            { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          axleWeight4: [ // 轴重校验
            { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          axleWeight5: [ // 轴重校验
            { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          axleWeight6: [ // 轴重校验
            { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' },
            { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
          ],
          remark: [ // 备注校验
            { required: true, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      //  ********************轴间距数据字段
      wheelBaseShow: false,
      wheelBase: [ // 修改轴间距信息的Dialog数据信息
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          models: '',
          maxlength: 5,
          change: this.wheelBaseRegularCheck,
          ruleProp: 'wheelBase1'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          models: '',
          maxlength: 5,
          change: this.wheelBaseRegularCheck,
          ruleProp: 'wheelBase2'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          change: this.wheelBaseRegularCheck,
          models: '',
          maxlength: 5,
          ruleProp: 'wheelBase3'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          change: this.wheelBaseRegularCheck,
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          models: '',
          maxlength: 5,
          ruleProp: 'wheelBase4'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          change: this.wheelBaseRegularCheck,
          models: '',
          maxlength: 5,
          ruleProp: 'wheelBase5'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.wheelBase'),
          change: this.wheelBaseRegularCheck,
          models: '',
          maxlength: 5,
          ruleProp: 'wheelBase6'
        },
        { // 需要push的轴间距Remark
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          blur: this.wheelBaseRegularCheck,
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none',
          maxlength: 500
        }
      ],
      wheelBaseParams: '',
      wheelBaseFn: { // 修改前车牌号信息Dialog的方法
        query: this.addWheelBaseTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      wheelBaseRule: { // 前车牌号信息Dialog的验证规则
        refName: 'wheelBaseRule',
        rule: {
          wheelBase1: [ // 轴距校验
            { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' },
            { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
          ],
          wheelBase2: [ // 轴距校验
            { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' },
            { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
          ],
          wheelBase3: [ // 轴距校验
            { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' },
            { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
          ],
          wheelBase4: [ // 轴距校验
            { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' },
            { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
          ],
          wheelBase5: [ // 轴距校验
            { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' },
            { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
          ],
          wheelBase6: [ // 轴距校验
            { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' },
            { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
          ],
          remark: [ // 备注校验
            { required: true, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      imagePlay: false, // 图片按钮点击后
      ruleFormArr: [ // 历史测量记录数据
      ],
      videoDriveIn: this.$t('ViBorder.businessLogicCommon.enterVideo'), // 驶入通道视频title
      videoDriveOut: this.$t('ViBorder.businessLogicCommon.leaveVideo'), // 驶离通道视频title
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 最后一次的视频地址
      videoPathOut: '', // z最后一次的视频地址
      ruleFormCopy: '', // 用于存放纯净的ruleForm
      ruleForm: { // 最后一次测量的数据
        checkRemark: '', // 可书写备注校验
        approvalRecord: '', // 审批记录
        checkInVoVideoPath: '',
        measureVoVieoPath: '',
        numberOfTimes: '', // 第几次测量
        containerNumber: '', // 集装箱号
        containerNumberRemark: '', // 集装箱号备注
        comparisonRemark: '', // 数据比对备注
        licensePlateNumberBack: '', // 后车牌号
        licensePlateNumberBackRemark: '', // 后车牌号备注
        delivery: false,
        comparisonConclusion: '', // 数据比对结论
        licensePlateNumber: '', // 前车牌号
        licensePlateNumberRemark: '', // 前车牌号备注
        enterAndLeaveTime: '',
        lwhStatus: { // 长宽高的标准值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: { // 长宽高值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        lwhRemark: '', // 长宽高备注
        totalWeight: {
          weightStatus: '', // 总重量的标准值
          totalWeight: '' // 总重量
        },
        totalWeightRemark: '', // 总重备注
        axleWeightstatus: '', // 轴重标准值
        axleWeight: [], // 轴重的值
        axleWeightRemark: '', // 轴重备注
        axelDistance: [], // 轴间距
        axelDistanceRemark: '', // 轴间距备注
        // axelDistancestatus: '', // 轴间距标准值
        manuelConclusion: '', // 手检比对结论
        manuelRemark: '', // 手检比对备注
        buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
          scanPath: '',
          lpnImageFront: [],
          lpnImageBackcontent: [],
          containerImagedata: []
        }
      },
      rules: {
        checkRemark: [ // 备注校验
          { required: false, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
          { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
        ]
      },
      hasApprovalRecord: false, // 默认没有审批备注
      remarkIsOnlyRead: false, // 默认不可读
      isMeasuring: '1', // 1默认测量,0不测量
      isMaunalMeasure: false, // 是否召唤出人工测量表格
      isTapPrintBtn: false,
      isSavePass: false,
      lpnFrontImg: [],
      inMaunalMeasureFlag: false,
      middleRemark: ''
    }
  },
  created () {
    this.ruleFormCopy = JSON.parse(JSON.stringify(this.ruleForm))
    this.printTableData1 = JSON.parse(JSON.stringify(this.printTableData))
    this.requestMMInfo(true)
  },
  methods: {
    requestMMInfo (isInit) {
      let vehicleId = sessionStorage.getItem('vehicleId') || ''
      let vehicleMeasureId = sessionStorage.getItem('vehicleMeasureId') || ''
      this.queryManualMeasure({vehicleId}, vehicleMeasureId, isInit)
    },
    prompt (param) {
      this.$confirm(`${param}`, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: false,
        type: 'warning'
      }).then().catch(() => { // 取消操作的时候就不用给提示了
      })
    },
    filterNullFields (options) { // 删除空字段
      let param = Object.assign(options)
      let newObj = {}
      if (Object.keys.length > 0) {
        for (let key in param) {
          const element = param[key]
          if (element || element === false) {
            Object.assign(newObj, {[key]: element})
          }
        }
      }
      return newObj
    },
    destroyedDialogData (key) {
      this.addTaskInfo.flag = key ? !0 : !!0
      let arr = ['lpnFrontShow', 'lpnBackShow', 'containerNoShow', 'lwhNoShow', 'totalWeightShow', 'axleWeightShow', 'wheelBaseShow']
      arr.forEach(e => {
        if (key && e === key) {
          this[key] = true
        } else {
          this[e] = false
        }
      })
    },
    lpnFrontChange () { // 前车牌修改按钮
      this.destroyedDialogData('lpnFrontShow')
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.lpnFront')
      this.lpnFrontRule.model.licensePlateNumber = this.ruleForm.licensePlateNumber
      this.lpnFrontRule.model.remark = this.ruleForm.licensePlateNumberRemark
      this.changeLpnFront[0].models = this.ruleForm.licensePlateNumber
      this.changeLpnFront[1].models = this.ruleForm.licensePlateNumberRemark
    },
    addLpnFrontTask () { // 修改前车牌号确定按钮
      this.ruleForm.licensePlateNumber = this.lpnFrontRule.model.licensePlateNumber
      this.ruleForm.licensePlateNumberRemark = this.lpnFrontRule.model.remark
      this.addTaskInfo.flag = false
    },
    lpnBackChange () { // 后车牌号修改按钮
      this.destroyedDialogData('lpnBackShow')
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.lpnBack')
      this.lpnBackRule.model.licensePlateNumberBack = this.ruleForm.licensePlateNumberBack
      this.lpnBackRule.model.licensePlateNumberBackRemark = this.ruleForm.licensePlateNumberBackRemark
      this.changeLpnBack[0].models = this.ruleForm.licensePlateNumberBack
      this.changeLpnBack[1].models = this.ruleForm.licensePlateNumberBackRemark
    },
    addLpnBackTask () { // 后车牌号确定修改按钮
      this.ruleForm.licensePlateNumberBack = this.lpnBackRule.model.licensePlateNumberBack
      this.ruleForm.licensePlateNumberBackRemark = this.lpnBackRule.model.licensePlateNumberBackRemark
      this.addTaskInfo.flag = false
    },
    buttonMinus () { // 减号按钮函数
      this.containerNumber.containerNumberRightShow = false
      this.containerNumber.containerNumberRight = ''
    },
    buttonAdd () { // 加号按钮的函数
      this.containerNumber.containerNumberRightShow = true
      if (this.ruleForm.containerNumber) {
        if (this.ruleForm.containerNumber.split(',')[1]) {
          this.containerNumber.containerNumberRight = this.ruleForm.containerNumber.split(',')[1]
        } else {
          this.containerNumber.containerNumberRight = ''
        }
      }
    },
    containerNumberChange () { //  集装箱号修改按钮
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.containerNo')
      this.destroyedDialogData('containerNoShow')
      this.containerNumber.containerNumberRemark = this.ruleForm.containerNumberRemark
      if (this.ruleForm.containerNumber) {
        this.containerNumber.containerNumberLeft = this.ruleForm.containerNumber.split(',')[0]
        if (this.ruleForm.containerNumber.split(',')[1]) {
          this.containerNumber.containerNumberRightShow = true
          this.containerNumber.containerNumberRight = this.ruleForm.containerNumber.split(',')[1]
        }
      } else {
        this.containerNumber.containerNumberLeft = ''
        this.containerNumber.containerNumberRight = ''
      }
    },
    addContainerNoTask () { // 修改集装箱号后确定按钮
      let {containerNumberRightShow, containerNumberLeft, containerNumberRight, containerNumberRemark} = this.containerNumber
      if (containerNumberRightShow) {
        if ((containerNumberLeft === containerNumberRight) && containerNumberLeft && containerNumberRight) {
          this.confirmModal({msg: this.$t('ViBorder.TC.containerNumberDifferent')})
          return
        }
      }
      this.$refs.containerNoRuleForm.validate((valid) => {
        if (valid) {
          this.addTaskInfo.flag = false
          if (containerNumberRightShow && containerNumberRight) {
            this.ruleForm.containerNumber = `${containerNumberLeft},${containerNumberRight}`
          } else {
            this.ruleForm.containerNumber = containerNumberLeft
          }
          this.ruleForm.containerNumberRemark = containerNumberRemark
        }
      })
    },
    lwhChange () { // 长宽高修改按钮
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.lwh')
      this.destroyedDialogData('lwhNoShow')
      this.lwhRule.model.remark = this.ruleForm.lwhRemark
      this.lwhRule.model.vehicleLength = this.ruleForm.LWH.vehicleLength
      this.lwhRule.model.vehicleWidth = this.ruleForm.LWH.vehicleWidth
      this.lwhRule.model.vehicleHeight = this.ruleForm.LWH.vehicleHeight
      this.lwh.forEach(e => {
        if (e.ruleProp !== 'remark') {
          e.models = this.ruleForm.LWH[e.ruleProp]
        } else if (e.ruleProp === 'remark') {
          e.models = this.ruleForm.lwhRemark
        }
      })
    },
    addLwhTask () { // 修改长宽高确认按钮
      this.addTaskInfo.flag = false
      this.lwh.forEach(e => {
        if (e.ruleProp !== 'remark') {
          this.ruleForm.LWH[e.ruleProp] = e.models
        } else if (e.ruleProp === 'remark') {
          this.ruleForm.lwhRemark = e.models
        }
      })
    },
    totalWeightChange () { // 总重量修改按钮
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.totalWeight')
      this.destroyedDialogData('totalWeightShow')
      this.totalWeightRule.model.remark = this.ruleForm.totalWeightRemark
      this.totalWeightRule.model.totalWeight = this.ruleForm.totalWeight.totalWeight
      this.totalWeight[0].models = this.ruleForm.totalWeight.totalWeight
      this.totalWeight[1].models = this.ruleForm.totalWeightRemark
    },
    addTotalWeightTask () { // 总重量确定
      this.addTaskInfo.flag = false
      this.ruleForm.totalWeight.totalWeight = this.totalWeight[0].models
      this.ruleForm.totalWeightRemark = this.totalWeight[1].models
    },
    axleWeightChange () { // 轴重修改安扭
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.axleWeight')
      this.destroyedDialogData('axleWeightShow')
      this.axleWeight[6].remark = this.ruleForm.axleWeightRemark
      this.axleWeight[6].models = this.ruleForm.axleWeightRemark
      this.axleWeightRule.model.remark = this.axleWeight[6].models
      this.ruleForm.axleWeight.length && this.ruleForm.axleWeight.forEach((e, index) => {
        if (index <= 6) {
          this.axleWeight.forEach((item, val) => {
            if (index === val) {
              item.models = e
              for (let key in item) {
                if (key === 'ruleProp') {
                  // let param = item.ruleProp
                  this.axleWeightRule.model[item.ruleProp] = item.models
                }
              }
            }
          })
        }
      })
      this.regularCheck()
    },
    regularCheck () { // 轴重提交前的表单校验规则改变
      for (let item in this.axleWeightRule.rule) {
        if (item !== 'remark') {
          this.$set(this.axleWeightRule.rule[item], 0, { required: false, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' })
        }
      }
      if (this.axleWeight[5].models) {
        for (let item in this.axleWeightRule.rule) {
          if (item !== 'remark') {
            this.$set(this.axleWeightRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' })
          }
        }
      } else if (this.axleWeight[4].models) {
        for (let item in this.axleWeightRule.rule) {
          if (item !== 'remark' && item !== 'axleWeight6') {
            this.$set(this.axleWeightRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' })
          }
        }
      } else if (this.axleWeight[3].models) {
        for (let item in this.axleWeightRule.rule) {
          if (item !== 'remark' && item !== 'axleWeight5' && item !== 'axleWeight6') {
            this.$set(this.axleWeightRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' })
          }
        }
      } else if (this.axleWeight[2].models) {
        for (let item in this.axleWeightRule.rule) {
          if (item !== 'remark' && item !== 'axleWeight4' && item !== 'axleWeight5' && item !== 'axleWeight6') {
            this.$set(this.axleWeightRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' })
          }
        }
      } else if (this.axleWeight[1].models) {
        for (let item in this.axleWeightRule.rule) {
          if (item !== 'remark' && item !== 'axleWeight3' && item !== 'axleWeight4' && item !== 'axleWeight5' && item !== 'axleWeight6') {
            this.$set(this.axleWeightRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.axleWeightNeed'), trigger: 'blur' })
          }
        }
      }
    },
    addAxleWeightTask () { // 轴重更改确认按钮
      this.addTaskInfo.flag = false
      this.ruleForm.axleWeight = []
      this.axleWeight.forEach((item, val) => {
        if (val <= 5 && item.ruleProp !== 'remark') {
          if (item.models) {
            this.ruleForm.axleWeight.push(item.models)
          }
        } else if (item.ruleProp === 'remark') {
          // console.log(item)
          this.ruleForm.axleWeightRemark = item.models
        }
      })
    },
    wheelBaseChange () { // 轴间距修改按钮
      this.addTaskInfo.title = this.$t('ViBorder.businessLogicCommon.wheelBase')
      this.destroyedDialogData('wheelBaseShow')
      this.wheelBase[6].remark = this.ruleForm.axelDistanceRemark
      this.wheelBase[6].models = this.ruleForm.axelDistanceRemark
      this.wheelBaseRule.model.remark = this.wheelBase[6].models
      this.ruleForm.axelDistance && this.ruleForm.axelDistance.forEach((e, index) => {
        if (index <= 6) {
          this.wheelBase.forEach((item, val) => {
            if (index === val) {
              item.models = e
              for (let key in item) {
                if (key === 'ruleProp') {
                  // let param = item.ruleProp
                  this.wheelBaseRule.model[item.ruleProp] = item.models
                }
              }
            }
          })
        }
      })
      this.wheelBaseRegularCheck()
    },
    addWheelBaseTask () { // 轴间距更改确认按钮
      this.addTaskInfo.flag = false
      this.ruleForm.axelDistance = []
      this.wheelBase && this.wheelBase.forEach((item, val) => {
        if (val <= 5 && item.ruleProp !== 'remark') {
          if (item.models) {
            this.ruleForm.axelDistance.push(item.models)
          }
        } else if (item.ruleProp === 'remark') {
          this.ruleForm.axelDistanceRemark = item.models
        }
      })
    },
    wheelBaseRegularCheck () { // 轴重提交前的表单校验规则改变
      for (let item in this.wheelBaseRule.rule) {
        if (item !== 'remark') {
          this.$set(this.wheelBaseRule.rule[item], 0, { required: false, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' })
        }
      }
      if (this.wheelBase[5].models) {
        for (let item in this.wheelBaseRule.rule) {
          if (item !== 'remark') {
            this.$set(this.wheelBaseRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' })
          }
        }
      } else if (this.wheelBase[4].models) {
        for (let item in this.wheelBaseRule.rule) {
          if (item !== 'remark' && item !== 'wheelBase6') {
            this.$set(this.wheelBaseRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' })
          }
        }
      } else if (this.wheelBase[3].models) {
        for (let item in this.wheelBaseRule.rule) {
          if (item !== 'remark' && item !== 'wheelBase5' && item !== 'wheelBase6') {
            this.$set(this.wheelBaseRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' })
          }
        }
      } else if (this.wheelBase[2].models) {
        for (let item in this.wheelBaseRule.rule) {
          if (item !== 'remark' && item !== 'wheelBase4' && item !== 'wheelBase5' && item !== 'wheelBase6') {
            this.$set(this.wheelBaseRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' })
          }
        }
      } else if (this.wheelBase[1].models) {
        for (let item in this.wheelBaseRule.rule) {
          if (item !== 'remark' && item !== 'wheelBase3' && item !== 'wheelBase4' && item !== 'wheelBase5' && item !== 'wheelBase6') {
            this.$set(this.wheelBaseRule.rule[item], 0, { required: true, message: this.$t('ViBorder.TC.wheelBaseNeed'), trigger: 'blur' })
          }
        }
      }
    },
    cancelTask () { // dialog关闭按钮触发的方法
      // 取消任务
      this.lpnFrontRule.model = {}
      this.lpnBackRule.model = {}
      this.containerNoRule.model = {}
      this.lwhRule.model = {}
      this.containerNumber.containerNumberRightShow = false
      this.totalWeightRule.model = {}
      this.axleWeightRule.model = {}
      this.wheelBaseRule.model = {}
      this.destroyedDialogData()
      // this.axleWeight.splice(1) // 关闭弹窗初始化一下
      // this.wheelBase.splice(1) // 关闭弹窗初始化一下
      // this.addTaskInput[0].models = ''
    },
    lpnImageFrontClick (val) { // 点击前车牌照片的方法
      if (val === 'last') { // 当点击最后一次测量的数据表格时候判断显示
        if (!this.ruleForm.buttonImageData.lpnImageFront.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      } else { // 点击历史数据表格时候判断显示
        if (!this.ruleFormArr[val].buttonImageData.lpnImageFront.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      }
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.msg, {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        param.scb && param.scb()
      }).catch(err => {
        this.ruleForm.checkRemark = this.middleRemark
        this.$set(this.printTableData, 'remark', ``)
        console.log('err', err)
      })
    },
    lpnImageBack (val) { // 点击后车牌照片的方法
      if (val === 'last') { // 当点击最后一次测量的数据表格时候判断显示
        if (!this.ruleForm.buttonImageData.lpnImageBackcontent.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      } else { // 点击历史数据表格时候判断显示
        if (!this.ruleFormArr[val].buttonImageData.lpnImageBackcontent.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      }
    },
    containerImage (val) { // 点击集装箱照片的方法
      if (val === 'last') { // 当点击最后一次测量的数据表格时候判断显示
        if (!this.ruleForm.buttonImageData.containerImagedata.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      } else { // 点击历史数据表格时候判断显示
        if (!this.ruleFormArr[val].buttonImageData.containerImagedata.length) {
          // let param = this.$t('ViBorder.common.nopictrue')
          // this.prompt(param)
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            offset: this.notifyOffset
          })
        }
      }
    },
    initPageData (val) {
      Axios._findDetail(val).then(res => {
        if (res.data.flag === true) { // 页面数据进行初始化
          if (res.data.result) {
            if (res.data.result.length) {
              this.measureVehicleId = res.data.result[0].vehicleMeasure && res.data.result[0].vehicleMeasure.id
              if (res.data.result.length && res.data.result[0].vehicleInspection.length) {
                this.hasApprovalRecord = true
                this.ruleForm.approvalRecord = getConclusion(res.data.result.length && res.data.result[0].vehicleInspection)
              }
            }
            let len = res.data.result.length
            let fn = (len = []) => {
              len.forEach(item => {
                this.ruleFormArr.shift()
              })
            }
            res.data.result.forEach((element, index) => {
              if (index === 0 && !this.isMaunalMeasure) { // 对最后一次扫描的数据进行渲染
                this.ruleForm.numberOfTimes = len // 判断这是第几次次测量
                this.lpnFrontImg = this.ruleForm.buttonImageData.lpnImageFront
                this.initData(this.ruleForm, element)
                this.videoPathIn = element.videoPathIn && `${this.video}${element.videoPathIn}`
                this.videoPathOut = element.videoPathOut && `${this.video}${element.videoPathOut}`
              } else { // 对历史数据进行渲染
                let param = JSON.parse(JSON.stringify(this.ruleForm))
                this.initData(param, element)
                param.numberOfTimes = len - index
                param.buttonImageData.lpnImageFront = Array.from(new Set(param.buttonImageData.lpnImageFront))
                param.buttonImageData.lpnImageBackcontent = Array.from(new Set(param.buttonImageData.lpnImageBackcontent))
                this.lpnFrontImg = param.buttonImageData.lpnImageFront
                this.ruleFormArr.push(param)
                if ((index === len - 1) && this.inMaunalMeasureFlag) {
                  fn(Array(len - 1).fill(1))
                }
              }
            })
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initData (val, element) { // 页面数据赋值公共的方法
      for (var item in val) {
        switch (item) {
          case 'enterAndLeaveTime':
            let enterTunnelTime = element.vehicleMeasure.enterTunnelTime && formatDateTime(element.vehicleMeasure.enterTunnelTime, this.$t('ViBorder.common.formatDate'))
            let leftTunnelTime = element.vehicleMeasure.leftTunnelTime && formatDateTime(element.vehicleMeasure.leftTunnelTime, this.$t('ViBorder.common.formatDate'))
            if (!leftTunnelTime) {
              val[item] = enterTunnelTime || ''
            } else {
              val[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            }
            this.isMeasuring = (!leftTunnelTime && !enterTunnelTime) ? '0' : '1'
            break
          case 'licensePlateNumber':case 'licensePlateNumberBack':case 'containerNumber':
            val[item] = element.vehicleMeasure && element.vehicleMeasure[item]
            break
          case 'LWH':
            for (let vale in val.LWH) { // 对长宽高进行赋值
              val.LWH[vale] = (element.vehicleMeasure && element.vehicleMeasure[vale])
            }
            // val.LWH.vehicleLength = element.vehicleMeasure.vehicleLength
            // val.LWH.vehicleWeight = element.vehicleMeasure.vehicleWeight
            // val.LWH.vehicleWidth = element.vehicleMeasure.vehicleWidth
            break
          case 'lwhStatus': // 对长宽高的标准值进行赋值
            if (element.validationInfos) {
              this.ruleForm[item].vehicleLength = element.validationInfos.LENGTH
              this.ruleForm[item].vehicleWidth = element.validationInfos.WIDTH
              this.ruleForm[item].vehicleHeight = element.validationInfos.HEIGHT
              val[item].vehicleLength = element.validationInfos.LENGTH
              val[item].vehicleWidth = element.validationInfos.WIDTH
              val[item].vehicleHeight = element.validationInfos.HEIGHT
            }
            break
          case 'totalWeight':
            val[item].totalWeight = (element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.totalAmendResult) // 对车辆的重量赋值
            val[item].weightStatus = element.validationInfos && element.validationInfos.TOTALWEIGHT // 对车重的标准值进行赋值
            break
          case 'axleWeight':
            if (element.vehicleMeasure.vehicleWeightVo) {
              val[item] = element.vehicleMeasure.vehicleWeightVo.axelWeightAmendResult && element.vehicleMeasure.vehicleWeightVo.axelWeightAmendResult.split(',') // 对轴重进行赋值
            } else {
              val[item] = ''
            }
            break
          case 'axleWeightstatus':
            val[item] = element.validationInfos && element.validationInfos.AXLEWEIGHT // 对轴重的标准值进行赋值
            break
          case 'checkInVoVideoPath':
            val[item] = element.videoPathIn && `${this.video}${element.videoPathIn}`
            break
          case 'measureVoVieoPath':
            val[item] = element.videoPathOut && `${this.video}${element.videoPathOut}`
            break
          case 'axelDistance':
            if (element.vehicleMeasure.vehicleWeightVo) {
              val[item] = element.vehicleMeasure.vehicleWeightVo && element.vehicleMeasure.vehicleWeightVo.axelDistanceAmendResult && element.vehicleMeasure.vehicleWeightVo.axelDistanceAmendResult.split(',') // 对轴间距进行赋值
            } else {
              val[item] = ''
            }
            break
          case 'axelDistancestatus':
            val[item] = element.validationInfos && element.validationInfos.AXLEWEIGHT // 对轴间距的标准值进行赋值
            break
          case 'buttonImageData':
            if (element.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
              let ccrPhotoArry = element.ccrPhoto.split(',')
              val[item].containerImagedata = ccrPhotoArry.map(e => {
                return `${this.ccrFolder}${e}`
              })
            }
            if (element.lprPhotoPathBack) { // 对后车牌图片按钮进行图片地址赋值
              let lprPhotoPathBack = element.lprPhotoPathBack
              val[item].lpnImageBackcontent.push(`${this.lprFolder}${lprPhotoPathBack}`)
            }
            if (element.lprCheckInPhotoPath) { // 对前车牌图片按钮进行图片地址赋值,检入图片
              let lprCheckInPhotoPath = element.lprCheckInPhotoPath
              val[item].lpnImageFront.unshift(`${this.lprFolder}${lprCheckInPhotoPath}`)
            }
            if (element.lprPhotoPath) { // 对前车牌图片按钮进行图片地址赋值,测量图片
              let lprPhotoPath = element.lprPhotoPath
              val[item].lpnImageFront.push(`${this.lprFolder}${lprPhotoPath}`)
            }
            break
        }
      }
    },
    goBack () {
      // if (parm === 'back') {
      //   let scb = () => {
      //     this.$router.go(-1)
      //     return true
      //   }
      //   this.confirmModal({msg: this.$t('ViBorder.businessLogicCommon.confirmCancellation'), scb: scb})
      // } else {
      // }
      this.$router.push({
        path: '/tc/index'
      })
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    measureAudioPlay (videoPathIn, videoPathOut) { // 点击视频按钮时候触发的方法
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
      if (videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(videoPathIn)
      }
      if (videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        // let param = this.$t('ViBorder.common.noVideo')
        // this.prompt(param)
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    /* **************************** 新需求 **************************** */
    confirmRelease (type) { // 提交按钮
      // if (!this.validateFormMsg()) {
      //   return false
      // }
      let tips = () => {
        let str = ''
        if (type === 'PASSED') {
          str = `${this.$t('ViBorder.businessLogicCommon.pass')}\n${this.ruleForm.checkRemark || ''}`
        } else if (type === 'NOPASS') {
          str = `${this.$t('ViBorder.businessLogicCommon.notPass')}\n${this.ruleForm.checkRemark || ''}`
        } else if (type === 'MANUALMEASURE') {
          str = `${this.$t('ViBorder.businessLogicCommon.manualMeasurement')}\n${this.ruleForm.checkRemark || ''}`
        }
        if (str.length > 500) {
          this.$notify.warning({
            title: this.$t('ViBorder.common.warning'),
            message: this.rules.checkRemark[1].message,
            offset: this.notifyOffset
          })
          return false
        }
        return str
      }
      let passAndNoPass = (type) => {
        this.middleRemark = this.ruleForm.checkRemark
        if (!tips()) {
          return false
        }
        this.ruleForm.checkRemark = tips()
        let options = {
          vehicleId: sessionStorage.vehicleId,
          conclusionType: type,
          conclusionRemark: this.ruleForm.checkRemark
        }
        this.submitMeasureInfo(options)
      }
      let required = (bool) => {
        let inputelement = document.getElementsByClassName('el-textarea__inner')
        let el = ''
        setTimeout(() => {
          if (inputelement && inputelement[0]) {
            el = inputelement[0]
            inputelement[0].focus()
          }
          el.blur()
        }, 200)
        this.rules.checkRemark[0].required = bool
      }
      // 车牌号为空的时候不请求接口生成人工测量任务
      if (!this.ruleForm.licensePlateNumber) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t(`ViBorder.businessLogicCommon.inputLpn`),
          offset: this.notifyOffset
        })
        return false
      }
      // 之前的超限不超限只是为了备注是否必填
      if (type !== 'MANUALMEASURE') {
        // 这个方法掉用通过/不通过的接口
        passAndNoPass(type)
        return false
      }
      this.middleRemark = this.ruleForm.checkRemark
      if (!tips()) {
        return false
      }
      this.ruleForm.checkRemark = tips()
      // this.ruleForm.checkRemark = remarkStr
      // 通过不通过的接口在上面调用
      if (type === 'MANUALMEASURE' && this.ruleForm.checkRemark && (this.ruleForm.checkRemark.length <= 500)) {
        this.confirmModal({
          msg: this.$t('ViBorder.TC.sureMeasureMent'),
          scb: () => {
            let vehicleId = sessionStorage.getItem('vehicleId') || ''
            let measureVehicleId = sessionStorage.getItem('vehicleMeasureId') || ''
            let parm = {
              vehicleId,
              measureVehicleId,
              licensePlateNumber: this.ruleForm.licensePlateNumber,
              licensePlateNumberBack: this.ruleForm.licensePlateNumberBack,
              licensePlateNumberRemark: this.ruleForm.licensePlateNumberRemark,
              licensePlateNumberBackRemark: this.ruleForm.licensePlateNumberBackRemark,
              containerNumber: this.ruleForm.containerNumber,
              containerNumberRemark: this.ruleForm.containerNumberRemark,
              vehicleLength: this.ruleForm.LWH.vehicleLength,
              vehicleWidth: this.ruleForm.LWH.vehicleWidth,
              vehicleHeight: this.ruleForm.LWH.vehicleHeight,
              lmiRemark: this.ruleForm.lwhRemark,
              total: this.ruleForm.totalWeight.totalWeight,
              totalRemark: this.ruleForm.totalWeightRemark,
              axelDistanceRemark: this.ruleForm.axelDistanceRemark,
              axelDistance: this.ruleForm.axelDistance && this.ruleForm.axelDistance.join(),
              axelWeightRemark: this.ruleForm.axleWeightRemark,
              axelWeight: this.ruleForm.axleWeight && this.ruleForm.axleWeight.join(),
              conclusionRemark: this.ruleForm.checkRemark,
              conclusionType: 'MANUALMEASURE'
            }
            // console.log('parm', parm)
            Axios._createManualMeasure(this.$filterNullFields(parm)).then(res => {
              let {flag, result} = res.data
              if (flag) {
                this.maunalMeasureDataInit(result.manualMeasurement, result.vehicleInspection)
                this.remarkIsOnlyRead = true
                // 召唤出人工测量表格组件
                this.isMaunalMeasure = true
                this.inMaunalMeasureFlag = true
                this.initPageData({vehicleId: result.manualMeasurement.vehicleId, vehicleMeasureId: measureVehicleId})
              } else {
                this.ruleForm.checkRemark = ''
              }
              return flag
            }).catch(err => {
              console.log('err', err)
              return false
            })
          }
        })
      }
    },
    // 人工测量完请求回来的数据赋值
    maunalMeasureDataInit (result, vehicleInspection) {
      let axelWeightOriginal = {}
      for (const okey in result) {
        const element = result[okey]
        if (element) {
          if (okey.includes('I18N')) {
            this.printTableData[okey] = this.$t(element.key)
            if (okey.includes('vehicleTypeI18N')) {
              this.printTableData1.vehicleType = this.$t(element.key)
            } else if (okey.includes('brandI18N')) {
              this.printTableData1.brand = this.$t(element.key)
            } else if (okey.includes('trailerVehicleTypeI18N')) {
              this.printTableData1.trailerVehicleType = this.$t(element.key)
            } else if (okey.includes('trailerBrandI18N')) {
              this.printTableData1.trailerBrand = this.$t(element.key)
            }
          } else {
            this.printTableData1[okey] = element
            this.printTableData[okey] = element
          }
        }
      }
      let awo = result && result.axelWeightOriginal
      if (awo) {
        awo.split(',').forEach((item, idx) => {
          Object.assign(axelWeightOriginal, {[`axelWeightOriginal${idx + 1}`]: item})
        })
      }
      let approvalRecord = getConclusion(vehicleInspection)
      this.printTableData1 = {...this.printTableData1, ...axelWeightOriginal, ...{approvalRecord}}
      this.printTableData = {...this.printTableData, ...axelWeightOriginal, ...{approvalRecord}}
    },
    // 非通过和不通过调用接口
    submitMeasureInfo (options) {
      this.$refs.ruleFormTop.validate((valid) => {
        if (valid) {
          let params = {}
          params.measureVehicleId = this.measureVehicleId
          if (this.ruleForm.licensePlateNumberRemark !== '') {
            params.licensePlateNumberRemark = this.ruleForm.licensePlateNumberRemark
          }
          if (this.ruleForm.licensePlateNumber) {
            params.licensePlateNumber = this.ruleForm.licensePlateNumber
          }
          if (this.ruleForm.licensePlateNumberBackRemark !== '') {
            params.licensePlateNumberBack = this.ruleForm.licensePlateNumberBack
            params.licensePlateNumberBackRemark = this.ruleForm.licensePlateNumberBackRemark
          }
          if (this.ruleForm.containerNumberRemark !== '') {
            params.containerNumber = this.ruleForm.containerNumber
            params.containerNumberRemark = this.ruleForm.containerNumberRemark
          }
          if (this.ruleForm.lwhRemark !== '') {
            params.vehicleLength = this.ruleForm.LWH.vehicleLength
            params.vehicleWidth = this.ruleForm.LWH.vehicleWidth
            params.vehicleHeight = this.ruleForm.LWH.vehicleHeight
            params.lmiRemark = this.ruleForm.lwhRemark
          }
          if (this.ruleForm.totalWeightRemark !== '') {
            params.total = this.ruleForm.totalWeight.totalWeight
            params.totalRemark = this.ruleForm.totalWeightRemark
          }
          if (this.ruleForm.axelDistanceRemark !== '') {
            params.axelDistanceRemark = this.ruleForm.axelDistanceRemark
            params.axelDistance = this.ruleForm.axelDistance && this.ruleForm.axelDistance.join()
          }
          if (this.ruleForm.axleWeightRemark !== '') {
            params.axelWeightRemark = this.ruleForm.axleWeightRemark
            params.axelWeight = this.ruleForm.axleWeight && this.ruleForm.axleWeight.join()
          }
          let upParams = this.filterNullFields({...params, ...options})
          upParams.vehicleId = options.vehicleId
          upParams.licensePlateNumberBack = this.ruleForm.licensePlateNumberBack ? this.ruleForm.licensePlateNumberBack : ''
          upParams.containerNumber = this.ruleForm.containerNumber ? this.ruleForm.containerNumber : ','
          let scb = () => {
            Axios._confirmRelease(upParams).then(res => {
              if (res.data.flag) {
                this.$notify.success({
                  title: this.$t('ViBorder.common.successfuly'),
                  message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
                  offset: this.notifyOffset
                })
                this.$router.push({
                  path: '/tc/index'
                })
              } else {
                this.ruleForm.checkRemark = ''
              }
            }).catch(err => {
              console.log('err', err)
            })
          }
          this.confirmModal({msg: upParams.conclusionType === 'PASSED' ? this.$t('ViBorder.businessLogicCommon.confirmPass') : this.$t('ViBorder.businessLogicCommon.confirmNotPass'), scb: scb})
        } else {
          let message = ''
          if (!this.ruleForm.checkRemark) {
            message = this.rules.checkRemark[0].message
            this.$notify.warning({
              title: this.$t('ViBorder.common.warning'),
              message,
              offset: this.notifyOffset
            })
          } else if (this.ruleForm.checkRemark.length > 500) {
            message = this.rules.checkRemark[1].message
            this.$notify.warning({
              title: this.$t('ViBorder.common.warning'),
              message,
              offset: this.notifyOffset
            })
          }
        }
      })
    },
    saveConcluType (upParams = {}) {
      Axios._confirmRelease({...upParams, measureVehicleId: this.measureVehicleId, vehicleId: sessionStorage.getItem('vehicleId'), conclusionRemark: this.printTableData.remark}).then(res => {
        if (res.data.flag) {
          this.$notify.success({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
            offset: this.notifyOffset
          })
          if (upParams.conclusionType === 'PASSED') {
            this.$router.back()
          }
        } else {
          this.ruleForm.checkRemark = ''
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // 人工测量的通过和保存的接口
    updateManualMeasure (options, type) {
      Axios._updateManualMeasure(options).then(res => {
        let {flag, result} = res.data
        if (flag) {
          this.printTableData1.isSavePass = true
          if (type) {
            this.saveConcluType({conclusionType: type})
          } else {
            this.$notify.success({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
              offset: this.notifyOffset
            })
            this.$router.back()
            // this.requestMMInfo(false)
          }
        }
        return flag
      }).catch(err => {
        console.log('err', err)
        return false
      })
    },
    manualPass () {
      if (!this.validateFormMsg()) {
        return false
      }
      this.$set(this.printTableData, 'remark', `${this.$t('ViBorder.businessLogicCommon.pass')}\n${this.printTableData.remark || ''}`)
      // 人工测量完之后点击pass
      let options = {conclusionType: 'PASSED'}
      // console.log('fuck u', {...options, ...this.filterNullFields(this.printTableData)})
      let scb = () => {
        this.updateManualMeasure({...options, ...this.filterNullFields(this.printTableData)}, 'PASSED')
      }
      this.confirmModal({msg: this.$t('ViBorder.businessLogicCommon.confirmPass'), scb})
    },
    manualSave () { // 人人工测量生成之后的保存
      if (!this.validateFormMsg()) {
        return false
      }
      // 人工测量完之后点击pass
      let options = this.filterNullFields(this.printTableData)
      // console.log('fuck u', options)
      let scb = () => {
        this.updateManualMeasure(options, '')
      }
      this.confirmModal({msg: this.$t('ViBorder.businessLogicCommon.confirmSubmit'), scb})
    },
    print () { // 人工测量生成之后的打印
      this.printTableData = this.filterNullFields(this.printTableData)
      if (!this.isTapPrintBtn) {
        this.isTapPrintBtn = true
        Print({
          printable: 'printJS-table',
          type: 'html',
          // 继承原来的所有样式
          targetStyles: ['*']
        })
        this.isTapPrintBtn = false
        return false
      }
    },
    lwhIsExceedsTheStandard () { // 长宽高
      // 标准值
      let {vehicleLength, vehicleWidth, vehicleHeight} = this.ruleForm.lwhStatus
      let {LWH} = this.ruleForm
      let arr = []
      // 按照实际值大于标准值判断 数组返回false说明有超限的
      for (const key in LWH) {
        const element = LWH[key]
        arr.push(Number(element) > Number(this.ruleForm.lwhStatus[key]))
      }
      return arr
    },
    totalWeightIsExceedsTheStandard () { // 获取轴重是否超限
      let {totalWeight, weightStatus} = this.ruleForm.totalWeight
      return [Number(totalWeight) > Number(weightStatus)]
    },
    axleWeightIsExceedsTheStandard () { // 获取轴间距是否超限
      let {axleWeight, axleWeightstatus} = this.ruleForm
      return [axleWeight && axleWeight.some(item => {
        return Number(item) > Number(axleWeightstatus)
      })]
    },
    getIsExceedsTheStandard () { // 获取是否有超限数值
      return [...new Set([...this.lwhIsExceedsTheStandard(), ...this.totalWeightIsExceedsTheStandard(), ...this.axleWeightIsExceedsTheStandard()])].some(item => {
        return item === true
      })
    },
    // 获取人工测量数据
    queryManualMeasure (options, vehicleMeasureId, isInit) {
      Axios._queryManualMeasure(options).then(res => {
        let {flag, result} = res.data
        if (flag) {
          if (result && result.manualMeasurement) {
            this.isMaunalMeasure = true
            this.remarkIsOnlyRead = true
            this.maunalMeasureDataInit(result.manualMeasurement, result.vehicleInspection)
          }
          if (isInit) {
            this.initPageData({vehicleId: options.vehicleId, vehicleMeasureId})
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    validateFormMsg () {
      let tipsInfo = []
      // 找到没有填写的必填项
      if (document.querySelector('.el-form-item__error')) {
        tipsInfo.push(`${document.querySelector('.el-form-item__error').innerHTML}`)
      }
      // 判断是否有项目咩填写
      let hasErr = tipsInfo[0]
      if (hasErr) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: hasErr,
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      } else {
        return true
      }
    }
  },
  components: {printTable}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.el-popover {
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .tc-operation {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#tc-operation {
  @extend .extend-bar;
  .tc-M {
    padding: $margin;
    box-sizing: border-box;
    position: relative;
    .table-info {
      width: $all;
      height: 100%;
      margin-right: $margin;
      @include flex(column, start);
      .panel {
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        height: calc(100% - 2px);
        margin-bottom: 0px;
        .left-bar {
          @extend .extend-bar;
          width: $all;
          // border: #ddd solid 1px;
          .print-table-on-print, .print-table-on-page {
            padding: 0 5%;
            margin: 15px 10%;
            padding-bottom: 10px;
            border: 1px solid #ddd;
          }
          .print-table-on-print {
            display: none;
          }
          .tableForm {
            // height: 400px;
            padding: 0 5%;
            margin: 15px 10%;
            padding-bottom: 10px;
            border: 1px solid #ddd;
            .title {
              height: 30px;
              line-height: 30px;
              font-size: 14px;
              text-align: left;
              font-weight: bold;
              // padding-left: 9px;
            }
            .data-panel {
              width: $all * .6;
              @include flex(row,space-between);
              padding: 0 $margin;
              .iconfont {
                // display: block;
                margin-left: 15px;
                color: #1782d4;
              }
              .el-input {
                width: $all * 0.35;
              }
              .el-textarea {
                padding: 4px 0;
              }
              .border-style {
                width: $all * .15;
                height: 20px;
                @include flex();
                border-radius: 6px;
                border: 1px solid #ddd;
              }
              .border-style.danger-border {
                border: 1px dashed red;
              }
              .text-color {
                color: red;
              }
              .iconfont {
                font-size: $headerRight;
                cursor: pointer;
              }
            }
            .statusStart {
              @include flex(row, flex-start);
              text-align: left;
              .border-style {
                margin-right: 10px;
              }
            }
            .el-form {
              width: calc(100% - 20px);
              // margin: $dis10;
              @include box-sizing;
              border: 1px solid $panelBorder;
              .btn-style {
                margin: $margin;
              }
              .el-form-item {
                width: $all;
                display: flex;
                margin: 0px;
                .el-form-item__label {
                  @extend .extend-table-form-left-style;
                  border: none;
                  height: $all;
                  border-right: 1px solid #ddd;
                }
                .el-form-item__content {
                  @extend .extend-table-form-content-style;
                  width: $all;
                  padding: 0;
                  .common-img {
                    cursor: pointer;
                    height: $large;
                    width: $large;
                  }
                  .lpn-front {
                    background: $carBg  top -15% center no-repeat;
                  }
                  .lpn-back {
                    background: $carBg  top 48% center no-repeat;
                  }
                  .container {
                    background: $carBg  top 115% center no-repeat;
                  }
                  .leaving-time {
                    background: $videoBg top 50%  center no-repeat;
                  }
                }
                // .el-form-item__error {
                //   // display: none;
                // }
                .remark-text {
                  line-height: 40px;
                  text-align: left;
                }
                &:last-child {
                  .el-form-item__content {
                    margin: 0px;
                    width: $all;
                    border-bottom: none;
                    .el-form-item__error {
                      display: none;
                    }
                  }
                }
              }
            }
          }
          .containernumber {
            .el-form {
              .containerNumberLeft {
                .el-form-item__content {
                  .el-form-item__error {
                    display: block;
                  }
                }
              }
            }
          }
        }
        .button {
          height: 80px;
          width: $all;
          @include flex(row, center)
        }
        .button.has-right {
          width: 80%;
          margin: 0 10%;
          position: relative;
          .right-btn {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -$margin;
          }
        }
      }
    }
    #dialog {
      .el-dialog {
        width: 30%;
        @media screen and (max-width: 1640px) {
          width: 40%!important;
        }
        .el-dialog__header {
          padding: 20px 20px 10px;
          width: auto;
        }
        .el-dialog__body {
          padding: 0px 20px;
          .el-form {
            .el-form-item {
              margin-bottom: 20px;
              width: $all;
              .el-form-item__label {
                text-align: left;
                // display: none;
              }
              .el-form-item__error {
                text-align: left;
              }
            }
            .search-form-btn {
              text-align: right;
            }
          }
        }
      }
    }
    .containerNumberLeft {
      .el-form-item__content {
        @include flex(column, flex-start, flex-start);
        align-items: stretch;
        .data-panel {
          display: flex;
          .el-input {
            margin-right: $margin;
          }
        }
      }
    }
    .buttonClass {
      text-align: right;
      .el-form-item__content {
        margin-bottom: 20px;
      }
    }
    .audio-one {
      #dialog .el-dialog {
        // width: 80%!important;
        width: 510px!important;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px!important;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
  }
}
</style>
