<template>
  <div id="pi-detailTunnel" v-bar>
    <!-- 左侧开始 -->
    <div class="pi-M">
      <div class="table-info">
        <!-- 左侧基本信息开始 -->
        <div class="panel panel-top">
          <panelTitle :panelTitleInit="panelTitle.BI"> </panelTitle>
          <div class="left-bar" v-bar>
            <div>
              <tableForm :searchIpt="inputItem" :searchFunc="hasBtn = false" :formRule='formRule'></tableForm>
            </div>
          </div>
        </div>
        <!-- 左侧基本信息结束 -->
        <div class="panel" :class="[!overRun ? 'panel-middle' : '', (ruleForm.manuelConclusion || ruleForm.manuelRemark) ? '' : 'panel-no-bottom']">
          <!-- 信息比对开始 -->
          <panelTitle :panelTitleInit="panelTitle.IC"></panelTitle>
          <el-collapse-transition>
            <div class="left-bar" v-bar>
              <div class="tableForm">
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                  <el-form-item v-if="overRun">
                    <!-- 驶入通道和离开通道时间 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')">{{$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.enterAndLeaveTime}}</span>
                      <div class="leaving-time common-img" @click="measureAudioPlay(ruleForm.checkInVoVideoPath, ruleForm.measureVoVieoPath)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <!-- lpn(Front)鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.licensePlateNumber}}</span>
                      <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div class="lpn-front" @click="lpnImageFrontClick">
                        <el-popover placement="left" :disabled="this.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageFront" :key="index">
                              <img :src="item" class="pi-detailimg">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item v-if="overRun">
                    <!-- lpn(back)鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.licensePlateNumberBack}}</span>
                      <!-- lpn（back）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div class="lpn-front" @click="lpnImageBack">
                        <el-popover placement="left" :disabled="this.buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageBackcontent" :key="index">
                              <img :src="buttonImageData.lpnImageBackcontent[0]" class="pi-detailimg">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item v-if="overRun">
                    <!-- 集装箱鼠标放上去会有提示 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.containerNumber}}</span>
                      <!-- 集装箱后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                      <div  @click="containerImage">
                        <el-popover placement="left" :disabled="this.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                          <el-carousel trigger="click" :autoplay="imagePlay">
                            <el-carousel-item v-for="(item, index) in buttonImageData.containerImagedata" :key="index">
                              <img :src="item" class="pi-detailimg">
                            </el-carousel-item>
                          </el-carousel>
                          <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                        </el-popover>
                      </div>
                    </div>
                  </el-form-item>
                  <el-form-item v-if="overRun">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                      <template v-if="ruleForm.LWH.vehicleLength || ruleForm.LWH.vehicleWidth || ruleForm.LWH.vehicleHeight">
                        <span v-for="(item, index) in ruleForm.LWH" :class="ruleForm.LWH[index] - ruleForm.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                      </template>
                    </div>
                  </el-form-item>
                  <el-form-item v-if="overRun">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                      <span v-if="ruleForm.totalWeight.totalWeight" class="border-style" :class="ruleForm.totalWeight.totalWeight - ruleForm.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{ruleForm.totalWeight.totalWeight}}</span>
                    </div>
                  </el-form-item>
                  <el-form-item v-if="overRun">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                      <template v-if="ruleForm.axleWeight">
                        <span v-for="(item, index) in ruleForm.axleWeight" :class="item - ruleForm.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                      </template>
                      <!-- <div v-if="ruleForm.axleWeight">
                      </div> -->
                    </div>
                  </el-form-item>
                  <el-form-item v-if="overRun">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                    <div class="data-panel statusStart">
                      <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                      <template v-if="ruleForm.wheelbase">
                        <span v-for="(item, index) in ruleForm.wheelbase" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                      </template>
                    </div>
                  </el-form-item>
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.dcConclusion')">{{$t('ViBorder.businessLogicCommon.dcConclusion')}}</label>
                    <div class="data-panel">
                      <span :class="isRedColor ? 'text-color' : ''">{{ruleForm.comparisonConclusion}}</span>
                    </div>
                  </el-form-item>
                  <el-form-item class="remak-top">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.inspectionDcRemark')">{{$t('ViBorder.businessLogicCommon.inspectionDcRemark')}}</label>
                    <div class="data-panel">
                      <div v-html="ruleForm.comparisonRemark" class="remark"></div>
                    </div>
                  </el-form-item>
                </el-form>
                <!-- <tableForm v-if="outVehicleInfo.isOutVehicle" :searchIpt="outVehicleInfo.inputItem" :searchFunc="hasBtn = false" :formRule='outVehicleInfo.formRule'></tableForm> -->
              </div>
            </div>
          </el-collapse-transition>
          <div class="btn-group" v-if="!ruleForm.manuelConclusion && !ruleForm.manuelRemark">
            <el-button type="primary" @click="exportImg">{{$t('ViBorder.common.export', {msg: ''})}}</el-button>
            <el-button @click="back">{{$t('ViBorder.common.close')}}</el-button>
          </div>
        </div>
          <!-- 信息比对结束 -->
        <div class="panel parentUpDown" v-if="ruleForm.manuelConclusion || ruleForm.manuelRemark">
          <!-- 手检信息开始 -->
          <panelTitle :panelTitleInit="panelTitle.MC"></panelTitle>
          <el-collapse-transition>
            <div class="left-bar" v-bar>
              <div class="tableForm">
                <el-form :model="ruleForm" :rules="ruleForm.rules" ref="ruleForm">
                  <el-form-item>
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.inspectionPiConclusion')">{{$t('ViBorder.businessLogicCommon.inspectionPiConclusion')}}</label>
                    <div class="data-panel">
                      <span>{{ruleForm.manuelConclusion}}</span>
                    </div>
                  </el-form-item>
                  <el-form-item class="remak-top">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.remark')">{{$t('ViBorder.businessLogicCommon.remark')}}</label>
                    <div class="data-panel">
                      <div v-html="ruleForm.manuelRemark" class='remark'></div>
                    </div>
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </el-collapse-transition>
          <div class="btn-group">
            <el-button type="primary" @click="exportImg">{{$t('ViBorder.common.export', {msg: ''})}}</el-button>
            <el-button @click="back">{{$t('ViBorder.common.close')}}</el-button>
          </div>
        </div>
          <!-- 手检信息结束 -->
      </div>
      <!-- 视频图层 -->
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{$t('ViBorder.businessLogicCommon.enterVideo')}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{$t('ViBorder.businessLogicCommon.leaveVideo')}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <!-- 右侧图像 -->
      <div class="right">
        <el-tabs type="border-card">
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane v-if="isShowTabAsycuda" :label="$t('ViBorder.businessLogicCommon.asycudaTab')">
            <div class="single-img">
              <div class="not-scan-img">
                {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')">
            <div class="single-img">
              <otherSystem :conclusionList="conclusionList"></otherSystem>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <!-- 文件导出 -->
    <!-- <Dialog :modalData="{flag: true}"> -->
    <Ecsi :exportInfo="exportInfo"></Ecsi>
    <!-- </Dialog> -->
  </div>
</template>
<script>
import Ecsi from '../../components/common/ExportConclusionScanImage'
import initExportData from '../../components/common/ECSIData'
import handleData from '../../api/CI/index.js'
import export2Img from '../../lib/export2Img.js'
// import swipe from '../../components/common/swipe'
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.recheckFolder}`,
      overRun: true, // 是否为超限车辆
      imagePlay: false, // 图片按钮点击后
      outVehicleInfo: {
        // 是否出口超限货车
        isOutVehicle: false,
        inputItem: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'licensePlateNumber'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.dcConclusion'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'conclusionType'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.inspectionDcRemark'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'conclusionRemark'
          }
        ],
        formRule: { // 表单验证和存放数据 model=> post到后台的数据
          refName: 'middleInfo',
          model: {},
          rule: {}
        }
      },
      // swipe: {
      //   fileList: [],
      //   propOption: {
      //     propId: 1538215353132,
      //     deleteFlag: true
      //   }
      // },
      panelTitle: { // 主页面左侧标题
        BI: {
          title: this.$t('ViBorder.businessLogicCommon.checkInfo')
        },
        IC: {
          title: this.$t('ViBorder.businessLogicCommon.infoCom')
        },
        MC: {
          title: this.$t('ViBorder.PI.infManualCheck')
        }
      },
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        checkinVideoData: { // 存放登记时候的视屏会赋值到dialogData
          checkInVideoPathIn: '',
          checkInVideoPathOut: '',
          measureVideoPathIn: '',
          measureVideoPathOut: ''
        },
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.checkInVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'onlyRead',
          models: '',
          hasBtn: true,
          hasClearBtn: true, // 当有一个不需要必填验证的按钮
          ruleProp: 'checkInTime',
          btnOperate: {
            btnText: '',
            fn: this.audioPlay
          }
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
          // isColor: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none'
        }
      ],
      needInsertData: {
        from: {
          getLabel: this.$t('ViBorder.businessLogicCommon.from'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'originPortCode'
        },
        trailer: {
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'trailer'
        }
      },
      needAndContent: [ // 这里是入境和转关起始需要加入的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'logistics'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'destPortI18N'
        }
      ],
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        ruels: {
          xrayScan: [ // xrayScan校验
            { required: true, message: this.$t('ViBorder.businessLogicCommon.xrayScanWarn'), trigger: 'blur' }
          ]
        }
      },
      buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
        scanPath: '',
        lpnImageFront: [],
        lpnImageBackcontent: [],
        containerImagedata: []
      },
      rules: {
      },
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 检入的视频地址
      videoPathOut: '', // 检出的视频地址
      ruleForm: {
        containerNumber: '', // 集装箱号
        comparisonRemark: '', // 数据比对备注
        licensePlateNumberBack: '', // 后车牌号
        delivery: false,
        comparisonConclusion: '', // 数据比对结论
        licensePlateNumber: '', // 前车牌号
        enterAndLeaveTime: '',
        lwhStatus: { // 长宽高的标准值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: { // 长宽高值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        totalWeight: {
          weightStatus: '', // 总重量的标准值
          totalWeight: '' // 总重量
        },
        axleWeightstatus: '', // 轴重标准值
        axleWeight: [], // 轴重的值
        wheelbase: [],
        manuelConclusion: '', // 手检比对结论
        manuelRemark: '' // 手检比对备注
      },
      tabInfo: { // tab标签页数据
        singleImgInfo: { // 单张图显示
        },
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [ // 扫描文件viewer数据
        ]
      },
      exportInfo: {},
      isShowTabAsycuda: ``,
      isAllowExport: true,
      conclusionList: [],
      isRedColor: false,
      suspicionMark: '' // 比对是否画标记
    }
  },
  created () {
    let initPageData = sessionStorage.getItem('vehicleId')
    this.initPageData({vehicleId: initPageData})
  },
  methods: {
    getExportConclusion ({result}) { // 获取导出图片信息
      this.exportInfo = initExportData({result, type: 2, mainTitle: this.$t('ViBorder.businessLogicCommon.inquiry')})
    },
    initPageData (val) { // 初始化页面数据
      const loading = this.$loading({
        lock: true,
        text: this.$t('ViBorder.common.loading'),
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.6)'
      })
      handleData._openTask(val).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          let {jointConfirm} = result.checkInVO
          // jointConfirm && otherHoverData(jointConfirm, this.conclusionList)
          this.conclusionList = jointConfirm ? this.$otherHoverData(jointConfirm) : []
          // 是否显示分析图片
          if (result.measureVO && result.measureVO.vehicleXray) {
            let savePath = result.measureVO.vehicleXray.savePath && result.measureVO.vehicleXray.savePath.split(',')[0] // 获取扫描图路径
            let path = savePath && savePath.substring(0, savePath.lastIndexOf('/')) // 截取掉图片名
          }
          this.getExportConclusion({result})
          /**
           * 1: 进口或转关起始
           * 2: 出口
           * 3：转关到达
           */
          // 进口 货车（商品车）、空车
          if (result.checkInVO && result.checkInVO.businessType === '1') {
            let {left, right} = this.$splitArr(this.inputItem, 4)
            this.inputItem = [...left, ...this.needAndContent, ...right]
            let arr = this.$splitArr(this.inputItem, 7)
            this.inputItem = [...arr.left, ...[this.needInsertData.trailer], ...arr.right]
          }
          //  出口
          if (result.checkInVO && result.checkInVO.businessType === '2') {
            // 超限车
            if (result.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') {
              //  如果是超限货车 只要中间的比对结论
              // this.overRun = false
            } else if (result.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || result.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') {
              // 货车商品车
            }
          }
          //  出口 转关到达
          if (result.checkInVO && result.checkInVO.businessType === '3') {
            // 超限车
            this.inputItem.unshift(this.needInsertData.from)
            if (result.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') {
              //  如果是超限货车 只要中间的比对结论
              // this.overRun = false
            }
          }
          // 如果是空车 不显示风险等级 不显示asycuda
          if (result.checkInVO && result.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') {
            this.inputItem.forEach((item, index) => {
              if (item.ruleProp === 'riskLevel') {
                this.inputItem.splice(index, 1)
              }
            })
            this.isShowTabAsycuda = false
          } else {
            this.isShowTabAsycuda = true
          }
          let checkInVehicleData = ''
          // this.conclusionList.forEach(item => {
          //   item.conclusionTime = this.$formatDateTime(result.jointInspectionTime, this.$t('ViBorder.common.formatDate'))
          // })
          checkInVehicleData = result.checkInVO && result.checkInVO.vehicleCheckIn
          let measureVOData = ''
          if (result.checkInVO) {
            if (result.checkInVO.scannedDocMap) { // 对扫描文件进行赋值
              this.tabInfo.pageImg.length = 0
              for (let item in result.checkInVO.scannedDocMap) {
                let scannedNumber = {}
                scannedNumber.title = this.$t(result.checkInVO.scannedDocMap[item].docTypeI18n.key)
                scannedNumber.url = result.checkInVO.scannedDocMap[item].docPath.split(',').map(e => {
                  return `${this.manifestFolder}${e}`
                })
                this.tabInfo.pageImg.push(scannedNumber)
              }
            }
            this.videoPathIn = (result.checkInVO.videoPathIn && `${this.video}${result.checkInVO.videoPathIn}`) || '' // 对视频地址赋值
            this.videoPathOut = (result.checkInVO.videoPathOut && `${this.video}${result.checkInVO.videoPathOut}`) || '' // 对视频地址赋值
            this.baseInformation(result, checkInVehicleData)
          } else {
            this.audioData.checkinVideoData.checkInVideoPathIn = ''
            this.audioData.checkinVideoData.checkInVideoPathOut = ''
          }
          measureVOData = result.measureVO
          this.suspicionMark = result.suspicionMark
          if (measureVOData) {
            let checkInLprPhotoPath = checkInVehicleData && checkInVehicleData.lprPhotoPath && `${this.lprFolder}${checkInVehicleData.lprPhotoPath}`
            let measureLprPhotoPath = measureVOData.lprPhotoPath && `${this.lprFolder}${measureVOData.lprPhotoPath}`
            let lprPhotoPathBack = measureVOData.lprPhotoPathBack && `${this.lprFolder}${measureVOData.lprPhotoPathBack}`
            this.buttonImageData.lpnImageFront.length = 0 // 清空前车牌号数组对前车牌号赋值
            if (checkInLprPhotoPath) {
              this.buttonImageData.lpnImageFront.push(checkInLprPhotoPath)
            }
            this.buttonImageData.lpnImageBackcontent.length = 0
            if (lprPhotoPathBack) {
              this.buttonImageData.lpnImageBackcontent.push(lprPhotoPathBack)
            }
            if (measureLprPhotoPath) {
              this.buttonImageData.lpnImageFront.push(measureLprPhotoPath)
            }
            if (measureVOData.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
              let ccrPhotoArry = measureVOData.ccrPhoto.split(',')
              this.buttonImageData.containerImagedata = ccrPhotoArry.map(e => {
                return `${this.ccrFolder}${e}`
              })
            }
            this.ruleForm.checkInVoVideoPath = measureVOData.videoPathIn && `${this.video}${measureVOData.videoPathIn}` // 对mearsur视频地址进行赋值
            this.ruleForm.measureVoVieoPath = measureVOData.videoPathOut && `${this.video}${measureVOData.videoPathOut}` // 对mearsue视频地址进行赋值
            this.ruleForm.licensePlateNumberBack = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure.licensePlateNumberBack // 后车牌号赋值
          }
          // 车牌号单图像查看组件赋值
          if (result.checkInVO && result.checkInVO.vehicleLpr) {
            this.tabInfo.singleImgInfo = {
              left: result.checkInVO.vehicleLpr.amendResult,
              right: this.$formatDateTime(result.checkInVO.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')),
              src: result.checkInVO.vehicleLpr.photoPath && `${this.lprFolder}${result.checkInVO.vehicleLpr.photoPath}`
            }
          }
          this.informationComparison(result)
          if (result.dcConclusion) {
            if (result.dcConclusion.conclusionType.value === 'SUSPICION') {
              this.isRedColor = true
            } else {
              this.isRedColor = false
            }
          }
          loading.close()
        } else {
          loading.close()
        }
      }).catch(err => {
        loading.close()
        console.log('err', err)
      })
    },
    baseInformation (result, checkInVehicleData) { // 基本信息的渲染方法
      this.inputItem.forEach(e => {
        switch (e.ruleProp) {
          case 'checkInTime':
            e.models = checkInVehicleData.checkInTime && this.$formatDateTime(checkInVehicleData.checkInTime, this.$t('ViBorder.common.formatDate'))
            break
          case 'declarationNumber':case 'fileScanAmount':case 'remark':case 'asycudaCode':case 'licensePlateNumberBack':
            e.models = checkInVehicleData[e.ruleProp]
            break
          case 'businessTypeI18N':case 'vehicleTypeI18N':case 'destPortI18N':
            e.models = checkInVehicleData[e.ruleProp] && this.$t(checkInVehicleData[e.ruleProp].key)
            break
          case 'entryTunnel':case 'xrayScan':case 'trailer':case 'logistics':
            if (checkInVehicleData[e.ruleProp]) {
              e.models = this.$t('ViBorder.common.yes')
            } else {
              e.models = this.$t('ViBorder.common.error')
            }
            break
          case 'riskLevel':
            if (checkInVehicleData.riskLevel) {
              if (checkInVehicleData.riskLevel.value === 'GREEN') {
                e.models = '2'
              }
              if (checkInVehicleData.riskLevel.value === 'YELLOW') {
                e.models = '1'
              }
              if (checkInVehicleData.riskLevel.value === 'RED') {
                e.models = '0'
              }
            }
            break
          case 'originPortCode':
            e.models = result.checkInVO.vehicleCheckIn && result.checkInVO.vehicleCheckIn.originPortI18N && this.$t(result.checkInVO.vehicleCheckIn.originPortI18N.keyShort)
            break
        }
      })
    },
    informationComparison (result) {
      this.outVehicleInfo.inputItem.forEach(ele => {
        if (ele.ruleProp === 'licensePlateNumber') {
          ele.models = (result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure.licensePlateNumber) || (result.checkInVO.vehicleCheckIn && result.checkInVO.vehicleCheckIn.licensePlateNumber)
        } else if (ele.ruleProp === 'conclusionType') {
          if (result.dcConclusion) {
            ele.models = this.$t(result.dcConclusion.conclusionType.key)
            if (result.dcConclusion.conclusionType.value === 'SUSPICION') {
              ele.color = 'red'
            } else {
              ele.color = ''
            }
          }
        } else if (ele.ruleProp === 'conclusionRemark') {
          ele.models = result.dcConclusion && result.dcConclusion.conclusionRemark
        }
      })
      for (let item in this.ruleForm) {
        switch (item) {
          case 'containerNumber':
            this.ruleForm[item] = result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure[item]
            break
          case 'licensePlateNumber':
            this.ruleForm[item] = (result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure.licensePlateNumber) || (result.checkInVO.vehicleCheckIn && result.checkInVO.vehicleCheckIn.licensePlateNumber)
            break
          case 'enterAndLeaveTime':
            let enterTunnelTime = result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure.enterTunnelTime && this.$formatDateTime(result.measureVO.vehicleMeasure.enterTunnelTime, this.$t('ViBorder.common.formatDate'))
            let leftTunnelTime = result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure.leftTunnelTime && this.$formatDateTime(result.measureVO.vehicleMeasure.leftTunnelTime, this.$t('ViBorder.common.formatDate'))
            if (enterTunnelTime && leftTunnelTime) {
              this.ruleForm[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            } else if (enterTunnelTime) {
              this.ruleForm[item] = enterTunnelTime
            } else if (leftTunnelTime) {
              this.ruleForm[item] = leftTunnelTime
            }
            break
          case 'LWH':
            for (let vale in this.ruleForm.LWH) { // 对长宽高进行赋值
              this.ruleForm.LWH[vale] = result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure[vale]
            }
            break
          case 'lwhStatus': // 对长宽高的标准值进行赋值
            this.ruleForm[item].vehicleLength = result.measureVO.validationInfos && result.measureVO.validationInfos.LENGTH
            this.ruleForm[item].vehicleWidth = result.measureVO.validationInfos && result.measureVO.validationInfos.WIDTH
            this.ruleForm[item].vehicleHeight = result.measureVO.validationInfos && result.measureVO.validationInfos.HEIGHT
            break
          case 'totalWeight':
            this.ruleForm[item].totalWeight = result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure.vehicleWeight // 对车辆的重量赋值
            this.ruleForm[item].weightStatus = result.measureVO.validationInfos && result.measureVO.validationInfos.TOTALWEIGHT // 对车重的标准值进行赋值
            break
          case 'axleWeight':
            this.ruleForm[item] = result.measureVO.axelWeight && result.measureVO.axelWeight.split(',') // 对轴重进行赋值
            // this.ruleForm[item] = this.ruleForm[item] && this.ruleForm[item].map(function (item) {
            //   return Number(item)
            // })
            break
          case 'wheelbase':
            this.ruleForm[item] = result.measureVO.axelDistance && result.measureVO.axelDistance.split(',')
            break
          case 'axleWeightstatus':
            this.ruleForm[item] = result.measureVO.validationInfos && result.measureVO.validationInfos.AXLEWEIGHT // 对轴重的标准值进行赋值
            break
          case 'comparisonConclusion':
            this.ruleForm[item] = result.dcConclusion && this.$t(result.dcConclusion.conclusionType.key)
            break
          case 'manuelConclusion':
            this.ruleForm[item] = result.piConclusion && this.$t(result.piConclusion.conclusionType.key)
            break
          case 'manuelRemark':
            this.ruleForm[item] = result.piConclusion && result.piConclusion.conclusionRemark
            break
          case 'comparisonRemark':
            this.ruleForm[item] = result.dcConclusion && result.dcConclusion.conclusionRemark
            break
        }
      }
    },
    exportImg () {
      // 文件导出
      if (!this.isAllowExport) {
        return false
      }
      this.isAllowExport = false
      if (Object.keys(this.exportInfo).length) {
        let el = document.querySelector('.export-content')
        export2Img({el, fileName: `${this.exportInfo.licensePlateNumber}-${this.$formatDateTime(new Date().getTime(), this.$t('ViBorder.common.formatDate'))}`})
      }
      // setTimeout(() => {
      //   this.$notify({
      //     title: this.$t('ViBorder.common.successfuly'),
      //     message: this.$t('ViBorder.common.hasExportFile'),
      //     type: 'success'
      //   })
      // }, 5000)
      this.isAllowExport = true
    },
    back () {
      this.$router.go(-1)
    },
    lpnImageFrontClick () {
      if (!this.buttonImageData.lpnImageFront.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    lpnImageBack () {
      if (!this.buttonImageData.lpnImageBackcontent.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    containerImage () {
      if (!this.buttonImageData.containerImagedata.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    singleFile (val) {
      location.href = val
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    audioPlay () { // 控制视频的播放
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.checkInVideoTitle')
      if (this.videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(this.videoPathIn)
      }
      if (this.videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(this.videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    measureAudioPlay (videoPathIn, videoPathOut) {
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
      if (videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(videoPathIn)
      }
      if (videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    }
  },
  components: {Ecsi}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.el-popover {
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .pi-detailimg {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#pi-detailTunnel {
  @extend .extend-bar;
  .pi-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: flex !important;
    position: relative;
    .table-info {
      width: $all / 2;
      margin-right: $margin;
      @include flex(column);
      justify-content: flex-start;
      .panel-top {
        height: 100%;
      }
      .panel {
        .toggle-menu {
          display: block;
        }
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        &:first-child {
          .el-form {
            &:first-child {
              .el-form-item__content {
                .info-item {
                  .el-button {
                    background: $videoBg  top 50%  center no-repeat;
                    background-color: #ffffff!important;
                    border: none;
                    height: 30px;
                    width: 30px;
                  }
                }
              }
            }
          }
          .el-form {
            border-bottom: none;
          }
        }
        &:last-child, &:nth-child(2n) {
          margin-bottom: 0;
          .analyze_image {
            display: block;
            margin-right: 20px;
            color: #1782d4;
          }
          .left-bar {
            .tableForm {
              .data-panel {
                width: $all * .6;
                @include flex(row,space-between);
                padding: 0 $margin;
                .el-input {
                  width: $all * 0.35;
                }
                .el-textarea {
                  padding: 4px 0;
                }
                .border-style {
                  width: $all * .15;
                  height: 20px;
                  @include flex();
                  border-radius: 6px;
                  border: 1px solid #ddd;
                }
                .border-style.danger-border {
                  border: 1px dashed red;
                }
                .text-color {
                  color: red;
                }
                .iconfont {
                  font-size: $headerRight;
                  cursor: pointer;
                }
                .remark {
                  word-break: break-all;
                  text-align: left;
                  white-space: pre-wrap;
                  // word-wrap:break-word;
                }
              }
              .statusStart {
                @include flex(row,flex-start);
                .border-style {
                  margin-right: 10px;
                }
              }
              .el-form {
                width: calc(100% - 20px);
                margin: $dis10;
                @include box-sizing;
                border: 1px solid $panelBorder;
                .btn-style {
                  margin: $margin;
                }
                .el-form-item {
                  width: $all;
                  display: flex;
                  .el-form-item__label {
                    @extend .extend-table-form-left-style;
                    border: none;
                    height: $all;
                    border-right: 1px solid #ddd;
                  }
                  .el-form-item__content {
                    @extend .extend-table-form-content-style;
                    width: $all;
                    padding: 0;
                    .common-img {
                      cursor: pointer;
                      height: $large;
                      width: $large;
                    }
                    .lpn-front {
                      background: $carBg  top -15% center no-repeat;
                    }
                    .lpn-back {
                      background: $carBg  top 48% center no-repeat;
                    }
                    .container {
                      background: $carBg  top 115% center no-repeat;
                    }
                    .leaving-time {
                      background: $videoBg  top 50%  center no-repeat;
                    }
                  }
                  .el-form-item__error {
                    display: none;
                  }
                  &:last-child {
                    .el-form-item__content {
                      // margin: $margin 0;
                      width: $all;
                      border-bottom: none
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-child(2n) {
          margin-bottom: $dis10;
          .tableForm {
            .el-form {
              .el-form-item {
                .table-form-pack {
                  .info-item {
                    border-bottom: none
                  }
                }
              }
            }
          }
        }
        .left-bar {
          @extend .extend-bar;
          width: $all;
        }
        .btn-group {
          @include flex();
          margin: $margin 0;
        }
      }
      .panel.panel-no-bottom {
        margin-bottom: 0px!important;
      }
      .panel:empty {
        height: $all / 2;
      }
    }
    #idalog {
      .el-dialog__body {
        display: flex;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 2px);
      margin-bottom: 0px;
      .btn-group {
        @include flex();
        margin: $margin 0;
      }
    }
    .panel:empty {
      height: $all / 2;
    }
    .parentUpDown {
      .lpnback {
        .el-checkbox-group {
          display: flex;
          justify-content: flex-start;
          flex-direction: column!important;
          width: 100%;
          align-items: flex-start!important;
          .el-checkbox {
            margin-left: 0;
          }
        }
      }
      .btn-group {
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .el-form-item__content {
          margin: 0!important;
        }
      .upDown {
        height: auto;
        .el-form-item__content {
          margin: 0!important;
        }
        // .remak-top {
        //   .el-form-item__content {
        //     margin: 0px;
        //   }
        // }
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
      }
      .single-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $all;
        width: $all;
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
    @media screen and (min-width: 1640px) {
      // 大屏
      .panel-middle {
        height: 500px;
      }
    }
    @media screen and (max-width: 1640px) {
      // 小屏
      .aside-panel {
        height: $all * 0.7;
        .search-form {
          padding: 0;
          .el-form-item {
            margin-bottom: $dis10;
          }
          .el-form-item.search-form-btn {
            margin-top: 0;
          }
        }
        .up-down-infolist {
          .tableComp {
            height: 322px;
          }
        }
      }
    }
    .audio-one {
      #dialog .el-dialog {
        // width: 80%!important;
        width: 510px;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
  }
  .export-content {
    display: none;
    width: 1090px;
    // width: $all;
    padding: $margin;
    @include flex($dir: column, $juc: center, $ali: flex-start);
    @include box-sizing();
    .title {
      margin-bottom: $margin;
      font-size: $title;
      font-weight: bold;
    }
    .title.main-title {
      width: $all;
      text-align: left;
      border-bottom: 2px solid #ccc;
      padding-bottom: 4px;
    }
    .export-info {
      width: $all;
      @include flex($dir: column, $juc: center, $ali: flex-start);
      @include box-sizing();
      .export-img {
        width: $all;
        height: 200px;
        // background: #3cc51f;
        margin-bottom: $margin;
      }
      .export-img.middle-info {
        @include flex();
      }
      .export-content-text{
        width: $all;
        @include flex($dir: row, $juc: flex-start, $ali: flex-start);
        flex-wrap: wrap;
        @include box-sizing();
        border-top: 2px solid $secBorder;
        padding: $margin / 2;
        .module-info {
          // width: $all / 4;
          // &:last-child {
          //   width: $all;
          // }
          margin-right: $margin * 2;
          @include flex($dir: column, $juc: flex-start, $ali: flex-start);
          .title {
            margin-bottom: $margin;
            font-size: $smallTitle;
            font-weight: bold;
            text-align: left;
          }
          .text {
            margin-bottom: $margin;
            font-size: $texts;
            word-break: break-all;
            text-align: left;
          }
        }
      }
    }
  }
}
</style>
