<template>
  <div id="ds-page" v-bar>
    <!-- 查询和list -->
    <div class="ds-M">
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <div class="form-bar" v-bar >
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <panelTitle :panelTitleInit="panelTitle.listTitle"></panelTitle>
          <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/CI/index.js'
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      sideTableSize: '',
      tableSize: ``,
      defaultOption: '', // 默认传参
      CurrentChageFlag: false, // 分页切换标志位
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'

        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'vehicleType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        }
      ],
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
        },
        model: {}
      },
      queryFn: { // 页面表单查询方法
        query: this.listWaitPiVhicle, // 查询任务列表
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          width: '220',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessTypeI18N',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'text',
          model: 'vehicleTypeI18N',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          model: 'conclusionType',
          width: '200'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      tableData: { // 表格数据
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '730',
        refName: 'multipleTable',
        sortMethod: this.getSortTable, // 新增排序方法
        data: []
      },
      operation: [ // 任务操作按钮
        {
          func: this.jump2Detail,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      sortParm: {}
    }
  },
  created () {
    this.defaultOption = localStorage.getItem('piSite')
    this.initPageData()
  },
  methods: {
    /**
     * *********************公共方法区****************************
     */
    getQueryParam (val) {
      let {model} = val
      let options = {}
      let time = {}
      for (const key in model) {
        if (key !== 'checkinTime') {
          Object.assign(options, {[key]: model[key]})
        }
      }
      if (model.checkinTime) {
        if (!model.checkinTime[1].includes('999')) {
          model.checkinTime[1] = `${model.checkinTime[1]}.999`
        }
        time = {
          startTime: new Date(model.checkinTime[0]).getTime(),
          endTime: new Date(model.checkinTime[1]).getTime()
        }
      }
      let param = Object.assign({}, time, options)
      return this.$filterNullFields(param)
    },
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkinTime[0]).getTime(),
          endTime: new Date(model.checkinTime[1]).getTime()
        }
        let initTableParm = {...time, ...{page: 0, size: 10}, ...{site: this.defaultOption}}
        Promise.all([this.initBusinessTypeList({site: this.defaultOption}), this.getTableData(initTableParm)]).then(res => {
          console.log('res', res)
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initBusinessTypeList (val) { // 网页打开的时候初始化页面调用（下拉列表初始化）
      handleData._initBusinessTypeList(val).then(res => {
        const {flag, result} = res.data
        if (flag) {
          this.inputItem.forEach(item => {
            if (item.type === 'select' && result[item.ruleProp].length) {
              item.option = result[item.ruleProp].map(ele => {
                return {
                  label: this.$t(ele.i18nKey) || this.$t(ele.key),
                  value: ele.dataCode || ele.value
                }
              })
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    jump2Detail (selection) { // 点击check按钮跳转页面的方法
      const {$index} = selection
      sessionStorage.setItem('vehicleId', this.tableData.data[$index].id)
      this.$router.push({
        path: '/ci/ciDetail'
      })
    },
    getTableData (val) { // 主页中的获取表格初始数据 模拟请求回来的数据、和模态表单里面的查询数据
      handleData._initData(val).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) {
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.CurrentChageFlag = false // 防止点击分页条数时多次触发提交请求
          let ret = res.data.result.content
          ret.forEach(element => {
            element.operation = this.operation
            for (const key in element) {
              if (key === 'checkInTime') {
                element[key] = this.$formatDateTime(element[key], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
              }
              if (key === 'businessTypeI18N' || key === 'vehicleTypeI18N' || key === 'conclusionType') {
                element[key] && (element[key] = this.$t(element[key]['key']))
              }
            }
          })
          this.tableData.data = res.data.result.content
        }
      }).catch(err => {
        console.log(err)
      })
    },
    listWaitPiVhicle () { // 主页表单查询方法
      this.CurrentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: this.tableSize || 10, page: 0}, ...this.sortParm}
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 主页页码改变触发改函数
      if (!this.CurrentChageFlag) {
        let param = this.getQueryParam(this.formRule)
        const pagesize = this.tableData.page.pagesize
        const obj = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.sortParm}
        this.getTableData(obj)
      }
    },
    handleSizeChange (val) { // 主页的分页条数改变触发该函数
      this.tableSize = val
      this.CurrentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.sortParm}
      this.getTableData(handlesize)
    },
    getSortTable (column, prop, order) { // 主页的列表排序
      let sort = {}
      if (column && column.order === 'ascending') {
        sort = {'sort': 'checkInTime,ASC'} // 升序排序
      } else if (column && column.order === 'descending') {
        sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
      } else {
        return
      }
      this.sortParm = sort
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...{size: this.tableSize || 10, page: 0}, ...sort, ...param}
      this.getTableData(handlesize)
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#ds-page {
  @extend .extend-bar;
  .ds-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
      .el-form-item__label {
        font-weight: normal;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        .el-switch__label {
          font-size: $texts;
          font-weight: bold;
        }
      }
    }
  }
}
</style>
