<template>
  <div id="pc-check">
    <PcDetails></PcDetails>
  </div>
</template>

<script>
import PcDetails from '../common/historicalComponent'
export default {
  name: 'pc-check',
  data () {
    return {}
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {PcDetails}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#pc-check {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
