<template>
  <div id="plant-index">
    <PlantIndex :jump2PagePath="pagePath" :socketInfo="socketInfo"></PlantIndex>
  </div>
</template>

<script>
import PlantIndex from '../common/confirmationInspection'
export default {
  name: 'plant-index',
  data () {
    return {
      pagePath: {
        details: '/pc/historicalDetails',
        check: '/pc/check'
      },
      socketInfo: {
        client: 'PCClient',
        site: localStorage.pcSite,
        header: 'PLANTCHECK'
      }
    }
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {PlantIndex}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#plant-index {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
