<template>
  <div id="rc-bar" v-bar>
    <div class="rc-M">
      <div class="infolist rc-top">
        <div class="panel panel-top">
          <panelTitle :panelTitleInit="panelTitle.queryTitleTop"></panelTitle>
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItemTop" :searchFunc="queryFnTop" :formRule='formRuleTop'></ComForm>
          </div>
        </div>
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
      </div>
      <!-- 表格内容 -->
      <div class="infolist list-height">
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
        </div>
      </div>
    </div>
    <div class="fix-box">
      <div class="fix-tab" ref="toggleTab">
        <el-tooltip class="item" effect="dark" :content="$t('ViBorder.businessLogicCommon.historicalTaskList')" placement="left">
          <div class="fix-tab-title" @click="toggleAsideTab">
            <span class="tab-text">{{$t('ViBorder.businessLogicCommon.historicalTaskList')}}</span>
            <i class="iconfont" :style="{transform: asideTab.rotateDeg}">&#xe623;</i>
          </div>
        </el-tooltip>
        <div ref="toggleTabContanier" class="fix-tab-container">
          <div class="up-down-container">
            <div class="up-down-infolist">
              <div class="up-down-panel">
                <panelTitle :panelTitleInit="asideModalTitle.queryTitle"></panelTitle>
                <ComForm :searchIpt="asideModalItem" :searchFunc="asideModalFn" :formRule='asideModalRule'></ComForm>
              </div>
              <div class="up-down-panel panel-bottom">
                <panelTitle :panelTitleInit="asideModalTitle.listTitle"></panelTitle>
                <ComTable :tableData='asideTabContainer' :tableGroup='asideTableGroup'></ComTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="print-receipt">
      <Receipt :receiptData="receiptData" :isPrinting="isPrinting" @changePrintStatus="changePrintStatus"></Receipt>
    </div>
  </div>
</template>

<script>
import Receipt from '../../components/common/receipt'
import Axios from '../../api/RC/index.js'
import {formatDateTime} from '../../lib/index.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import {connect, disconnect} from '../../components/common/ws.js'
// import PrintJs from 'print-js'
export default {
  name: 'rc-page',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      sortParm: {}, // 存放主页列表排序参数
      asideSortParm: {}, // 存放侧拉页列表排序参数
      SidePageSizeNum: ``, // 当前页单页显示数据数
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      panelTitle: { // title组件数据
        queryTitleTop: {
          title: this.$t('ViBorder.RC.fastRelease')
        },
        queryTitle: {
          title: this.$t('ViBorder.RC.queryRelease')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      queryFnTop: { // 页面表单查询方法
        query: this.asycudaQuery,
        queryText: this.$t('ViBorder.common.confirm'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRuleTop: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItemTop: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          placeHolder: this.$t('ViBorder.RC.inputAsycuda'),
          models: '',
          autofocus: true,
          ruleProp: 'declarationNumber'
        }
      ],
      queryFn: { // 页面表单查询方法
        query: this.listQuery,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '570',
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.confirmRelease,
          label: `<span class='editTable'><i class="iconfont">&#xe605;</i></span>`,
          title: this.$t('ViBorder.common.confirm'),
          show: true
        }
      ],
      sideOperation: [ // 侧拉框的表格操作
        {
          func: this.print,
          label: `<span class='editTable'><i class="iconfont">&#xe65e;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.print'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          model: 'asycudaCode'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      /**
       * ************************侧拉框的数据信息*******************
       */
      asideTab: { // 侧栏数据
        display: false,
        rotateDeg: ''
      },
      asideModalTitle: { // 模态框数据标题
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      asideModalItem: [ // 侧拉框文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          isThree: true,
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.confirmDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.confirmDate'),
          models: '',
          isThree: true,
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime2',
          clearable: false
        },
        // {
        //   getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
        //   type: 'text',
        //   placeHolder: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
        //   models: '',
        //   ruleProp: 'declarationNumber'
        // },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputAsycuda'),
          models: '',
          ruleProp: 'asycudaCode',
          option: [],
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          ruleProp: 'normalEnd',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          clearable: true
        }
      ],
      asideModalFn: { // 弹窗表单确定方法
        query: this.asideModalSure,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      asideModalRule: { // 弹窗表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
          checkinTime: [
            {validator: (rule, value, callback) => {
              this.$customValidateTimeRange(rule, value, callback)
            },
            trigger: 'change'}
          ]
        },
        model: {}
      },
      // sideOperation: [ // 表格操作
      //   {
      //     func: this.confirmRelease,
      //     label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
      //     title: this.$t('ViBorder.TC.confirm'),
      //     show: true
      //   }
      // ],
      asideTableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.confirmTime'),
          type: 'time',
          model: 'releaseConfirmTime'
          // sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
          // sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          model: 'asycudaCode'
          // width: '260px'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      sidePageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      asideTabContainer: { // 侧栏表格
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '410',
        refName: 'multipleTable',
        sortMethod: this.asideGetSortTable // 新增排序方法
      },
      pageUseParam: {
        CurrentChageFlag: false, // 分页切换标志位
        defaultOptions: ``, // 默认参数
        pageSizeNum: ``, // 当前页单页显示数据数
        fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}`,
        lprFolder: window.config.fileFolder.lprFolder,
        manifestFolder: `${window.config.fileFolder.manifestFolder}`,
        vehicleId: ``,
        RCClient: ``,
        saveInitPlantNum: ``,
        saveInitTime: ``,
        notAllowRelease: ``,
        allowRelease: ``,
        saveImcTime: ``
      },
      isPrinting: false,
      receiptData: {
        licensePlateNumber: '',
        healthQuarantine: '',
        plantQuarantine: '',
        transportation: '',
        conclusionType: '',
        manifestNumber: '',
        totalWeight: '',
        axelWeight: [],
        length: '',
        width: '',
        height: '',
        checkInDateTime: '',
        checkOutDateTime: ''
      }
    }
  },
  created () {
    this.listQuery()
    this.connectWebSocket()
    // var lett = this
    document.onkeydown = (e) => {
      var key = window.event.keyCode
      if (key === 13) {
        this.asycudaQuery()
      }
    }
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
    // 页面加载时按下tab键不激活日期组件
    var key = document.getElementsByClassName('el-range-input')
    for (var i = 0; i < key.length; i++) {
      key[i].setAttribute('tabindex', -1)
    }
    setTimeout(function () {
      let inputelement = document.getElementsByClassName('el-input__inner')
      if (inputelement && inputelement[0]) {
        inputelement[0].focus()
      }
    }, 1000)
  },
  destroyed () {
    document.onkeydown = undefined
    this.pageUseParam.RCClient && disconnect({client: this.pageUseParam.RCClient})
    this.toggleGloableModal(false)
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    windowResize () { // 用于页面改变时（大屏或小屏）更改dialog弹窗数据列表的MaxHeight
      let clientWidth = document.body.clientWidth
      if (clientWidth < 1640) {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
        }
        this.$data.asideTabContainer.MaxHeight = 220
      } else {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
        }
        this.$data.asideTabContainer.MaxHeight = 410
      }
    },
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.pageUseParam.RCClient = Stomp.over(socket)
      let path = `/topic/commandTopic_${localStorage.rcSite}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        this.listQuery()
      }
      connect({client: this.pageUseParam.RCClient, path, scb, header: 'RELEASECONFIRM', reconCallBack: this.connectWebSocket})
    },
    filterNullFields (options) { // 删除空字段
      let param = Object.assign(options)
      if (Object.keys.length > 0) {
        for (let key in param) {
          if (!param[key] && param[key] !== 0) {
            delete param[key]
          }
        }
      }
      return param
    },
    getQueryParam (val) {
      let {model} = val
      let time = {}
      if (model.checkinTime) {
        if (!model.checkinTime[1].includes('999')) {
          model.checkinTime[1] = `${model.checkinTime[1]}.999`
        }
        time = {
          startCheckInTime: new Date(model.checkinTime[0]).getTime(),
          endCheckInTime: new Date(model.checkinTime[1]).getTime()
        }
      }
      let tiemjic = {}
      if (model.checkinTime2) {
        if (!model.checkinTime2[1].includes('999')) {
          model.checkinTime2[1] = `${model.checkinTime2[1]}.999`
        }
        tiemjic = {
          startReleaseConfirmTime: new Date(model.checkinTime2[0]).getTime(),
          endReleaseConfirmTime: new Date(model.checkinTime2[1]).getTime()
        }
      }
      let param = Object.assign({}, time, tiemjic, {site: localStorage.rcSite}, { asycudaCode: model.asycudaCode ? model.asycudaCode : '', licensePlateNumber: model.licensePlateNumber, normalEnd: model.normalEnd })
      return this.$filterNullFields(param)
    },
    confirmModal (parm) { // 确认信息弹窗
      this.$confirm(`${parm.msg}`, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: true,
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        type: 'warning'
      }).then(() => {
        parm.scb()
      }).catch(() => { // 取消操作的时候就不用给提示了
        let inputelement = document.getElementsByClassName('el-input__inner')
        if (inputelement && inputelement[0]) {
          inputelement[0].focus()
        }
      })
    },
    // *********************************** 页面逻辑 *****************************************
    getSideTableData (options) { // 侧拉获取表格初始数据 模拟请求回来的数据
      Axios._listReleaseConfirmHis(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话加分页
            this.asideTabContainer.isPage = true
          } else {
            this.asideTabContainer.isPage = false
          }
          this.asideTabContainer.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.sideHandleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.sideHandleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.asideModalRule.model.size = res.data.result.size
          this.asideModalRule.model.CurrentPage = res.data.result.number
          this.sidePageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.asideTabContainer.data = this.unifiedFormData(res.data.result.content, 'sideData')
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableData (options) { // 主页获取表格初始数据 模拟请求回来的数据
      Axios._listReleaseConfirm(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content, 'mainData')
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option, operation) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          if (operation === 'mainData') {
            element.operation = this.operation
          } else if (operation === 'sideData') {
            element.operation = this.sideOperation
            // if (element.direction === 'IMPORT' && (element.vehicleType === 'TRUCK' || element.vehicleType === 'COMMODITYCAR')) {
            // }
          }
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':case 'releaseConfirmTime':
                  element[oKey] = element[oKey] && formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'businessTypeI18N':case 'vehicleTypeI18N':case 'conclusionType':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    print (val) {
      let index = val.$index
      let param = {
        vehicleId: this.asideTabContainer.data[val.$index].id
      }
      this.pageUseParam.vehicleId = param.vehicleId
      this.toPrint(param)
    },
    asycudaQuery () { // adcode自动查询方法
      let params = {
        asycudaCode: this.inputItemTop[0].models
      }
      if (!params.asycudaCode) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t(`ViBorder.businessLogicCommon.inputAsycuda`),
          offset: this.notifyOffset
        })
        return false
      }
      Axios._confirmRelease(params).then(res => {
        if (res.data.flag) {
          let print = {
            vehicleId: res.data.result.vehicleId
          }
          this.toPrint(print)
          this.inputItemTop[0].models = ''
          this.listQuery()
          this.$notify.success({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
            duration: 5000,
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    confirmRelease (selection) { // 主页放行确认的操作按钮
      let index = selection.$index
      let data = {
        asycudaCode: this.tableData.data[index].asycudaCode ? this.tableData.data[index].asycudaCode : '',
        vehicleId: this.tableData.data[index].id ? this.tableData.data[index].id : ''
      }
      this.pageUseParam.vehicleId = data.vehicleId
      let param = this.$filterNullFields(data) // 去掉空字符串
      let scb = () => {
        Axios._confirmRelease(param).then(res => {
          if (res.data.flag) {
            let print = {
              vehicleId: data.vehicleId
            }
            this.toPrint(print)
            this.listQuery()
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
              type: 'success',
              offset: this.notifyOffset
            })
            let inputelement = document.getElementsByClassName('el-input__inner')
            if (inputelement && inputelement[0]) {
              inputelement[0].focus()
            }
          }
        }).catch(err => {
          console.log('err', err)
        })
      }
      this.confirmModal({msg: this.$t('ViBorder.RC.confirmRelease'), scb: scb})
    },
    changePrintStatus (data) {
      this.isPrinting = data
    },
    getPrintData (parm) {
      Axios._getPrintData(parm).then(res => {
        const {flag, result} = res.data
        if (flag && Object.keys(result).length > 0) {
          for (const key in result) {
            if (result.hasOwnProperty(key)) {
              let element = result[key]
              if (key === 'axelWeight') {
                element = element && element.split(',')
              }
              this.receiptData[key] = element
              this.isPrinting = true
            }
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    toPrint (parm) { // 主页获取表格初始数据 模拟请求回来的数据
      this.getPrintData(parm)
    },
    listQuery () { // 主页表单查询方法
      this.pageOptions.currentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: this.pageUseParam.pageSizeNum || 10, page: 0}, ...this.sortParm}
      this.getTableData(handlesize)
    },
    asideModalSure () { // 侧拉框表单查询方法
      this.sidePageOptions.currentChageFlag = true
      setTimeout(() => {
        let param = this.getQueryParam(this.asideModalRule)
        const handlesize = {...param, ...{size: this.SidePageSizeNum || 10, page: 0}, ...this.asideSortParm}
        this.getSideTableData(handlesize)
      }, 10)
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        }
        this.sortParm = sort
        let param = this.getQueryParam(this.formRule)
        let handlesize = {...{size: this.pageUseParam.pageSizeNum || 10, page: 0}, ...param, ...sort}
        this.getTableData(handlesize)
      }
    },
    asideGetSortTable (column, prop, order) { // 侧边栏根据时间排序
      if (this.asideTabContainer.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        }
        this.asideSortParm = sort
        let param = this.getQueryParam(this.asideModalRule)
        let handlesize = {...{size: this.SidePageSizeNum || 10, page: 0}, ...param, ...sort}
        this.getSideTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 主页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      this.pageUseParam.pageSizeNum = val
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.sortParm}
      this.getTableData(handlesize)
    },
    sideHandleSizeChange (val) { // 侧拉页条数改变触发该函数
      this.sidePageOptions.currentChageFlag = true
      this.SidePageSizeNum = val
      let param = this.getQueryParam(this.asideModalRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.asideSortParm}
      this.getSideTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let param = this.getQueryParam(this.formRule)
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.sortParm}
        this.getTableData(handlesize)
      }
    },
    sideHandleCurrentChange (val) { // 侧拉页当前页码改变触发改函数
      if (!this.sidePageOptions.currentChageFlag) {
        const pagesize = this.asideTabContainer.page.pagesize
        let param = this.getQueryParam(this.asideModalRule)
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.asideSortParm}
        this.getSideTableData(handlesize)
      }
    },
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    toggleAsideTab () {
      // 切换侧栏tab
      this.asideTab.display = !this.asideTab.display
      // 宽度慢慢展现
      if (document.body.clientWidth < 1640) {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
        this.$data.asideTabContainer.MaxHeight = 220
      } else {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
        this.$data.asideTabContainer.MaxHeight = 410
      }
      // 隐藏掉边框
      this.$refs.toggleTab.style.right = this.asideTab.display ? '0' : '0'
      // 三角号旋转
      this.asideTab.rotateDeg = this.asideTab.display ? 'rotate(-90deg)' : 'rotate(90deg)'
      // 获取列表数据
      if (this.asideTab.display) {
        this.toggleGloableModal(true)
        this.asideModalSure() // 初始化表格
      } else {
        this.toggleGloableModal(false)
        let inputelement = document.getElementsByClassName('el-input__inner')
        if (inputelement && inputelement[0]) {
          inputelement[0].focus()
        }
      }
    }
  },
  watch: {
    'asideTab.display': {
      handler (newName, oldName) {
        var key = document.getElementsByClassName('el-range-input')
        if (newName) {
          // 历史在检列表显示时按下tab键可以激活日期组件
          for (let i = 0; i < key.length; i++) {
            key[i].setAttribute('tabindex', i + 1)
          }
        } else {
          // 历史在检列表隐藏时按下tab键不激活日期组件
          for (let i = 0; i < key.length; i++) {
            key[i].setAttribute('tabindex', -1)
          }
        }
      },
      immediate: true,
      deep: true
    }
  },
  components: { Receipt }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#rc-bar {
  @extend .extend-bar;
  .rc-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: none;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
          display: flex!important;
          align-items: flex-start;
          flex-direction: column;
          .search-form-btn {
            padding-top: 28px;
            align-self: flex-end;
          }
          .el-form-item {
            margin-bottom: 2px;
          }
          // .el-form-item__content {
          //   padding-top: 19px;
          // }
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        width: 100%;
        // .tableComp {
        //   @media screen and (max-width: 1640px) {
        //     height: 200px;
        //   }
        // }
        .iconfont {
          // font-size: 25px;
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .list-height {
      height: 700px;
      @media screen and (max-width: 1640px) {
        height: 200px;
      }
    }
    .rc-top {
      @include flex(row, flex-start, flex-start);
      height: auto;
      .panel {
        width: 100%;
      }
      .el-form-item {
        width: 48% !important;
      }
      .search-form-btn {
        align-self: flex-end;
      }
      .panel-top {
        height: 190px;
        margin-right: 10px;
        .search-form-btn {
          .el-form-item__content {
            .el-button--default {
              display: none;
            }
          }
        }
      }
    }
    .rc-lpn {
      .search-form-btn {
        display: block;
        .el-form-item__content {
          text-align: center!important;
        }
      }
    }
  }
  .fix-box {
    position: fixed;
    z-index: 25;
    right: -217px;
    top: calc(50% - 120px);
    .fix-tab {
      @include flex();
      height: 240px;
      .fix-tab-title {
        left: -96px;
        width: 280px;
        height: 40px;
        position: relative;
        cursor: pointer;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        background:rgba(44, 166, 204, 0.8);
        @include flex();
        transform: rotate(-90deg);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .iconfont {
          transform: rotate(90deg);
          margin-left: 10px;
        }
        .tab-text {
          display: inline-block;
          max-width: 246px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .fix-tab-container {
        background: $white;
        border: 1px solid #ccc;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
        position: relative;
        overflow: hidden;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -o-transition: width 0.6s;
        transition: width 0.6s;
        width: 0;
        left: -217px;
        height: 920px;
        @media screen and (max-width: 1640px) {
          height: 640px;
        }
        border-radius: 6px;
        .iconfont {
          color: $primary;
        }
        .up-down-container {
          padding: 10px;
          .tableComp {
            @extend .extend-table-tr-th-style;
            // height: 590px;
          }
        }
      }
    }
  }
  #print-receipt {
    width: $all;
    height: $all;
  }
}
</style>
