<template>
  <div id='dc-check' v-bar>
    <div class="dc-M">
      <!-- 左侧panel -->
      <div class="table-info">
        <!-- 基础信息栏目开始 -->
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.BI"></panelTitle>
          <div class="left-bar" v-bar>
            <div>
              <tableForm :searchIpt="inputItem" :searchFunc="hasBtn = false" :formRule='formRule' ref="tableForm"></tableForm>
            </div>
          </div>
        </div>
        <!-- 基础信息栏结束 -->
        <!-- 信息对比栏开始 -->
        <div class="panel" :class="!Overrun ? 'panel-overun' : ''">
          <panelTitle :panelTitleInit="panelTitle.IC">
            <div v-if="isShowOpenTitle">
              <!-- 信息比对标题中的analyzelmage按钮 -->
              <a href="javascript:" @click="isShowIPS" class="analyze_image" slot="reference">{{$t('ViBorder.DC.analyzeImage')}}</a>
            </div>
          </panelTitle>
          <div class="left-bar" v-bar>
            <div class="tableForm">
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                <el-form-item v-if="Overrun" prop="delivery">
                  <!-- 驶入通道和离开通道时间 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')">{{$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.enterAndLeaveTime}}</span>
                    <div class="leaving-time common-img" @click="mediaPlay(true)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                  </div>
                </el-form-item>
                <el-form-item prop="lpnFront">
                  <!-- lpn(Front)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumber}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="noPictrueTips('lpnImageFront')">
                      <el-popover placement="left" :disabled="buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageFront" :key="index">
                            <img :src="item" class="dc-checkimg">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun">
                  <!-- lpn(back)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumberBack}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="noPictrueTips('lpnImageBackcontent')">
                      <el-popover placement="left" :disabled="buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageBackcontent" :key="index">
                            <img :src="buttonImageData.lpnImageBackcontent[0]" class="dc-checkimg">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.containerNumber}}</span>
                    <!-- 集装箱号的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div  @click="noPictrueTips('containerImagedata')">
                      <el-popover placement="left" :disabled="buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.containerImagedata" :key="index">
                            <img :src="item" class="dc-checkimg">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="resource">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                    <template v-if="ruleForm.LWH.vehicleLength || ruleForm.LWH.vehicleWidth || ruleForm.LWH.vehicleHeight">
                      <span v-for="(item, index) in ruleForm.LWH" :class="ruleForm.LWH[index] - ruleForm.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="desc">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                    <span v-if="ruleForm.totalWeight.totalWeight" class="border-style" :class="ruleForm.totalWeight.totalWeight - ruleForm.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{ruleForm.totalWeight.totalWeight}}</span>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="desc">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.axleWeight">
                      <span v-for="(item, index) in ruleForm.axleWeight" :class="item - ruleForm.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="wheelbase">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.wheelbase">
                      <span v-for="(item, index) in ruleForm.wheelbase" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item prop="textarea">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.remark')">{{$t('ViBorder.businessLogicCommon.remark')}}</label>
                  <div class="data-panel">
                    <el-input type="textarea" :placeholder="$t('ViBorder.businessLogicCommon.remark')" resize="none" maxlength="500"  v-model="ruleForm.textarea"></el-input>
                  </div>
                </el-form-item>
                <!-- <el-form-item>
                </el-form-item> -->
              </el-form>
            </div>
          </div>
          <div class="btn-group">
            <!-- 无嫌疑和有嫌疑按钮点击check操作按钮后显示-->
            <el-button type="success" :disabled="!buttonStyle" class="buttonStyle" @click="submit('PASS')">{{$t('ViBorder.businessLogicCommon.noSuspicion')}}</el-button>
            <el-button type="danger" :disabled="!buttonStyle" class="buttonStyle" @click="submit('SUSPICION')">{{$t('ViBorder.businessLogicCommon.suspicion')}}</el-button>
            <el-button :disabled="!buttonStyle" class="buttonStyle" @click="cancel">{{$t('ViBorder.common.back')}}</el-button>
          </div>
        </div>
        <!-- 信息比对栏结束 -->
      </div>

      <!-- 视频图层 -->
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{videoDriveIn}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{videoDriveOut}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <!-- 右侧图像 -->
      <div class="right">
        <el-tabs type="border-card" v-model="activeName">
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')" name="first">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')" name="second">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.asycudaTab')" v-if="asycudaShow" name="third">
            <div class="not-scan-img">
              {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
            </div>
            <!-- <div class="single-img">
              <img src="#" alt="" style="width: 100%;">
            </div> -->
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')" name="fourth">
            <div class="single-img">
              <otherSystem :conclusionList="otherSystem"></otherSystem>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.alarmInformationTab')" v-if="alarmInformation" name="five">
            <div class="single-img">
              <trackReplay :tripId="tripId" :elockId="elockId" v-if="track"></trackReplay>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>
<script>
import Axios from '@/api/DC/dc.js'
import {viProbeWsCallback} from '@/lib/viProbe/viProbeUtil'
import trackReplay from '@/components/trackReplay/trackPlay'
import initConfirmData from '@/components/common/commonData'
import {openImageAndAnalysisInfoInViProbe, closeImageInViProbe, getNewMarks, uploadImageAnalysisInfo, getNewMarksSuccess, markNew, uploadImageAnalysisSuccess, reconnectToViProbeFailedNew} from '../../lib/viProbe/viProbeForIns.js'
export default {
  name: 'comparison',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      track: false,
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      viprobe: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.niiFolder}`,
      trackingArr: '', // 用于存放请求回来的地图数组
      tripId: '', // 地图相关的信息
      elockId: '', // 地图相关的信息
      activeName: 'first', // Tab标签
      verificationPassed: false, // 表单验证是否通过标志位
      // tripId: '84789bf4-decf-4499-b8eb-551a1198512f', // 地图相关的信息
      // elockId: '63a2f1a5-7731-4995-a053-060e233146b0', // 地图相关的信息
      asycudaShow: true,
      DCClient: '', // 用于websocketd
      buttonStyle: false, // 来控制‘有嫌疑’，和‘无嫌疑’按钮是否置灰
      measureId: '',
      isExitImg: '', // 用于判断司机照片地址是否存在
      // clearInputItemData: '',
      paramData: {}, // 存放请求回来的数据
      imagePlay: false,
      Overrun: true, // 当为超限车辆的时候信息比对里面的只显示前车牌号和remark
      CurrentChageFlag: false, // dialog分页切换标志位
      timeout: 500, // viprobe上传文件延时
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.checkInVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      alarmInformation: false, // 用于控制报警信息栏目是否显示
      otherSystem: [],
      panelTitle: { // 主页面左侧标题
        BI: {
          title: this.$t('ViBorder.businessLogicCommon.checkInfo')
        },
        IC: {
          title: this.$t('ViBorder.businessLogicCommon.infoCom')
        },
        LT: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        },
        VQ: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        }
      },
      buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
        scanPath: '',
        lpnImageFront: [],
        lpnImageBackcontent: [],
        containerImagedata: []
      },
      tabInfo: { // tab标签页数据
        // imageDate: [ // 其他系统的图片信息地址
        //   // 'http://pic6.nipic.com/20100415/4321211_002313964413_2.jpg',
        //   // 'http://pic1.16pic.com/00/37/28/16pic_3728619_b.jpg'
        // ],
        singleImgInfo: {},
        // isSacn: true,
        isShowScanImg: false,
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [] // 扫描文件viewer数据
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          noNeedDestPortI18N: [
            { required: false, message: this.$t('ViBorder.businessLogicCommon.destinationWarn'), trigger: 'blur' }
          ],
          riskLevel: [
            { required: true, message: this.$t('ViBorder.businessLogicCommon.riskLevel'), trigger: 'blur' }
          ],
          empDeclarationNumber: [
            { required: false, message: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'), trigger: 'blur' },
            { min: 1, max: 100, message: this.$t('ViBorder.DC.declarationNumberWarn'), trigger: 'blur' },
            { pattern: /^[a-zA-Z0-9,]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyNumAndChat') }
          ]
        }
      },
      tableData: { // dialog表格数据
        popoverWidth: '400px',
        popoverHeight: '400px',
        MaxHeight: '140',
        sortMethod: this.getSortTable, // 新增排序方法
        data: [],
        isBorder: true,
        isStripe: true
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'onlyRead',
          models: '',
          hasBtn: true,
          hasClearBtn: true, // 当有一个不需要必填验证的按钮
          ruleProp: 'checkInTime',
          btnOperate: {
            btnText: '',
            fn: this.mediaPlay
          }
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputAsycuda'),
          models: '',
          ruleProp: 'asycudaCode',
          hasBtn: false,
          maxlength: 50
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          maxlength: '100',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          type: 'radio',
          models: false,
          ruleProp: 'logistics',
          isColor: false,
          change: this.radioChange,
          option: [
            {
              label: this.$t('ViBorder.common.yes'),
              value: true
            },
            {
              label: this.$t('ViBorder.common.error'),
              value: false
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'select',
          placeHolder: 'Please Select',
          models: '',
          ruleProp: 'destPortI18N',
          option: [],
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'rfidNumber'
          // change: this.rfidChange,
          // maxlength: 128
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          type: 'radio',
          models: '',
          ruleProp: 'trailer',
          isColor: false,
          // change: this.radioChange,
          option: [
            {
              label: this.$t('ViBorder.common.yes'),
              value: true
            },
            {
              label: this.$t('ViBorder.common.error'),
              value: false
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'radio',
          models: '',
          ruleProp: 'riskLevel',
          isColor: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none'
        }
      ],
      rules: {
        licensePlateNumberBack: [
          { required: false, message: this.$t('ViBorder.businessLogicCommon.lpnBackWarn'), trigger: 'blur' },
          { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.lpnLength'), trigger: 'blur' },
          { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyLpn') }
        ],
        crrRight: [
          { required: true, message: this.$t('ViBorder.businessLogicCommon.containerNoWarn'), trigger: 'blur' },
          { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.containerLength'), trigger: 'blur' },
          { pattern: /^[a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.containerOnly') }
        ],
        textarea: [ // Remark校验
          { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
        ]
      },
      turnToArrive: {
        getLabel: this.$t('ViBorder.businessLogicCommon.from'),
        type: 'onlyRead',
        models: '',
        ruleProp: 'originPortCode'
      },
      videoDriveIn: this.$t('ViBorder.businessLogicCommon.enterVideo'), // 驶入通道视频title
      videoDriveOut: this.$t('ViBorder.businessLogicCommon.leaveVideo'), // 驶离通道视频title
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 检入的视频地址
      videoPathOut: '', // 检出的视频地址
      // ruleFormCopy: '', // 用于存放纯净的ruleForm
      ruleForm: {
        checkInVoVideoPath: '', // 测量进入通道的视频
        measureVoVieoPath: '', // 测量数据的驶离通道的视频
        containerNumber: '', // 集装箱号
        addButton: false,
        leftInput: true, // 控制左侧集装箱号的显示和隐藏
        rightInput: true, // 控制右侧集装箱号的显示和隐藏
        crrLeft: '',
        crrRight: '',
        containerState: false,
        clearData: false,
        licensePlateNumberBack: '', // 后车牌号
        delivery: false,
        type: [],
        resource: '',
        desc: '',
        licensePlateNumber: '', // 前车牌号
        enterAndLeaveTime: '',
        textarea: '',
        basicInfo: {},
        lwhStatus: { // 长宽高标准值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: { // 长宽高
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        totalWeight: { // 总重
          weightStatus: '', // 总重量的标准间值
          totalWeight: ''
        },
        axleWeightstatus: '', // 轴重标准值
        axleWeight: [], // 轴重
        wheelbase: [] // 轴重
      },
      dcConclusion: '',
      viProbeInfo: {
        name: '',
        path: '',
        viprobeShowPath: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.niiFolder}`,
        getNewMarksSuccess: '',
        markNew: [],
        errorCode: 0,
        markBase64: '',
        getMarkBase64Success: '',
        uploadImageAnalysisSuccess: ''
      },
      pageLoading: '',
      isShowOpenTitle: false,
      isOperateBtn: true,
      message: '',
      getNotAutoRemark: ''
    }
  },
  created () {
    // this.clearInputItemData = JSON.parse(JSON.stringify(this.inputItem))
    // this.ruleFormCopy = JSON.parse(JSON.stringify(this.ruleForm))
    // this.clearInputItemData[0].btnOperate.fn = this.mediaPlay
    let vehicleId = sessionStorage.getItem('vehicleId')
    this.obtainCompareInfo({vehicleId: vehicleId})
    this.getRules()
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
  },
  destroyed () {
    this.$store.commit({
      type: 'releaseBtn',
      releaseCloseBtn: false
    })
    this.closeViewingTool()
  },
  methods: {
    /**
     * ********************************公共方法区域************************************
     */
    confirmModal (parm) { // 确认信息弹窗
      this.$confirm(`${parm.msg}`, '', initConfirmData.confirm()).then(() => {
        parm.scb && parm.scb()
      }).catch(() => { // 取消操作的时候就不用给提示了
        this.verificationPassed = false
        // console.log('this.getNotAutoRemark', this.getNotAutoRemark)
        this.ruleForm.textarea = this.getNotAutoRemark
      })
    },
    getRules () {
      let arr = ['asycudaCode', 'logistics', 'destPortI18N', 'declarationNumber']
      Object.assign(this.formRule.rule, this.$rules(arr))
      this.formRule.rule['declarationNumber'].unshift({ required: true, message: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'), trigger: 'blur' })
    },
    /**
     * ***********************页面逻辑区域*********************************************
     */
    closeViewingTool () {
      if (this.isShowOpenTitle) {
        closeImageInViProbe(this.viProbeInfo.name)
      }
    },
    windowResize () { // 用于页面改变时（大屏或小屏）更改dialog弹窗数据列表的MaxHeight
      let clientWidth = document.body.clientWidth
      if (clientWidth > 1640) {
        this.$data.tableData.MaxHeight = 400
      } else {
        this.$data.tableData.MaxHeight = 140
      }
    },
    changeVehicleType (val) { // 这里是改变车辆类型时,修改左侧表单的显示方法,以下有8种类型判断(进口对应4种,出口对应4种)
      if (val.checkInVO.businessType === '2') { // 目前是出口状态
        if (val.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || val.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') { // 选中货车
          let {left, right} = this.$splitArr(this.inputItem, 8)
          right.shift()
          this.inputItem = [...left, ...right]
          this.inputItem.splice(4, 2)
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 空车时
          this.asycudaShow = false
          let {left, right} = this.$splitArr(this.inputItem, 8)
          right.shift()
          this.inputItem = [...left, ...right]
          this.inputItem.splice(4, 2)
          this.inputItem.forEach(e => {
            if (e.ruleProp === 'declarationNumber') {
              e.ruleProp = 'empDeclarationNumber'
            }
          })
          this.inputItem.splice(8, 1)
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') { // 选中 超限车辆
          // this.ruleForm.licensePlateNumber = val.checkInVO.vehicleCheckIn.licensePlateNumber // 对前车牌赋值
          let {left, right} = this.$splitArr(this.inputItem, 8)
          right.shift()
          this.inputItem = [...left, ...right]
          this.inputItem.splice(4, 2)
        }
      } else if (val.checkInVO.businessType === '3') { // 转关到达
        this.alarmInformation = true
        this.getIsExists() // 初始化的时候请求地图的数据
        if (val.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || val.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') { // 选中货车
          let {left, right} = this.$splitArr(this.inputItem, 8)
          right.shift()
          this.inputItem = [...left, ...right]
          this.inputItem.splice(4, 2)
          this.inputItem.unshift(this.turnToArrive)
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 空车时
          this.asycudaShow = false
          this.asycudaShow = false
          let {left, right} = this.$splitArr(this.inputItem, 8)
          right.shift()
          this.inputItem = [...left, ...right]
          this.inputItem.splice(4, 2)
          this.inputItem.forEach(e => {
            if (e.ruleProp === 'declarationNumber') {
              e.ruleProp = 'empDeclarationNumber'
            }
          })
          this.inputItem.splice(8, 1)
          this.inputItem.unshift(this.turnToArrive)
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') { // 选中 超限车辆
          let {left, right} = this.$splitArr(this.inputItem, 8)
          right.shift()
          this.inputItem = [...left, ...right]
          this.inputItem.splice(4, 2)
          this.inputItem.unshift(this.turnToArrive)
        }
      } else if (val.checkInVO.businessType === '1') { // 目前是进口状态
        if (val.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || val.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') { // 商品车
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 选中空车时
          // this.inputItem.splice(11, 1)
          this.asycudaShow = false
          this.inputItem.forEach(e => {
            if (e.ruleProp === 'logistics') {
              e.disabled = true
            }
            if (e.ruleProp === 'declarationNumber') {
              e.ruleProp = 'empDeclarationNumber'
            }
            if (e.ruleProp === 'destPortI18N') {
              e.ruleProp = 'noNeedDestPortI18N'
            }
          })
          let {left, right} = this.$splitArr(this.inputItem, 11)
          right.shift()
          this.inputItem = [...left, ...right]
        }
      }
    },
    obtainCompareInfo (data) { // 通过获取测量id 来获取页面数据
      // this.inputItem = JSON.parse(JSON.stringify(this.clearInputItemData))
      // this.inputItem[0].btnOperate.fn = this.mediaPlay
      Axios._openCompare(data).then(res => {
        // this.paramData = JSON.parse(JSON.stringify(res)) // 深复制一个纯净的数据，用于后期提交时候的参数
        let status = res.data.flag
        let result = ''
        if (status) {
          result = res.data.result
          this.paramData = {
            vehicleId: this.$_get(result, 'checkInVO.vehicleCheckIn.vehicleId', ''),
            licensePlateNumber: this.$_get(result, 'checkInVO.vehicleCheckIn.licensePlateNumber', ''),
            containerNumber: this.$_get(result, 'measureVO.vehicleMeasure.containerNumber', ''),
            originVehicleId: this.$_get(result, 'checkInVO.originVehicleId', '')
          }
          this.trackingArr = res.data.result.elockList
          this.baseMethod(result, status)
          let measureVOData = result.measureVO
          let {jointConfirm} = result.checkInVO && result.checkInVO
          this.otherSystem = jointConfirm ? this.$otherHoverData(jointConfirm) : []
          if (measureVOData && measureVOData.vehicleXray) {
            let savePath = measureVOData.vehicleXray.savePath && measureVOData.vehicleXray.savePath.split(',')[0] // 获取扫描图路径
            let path = savePath && savePath.substring(0, savePath.lastIndexOf('/')) // 截取掉图片名
            this.viProbeInfo.name = result.measureVO.vehicleXray.scanId
            this.viProbeInfo.path = path
            this.viProbeInfo.savePath = result.measureVO.vehicleXray.savePath
            if (measureVOData.vehicleXray.scanId && (savePath && savePath.length > 0)) {
              this.isOperateBtn = false
              this.isShowOpenTitle = true
              this.showPhysicalCheckTaskDetail({name: measureVOData.vehicleXray.scanId, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
              this.rewriteCallBack()
            }
          }
        }
        // this.$refs.tableForm.reset()
      }).catch(err => {
        console.log('err', err)
      })
    },
    baseMethod (result, status) { // 公共渲染数据的方法
      if (status) {
        this.changeVehicleType(result)
        if (result.checkInVO) {
          // this.btnText = this.$t('ViBorder.DC.reBind')
          this.buttonStyle = true // 有数据的时候有嫌疑和无嫌疑按钮为蓝色
        } else {
          this.buttonStyle = false // 当无数据的时候有嫌疑和无嫌疑的按钮置灰
        }
        if (sessionStorage.getItem('history') === '2') {
          this.inputItem.forEach(element => {
            element.type = 'onlyRead'
          })
        }
        let checkInVehicleData = ''
        checkInVehicleData = this.$_get(result, 'checkInVO.vehicleCheckIn', '')
        let measureVOData = ''
        if (result.checkInVO) {
          if (result.checkInVO.scannedDocMap) { // 对扫描文件进行赋值
            this.tabInfo.pageImg.length = 0
            for (let item in result.checkInVO.scannedDocMap) {
              let scannedNumber = {}
              scannedNumber.title = result.checkInVO.scannedDocMap[item].docTypeI18n && this.$t(result.checkInVO.scannedDocMap[item].docTypeI18n.key)
              scannedNumber.url = result.checkInVO.scannedDocMap[item].docPath && result.checkInVO.scannedDocMap[item].docPath.split(',').map(e => {
                return `${this.manifestFolder}${e}`
              })
              this.tabInfo.pageImg.push(scannedNumber)
            }
          }
          this.tabInfo.DriverPhoto = result.checkInVO.driverPhoto && `${this.photoFolder}${result.checkInVO.driverPhoto}` // 对司机照片的地址进行赋值
          this.isExitImg = this.$isExitUrl(this.tabInfo.DriverPhoto) // 判断图片地址是否正确
          this.videoPathIn = (result.checkInVO.videoPathIn && `${this.video}${result.checkInVO.videoPathIn}`) || '' // 对视频地址赋值
          this.videoPathOut = (result.checkInVO.videoPathOut && `${this.video}${result.checkInVO.videoPathOut}`) || '' // 对视频地址赋值
          this.baseInformation(result, checkInVehicleData)
        }
        measureVOData = result.measureVO
        if (measureVOData) {
          this.ruleForm.licensePlateNumber = this.$_get(measureVOData, 'vehicleMeasure.licensePlateNumber', '')
        } else if (checkInVehicleData) {
          this.ruleForm.licensePlateNumber = checkInVehicleData.licensePlateNumber
        }
        if (this.$_get(result, 'checkInVO.vehicleLpr', '')) { // 对Tab前车牌赋值
          this.tabInfo.singleImgInfo = {
            left: result.checkInVO.vehicleLpr.amendResult,
            right: result.checkInVO.vehicleLpr.recognitionTime && this.$formatDateTime(result.checkInVO.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')),
            src: result.checkInVO.vehicleLpr.photoPath && `${this.lprFolder}${result.checkInVO.vehicleLpr.photoPath}`
          }
        }
        let checkInLprPhotoPath = checkInVehicleData && checkInVehicleData.lprPhotoPath && `${this.lprFolder}${checkInVehicleData.lprPhotoPath}`
        this.buttonImageData.lpnImageFront.length = 0 // 清空前车牌号数组对前车牌号赋值
        if (checkInLprPhotoPath) { // 前车牌号地址第一次赋值
          this.buttonImageData.lpnImageFront.push(checkInLprPhotoPath)
        }
        if (measureVOData) {
          let measureLprPhotoPath = measureVOData.lprPhotoPath && `${this.lprFolder}${measureVOData.lprPhotoPath}`
          let lprPhotoPathBack = measureVOData.lprPhotoPathBack && `${this.lprFolder}${measureVOData.lprPhotoPathBack}`
          this.buttonImageData.lpnImageBackcontent.length = 0
          if (lprPhotoPathBack) { // 对候后车牌号地址赋值
            this.buttonImageData.lpnImageBackcontent.push(lprPhotoPathBack)
          }
          if (measureLprPhotoPath) { // 前车牌号地址第二次赋值
            this.buttonImageData.lpnImageFront.push(measureLprPhotoPath)
          }
          if (measureVOData.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
            let ccrPhotoArry = measureVOData.ccrPhoto.split(',')
            this.buttonImageData.containerImagedata = ccrPhotoArry.map(e => {
              return `${this.ccrFolder}${e}`
            })
          }
          this.ruleForm.checkInVoVideoPath = measureVOData.videoPathIn && `${this.video}${measureVOData.videoPathIn}` // 对mearsur视频地址进行赋值
          this.ruleForm.measureVoVieoPath = measureVOData.videoPathOut && `${this.video}${measureVOData.videoPathOut}` // 对mearsue视频地址进行赋值
          this.ruleForm.licensePlateNumberBack = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure.licensePlateNumberBack // 车牌号赋值
          this.ruleForm.dcConclusion = result.dcConclusion && result.dcConclusion.conclusionRemark
          this.informationComparison(measureVOData)
        }
      }
    },
    baseInformation (result, checkInVehicleData) { // 基本信息的渲染方法
      this.inputItem.forEach(e => {
        switch (e.ruleProp) {
          case 'checkInTime':
            e.models = checkInVehicleData.checkInTime && this.$formatDateTime(checkInVehicleData.checkInTime, this.$t('ViBorder.common.formatDate'))
            break
          case 'businessTypeI18N':case 'vehicleTypeI18N':
            e.models = checkInVehicleData[e.ruleProp] && this.$t(checkInVehicleData[e.ruleProp].key)
            break
          // case 'vehicleTypeI18N':
          //   e.models = checkInVehicleData.vehicleTypeI18N && this.$t(checkInVehicleData.vehicleTypeI18N.key)
          //   break
          case 'entryTunnel':case 'xrayScan':
            if (checkInVehicleData[e.ruleProp]) {
              e.models = this.$t('ViBorder.common.yes')
            } else {
              e.models = this.$t('ViBorder.common.error')
            }
            break
          case 'trailer':
            e.models = checkInVehicleData && checkInVehicleData.trailer
            break
          case 'riskLevel':
            for (let i = 0; i < this.inputItem.length; i++) {
              if (this.inputItem[i].ruleProp === 'riskLevel') {
                if (checkInVehicleData.vehicleTypeI18N.value !== 'EMPTYTRUCK') {
                  e.models = this.$_get(checkInVehicleData, 'riskLevel.value', '')
                } else {
                  this.inputItem.splice(i, 1)
                }
              }
            }
            break
          case 'fileScanAmount':case 'remark':case 'rfidNumber':case 'asycudaCode':case 'licensePlateNumberBack':
            e.models = checkInVehicleData && checkInVehicleData[e.ruleProp]
            break
          case 'declarationNumber':
            e.models = (checkInVehicleData && checkInVehicleData.declarationNumber) || ''
            this.formRule.model.declarationNumber = (checkInVehicleData && checkInVehicleData.declarationNumber) || ''
            break
          case 'empDeclarationNumber':
            e.models = (checkInVehicleData && checkInVehicleData.declarationNumber) || ''
            break
          case 'originPortCode':
            e.models = checkInVehicleData && checkInVehicleData.originPortI18N && checkInVehicleData.originPortI18N.key && this.$t(checkInVehicleData.originPortI18N.key)
            break
          case 'logistics':
            e.models = checkInVehicleData && checkInVehicleData.logistics
            this.radioChange(e.models)
            break
          case 'destPortI18N':case 'noNeedDestPortI18N':
            e.models = (checkInVehicleData && checkInVehicleData.destPortNumber) || ''
            if (e.type === 'select') {
              if (result.checkInVO.destPortList) {
                e.option = result.checkInVO.destPortList.map(ele => {
                  return {
                    label: this.$t(ele.portI18nKey),
                    value: ele.portNumber
                  }
                })
              }
            }
            break
        }
      })
      this.$refs.tableForm.reset()
    },
    informationComparison (measureVOData) {
      for (let item in this.ruleForm) {
        switch (item) {
          case 'containerNumber':
            this.ruleForm[item] = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure[item]
            break
          case 'enterAndLeaveTime':
            let enterTunnelTime = this.$formatDateTime(this.$_get(measureVOData, 'vehicleMeasure.enterTunnelTime', ''), this.$t('ViBorder.common.formatDate'))
            let leftTunnelTime = this.$formatDateTime(this.$_get(measureVOData, 'vehicleMeasure.leftTunnelTime', ''), this.$t('ViBorder.common.formatDate'))
            if (enterTunnelTime && leftTunnelTime) {
              this.ruleForm[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            } else if (enterTunnelTime) {
              this.ruleForm[item] = enterTunnelTime
            } else if (leftTunnelTime) {
              this.ruleForm[item] = leftTunnelTime
            }
            // this.ruleForm[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            break
          case 'LWH':
            for (let vale in this.ruleForm.LWH) { // 对长宽高进行赋值
              this.ruleForm.LWH[vale] = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure[vale]
            }
            break
          case 'lwhStatus': // 对长宽高的标准值进行赋值
            if (measureVOData && measureVOData.validationInfos) {
              this.ruleForm[item].vehicleLength = this.$_get(measureVOData, 'validationInfos.LENGTH', '')
              this.ruleForm[item].vehicleWidth = this.$_get(measureVOData, 'validationInfos.WIDTH', '')
              this.ruleForm[item].vehicleHeight = this.$_get(measureVOData, 'validationInfos.HEIGHT', '')
            }
            break
          case 'totalWeight':
            if (measureVOData) {
              this.ruleForm[item].totalWeight = this.$_get(measureVOData, 'vehicleMeasure.vehicleWeight', '') // 对车辆的重量赋值
              this.ruleForm[item].weightStatus = this.$_get(measureVOData, 'validationInfos.TOTALWEIGHT', '') // 对车重的标准值进行赋值
            }
            break
          case 'axleWeight':
            this.ruleForm[item] = measureVOData.axelWeight && measureVOData.axelWeight.split(',') // 对轴重进行赋值
            break
          case 'wheelbase':
            this.ruleForm[item] = measureVOData.axelDistance && measureVOData.axelDistance.split(',')
            break
          case 'axleWeightstatus':
            this.ruleForm[item] = this.$_get(measureVOData, 'validationInfos.AXLEWEIGHT', '') // 对轴重的标准值进行赋值
            break
        }
      }
    },
    isShowIPS () { // 点击分析图片按钮触发的方法
      if (!this.viProbeInfo.savePath) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.DC.noScanPhoto'),
          offset: this.notifyOffset
        })
        return false
      }
      if (!this.isOperateBtn) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.message || this.$t('ViBorder.common.viProbe.pleaseOpenViProbe'),
          offset: this.notifyOffset
        })
        return false
      }
      this.closeViewingTool()
      this.isOperateBtn = false
      let {name, path} = this.viProbeInfo
      this.showPhysicalCheckTaskDetail({name, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
      // setTimeout(() => {
      // }, 2000)
    },
    rewriteCallBack () { // 重写方法拿到页面
      var self = this
      viProbeWsCallback.open = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        switch (jsonObj.error) {
          case 0:
            self.isOperateBtn = true
            break
          case 2:
            self.$notify.error({
              title: self.$t('ViBorder.common.dataError'),
              message: self.$t('ViBorder.common.viProbe.notEnoughStorage'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.notEnoughStorage')
            break
          case 4096:
            self.$notify.error({
              title: self.$t('ViBorder.common.dataError'),
              message: self.$t('ViBorder.common.viProbe.fileNotExit'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.fileNotExit')
            break
          case 4106:
            self.$notify.error({
              title: self.$t('ViBorder.common.dataError'),
              message: self.$t('ViBorder.common.viProbe.limitNum'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.limitNum')
            break
          case 12288:
            self.$notify.error({
              title: self.$t('ViBorder.common.dataError'),
              message: self.$t('ViBorder.common.viProbe.downFileFail'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.downFileFail')
            break
          case 32768:
            self.$notify.error({
              title: self.$t('ViBorder.common.dataError'),
              message: self.$t('ViBorder.common.viProbe.systemBusy'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.systemBusy')
            break
          case 24577: // 图像已打开 将按钮置为可操作
            self.isOperateBtn = true
            break
        }
      }
      /**
       * 重写调用获取嫌疑标记后的onMessage方法
       */
      viProbeWsCallback.get_mark_as_base64 = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        if (jsonObj.error === 0) {
          self.viProbeInfo.getMarkBase64Success = true
          self.viProbeInfo.markBase64 = jsonObj.result
        } else {
          self.viProbeInfo.getMarkBase64Success = false
          self.viProbeInfo.markBase64 = null
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
      /**
       * 重写调用获取新嫌疑标记后的onMessage方法
       */
      viProbeWsCallback.get_new_marks = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        // console.log('进来了吗兄弟', jsonObj)
        if (jsonObj.error === 0) {
          self.viProbeInfo.getNewMarksSuccess = true
          // getNewMarksSuccess = true
          self.viProbeInfo.markNew = jsonObj.result
        } else {
          self.viProbeInfo.getNewMarksSuccess = false
          // getNewMarksSuccess = false
          self.viProbeInfo.markNew = []
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
      /**
       * 重写调用上传ViProbe中审图信息后的onMessage方法
       */
      viProbeWsCallback.upload = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        if (jsonObj.result && jsonObj.error === 0) {
          self.viProbeInfo.uploadImageAnalysisSuccess = true
        } else {
          self.viProbeInfo.uploadImageAnalysisSuccess = false
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
      /**
       * 重写调用获取嫌疑标记后的onMessage方法
       */
      viProbeWsCallback.get_image_as_base64 = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        if (jsonObj.error === 0) {
          self.viProbeInfo.getImageInViProbeBase64Success = true
          self.viProbeInfo.imageInViProbeBase64 = jsonObj.result
        } else {
          self.viProbeInfo.getImageInViProbeBase64Success = false
          self.viProbeInfo.imageInViProbeBase64 = null
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
    },
    showPhysicalCheckTaskDetail ({name, path}) { // 在请求到数据的时候，打开ips/viprobe
      let pathArray = this.viProbeInfo.savePath.split(',')
      let imageFiles = pathArray.map(item => {
        let name = item.substring(item.lastIndexOf('/') + 1)
        return {name}
      }).filter(e => {
        if (e.name.includes('.img')) {
          return e
        }
      })
      let markFilePath = ''
      let stepFilePath = ''
      if (this.viProbeInfo.savePath.includes('suspects_json.mark')) {
        markFilePath = `${path}/suspects_json.mark`
      } else if (this.viProbeInfo.savePath.includes('history.steps')) {
        stepFilePath = `${path}/history.steps`
      }
      openImageAndAnalysisInfoInViProbe(name, path, imageFiles, markFilePath, stepFilePath)
    },
    submitTask ({conclusion, name, path}) { // 提交嫌疑标记任务
      let timeout = 500
      let self = this
      this.viProbeInfo.getNewMarksSuccess = null
      this.viProbeInfo.markNew = []
      this.viProbeInfo.uploadImageAnalysisSuccess = null
      // 获取ViProbe上的嫌疑标记
      getNewMarks(name)
      setTimeout(markValidator, timeout)
      // 校验嫌疑标记信息与结论是否相符，并进行后续操作
      function markValidator () {
        if (self.viProbeInfo.getNewMarksSuccess === null) {
          if (reconnectToViProbeFailedNew === true) {
            // setButtonEnable()
            return false
          } else {
            console.info('get mark not finished, waiting...')
            setTimeout(markValidator, timeout)
          }
        } else if (self.viProbeInfo.getNewMarksSuccess === true) {
          if (self.viProbeInfo.markNew && self.viProbeInfo.markNew.length) { // 有标记
            if (conclusion === 'PASS') { // 无嫌疑
              self.$notify({
                message: self.$t('ViBorder.DC.markImage'),
                type: 'warning',
                offset: this.notifyOffset
              })
              return false
            } else {
              let scb = () => {
                console.log('end validate Mark, start upload viprobe info')
                uploadImageAnalysisInfo(name, path, true, true, true)
                setTimeout(uploadViProbeInfoValidator, timeout)
              }
              self.confirmModal({msg: self.$t('ViBorder.businessLogicCommon.confirmSubmit'), scb: scb})
            }
          } else { // 无标记
            let scb = () => {
              uploadImageAnalysisInfo(name, path, false, true, false)
              setTimeout(uploadViProbeInfoValidator, timeout)
            }
            self.confirmModal({msg: self.$t('ViBorder.businessLogicCommon.confirmSubmit'), scb: scb})
          }
        } else if (self.viProbeInfo.getNewMarksSuccess === false) {
          // 弹出提示框，提示用户，与ViProbe交互失败
          self.$notify.error({
            title: self.$t('ViBorder.common.dataError'),
            message: self.$t('ViBorder.common.viProbe.errorMark'),
            offset: this.notifyOffset
          })
          // setButtonEnable()
          return false
        }
      }
      // 提交结论信息到后台服务，将markNew的值放到参数中一并提交到后台服务
      let submitConclusion = () => {
        // 若提交结论成功，关闭ViProbe中的图像
        self.submitData(conclusion, name)
        // 返回列表页
      }
      // 校验上传ViProbe中审图相关信息是否成功，并进行后续操作
      function uploadViProbeInfoValidator () {
        self.openLoading()
        if (self.viProbeInfo.uploadImageAnalysisSuccess === null) {
          if (reconnectToViProbeFailedNew === true) {
            // setButtonEnable()
            return false
          } else {
            console.info('upload ViProbe info not finished, waiting...')
            setTimeout(uploadViProbeInfoValidator, timeout)
          }
        } else if (self.viProbeInfo.uploadImageAnalysisSuccess === true) {
          console.log('end validate Upload ViProbe info, submit conclusion')
          submitConclusion()
        } else if (self.viProbeInfo.uploadImageAnalysisSuccess === false) {
          // 弹出提示框，提示用户，与ViProbe交互失败
          self.$notify.error({
            title: self.$t('ViBorder.common.dataError'),
            message: self.$t('ViBorder.common.viProbe.errorMark'),
            offset: this.notifyOffset
          })
          // setButtonEnable()
          return false
        }
      }
    },
    async submit (conclusion) { // 有嫌疑和无嫌疑的时候共同使用的接口
      // 校验在前边调用
      this.getNotAutoRemark = this.ruleForm.textarea
      // 三个按钮是否可以操作
      try {
        let res = await Axios._canSubmit({vehicleId: sessionStorage.vehicleId})
        if (!res.data.flag) {
          return false
        }
      } catch (error) {
        return false
      }
      // 进行表单校验
      if (!this.regularCheck()) {
        return false
      }
      let str = ''
      if (conclusion === 'PASS') {
        str = `${this.$t('ViBorder.businessLogicCommon.noSuspicion')}\n${this.ruleForm.textarea}`
      } else if (conclusion === 'SUSPICION') {
        str = `${this.$t('ViBorder.businessLogicCommon.suspicion')}\n${this.ruleForm.textarea}`
      }
      if (str.length > 500) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'),
          offset: this.notifyOffset
        })
        return false
      }
      this.ruleForm.textarea = str
      if (this.verificationPassed) {
        if (!this.isOperateBtn) {
          this.$notify({
            title: this.$t('ViBorder.common.warning'),
            message: this.message || this.$t('ViBorder.common.viProbe.pleaseOpenViProbe'),
            type: 'warning',
            offset: this.notifyOffset
          })
          let scb = () => {
            this.submitData(conclusion, this.viProbeInfo.name, false)
          }
          this.confirmModal({msg: conclusion === 'PASS' ? this.$t('ViBorder.businessLogicCommon.confirmSubmitNoSuspicion') : this.$t('ViBorder.businessLogicCommon.confirmSubmitSuspicion'), scb: scb})
          return false
        }
        // 如果有scanid调用提交结论viprobe，在其成功之后调用后台提交结论接口
        if (this.viProbeInfo.name && this.viProbeInfo.savePath) {
          this.submitTask({conclusion, name: this.viProbeInfo.name, path: `${this.viProbeInfo.viprobeShowPath}${this.viProbeInfo.path}`})
        } else {
          // 没有scanid则直接调后台接口
          let scb = () => {
            this.submitData(conclusion, this.viProbeInfo.name)
          }
          this.confirmModal({msg: conclusion === 'PASS' ? this.$t('ViBorder.businessLogicCommon.confirmSubmitNoSuspicion') : this.$t('ViBorder.businessLogicCommon.confirmSubmitSuspicion'), scb: scb})
        }
      }
    },
    pushIndex () { // 从历史返回到主页
      this.$router.push({
        path: '/dc/index'
      })
    },
    openLoading () {
      this.pageLoading = this.$loading({
        lock: true,
        text: this.$t('ViBorder.common.loading'),
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      })
    },
    closeLoading () {
      if (this.pageLoading) {
        this.pageLoading.close()
      }
    },
    regularCheck () { // 提交按钮
      let rule = this.formRule.rule
      let tipsInfo = []
      let inputArr = this.inputItem.slice()
      // 找到没有填写的必填项
      if (document.querySelector('.el-form-item__error')) {
        tipsInfo.push(`${document.querySelector('.el-form-item__error').innerHTML}`)
      } else {
        inputArr.forEach(e => {
          for (const key in rule) {
            if (rule.hasOwnProperty(key)) {
              if ((e.ruleProp === key) && rule[key][0].required && (e.models === '' && (e.models !== 0))) {
                let ope = ''
                if (e.type === 'text') {
                  ope = this.$t('ViBorder.common.pleaseEnter')
                } else {
                  ope = this.$t('ViBorder.common.pleaseSelect')
                }
                tipsInfo.push(`${ope} ${e.getLabel}`)
              }
            }
          }
        })
      }
      // 判断是否有项目咩填写
      let hasErr = tipsInfo[0]
      if (hasErr) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: hasErr,
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      } else {
        this.verificationPassed = true
        return true
      }
    },
    submitData (conclusionType, name, isConnect = true) {
      // 三个按钮是否可以操作
      if (!this.isOperateBtn && isConnect) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.message || this.$t('ViBorder.businessLogicCommon.pleaseWait'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let suspicionMark
      // 有标记信息
      if (this.viProbeInfo.markNew.length) {
        suspicionMark = true
      } else {
        suspicionMark = false
      }
      let params = {
        vehicleId: this.paramData.vehicleId,
        licensePlateNumber: this.paramData.licensePlateNumber,
        containerNumber: this.paramData.containerNumber,
        conclusionType: conclusionType,
        remark: this.ruleForm.textarea.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' '),
        destPortNumber: '',
        riskLevel: '',
        logistics: '',
        originVehicleId: this.paramData.originVehicleId,
        asycudaCode: '',
        declarationNumber: '',
        trailer: '',
        suspicionMark
      }
      // let isDeclarationNumber = false
      // let isRiskLevel = false
      let trailerParam = ''
      let logisticsParam = ''
      this.inputItem.forEach(e => {
        if (e.ruleProp === 'riskLevel') {
          // isRiskLevel = true
          params.riskLevel = e.models
        }
        if (e.ruleProp === 'logistics') {
          params.logistics = e.models
          logisticsParam = e.models
        }
        if (e.ruleProp === 'destPortI18N') {
          params.destPortNumber = e.models
        }
        if (e.ruleProp === 'noNeedDestPortI18N') {
          params.destPortNumber = e.models
        }
        if (e.ruleProp === 'asycudaCode') {
          params.asycudaCode = e.models
        }
        if (e.ruleProp === 'declarationNumber') {
          params.declarationNumber = e.models
          // isDeclarationNumber = true
        }
        if (e.ruleProp === 'empDeclarationNumber') {
          params.declarationNumber = e.models
          // isDeclarationNumber = false
        }
        if (e.ruleProp === 'trailer') {
          params.trailer = e.models
          trailerParam = e.models
        }
      })
      let val = this.$filterNullFields(params)
      let fn = () => {
        this.$notify.error({
          title: this.$t('ViBorder.common.dataError'),
          message: this.$t('ViBorder.businessLogicCommon.operationFailed'),
          offset: this.notifyOffset
        })
      }
      val.logistics = logisticsParam
      val.trailer = trailerParam
      Axios._submitConclusion(val).then(res => {
        if (res.data.flag === true) {
          this.$notify.success({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
            offset: this.notifyOffset
          })
          if (this.isShowOpenTitle) {
            closeImageInViProbe(name)
          }
          let vehicleId = sessionStorage.getItem('vehicleId')
          Axios._openCompareHis({vehicleId: vehicleId}).then(res => {
            if (res.data.flag === true) {
              sessionStorage.setItem('historyVehicleId', vehicleId)
              this.$router.push({
                path: '/dc/dcDetail'
              })
            }
          }).catch(err => {
            console.log('err', err)
            // this.fullscreenLoading = false
            fn()
          })
        } else {
          fn()
        }
        this.closeLoading()
      }).catch(err => {
        console.log('err', err)
        fn()
        this.closeLoading()
      })
    },
    cancel () { // 点击取消按钮接触用户的绑定
      let vehicleId = sessionStorage.getItem('vehicleId')
      let params = {vehicleId: vehicleId}
      let scb = () => {
        // this.fullscreenLoading = true
        Axios._cancelCompare(params).then(res => {
          if (res.data.flag === true) {
            this.$router.push({
              path: '/dc/index'
            })
            if (this.isShowOpenTitle) {
              closeImageInViProbe(this.viProbeInfo.name)
            }
          } else {
            this.$notify.error({
              title: this.$t('ViBorder.common.dataError'),
              message: this.$t('ViBorder.common.cancelFailure'),
              offset: this.notifyOffset
            })
          }
        }).catch(err => {
          console.log('err', err)
          this.$notify.error({
            title: this.$t('ViBorder.common.dataError'),
            message: this.$t('ViBorder.common.cancelFailure'),
            offset: this.notifyOffset
          })
        })
      }
      this.confirmModal({msg: this.$t('ViBorder.businessLogicCommon.confirmCancellation'), scb: scb})
      // if (this.$store.state.isReleaseCloseBtn || this.isOperateBtn) {
      // } else {
      //   this.$notify({
      //     title: this.$t('ViBorder.common.warning'),
      //     message: this.$t('ViBorder.businessLogicCommon.pleaseWait'),
      //     type: 'warning',
      //     offset: this.notifyOffset
      //   })
      //   return false
      // }
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    resetModal () { // 点×号关闭弹窗并且清空数据
      this.audioData.videoSoure = false
      this.$refs.modalForm.reset()
    },
    mediaPlay (measure) {
      this.audioData.videoData = []
      let fn = (a, b) => {
        this.singleVideoDrive = a || b ? (a ? this.$t('ViBorder.businessLogicCommon.enterVideo') : this.$t('ViBorder.businessLogicCommon.leaveVideo')) : ''
        a && this.audioData.videoData.push(a)
        b && this.audioData.videoData.push(b)
      }
      if (measure) {
        let {checkInVoVideoPath, measureVoVieoPath} = this.ruleForm
        this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
        fn(checkInVoVideoPath, measureVoVieoPath)
      } else {
        let {videoPathIn, videoPathOut} = this
        this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.checkInVideoTitle')
        fn(videoPathIn, videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    radioChange (value) {
      if (value) {
        this.$set(this.formRule.rule.destPortI18N, 0, { required: true, message: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'), trigger: 'blur' })
      } else {
        this.$set(this.formRule.rule.destPortI18N, 0, '')
      }
    },
    noPictrueTips (str) {
      if (!this.buttonImageData[str].length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    getIsExists () { // 地图请求的方法
      let trackingId = this.trackingArr && this.trackingArr[0] && this.trackingArr[0].vehicleId
      let elockNumber = this.trackingArr && this.trackingArr[0] && this.trackingArr[0].elockNumber
      if (trackingId !== '' && trackingId !== null && trackingId !== undefined) {
        this.tripId = trackingId
        if (elockNumber !== '' && elockNumber !== null && elockNumber !== undefined) {
          let param = {
            serialNumber: elockNumber
          }
          Axios._getIsExists(param).then((res) => {
            if (res.data.flag) {
              if (res.data.result !== null) {
                this.elockId = res.data.result.id
              }
            }
          })
        }
      }
    }
  },
  watch: {
    'activeName': {
      handler (curVal, oldVal) {
        if (curVal === 'five') {
          this.track = true
          this.getIsExists() // 初始化的时候请求地图的数据
        }
      }
    }
  },
  components: {trackReplay}
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.el-popover {
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .dc-checkimg {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#dc-check {
  @extend .extend-bar;
  .welcome {
    @include flex()
  }
  .dc-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: flex !important;
    position: relative;
    .table-info {
      width: $all / 2;
      margin-right: $margin;
      @include flex(column);
      .panel {
        .el-form {
          .content_rule {
            .el-form-item__content {
              .content_left {
                width: 65%!important;
                margin-bottom: -1px;
                .data-panel {
                  .left_button {
                    position:absolute;
                    right: 32px;
                    background-color: #f56c6c;
                    border: 0px;
                    height: 63%;
                    top: 9px;
                    width: 23px;
                    border-radius: 4px;
                    color: #fdfdfde8
                  }
                  @media screen and (max-width: 1640px) {
                    .left_button {
                      right: 22px;
                    }
                  }
                }
                .el-form-item__label {
                  width: 580px!important;
                }
                @media screen and (max-width: 1640px) {
                  .el-form-item__label {
                    width: 410px!important;
                  }
                }
                .el-input {
                  width: 95%!important;
                }
                @media screen and (max-width: 1640px) {
                  .el-input {
                    width: 130%!important;
                  }
                }
              }
              .content_right > .el-form-item__content {
                display: flex!important;
                justify-content: flex-start!important;
              }
              .content_right {
                .el-input {
                  width: 60%!important;
                }
                @media screen and (max-width: 1640px) {
                  .el-input {
                    width: 58%!important;
                  }
                }
                .el-form-item__content > span {
                  position: absolute;
                  right: 19px;
                }
                .el-form-item__content {
                  .el-button {
                   position: absolute;
                   right: 97px;
                   padding: 6px 8px;
                  }
                  .right_button {
                    position:absolute;
                    right: 129px;
                    background-color: #f56c6c;
                    border: 0px;
                    height: 63%;
                    top: 9px;
                    width: 23px;
                    border-radius: 4px;
                    color: #fdfdfde8
                  }
                  @media screen and (max-width: 1640px) {
                    .right_button {
                      right: 95px;
                    }
                    .el-button {
                      position: absolute;
                      right: 80px;
                    }
                  }
                }
              }
              .el-form-item {
                .el-form-item__content {
                  margin: 0!important;
                }
              }
            }
          }
          .el-form-item {
            .el-form-item__label {
              white-space: pre-wrap;
            }
          }
          &:first-child {
            .el-form-item__content {
              .info-item {
                .el-button {
                  background: $videoBg  top 50%  center no-repeat;
                  background-color: #ffffff!important;
                  border: none;
                  height: 30px;
                  width: 30px;
                }
              }
            }
          }
        }
        .panel-title {
          .operate-menu {
            .el-button {
              height: $mini;
              line-height: $mini;
              margin-right: 30px!important;
              padding-top: 0;
            }
          }
        }
        .btn-group {
          width: $all;
          position: relative;
          @include flex();
          margin: $margin 0;
          .buttonStyle {
            &:last-child {
              position: absolute;
              right: $dis10;
            }
          }
        }
      }
      .panel {
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        .analyze_image {
          display: block;
          margin-right: 20px;
          color: #1782d4;
        }
        &:first-child {
          .el-form {
            border-bottom: none;
          }
        }
        &:last-child {
          margin-bottom: 0;
          .left-bar {
            .tableForm {
              .data-panel {
                width: $all * .6;
                @include flex(row,space-between);
                padding: 0 $margin;
                .el-input {
                  width: 37%;
                }
                .el-textarea {
                  padding: 4px 0;
                }
                .border-style {
                  width: $all * .15;
                  height: 20px;
                  @include flex();
                  border-radius: 6px;
                  border: 1px solid #ddd;
                  margin-left: 10px;
                  &:first-child {
                    margin-left: 0px;
                  }
                }
                .border-style.danger-border {
                  border: 1px dashed red;
                }
              }
              .statusStart {
                @include flex(row,flex-start);
              }
              .el-form {
                width: calc(100% - 20px);
                margin: $dis10;
                @include box-sizing;
                border: 1px solid $panelBorder;
                .btn-style {
                  margin: $margin;
                }
                .el-form-item {
                  width: $all;
                  display: flex;
                  .el-form-item__label {
                    white-space: pre-wrap;
                    @extend .extend-table-form-left-style;
                    border: none;
                    height: $all;
                    border-right: 1px solid #ddd;
                  }
                  .el-form-item__content {
                    @extend .extend-table-form-content-style;
                    width: $all;
                    padding: 0;
                    .common-img {
                      cursor: pointer;
                      height: $large;
                      width: $large;
                    }
                    .lpn-front {
                      background: $carBg  top -15% center no-repeat;
                    }
                    .lpn-back {
                      background: $carBg  top 48% center no-repeat;
                    }
                    .container {
                      background: $carBg  top 115% center no-repeat;
                    }
                    .leaving-time {
                      background: $videoBg  top 50%  center no-repeat;
                    }
                  }
                  .el-form-item__error {
                    display: none;
                  }
                  &:last-child {
                    .el-form-item__content {
                      // margin: $margin 0;
                      width: $all;
                      border-bottom: none
                    }
                  }
                }
              }
            }
          }
        }
        .left-bar {
          @extend .extend-bar;
          width: $all;
        }
        .btn-group {
          width: $all;
          position: relative;
          @include flex();
          margin: $margin 0;
          .buttonStyle {
            &:last-child {
              position: absolute;
              right: $dis10;
            }
          }
        }
      }
      @media screen and (min-width: 1640px) {
      // 大屏
        .panel-overun {
          height: 650px;
        }
      }
    }
    #idalog {
      .el-dialog__body {
        display: flex;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 2px);
      margin-bottom: 0px;
      .btn-group {
        width: $all;
        position: relative;
        @include flex();
        margin: $margin 0;
        .buttonStyle {
          &:last-child {
            position: absolute;
            right: $dis10;
          }
        }
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
        .no-imgdata {
          color: #CCC;
        }
      }
      .single-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $all;
        .system-content {
          @include box-sizing();
          width: $all;
          height: $all;
          display: flex;
          flex-direction: column;
          .system-top {
            flex: 1;
            display: flex;
            flex-direction: row;
          }
          .system-bottom {
            flex: 1;
            margin-top: 0px;
            display: flex;
            flex-direction: row;
          }
        }
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
    @media screen and (max-width: 1640px) {
      // 小屏
      .aside-panel {
        height: $all * 0.7;
        .search-form {
          padding: 0;
          .el-form-item {
            margin-bottom: $dis10;
          }
          .el-form-item.search-form-btn {
            margin-top: 0;
          }
        }
        .up-down-infolist {
          .tableComp {
            height: 322px;
          }
        }
      }
    }
    .dialog-data {
      #dialog {
        .el-dialog__wrapper {
          .el-dialog {
            width: 70%;
            .el-dialog__headerbtn {
              top: 9px;
            }
          }
        }
      }
      .el-dialog__header {
        padding: 10px 10px;
      }
      .el-dialog__body {
      padding: 0;
      .list-content {
        height: $all;
        .infolist {
          flex-direction: column;
          padding: 5px 20px;
          .panel-bottom {
            height: 500px;
            @media screen and (max-width: 1640px) {
              height: 243px;
            }
          }
          .panel {
            .tableComp {
              .el-table_1_column_5 {
                padding-left: 5%;
                .el__popover_reference {
                  height: 30px;
                }
              }
            }
            @extend .extend-panel;
            width: 100%;
            .form-bar {
              display: flex;
              width: $all;
              height: 135px;
              .search-form {
                @include flex();
                .search-form-item {
                  width: 45%!important;
                  .el-form-item__label {
                    font-weight: bold;
                  }
                }
                .search-form-btn {
                  justify-content: flex-end;
                  @media screen and (max-width: 1640px) {
                    justify-content: flex-end;
                    // .el-form-item__content {
                    //   width: 20%;
                    // }
                  }
                }
                @include layout(2);
              }
            }
            .btn-group {
              width: $all;
              position: relative;
              @include flex();
              margin: $margin 0;
              .buttonStyle {
                &:last-child {
                  position: absolute;
                  right: $dis10;
                }
              }
            }
          }
        }
      }
      }
    }
    .audio-one {
      #dialog .el-dialog {
        // width: 80%!important;
        width: 510px;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
  }
}
.el-date-range-picker {
  width: 585px;
}
</style>
