<template>
  <div id='dc-detail' v-bar>
    <div class="dc-M">
      <!-- 左侧panel -->
      <div class="table-info">
        <!-- 基础信息栏目开始 -->
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.BI"></panelTitle>
          <div class="left-bar" v-bar>
            <div>
              <tableForm :searchIpt="inputItem" :searchFunc="hasBtn = false" :formRule='formRule'></tableForm>
            </div>
          </div>
        </div>
        <!-- 基础信息栏结束 -->
        <!-- 信息对比栏开始 -->
        <div class="panel" :class="!Overrun ? 'panel-overun' : ''">
          <panelTitle :panelTitleInit="panelTitle.IC">
            <div v-if="isShowOpenTitle">
              <!-- 信息比对标题中的analyzelmage按钮 -->
              <a href="javascript:" @click="showTaskDetail" class="analyze_image" slot="reference">{{$t('ViBorder.DC.analyzeImage')}}</a>
            </div>
          </panelTitle>
          <div class="left-bar" v-bar>
            <div class="tableForm">
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                <el-form-item v-if="Overrun" prop="delivery">
                  <!-- 驶入通道和离开通道时间 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')">{{$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.enterAndLeaveTime}}</span>
                    <div class="leaving-time common-img" @click="mediaPlay(true)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                  </div>
                </el-form-item>
                <el-form-item prop="lpnFront">
                  <!-- lpn(back)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumber}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="noPictrueTips('lpnImageFront')">
                      <el-popover placement="left" :disabled="buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageFront" :key="index">
                            <img :src="item" class="dc-checkimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun">
                  <!-- lpn(back)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumberBack}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="noPictrueTips('lpnImageBackcontent')">
                      <el-popover placement="left" :disabled="buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageBackcontent" :key="index">
                            <img :src="buttonImageData.lpnImageBackcontent[0]" class="dc-checkimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.containerNumber}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div  @click="noPictrueTips('containerImagedata')">
                      <el-popover placement="left" :disabled="buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.containerImagedata" :key="index">
                            <img :src="item" class="dc-checkimg" :onerror="imgError">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="resource">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                    <template v-if="ruleForm.LWH.vehicleLength || ruleForm.LWH.vehicleWidth || ruleForm.LWH.vehicleHeight">
                      <span v-for="(item, index) in ruleForm.LWH" :class="ruleForm.LWH[index] - ruleForm.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="desc">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                    <span v-if="ruleForm.totalWeight.totalWeight" class="border-style" :class="ruleForm.totalWeight.totalWeight - ruleForm.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{ruleForm.totalWeight.totalWeight}}</span>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="desc">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.axleWeight">
                      <span v-for="(item, index) in ruleForm.axleWeight" :class="item - ruleForm.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item v-if="Overrun" prop="desc">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.wheelbase">
                      <span v-for="(item, index) in ruleForm.wheelbase" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item prop="textarea">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.dcConclusion')">{{$t('ViBorder.businessLogicCommon.dcConclusion')}}</label>
                  <div class="data-panel">
                    <div :class="isRedColor ? 'text-color' : ''">{{ruleForm.inspectionConclusion}}</div>
                  </div>
                </el-form-item>
                <el-form-item prop="textarea">
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.inspectionDcRemark')">{{$t('ViBorder.businessLogicCommon.inspectionDcRemark')}}</label>
                  <div class="data-panel">
                    <div v-html="ruleForm.dcConclusion" class="remark"></div>
                  </div>
                </el-form-item>
              </el-form>
            </div>
          </div>
          <div class="btn-group">
            <el-button :type="exportDisabled.disable ? 'info' : 'primary'" class="buttonStyle" @click="exportImg" :disabled="exportDisabled.disable">{{$t('ViBorder.common.export', {msg: ''})}}</el-button>
            <el-button class="buttonStyle" @click="pushIndex">{{$t('ViBorder.common.close')}}</el-button>
          </div>
        </div>
        <!-- 信息比对栏结束 -->
      </div>
      <!-- 视频图层 -->
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{videoDriveIn}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{videoDriveOut}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <!-- 右侧图像 -->
      <div class="right">
        <el-tabs type="border-card" v-model="activeName">
          <el-tab-pane  :label="this.$t('ViBorder.businessLogicCommon.lprTab')" name="first">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')" name="second">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.asycudaTab')" name="third" v-if="asycudaShow">
            <div class="not-scan-img">
              {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
            </div>
            <!-- <div class="single-img">
              <img src="#" alt="" style="width: 100%;">
            </div> -->
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')" name="fourth">
            <div class="single-img">
              <otherSystem :conclusionList="otherSystem"></otherSystem>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.alarmInformationTab')" v-if="alarmInformation" name="five">
            <div class="single-img">
              <trackReplay :tripId="tripId" :elockId="elockId" v-if="track"></trackReplay>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <!-- <Dialog :modalData="{flag: true}"> -->
      <!-- 文件导出 -->
    <Ecsi :exportInfo="exportInfo"></Ecsi>
    <!-- </Dialog> -->
  </div>
</template>
<script>
import Ecsi from '@/components/common/ExportConclusionScanImage'
import initExportData from '@/components/common/ECSIData'
import Axios from '@/api/DC/dc.js'
import {openImageAndAnalysisInfoInViProbe, closeImageInViProbe, getNewMarks, uploadImageAnalysisInfo, getNewMarksSuccess, markNew, uploadImageAnalysisSuccess, reconnectToViProbeFailedNew} from '@/lib/viProbe/viProbeForIns.js'
import {viProbeWsCallback} from '@/lib/viProbe/viProbeUtil'
import export2Img from '@/lib/export2Img.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import trackReplay from '@/components/trackReplay/trackPlay'
export default {
  name: 'comparison',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      track: false,
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      viprobe: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.niiFolder}`,
      trackingArr: '', // 用于存放请求回来的地图数组
      // tripId: '', // 地图相关的信息
      // elockId: '', // 地图相关的信息
      asycudaShow: true,
      isRedColor: false,
      activeName: 'first', // Tab标签
      tripId: 'da8ea05a-06be-49a5-becd-098f03d0185e', // 地图相关的信息
      elockId: '98d92d06-1e29-40b8-9c56-9b8e7c0ca65f', // 地图相关的信息
      DCClient: '', // 用于websocketd
      exportDisabled: {
        disable: false
      }, // 控制文件导出按钮是否禁用
      measureId: '',
      isExitImg: '', // 用于判断司机照片地址是否存在
      clearInputItemData: '',
      paramData: '', // 存放请求回来的数据
      imagePlay: false,
      Overrun: true, // 当为超限车辆的时候信息比对里面的只显示前车牌号和remark
      CurrentChageFlag: false, // dialog分页切换标志位
      imgError: '',
      timeout: 500, // viprobe上传文件延时
      isShowOpenTitle: false,
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        // checkinVideoData: { // 存放登记时候的视屏会赋值到dialogData
        //   checkInVideoPathIn: '',
        //   checkInVideoPathOut: '',
        //   measureVideoPathIn: '',
        //   measureVideoPathOut: ''
        // },
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.checkInVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      alarmInformation: false, // 用于控制报警信息栏目是否显示
      isAllowExport: true,
      exportInfo: {}, // 文件导出的数据
      otherSystem: [],
      panelTitle: { // 主页面左侧标题
        BI: {
          title: this.$t('ViBorder.businessLogicCommon.checkInfo')
        },
        IC: {
          title: this.$t('ViBorder.businessLogicCommon.infoCom')
        },
        LT: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        },
        VQ: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        }
      },
      buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
        scanPath: '',
        lpnImageFront: [],
        lpnImageBackcontent: [],
        containerImagedata: []
      },
      tabInfo: { // tab标签页数据
        DriverPhoto: '', // 司机照片的地址信息
        imageDate: [ // 其他系统的图片信息地址
          // 'http://pic6.nipic.com/20100415/4321211_002313964413_2.jpg',
          // 'http://pic1.16pic.com/00/37/28/16pic_3728619_b.jpg'
        ],
        singleImgInfo: {},
        // isSacn: true,
        isShowScanImg: false,
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [] // 扫描文件viewer数据
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {}
      },
      tableData: { // dialog表格数据
        popoverWidth: '400px',
        popoverHeight: '400px',
        MaxHeight: '140',
        sortMethod: this.getSortTable, // 新增排序方法
        data: [],
        isBorder: true,
        isStripe: true
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'onlyRead',
          models: '',
          hasBtn: true,
          hasClearBtn: true, // 当有一个不需要必填验证的按钮
          ruleProp: 'checkInTime',
          btnOperate: {
            btnText: '',
            fn: this.mediaPlay
          }
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'logistics'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'destPortI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'rfidNumber'
          // change: this.rfidChange,
          // maxlength: 128
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          type: 'radio',
          models: '',
          ruleProp: 'trailer',
          isColor: false,
          // change: this.radioChange,
          option: [
            {
              label: this.$t('ViBorder.common.yes'),
              value: true
            },
            {
              label: this.$t('ViBorder.common.error'),
              value: false
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none'
        }
      ],
      rules: {},
      videoDriveIn: this.$t('ViBorder.businessLogicCommon.enterVideo'), // 驶入通道视频title
      videoDriveOut: this.$t('ViBorder.businessLogicCommon.leaveVideo'), // 驶离通道视频title
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 检入的视频地址
      videoPathOut: '', // 检出的视频地址
      ruleFormCopy: '', // 用于存放纯净的ruleForm
      ruleForm: {
        checkInVoVideoPath: '', // 测量进入通道的视频
        measureVoVieoPath: '', // 测量数据的驶离通道的视频
        containerNumber: '', // 集装箱号
        addButton: false,
        leftInput: true, // 控制左侧集装箱号的显示和隐藏
        rightInput: true, // 控制右侧集装箱号的显示和隐藏
        crrLeft: '',
        crrRight: '',
        containerState: false,
        inspectionConclusion: '', // 综合查验结论
        clearData: false,
        licensePlateNumberBack: '', // 后车牌号
        delivery: false,
        type: [],
        resource: '',
        desc: '',
        licensePlateNumber: '', // 前车牌号
        enterAndLeaveTime: '',
        textarea: '',
        basicInfo: {},
        lwhStatus: { // 长宽高标准值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: { // 长宽高
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        totalWeight: { // 总重
          weightStatus: '', // 总重量的标准间值
          totalWeight: ''
        },
        axleWeightstatus: '', // 轴重标准值
        axleWeight: [], // 轴重
        wheelbase: [] // 轴重
      },
      dcConclusion: '',
      viProbeInfo: {
        name: '',
        path: '',
        viprobeShowPath: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.niiFolder}`,
        getNewMarksSuccess: '',
        markNew: '',
        errorCode: 0,
        markBase64: '',
        getMarkBase64Success: '',
        uploadImageAnalysisSuccess: ''
      },
      isOperateBtn: true,
      suspicionMark: '' // 比对是否画标记
    }
  },
  created () {
    this.clearInputItemData = JSON.parse(JSON.stringify(this.inputItem))
    this.clearInputItemData[0].btnOperate.fn = this.mediaPlay
    let historyVehicleId = sessionStorage.getItem('historyVehicleId')
    this.openCompareHis({vehicleId: historyVehicleId})
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
  },
  destroyed () {
    this.closeViewingTool()
    this.$store.commit({
      type: 'releaseBtn',
      releaseCloseBtn: false
    })
  },
  methods: {
    /**
     * ***********************页面逻辑区域*********************************************
     */
    closeViewingTool () {
      if (this.isShowOpenTitle) {
        closeImageInViProbe(this.viProbeInfo.name)
      }
    },
    getExportConclusion ({result}) { // 获取导出图片信息
      this.exportInfo = initExportData({result, type: 0, mainTitle: this.$t('ViBorder.DC.ComprehensiveInspectionForm')})
    },
    windowResize () { // 用于页面改变时（大屏或小屏）更改dialog弹窗数据列表的MaxHeight
      let clientWidth = document.body.clientWidth
      if (clientWidth > 1640) {
        this.$data.tableData.MaxHeight = 400
      } else {
        this.$data.tableData.MaxHeight = 140
      }
    },
    changeVehicleType (val) { // 这里是改变车辆类型时,修改左侧表单的显示方法,以下有8种类型判断(进口对应4种,出口对应4种)
      if (val.checkInVO.businessType === '2') { // 目前是出口状态
        if (val.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || val.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') { // 选中货车
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              type: 'onlyReadColor',
              models: '',
              ruleProp: 'riskLevel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 空车时
          this.asycudaShow = false
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumberBack'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'empDeclarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') { // 选中 超限车辆
          // this.Overrun = false
          // this.ruleForm.licensePlateNumber = val.checkInVO.vehicleCheckIn.licensePlateNumber // 对前车牌赋值
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              type: 'onlyReadColor',
              models: '',
              ruleProp: 'riskLevel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        }
      } else if (val.checkInVO.businessType === '3') { // 转关到达
        this.alarmInformation = true
        this.getIsExists() // 初始化的时候请求地图的数据
        if (val.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK') { // 选中货车
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.from'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'originPortCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              type: 'onlyReadColor',
              models: '',
              ruleProp: 'riskLevel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 空车时
          this.asycudaShow = false
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.from'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'originPortCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'empDeclarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') { // 选中 超限车辆
          // this.Overrun = false
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.from'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'originPortCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              type: 'onlyReadColor',
              models: '',
              ruleProp: 'riskLevel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        }
      } else if (val.checkInVO.businessType === '1') { // 目前是进口状态
        if (val.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || val.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') { // 商品车 货车
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumberBack'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'logistics'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.to'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'destPortI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'trailer'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              type: 'onlyReadColor',
              models: '',
              ruleProp: 'riskLevel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 选中空车时
          // this.inputItem.splice(11, 1)
          this.asycudaShow = false
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              hasBtn: true,
              hasClearBtn: true, // 当有一个不需要必填验证的按钮
              ruleProp: 'checkInTime',
              btnOperate: {
                btnText: '',
                fn: this.mediaPlay
              }
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'asycudaCode'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'empDeclarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'logistics'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.to'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'destPortI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'trailer'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        }
      }
    },
    openCompareHis (val) { // 历史详情页
      Axios._openCompareHis(val).then(res => {
        this.paramData = JSON.parse(JSON.stringify(res)) // 深复制一个纯净的数据，用于后期提交时候的参数
        let status = res.data.flag
        let result = ''
        if (status) {
          result = res.data.result
          this.trackingArr = res.data.result.elockList
          this.baseMethod(result, status)
          let measureVOData = result.measureVO
          let {jointConfirm} = result.checkInVO
          this.otherSystem = jointConfirm ? this.$otherHoverData(jointConfirm) : []
          this.suspicionMark = result.suspicionMark
          if (measureVOData && measureVOData.vehicleXray) {
            let savePath = measureVOData.vehicleXray.savePath && measureVOData.vehicleXray.savePath.split(',')[0] // 获取扫描图路径
            let path = savePath && savePath.substring(0, savePath.lastIndexOf('/')) // 截取掉图片名
            this.viProbeInfo.name = result.measureVO.vehicleXray.scanId
            this.viProbeInfo.path = path
            this.viProbeInfo.savePath = result.measureVO.vehicleXray.savePath
            if (measureVOData.vehicleXray.scanId && (savePath && savePath.length > 0)) {
              this.isShowOpenTitle = true
              this.isOperateBtn = false
              this.showPhysicalCheckTaskDetail({name: measureVOData.vehicleXray.scanId, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
              this.rewriteCallBack()
            }
          }
          this.getExportConclusion({result}) // 导出文件方法调用
        }
      }).catch(err => {
        // this.fullscreenLoading = false
        console.log('err', err)
      })
    },
    baseMethod (result, status) { // 公共渲染数据的方法
      if (status) {
        this.changeVehicleType(result)
        let checkInVehicleData = ''
        checkInVehicleData = result.checkInVO && result.checkInVO.vehicleCheckIn
        let measureVOData = ''
        if (result.checkInVO) {
          if (result.checkInVO.scannedDocMap) { // 对扫描文件进行赋值
            this.tabInfo.pageImg.length = 0
            for (let item in result.checkInVO.scannedDocMap) {
              let scannedNumber = {}
              // if (item === 'ALL') {
              //   scannedNumber.url = result.checkInVO.scannedDocMap[item].docPath && result.checkInVO.scannedDocMap[item].docPath.split(',').map(e => {
              //     return `${this.manifestFolder}${e}`
              //   })
              // } else {
              scannedNumber.title = this.$t(result.checkInVO.scannedDocMap[item].docTypeI18n.key)
              scannedNumber.url = result.checkInVO.scannedDocMap[item].docPath && result.checkInVO.scannedDocMap[item].docPath.split(',').map(e => {
                return `${this.manifestFolder}${e}`
              })
              // }
              this.tabInfo.pageImg.push(scannedNumber)
            }
          }
          this.tabInfo.DriverPhoto = result.checkInVO.driverPhoto && `${this.photoFolder}${result.checkInVO.driverPhoto}` // 对司机照片的地址进行赋值
          this.isExitImg = this.$isExitUrl(this.tabInfo.DriverPhoto) // 判断图片地址是否正确
          this.videoPathIn = (result.checkInVO.videoPathIn && `${this.video}${result.checkInVO.videoPathIn}`) || '' // 对视频地址赋值
          this.videoPathOut = (result.checkInVO.videoPathOut && `${this.video}${result.checkInVO.videoPathOut}`) || '' // 对视频地址赋值
          this.baseInformation(result, checkInVehicleData)
        }
        if (result.checkInVO && result.checkInVO.vehicleLpr) { // 对Bab前车牌赋值
          this.tabInfo.singleImgInfo = {
            left: result.checkInVO.vehicleLpr.amendResult,
            right: result.checkInVO.vehicleLpr.recognitionTime && this.$formatDateTime(result.checkInVO.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')),
            src: result.checkInVO.vehicleLpr.photoPath && `${this.lprFolder}${result.checkInVO.vehicleLpr.photoPath}`
          }
        }
        measureVOData = result.measureVO
        if (measureVOData) {
          this.ruleForm.licensePlateNumber = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure.licensePlateNumber
        } else if (checkInVehicleData) {
          this.ruleForm.licensePlateNumber = checkInVehicleData.licensePlateNumber
        }
        let checkInLprPhotoPath = checkInVehicleData && checkInVehicleData.lprPhotoPath && `${this.lprFolder}${checkInVehicleData.lprPhotoPath}`
        this.buttonImageData.lpnImageFront.length = 0 // 清空前车牌号数组对前车牌号赋值
        if (checkInLprPhotoPath) { // 前车牌号地址第一次赋值
          this.buttonImageData.lpnImageFront.push(checkInLprPhotoPath)
        }
        if (result.dcConclusion) { // 对综合查验的结论进行性赋值
          if (result.dcConclusion.conclusionType && result.dcConclusion.conclusionType.value === 'SUSPICION') {
            this.isRedColor = true
          } else {
            this.isRedColor = false
          }
          this.ruleForm.dcConclusion = result.dcConclusion && result.dcConclusion.conclusionRemark
          if (result.dcConclusion.conclusionType && result.dcConclusion.conclusionType.key) {
            this.ruleForm.inspectionConclusion = this.$t(result.dcConclusion.conclusionType.key)
          }
        }
        if (measureVOData) {
          let measureLprPhotoPath = measureVOData.lprPhotoPath && `${this.lprFolder}${measureVOData.lprPhotoPath}`
          let lprPhotoPathBack = measureVOData.lprPhotoPathBack && `${this.lprFolder}${measureVOData.lprPhotoPathBack}`
          this.buttonImageData.lpnImageBackcontent.length = 0
          if (lprPhotoPathBack) { // 对后车牌号地址赋值
            this.buttonImageData.lpnImageBackcontent.push(lprPhotoPathBack)
          }
          if (measureLprPhotoPath) { // 前车牌号地址第二次赋值
            this.buttonImageData.lpnImageFront.push(measureLprPhotoPath)
          }
          // if (measureVOData.lprPhotoPathBack) {
          //   let lprPhotoPathBack = `${this.lprFolder}${measureVOData.lprPhotoPathBack}`
          //   this.buttonImageData.lpnImageBackcontent.push(lprPhotoPathBack) // 对后车牌号进行赋值
          // }
          if (measureVOData.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
            let ccrPhotoArry = measureVOData.ccrPhoto.split(',')
            this.buttonImageData.containerImagedata = ccrPhotoArry.map(e => {
              return `${this.ccrFolder}${e}`
            })
          }
          this.ruleForm.checkInVoVideoPath = measureVOData.videoPathIn && `${this.video}${measureVOData.videoPathIn}` // 对mearsur视频地址进行赋值
          this.ruleForm.measureVoVieoPath = measureVOData.videoPathOut && `${this.video}${measureVOData.videoPathOut}` // 对mearsue视频地址进行赋值
          this.ruleForm.licensePlateNumberBack = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure.licensePlateNumberBack // 后车牌号赋值
          this.informationComparison(measureVOData)
          // if (result.dcConclusion) {
          //   if (result.dcConclusion.conclusionType.value === 'SUSPICION') {
          //     this.isRedColor = true
          //   } else {
          //     this.isRedColor = false
          //   }
          // }
        }
        // this.showTaskDetail()
      }
      // else {
      //   // this.fullscreenLoading = false
      // }
    },
    baseInformation (result, checkInVehicleData) { // 基本信息的渲染方法
      this.inputItem.forEach(e => {
        switch (e.ruleProp) {
          case 'checkInTime':
            e.models = checkInVehicleData.checkInTime && this.$formatDateTime(checkInVehicleData.checkInTime, this.$t('ViBorder.common.formatDate'))
            break
          case 'businessTypeI18N':case 'vehicleTypeI18N':case 'destPortI18N':
            e.models = checkInVehicleData[e.ruleProp] && this.$t(checkInVehicleData[e.ruleProp].key)
            break
          // case 'vehicleTypeI18N':
          //   e.models = checkInVehicleData.vehicleTypeI18N && this.$t(checkInVehicleData.vehicleTypeI18N.key)
          //   break
          case 'entryTunnel':case 'xrayScan':case 'trailer':case 'logistics':// 国庆改的待验证
            if (checkInVehicleData[e.ruleProp]) {
              e.models = this.$t('ViBorder.common.yes')
            } else {
              e.models = this.$t('ViBorder.common.error')
            }
            break
          // case 'trailer':
          //   // e.models = checkInVehicleData && checkInVehicleData.trailer
          //   if (checkInVehicleData && checkInVehicleData.trailer) {
          //     e.models = this.$t('ViBorder.common.yes')
          //   } else {
          //     e.models = this.$t('ViBorder.common.error')
          //   }
          //   break
          case 'riskLevel':
            if (checkInVehicleData && checkInVehicleData.riskLevel && checkInVehicleData.riskLevel.value) {
              if (checkInVehicleData.riskLevel.value === 'GREEN') {
                e.models = '2'
              }
              if (checkInVehicleData.riskLevel.value === 'YELLOW') {
                e.models = '1'
              }
              if (checkInVehicleData.riskLevel.value === 'RED') {
                e.models = '0'
              }
            }
            break
          case 'fileScanAmount':case 'originPortCode':case 'remark':case 'declarationNumber':case 'rfidNumber':case 'asycudaCode':case 'empDeclarationNumber':case 'licensePlateNumberBack': // 国庆改的待验证
            e.models = checkInVehicleData && checkInVehicleData[e.ruleProp]
            break
          // case 'empDeclarationNumber':
          //   e.models = checkInVehicleData && checkInVehicleData.declarationNumber
          //   break
          // case 'logistics':
          //   // e.models = checkInVehicleData && checkInVehicleData.logistics
          //   if (checkInVehicleData && checkInVehicleData.logistics) {
          //     e.models = this.$t('ViBorder.common.yes')
          //   } else {
          //     e.models = this.$t('ViBorder.common.error')
          //   }
          //   break
          // case 'destPortI18N':
          //   e.models = checkInVehicleData.destPortI18N && this.$t(checkInVehicleData.destPortI18N.key)
          //   break
        }
      })
    },
    informationComparison (measureVOData) {
      for (let item in this.ruleForm) {
        switch (item) {
          case 'containerNumber':
            this.ruleForm[item] = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure[item]
            break
          case 'enterAndLeaveTime':
            let enterTunnelTime = measureVOData.vehicleMeasure.enterTunnelTime && this.$formatDateTime(measureVOData.vehicleMeasure.enterTunnelTime, this.$t('ViBorder.common.formatDate'))
            let leftTunnelTime = measureVOData.vehicleMeasure.leftTunnelTime && this.$formatDateTime(measureVOData.vehicleMeasure.leftTunnelTime, this.$t('ViBorder.common.formatDate'))
            if (enterTunnelTime && leftTunnelTime) {
              this.ruleForm[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            } else if (enterTunnelTime) {
              this.ruleForm[item] = enterTunnelTime
            } else if (leftTunnelTime) {
              this.ruleForm[item] = leftTunnelTime
            }
            // this.ruleForm[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            break
          case 'LWH':
            for (let vale in this.ruleForm.LWH) { // 对长宽高进行赋值
              this.ruleForm.LWH[vale] = measureVOData.vehicleMeasure && measureVOData.vehicleMeasure[vale]
            }
            break
          case 'lwhStatus': // 对长宽高的标准值进行赋值
            if (measureVOData.validationInfos) {
              this.ruleForm[item].vehicleLength = measureVOData.validationInfos.LENGTH
              this.ruleForm[item].vehicleWidth = measureVOData.validationInfos.WIDTH
              this.ruleForm[item].vehicleHeight = measureVOData.validationInfos.HEIGHT
            }
            break
          case 'totalWeight':
            if (measureVOData) {
              this.ruleForm[item].totalWeight = measureVOData.vehicleMeasure.vehicleWeight // 对车辆的重量赋值
              this.ruleForm[item].weightStatus = measureVOData.validationInfos.TOTALWEIGHT // 对车重的标准值进行赋值
            }
            break
          case 'axleWeight':
            this.ruleForm[item] = measureVOData.axelWeight && measureVOData.axelWeight.split(',') // 对轴重进行赋值
            // this.ruleForm[item] = this.ruleForm[item] && this.ruleForm[item].map(function (item) {
            //   return Number(item)
            // })
            break
          case 'wheelbase':
            this.ruleForm[item] = measureVOData.axelDistance && measureVOData.axelDistance.split(',')
            break
          case 'axleWeightstatus':
            this.ruleForm[item] = measureVOData.validationInfos && measureVOData.validationInfos.AXLEWEIGHT // 对轴重的标准值进行赋值
            break
        }
      }
    },
    showTaskDetail () { // 点击分析图片按钮触发的方法
      if (!this.viProbeInfo.savePath) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.DC.noScanPhoto'),
          // type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      this.closeViewingTool()
      this.isOperateBtn = false
      let {name, path} = this.viProbeInfo
      this.showPhysicalCheckTaskDetail({name, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
      // setTimeout(() => {
      // }, 2000)
    },
    rewriteCallBack () { // 重写方法拿到页面
      var self = this
      viProbeWsCallback.open = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        switch (jsonObj.error) {
          case 0:
            self.isOperateBtn = true
            break
          case 2:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.notEnoughStorage'),
              offset: this.notifyOffset
            })
            break
          case 4096:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.fileNotExit'),
              offset: this.notifyOffset
            })
            break
          case 4106:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.limitNum'),
              offset: this.notifyOffset
            })
            break
          case 12288:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.downFileFail'),
              offset: this.notifyOffset
            })
            break
          case 32768:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.systemBusy'),
              offset: this.notifyOffset
            })
            break
          case 24577: // 图像已打开 将按钮置为可操作
            self.isOperateBtn = true
            break
        }
      }
    },
    showPhysicalCheckTaskDetail ({name, path}) { // 在请求到数据的时候，打开ips/viprobe
      let pathArray = this.viProbeInfo.savePath.split(',')
      let imageFiles = pathArray.map(item => {
        let name = item.substring(item.lastIndexOf('/') + 1)
        return {name}
      }).filter(e => {
        if (e.name.includes('.img')) {
          return e
        }
      })
      let markFilePath = ''
      let stepFilePath = ''
      if (this.viProbeInfo.savePath.includes('suspects_json.mark')) {
        markFilePath = `${path}/suspects_json.mark`
      } else if (this.viProbeInfo.savePath.includes('history.steps')) {
        stepFilePath = `${path}/history.steps`
      }
      openImageAndAnalysisInfoInViProbe(name, path, imageFiles, markFilePath, stepFilePath)
    },
    pushIndex () { // 从历史返回到主页
      // 等到判断分析工具没打开的时候取消才能出去
      // 就是打开图的过程中不能取消，只能点返回九宫格；打开图过程结束时会收到反馈（成功或失败）。
      this.$router.push({
        path: '/dc/index'
      })
      // if (this.$store.state.isReleaseCloseBtn || this.isOperateBtn) {
      // } else {
      //   this.$notify({
      //     title: this.$t('ViBorder.common.warning'),
      //     message: this.$t('ViBorder.businessLogicCommon.pleaseWait'),
      //     type: 'warning',
      //     offset: this.notifyOffset
      //   })
      //   return false
      // }
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    resetModal () { // 点×号关闭弹窗并且清空数据
      this.audioData.videoSoure = false
      this.$refs.modalForm.reset()
    },
    mediaPlay (measure) {
      this.audioData.videoData = []
      let fn = (a, b) => {
        this.singleVideoDrive = a || b ? (a ? this.$t('ViBorder.businessLogicCommon.enterVideo') : this.$t('ViBorder.businessLogicCommon.leaveVideo')) : ''
        a && this.audioData.videoData.push(a)
        b && this.audioData.videoData.push(b)
      }
      if (measure) {
        let {checkInVoVideoPath, measureVoVieoPath} = this.ruleForm
        this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
        fn(checkInVoVideoPath, measureVoVieoPath)
      } else {
        let {videoPathIn, videoPathOut} = this
        this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.checkInVideoTitle')
        fn(videoPathIn, videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    noPictrueTips (str) {
      if (!this.buttonImageData[str].length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    getIsExists () { // 地图请求的方法
      let trackingId = this.trackingArr && this.trackingArr[0] && this.trackingArr[0].vehicleId
      let elockNumber = this.trackingArr && this.trackingArr[0] && this.trackingArr[0].elockNumber
      if (trackingId !== '' && trackingId !== null && trackingId !== undefined) {
        this.tripId = trackingId
        if (elockNumber !== '' && elockNumber !== null && elockNumber !== undefined) {
          let param = {
            serialNumber: elockNumber
          }
          Axios._getIsExists(param).then((res) => {
            if (res.data.flag) {
              if (res.data.result !== null) {
                this.elockId = res.data.result.id
                // this.hasTrackId = true
              }
            }
          })
        }
      }
    },
    exportImg () { // 文件导出
      this.track = true
      // 文件导出
      if (!this.isAllowExport) {
        return false
      }
      this.isAllowExport = false
      if (Object.keys(this.exportInfo).length) {
        let cb = () => {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.hasExportFile'),
            type: 'success',
            offset: this.notifyOffset
          })
          this.exportDisabled.disable = true
          let vm = this
          setTimeout(function () {
            vm.exportDisabled.disable = false
          }, 5000)
        }
        let el = document.querySelector('.export-content')
        export2Img({el, fileName: `${this.exportInfo.licensePlateNumber}-${this.$formatDateTime(new Date().getTime(), this.$t('ViBorder.common.formatDate'))}`, cb})
      }
      this.isAllowExport = true
    }
  },
  watch: {
    'activeName': {
      handler (curVal, oldVal) {
        if (curVal === 'five') {
          this.track = true
          this.getIsExists() // 初始化的时候请求地图的数据
        }
      }
    }
  },
  components: {trackReplay, Ecsi}
}
</script>

<style lang="scss">
@import "@/styles/index.scss";
.el-popover {
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .dc-checkimg {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#dc-detail {
  @extend .extend-bar;
  .welcome {
    @include flex()
  }
  .dc-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: flex !important;
    position: relative;
    .table-info {
      width: $all / 2;
      margin-right: $margin;
      @include flex(column);
      .panel {
        .el-form {
          .content_rule {
            .el-form-item__content {
              .content_left {
                width: 65%!important;
                margin-bottom: -1px;
                .data-panel {
                  .left_button {
                    position:absolute;
                    right: 32px;
                    background-color: #f56c6c;
                    border: 0px;
                    height: 63%;
                    top: 9px;
                    width: 23px;
                    border-radius: 4px;
                    color: #fdfdfde8
                  }
                  @media screen and (max-width: 1640px) {
                    .left_button {
                      right: 22px;
                    }
                  }
                }
                .el-form-item__label {
                  width: 580px!important;
                }
                @media screen and (max-width: 1640px) {
                  .el-form-item__label {
                    width: 410px!important;
                  }
                }
                .el-input {
                  width: 95%!important;
                }
                @media screen and (max-width: 1640px) {
                  .el-input {
                    width: 130%!important;
                  }
                }
              }
              .content_right > .el-form-item__content {
                display: flex!important;
                justify-content: flex-start!important;
              }
              .content_right {
                .el-input {
                  width: 60%!important;
                }
                @media screen and (max-width: 1640px) {
                  .el-input {
                    width: 58%!important;
                  }
                }
                .el-form-item__content > span {
                  position: absolute;
                  right: 19px;
                }
                .el-form-item__content {
                  .el-button {
                   position: absolute;
                   right: 97px;
                   padding: 6px 8px;
                  }
                  .right_button {
                    position:absolute;
                    right: 129px;
                    background-color: #f56c6c;
                    border: 0px;
                    height: 63%;
                    top: 9px;
                    width: 23px;
                    border-radius: 4px;
                    color: #fdfdfde8
                  }
                  @media screen and (max-width: 1640px) {
                    .right_button {
                      right: 95px;
                    }
                    .el-button {
                      position: absolute;
                      right: 80px;
                    }
                  }
                }
              }
              .el-form-item {
                .el-form-item__content {
                  margin: 0!important;
                }
              }
            }
          }
          .el-form-item {
            .el-form-item__label {
              white-space: pre-wrap;
            }
          }
          &:first-child {
            .el-form-item__content {
              .info-item {
                .el-button {
                  background: $videoBg  top 50%  center no-repeat;
                  background-color: #ffffff!important;
                  border: none;
                  height: 30px;
                  width: 30px;
                }
              }
            }
          }
        }
        .panel-title {
          .operate-menu {
            .el-button {
              height: $mini;
              line-height: $mini;
              margin-right: 30px!important;
              padding-top: 0;
            }
          }
        }
        .btn-group {
          @include flex();
          margin: $margin 0;
        }
      }
      .panel {
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        .analyze_image {
          display: block;
          margin-right: 20px;
          color: #1782d4;
        }
        &:first-child {
          .el-form {
            border-bottom: none;
          }
        }
        &:last-child {
          margin-bottom: 0;
          .left-bar {
            .tableForm {
              .data-panel {
                width: $all * .6;
                @include flex(row,space-between);
                padding: 0 $margin;
                .el-input {
                  width: 37%;
                }
                .el-textarea {
                  padding: 4px 0;
                }
                .border-style {
                  width: $all * .15;
                  height: 20px;
                  @include flex();
                  border-radius: 6px;
                  border: 1px solid #ddd;
                  margin-left: 10px;
                  &:first-child {
                    margin-left: 0px;
                  }
                }
                .text-color {
                  color: red;
                }
                .border-style.danger-border {
                  border: 1px dashed red;
                }
                span {
                  word-break: break-all;
                  text-align: left
                }
              }
              .statusStart {
                @include flex(row,flex-start);
              }
              .el-form {
                width: calc(100% - 20px);
                margin: $dis10;
                @include box-sizing;
                border: 1px solid $panelBorder;
                .btn-style {
                  margin: $margin;
                }
                .el-form-item {
                  width: $all;
                  display: flex;
                  .el-form-item__label {
                    white-space: pre-wrap;
                    @extend .extend-table-form-left-style;
                    border: none;
                    height: $all;
                    border-right: 1px solid #ddd;
                  }
                  .el-form-item__content {
                    @extend .extend-table-form-content-style;
                    width: $all;
                    padding: 0;
                    .common-img {
                      cursor: pointer;
                      height: $large;
                      width: $large;
                    }
                    .lpn-front {
                      background: $carBg  top -15% center no-repeat;
                    }
                    .lpn-back {
                      background: $carBg  top 48% center no-repeat;
                    }
                    .container {
                      background: $carBg  top 115% center no-repeat;
                    }
                    .leaving-time {
                      background: $videoBg  top 50%  center no-repeat;
                    }
                  }
                  .el-form-item__error {
                    display: none;
                  }
                  &:last-child {
                    .el-form-item__content {
                      // margin: $margin 0;
                      width: $all;
                      border-bottom: none
                    }
                  }
                }
              }
              .remark {
                word-break: break-all;
                text-align: left;
                white-space: pre-wrap;
              }
            }
          }
        }
        .left-bar {
          @extend .extend-bar;
          width: $all;
        }
        .btn-group {
          @include flex();
          margin: $margin 0;
        }
      }
      @media screen and (min-width: 1640px) {
      // 大屏
        .panel-overun {
          height: 650px;
        }
      }
    }
    #idalog {
      .el-dialog__body {
        display: flex;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 2px);
      margin-bottom: 0px;
      .btn-group {
        @include flex();
        margin: $margin 0;
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
        .no-imgdata {
          color: #CCC;
        }
      }
      .single-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $all;
        @include box-sizing();
        .system-content {
          @include box-sizing();
          width: $all;
          height: $all;
          display: flex;
          flex-direction: column;
          .system-top {
            flex: 1;
            display: flex;
            flex-direction: row;
          }
          .system-bottom {
            flex: 1;
            margin-top: 0px;
            display: flex;
            flex-direction: row;
          }
        }
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
    @media screen and (max-width: 1640px) {
      // 小屏
      .aside-panel {
        height: $all * 0.7;
        .search-form {
          padding: 0;
          .el-form-item {
            margin-bottom: $dis10;
          }
          .el-form-item.search-form-btn {
            margin-top: 0;
          }
        }
        .up-down-infolist {
          .tableComp {
            height: 322px;
          }
        }
      }
    }
    .dialog-data {
      #dialog {
        .el-dialog__wrapper {
          .el-dialog {
            width: 70%;
            .el-dialog__headerbtn {
              top: 9px;
            }
          }
        }
      }
      .el-dialog__header {
        padding: 10px 10px;
      }
      .el-dialog__body {
      padding: 0;
      .list-content {
        height: $all;
        .infolist {
          flex-direction: column;
          padding: 5px 20px;
          .panel-bottom {
            height: 500px;
            @media screen and (max-width: 1640px) {
              height: 243px;
            }
          }
          .panel {
            .tableComp {
              .el-table_1_column_5 {
                padding-left: 5%;
                .el__popover_reference {
                  height: 30px;
                }
              }
            }
            @extend .extend-panel;
            width: 100%;
            .form-bar {
              display: flex;
              width: $all;
              height: 135px;
              .search-form {
                @include flex();
                .search-form-item {
                  width: 45%!important;
                  .el-form-item__label {
                    font-weight: bold;
                  }
                }
                .search-form-btn {
                  justify-content: flex-end;
                  @media screen and (max-width: 1640px) {
                    justify-content: flex-end;
                    // .el-form-item__content {
                    //   width: 20%;
                    // }
                  }
                }
                @include layout(2);
              }
            }
            .btn-group {
              @include flex();
              margin: $margin 0;
            }
          }
        }
      }
      }
    }
    .audio-one {
      #dialog .el-dialog {
        // width: 80%!important;
        width: 510px;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
  }
}
.el-date-range-picker {
  width: 585px;
}
</style>
