<template>
  <div id="mr-listbar" v-bar>
    <div class="mr-index">
      <div class="infolist infonlist-top">
        <div class="panel panel-top">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <div class="form-bar">
            <mrForm :searchIpt="inputItemTop" :searchFunc="queryFnTop" :formRule='formRuleTop'></mrForm>
          </div>
        </div>
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <div class="form-bar">
            <mrForm :searchIpt="lpnInputItem" :searchFunc="queryFn" :formRule='formRule'></mrForm>
          </div>
        </div>
      </div>
      <!-- 表格内容 -->
      <div class="infolist list-height">
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import mrForm from '../../components/common/form'
import Axios from '../../api/MR/index.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import {connect, disconnect} from '../../components/common/ws.js'
export default {
  name: 'mr-page',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      pageSizeNum: ``, // 当前页单页显示数据数
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      queryFnTop: { // 页面表单查询方法
        query: this.asycudaQuery,
        queryText: this.$t('ViBorder.common.confirm'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRuleTop: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      inputItemTop: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          placeHolder: this.$t('ViBorder.JI.automaticInquiry'),
          models: '',
          autofocus: 'true',
          ruleProp: ''
        }
      ],
      queryFn: { // 页面表单查询方法
        query: this.listQuery,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      lpnInputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '580',
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.confirmRelease,
          label: `<span class='editTable'><i class="iconfont">&#xe605;</i></span>`,
          title: this.$t('ViBorder.common.confirm'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          model: 'asycudaCode'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      pageUseParam: {
        CurrentChageFlag: false, // 分页切换标志位
        defaultOptions: ``, // 默认参数
        pageSizeNum: ``, // 当前页单页显示数据数
        fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}`,
        lprFolder: window.config.fileFolder.lprFolder,
        manifestFolder: `${window.config.fileFolder.manifestFolder}`,
        vehicleId: ``,
        MRClient: ``,
        saveInitPlantNum: ``,
        saveInitTime: ``,
        notAllowRelease: ``,
        allowRelease: ``,
        saveImcTime: ``
      },
      sortParm: {}
    }
  },
  created () {
    // this.initPageData()
    this.listQuery()
    this.connectWebSocket()
    document.onkeydown = (e) => {
      var key = window.event.keyCode
      if (key === 13) {
        this.asycudaQuery()
      }
    }
  },
  mounted () {
    setTimeout(function () {
      let inputelement = document.getElementsByClassName('el-input__inner')
      if (inputelement && inputelement[0]) {
        inputelement[0].focus()
      }
    }, 1000)
  },
  destroyed () {
    document.onkeydown = undefined
    this.pageUseParam.MRClient && disconnect({client: this.pageUseParam.MRClient}) // socket断开连接
  },
  methods: {
    getQueryParam (val) {
      let {model} = val
      let time = {}
      if (model.checkinTime) {
        if (!model.checkinTime[1].includes('999')) {
          model.checkinTime[1] = `${model.checkinTime[1]}.999`
        }
        time = {
          startCheckInTime: new Date(model.checkinTime[0]).getTime(),
          endCheckInTime: new Date(model.checkinTime[1]).getTime()
        }
      }
      let tiemjic = {}
      if (model.checkinTime2) {
        if (!model.checkinTime2[1].includes('999')) {
          model.checkinTime2[1] = `${model.checkinTime2[1]}.999`
        }
        tiemjic = {
          startJointInspectionTime: new Date(model.checkinTime2[0]).getTime(),
          endJointInspectionTime: new Date(model.checkinTime2[1]).getTime()
        }
      }
      let param = Object.assign({}, time, tiemjic, { asycudaCode: model.asycudaCode ? model.asycudaCode : '', licensePlateNumber: model.licensePlateNumber })
      return this.$filterNullFields(param)
    },
    // *********************************** 页面逻辑 *****************************************
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.pageUseParam.MRClient = Stomp.over(socket)
      let path = `/topic/commandTopic_${localStorage.mrSite}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        this.listQuery()
      }
      connect({client: this.pageUseParam.MRClient, path, scb, header: 'MANUALRELEASE', reconCallBack: this.connectWebSocket})
    },
    getTableData (options) { // 主页获取表格初始数据 模拟请求回来的数据
      Axios._listWaitManualReleaseConfirm(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':case 'jointInspectionTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'businessTypeI18N':case 'vehicleTypeI18N':case 'conclusionType':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    asycudaQuery () { // adcode自动查询方法
      let params = {
        asycudaCode: this.inputItemTop[0].models
      }
      Axios._findByAsycudaCode(params).then(res => {
        if (res.data.flag) {
          this.listQuery()
          if (res.data.result) {
            sessionStorage.setItem('vehicleId', res.data.result.id)
            this.$router.push({
              path: '/mr/mrDetail'
            })
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    confirmRelease (selection) { // 主页放行确认的操作按钮
      let index = selection.$index
      let data = {
        vehicleId: this.tableData.data[index] ? this.tableData.data[index].id : ''
      }
      sessionStorage.setItem('vehicleId', this.tableData.data[index].id)
      this.$router.push({
        path: '/mr/mrDetail'
      })
    },
    listQuery () { // 主页表单查询方法
      this.pageOptions.currentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: this.pageUseParam.pageSizeNum || 10, page: 0}, ...this.sortParm}
      this.getTableData(handlesize)
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        }
        this.sortParm = sort
        let param = this.getQueryParam(this.formRule)
        let handlesize = {...{size: this.pageUseParam.pageSizeNum || 10, page: 0}, ...param, ...sort}
        this.getTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      this.pageUseParam.pageSizeNum = val
      let handlesize = this.getQueryParam(this.formRule)
      let param = {...{page: 0, size: val}, ...handlesize, ...this.sortParm}
      this.getTableData(param)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let param = this.getQueryParam(this.formRule)
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.sortParm}
        this.getTableData(handlesize)
      }
    }
  },
  components: {mrForm}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#mr-listbar {
  @extend .extend-bar;
  .mr-index {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    @media screen and (min-width: 1640px) {
      .infolist {
        height: auto;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
          display: flex!important;
          @include flex(column, flex-start, flex-start);
          .search-form-btn {
            padding-top: 28px;
            align-self: flex-end;
          }
          .el-form-item {
            margin-bottom: 2px;
          }
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        width: 100%;
        .tableComp {
          @media screen and (min-width: 1640px) {
            height: 653px;
          }
        }
        .iconfont {
          // font-size: 25px;
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .infonlist-top {
      @include flex(row, flex-start, flex-start);
      height: auto;
      .panel {
        width: 100%;
      }
      .el-form-item {
        width: 48% !important;
      }
      .search-form-btn {
        align-self: flex-end;
      }
      .panel-top {
        height: 190px;
        // .search-form-btn {
        //   display: none;
        // }
      }
    }
    .panel-top {
      margin-right: 10px;
      .search-form-btn {
        .el-button--default {
          display: none;
        }
      }
    }
  }
}
</style>
