<template>
  <div id='mr-mrdetail' v-bar>
    <div class="mr-mrdetail-M">
      <!-- 左侧panel -->
      <div class="panel">
        <panelTitle :panelTitleInit="panelTitle"></panelTitle>
        <div class="left-bar" v-bar>
          <div>
            <tableForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></tableForm>
          </div>
        </div>
      </div>
      <!-- 右侧图像 -->
      <!-- 进出的超限货车显示 -->
      <div class="right" v-if="!isEmptyVehicle">
        <el-tabs type="border-card" v-model="activeName">
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')" name="first">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.releaseImageTab')" name="second">
            <!-- <div class="not-scan-img" v-show="!videoShow">
              {{$t('ViBorder.businessLogicCommon.deviceNoSignal')}}
            </div> -->
            <div class="single-img" v-loading="loading" :element-loading-text="$t('ViBorder.MR.countdown', {msg: videoCaptureTime})" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.7)">
              <releaseImage @printScreenData="getScreenData" :videoStreamAttr="videoStream" :takePicture="takePicturePath" :videoMethod="videoMethod" :isShowOperate="true"></releaseImage>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')" name="third">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.asycuda')">
            <div class="not-scan-img">
              {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
            </div>
            <!-- <div class="single-img">
              asycude
            </div> -->
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')" name="fourth">
            <div class="single-img">
              <otherSystem :conclusionList="otherSystem"></otherSystem>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
      <!-- 进口空车或BUS显示 -->
      <div class="right" v-if="isEmptyVehicle">
        <el-tabs type="border-card" v-model="activeName">
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')" name="first">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.releaseImageTab')" name="second">
            <!-- <div class="not-scan-img" v-show="!videoShow">
              {{$t('ViBorder.businessLogicCommon.deviceNoSignal')}}
            </div> -->
            <div class="single-img" v-loading="loading" :element-loading-text="$t('ViBorder.MR.countdown', {msg: videoCaptureTime})" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.7)">
              <releaseImage @printScreenData="getScreenData" :videoStreamAttr="videoStream" :takePicture="takePicturePath" :videoMethod="videoMethod" :isShowOperate="true"></releaseImage>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')" name="third">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')" name="fourth" v-if="isShowOtherSys">
            <div class="single-img">
              <otherSystem :conclusionList="otherSystem"></otherSystem>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import releaseImage from '../../components/common/releaseImage'
import Axios from '../../api/MR/index.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import initConfirmData from '../../components/common/commonData'
import {connect, disconnect} from '../../components/common/ws.js'
export default {
  name: 'mrDetail',
  data () {
    return {
      // videoShow: false,
      activeName: 'second', // 默认选中Release Video Tab标签
      notifyOffset: window.config.notifyOffset,
      isExitImg: '',
      vehicleId: '',
      loading: false,
      videoCaptureTime: '', // 用于存放视频需要截取的时间
      videoCaptureTimeStorage: '', //  存放需要截取的视频的时间，第二次点击也能重新倒计时
      MRClient: '',
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.recheckFolder}`,
      videoUrl: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      panelTitle: { // 主页面左侧标题
        title: this.$t('ViBorder.businessLogicCommon.checkInfo')
      },
      imgData: '', // 存放返回的司机照片数据信息
      videoMethod: {
        interceptVideo: this.interceptVideo
      },
      otherSystem: [],
      tabInfo: { // tab标签页数据
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        isShowScanImg: false,
        pageImg: [ // 扫描文件viewer数据
        ],
        singleImgInfo: {}
      },
      queryFn: { // 左侧页面back
        isBackBtn: false,
        hasBtn: true,
        queryText: this.$t('ViBorder.MR.releaseConfirmation'),
        resetText: this.$t('ViBorder.common.cancel'),
        query: this.submit,
        close: this.jump2Index
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'arrivalTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'rfidNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'predeclarationNO'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          placeHolder: this.$t('ViBorder.businessLogicCommon.remark'),
          models: '',
          ruleProp: 'remark',
          resize: 'none',
          maxlength: 500
        }
      ],
      isEmptyVehicle: true, // 是否显示进口的超限货车的Tab类型
      videoStream: {
        isReadyRecordVideo: false
      },
      takePicturePath: '',
      isShowOtherSys: false
    }
  },
  created () {
    let initPageData = sessionStorage.getItem('vehicleId')
    this.initPageData({vehicleId: initPageData})
    this.connectWebSocket()
  },
  destroyed () {
    this.MRClient && disconnect({client: this.MRClient}) // socket断开连接
  },
  methods: {
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.MRClient = Stomp.over(socket)
      let path = `/topic/commandTopic_${localStorage.mrSite}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        this.acceptVideo(msg)
      }
      connect({client: this.MRClient, path, scb, header: 'MANUALRELEASE', reconCallBack: this.connectWebSocket})
    },
    interceptVideo () { // 视频截取倒计时
      this.videoStream.isReadyRecordVideo = true
      this.loading = true
      let that = this
      let interval = setInterval(function () {
        if (that.videoCaptureTime > 0) {
          that.videoCaptureTime--
        } else {
          that.loading = false
          window.clearInterval(interval)
          that.video()
          that.videoCaptureTime = that.videoCaptureTimeStorage
        }
      }, 1000)
    },
    video () { // 视频截取的方法
      let vehicleId = sessionStorage.getItem('vehicleId')
      Axios._interceptVideo({vehicleId: vehicleId}).then(res => {
        if (res.data.flag === true) {
          console.log('视频截取成功')
        } else {
          console.log('视频截取失败')
        }
      }).catch(res => {
        console.log('err', err)
      })
    },
    acceptVideo (val) { // 处理wbsocket推过来的视频地址
      if (val.commandVideo) {
        this.videoStream.path = `${this.videoUrl}${val.commandVideo}`
        this.videoStream.isReadyRecordVideo = false
      }
    },
    submit () { // 确认按钮的方法
      let parm = {}
      if (this.imgData) {
        // 图片
        parm = {'vehicleDriverPhoto.driverPhotoPath': this.imgData}
      }
      // else if (this.videoStream.isReadyRecordVideo) {
      //   // 视频
      //   parm = {'vehicleDriverPhoto.driverPhotoPath': this.videoStream}
      // }
      let vehicleId = sessionStorage.vehicleId
      let val = {...parm, ...{vehicleId: vehicleId}}
      // console.log('val', val)
      // return false
      let params = this.$filterNullFields(val) // 去掉空字符串
      let scb = () => {
        Axios._manualConfirm(params).then(res => {
          if (res.data.flag) {
            this.$notify.success({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
              offset: this.notifyOffset
            })
            this.$router.push({
              path: '/mr/index'
            })
            return true
          }
        }).catch(err => {
          console.log('err', err)
          this.$notify.error({
            title: this.$t('ViBorder.common.dataError'),
            message: this.$t('ViBorder.businessLogicCommon.operationFailed'),
            offset: this.notifyOffset
          })
          return false
        })
      }
      // 没有视频或者图片
      if (this.imgData || this.videoStream.path) {
        this.confirmModal({tips: this.$t('ViBorder.MR.isRelease'), scb})
      } else {
        this.confirmModal({tips: this.$t('ViBorder.MR.noPicAndVideo'), scb})
      }
    },
    jump2Index () { // 取消(解锁)按钮的方法
      this.$router.push({
        path: '/mr/index'
      })
    },
    changeVehicleType (val) {
      if (val.businessType === '1') { // 目前是进口状态
        if (val.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') { // 超限
          this.isEmptyVehicle = false
          this.isShowOtherSys = true
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'arrivalTime'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumberBack'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'logistics'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              type: 'onlyReadColor',
              models: '',
              ruleProp: 'riskLevel',
              isColor: true
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              placeHolder: this.$t('ViBorder.businessLogicCommon.asycuda'),
              models: '',
              ruleProp: 'asycudaCode',
              hasBtn: false,
              maxlength: 50
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'trailer'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.to'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'destPortI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') { // 选中空车时
          this.isEmptyVehicle = true
          this.isShowOtherSys = true
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'arrivalTime'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumberBack'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'businessTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'entryTunnel'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'xrayScan'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'logistics'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              placeHolder: this.$t('ViBorder.businessLogicCommon.asycuda'),
              models: '',
              ruleProp: 'asycudaCode',
              hasBtn: false,
              maxlength: 50
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'trailer'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.to'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'destPortI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        } else if (val.vehicleCheckIn.vehicleType === 'BUS') { // 大巴
          this.isEmptyVehicle = true
          this.isShowOtherSys = false
          this.inputItem = [
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'arrivalTime'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'vehicleTypeI18N'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'licensePlateNumberBack'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'rfidNumber'
              // change: this.rfidChange,
              // maxlength: 128
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
              type: 'onlyRead',
              placeHolder: this.$t('ViBorder.businessLogicCommon.asycuda'),
              models: '',
              ruleProp: 'asycudaCode',
              hasBtn: false,
              maxlength: 50
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'declarationNumber'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'fileScanAmount'
            },
            {
              getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
              type: 'onlyRead',
              models: '',
              ruleProp: 'remark',
              content: '',
              resize: 'none'
            }
          ]
        }
      }
    },
    initPageData (val) {
      Axios._findDetail(val).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          if (result.manualReleaseDvrInterval) {
            this.videoCaptureTime = result.manualReleaseDvrInterval
            this.videoCaptureTimeStorage = result.manualReleaseDvrInterval
          }
          this.changeVehicleType(result)
          let checkInVehicleData = ''
          checkInVehicleData = result.vehicleCheckIn
          let measureVOData = ''
          let {jointConfirm} = result
          this.otherSystem = jointConfirm ? this.$otherHoverData(jointConfirm) : []
          if (result.scannedDocMap) { // 对扫描文件进行赋值
            this.tabInfo.pageImg.length = 0
            for (let item in result.scannedDocMap) {
              let scannedNumber = {}
              if (result.scannedDocMap[item]) {
                scannedNumber.title = result.scannedDocMap[item].docTypeI18n && result.scannedDocMap[item].docTypeI18n.key && this.$t(result.scannedDocMap[item].docTypeI18n.key)
                scannedNumber.url = result.scannedDocMap[item].docPath && result.scannedDocMap[item].docPath.split(',').map(e => {
                  return `${this.manifestFolder}${e}`
                })
              }
              this.tabInfo.pageImg.push(scannedNumber)
            }
          }
          if (result.vehicleLpr) {
            this.tabInfo.singleImgInfo = {
              left: result.vehicleLpr.amendResult,
              right: result.vehicleLpr.recognitionTime && this.$formatDateTime(result.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')),
              src: result.vehicleLpr.photoPath && `${this.lprFolder}${result.vehicleLpr.photoPath}`
            }
          }
          this.baseInformation(result, checkInVehicleData)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    baseInformation (result, checkInVehicleData) { // 基本信息的渲染方法
      this.inputItem.forEach(e => {
        switch (e.ruleProp) {
          case 'checkInTime':case 'arrivalTime':
            e.models = checkInVehicleData.checkInTime && this.$formatDateTime(checkInVehicleData[e.ruleProp], this.$t('ViBorder.common.formatDate'))
            break
          case 'declarationNumber':case 'fileScanAmount':case 'remark':case 'originPortCode':case 'licensePlateNumber':case 'rfidNumber':case 'asycudaCode':case 'licensePlateNumberBack':
            e.models = checkInVehicleData[e.ruleProp]
            break
          case 'businessTypeI18N':case 'vehicleTypeI18N':case 'destPortI18N':
            e.models = checkInVehicleData[e.ruleProp] && this.$t(checkInVehicleData[e.ruleProp].key)
            break
          case 'entryTunnel':case 'xrayScan':case 'trailer':case 'logistics':
            if (checkInVehicleData[e.ruleProp]) {
              e.models = this.$t('ViBorder.common.yes')
            } else {
              e.models = this.$t('ViBorder.common.error')
            }
            break
          case 'riskLevel':
            if (checkInVehicleData.riskLevel) {
              if (checkInVehicleData.riskLevel.value === 'GREEN') {
                e.models = '2'
              }
              if (checkInVehicleData.riskLevel.value === 'YELLOW') {
                e.models = '1'
              }
              if (checkInVehicleData.riskLevel.value === 'RED') {
                e.models = '0'
              }
            }
            break
        }
      })
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, initConfirmData.confirm()).then(() => {
        if (param.scb && param.scb()) {
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getScreenData (data) {
      let param = {
        vehicleId: sessionStorage.vehicleId,
        base64: data,
        'position.site': localStorage.mrSite
      }
      Axios._uploadDriverPhoto(param).then(res => {
        if (res.data.flag) {
          this.imgData = res.data.result.photoPath
          this.takePicturePath = this.photoFolder + res.data.result.photoPath
        }
      }).catch(err => {
        console.log('err', err)
      })
    }
  },
  components: {releaseImage}
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
#mr-mrdetail {
  @extend .extend-bar;
  .mr-mrdetail-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: flex !important;
    position: relative;
    .panel {
      .el-form {
        &:first-child {
          .el-form-item__content {
            .info-item {
              .el-button {
                background: $videoBg  top 50%  center no-repeat;
                background-color: #ffffff!important;
                border: none;
                height: 30px;
                width: 30px;
              }
            }
          }
        }
      }
      @extend .extend-panel;
      justify-content: flex-start;
      margin-right: $margin;
      .left-bar {
        @extend .extend-bar;
        width: $all;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 10px);
      margin-bottom: 0px;
      .left-bar {
        .tableForm {
          .iconfont {
            color: blue;
            font-size: 23px;
            cursor: pointer;
          }
        }
        .vb-content {
          .button {
            margin-top: 50px;
          }
        }
        .el-form-item {
          .el-form-item__content {
            .el-form-item__label {
              white-space: pre-wrap;
            }
          }
        }
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
      }
      .single-img {
        height: $all;
        @include flex();
        .dirvePhoto {
          display: block;
          margin: auto;
        }
        .no-imgdata {
          color: #ccc;
        }
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
    .fix-tab {
      @extend .extend-fix-tab;
    }
    .blue-tap {
      .tab-title {
        height: 22px;
      }
      height: 85%;
      @include flex();
      position: fixed;
      right: 0;
    }
    .aside-panel {
      .tab-title {
        height: 22px;
      }
      position: absolute;
      @media screen and (min-width: 1640px) {
        bottom: 10%;
      }
      @media screen and (max-width: 1640px) {
        bottom: 10%;
      }
      // bottom: 3%;
      height: 80%;
      width: $all * 0.7;
      z-index: 5;
      right: 0;
      @include flex(row, flex-end, center);
      .search-form {
        width: calc(100% - 20px);
        padding: $margin $margin 0 $margin;
        @include box-sizing;
        @include layout(2);
        .el-form-item__label {
          font-weight: bold;
        }
      }
      .up-down-container {
        padding: $dis10;
        background: $white;
        border: 1px solid $gray;
        border-radius: 6px;
        width: $all;
        .up-down-infolist {
          .el-pagination__total {
            margin-top: 3px;
          }
          .tableComp {
              .el-table {
                th {
                  div {
                    height: auto;
                    line-height: auto;
                    white-space: pre-wrap;
                  }
                }
              }
          }
          @media screen and (min-width: 1640px) {
            .tableComp {
              .el-table {
                height: 522px!important;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1640px) {
      .aside-panel {
        height: $all * 0.7;
        .search-form {
          padding: 0;
          .el-form-item {
            margin-bottom: $dis10;
          }
          .el-form-item.search-form-btn {
            margin-top: 0;
          }
        }
      }
    }
  }
}
</style>
