<template>
  <div id="ic-querydetail" v-bar>
    <!-- 左侧开始 -->
    <div class="dc-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <div class="infoDetail">
        <div class="table-info">
          <!-- 左侧基本信息开始 -->
          <div class="panel" :class="!isShowMeasure ? 'panel-top' : ''">
            <panelTitle :panelTitleInit="panelTitle.BI"> </panelTitle>
            <div class="left-bar" v-bar>
              <div>
                <tableForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></tableForm>
              </div>
            </div>
          </div>
          <!-- 左侧基本信息结束 -->
          <div class="panel" :style="outVehicleInfo.isOutVehicle ? 'height: 49%' : ''" v-if="isShowMeasure">
            <!-- 信息比对开始 -->
            <panelTitle :panelTitleInit="panelTitle.IC">
              <div v-if="isShowOpenTitle">
                <a href="javascript:void(0);" class="analyze_image" slot="reference" @click="isShowIPS">{{$t('ViBorder.businessLogicCommon.analyzeImage')}}</a>
              </div>
            </panelTitle>
            <el-collapse-transition>
              <div class="left-bar" v-bar>
                <div class="tableForm">
                  <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                    <el-form-item>
                      <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                      <div class="data-panel">
                        <span>{{ruleForm.licensePlateNumber}}</span>
                        <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                        <div class="lpn-front" @click="lpnImageFrontClick">
                          <el-popover placement="left" :disabled="this.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                            <el-carousel trigger="click" :autoplay="imagePlay">
                              <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageFront" :key="index">
                                <img :src="item" class="ic-approachingimg">
                              </el-carousel-item>
                            </el-carousel>
                            <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                          </el-popover>
                        </div>
                      </div>
                    </el-form-item>
                    <el-form-item>
                      <!-- lpn(Front)鼠标放上去会有提示 -->
                      <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                      <div class="data-panel">
                        <span>{{ruleForm.containerNumber}}</span>
                        <!-- 集装箱后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                        <div  @click="containerImage">
                          <el-popover placement="left" :disabled="this.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                            <el-carousel trigger="click" :autoplay="imagePlay">
                              <el-carousel-item v-for="(item, index) in buttonImageData.containerImagedata" :key="index">
                                <img :src="item" class="ic-approachingimg">
                              </el-carousel-item>
                            </el-carousel>
                            <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                          </el-popover>
                        </div>
                      </div>
                    </el-form-item>
                  </el-form>
                </div>
              </div>
            </el-collapse-transition>
            <div class="btn-group">
              <el-button @click="back">{{$t('ViBorder.common.close')}}</el-button>
            </div>
          </div>
            <!-- 信息比对结束 -->
        </div>
        <!-- 视频图层 -->
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{videoDriveIn}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{videoDriveOut}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
        <!-- 右侧图像 -->
        <div class="right">
          <el-tabs type="border-card">
            <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')">
              <div class="single-img">
                <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
              </div>
            </el-tab-pane>
            <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')">
              <div class="single-img">
                <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
              </div>
            </el-tab-pane>
            <el-tab-pane :label="$t('ViBorder.businessLogicCommon.asycudaTab')" v-if="isShowTabAsycuda">
              <div class="not-scan-img">
                {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import upload from '../../components/common/upload'
import Axios from '../../api/IC/approachingVehicle.js'
import {remove} from '../../lib/index.js'
import {openImageAndAnalysisInfoInViProbe, closeImageInViProbe} from '../../lib/viProbe/viProbeForIns.js'
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t('ViBorder.systemModule.IC.headTitle'),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.approchingVehicleQuery'),
            path: '/ic/approachingVehicle' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.approachingVehicleDetail')
          }
        ]
      },
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.recheckFolder}`,
      urlOptions: [],
      upfileButton: true, // 文件下载的底边线是否显示
      checkAll: false,
      name: 'checkIn',
      checkedUrl: [],
      isShowMeasure: true, // 控制比对信息栏目是否显示
      isShowPIinformation: true, // 是否显示手检信息框
      isShowOpenTitle: false, // 分析图像的按钮是否显示
      isExitImg: '', // 用于判断司机照片地址是否存在
      checked: false,
      isIndeterminate: true,
      imagePlay: false, // 图片按钮点击后
      outVehicleInfo: {
        // 是否出口超限货车
        isOutVehicle: false,
        inputItem: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'licensePlateNumber'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.dcConclusion'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'conclusionType'
          }
        ],
        formRule: { // 表单验证和存放数据 model=> post到后台的数据
          refName: 'middleInfo',
          model: {},
          rule: {}
        }
      },
      panelTitle: { // 主页面左侧标题
        BI: {
          title: this.$t('ViBorder.businessLogicCommon.checkInfo')
        },
        IC: {
          title: this.$t('ViBorder.businessLogicCommon.infoCom'),
          isShow: false,
          changeOption: this.changeOption
        },
        MC: {
          title: this.$t('ViBorder.PI.infManualCheck'),
          isShow: false,
          changeOption: this.changeOption
        }
      },
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        checkinVideoData: { // 存放登记时候的视屏会赋值到dialogData
          checkInVideoPathIn: '',
          checkInVideoPathOut: '',
          measureVideoPathIn: '',
          measureVideoPathOut: ''
        },
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.checkInVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'onlyRead',
          models: '',
          hasBtn: true,
          hasClearBtn: true, // 当有一个不需要必填验证的按钮
          ruleProp: 'checkInTime',
          btnOperate: {
            btnText: '',
            fn: this.audioPlay
          }
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyReadByHtml',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none'
        }
      ],
      needInsertData: {
        from: {
          getLabel: this.$t('ViBorder.businessLogicCommon.from'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'originPortI18N'
        },
        trailer: {
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'trailer'
        }
      },
      needAndContent: [ // 这里是入境和转关起始需要加入的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          type: 'onlyRead',
          models: false,
          ruleProp: 'logistics'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'destPortI18N'
        }
      ],
      queryFn: { // 页面表单查询方法
        hasBtn: false,
        isBackBtn: true,
        backText: this.$t('ViBorder.common.close'),
        backPath: '/ic/approachingVehicle'
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        ruels: {
          xrayScan: [ // xrayScan校验
            { required: true, message: '请选择 xrayScan', trigger: 'blur' }
          ]
        }
      },
      buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
        scanPath: '',
        lpnImageFront: [],
        lpnImageBackcontent: [],
        containerImagedata: []
      },
      rules: {
      },
      videoDriveIn: this.$t('ViBorder.businessLogicCommon.enterVideo'), // 驶入通道视频title
      videoDriveOut: this.$t('ViBorder.businessLogicCommon.leaveVideo'), // 驶离通道视频title
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 检入的视频地址
      videoPathOut: '', // 检出的视频地址
      ruleForm: {
        checkInVoVideoPath: '', // 测量进入通道的视频
        measureVoVieoPath: '', // 测量数据的驶离通道的视频
        containerNumber: '', // 集装箱号
        conclusionRemark: '',
        licensePlateNumberBack: '', // 后车牌号
        delivery: false,
        comparisonConclusion: '', // 数据比对结论
        licensePlateNumber: '', // 前车牌号
        enterAndLeaveTime: '',
        lwhStatus: { // 长宽高的标准值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: { // 长宽高值
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        totalWeight: {
          weightStatus: '', // 总重量的标准值
          totalWeight: '' // 总重量
        },
        axleWeightstatus: '', // 轴重标准值
        axleWeight: [], // 轴重的值
        manuelConclusion: '', // 手检比对结论
        manuelRemark: '' // 手检比对备注
      },
      tabInfo: { // tab标签页数据
        singleImgInfo: { // 单张图显示
        },
        tabIndex: '0',
        isShowScanImg: false,
        title: [
          this.$t('ViBorder.businessLogicCommon.lpnFront'),
          this.$t('ViBorder.businessLogicCommon.scannedFilesTab'),
          this.$t('ViBorder.businessLogicCommon.asycuda'),
          this.$t('ViBorder.businessLogicCommon.otherSystemsTab')
        ],
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [ // 扫描文件viewer数据
        ]
      },
      isShowTabAsycuda: ``,
      viProbeInfo: {
        viprobeShowPath: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.niiFolder}`
      },
      isRedColor: false
    }
  },
  created () {
    let initPageData = sessionStorage.getItem('vehicleId')
    this.initPageData({vehicleId: initPageData})
  },
  destroyed () {
    this.closeViewingTool()
  },
  methods: {
    closeViewingTool () {
      if (this.isShowOpenTitle) {
        closeImageInViProbe(this.viProbeInfo.name)
      }
    },
    initPageData (val) { // 初始化页面数据
      const loading = this.$loading({
        lock: true,
        text: this.$t('ViBorder.common.loading'),
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.6)'
      })
      Axios._openHisPiTask(val).then(res => {
        if (res.data.flag) {
          let result = res.data.result.vehicleDetail
          /**
           * 1: 进口或转关起始
           * 2: 出口
           * 3：转关到达
           */
          // 如果是空车 不显示风险等级 不显示asycuda
          if (result.checkInVO && result.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') {
            this.inputItem.forEach((item, index) => {
              if (item.ruleProp === 'riskLevel') {
                this.inputItem.splice(index, 1)
              }
            })
            this.isShowTabAsycuda = false
          } else {
            this.isShowTabAsycuda = true
          }
          let checkInVehicleData = ''
          checkInVehicleData = result.checkInVO && result.checkInVO.vehicleCheckIn
          this.baseInformation(result, checkInVehicleData)
          if (result.trackingVO && result.trackingVO.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
            let ccrPhotoArry = result.trackingVO.ccrPhoto.split(',')
            this.buttonImageData.containerImagedata = ccrPhotoArry.map(e => {
              return `${this.ccrFolder}${e}`
            })
          }
          if (result.checkInVO && result.checkInVO.vehicleCheckIn) {
            let measureLprPhotoPath = result.checkInVO.vehicleCheckIn.lprPhotoPath && `${this.lprFolder}${result.checkInVO.vehicleCheckIn.lprPhotoPath}`
            if (measureLprPhotoPath) {
              this.buttonImageData.lpnImageFront.push(measureLprPhotoPath)
            }
          }
          if (result.checkInVO && result.checkInVO.vehicleLpr) { // 前车牌tab赋值
            this.tabInfo.singleImgInfo = {
              left: result.checkInVO.vehicleLpr.amendResult,
              right: this.$formatDateTime(this.$_get(result, `checkInVO.vehicleLpr.recognitionTime`, ''), this.$t('ViBorder.common.formatDate')),
              src: null
            }
            if (result.checkInVO.vehicleLpr.photoPath) {
              this.tabInfo.singleImgInfo.src = `${this.lprFolder}${result.checkInVO.vehicleLpr.photoPath}`
            }
          }
          if (result.checkInVO) {
            if (result.checkInVO.scannedDocMap) { // 对扫描文件tab进行赋值
              this.tabInfo.pageImg.length = 0
              for (let item in result.checkInVO.scannedDocMap) {
                let scannedNumber = {}
                scannedNumber.title = this.$t(result.checkInVO.scannedDocMap[item].docTypeI18n.key)
                scannedNumber.url = result.checkInVO.scannedDocMap[item].docPath && result.checkInVO.scannedDocMap[item].docPath.split(',').map(e => {
                  return `${this.manifestFolder}${e}`
                })
                this.tabInfo.pageImg.push(scannedNumber)
              }
            }
            this.videoPathIn = (result.checkInVO.videoPathIn && `${this.video}${result.checkInVO.videoPathIn}`) || '' // 对视频地址赋值
            this.videoPathOut = (result.checkInVO.videoPathOut && `${this.video}${result.checkInVO.videoPathOut}`) || '' // 对视频地址赋值
            if (this.vehicleInspectedVo && this.vehicleInspectedVo.checkOutTime) {
              this.inputItem.splice(1, 0, {
                getLabel: this.$t('ViBorder.businessLogicCommon.checkOutTime'),
                type: 'onlyRead',
                models: '',
                hasBtn: true,
                hasClearBtn: true, // 当有一个不需要必填验证的按钮
                ruleProp: 'checkOutTime',
                btnOperate: {
                  btnText: '',
                  fn: this.audioPlayOut
                }
              })
            }
            this.baseInformation(result, checkInVehicleData)
          } else {
            this.audioData.checkinVideoData.checkInVideoPathIn = ''
            this.audioData.checkinVideoData.checkInVideoPathOut = ''
          }
          this.informationComparison(result)
          loading.close()
        } else {
          loading.close()
        }
      }).catch(err => {
        loading.close()
        console.log('err', err)
      })
    },
    baseInformation (result, checkInVehicleData) { // 基本信息的渲染方法
      this.inputItem.forEach(e => {
        switch (e.ruleProp) {
          case 'checkInTime':
            e.models = this.$formatDateTime(this.$_get(checkInVehicleData, `checkInTime`), this.$t('ViBorder.common.formatDate'))
            break
          case 'checkOutTime':
            e.models = this.$formatDateTime(this.$_get(result, `vehicleInspectedVo.checkOutTime`), this.$t('ViBorder.common.formatDate'))
            break
          case 'declarationNumber':case 'fileScanAmount':case 'remark':case 'asycudaCode':case 'licensePlateNumberBack':
            e.models = checkInVehicleData[e.ruleProp]
            break
          case 'businessTypeI18N':case 'vehicleTypeI18N':case 'destPortI18N':case 'originPortI18N':
            e.models = checkInVehicleData[e.ruleProp] && this.$t(checkInVehicleData[e.ruleProp].key)
            break
          case 'entryTunnel':case 'xrayScan':case 'trailer':case 'logistics':
            if (checkInVehicleData[e.ruleProp]) {
              e.models = this.$t('ViBorder.common.yes')
            } else {
              e.models = this.$t('ViBorder.common.error')
            }
            break
          case 'riskLevel':
            if (checkInVehicleData.riskLevel) {
              if (checkInVehicleData.riskLevel.value === 'GREEN') {
                e.models = '2'
              }
              if (checkInVehicleData.riskLevel.value === 'YELLOW') {
                e.models = '1'
              }
              if (checkInVehicleData.riskLevel.value === 'RED') {
                e.models = '0'
              }
            }
            break
        }
      })
    },
    informationComparison (result) { // 综合查验赋值
      this.outVehicleInfo.inputItem.forEach(ele => {
        if (ele.ruleProp === 'licensePlateNumber') {
          ele.models = (this.$_get(result, `measureVO.vehicleMeasure.licensePlateNumber`, '') || this.$_get(result, `checkInVO.vehicleCheckIn.licensePlateNumber`, ''))
        } else if (ele.ruleProp === 'conclusionType') {
          if (result.dcConclusion) {
            ele.models = this.$t(result.dcConclusion.conclusionType.key)
            if (result.dcConclusion.conclusionType.value === 'SUSPICION') {
              ele.color = 'red'
            } else {
              ele.color = ''
            }
          }
        } else if (ele.ruleProp === 'conclusionRemark') {
          ele.models = this.$_get(result, `dcConclusion.conclusionRemark`, '')
        }
      })
      for (let item in this.ruleForm) {
        switch (item) {
          case 'licensePlateNumber': // 对前车牌赋值
            this.ruleForm[item] = this.$_get(result, `checkInVO.vehicleCheckIn.licensePlateNumber`, '')
            break
          case 'containerNumber': // 对集装箱赋值
            this.ruleForm[item] = this.$_get(result, `trackingVO.result`, '')
            break
        }
      }
    },
    back () { // 返回上一页
      this.$router.push({path: '/ic/approachingVehicle'})
    },
    prompt (param) {
      this.$confirm(`${param}`, {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: false,
        type: 'warning'
      }).then().catch(() => { // 取消操作的时候就不用给提示了
      })
    },
    lpnImageFrontClick () {
      if (!this.buttonImageData.lpnImageFront.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    lpnImageBack () {
      if (!this.buttonImageData.lpnImageBackcontent.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    containerImage () {
      if (!this.buttonImageData.containerImagedata.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    handleCheckAllChange (val) {
      this.checkedUrl = val ? this.urlOptions : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      this.checkAll = checkedCount === this.urlOptions.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.urlOptions.length
    },
    singleFile (val) {
      window.open(val, '_blank')
    },
    fileDown () { // 全部下载文件方法
      if (this.checkedUrl.length > 0) {
        for (let index = 0; index < this.checkedUrl.length; index++) {
          let fileNumber = this.fileName(this.checkedUrl[index])
          this.fileDownMethod(fileNumber, this.checkedUrl[index])
        }
      } else {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.chooseThenDownload'),
          offset: this.notifyOffset
        })
      }
    },
    fileDownMethod (name, href) {
      let a = document.createElement('a') // 创建a标签
      let e = document.createEvent('mouseevents') // 创建鼠标事件对象
      e.initEvent('click', false, false) // 初始化事件对象
      a.href = href // 设置下载地址
      a.download = name // 设置下载文件名
      a.dispatchEvent(e) // 给指定的元素，执行事件click事件
    },
    audioPlay () { // 控制视频的播放(车辆检入)
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.checkInVideoTitle')
      if (this.videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(this.videoPathIn)
      }
      if (this.videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(this.videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    audioPlayOut () { // 控制视频的播放(车辆检出)
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.checkInVideoTitle')
      if (this.videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(this.videoPathIn)
      }
      if (this.videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(this.videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    measureAudioPlay (videoPathIn, videoPathOut) {
      this.audioData.videoData = []
      this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
      if (videoPathIn) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.enterVideo')
        this.audioData.videoData.push(videoPathIn)
      }
      if (videoPathOut) {
        this.singleVideoDrive = this.$t('ViBorder.businessLogicCommon.leaveVideo')
        this.audioData.videoData.push(videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    confirmModal (parm) { // 确认信息弹窗封装的公共的方法
      this.$confirm(`${parm.msg}`, {
        confirmButtonText: this.$t('common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: true,
        type: 'warning'
      }).then(() => {
        if (parm.scb && parm.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            message: this.$t('ViBorder.PI.submittedSuccessfully'),
            offset: this.notifyOffset
          })
        } else {
          this.$notify({
            title: this.$t('ViBorder.common.prompt'),
            type: 'info',
            message: this.$t('ViBorder.businessLogicCommon.operationFailed'),
            offset: this.notifyOffset
          })
        }
      }).catch(() => { // // 取消操作的时候就不用给提示了
      })
    },
    handleClick (tab, event) {
    },
    fileName (val) {
      let index = val.split('/').length
      let arry = val.split('/')
      let letter = arry[index - 1].split('?')
      let name = letter[0]
      return name
    },
    showPhysicalCheckTaskDetail ({name, path}) { // 在请求到数据的时候，打开ips/viprobe
      let pathArray = this.viProbeInfo.savePath.split(',')
      let imageFiles = pathArray.map(item => {
        let name = item.substring(item.lastIndexOf('/') + 1)
        return {name}
      }).filter(e => {
        if (e.name.includes('.img')) {
          return e
        }
      })
      let markFilePath = ''
      let stepFilePath = ''
      if (this.viProbeInfo.savePath.includes('suspects_json.mark')) {
        markFilePath = `${path}/suspects_json.mark`
      } else if (this.viProbeInfo.savePath.includes('history.steps')) {
        stepFilePath = `${path}/history.steps`
      }
      openImageAndAnalysisInfoInViProbe(name, path, imageFiles, markFilePath, stepFilePath)
    },
    isShowIPS () { // 能否打开看图工具
      if (!this.viProbeInfo.savePath) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.DC.noScanPhoto'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      this.closeViewingTool()
      let {name, path} = this.viProbeInfo
      this.showPhysicalCheckTaskDetail({name, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
    }
  },
  computed: {},
  props: [],
  components: {upload}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.el-popover {
  .el-carousel__indicators {
    @include flex(row, center, center);
    width: 50%;
  }
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .ic-approachingimg {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#ic-querydetail {
  @extend .extend-bar;
  .dc-M {
    padding: $margin;
    box-sizing: border-box !important;
    position: relative;
    display: block !important;
    .infoDetail {
      height: calc(100% - 34px);
      width: 100%;
      box-sizing: border-box !important;
      display: flex !important;
      position: relative;
    }
    .table-info {
      width: $all / 2;
      margin-right: $margin;
      @include flex(column);
      justify-content: flex-start;
      .panel-top {
        height: 100%;
        .left-bar {
          .vb-content .tableForm .el-form {
            .el-form-item  {
              .info-item {
                border: none;
              }
            }
          }
        }
      }
      .panel {
        .toggle-menu {
          display: block;
        }
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        &:first-child {
          .el-form {
            &:first-child {
              .el-form-item__content {
                .info-item {
                  border-bottom: 1px solid #ddd;
                  .el-button--primary {
                    background: url(../../assets/img/dc/video_icon.png)  top 50%  center no-repeat;
                    background-color: #ffffff!important;
                    border: none;
                    height: 30px;
                    width: 30px;
                  }
                }
              }
            }
          }
          .el-form {
            border-bottom: none;
          }
        }
        &:last-child, &:nth-child(2n) {
          margin-bottom: 0;
          .analyze_image {
            display: block;
            margin-right: 20px;
            color: #1782d4;
          }
          .left-bar {
            .tableForm {
              .data-panel {
                width: $all * .6;
                @include flex(row,space-between);
                padding: 0 $margin;
                .el-input {
                  width: $all * 0.35;
                }
                .el-textarea {
                  padding: 4px 0;
                }
                .border-style {
                  width: $all * .15;
                  height: 20px;
                  @include flex();
                  border-radius: 6px;
                  border: 1px solid #ddd;
                }
                .border-style.danger-border {
                  border: 1px dashed red;
                }
                .text-color {
                  color: red;
                }
                .iconfont {
                  font-size: $headerRight;
                  cursor: pointer;
                }
                span {
                  word-break: break-all;
                  text-align: left
                }
              }
              .statusStart {
                @include flex(row,flex-start);
                .border-style {
                  margin-right: 10px;
                }
              }
              .el-form {
                width: calc(100% - 20px);
                margin: $dis10;
                @include box-sizing;
                border: 1px solid $panelBorder;
                .btn-style {
                  margin: $margin;
                }
                .el-form-item {
                  width: $all;
                  display: flex;
                  .el-form-item__label {
                    @extend .extend-table-form-left-style;
                    border: none;
                    height: $all;
                    border-right: 1px solid #ddd;
                  }
                  .el-form-item__content {
                    @extend .extend-table-form-content-style;
                    width: $all;
                    padding: 0;
                    .common-img {
                      cursor: pointer;
                      height: $large;
                      width: $large;
                    }
                    .lpn-front {
                      background: url(../../assets/img/dc/dss.png)  top -15% center no-repeat;
                    }
                    .lpn-back {
                      background: url(../../assets/img/dc/dss.png)  top 48% center no-repeat;
                    }
                    .container {
                      background: url(../../assets/img/dc/dss.png)  top 115% center no-repeat;
                    }
                    .leaving-time {
                      background: url(../../assets/img/dc/video_icon.png)  top 50%  center no-repeat;
                    }
                  }
                  .el-form-item__error {
                    display: none;
                  }
                  &:last-child {
                    .el-form-item__content {
                      width: $all;
                      border-bottom: none
                    }
                  }
                }
              }
            }
          }
        }
        .left-bar {
          @extend .extend-bar;
          width: $all;
        }
        .btn-group {
          @include flex();
          margin: $margin 0;
        }
      }
    }
    #idalog {
      .el-dialog__body {
        display: flex;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 2px);
      margin-bottom: 0px;
      .btn-group {
        @include flex();
        margin: $margin 0;
      }
    }
    .parentUpDown {
      margin-top: 10px;
      .lpnback {
        .upfile-panel {
          overflow: auto;
          height: 100%;
          display: flex;
          flex-direction: column!important;
          align-items: flex-start!important;
          justify-content: flex-start!important;
          .upfile-cell {
            width: 100%;
            border-bottom: 1px solid #ddd;
            label {
              display: block;
              float: left;
            }
          }
          .first-cell {
            .iconfont {
              display: block;
              float: right;
              margin-right: 30px;
              color: #1782d4;;
            }
          }
        }
        .el-checkbox-group {
          display: flex;
          justify-content: flex-start;
          flex-direction: column!important;
          width: 100%;
          align-items: flex-start!important;
          .el-checkbox {
            margin-left: 0;
          }
        }
      }
      .btn-group {
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .el-form-item__content {
          margin: 0!important;
        }
      .upDown {
        height: auto;
        .el-form-item__content {
          margin: 0!important;
        }
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
      }
      .single-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $all;
        width: $all;
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
    @media screen and (max-width: 1640px) {
      // 小屏
      .aside-panel {
        height: $all * 0.7;
        .search-form {
          padding: 0;
          .el-form-item {
            margin-bottom: $dis10;
          }
          .el-form-item.search-form-btn {
            margin-top: 0;
          }
        }
        .up-down-infolist {
          .tableComp {
            height: 322px;
          }
        }
      }
    }
    .audio-one {
      #dialog .el-dialog {
        width: 510px;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
  }
  .export-content {
    display: none;
    width: 1090px;
    padding: $margin;
    @include flex($dir: column, $juc: center, $ali: flex-start);
    @include box-sizing();
    .title {
      margin-bottom: $margin;
      font-size: $title;
      font-weight: bold;
    }
    .export-info {
      width: $all;
      @include flex($dir: column, $juc: center, $ali: flex-start);
      @include box-sizing();
      .export-img {
        width: $all;
        height: 200px;
        margin-bottom: $margin * 2;
      }
      .export-content-text{
        width: $all;
        @include flex($dir: row, $juc: flex-start, $ali: flex-start);
        flex-wrap: wrap;
        @include box-sizing();
        border-top: 2px solid $secBorder;
        padding: $margin / 2;
        .module-info {
          width: $all / 4;
          &:last-child {
            width: $all;
          }
          @include flex($dir: column, $juc: flex-start, $ali: flex-start);
          .title {
            margin-bottom: $margin;
            font-size: $smallTitle;
            font-weight: bold;
          }
          .text {
            margin-bottom: $margin;
            font-size: $texts;
            word-break: break-all;
            text-align: left;
          }
        }
      }
    }
  }
}
</style>
