<template>
  <div class='audit-business' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="content-wrap">
          <div class="panel panel-left" id="pdf1">
            <!-- 表格展示右侧按钮组 -->
            <panelTitle :panelTitleInit="panelTitle.listTitle1">
              <i class="iconfont" @click="exportOne" :title="$t('ViBorder.common.export', {msg: 'pdf'})">&#xe632;</i>
            </panelTitle>
            <div id="echart1" style="width: 100%; height: 100%;"></div>
          </div>
          <div class="panel" id="pdf2">
            <!-- 表格展示右侧按钮组 -->
            <panelTitle :panelTitleInit="panelTitle.listTitle2">
              <i class="iconfont" @click="exportTwo" :title="$t('ViBorder.common.export', {msg: 'pdf'})">&#xe632;</i>
            </panelTitle>
            <div id="echart2_1" style="width: 100%; height: 50%;"></div>
            <div id="echart2_2" style="width: 100%; height: 50%;" v-show="isShowBar1"></div>
          </div>
          <div class="panel panel-right" id="pdf3">
            <!-- 表格展示右侧按钮组 -->
            <panelTitle :panelTitleInit="panelTitle.listTitle3">
              <i class="iconfont" @click="exportThree" :title="$t('ViBorder.common.export', {msg: 'pdf'})">&#xe632;</i>
            </panelTitle>
            <div id="echart3_1" style="width: 100%; height: 50%;"></div>
            <div id="echart3_2" style="width: 100%; height: 50%;" v-show="isShowBar2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/businessStatisticsReport.js'
import {export2Pdf} from '../../lib/pdf/export2Pdf.js'
export default {
  data () {
    const checkTime = async (rule, value, callback) => {
      let d1 = value[0].substring(0, 10)
      let d2 = value[1].substring(0, 10)
      let tmp = d1.split('-')
      let date1 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      tmp = d2.split('-')
      let date2 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      if ((date2.getTime() - date1.getTime()) > 365 * 24 * 60 * 60 * 1000) {
        callback(new Error(this.$t('ViBorder.IC.oneYearInterval')))
      } else {
        callback()
      }
    }
    return {
      notifyOffset: window.config.notifyOffset,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle1: {
          title: this.$t('ViBorder.IC.inAndOutStatistic')
        },
        listTitle2: {
          title: this.$t('ViBorder.IC.inAndOutVehicleType')
        },
        listTitle3: {
          title: this.$t('ViBorder.IC.inAndOutbusinessType')
        }
      },
      isShowBar1: true,
      isShowBar2: true,
      startTime: 0,
      endTime: 0,
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          checkInTime: [
            {validator: checkTime, trigger: 'change'}
          ]
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'checkInTime',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        }
      ]
    }
  },
  created () {
    sessionStorage.setItem('history', this.listHistory)
    this.initPageData()
  },
  mounted () {
    let myEchart1 = this.$echarts.init(document.getElementById('echart1'))
    let myEchart2 = this.$echarts.init(document.getElementById('echart2_1'))
    let myEchart3 = this.$echarts.init(document.getElementById('echart2_2'))
    let myEchart4 = this.$echarts.init(document.getElementById('echart3_1'))
    let myEchart5 = this.$echarts.init(document.getElementById('echart3_2'))
    window.onresize = () => {
      myEchart1.resize()
      myEchart2.resize()
      myEchart3.resize()
      myEchart4.resize()
      myEchart5.resize()
    }
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = this.$startStopTime(model.checkInTime)
      let param = Object.assign({}, time, options, value)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            message: this.$t('ViBorder.common.successfuly'),
            position: 'top-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
        this.$notify.error({
          title: this.$t('ViBorder.common.dataError'),
          message: this.$t('ViBorder.common.fail'),
          position: 'top-right',
          offset: this.notifyOffset
        })
      })
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData (val) {
      setTimeout(() => {
        this.initList(val)
        this.initListVheicle(val)
        this.initListBusiness(val)
      })
    },
    initList (param) {
      handleData._initList(param).then(res => {
        if (res.data.flag) {
          let result = res.data.result.inOutboundStatistics
          this.initEchart1(result)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initListVheicle (param) {
      handleData._initListVheicle(param).then(res => {
        if (res.data.flag) {
          let result = res.data.result.vehicleTypeStatistics
          this.initEchart2(result)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initListBusiness (param) {
      handleData._initListBusiness(param).then(res => {
        if (res.data.flag) {
          let result = res.data.result.businessTypeStatistics
          this.initEchart3(result)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initEchart1 (val) {
      let myEchart1 = this.$echarts.init(document.getElementById('echart1'))
      let arrVal = []
      let arrTitle = []
      val.forEach(ele => {
        if (ele.direction === 'IMPORT') {
          ele.direction = this.$t('ViBorder.businessLogicCommon.in')
          arrVal[0] = {
            value: ele.sCount,
            name: ele.direction
          }
          arrTitle[0] = ele.direction
        }
        if (ele.direction === 'EXPORT') {
          ele.direction = this.$t('ViBorder.businessLogicCommon.out')
          arrVal[1] = {
            value: ele.sCount,
            name: ele.direction
          }
          arrTitle[1] = ele.direction
        }
      })
      let option = {
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)',
          position: function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧
            var obj = {top: 120}
            obj[[ 'left', 'right' ][ +(pos[0] < size.viewSize[0] / 2) ]] = 20
            return obj
          }
        },
        color: ['#C23531', '#2F4554'],
        legend: {
          orient: 'horizontal',
          x: 'left',
          data: arrTitle
        },
        series: [
          {
            name: this.$t('ViBorder.IC.inAndOutStatistic'),
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: true,
            label: {
              normal: {
                show: false,
                position: 'center'
              },
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            center: ['50%', '50%'],
            labelLine: {
              normal: {
                show: false
              }
            },
            data: arrVal
          }
        ]
      }
      myEchart1.setOption(option)
    },
    initEchart2 (val) {
      let myEchart1 = this.$echarts.init(document.getElementById('echart2_1'))
      let arrVal = [
        {value: 0, name: this.$t('ViBorder.DIC.VEHICLETYPE.BUS')},
        {value: 0, name: this.$t('ViBorder.DIC.VEHICLETYPE.TRUCK')},
        {value: 0, name: this.$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR')},
        {value: 0, name: this.$t('ViBorder.DIC.VEHICLETYPE.EMPTYTRUCK')},
        {value: 0, name: this.$t('ViBorder.DIC.VEHICLETYPE.OVERLIMITTRUCK')}
      ] // 饼图数据
      let arrData = []
      let arrTitle = [] // 饼图标题
      let arrValOut = [] // 柱状图出境
      let arrValIn = [] // 柱状图进境
      for (let i in val) {
        if (val[i].vType === 'BUS') {
          arrVal[0].value = arrVal[0].value + Number(val[i].sCount)
        }
        if (val[i].vType === 'TRUCK') {
          arrVal[1].value = arrVal[1].value + Number(val[i].sCount)
        }
        if (val[i].vType === 'COMMODITYCAR') {
          arrVal[2].value = arrVal[2].value + Number(val[i].sCount)
        }
        if (val[i].vType === 'EMPTYTRUCK') {
          arrVal[3].value = arrVal[3].value + Number(val[i].sCount)
        }
        if (val[i].vType === 'OVERLIMITTRUCK') {
          arrVal[4].value = arrVal[4].value + Number(val[i].sCount)
        }
      }
      for (let i in arrVal) {
        if (arrVal[i].value > 0) {
          arrTitle.push(arrVal[i].name)
          arrData.push(arrVal[i])
        }
      }
      val.forEach(ele => {
        if (ele.vType === 'BUS' && ele.direction === 'IMPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inBus')
          })
          arrValIn[0] = ele.sCount
        }
        if (ele.vType === 'BUS' && ele.direction === 'EXPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outBus')
          })
          arrValOut[0] = ele.sCount
        }
        if (ele.vType === 'TRUCK' && ele.direction === 'IMPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inTruck')
          })
          arrValIn[1] = ele.sCount
        }
        if (ele.vType === 'TRUCK' && ele.direction === 'EXPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outTruck')
          })
          arrValOut[1] = ele.sCount
        }
        if (ele.vType === 'COMMODITYCAR' && ele.direction === 'IMPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inCommercial')
          })
          arrValIn[2] = ele.sCount
        }
        if (ele.vType === 'COMMODITYCAR' && ele.direction === 'EXPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outCommercial')
          })
          arrValOut[2] = ele.sCount
        }
        if (ele.vType === 'EMPTYTRUCK' && ele.direction === 'IMPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inEmpty')
          })
          arrValIn[3] = ele.sCount
        }
        if (ele.vType === 'EMPTYTRUCK' && ele.direction === 'EXPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outEmpty')
          })
          arrValOut[3] = ele.sCount
        }
        if (ele.vType === 'OVERLIMITTRUCK' && ele.direction === 'IMPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inEmpty')
          })
          arrValIn[4] = ele.sCount
        }
        if (ele.vType === 'OVERLIMITTRUCK' && ele.direction === 'EXPORT') {
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outEmpty')
          })
          arrValOut[4] = ele.sCount
        }
      })
      let option1 = {
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)',
          position: function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧
            var obj = {top: 120}
            obj[[ 'left', 'right' ][ +(pos[0] < size.viewSize[0] / 2) ]] = 20
            return obj
          }
        },
        legend: {
          orient: 'horizontal',
          x: 'left',
          data: arrTitle
        },
        series: [
          {
            name: this.$t('ViBorder.IC.inAndOutVehicleType'),
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: false,
                position: 'center'
              },
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            center: ['50%', '60%'],
            labelLine: {
              normal: {
                show: false
              }
            },
            data: arrData
          }
        ]
      }
      myEchart1.setOption(option1)
      let myEchart2 = this.$echarts.init(document.getElementById('echart2_2'))
      let option2 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#999'
            }
          }
        },
        grid: {
          x: 75,
          y: 50,
          x2: 75,
          y2: 50
        },
        color: ['#C23531', '#2F4554'],
        legend: {
          data: [this.$t('ViBorder.businessLogicCommon.in'), this.$t('ViBorder.businessLogicCommon.out')]
        },
        xAxis: [
          {
            show: false,
            type: 'category',
            data: [this.$t('ViBorder.DIC.VEHICLETYPE.BUS'), this.$t('ViBorder.DIC.VEHICLETYPE.TRUCK'), this.$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR'), this.$t('ViBorder.DIC.VEHICLETYPE.EMPTYTRUCK'), this.$t('ViBorder.DIC.VEHICLETYPE.OVERLIMITTRUCK')],
            axisPointer: {
              type: 'shadow'
            }
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: this.$t('ViBorder.businessLogicCommon.in'),
            type: 'bar',
            data: arrValIn
          },
          {
            name: this.$t('ViBorder.businessLogicCommon.out'),
            type: 'bar',
            data: arrValOut
          }
        ]
      }
      let isInTrue
      let isOutTrue
      if (arrValIn.length !== 0 || arrValOut.length !== 0) {
        isInTrue = arrValIn.find(ele => {
          if (ele > 0) {
            return true
          }
        })
        isOutTrue = arrValOut.find(ele => {
          if (ele > 0) {
            return true
          }
        })
      }
      myEchart2.setOption(option2)
      if (!isInTrue && !isOutTrue) {
        this.isShowBar1 = false
      } else {
        this.isShowBar1 = true
      }
    },
    initEchart3 (val) {
      let myEchart1 = this.$echarts.init(document.getElementById('echart3_1'))
      let arrVal = [
        {value: 0, name: this.$t('ViBorder.DIC.BUSINESSTYPE.IMPORT')},
        {value: 0, name: this.$t('ViBorder.DIC.BUSINESSTYPE.EXPORT')},
        {value: 0, name: this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITTARIFFUNION')},
        {value: 0, name: this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITNONTARIFFUNION')},
        {value: 0, name: this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITDOMESTIC')},
        {value: 0, name: this.$t('ViBorder.DIC.BUSINESSTYPE.TOLOGISTICSCENTER')}
      ]
      let arrData = []
      let arrTitle = []
      let arrValOut = []
      let arrValIn = []
      for (let i in val) {
        if (val[i].businessType === 'IMPORT') {
          arrVal[0].value = arrVal[0].value + Number(val[i].sCount)
        }
        if (val[i].businessType === 'EXPORT') {
          arrVal[1].value = arrVal[1].value + Number(val[i].sCount)
        }
        if (val[i].businessType === 'TRANSITTARIFFUNION') {
          arrVal[2].value = arrVal[2].value + Number(val[i].sCount)
        }
        if (val[i].businessType === 'TRANSITNONTARIFFUNION') {
          arrVal[3].value = arrVal[3].value + Number(val[i].sCount)
        }
        if (val[i].businessType === 'TRANSITDOMESTIC') {
          arrVal[4].value = arrVal[4].value + Number(val[i].sCount)
        }
        if (val[i].businessType === 'TOLOGISTICSCENTER') {
          arrVal[5].value = arrVal[5].value + Number(val[i].sCount)
        }
      }
      for (let i in arrVal) {
        if (arrVal[i].value > 0) {
          arrTitle.push(arrVal[i].name)
          arrData.push(arrVal[i])
        }
      }
      val.forEach(ele => {
        if (ele.businessType === 'IMPORT' && ele.direction === 'IMPORT') { // 入境入口
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.exit')
          })
          arrValIn[0] = ele.sCount
        }
        if (ele.businessType === 'IMPORT' && ele.direction === 'EXPORT') { // 出境入口
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.countryExports')
          })
          arrValOut[0] = ele.sCount
        }
        if (ele.businessType === 'EXPORT' && ele.direction === 'IMPORT') { // 入境出口
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inEntry')
          })
          arrValIn[1] = ele.sCount
        }
        if (ele.businessType === 'EXPORT' && ele.direction === 'EXPORT') { // 出境出口
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outEntry')
          })
          arrValOut[1] = ele.sCount
        }
        if (ele.businessType === 'TRANSITTARIFFUNION' && ele.direction === 'IMPORT') { // 入境转关至关税同盟国
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inTransittariffunion')
          })
          arrValIn[2] = ele.sCount
        }
        if (ele.businessType === 'TRANSITTARIFFUNION' && ele.direction === 'EXPORT') { // 出境转关至关税同盟国
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outTransittariffunion')
          })
          arrValOut[2] = ele.sCount
        }
        if (ele.businessType === 'TRANSITNONTARIFFUNION' && ele.direction === 'IMPORT') { // 入境转关至非关税同盟国
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inTransitnontariffunion')
          })
          arrValIn[3] = ele.sCount
        }
        if (ele.businessType === 'TRANSITNONTARIFFUNION' && ele.direction === 'EXPORT') { // 出境转关至非关税同盟国
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outTransitnontariffunion')
          })
          arrValOut[3] = ele.sCount
        }
        if (ele.businessType === 'TRANSITDOMESTIC' && ele.direction === 'IMPORT') { // 入境转关至国内
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inTransitdomestic')
          })
          arrValIn[4] = ele.sCount
        }
        if (ele.businessType === 'TRANSITDOMESTIC' && ele.direction === 'EXPORT') { // 出境转关至国内
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outTransitdomestic')
          })
          arrValOut[4] = ele.sCount
        }
        if (ele.businessType === 'TOLOGISTICSCENTER' && ele.direction === 'IMPORT') { // 入境去往物流中心
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.inTologisticscenter')
          })
          arrValIn[5] = ele.sCount
        }
        if (ele.businessType === 'TOLOGISTICSCENTER' && ele.direction === 'EXPORT') { // 出境去往物流中心
          arrVal.push({
            value: ele.sCount,
            name: this.$t('ViBorder.IC.outTologisticscenter')
          })
          arrValOut[5] = ele.sCount
        }
      })
      let option = {
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)',
          position: function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧
            var obj = {top: 120}
            obj[[ 'left', 'right' ][ +(pos[0] < size.viewSize[0] / 2) ]] = 20
            return obj
          }
        },
        legend: {
          orient: 'horizontal',
          x: 'left',
          data: arrTitle
        },
        series: [
          {
            name: this.$t('ViBorder.IC.inAndOutbusinessType'),
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: false,
                position: 'center'
              },
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            center: ['50%', '60%'],
            labelLine: {
              normal: {
                show: false
              }
            },
            data: arrData
          }
        ]
      }
      myEchart1.setOption(option)
      let myEchart2 = this.$echarts.init(document.getElementById('echart3_2'))
      let option2 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#999'
            }
          }
        },
        grid: {
          x: 75,
          y: 50,
          x2: 75,
          y2: 50
        },
        color: ['#C23531', '#2F4554'],
        legend: {
          data: [this.$t('ViBorder.businessLogicCommon.in'), this.$t('ViBorder.businessLogicCommon.out')]
        },
        xAxis: [
          {
            show: false,
            type: 'category',
            data: [this.$t('ViBorder.DIC.BUSINESSTYPE.IMPORT'), this.$t('ViBorder.DIC.BUSINESSTYPE.EXPORT'), this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITTARIFFUNION'), this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITNONTARIFFUNION'), this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITDOMESTIC'), this.$t('ViBorder.DIC.BUSINESSTYPE.TOLOGISTICSCENTER')],
            axisPointer: {
              type: 'shadow'
            }
          }
        ],
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: this.$t('ViBorder.businessLogicCommon.in'),
            type: 'bar',
            data: arrValIn
          },
          {
            name: this.$t('ViBorder.businessLogicCommon.out'),
            type: 'bar',
            data: arrValOut
          }
        ]
      }
      let isInTrue
      let isOutTrue
      if (arrValIn.length !== 0 || arrValOut.length !== 0) {
        isInTrue = arrValIn.find(ele => {
          if (ele > 0) {
            return true
          }
        })
        isOutTrue = arrValOut.find(ele => {
          if (ele > 0) {
            return true
          }
        })
      }
      myEchart2.setOption(option2)
      if (!isInTrue && !isOutTrue) {
        this.isShowBar2 = false
      } else {
        this.isShowBar2 = true
      }
    },
    query () { // 表单查询方法
      this.initPageData(this.getQueryParam())
    },
    exportOne () {
      export2Pdf({title: this.$t('ViBorder.IC.inAndOutStatistic'), el: document.querySelector('#pdf1')})
    },
    exportTwo () {
      export2Pdf({title: this.$t('ViBorder.IC.inAndOutVehicleType'), el: document.querySelector('#pdf2')})
    },
    exportThree () {
      export2Pdf({title: this.$t('ViBorder.IC.inAndOutbusinessType'), el: document.querySelector('#pdf3')})
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit-business {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
        .audit-business .audit-M .infolist .panel .search-form-item {
          width: 35% !important;
        }
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      display: block;
      .panel {
        @extend .extend-panel;
        width: $all !important;
        .search-form {
          @include layout(2);
        }
        .el-switch__core {
          width: 70px !important;
        }
        @media screen and (min-width: 1640px) {
          .search-form-item {
            margin-right: $importantZero;
            width: 30% !important;
          }
          .search-form-btn {
            @include flex(row, flex-end, center);
          }
        }
      }
      .content-wrap {
        height: calc(100% - 200px);
        .panel {
          margin: 10px;
          height: calc(100% - 35px);
        }
        .panel-left {
          margin-left: 0;
        }
        .panel-right {
          margin-right: 0;
        }
        @include flex(row, space-between, center);
        .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
