<template>
  <div class='audit' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe6fe;</i>
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar" v-bar>
            <div class="audit-M">
              <div class="time">{{$t('ViBorder.IC.statisticalTime')}}:<span>{{startTime}}</span> — <span>{{endTime}}</span></div>
              <tableForm :searchIpt="tableItemIn" :searchFunc="tableQueryFnIn" :formRule='tableRuleIn' class="tableIn"></tableForm>
              <tableForm :searchIpt="tableItemOut" :searchFunc="tableQueryFnOut" :formRule='tableRuleOut' class="tableOut"></tableForm>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/business.js'
import {formatSeconds, saveFile} from '../../lib/index.js'
export default {
  data () {
    const checkTime = async (rule, value, callback) => {
      let d1 = value[0].substring(0, 10)
      let d2 = value[1].substring(0, 10)
      let tmp = d1.split('-')
      let date1 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      tmp = d2.split('-')
      let date2 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      if ((date2.getTime() - date1.getTime()) > 365 * 24 * 60 * 60 * 1000) {
        callback(new Error(this.$t('ViBorder.IC.oneYearInterval')))
      } else {
        callback()
      }
    }
    return {
      notifyOffset: window.config.notifyOffset,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      startTime: 0,
      endTime: 0,
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          checkInTime: [
            {validator: checkTime, trigger: 'change'}
          ]
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'checkInTime',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        }
      ],
      tableQueryFnIn: { // 左侧页面back
        isBackBtn: false,
        hasBtn: false,
        backPath: '/checkIn/index',
        backText: this.$t('ViBorder.common.back')
      },
      tableRuleIn: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      tableItemIn: [
        {
          getLabel: this.$t('ViBorder.IC.businessstatisticsType'),
          type: 'onlyRead',
          models: this.$t('ViBorder.IC.businessstatisticsValue'),
          ruleProp: 'title'
        },
        { // 进境总量统计
          getLabel: this.$t('ViBorder.IC.importTotalStatistics'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'total'
        },
        { // 进境平均时长
          getLabel: this.$t('ViBorder.IC.importAvgTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'avgTime'
        },
        { // 进境边检注册平均时长
          getLabel: this.$t('ViBorder.IC.importFrontierEntryTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'frontierEntryTime'
        },
        { // 进境海关注册平均时长
          getLabel: this.$t('ViBorder.IC.importEntryTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTime'
        },
        { // 进境测量平均时长
          getLabel: this.$t('ViBorder.IC.importMeasureTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'measureTime'
        },
        { // 进境比对平均时长
          getLabel: this.$t('ViBorder.IC.importCompareTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'compareTime'
        },
        { // 进境人工查验平均时长
          getLabel: this.$t('ViBorder.IC.importPiTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'piTime'
        },
        { // 进境海关检出平均时长
          getLabel: this.$t('ViBorder.IC.importExitTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'exitTime'
        },
        { // 进境边检检出平均时长
          getLabel: this.$t('ViBorder.IC.importFrontierExitTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'frontierExitTime'
        },
        { // measureRatio divisor/dividend进境测量任务占比
          getLabel: this.$t('ViBorder.IC.importBusinessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'measureRatio'
        },
        { // suspicionRatio divisor/dividend进境测量嫌疑占比
          getLabel: this.$t('ViBorder.IC.importSuspicionRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'suspicionRatio'
        },
        { // 进境人工查验任务占比
          getLabel: this.$t('ViBorder.IC.importPiTask'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'piRatio'
        },
        { // seizedRatio divisor/dividend进境查获占比
          getLabel: this.$t('ViBorder.IC.importSeizedRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'seizedRatio'
        },
        { // seizedSucessRatio divisor/dividend进境查获准确率
          getLabel: this.$t('ViBorder.IC.importSeizedSucessRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'seizedSucessRatio'
        },
        { // transferRatio divisor/dividend进境转关占比
          getLabel: this.$t('ViBorder.IC.importTransferRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'transferRatio'
        }
      ],
      tableQueryFnOut: { // 左侧页面back
        isBackBtn: false,
        hasBtn: false,
        backPath: '/checkIn/index',
        backText: this.$t('ViBorder.common.back')
      },
      tableRuleOut: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      tableItemOut: [
        { // 出境总量统计
          getLabel: this.$t('ViBorder.IC.exitTotalStatistics'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'total'
        },
        { // 出境平均时长
          getLabel: this.$t('ViBorder.IC.exitAvgTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'avgTime'
        },
        { // 出境边检注册平均时长
          getLabel: this.$t('ViBorder.IC.exitFrontierEntryTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'frontierEntryTime'
        },
        { // 出境海关注册平均时长
          getLabel: this.$t('ViBorder.IC.exitEntryTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTime'
        },
        { // 出境测量平均时长
          getLabel: this.$t('ViBorder.IC.exitMeasureTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'measureTime'
        },
        { // 出境比对平均时长
          getLabel: this.$t('ViBorder.IC.exitCompareTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'compareTime'
        },
        { // 出境人工查验平均时长
          getLabel: this.$t('ViBorder.IC.exitPiTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'piTime'
        },
        { // 出境海关放行平均时长
          getLabel: this.$t('ViBorder.IC.exitExitTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'exitTime'
        },
        { // 出境边检放行平均时长
          getLabel: this.$t('ViBorder.IC.exitFrontierExitTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'frontierExitTime'
        },
        { // measureRatio divisor/dividend出境测量任务占比
          getLabel: this.$t('ViBorder.IC.exitBusinessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'measureRatio'
        },
        { // suspicionRatio divisor/dividend出境测量嫌疑占比
          getLabel: this.$t('ViBorder.IC.exitSuspicionRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'suspicionRatio'
        },
        { // 出境人工查验任务占比
          getLabel: this.$t('ViBorder.IC.exitPiTask'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'piRatio'
        },
        { // seizedRatio divisor/dividend出境查获占比
          getLabel: this.$t('ViBorder.IC.exitSeizedRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'seizedRatio'
        },
        { // seizedSucessRatio divisor/dividend出境查获准确率
          getLabel: this.$t('ViBorder.IC.exitSeizedSucessRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'seizedSucessRatio'
        },
        { // transferRatio divisor/dividend出境转关占比
          getLabel: this.$t('ViBorder.IC.exitTransferRatio'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'transferRatio'
        }
      ],
      exportParam: ''
    }
  },
  created () {
    sessionStorage.setItem('history', this.listHistory)
    this.initPageData()
  },
  mounted () {
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = {}
      if (Array.isArray(model.checkInTime) && model.checkInTime.length) {
        if (!model.checkInTime[1].includes('999')) {
          model.checkInTime[1] = `${model.checkInTime[1]}.999`
        }
        time = {
          startTime: new Date(model.checkInTime[0]).getTime(),
          endTime: new Date(model.checkInTime[1]).getTime()
        }
        this.startTime = this.$formatDateTime(time.startTime, this.$t('ViBorder.common.formatDate'))
        this.endTime = this.$formatDateTime(time.endTime, this.$t('ViBorder.common.formatDate'))
      } else {
        this.startTime = this.$t('ViBorder.IC.noTime')
        this.endTime = this.$t('ViBorder.IC.noTime')
      }
      let param = Object.assign({}, time, options, value)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            message: this.$t('ViBorder.common.successfuly'),
            position: 'top-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
        this.$notify.error({
          title: this.$t('ViBorder.common.dataError'),
          message: this.$t('ViBorder.common.fail'),
          position: 'top-right',
          offset: this.notifyOffset
        })
      })
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkInTime[0]).getTime(),
          endTime: new Date(model.checkInTime[1]).getTime()
        }
        this.startTime = this.$formatDateTime(time.startTime, this.$t('ViBorder.common.formatDate'))
        this.endTime = this.$formatDateTime(time.endTime, this.$t('ViBorder.common.formatDate'))
        this.getTableData(time)
      })
    },
    // formatSeconds (t) {
    //   let s = parseInt(t)
    //   let m = 0
    //   let h = 0
    //   if (s > 60) {
    //     m = parseInt(t / 60)
    //     s = parseInt(t % 60)
    //     if (m > 60) {
    //       h = parseInt(m / 60)
    //       m = parseInt(m % 60)
    //     }
    //   }
    //   h = h < 10 ? `0${h}` : h
    //   m = m < 10 ? `0${m}` : m
    //   s = s < 10 ? `0${s}` : s
    //   return `${h} : ${m} : ${s} `
    // },
    getTableData (option) { // 获取表格初始数据 模拟请求回来的数据
      handleData._initList(option).then(res => {
        if (res.data.flag) {
          this.exportParam = option
          let resultImport = res.data.result.import
          this.tableItemIn.forEach(item => {
            if (item.ruleProp === 'transferRatio') {
              if (resultImport.transferRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultImport.transferRatio.divisor / resultImport.transferRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'seizedSucessRatio') {
              if (resultImport.seizedSucessRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultImport.seizedSucessRatio.divisor / resultImport.seizedSucessRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'seizedRatio') {
              if (resultImport.seizedRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultImport.seizedRatio.divisor / resultImport.seizedRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'suspicionRatio') {
              if (resultImport.suspicionRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultImport.suspicionRatio.divisor / resultImport.suspicionRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'measureRatio') {
              if (resultImport.measureRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultImport.measureRatio.divisor / resultImport.measureRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'piRatio') {
              if (resultImport.piRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultImport.piRatio.divisor / resultImport.piRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'total') {
              item.models = resultImport[item.ruleProp]
            } else if (item.ruleProp === 'title') {
              item.models = this.$t('ViBorder.IC.businessstatisticsValue')
            } else {
              if (resultImport[item.ruleProp]) {
                item.models = formatSeconds(resultImport[item.ruleProp])
              } else {
                item.models = formatSeconds(0)
              }
            }
          })
          let resultExport = res.data.result.export
          this.tableItemOut.forEach(item => {
            if (item.ruleProp === 'transferRatio') {
              if (resultExport.transferRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultExport.transferRatio.divisor / resultExport.transferRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'seizedSucessRatio') {
              if (resultExport.seizedSucessRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultExport.seizedSucessRatio.divisor / resultExport.seizedSucessRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'seizedRatio') {
              if (resultExport.seizedRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultExport.seizedRatio.divisor / resultExport.seizedRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'suspicionRatio') {
              if (resultExport.suspicionRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultExport.suspicionRatio.divisor / resultExport.suspicionRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'measureRatio') {
              if (resultExport.measureRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultExport.measureRatio.divisor / resultExport.measureRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'piRatio') {
              if (resultExport.piRatio.dividend === 0) {
                item.models = '0%'
              } else {
                item.models = Math.round((resultExport.piRatio.divisor / resultExport.piRatio.dividend) * 100 * 100) / 100 + '%'
              }
            } else if (item.ruleProp === 'total') {
              item.models = resultExport[item.ruleProp]
            } else {
              if (resultExport[item.ruleProp]) {
                // let time = (resultExport[item.ruleProp] / 60).toFixed(1)
                // let time = Math.round(resultExport[item.ruleProp] / 60 * 10) / 10
                // item.models = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
                item.models = formatSeconds(resultImport[item.ruleProp])
              } else {
                item.models = formatSeconds(0)
              }
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    query () { // 表单查询方法
      this.getTableData(this.getQueryParam())
    },
    exportExcle () {
      let obj = this.exportParam
      delete obj.page
      delete obj.size
      delete obj.checkInTime
      obj = {...obj}
      let str = ''
      for (let oKey in obj) {
        str = str + (oKey + '=' + obj[oKey] + '&')
      }
      let aSrc = `${window.config.baseUrl}${window.config.projectName}` + '/api/ic/' + handleData.businessExoprt + '?' + str + 'size=' + `${window.config.size}` + '&language=' + this.$store.state.lang
      console.log('========', aSrc)
      saveFile(aSrc)
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
        .el-switch__core {
          width: 70px !important;
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
         .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
        .tableOut {
          position: relative;
          top: -10px;
        }
        .time {
          width: $all;
          text-align: left;
          text-indent: 10px;
          span {
            border-bottom: 1px #1782d4 solid;
          }
        }
        .tableIn .el-form .el-form-item:first-child label{
          font-size: 20px;
        }
        .tableIn .el-form .el-form-item:first-child .info-item{
          font-size: 20px;
        }
        .extend-table-form-left-style, .tableForm .el-form .el-form-item .table-form-pack .el-form-item__label {
          justify-content: flex-start;
          width: 55%;
        }
      }
    }
  }
}
</style>
