<template>
   <div class='verification' v-bar>
     <div class="audit-M">
        <div class="breadCrumb">
          <breadCrumb :breadcrumb="titleBread"/>
        </div>
        <!-- 表格内容 -->
        <div class="infolist">
          <div class="panel panel-Q">
            <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
              <div class="form-bar" v-bar >
                  <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
              </div>
          </div>
          <div class="panel panel-L">
            <panelTitle :panelTitleInit="panelTitle.listTitle">
              <div>
                <button class="iconfont">&#xe745;</button>
              </div>
            </panelTitle>
            <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
          </div>
        </div>
        <div class="modal-dialog">
          <Dialog :modalData="modalData">
            <ComForm ref="modalForm" :searchIpt="modalItem" :searchFunc="modalFn" :formRule='modalRule'></ComForm>
          </Dialog>
        </div>
     </div>
   </div>
</template>

<script>
import handleData from '../../api/CHECKIN/checkIn.js'
export default {
  name: 'verification',
  data () {
    return {
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t('ViBorder.IC.AuditVerification'),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.businessVerification')
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.IC.queryUp')
        },
        listTitle: {
          title: this.$t('ViBorder.IC.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.IC.queryUp'),
        resetText: this.$t('ViBorder.IC.reset')
      },
      modalFn: { // 弹窗表单确定方法
        query: this.sure,
        close: this.closeModal,
        queryText: this.$t('ViBorder.common.sure'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      modalRule: { // 弹窗表单验证和存放数据 model=> post到后台的数据
        refName: 'modalQueryForm',
        model: {}
      },
      modalItem: [ // 弹窗  models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.IC.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.IC.endTime'),
          valueFormat: this.$t('ViBorder.common.formatDate')
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.containerNo'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.IC.businessType'),
          type: 'text',
          placeHolder: this.$t('ViBorder.IC.businessType'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleType'),
          type: 'text',
          placeHolder: this.$t('ViBorder.IC.vehicleType'),
          models: ''
        }
      ],
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.IC.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.IC.endTime'),
          valueFormat: this.$t('ViBorder.common.formatDate')
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.IC.pleaseEnter'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.IC.pleaseEnter'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.IC.pleaseEnter'),
          models: ''
        },
        {
          getLabel: this.$t('ViBorder.IC.businessType'),
          models: '',
          placeHolder: this.$t('ViBorder.IC.all'),
          type: 'select2',
          removeTag: this.removeTag,
          option: [
            {
              value: 'all',
              label: this.$t('ViBorder.IC.all')
            },
            {
              value: 'import',
              label: this.$t('ViBorder.DIC.BUSINESSTYPE.IMPORT')
            },
            {
              value: 'export',
              label: this.$t('ViBorder.IC.export')
            },
            {
              value: 'transitToTariffUnion',
              label: this.$t('ViBorder.IC.transitToTariffUnion')
            },
            {
              value: 'transitToNonTariffUnion',
              label: this.$t('ViBorder.IC.transitToNonTariffUnion')
            },
            {
              value: 'transitToDomestic',
              label: this.$t('ViBorder.IC.transitToDomestic')
            },
            {
              value: 'logisticsCenter',
              label: this.$t('ViBorder.IC.logisticsCenter')
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleType'),
          models: '',
          placeHolder: this.$t('ViBorder.IC.all'),
          type: 'select2',
          removeTag: this.removeTag,
          option: [
            {
              value: 'all',
              label: this.$t('ViBorder.IC.all')
            },
            {
              value: 'vehicle',
              label: this.$t('ViBorder.IC.vehicle')
            },
            {
              value: 'unloadedTruck',
              label: this.$t('ViBorder.IC.unloadedTruck')
            },
            {
              value: 'bus',
              label: this.$t('ViBorder.DIC.VEHICLETYPE.BUS')
            },
            {
              value: 'privateCar',
              label: this.$t('ViBorder.IC.privateCar')
            },
            {
              value: 'commodityCar',
              label: this.$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR')
            },
            {
              value: 'officialCar',
              label: this.$t('ViBorder.IC.officialCar')
            }
          ]
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.getEdit,
          label: `<span class='editTable'>${this.$t('ViBorder.common.fix')}</span>`,
          title: this.$t('ViBorder.common.fix'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.IC.from'),
          type: 'text',
          width: '100px',
          model: 'From'
        },
        {
          label: this.$t('ViBorder.IC.to'),
          type: 'text',
          width: '80px',
          model: 'to'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          width: '150px',
          model: 'CheckIn'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          width: '215px',
          model: 'Predeclaration'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNo'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'LPN'
        },
        {
          label: this.$t('ViBorder.IC.businessType'),
          type: 'text',
          model: 'businessType'
        },
        {
          label: this.$t('ViBorder.IC.vehicleType'),
          type: 'text',
          width: '200',
          model: 'vehicleTypes'
        },
        {
          label: this.$t('ViBorder.IC.operation'),
          type: 'operation',
          width: '70px',
          model: 'operation',
          fixed: 'right'
        }
      ],
      modalData: {
        title: this.$t('ViBorder.IC.modifyInformation'),
        flag: false,
        resetModal: this.resetModal
      }
    }
  },
  created () {
    this.getTableData({size: 10, page: 0})
  },
  methods: {
    async getTableData (val) { // 获取表格初始数据 模拟请求回来的数据
      try {
        let res = await handleData._initList(val)
        if (res.data.flag) {
          if (res.data.result.totalElements) {
            this.$data.tableData.isPage = true
          } else {
            this.$data.tableData.isPage = false
          }
          this.$data.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.$data.tableData.data = res.data.result.content
          let {data} = this.$data.tableData
          data.forEach(e => {
            e.operation = this.$data.operation // 表格操作加入表格
          })
        }
      } catch (error) {
      }
    },
    async query () { // 表单查询方法
      let {model} = this.$data.formRule
      let parm = Object.assign({}, model, {size: 10, page: 0})
      this.getTableData(parm)
    },
    closeModal () { // 取消关闭弹窗
      this.$data.modalData.flag = false
    },
    getEdit (selection) { // 操作
      this.$data.modalData.flag = true
      this.$data.modalData.title = this.$t('ViBorder.IC.modifyInformation')
    },
    removeTag () { // 多选移除时触发
    },
    getSortTable () { // 新增排序必须得有
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      const handlesize = Object.assign(this.$data.modalRule.model, {size: val, page: 0})
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      const pagesize = this.$data.tableData.page.pagesize
      const obj = Object.assign(this.$data.modalRule.model, {size: pagesize, page: parseInt(val - 1)})
      this.getTableData(obj)
    },
    showModal () { // 显示弹窗
      this.$data.modalData.flag = true
    },
    resetModal () { // 点×号关闭弹窗并且清空数据
      this.$refs.modalForm.reset()
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.verification {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        .iconfont {
          margin-right: 20px;
          border:none;
          background:none;
          opacity:0.5;
        }
      }
    }
    .modal-dialog {
      .search-form {
        @include layout(3);
      }
    }
  }
}
</style>
