<template>
   <div class='business-bar' v-bar>
     <div class="audit-M">
        <div class="breadCrumb">
          <breadCrumb :breadcrumb="titleBread"/>
        </div>
        <!-- 表格内容 -->
        <div class="infolist">
          <div class="panel panel-Q">
            <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
            <!-- 查询。· -->
              <div class="form-bar" v-bar >
                  <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
              </div>
          </div>
          <div class="panel panel-L">
            <!-- 表格展示右侧按钮组 -->
            <panelTitle :panelTitleInit="panelTitle.listTitle">
            </panelTitle>
            <!-- 表格 -->
            <div class="table-bar" v-bar>
              <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
            </div>
          </div>
        </div>
     </div>
   </div>
</template>

<script>
import handleData from '../../api/IC/businessTiming.js'
export default {
  name: 'businessTiming',
  data () {
    const checkTime = async (rule, value, callback) => {
      let d1 = value[0].substring(0, 10)
      let d2 = value[1].substring(0, 10)
      let tmp = d1.split('-')
      let date1 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      tmp = d2.split('-')
      let date2 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      if ((date2.getTime() - date1.getTime()) > 365 * 24 * 60 * 60 * 1000) {
        callback(new Error(this.$t('ViBorder.IC.oneYearInterval')))
      } else {
        callback()
      }
    }
    return {
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      auditSwitch: true,
      tableLoading: true,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.businessTiming')
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          checkInTime: [
            {validator: checkTime, trigger: 'change'}
          ]
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'checkInTime',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false,
          change: this.timeChange
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'vehicleType',
          clearable: true
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.tableEdit,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom',
          width: '280'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessTypeI18N.key'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'text',
          model: 'vehicleTypeI18N.key'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      sort: {}
    }
  },
  created () {
    this.initPageData()
  },
  mounted () {
    this.originTime = this.inputItem[0].models
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = this.$startStopTime(model.checkInTime)
      let param = Object.assign({}, time, options, value, this.sort)
      return this.$filterNullFields(param)
    },
    // *********************************** 页面逻辑 *****************************************
    timeChange (time) { // 选择查询时间时,时间间隔不能超过一年
    },
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkInTime[0]).getTime(),
          endTime: new Date(model.checkInTime[1]).getTime()
        }
        let initTableParm = {...time, ...{page: 0, size: 10}}
        Promise.all([this.initDropDownList(), this.getTableData(initTableParm)]).then(res => {
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initDropDownList () { // 初始化下拉菜单数据
      let inputItem = this.inputItem
      let getDropDownItem = (result, oKey) => {
        return result[oKey].map(ele => {
          return {
            label: this.$t(ele.i18nKey) || this.$t(ele.key),
            value: ele.dataCode || ele.value
          }
        })
      }
      handleData._initDropDownList().then(res => {
        if (res.data.flag) {
          let {result} = res.data
          inputItem.forEach(item => {
            if (result[item.ruleProp]) {
              switch (item.ruleProp) {
                case 'conlusionType':case 'businessType':case 'vehicleType':
                  item.option = getDropDownItem(result, item.ruleProp)
                  break
              }
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    async getTableData (val) { // 获取表格初始数据 模拟请求回来的数据
      try {
        let res = await handleData._initList(val)
        if (res.data.flag) {
          if (res.data.result.vehicle.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.vehicle.number + 1, 10),
            pagesize: res.data.result.vehicle.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.vehicle.totalElements
          }
          this.formRule.model.size = res.data.result.vehicle.size
          this.formRule.model.CurrentPage = res.data.result.vehicle.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.vehicle.content)
        }
      } catch (error) {
      }
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'businessTypeI18N':case 'vehicleTypeI18N':case 'conclusionType':case 'originPortI18N':case 'destPortI18N':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    query () { // 表单查询方法
      this.pageOptions.currentChageFlag = true
      this.getTableData(this.getQueryParam({page: 0, size: 10}))
    },
    tableEdit (selection) { // 操作
      sessionStorage.setItem('vehicleId', selection.row.id)
      this.$router.push({path: '/ic/businessTimingDetail'})
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          this.sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          this.sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        } else {
          this.sort = {}
        }
        this.getTableData(this.getQueryParam())
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      let handlesize = this.getQueryParam({...{size: val, page: 0}})
      this.formRule.model.page = 0
      this.formRule.model.size = val
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = this.getQueryParam({...{page: parseInt(val - 1), size: pagesize}})
        this.formRule.model.page = parseInt(val - 1)
        this.formRule.model.size = pagesize
        this.getTableData(handlesize)
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.business-bar {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
        .el-switch__core {
          width: 70px !important;
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
         .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
