<template>
  <div class='audit-bar' v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar" v-bar>
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/businessVerification.js'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
export default {
  data () {
    const checkTime = async (rule, value, callback) => {
      let d1 = value[0].substring(0, 10)
      let d2 = value[1].substring(0, 10)
      let tmp = d1.split('-')
      let date1 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      tmp = d2.split('-')
      let date2 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      if ((date2.getTime() - date1.getTime()) > 365 * 24 * 60 * 60 * 1000) {
        callback(new Error(this.$t('ViBorder.IC.oneYearInterval')))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      notifyOffset: window.config.notifyOffset,
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          checkInTime: [
            {validator: checkTime, trigger: 'change'}
          ]
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'checkInTime',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'vehicleType',
          clearable: true
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.tableEdit,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.from'),
          type: 'text',
          model: 'originPortI18N.key',
          width: '125'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'text',
          model: 'destPortI18N.key',
          width: '250'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom',
          width: '255'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '140'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessTypeI18N.key',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'text',
          model: 'vehicleTypeI18N.key',
          width: '200'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      exportParam: {},
      sort: {}
    }
  },
  created () {
    this.initPageData()
  },
  mounted () {
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = this.$startStopTime(model.checkInTime)
      let param = Object.assign({}, time, options, value, this.sort)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            message: this.$t('ViBorder.common.successfuly'),
            position: 'top-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
        this.$notify.error({
          title: this.$t('ViBorder.common.dataError'),
          message: this.$t('ViBorder.common.fail'),
          position: 'top-right',
          offset: this.notifyOffset
        })
      })
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkInTime[0]).getTime(),
          endTime: new Date(model.checkInTime[1]).getTime()
        }
        let initTableParm = {...time, ...{page: 0, size: 10}}
        Promise.all([this.initDropDownList(), this.getTableData(initTableParm)]).then(res => {
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initDropDownList () { // 初始化下拉菜单数据
      let inputItem = this.inputItem
      let getDropDownItem = (result, oKey) => {
        return result[oKey].map(ele => {
          return {
            label: this.$t(ele.i18nKey) || this.$t(ele.key),
            value: ele.dataCode || ele.value
          }
        })
      }
      handleData._initDropDownList().then(res => {
        if (res.data.flag) {
          let {result} = res.data
          inputItem.forEach(item => {
            if (result[item.ruleProp]) {
              switch (item.ruleProp) {
                case 'conlusionType':case 'businessType':case 'vehicleType':
                  item.option = getDropDownItem(result, item.ruleProp)
                  break
              }
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._initList(options).then(res => {
        if (res.data.flag) {
          this.exportParam = options
          if (res.data.result.vehicle.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.vehicle.number + 1, 10),
            pagesize: res.data.result.vehicle.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.vehicle.totalElements
          }
          this.formRule.model.size = res.data.result.vehicle.size
          this.formRule.model.CurrentPage = res.data.result.vehicle.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.vehicle.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'businessTypeI18N':case 'vehicleTypeI18N':case 'conclusionType':case 'originPortI18N':case 'destPortI18N':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    query () { // 表单查询方法
      this.pageOptions.currentChageFlag = true
      this.getTableData(this.getQueryParam({page: 0, size: 10}))
    },
    tableEdit (selection) { // 操作
      sessionStorage.setItem('vehicleId', selection.row.id)
      this.$router.push({path: '/ic/businessVerificationDetail'})
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          this.sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          this.sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        } else {
          this.sort = {}
        }
        this.getTableData(this.getQueryParam())
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      let handlesize = this.getQueryParam({...{size: val, page: 0}})
      this.formRule.model.page = 0
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = this.getQueryParam({...{page: parseInt(val - 1), size: pagesize}})
        this.formRule.model.page = parseInt(val - 1)
        this.getTableData(handlesize)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    endProcess (row) { // 结束进程
      let scb = () => {
        let option = {vehicleIds: row.id}
        return false
      }
      this.confirmModal({
        tips: this.$t('ViBorder.IC.sureEndProcess'),
        scb
      })
    },
    unlockVehicle () { // 解锁任务
      let arr = this.pageOptions.vehicleIdArr
      if (!arr.length) {
        return false
      }
      let scb = () => {
        let option = {vehicleIds: arr.map(e => {
          return e.id
        }).toString()}
        return true
      }
      this.confirmModal({
        tips: this.$t('ViBorder.IC.sureUnlockTask'),
        scb
      })
    },
    getDownloadOptions () {
      let op = this.exportParam
      delete op.checkInTime
      delete op.page
      return {...op, ...initDownloadOptions({ exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4', titleKey: this.$t(this.$route.name), tableGroup: this.tableGroup })}
    },
    exportExcle () {
      if (this.tableData.data.length === 0) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
      } else {
        this.loading = true
        handleData._exportExcel(this.getDownloadOptions()).then(res => {
          this.$createBlobUrl(res.data, res.headers['content-type'], this.$t(this.$route.name))
        }).catch(err => {
          console.log('err', err)
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit-bar {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
         .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
