<template>
  <div class='approaching-vehicle' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <div class="table-wrap" v-bar>
            <div class="table-M">
              <tableForm :searchIpt="inputItem" :searchFunc="hasBtn = false" :formRule='formRule'></tableForm>
              <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
            </div>
          </div>
          <!-- 返回按钮 -->
          <div class="btn-wrap"><el-button @click="goBack">{{$t('ViBorder.common.back')}}</el-button></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/businessTiming.js'
import {formatSeconds} from '../../lib/index.js'
export default {
  data () {
    return {
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.businessTiming'),
            path: '/ic/businessTiming' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          models: '',
          type: 'onlyRead',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          models: '',
          type: 'onlyRead',
          ruleProp: 'containerNumber'
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.IC.inspectStep'),
          type: 'text',
          model: 'inspectStep.key'
        },
        {
          label: this.$t('ViBorder.common.startTime'),
          type: 'text',
          model: 'startTime'
        },
        {
          label: this.$t('ViBorder.common.endTime'),
          type: 'text',
          model: 'endTime'
        },
        {
          label: this.$t('ViBorder.IC.spendTime'),
          type: 'text',
          model: 'spendTime'
        },
        {
          label: this.$t('ViBorder.IC.timeOutValue'),
          type: 'text',
          model: 'inspectTimeThreshold'
        }
      ]
    }
  },
  created () {
    let vehicleId = sessionStorage.getItem('vehicleId')
    this.getTableData({'vehicleId': vehicleId})
  },
  mounted () {
  },
  methods: {
    // *********************************** 页面逻辑 *****************************************
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._businessDetail(options).then(res => {
        if (res.data.flag) {
          this.tableData.page = false
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.businessDetail)
          this.showFormData(res.data.result.vehicleInspected)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    showFormData (element) {
      for (let i in this.inputItem) {
        if (this.inputItem[i].ruleProp) {
          switch (this.inputItem[i].ruleProp) {
            case 'licensePlateNumber':
              this.inputItem[i].models = element.licensePlateNumber
              break
            case 'declarationNumber':
              this.inputItem[i].models = element.declarationNumber
              break
            case 'containerNumber':
              this.inputItem[i].models = element.containerNumber
              break
          }
        }
      }
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          for (const oKey in element) {
            switch (oKey) {
              case 'operationTime':case 'startTime':case 'endTime':
                element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                break
              case 'operationType':case 'conclusionType':case 'inspectStep':
                element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                break
              case 'inspectTimeThreshold':
                if (element.spendTime && Number(element.spendTime) > Number(element.inspectTimeThreshold)) {
                  element[oKey] = Number(element.spendTime) - Number(element.inspectTimeThreshold)
                } else {
                  element[oKey] = null
                }
                break
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    goBack () {
      this.$router.push({path: '/ic/businessTiming'})
    },
    tableEdit (selection) { // 操作
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
    },
    getSortTable (column, prop, order) { // 根据时间排序
      let vehicleId = {vehicleId: sessionStorage.getItem('vehicleId')}
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'inspectStep,ASC'} // 升序排序
          this.getTableData(Object.assign(sort, vehicleId))
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'inspectStep,DESC'} // 默认降序排序
          this.getTableData(Object.assign(sort, vehicleId))
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.approaching-vehicle {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        width: $all !important;
        height: $all !important;
        position: relative;
        .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
        .table-wrap {
          @extend .extend-bar;
          height: calc(100% - 100px) !important;
          .table-M {
            box-sizing: border-box !important;
          }
        }
        .btn-wrap {
          position:absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          .el-button--primary.is-plain {
            color: #fff;
          }
        }
        .tableForm {
          width: 100%;
          .el-form {
            @include flex(row, stretch, center);
            align-items: stretch !important;
            .el-form-item {
              flex: 1;
              .el-form-item__content {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
</style>
