<template>
  <div class='businessAuditDetail' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <div class="table-wrap" v-bar>
            <div class="table-M">
              <tableForm :searchIpt="inputItem" :searchFunc="hasBtn = false" :formRule='formRule'></tableForm>
              <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
            </div>
          </div>
          <!-- 返回按钮 -->
          <div class="btn-wrap"><el-button @click="goBack">{{$t('ViBorder.common.back')}}</el-button></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/businessAudit.js'
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.businessAudit'),
            path: '/ic/businessAudit' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.from'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'originPortI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          models: '',
          type: 'onlyRead',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          models: '',
          type: 'onlyRead',
          ruleProp: 'containerNumber'
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.IC.operationType'),
          type: 'text',
          model: 'operationType.key'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          model: 'conclusionType.key'
        },
        {
          label: this.$t('ViBorder.IC.operationTime'),
          type: 'text',
          model: 'operationTime'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          model: 'operationUserName'
        }
      ]
    }
  },
  created () {
    let history = sessionStorage.getItem('history')
    let vehicleId = sessionStorage.getItem('vehicleId')
    if (history === 'true') {
      this.getTableDataHis({'vehicleId': vehicleId})
    } else {
      this.getTableData({'vehicleId': vehicleId})
    }
  },
  mounted () {
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
      }
      let time = this.$startStopTime(model.checkInTime)
      let param = Object.assign({}, time, options, value)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            message: this.$t('ViBorder.common.successfuly'),
            position: 'top-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // *********************************** 页面逻辑 *****************************************
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._auditDetail(options).then(res => {
        if (res.data.flag) {
          this.tableData.page = false
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.vehicleAudit)
          this.showFormData(res.data.result.vehicleInspected)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableDataHis (options) {
      handleData._auditDetailHistory(options).then(res => {
        if (res.data.flag) {
          this.tableData.page = false
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.vehicleAudit)
          this.showFormData(res.data.result.vehicleInspected)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    showFormData (element) {
      for (let i in this.inputItem) {
        if (this.inputItem[i].ruleProp) {
          switch (this.inputItem[i].ruleProp) {
            case 'originPortI18N':
              this.inputItem[i].models = element.originPortI18N ? this.$t(element.originPortI18N.key) : '' // 国际化
              break
            case 'declarationNumber':
              this.inputItem[i].models = element.declarationNumber
              break
            case 'containerNumber':
              this.inputItem[i].models = element.containerNumber
              break
          }
        }
      }
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'operationTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'operationType':case 'conclusionType':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    goBack () {
      this.$router.push({path: '/ic/businessAudit'})
    },
    tableEdit (selection) { // 操作
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
    },
    getSortTable (column, prop, order) { // 根据时间排序
      let vehicleId = {vehicleId: sessionStorage.getItem('vehicleId')}
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'operationType,ASC'} // 升序排序
          this.getTableData(Object.assign(sort, vehicleId))
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'operationType,DESC'} // 默认降序排序
          this.getTableData(Object.assign(sort, vehicleId))
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.businessAuditDetail {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        width: $all !important;
        height: $all !important;
        position: relative;
        .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
        .table-wrap {
          @extend .extend-bar;
          height: calc(100% - 100px) !important;
          .table-M {
            box-sizing: border-box !important;
          }
        }
        .btn-wrap {
          position:absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          .el-button--primary.is-plain {
            color: #fff;
          }
        }
        .tableForm {
          width: 100%;
          .el-form {
            @include flex(row, stretch, center);
            align-items: stretch !important;
            .el-form-item {
              flex: 1;
              .el-form-item__content {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
</style>
