<template>
  <div class='audit-bar' v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-middle">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <el-button type="primary" size="mini" @click="addFunction">{{this.$t('ViBorder.common.add')}}</el-button>
            <el-button type="danger" size="mini" @click="deleteFunction">{{this.$t('ViBorder.common.delete')}}</el-button>
            <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar" v-bar>
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
      <el-dialog :title="$t('ViBorder.common.add')" :visible.sync="dialogAdd" :close-on-click-modal='false' :close-on-press-escape='false'>
        <ComForm :searchIpt="inputItemAdd" :searchFunc="queryFnAdd" :formRule='formRuleAdd' ref="addForm"></ComForm>
      </el-dialog>
      <el-dialog :title="$t('ViBorder.common.fix')" :visible.sync="dialogModify" :close-on-click-modal='false' :close-on-press-escape='false'>
        <ComForm :searchIpt="inputItemModify" :searchFunc="queryFnModify" :formRule='formRuleModify' ref="modifyForm"></ComForm>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/dataCheckManagement.js'
import {saveFile} from '../../lib/index.js'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
export default {
  data () {
    return {
      loading: false,
      notifyOffset: window.config.notifyOffset,
      dialogAdd: false,
      dialogModify: false,
      unit: 'm',
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.dataCheckManagement')
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.common.pleaseEnter'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.common.pleaseEnter'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.common.pleaseEnter'),
          models: '',
          ruleProp: 'containerNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'vehicleType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.IC.conclusionType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          option: [],
          ruleProp: 'conlusionType',
          clearable: true
        }
      ],
      queryFnAdd: { // 页面表单查询方法
        query: this.formAdd,
        close: this.formClose,
        queryText: this.$t('ViBorder.common.save'),
        resetText: this.$t('ViBorder.common.back')
      },
      formRuleAdd: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          vehicleType: [
            { required: true, message: this.$t('ViBorder.CHECKIN.vehicleTypeWarn'), trigger: 'blur' }
          ],
          measureType: [
            { required: true, message: this.$t('ViBorder.IC.selectMeasureType'), trigger: 'blur' }
          ],
          validateValue: [
            { required: true, message: this.$t('ViBorder.IC.inputValidateValue'), trigger: 'blur' },
            { pattern: /^[0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyNumber') },
            { min: 1, max: 2, message: this.$t('ViBorder.businessLogicCommon.onlyTwoNumbers'), trigger: 'blur' }
          ]
        }
      },
      inputItemAdd: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.IC.measurementType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkMeasurementType'),
          models: 'LENGTH',
          option: [],
          change: this.addChangeMeasureType,
          ruleProp: 'measureType'
        },
        {
          getLabel: this.$t('ViBorder.IC.validationValue'),
          models: '',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputVerificationValue'),
          type: 'text',
          ruleProp: 'validateValue',
          clearable: true
        }
      ],
      queryFnModify: { // 页面表单查询方法
        query: this.formModify,
        close: this.formClose,
        queryText: this.$t('ViBorder.common.save'),
        resetText: this.$t('ViBorder.common.back')
      },
      formRuleModify: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          vehicleType: [
            { required: true, message: this.$t('ViBorder.CHECKIN.vehicleTypeWarn'), trigger: 'blur' }
          ],
          measureType: [
            { required: true, message: this.$t('ViBorder.IC.selectMeasureType'), trigger: 'blur' }
          ],
          validateValue: [
            { required: true, message: this.$t('ViBorder.IC.inputValidateValue'), trigger: 'blur' }
          ]
        }
      },
      inputItemModify: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.IC.measurementType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkMeasurementType'),
          models: '',
          option: [],
          change: this.modifyChangeMeasureType,
          ruleProp: 'measureType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.IC.validationValue'),
          models: '',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputVerificationValue'),
          type: 'text',
          ruleProp: 'validateValue',
          clearable: true
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.tableEdit,
          label: `<span class='editTable'><i class="iconfont">&#xe650;</i></span>`,
          title: this.$t('ViBorder.common.fix'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          type: 'selection'
        },
        {
          label: this.$t('ViBorder.IC.measurementType'),
          type: 'text',
          model: 'measureTypeI18N.key'
        },
        {
          label: this.$t('ViBorder.IC.validationValue'),
          type: 'text',
          model: 'validateValue'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ]
    }
  },
  created () {
    this.initPageData()
  },
  mounted () {
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = this.$startStopTime(model.checkInTime)
      let param = Object.assign({}, time, options, value)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let initTableParm = {...{page: 0, size: 10}}
        Promise.all([this.initDropDownList(), this.getTableData(initTableParm)]).then(res => {
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initDropDownList () { // 初始化下拉菜单数据
      let inputItem = this.inputItem
      let getDropDownItem = (result, oKey) => {
        return result[oKey].map(ele => {
          return {
            label: this.$t(ele.key),
            value: ele.dataCode || ele.value
          }
        })
      }
      handleData._initDropDownList().then(res => {
        if (res.data.flag) {
          let {result} = res.data
          this.inputItemAdd.forEach(item => {
            if (result[item.ruleProp]) {
              switch (item.ruleProp) {
                case 'vehicleType':case 'measureType':
                  item.option = getDropDownItem(result, item.ruleProp)
                  break
              }
            }
          })
          this.inputItemModify.forEach(item => {
            if (result[item.ruleProp]) {
              switch (item.ruleProp) {
                case 'vehicleType':case 'measureType':
                  item.option = getDropDownItem(result, item.ruleProp)
                  break
              }
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._initList(options).then(res => { // 请求接口
        if (res.data.flag) {
          if (res.data.result.measureList.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.measureList.number + 1, 10),
            pagesize: res.data.result.measureList.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.measureList.totalElements
          }
          this.formRule.model.size = res.data.result.measureList.size
          this.formRule.model.CurrentPage = res.data.result.measureList.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.measureList.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'measureTypeI18N':case 'vehicleTypeI18N':case 'conclusionType':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            }
            if (oKey === 'validateValue') {
              if (element.measureType === 'HEIGHT' || element.measureType === 'WIDTH' || element.measureType === 'LENGTH') {
                element[oKey] = element[oKey] + '(m)'
              }
              if (element.measureType === 'AXLEWEIGHT') {
                element[oKey] = element[oKey] + '(t)'
              }
              if (element.measureType === 'TOTALWEIGHT') {
                element[oKey] = element[oKey] + '(t)'
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    query () { // 表单查询方法
      this.pageOptions.currentChageFlag = true
      this.getTableData(this.getQueryParam({page: 0, size: 10}))
    },
    getSortTable (column, prop, order) { // 根据时间排序
      let vehicleId = {vehicleId: sessionStorage.getItem('vehicleId')}
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
          this.getTableData(Object.assign(sort, vehicleId))
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
          this.getTableData(Object.assign(sort, vehicleId))
        }
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      let handlesize = this.getQueryParam({...{size: val, page: 0}})
      this.formRule.model.page = 0
      this.formRule.model.size = val
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = this.getQueryParam({...{page: parseInt(val - 1), size: pagesize}})
        this.formRule.model.page = parseInt(val - 1)
        this.formRule.model.size = pagesize
        this.getTableData(handlesize)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    tableEdit (scope) { // 点击修改图标
      this.formRuleModify.model.id = scope.row.id
      handleData._initOnly({id: scope.row.id}).then(res => {
        if (res.data.flag) {
          let result = res.data.result.validation
          this.inputItemModify.forEach(ele => {
            switch (ele.ruleProp) {
              case 'vehicleType':
                ele.models = result[ele.ruleProp]
                break
              case 'measureType':
                ele.models = result[ele.ruleProp]
                this.modifyChangeMeasureType(ele.models)
                break
              case 'validateValue':
                ele.models = result[ele.ruleProp]
                break
            }
          })
          let val = this.inputItemModify[0].models
          if (val === 'WIDTH' || val === 'HEIGHT' || val === 'LENGTH') {
            this.inputItemModify[1].getLabel = this.$t('ViBorder.IC.validationValue') + '(m)'
          } else if (val === 'TOTALWEIGHT' || val === 'AXLEWEIGHT') {
            this.inputItemModify[1].getLabel = this.$t('ViBorder.IC.validationValue') + '(t)'
          }
        }
      })
      this.dialogModify = true
    },
    addFunction () {
      this.dialogAdd = true
      this.inputItemAdd[1].getLabel = this.$t('ViBorder.IC.validationValue')
      setTimeout(() => {
        this.$refs.addForm.reset()
      })
    },
    deleteFunction () {
      let arr = this.pageOptions.vehicleIdArr
      if (!arr.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.IC.chooseOneData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let scb = () => {
        let option
        let idsStr = ''
        if (arr.length > 1) {
          arr.forEach(ele => {
            idsStr = idsStr + ele.id + ','
          })
        } else {
          idsStr = arr[0].id
        }
        handleData._initDelete({ids: idsStr}).then(res => {
          if (res.data.flag) {
            this.getTableData(this.formRule.model)
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.common.deleteSuccess'),
              type: 'success',
              offset: this.notifyOffset
            })
          }
          return res.data.flag
        }).catch((err) => {
          console.log('err', err)
          return false
        })
      }
      this.confirmModal({tips: this.$t('ViBorder.IC.sureDelete'), scb})
    },
    formAdd () {
      this.formRuleAdd.model.vehicleType = 'TRUCK'
      handleData._initAdd(this.formRuleAdd.model).then(res => {
        if (res.data.flag) {
          this.$refs.addForm.reset()
          this.dialogAdd = false
          this.getTableData(this.formRule.model)
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.addSuccess'),
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log(err)
      })
    },
    formModify () {
      this.formRuleModify.model.vehicleType = 'TRUCK'
      handleData._initModify(this.formRuleModify.model).then(res => {
        if (res.data.flag) {
          this.$refs.modifyForm.reset()
          this.dialogModify = false
          this.getTableData(this.formRule.model)
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.editSuccess'),
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log(err)
      })
    },
    formClose () {
      this.dialogAdd = false
      this.dialogModify = false
    },
    addChangeMeasureType (val) { // 添加表单的测量类型改变
      this.inputItemAdd.forEach(ele => {
        if (ele.ruleProp === 'validateValue') {
          if (val === 'WIDTH' || val === 'HEIGHT' || val === 'LENGTH') {
            this.formRuleAdd.rule.validateValue = [ // 长宽高校验
              { required: true, message: this.$t('ViBorder.IC.inputValidateValue'), trigger: 'blur' },
              { pattern: /^((([1-9]|[1-9][0-9])[.][0-9]{1,2})|([1-9]|[1-9][0-9])|0[.]([1-9]|0[1-9]|[1-9][0-9]))$/, message: this.$t('ViBorder.TC.meterError') }
            ]
            this.inputItemAdd[1].getLabel = this.$t('ViBorder.IC.validationValue') + '(m)'
          } else if (val === 'TOTALWEIGHT' || val === 'AXLEWEIGHT') {
            this.formRuleAdd.rule.validateValue = [ // 总重量,轴重校验
              { required: true, message: this.$t('ViBorder.IC.inputValidateValue'), trigger: 'blur' },
              { pattern: /^((([1-9]|[1-9][0-9])[.][0-9]{1,3})|([1-9]|[1-9][0-9])|0[.]([1-9][0-9]{0,2}|0[0-9]{0,1}[1-9]|0[1-9][0-9]))$/, message: this.$t('ViBorder.TC.tonError') }
            ]
            this.inputItemAdd[1].getLabel = this.$t('ViBorder.IC.validationValue') + '(t)'
          }
        }
      })
    },
    modifyChangeMeasureType (val) {
      this.inputItemModify.forEach(ele => {
        if (ele.ruleProp === 'validateValue') {
          if (val === 'WIDTH' || val === 'HEIGHT' || val === 'LENGTH') {
            this.formRuleModify.rule.validateValue = [ // 长宽高校验
              { required: true, message: this.$t('ViBorder.IC.inputValidateValue'), trigger: 'blur' },
              { pattern: /^((([1-9]|[1-9][0-9])[.][0-9]{1,2})|([1-9]|[1-9][0-9])|0[.]([1-9]|0[1-9]|[1-9][0-9]))$/, message: this.$t('ViBorder.TC.meterError') }
            ]
            this.inputItemModify[1].getLabel = this.$t('ViBorder.IC.validationValue') + '(m)'
          } else if (val === 'TOTALWEIGHT' || val === 'AXLEWEIGHT') {
            this.formRuleModify.rule.validateValue = [ // 总重量,轴重校验
              { required: true, message: this.$t('ViBorder.IC.inputValidateValue'), trigger: 'blur' },
              { pattern: /^((([1-9]|[1-9][0-9])[.][0-9]{1,3})|([1-9]|[1-9][0-9])|0[.]([1-9][0-9]{0,2}|0[0-9]{0,1}[1-9]|0[1-9][0-9]))$/, message: this.$t('ViBorder.TC.tonError') }
            ]
            this.inputItemModify[1].getLabel = this.$t('ViBorder.IC.validationValue') + '(t)'
          }
        }
      })
    },
    exportExcle () {
      if (!this.tableData.data.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let op = JSON.parse(JSON.stringify(this.tableGroup))
      op.forEach(e => {
        if (e.model === 'measureTypeI18N.key') {
          e.model = 'measureType'
        }
        e.width = '180'
      })
      let obj = this.getQueryParam(this.formRule.model)
      this.loading = true
      handleData._measureValidationExoprt({...obj, ...initDownloadOptions({ exportType: 'XLSX', pageType: 'A4', titleKey: this.$t(this.$route.name), size: window.config.exportSizeMount, tableGroup: op })}).then(res => {
        this.$createBlobUrl(res.data, res.headers['content-type'], this.$t(this.$route.name))
      }).catch(err => {
        console.log('err', err)
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit-bar {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    @media screen and (min-width: 1640px) {
      .panel-middle {
        width: 100% !important;
      }
    }
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-middle {
        @extend .extend-panel-L;
         .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .el-dialog {
      .el-dialog__body {
        padding: 30px 20px;
      }
      .el-form {
        .el-form-item {
          width: $all;
          .search-form-label {
            text-align: left;
          }
          .el-form-item__error {
            text-align: left;
          }
        }
        .search-form-btn {
          width: 100%;
          @include flex(row, flex-end, center);
        }
      }
    }
    .el-dialog__header {
      text-align: left;
    }
  }
}
</style>
