<template>
  <div class='welcome'>
      <p>{{title}}</p>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      title: this.$t('ViBorder.systemModule.IC.headTitle')
    }
  },
  created () {
    localStorage.setItem('home', true)
  }
}
</script>

<style lang="scss">
@import'../../styles/index.scss';
  .welcome{
    width: $all;
    height: $all;
    background: $welcomeImg no-repeat;
    background-size: cover;
    @include flex();
    p{
      font-size: $welcomeTitle;
      color: $blueDark;
      font-weight: bold;
      text-align: center;
    }

  }
</style>
