<template>
  <div class='audit-business-in' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="content-wrap">
          <div class="panel panel-left" id="pdf1">
            <!-- 表格展示右侧按钮组 -->
            <panelTitle :panelTitleInit="panelTitle.listTitle1">
              <i class="iconfont" @click="exportOne" :title="$t('ViBorder.common.export', {msg: 'pdf'})">&#xe632;</i>
            </panelTitle>
            <!-- 表格 -->
            <div class="progress" style="width: 100%;">
              <div class="progress-item" v-for="(item, index) in progress1" :key="index">
                <label>{{item.label}}<span class="itemTime">{{item.compare}}</span></label>
                <el-progress :text-inside="item.textInside" :stroke-width="20" :percentage="item.models" :show-text="false"></el-progress>
              </div>
            </div>
          </div>
          <div class="panel panel-right" id="pdf2">
            <!-- 表格展示右侧按钮组 -->
            <panelTitle :panelTitleInit="panelTitle.listTitle2">
              <i class="iconfont" @click="exportTwo" :title="$t('ViBorder.common.export', {msg: 'pdf'})">&#xe632;</i>
            </panelTitle>
            <!-- 表格 -->
            <div class="progress" style="width: 100%;">
              <div class="progress-item" v-for="(item, index) in progress2" :key="index">
                <label v-if="item.ruleProp === 'total'">{{item.label}}： {{item.compare}}<span class="itemTime"></span></label>
                <label v-else>{{item.label}}：{{item.compare}}</label>
                <el-progress v-if="item.ruleProp === 'total'" :text-inside="item.textInside" :stroke-width="20" :percentage="item.models" :show-text="false"></el-progress>
                <el-progress v-else :text-inside="item.textInside" :stroke-width="20" :percentage="item.models"></el-progress>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/business.js'
import {formatSeconds} from '../../lib/index.js'
import {export2Pdf} from '../../lib/pdf/export2Pdf.js'
export default {
  data () {
    const checkTime = async (rule, value, callback) => {
      let d1 = value[0].substring(0, 10)
      let d2 = value[1].substring(0, 10)
      let tmp = d1.split('-')
      let date1 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      tmp = d2.split('-')
      let date2 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      if ((date2.getTime() - date1.getTime()) > 365 * 24 * 60 * 60 * 1000) {
        callback(new Error(this.$t('ViBorder.IC.oneYearInterval')))
      } else {
        callback()
      }
    }
    return {
      notifyOffset: window.config.notifyOffset,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle1: {
          title: this.$t('ViBorder.IC.importBusinessHouse')
        },
        listTitle2: {
          title: this.$t('ViBorder.IC.importBusinessAnaly')
        }
      },
      progress2: [
        { // 进境总量统计
          label: this.$t('ViBorder.IC.importTotalStatistics'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'total'
        },
        { // measureRatio divisor/dividend进境测量任务占比
          label: this.$t('ViBorder.IC.importBusinessType'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'measureRatio'
        },
        { // suspicionRatio divisor/dividend进境测量嫌疑占比
          label: this.$t('ViBorder.IC.importSuspicionRatio'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'suspicionRatio'
        },
        { // piRatio divisor/dividend进境人工查验任务占比
          label: this.$t('ViBorder.IC.importPiTask'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'piRatio'
        },
        { // seizedRatio divisor/dividend进境查获占比
          label: this.$t('ViBorder.IC.importSeizedRatio'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'seizedRatio'
        },
        { // seizedSucessRatio divisor/dividend进境查获准确率
          label: this.$t('ViBorder.IC.importSeizedSucessRatio'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'seizedSucessRatio'
        },
        { // transferRatio divisor/dividend进境转关占比
          label: this.$t('ViBorder.IC.importTransferRatio'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'transferRatio'
        }
      ],
      progress1: [
        { // 进境平均时长
          label: this.$t('ViBorder.IC.importAvgTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'avgTime'
        },
        { // 进境边检注册平均时长
          label: this.$t('ViBorder.IC.importFrontierEntryTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'frontierEntryTime'
        },
        { // 进境海关注册平均时长
          label: this.$t('ViBorder.IC.importEntryTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'entryTime'
        },
        { // 进境测量平均时长
          label: this.$t('ViBorder.IC.importMeasureTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'measureTime'
        },
        { // 进境比对平均时长
          label: this.$t('ViBorder.IC.importCompareTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'compareTime'
        },
        { // 进境人工查验平均时长
          label: this.$t('ViBorder.IC.importPiTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'piTime'
        },
        { // 进境海关放行平均时长
          label: this.$t('ViBorder.IC.importExitTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'exitTime'
        },
        { // 进境边检放行平均时长
          label: this.$t('ViBorder.IC.importFrontierExitTime'),
          textInside: true,
          models: 0,
          compare: '',
          ruleProp: 'frontierimportTime'
        }
      ],
      startTime: 0,
      endTime: 0,
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          checkInTime: [
            {validator: checkTime, trigger: 'change'}
          ]
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'checkInTime',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        }
      ]
    }
  },
  created () {
    sessionStorage.setItem('history', this.listHistory)
  },
  mounted () {
    this.initPageData()
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = this.$startStopTime(model.checkInTime)
      let param = Object.assign({}, time, options, value)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.successfuly'),
            position: 'top-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
        this.$notify.error({
          title: this.$t('ViBorder.common.dataError'),
          message: this.$t('ViBorder.common.fail'),
          position: 'top-right',
          offset: this.notifyOffset
        })
      })
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkInTime[0]).getTime(),
          endTime: new Date(model.checkInTime[1]).getTime()
        }
        this.getTableData(time)
      }, 10)
    },
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      let param = Object.assign(options, {direction: 'IMPORT'})
      handleData._initList(param).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          this.progress2.forEach(item => {
            if (result[item.ruleProp] || result[item.ruleProp] === 0) {
              if (item.ruleProp === 'total') {
                item.models = 0
                item.compare = result[item.ruleProp]
              } else if (item.ruleProp === 'transferRatio') {
                if (result.transferRatio.dividend === 0) {
                  item.models = 0
                } else {
                  item.models = Number(((result.transferRatio.divisor / result.transferRatio.dividend) * 100).toFixed(2))
                }
                item.compare = result.transferRatio.divisor + '/' + result.transferRatio.dividend
              } else if (item.ruleProp === 'seizedSucessRatio') {
                if (result.seizedSucessRatio.dividend === 0) {
                  item.models = 0
                } else {
                  item.models = Number(((result.seizedSucessRatio.divisor / result.seizedSucessRatio.dividend) * 100).toFixed(2))
                }
                item.compare = result.seizedSucessRatio.divisor + '/' + result.seizedSucessRatio.dividend
              } else if (item.ruleProp === 'seizedRatio') {
                if (result.seizedRatio.dividend === 0) {
                  item.models = 0
                } else {
                  item.models = Number(((result.seizedRatio.divisor / result.seizedRatio.dividend) * 100).toFixed(2))
                }
                item.compare = result.seizedRatio.divisor + '/' + result.seizedRatio.dividend
              } else if (item.ruleProp === 'suspicionRatio') {
                if (result.suspicionRatio.dividend === 0) {
                  item.models = 0
                } else {
                  item.models = Number(((result.suspicionRatio.divisor / result.suspicionRatio.dividend) * 100).toFixed(2))
                }
                item.compare = result.suspicionRatio.divisor + '/' + result.suspicionRatio.dividend
              } else if (item.ruleProp === 'measureRatio') {
                if (result.measureRatio.dividend === 0) {
                  item.models = 0
                } else {
                  item.models = Number(((result.measureRatio.divisor / result.measureRatio.dividend) * 100).toFixed(2))
                }
                item.compare = result.measureRatio.divisor + '/' + result.measureRatio.dividend
              } else if (item.ruleProp === 'piRatio') {
                if (result.piRatio.dividend === 0) {
                  item.models = 0
                } else {
                  item.models = Number(((result.piRatio.divisor / result.piRatio.dividend) * 100).toFixed(2))
                }
                item.compare = result.piRatio.divisor + '/' + result.piRatio.dividend
              }
            }
          })
          let arr = []
          for (let oKey in result) {
            if (!isNaN(result[oKey]) && oKey !== 'inspectedPortNumber' && oKey !== 'total' && result[oKey]) {
              arr.push(result[oKey])
            }
          }
          let maxTime = null
          if (arr.length > 0) {
            arr.every(function (item, index, Array) {
              return Number(item)
            })
            maxTime = arr[0]
          }
          for (let i in arr) {
            if (maxTime < arr[i]) {
              maxTime = arr[i]
            }
          }
          if (Number(maxTime) !== 0) {
            this.progress1.forEach(item => {
              if (result[item.ruleProp]) {
                if (item.ruleProp === 'total') {
                  item.models = result[item.ruleProp] / maxTime * 100
                  item.compare = result[item.ruleProp]
                } else {
                  item.models = result[item.ruleProp] / maxTime * 100
                  item.compare = formatSeconds(result[item.ruleProp])
                }
              } else {
                item.models = 0
                item.compare = formatSeconds(0)
              }
            })
          } else {
            this.progress1.forEach(item => {
              item.models = 0
              item.compare = this.$t('ViBorder.businessLogicCommon.minutes', {msg: 0})
            })
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    query () { // 表单查询方法
      this.getTableData(this.getQueryParam())
    },
    exportOne () {
      export2Pdf({title: this.$t('ViBorder.IC.importBusinessHouse'), el: document.querySelector('#pdf1')})
    },
    exportTwo () {
      export2Pdf({title: this.$t('ViBorder.IC.importBusinessAnaly'), el: document.querySelector('#pdf2')})
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit-business-in {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      display: block;
      .panel {
        @extend .extend-panel;
        width: $all !important;
        .search-form {
          @include layout(2);
        }
        .el-switch__core {
          width: 70px !important;
        }
        @media screen and (min-width: 1640px) {
          .search-form-item {
            margin-right: $importantZero;
            width: 30% !important;
          }
          .search-form-btn {
            @include flex(row, flex-end, center);
          }
        }
      }
      .content-wrap {
        .panel {
          margin: 10px;
        }
        .panel-left {
          margin-left: 0;
        }
        .panel-right {
          margin-right: 0;
        }
        @include flex(row, space-between, top);
        .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
        .progress {
          @include flex(column, flex-start, center);
          box-sizing: border-box;
          padding: 10px;
          label {
            display: block;
            width: 100%;
            text-align: left;
            position: relative;
            .itemTime {
              position: absolute;
              right: 0;
              z-index: 1;
              text-align: center;
            }
          }
          .progress-item {
            width: $all;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
</style>
