<template>
   <div class='demo-bar'>
     <div class="demo-M" :class="{'showBreadCrumb': fullscreen === true}" ref="infoList">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
        <div class="info-list" @dblclick="handleFullScreen">
          <div class="left">
            <div class="data-wrap" style="margin-top: -1px;">
              <div class="data-content">
                <div class="title"><span class="icon"></span>{{$t('ViBorder.IC.yearInOut')}}</div>
                <div class="data">
                  <div id="yearEnterOut" style="width: 100%; height: 100%;"></div>
                </div>
              </div>
            </div>
            <div class="data-wrap">
             <div class="data-content">
               <div class="title"><span class="icon"></span>{{$t('ViBorder.IC.yearBusinessAnaly')}}</div>
               <div class="data">
                 <div id="yearEnterAnaly" style="width: 100%; height: 100%;"></div>
               </div>
             </div>
            </div>
            <div class="data-wrap">
             <div class="data-content">
               <div class="title"><span class="icon"></span>{{$t('ViBorder.IC.deviceWarn')}}</div>
               <div class="scollor-wrap" v-bar>
                 <ul class="data equipment-warning">
                  <li v-for="(item, index) in deviceAlarms" :key="index">
                   <span :title="item.deviceTitle">{{item.device.keyShort}}</span>
                   <span :title="item.siteTitle">{{item.site.keyShort}}</span>
                   <span v-if="item.status && item.status.key">{{item.status.key}}</span>
                   <span v-else></span>
                   <span>{{item.collectDateTime}}</span>
                  </li>
                </ul>
               </div>
             </div>
            </div>
            <div class="data-wrap" style="margin-bottom: -1px;">
             <div class="data-content">
               <div class="title"><span class="icon"></span>{{$t('ViBorder.IC.vehicleTimeoutWarn')}}</div>
               <div class="scollor-wrap" v-bar>
                 <ul class="data timeout-warning">
                 <li v-for="(item, index) in vehicleAlarms" :key="index">
                   <span>{{item.direction}}</span>
                   <span>{{item.plate}}</span>
                   <span>{{item.spendTime}}</span>
                 </li>
                </ul>
               </div>
             </div>
            </div>
          </div>
          <div class="mid">
            <div class="mid-content">
              <div class="title">
                <div class="title_1">
                  <div class="title-time">
                    {{nowTime}}
                  </div>
                  <div class="title_2">
                    {{$t('ViBorder.common.kolzhat')}}
                  </div>
                </div>
              </div>
              <div class="mid-map">
                <div id="map"></div>
                <div id="popup">{{siteFlow.siteName}}: {{siteFlow.count}}{{$t('ViBorder.IC.number')}}</div>
              </div>
              <ul class="right-top">
                <li class="huoChe" :title="$t('ViBorder.businessLogicCommon.truck')">
                  <p class="number">{{vehicleTypeCountImport.TRUCK}}</p>
                </li>
                <li class="kongChe" :title="$t('ViBorder.DIC.VEHICLETYPE.EMPTYTRUCK')">
                  <p class="number">{{vehicleTypeCountImport.EMPTYTRUCK}}</p>
                </li>
                <li class="guojiBashi" :title="$t('ViBorder.DIC.VEHICLETYPE.BUS')">
                  <p class="number">{{vehicleTypeCountImport.BUS}}</p>
                </li>
                <li class="shangpinChe" :title="$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR')">
                  <p class="number">{{vehicleTypeCountImport.COMMODITYCAR}}</p>
                </li>
              </ul>
              <ul class="right-bottom">
                <li class="huoChe" :title="$t('ViBorder.businessLogicCommon.truck')">
                  <p class="number">{{vehicleTypeCountExport.TRUCK}}</p>
                </li>
                <li class="kongChe" :title="$t('ViBorder.DIC.VEHICLETYPE.EMPTYTRUCK')">
                  <p class="number">{{vehicleTypeCountExport.EMPTYTRUCK}}</p>
                </li>
                <li class="guojiBashi" :title="$t('ViBorder.DIC.VEHICLETYPE.BUS')">
                  <p class="number">{{vehicleTypeCountExport.BUS}}</p>
                </li>
                <li class="shangpinChe" :title="$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR')">
                  <p class="number">{{vehicleTypeCountExport.COMMODITYCAR}}</p>
                </li>
              </ul>
              <ul class="left-bottom">
                <li class="top-title">{{$t('ViBorder.IC.regionalTraffic')}}</li>
                <li>
                  <span class="height pic"></span>
                  <span>{{$t('ViBorder.IC.height')}}</span>
                </li>
                <li>
                  <span class="middle pic"></span>
                  <span>{{$t('ViBorder.IC.mid')}}</span>
                </li>
                <li>
                  <span class="low pic"></span>
                  <span>{{$t('ViBorder.IC.low')}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="right">
            <div class="yearTotal">
              <div class="data-wrap">
                <div class="data-content" :title="$t('ViBorder.IC.yearIn')">
                  <div class="icon"><i class="iconfont">&#xe64e;</i></div>
                  <div class="calculating">
                    <p class="number">{{total.yearInTotal}}</p>
                  </div>
                </div>
              </div>
              <div class="data-wrap">
                <div class="data-content" :title="$t('ViBorder.IC.yearOut')">
                  <div class="icon"><i class="iconfont">&#xe64f;</i></div>
                  <div class="calculating">
                    <p class="number">{{total.yearOutTotal}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="data-wrap">
              <div class="data-content">
                <div class="title"><span class="icon"></span>{{$t('ViBorder.IC.dayIn')}}</div>
                <div class="right-data">
                  <div class="top bold">
                    <div>
                      <i class="iconfont">&#xe60f;</i>
                      {{total.dayInCar}}
                    </div>
                    <div>
                      <i class="iconfont">&#xe62c;</i>
                      {{total.dayInTransfer}}
                    </div>
                  </div>
                  <div class="mid">
                    <ul>
                      <li :title="$t('ViBorder.IC.measurement')"><span><i class="iconfont">&#xe637;</i></span><span class="type">:</span><span class="number bold">{{total.importInspectAmount.measureTotal}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.noSuspicion')"><span><i class="iconfont">&#xe647;</i></span><span class="type">:</span><span class="number bold">{{total.importInspectAmount.measurePass}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.suspicion')"><span><i class="iconfont">&#xe65b;</i></span><span class="type">:</span><span class="number bold">{{total.importInspectAmount.measureSuspicion}}</span></li>
                      <li :title="$t('ViBorder.IC.manualInspection')"><span><i class="iconfont">&#xe652;</i></span><span class="type">:</span><span class="number bold">{{total.importInspectAmount.piTotal}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.noSuspicion')"><span><i class="iconfont">&#xe647;</i></span><span class="type">:</span><span class="number bold">{{total.importInspectAmount.piPass}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.seized')"><span><i class="iconfont">&#xe662;</i></span><span class="type">:</span><span class="number bold">{{total.importInspectAmount.piSuspicion}}</span></li>
                    </ul>
                  </div>
                  <div class="bottom">
                    <div class="intime-wrap">
                      <span class="intime">{{$t('ViBorder.IC.averagTimeIn')}}:<span class="time bold" :class="{red: dayTotal.in.isAllRed}">{{dayTotal.in.allAvgTime}}</span></span>
                    </div>
                    <ul class="intime-detail">
                      <li v-for="(item, index) in dayTotal.in.AvgTime" :key="index">
                        <p>{{item.type}}:<span class="number bold">{{item.normal}}/{{item.total}}</span></p>
                        <p :title="$t('ViBorder.IC.averagTime')"><i class="iconfont">&#xe790;</i><span class="number bold" :class="{red: item.isRed}">{{item.avgTime}}</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="data-wrap" style="margin-bottom: -1px;">
              <div class="data-content">
                <div class="title"><span class="icon"></span>{{$t('ViBorder.IC.dayOut')}}</div>
                <div class="right-data">
                  <div class="top bold">
                    <div>
                      <i class="iconfont">&#xe60f;</i>
                      {{total.dayOutCar}}
                    </div>
                    <div>
                      <i class="iconfont">&#xe60c;</i>
                      {{total.dayOutTransfer}}
                    </div>
                  </div>
                  <div class="mid">
                    <ul>
                      <li :title="$t('ViBorder.IC.measurement')"><span><i class="iconfont">&#xe637;</i></span><span class="type">:</span><span class="number bold">{{total.exportInspectAmount.measureTotal}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.noSuspicion')"><span><i class="iconfont">&#xe647;</i></span><span class="type">:</span><span class="number bold">{{total.exportInspectAmount.measurePass}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.suspicion')"><span><i class="iconfont">&#xe65b;</i></span><span class="type">:</span><span class="number bold">{{total.exportInspectAmount.measureSuspicion}}</span></li>
                      <li :title="$t('ViBorder.IC.manualInspection')"><span><i class="iconfont">&#xe652;</i></span><span class="type">:</span><span class="number bold">{{total.exportInspectAmount.piTotal}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.noSuspicion')"><span><i class="iconfont">&#xe647;</i></span><span class="type">:</span><span class="number bold">{{total.exportInspectAmount.piPass}}</span></li>
                      <li :title="$t('ViBorder.businessLogicCommon.seized')"><span><i class="iconfont">&#xe662;</i></span><span class="type">:</span><span class="number bold">{{total.exportInspectAmount.piSuspicion}}</span></li>
                    </ul>
                  </div>
                  <div class="bottom">
                    <div class="intime-wrap">
                      <span class="intime">{{$t('ViBorder.IC.averagTimeOut')}}:<span class="time bold" :class="{red: dayTotal.out.isAllRed}">{{dayTotal.out.allAvgTime}}</span></span>
                    </div>
                    <ul class="intime-detail">
                      <li v-for="(item, index) in dayTotal.out.AvgTime" :key="index">
                        <p>{{item.type}}:<span class="number bold">{{item.normal}}/{{item.total}}</span></p>
                        <p :title="$t('ViBorder.IC.averagTime')"><i class="iconfont">&#xe790;</i><span class="number bold" :class="{red: item.isRed}">{{item.avgTime}}</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
</template>

<script>
import handleData from '../../api/ic/index'
import {formatSeconds} from '../../lib/index.js'
import Map from 'ol/Map'
import View from 'ol/View'
import Overlay from 'ol/Overlay'
import {Image, Vector as VectorLayer} from 'ol/layer'
import {ImageStatic, Vector as VectorSource} from 'ol/source'
import Projection from 'ol/proj/Projection'
import {Style, Stroke, Fill, Text} from 'ol/style'
import Polygon from 'ol/geom/Polygon'
import Feature from 'ol/Feature'
import Interaction from 'ol/interaction'
import { setTimeout, setInterval } from 'timers'
import { parse } from 'semver'
let myEchart1, myEchart2
let _timeInterval = null
/* eslint-disable */
let g_siteMap = {}, g_siteFlowMap = {}, g_siteCapacityMap = {}
let colorLow = 'rgba(49,115,27,0.4)', colorMedium = 'rgba(220,182,31,0.4)', colorHigh = 'rgba(164,60,64,0.4)'
/* eslint-disable */
let areaLayer, iconLayer
export default {
  data () {
    return {
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      language: this.$t('ViBorder.common.formatDate'),
      rightData: [], // 屏幕右边所有数据
      total: {
        yearInTotal: 0,
        yearOutTotal: 0,
        dayInCar: 0,
        dayInTransfer: 0,
        dayOutCar: 0,
        dayOutTransfer: 0,
        importInspectAmount: {
          measurePass: 0,
          measureSuspicion: 0,
          measureTotal: 0,
          piPass: 0,
          piSuspicion: 0,
          piTotal: 0
        },
        exportInspectAmount: {
          measurePass: 0,
          measureSuspicion: 0,
          measureTotal: 0,
          piPass: 0,
          piSuspicion: 0,
          piTotal: 0
        }
      },
      nowTime: '', // 点子时间表
      deviceAlarms: [], // 设备预警
      vehicleAlarms: [], // 超时车辆预警
      dayTotal: { // 今日进境和出境的总平均用时和每一项平均用时
        in: {
          allAvgTime: '',
          isAllRed: false,
          AvgTime: []
        },
        out: {
          allAvgTime: '',
          isAllRed: false,
          AvgTime: []
        }
      },
      siteFlow: { // 流量统计弹出框
        siteName: '',
        count: 0
      },
      vehicleTypeCountImport: { // 口岸进境不同车辆数
        TRUCK: 0,
        EMPTYTRUCK: 0,
        BUS: 0,
        COMMODITYCAR: 0,
      },
      vehicleTypeCountExport: { // 口岸出境不同车辆数
        TRUCK: 0,
        EMPTYTRUCK: 0,
        BUS: 0,
        COMMODITYCAR: 0,
      },
      fullscreen: false // 是否全屏
    }
  },
  created () {
    localStorage.setItem('home', false)
    if ( _timeInterval ) {
      clearInterval(_timeInterval);
    }
    this.initBarChart()
    this.initPieChart()
    this.initStatist()
    this.initDevice()
    this.initVehicle()
    this.startTime()
  },
  mounted () {
    this.addMap()
    this.refresh()
  },
  methods: {
    refresh () {
      let _this = this
      _timeInterval = setInterval(() => {
        _this.initBarChart()
        _this.initPieChart()
        _this.initStatist()
        _this.initDevice()
        _this.initVehicle()
        _this.loadSitesFlow()
      }, window.config.refreshTime)
    },
    addMap () {
      let self = this
      var areaMap = null
      //参数配置
      var opts = {
        mapId: 'map',
        popupId: 'popup',
        mapurl: './static/Kolzhat.png',
        extent: [0,0,22,10],
        zoomlevel: 3.2,
        center:[11, 5]
      }
      //图层初始化
      //init draw layer
      var drawSource = new VectorSource({wrapX: false})
      var drawLayer = new VectorLayer({
        source: drawSource
      })
      //init popup layer
      var container = document.getElementById(opts.popupId);
      var overlay = new Overlay(
      ({
        element: container,
        positioning: 'bottom-right',
        stopEvent: false,
        offset: [0,-24]
      }))
      //init icon layer
      iconLayer = new VectorLayer({
        source: new VectorSource({
        })
      })
      //init area layer
      areaLayer = new VectorLayer({
        source: new VectorSource({
        })
      })
      //init map
      var extent = opts.extent;
      var projection = new Projection({
        code: 'xkcd-image',
        units: 'meters',
        extent: extent
      })
      areaMap =new Map({
        target: opts.mapId,
        layers: [new Image({
          source: new ImageStatic({
            url: opts.mapurl,
            projection: projection,
            imageExtent: extent
          })
        }), areaLayer,iconLayer, drawLayer],
        view: new View({
          extent: extent,
          projection: projection,
          center: opts.center,
          zoom: opts.zoomlevel,
          minZoom: opts.zoomlevel-1,
          maxZoom: opts.zoomlevel+2,
          zoomFactor: 1.5
        }),
        overlays: [overlay]
      })
      //禁用鼠标操作
      areaMap.getInteractions().forEach(function(element, index, array) {
        element.setActive(false);
      })
      //single click event
      areaMap.on('click', function(evt) {
        var pixel = areaMap.getEventPixel(evt.originalEvent)
        var cord = areaMap.getCoordinateFromPixel(pixel)
      })
      //mouse move event
      areaMap.on('pointermove', function(evt) {
        if (evt.dragging) {
          return
        }
        var pixel = areaMap.getEventPixel(evt.originalEvent)
        var hit = areaMap.hasFeatureAtPixel(pixel)
        areaMap.getTargetElement().style.cursor = hit ? 'pointer' : ''
        if(hit){
          featureOnHover(pixel)
        } else {
          if (highlightArea) {
            removeHighlight()
          }
        }
      })
      function getPopPosFromCoordinates(coordinates) {
        var posx = 0
        var posy = 999
        for(var i = 0; i<coordinates.length; i++) {
          var pos = coordinates[i]
          if(pos[0] > posx) {
            posx = pos[0]
          }
          if(pos[1]<posy) {
            posy = pos[1]
          }
        }
        return [posx, posy]
      }
      //save current highlight area
      var highlightArea
      /**
       * hover event
       */
      function featureOnHover(pixel){
        var _feature = areaMap.forEachFeatureAtPixel(pixel, function(_feature){
          return _feature
        })
        if(_feature){
          var property = _feature.getProperties()
          //highlight the area if mouse is on it
          if (property.type == "area") {
            //移除原popup
            removeHighlight()
            if (_feature) {
              //设置popup的值
              self.siteFlow.siteName = self.$t('ViBorder.DIC.' + property.data.siteName)
              self.siteFlow.count = g_siteFlowMap[property.data.siteCode] ? g_siteFlowMap[property.data.siteCode]:0
              //显示popup
              var coordinates = _feature.getGeometry().getCoordinates()
              var pos = getPopPosFromCoordinates(coordinates[0])
              overlay.setPosition(pos)
            }
            highlightArea = _feature
          } else {
            removeHighlight()
          }
        }
      }
      /**
       * remove highlight
       */
      function removeHighlight(){
        overlay.setPosition(undefined)
        highlightArea = null
      }
      /**
       * Method for adding Area
       */
      var addArea = function(data){
        var area = new Polygon(eval(data.borderData))
        var feature = new Feature({
          geometry: area
        })
        //pass in properties
        var property = {
          "data": data,
          "type": "area"
        };
        feature.setProperties(property)
        //set area style
        var areaStyle = new Style({
          stroke: new Stroke({
            color: 'rgba(49,115,27,0)',
            width: 0
          }),
          fill: new Fill({
            color: colorLow
          })
        })
        feature.setStyle(areaStyle)
        areaLayer.getSource().addFeature(feature)
        return feature
      }
      // 初始化区域数据
      handleData._initSites().then(res => {
        let result = res.data.result
        let data = result && result.siteConfigs;
        for(let k in data) {
          let item = data[k]
          let areaData = {
            borderData: item.siteLocation,
            siteCode: item.siteCode,
            siteName: item.siteCode,//需要国际化
            siteCapacity: item.siteCapacity
          }
          let areaFeature = addArea(areaData)
          g_siteMap[item.siteCode] = areaFeature
          g_siteCapacityMap[item.siteCode] = item.siteCapacity
        }
        self.loadSitesFlow()
      }).catch(err => {
        console.log('err', err)
      })
    },
    loadSitesFlow () {
      let data
      let self = this
      handleData._initSitesFlow(data).then(res => {
        this.vehicleTypeCountImport = { // 重置口岸进境不同车辆数
          TRUCK: 0,
          EMPTYTRUCK: 0,
          BUS: 0,
          COMMODITYCAR: 0
        },
        this.vehicleTypeCountExport = { // 重置口岸出境不同车辆数
          TRUCK: 0,
          EMPTYTRUCK: 0,
          BUS: 0,
          COMMODITYCAR: 0
        }
        let result = res.data.result
        let siteCount = result && result.siteCount
        let incar = result && result.vehicleTypeCountImport
        let outcar = result && result.vehicleTypeCountExport
        for (let i in incar) {
          switch (incar[i].sType) {
            case 'BUS':
              this.vehicleTypeCountImport.BUS = incar[i].sCount
              break
            case 'EMPTYTRUCK':
              this.vehicleTypeCountImport.EMPTYTRUCK = incar[i].sCount
              break
            case 'OVERLIMITTRUCK':
              this.vehicleTypeCountImport.TRUCK = Number(incar[i].sCount) + Number(this.vehicleTypeCountImport.TRUCK)
              break
            case 'TRUCK':
              this.vehicleTypeCountImport.TRUCK = Number(incar[i].sCount) + Number(this.vehicleTypeCountImport.TRUCK)
              break
            case 'COMMODITYCAR':
              this.vehicleTypeCountImport.COMMODITYCAR = incar[i].sCount
              break
          }
        }
        for (let i in outcar) {
          switch (outcar[i].sType) {
            case 'BUS':
              this.vehicleTypeCountExport.BUS = outcar[i].sCount
              break
            case 'EMPTYTRUCK':
              this.vehicleTypeCountExport.EMPTYTRUCK = outcar[i].sCount
              break
            case 'OVERLIMITTRUCK':
              this.vehicleTypeCountExport.TRUCK = Number(outcar[i].sCount) + Number(this.vehicleTypeCountExport.TRUCK)
              break
            case 'TRUCK':
              this.vehicleTypeCountExport.TRUCK = Number(outcar[i].sCount) + Number(this.vehicleTypeCountExport.TRUCK)
              break
            case 'COMMODITYCAR':
              this.vehicleTypeCountExport.COMMODITYCAR = outcar[i].sCount
              break
          }
        }
        for(let k in siteCount) {
          let item = siteCount[k]
          let count = item.sCount
          g_siteFlowMap[item.site] = item.sCount
          let capacity = g_siteCapacityMap[item.site]
          let color = colorMedium
          //根据容量计算颜色等级
          if(count >= capacity*0.7)
            color = colorHigh
          if(count < capacity*0.3)
            color = colorLow
          let _feature = g_siteMap[item.site]
          if(_feature)
            self.setAreaColor(_feature, color)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    setAreaColor (_feature, color) {
      var newStyle = new Style({
        stroke: new Stroke({
          color: 'rgba(49,115,27,0)',
          width: 0
        }),
        fill: new Fill({
          color: color
        })
      })
      _feature.setStyle(newStyle)
    },
    /* eslint-enable */
    startTime () { // 这是时间电子表
      let self = this
      let t = new Date().getTime()
      this.nowTime = this.$formatDateTime(t, self.language)
      t = setTimeout(self.startTime, 1000)
    },
    initBarChart (data) {
      handleData._initBarChart(data).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          this.yearEnterOut(result)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initPieChart (data) {
      handleData._initPieChart(data).then(res => {
        if (res.data.flag) {
          let result = res.data.result.importData
          this.yearEnterAnaly(result)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initStatist (data) {
      handleData._initStatist(data).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          this.total.yearOutTotal = res.data.result.exportInspectAmount.yTotal
          this.total.yearInTotal = res.data.result.importInspectAmount.yTotal
          this.total.dayInCar = res.data.result.importInspectAmount.dTotal
          this.total.dayInTransfer = res.data.result.importInspectAmount.logistics
          this.total.dayOutCar = res.data.result.exportInspectAmount.dTotal
          this.total.dayOutTransfer = res.data.result.exportInspectAmount.logistics
          for (let oKey in this.total) {
            if (oKey === 'exportInspectAmount' || oKey === 'importInspectAmount') {
              this.total[oKey].measurePass = res.data.result[oKey].measurePass
              this.total[oKey].measureSuspicion = res.data.result[oKey].measureSuspicion
              this.total[oKey].measureTotal = res.data.result[oKey].measureTotal
              this.total[oKey].piPass = res.data.result[oKey].piPass
              this.total[oKey].piSuspicion = res.data.result[oKey].piSuspicion
              this.total[oKey].piTotal = res.data.result[oKey].piTotal
            }
          }
          // 这里是今日进境出境平均用时部分赋值
          this.dayTotal.in.AvgTime = [{}, {}, {}, {}]
          this.dayTotal.out.AvgTime = [{}, {}, {}, {}]
          result.channelStatus.normal.forEach(ele => { // 给进境或者出境的分子赋值
            switch (ele.site) {
              case 'ICIA': // 进境入口
                this.dayTotal.in.AvgTime[0].normal = ele.sCount
                break
              case 'ISCA': // 进境检查,出境检查
                this.dayTotal.in.AvgTime[1].normal = ele.sCount
                break
              case 'ICWA': // 进境人工检查
                this.dayTotal.in.AvgTime[2].normal = ele.sCount
                break
              case 'ICOA': // 进境出口
                this.dayTotal.in.AvgTime[3].normal = ele.sCount
                break
              case 'OCIA': // 出境入口
                this.dayTotal.out.AvgTime[0].normal = ele.sCount
                break
              case 'OSCA': // 出境检查,出境检查
                this.dayTotal.out.AvgTime[1].normal = ele.sCount
                break
              case 'OCWA': // 出境人工检查
                this.dayTotal.out.AvgTime[2].normal = ele.sCount
                break
              case 'OCOA': // 出境出口
                this.dayTotal.out.AvgTime[3].normal = ele.sCount
                break
            }
          })
          result.channelStatus.total.forEach(ele => { // 给进境或者出境的分母赋值
            switch (ele.site) {
              case 'ICIA': // 进境入口
                this.dayTotal.in.AvgTime[0].total = ele.sCount
                break
              case 'OSCA': // 进境检查
                this.dayTotal.out.AvgTime[1].total = ele.sCount
                break
              case 'ICWA': // 进境人工检查
                this.dayTotal.in.AvgTime[2].total = ele.sCount
                break
              case 'ICOA': // 进境出口
                this.dayTotal.in.AvgTime[3].total = ele.sCount
                break
              case 'OCIA': // 出境入口
                this.dayTotal.out.AvgTime[0].total = ele.sCount
                break
              case 'ISCA': // 出境检查
                this.dayTotal.in.AvgTime[1].total = ele.sCount
                break
              case 'OCWA': // 出境人工检查
                this.dayTotal.out.AvgTime[2].total = ele.sCount
                break
              case 'OCOA': // 出境出口
                this.dayTotal.out.AvgTime[3].total = ele.sCount
                break
            }
          })
          for (let oKey in result.exportAvgTime) { // 给出境的总平均时间和每一项平均时间赋值
            if (oKey === 'allTime') {
              this.dayTotal.out.allAvgTime = result.exportAvgTime[oKey]
              if (this.dayTotal.out.allAvgTime > result.avgTimeThreshold.allTime) {
                this.dayTotal.out.isAllRed = true
              }
            }
            if (oKey === 'entryTime') {
              this.dayTotal.out.AvgTime[0].avgTime = result.exportAvgTime[oKey]
              this.dayTotal.out.AvgTime[0].type = this.$t('ViBorder.IC.exitAndEntrance')
              this.dayTotal.out.AvgTime[0].isRed = false
              if (result.exportAvgTime[oKey] > result.avgTimeThreshold.entryTime) {
                this.dayTotal.out.AvgTime[0].isRed = true
              }
            }
            if (oKey === 'measureTime') {
              this.dayTotal.out.AvgTime[1].avgTime = result.exportAvgTime[oKey]
              this.dayTotal.out.AvgTime[1].type = this.$t('ViBorder.IC.exitCheck')
              this.dayTotal.out.AvgTime[1].isRed = false
              if (result.exportAvgTime[oKey] > result.avgTimeThreshold.piTime) {
                this.dayTotal.out.AvgTime[1].isRed = true
              }
            }
            if (oKey === 'piTime') {
              this.dayTotal.out.AvgTime[2].avgTime = result.exportAvgTime[oKey]
              this.dayTotal.out.AvgTime[2].type = this.$t('ViBorder.IC.exitManualInspection')
              this.dayTotal.out.AvgTime[2].isRed = false
              if (result.exportAvgTime[oKey] > result.avgTimeThreshold.piTime) {
                this.dayTotal.out.AvgTime[2].isRed = true
              }
            }
            if (oKey === 'exitTime') {
              this.dayTotal.out.AvgTime[3].avgTime = result.exportAvgTime[oKey]
              this.dayTotal.out.AvgTime[3].type = this.$t('ViBorder.IC.countryExports')
              this.dayTotal.out.AvgTime[3].isRed = false
              if (result.exportAvgTime[oKey] > result.avgTimeThreshold.exitTime) {
                this.dayTotal.out.AvgTime[3].isRed = true
              }
            }
          }
          for (let oKey in result.importAvgTime) { // 给入境的总平均时间和每一项平均时间赋值
            if (oKey === 'allTime') {
              this.dayTotal.in.allAvgTime = result.importAvgTime[oKey]
              if (this.dayTotal.in.allAvgTime > result.avgTimeThreshold.allTime) {
                this.dayTotal.in.isAllRed = true
              }
            }
            if (oKey === 'entryTime') {
              this.dayTotal.in.AvgTime[0].avgTime = result.importAvgTime[oKey]
              this.dayTotal.in.AvgTime[0].type = this.$t('ViBorder.IC.entryEntrance')
              this.dayTotal.in.AvgTime[0].isRed = false
              if (result.importAvgTime[oKey] > result.avgTimeThreshold.entryTime) {
                this.dayTotal.in.AvgTime[0].isRed = true
              }
            }
            if (oKey === 'measureTime') {
              this.dayTotal.in.AvgTime[1].avgTime = result.importAvgTime[oKey]
              this.dayTotal.in.AvgTime[1].type = this.$t('ViBorder.IC.entryCheck')
              this.dayTotal.in.AvgTime[1].isRed = false
              if (result.importAvgTime[oKey] > result.avgTimeThreshold.measureTime) {
                this.dayTotal.in.AvgTime[1].isRed = true
              }
            }
            if (oKey === 'piTime') {
              this.dayTotal.in.AvgTime[2].avgTime = result.importAvgTime[oKey]
              this.dayTotal.in.AvgTime[2].type = this.$t('ViBorder.IC.manualEntryCheck')
              this.dayTotal.in.AvgTime[2].isRed = false
              if (result.importAvgTime[oKey] > result.avgTimeThreshold.piTime) {
                this.dayTotal.in.AvgTime[2].isRed = true
              }
            }
            if (oKey === 'exitTime') {
              this.dayTotal.in.AvgTime[3].avgTime = result.importAvgTime[oKey]
              this.dayTotal.in.AvgTime[3].type = this.$t('ViBorder.IC.entryAndExit')
              this.dayTotal.in.AvgTime[3].isRed = false
              if (result.importAvgTime[oKey] > result.avgTimeThreshold.exitTime) {
                this.dayTotal.in.AvgTime[3].isRed = true
              }
            }
          }
          if (this.dayTotal.in.allAvgTime === null) { // 这里给进境和出境平均用时赋值
            this.dayTotal.in.allAvgTime = null
          } else {
            let time
            if (this.dayTotal.in.allAvgTime === 0) {
              time = 0
            } else {
              time = (this.dayTotal.in.allAvgTime / 60).toFixed(1)
            }
            this.dayTotal.in.allAvgTime = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
          }
          if (this.dayTotal.out.allAvgTime === null) {
            this.dayTotal.out.allAvgTime = null
          } else {
            let time
            if (this.dayTotal.out.allAvgTime === 0) {
              time = 0
            } else {
              time = (this.dayTotal.out.allAvgTime / 60).toFixed(1)
            }
            this.dayTotal.out.allAvgTime = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
          }
          this.dayTotal.in.AvgTime.forEach(ele => { // 这里是给进境中每一项的平均用时赋值 和 数量赋值0
            if (!ele.normal) {
              ele.normal = 0
            }
            if (!ele.total) {
              ele.total = 0
            }
            if (ele.avgTime === null) {
              ele.avgTime = null
            } else {
              let time
              if (ele.avgTime === 0) {
                time = 0
              } else {
                time = (ele.avgTime / 60).toFixed(1)
              }
              ele.avgTime = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
            }
          })
          this.dayTotal.out.AvgTime.forEach(ele => { // 这里是给出境中每一项的平均用时赋值 和 数量赋值0
            if (!ele.normal) {
              ele.normal = 0
            }
            if (!ele.total) {
              ele.total = 0
            }
            if (ele.avgTime === null) {
              ele.avgTime = null
            } else {
              let time
              if (ele.avgTime === 0) {
                time = 0
              } else {
                time = (ele.avgTime / 60).toFixed(1)
              }
              ele.avgTime = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initDevice (data) {
      handleData._initDevice(data).then(res => {
        if (res.data.flag) {
          res.data.result.deviceAlarms.forEach(element => {
            if (element.collectDateTime) {
              element.collectDateTime = this.$formatDateTime(element.collectDateTime, this.$t('ViBorder.common.formatDate'))
            }
            if (element.device && element.device.key) {
              element.device.keyShort = this.$t((element.device.keyShort))
              element.deviceTitle = this.$t((element.device.key))
            }
            if (element.site && element.site.key) {
              element.site.keyShort = this.$t((element.site.keyShort))
              element.siteTitle = this.$t((element.site.key))
            }
            if (element.status && element.status.key) {
              element.status.key = this.$t((element.status.key))
            }
          })
          this.deviceAlarms = res.data.result.deviceAlarms
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initVehicle (data) {
      handleData._initVehicle(data).then(res => {
        if (res.data.flag) {
          res.data.result.vehicleAlarms.forEach(element => {
            if (element.direction) {
              if (element.direction === 'IMPORT') {
                element.direction = this.$t('ViBorder.businessLogicCommon.in')
              }
              if (element.direction === 'EXPORT') {
                element.direction = this.$t('ViBorder.businessLogicCommon.out')
              }
            }
            if (element.spendTime) {
              let time = (element.spendTime / 3600).toFixed(1)
              element.spendTime = this.$t('ViBorder.businessLogicCommon.hours', {msg: time})
            }
          })
          this.vehicleAlarms = res.data.result.vehicleAlarms
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    handleFullScreen () { // 全屏按钮
      let element = this.$refs.infoList
      let self = this
      if (this.fullscreen) {
        if (document.exitFullscreen) {
          document.exitFullscreen()
        } else if (document.webkitCancelFullScreen) {
          document.webkitCancelFullScreen()
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen()
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen()
        }
      } else {
        if (element.requestFullscreen) {
          element.requestFullscreen()
        } else if (element.webkitRequestFullScreen) {
          element.webkitRequestFullScreen()
        } else if (element.mozRequestFullScreen) {
          element.mozRequestFullScreen()
        } else if (element.msRequestFullscreen) {
          element.msRequestFullscreen() // IE11
        }
      }
      this.fullscreen = !this.fullscreen
    },
    yearEnterOut (result) { // 年度进出境量
      let exportData = result.exportData
      let importData = result.importData
      let data = new Date().getMonth() + 1 // 当前月份
      let arr = []
      let arr1 = []
      let arr2 = []
      let dataArr = []
      let verticalAxisArr = []
      for (let i = 1; i <= 12; i++) { // 这是当年一月份到当年目前月份的数组
        if (i <= data) {
          arr1.push(i)
        } else {
          arr2.push(i)
        }
      }
      arr = arr2.concat(arr1)
      for (let i in arr) {
        switch (arr[i]) {
          case 1:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.January')
            verticalAxisArr[i] = arr[i]
            break
          case 2:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.February')
            verticalAxisArr[i] = arr[i]
            break
          case 3:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.March')
            verticalAxisArr[i] = arr[i]
            break
          case 4:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.April')
            verticalAxisArr[i] = arr[i]
            break
          case 5:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.May')
            verticalAxisArr[i] = arr[i]
            break
          case 6:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.June')
            verticalAxisArr[i] = arr[i]
            break
          case 7:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.July')
            verticalAxisArr[i] = arr[i]
            break
          case 8:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.August')
            verticalAxisArr[i] = arr[i]
            break
          case 9:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.September')
            verticalAxisArr[i] = arr[i]
            break
          case 10:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.October')
            verticalAxisArr[i] = arr[i]
            break
          case 11:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.November')
            verticalAxisArr[i] = arr[i]
            break
          case 12:
            dataArr.push({
              sCount: 0,
              sMonth: arr[i]
            })
            arr[i] = this.$t('ViBorder.IC.December')
            verticalAxisArr[i] = arr[i]
            break
        }
      }
      let enteryArr = JSON.parse(JSON.stringify(dataArr))
      let levelArr = JSON.parse(JSON.stringify(dataArr))
      exportData.forEach(ele => {
        levelArr.forEach(element => {
          if (ele.sMonth === element.sMonth) {
            element.sCount = ele.sCount
          }
        })
      })
      importData.forEach(ele => {
        enteryArr.forEach(element => {
          if (ele.sMonth === element.sMonth) {
            element.sCount = ele.sCount
          }
        })
      })
      let imArr = []
      let expArr = []
      let allArr = []
      levelArr.forEach(ele => {
        expArr.push(ele.sCount)
        allArr.push(ele.sCount)
      })
      enteryArr.forEach(ele => {
        imArr.push(ele.sCount)
        allArr.push(ele.sCount)
      })
      myEchart1 = this.$echarts.init(document.getElementById('yearEnterOut'))
      let max = Math.max.apply(null, allArr)
      let newgrid
      if (max >= 100000) {
        newgrid = {
          x: 65,
          y: 20,
          x2: 10,
          y2: 45,
          borderWidth: 1
        }
      } else {
        newgrid = {
          x: 45,
          y: 20,
          x2: 10,
          y2: 45,
          borderWidth: 1
        }
      }
      let option = {
        textStyle: {
          fontWeight: 'normal', // 标题颜色
          color: '#fff'
        },
        legend: {
          data: [this.$t('ViBorder.businessLogicCommon.out'), this.$t('ViBorder.businessLogicCommon.in')],
          textStyle: {
            color: '#fff'
          },
          show: false
        },
        grid: newgrid,
        calculable: true,
        xAxis: {
          type: 'category',
          data: verticalAxisArr,
          axisLabel: {
            interval: 0,
            rotate: 25
          }
        },
        yAxis: [
          {
            type: 'value'
          }
        ],
        series: [
          {
            name: this.$t('ViBorder.businessLogicCommon.in'),
            type: 'bar',
            data: imArr,
            itemStyle: {
              normal: {
                color: '#515bf1'
              }
            }
          },
          {
            name: this.$t('ViBorder.businessLogicCommon.out'),
            type: 'bar',
            data: expArr,
            itemStyle: {
              normal: {
                color: '#01f8f6'
              }
            }
          }
        ],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        }
      }
      myEchart1.setOption(option)
    },
    yearEnterAnaly (result) { // 年度进境业务分析
      let arr = []
      let dataArr = []
      result.forEach(ele => {
        switch (ele.sType) {
          case 'IMPORT':
            arr.push(this.$t('ViBorder.DIC.BUSINESSTYPE.IMPORT'))
            dataArr.push({
              value: ele.sCount,
              name: this.$t('ViBorder.DIC.BUSINESSTYPE.IMPORT'),
              sType: 'IMPORT'
            })
            break
          case 'TOLOGISTICSCENTER':
            arr.push(this.$t('ViBorder.DIC.BUSINESSTYPE.TOLOGISTICSCENTER'))
            dataArr.push({
              value: ele.sCount,
              name: this.$t('ViBorder.DIC.BUSINESSTYPE.TOLOGISTICSCENTER'),
              sType: 'TOLOGISTICSCENTER'
            })
            break
          case 'TRANSITDOMESTIC':
            arr.push(this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITDOMESTIC'))
            dataArr.push({
              value: ele.sCount,
              name: this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITDOMESTIC'),
              sType: 'TRANSITDOMESTIC'
            })
            break
          case 'TRANSITNONTARIFFUNION':
            arr.push(this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITNONTARIFFUNION'))
            dataArr.push({
              value: ele.sCount,
              name: this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITNONTARIFFUNION'),
              sType: 'TRANSITNONTARIFFUNION'
            })
            break
          case 'TRANSITTARIFFUNION':
            arr.push(this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITTARIFFUNION'))
            dataArr.push({
              value: ele.sCount,
              name: this.$t('ViBorder.DIC.BUSINESSTYPE.TRANSITTARIFFUNION'),
              sType: 'TRANSITTARIFFUNION'
            })
            break
        }
      })
      myEchart2 = this.$echarts.init(document.getElementById('yearEnterAnaly'))
      let option = {
        legend: {
          align: 'left',
          orient: 'vertical',
          x: 'right',
          y: 'center',
          data: arr,
          textStyle: {
            color: '#fff'
          },
          show: false
        },
        color: ['#7177f8', '#2d3ec1', '#007ad6', '#00a6d3', '#00f9f5'],
        calculable: true,
        series: [
          {
            name: '',
            label: {
              normal: {
                formatter: '{c} | {d}%'
              }
            },
            type: 'pie',
            center: ['50%', '50%'],
            radius: ['40%', '70%'],
            data: dataArr
          }
        ],
        tooltip: {
          trigger: 'item',
          formatter: function (params) {
            return `<div style="text-align: center;"><p>${params.name}</p><p>${params.data.value} | ${params.percent}%</p></div>`
          },
          position: function (pos, params, dom, rect, size) {
            // 鼠标在左侧时 tooltip 显示到右侧，鼠标在右侧时 tooltip 显示到左侧
            var obj = {top: 30}
            obj[[ 'left', 'right' ][ +(pos[0] < size.viewSize[0] / 2) ]] = 20
            return obj
          }
        }
      }
      myEchart2.setOption(option)
    }
  },
  beforeDestroy () {
    clearInterval(_timeInterval._id)
  },
  watch: {
    fullscreen: function (oldVal, newVal) {
      let self = this
      setTimeout(function () {
        myEchart1.resize()
        myEchart2.resize()
      }, 100)
      setTimeout(function () {
        myEchart1.resize()
      }, 100)
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.demo-bar {
  height: $all;
  .demo-M {
    height: $all;
    padding: $margin;
    box-sizing: border-box !important;
    background: $indexBg no-repeat center;
    background-size: $all $all;
    .el-breadcrumb__inner {
      color: #fff !important;
    }
    .info-list {
      height: calc(100% - 36px);
      @include box-sizing;
      @include flex();
      &>div {
        height: $all;
      }
      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        .data {
          font-size: 12px;
        }
        .data-wrap {
          height: 24% !important;
          .data-content {
            overflow: hidden;
          }
          .scollor-wrap {
            height: calc(100% - 30px) !important;
            li {
              height: 35px;
              margin-bottom: 10px;
              span {
                height: 30px;
              }
            }
          }
        }
      }
      &>.mid {
        flex: 2;
        border: 1px #1782d4 solid;
        background: url('../../assets/img/common/jiankong.png') no-repeat center;
        .mid-content {
          width: $all;
          height: $all;
          background: rgba(0, 0, 0, 0.6);
          position: relative;
          .title {
            height: 55px;
            .title_1 {
              height: $all;
              background: $indexTitle1 no-repeat center;
              position: relative;
              .title-time {
                position: absolute;
                bottom: 0;
                right: 30px;
                font-size: 17px;
                color: #00b4ff;
                font-weight: bold;
              }
              .title_2 {
                height: $all;
                text-align: center;
                line-height: 55px;
                font-size: 25px;
                color: #00b4ff;
                font-weight: bold;
                background: $indexTitle2 no-repeat center;
              }
            }
          }
          .mid-map {
            width: $all;
            height: calc(100% - 55px);
            @include flex(row, center, center);
            #map {
              width: $all;
              height: auto;
              .ol-overlaycontainer-stopevent{
                display:none;
              }
            }
            #popup {
              padding: 3px;
              border: 1px solid #303133;
              background-color: #fff;
              position: relative;
              z-index: 999;
              font-size: 12px;
              border-radius: 4px;
            }
          }
          .right-top {
            position: absolute;
            top: 75px;
            right: 20px;
            color: #fff;
            font-weight: bold;
            li {
              width: 150px;
              height: 65px;
              padding-left: 65px;
              box-sizing: border-box;
              @include flex(column, center, center);
              p {
                flex: 1;
                @include flex(row, center, center);
                &.number {
                  color: #58cffa;
                  font-size: 20px;
                  font-weight: normal;
                }
              }
            }
            .huoChe {
              background: url('../../assets/img/common/huoChe_in.png') no-repeat left center;
              background-size: auto 65%;
            }
            .kongChe {
              background: url('../../assets/img/common/kongChe_in.png') no-repeat left center;
              background-size: auto 65%;
            }
            .guojiBashi {
              background: url('../../assets/img/common/guojiBashi_in.png') no-repeat left center;
              background-size: auto 65%;
            }
            .shangpinChe {
              background: url('../../assets/img/common/shangpinChe_in.png') no-repeat left center;
              background-size: auto 65%;
            }
          }
          .right-bottom {
            position: absolute;
            bottom: 20px;
            right: 20px;
            color: #fff;
            font-weight: bold;
            li {
              width: 150px;
              height: 65px;
              padding-left: 65px;
              box-sizing: border-box;
              @include flex(column, center, center);
              p {
                flex: 1;
                @include flex(row, center, center);
                &.number {
                  color: #58cffa;
                  font-size: 20px;
                  font-weight: normal;
                }
              }
            }
            .huoChe {
              background: url('../../assets/img/common/huoChe_out.png') no-repeat left center;
              background-size: auto 65%;
            }
            .kongChe {
              background: url('../../assets/img/common/kongChe_out.png') no-repeat left center;
              background-size: auto 65%;
            }
            .guojiBashi {
              background: url('../../assets/img/common/guojiBashi_out.png') no-repeat left center;
              background-size: auto 65%;
            }
            .shangpinChe {
              background: url('../../assets/img/common/shangpinChe_out.png') no-repeat left center;
              background-size: auto 65%;
            }
          }
          .left-bottom {
            position: absolute;
            left: 20px;
            bottom: 20px;
            color: #fff;
            font-weight: bold;
            border: 1px #01f9fa solid;
            li {
              width: 110px;
              height: 30px;
              @include flex(row, flex-start, center);
              span{
                height: $all;
                @include flex(row, center, center);
              }
              .pic {
                width: 30px;
              }
              .height {
                background: url('../../assets/img/common/height.png') no-repeat center;
              }
              .middle {
                background: url('../../assets/img/common/mid.png') no-repeat center;
              }
              .low {
                background: url('../../assets/img/common/low.png') no-repeat center;
              }
            }
            .top-title {
              border-bottom: 1px #01f9fa solid;
              justify-content: center;
            }
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .yearTotal {
          height: 14% !important;
          display: flex;
          .data-wrap {
            height: 100% !important;
            margin-top: -1px;
          }
        }
        .data-wrap {
          height: 42% !important;
          .data-content {
            overflow: hidden;
          }
          .scollor-wrap {
            height: calc(100% - 30px) !important;
            li {
              margin-bottom: 10px;
            }
          }
        }
      }
      // 左右公共样式
      .data-wrap {
        @include box-sizing;
        margin: 5px;
        padding: 1px;
        flex: 4;
        background: $contentBorder no-repeat center;
        background-size: $all $all;
        .data-content {
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          border: 1px #1782d4 solid;
          background-color: $black;
          // 这是left样式
          .title {
            height: 30px;
            text-align: left;
            line-height: 30px;
            color: #fff;
            background-color: #000;
            background-image: -moz-linear-gradient(right, #195796, #000);
            background-image: -o-linear-gradient(right, #195796, #000);
            background-image: -webkit-linear-gradient(right, #195796, #000);
            background-image: -ms-linear-gradient(right, #195796, #000);
            background-image: linear-gradient(to right, #195796, #000);
            span {
              float: left;
              width: 30px;
              height: 30px;
              background: $point no-repeat center;
            }
          }
          .data {
            width: $all;
            height: calc(100% - 30px);
            box-sizing: border-box;
            @include flex(column, center, center);
            padding: 5px;
            li {
              flex: 1;
              width: $all;
              @include flex(row, center, center);
              span {
                padding: 7px 5px;
                margin: 0 2px;
                color: #fff;
                background-color: #1a1b1d;
                @include flex(row, center, center);
              }
            }
          }
          .data li:nth-child(4n) span:nth-child(1) {
            background-color: #19a9fb;
          }
          .data li:nth-child(4n + 1) span:nth-child(1) {
            background-color: #007ad6;
          }
          .data li:nth-child(4n + 2) span:nth-child(1) {
            background-color: #00f8f6;
          }
          .data li:nth-child(4n + 3) span:nth-child(1) {
            background-color: #6f77f6;
          }
          .equipment-warning {
            li span:nth-child(1) {
              width: 25%;
            }
            li span:nth-child(2) {
              width: 25%;
            }
            li span:nth-child(3) {
              width: 25%;
            }
            li span:nth-child(4) {
              width: 25%;
            }
            li span {
              padding: 5px 0;
            }
          }
          .timeout-warning {
            li {
              height: 25px;
            }
            li span:nth-child(1) {
              height:17px;
              flex: 2;
            }
            li span:nth-child(2) {
              height:17px;
              flex: 4;
            }
            li span:nth-child(3) {
              height:17px;
              flex: 2;
            }
          }
          // 这是右边样式
          .icon {
            float: left;
            width: 35%;
            height: 100%;
            color: #27abe2;
            @include flex(row, center, center);
            .iconfont {
              font-size: 50px;
            }
          }
          .calculating {
            float: right;
            width: 65%;
            height: $all;
            display: flex;
            flex-direction: column;
            .number {
              flex: 1;
              font-size: 35px;
              @include flex(row, center, center);
              color: #fff;
            }
          }
          .right-data {
            width: $all;
            height: calc(100% - 30px);
            box-sizing: border-box;
            @include flex(column, center, center);
            padding: 10px 15px;
            &>div {
              width: 100%;
            }
            .bold {
              font-weight: bold;
            }
            .top {
              flex: 1;
              @include flex(row, center, center);
              div {
                height: $all;
                border: 1px #024b4c dashed;
                background-color: #041019;
                @include flex(row, space-around, center);
                font-size: 30px;
                color: #fff;
                .iconfont {
                  color: #00b4ff;
                  font-size: 30px;
                }
              }
              &>div:nth-child(1) {
                margin-right: 5px;
                flex: 1;
              }
              &>div:nth-child(2) {
                margin-left: 5px;
                flex: 1;
              }
            }
            .mid {
              flex: 1;
              color: #76a1cc;
              padding: 15px 0;
              box-sizing: border-box;
              border-bottom: 1px #024b4c solid;
              ul {
                width: $all;
                height: $all;
                @include flex(row, center, center);
                flex-wrap: wrap;
                li {
                  width: 33%;
                  text-align: left;
                  span {
                    padding: 0 3px;
                  }
                }
              }
              .number {
                color: #01b1d5;
              }
            }
            .bottom {
              flex: 3;
              text-align: left;
              color: #76a1cc;
              @include flex(column, space-around, center);
              .number {
                padding: 0 3px;
              }
              .intime-wrap {
                width: $all;
                flex: 3;
                @include flex(row, space-between, center);
                .intime {
                  float: left;
                  padding: 5px 15px;
                  // margin: 15px 5px;
                  background: $roundSquare no-repeat center;
                  background-size: $all $all;
                  .time {
                    color: #01b1d5;
                  }
                  .red {
                    color: red;
                  }
                }
              }
              .intime-detail {
                flex: 7;
                width: $all;
                overflow: hidden;
                @include flex(column, space-around, center);
                li {
                  width: $all;
                  padding: 5px 10px;
                  display: flex;
                  p {
                    .number {
                      color: #01b1d5;
                    }
                    .red {
                      color: red;
                    }
                    &:nth-child(1) {
                      flex: 75;
                    }
                    &:nth-child(2) {
                      flex: 25;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .showBreadCrumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
</style>
