<template>
  <div class='locale-bar' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <bread :breadcrumb="titleBread"></bread>
      </div>
      <div class="infolist">
        <div class="panel panel-Q">
          <!-- 查询标题 -->
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询表单 -->
          <div class="form-bar" v-bar >
            <ComForm :searchIpt="formIpt" :searchFunc="SearchFunc" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!--数据列表标题  -->
          <panelTitle :panelTitleInit="panelTitle.listTitle"></panelTitle>
          <div class="table-bar" v-bar>
            <div class="tableBlock">
            <!-- 数据列表表格 -->
              <ComTable :tableData="tableData" :tableGroup="tableGroup" ></ComTable>
            </div>
          </div>
        </div>
      </div>
      <el-dialog :title="$t('ViBorder.auditLog.logInfo')" :visible.sync="detailDia.flag" class='detailLog' :show-close='falseflag' :close-on-click-modal='falseflag' :close-on-press-escape='falseflag'>
        <ComTable :tableData="DetailTableData" :tableGroup="DetailTableGroup" ></ComTable>
        <div slot="footer" class="dialog-footer">
          <el-button @click="detailDia.flag = false">{{$t('ViBorder.common.close')}}</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import ajax from '../../api/IC/locale.js' // 接口文件
import bread from '../../components/common/breadCrumb'
import panelTitle from '../../components/common/title'
import ComTable from '../../components/common/table'
import ComForm from '../../components/common/form'
export default {
  name: 'localeLog',
  data () {
    return {
      falseflag: false,
      detailDia: {
        flag: false,
        id: '',
        pageflag: false
      },
      DetailTableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      DetailTableGroup: [
        {
          label: this.$t('ViBorder.common.No'),
          type: 'index'
        },
        {
          label: this.$t('ViBorder.auditLog.operationTime'),
          type: 'text',
          model: 'operationTime'
        },
        {
          label: this.$t('ViBorder.auditLog.fieldName'),
          type: 'text',
          model: 'fieldName'
        },
        {
          label: this.$t('ViBorder.auditLog.oldValue'),
          type: 'text',
          model: 'oldValue'
        },
        {
          label: this.$t('ViBorder.auditLog.newValue'),
          type: 'text',
          model: 'newValue'
        }
      ],
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: ''
          },
          {
            label: this.$t('ViBorder.auditLog.title')
          }
        ]
      },
      formRule: { // 查询表单规则
        model: {
          operationTime: [],
          clientIp: '',
          operateAccount: '',
          action: '',
          result: '',
          operateObject: ''
        },
        refName: 'queryForm',
        rule: {}
      },
      SearchFunc: { // 查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formIpt: [ // 查询表单初始化
        {
          getLabel: this.$t('ViBorder.auditLog.operationDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'operationTime',
          placeHolder: this.$t('ViBorder.auditLog.operationDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false,
          change: this.timeChange
        },
        {
          getLabel: this.$t('ViBorder.auditLog.clientIp'),
          type: 'text',
          placeHolder: this.$t('ViBorder.auditLog.clientIpPlace'),
          models: '',
          ruleProp: 'clientIp'
        },
        {
          getLabel: this.$t('ViBorder.auditLog.operateAccount'),
          type: 'text',
          placeHolder: this.$t('ViBorder.auditLog.operateAccountPlace'),
          models: '',
          ruleProp: 'operateAccount'
        },
        {
          getLabel: this.$t('ViBorder.auditLog.operateObject'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          clearable: true,
          ruleProp: 'operateObject',
          option: []
        },
        {
          getLabel: this.$t('ViBorder.auditLog.result'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          clearable: true,
          models: '',
          option: [
            {
              value: 'SUCCESS',
              label: this.$t('ViBorder.auditLog.op.success')
            },
            {
              value: 'FAILURE',
              label: this.$t('ViBorder.auditLog.op.failure')
            }
          ],
          ruleProp: 'result'
        }
      ],
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.auditLog.operationTime'),
          type: 'text',
          model: 'operationTime'
        },
        {
          label: this.$t('ViBorder.auditLog.clientIp'),
          type: 'text',
          model: 'clientIp'
        },
        {
          label: this.$t('ViBorder.auditLog.operateAccount'),
          type: 'text',
          model: 'operateAccount'
        },
        {
          label: this.$t('ViBorder.auditLog.operateObject'),
          type: 'locale',
          model: 'operateObject'
        },
        {
          label: this.$t('ViBorder.auditLog.action'),
          type: 'locale',
          model: 'action'
        },
        {
          label: this.$t('ViBorder.auditLog.result'),
          type: 'locale',
          model: 'result'
        },
        {
          label: this.$t('ViBorder.auditLog.reasonCode'),
          type: 'text',
          model: 'reasonCode'
        },
        {
          label: this.$t('ViBorder.auditLog.operateContent'),
          type: 'text',
          model: 'operateContent'
        },
        {
          label: this.$t('ViBorder.auditLog.logDetail'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      operation: [
        {
          func: this.getDetail,
          label: '<i class="iconfont">&#xe612;</i>',
          title: this.$t('ViBorder.auditLog.logDetail'),
          show: true
        }
      ]
    }
  },
  mounted () {
    // this.getOperateKeys()
    // this.getTable('')
    Promise.all([this.getOperateKeys(), this.getTable('')])
  },
  methods: {
    getSortTable () {},
    getOperateKeys () {
      ajax.getOperateKeys({appCode: 'ViBorder'}).then((res) => {
        let {flag, result} = res.data
        if (flag) {
          let option = result.map(e => {
            return {
              value: e,
              label: this.$t(e)
            }
          })
          this.formIpt.forEach(e => {
            if (e.ruleProp === 'operateObject') {
              e.option = option
            }
          })
        }
      }).catch(() => {})
    },
    getTable (val) {
      ajax.AduitLog(val).then((res) => {
        if (res.data.flag) {
          this.tableData.page = {
            pageGroup: [10, 20, 50, 100], // 分页数据
            CurrentPage: res.data.result.pageable.pageNumber + 1, // 当前页码
            pagesize: res.data.result.pageable.pageSize, // 当前分页条数
            Allpage: res.data.result.totalElements, // 总数据
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange // 当前页码改变触发改函数
          }
          if (res.data.result.totalElements) {
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          res.data.result.content.forEach(e => {
            e.operation = this.operation
            e.operationTime = this.$formatDateTime(e.operationTime, this.$t('ViBorder.common.formatDate'))
            if (e.reasonCode) {
              let codeObj = JSON.parse(e.reasonCode)
              let reg = /^[IWE]{1}[0-9]{6}$/
              let code = codeObj.errorCode
              if (!codeObj.flag && reg.test(code)) {
                e.reasonCode = this.$t('ViBorder.errorCode.' + code)
              } else {
                e.reasonCode = '-'
              }
            }
            for (const key in e) {
              if (key === 'action' || key === 'operateObject' || key === 'result') {
                e[key] = this.$t(e[key])
              }
            }
          })
          this.tableData.data = res.data.result.content
          this.formRule.model.page = res.data.result.pageable.pageNumber
          this.formRule.model.size = res.data.result.pageable.pageSize
          this.formRule.model.flag = false // 防止分页事件冲突
        }
      }).catch(() => {})
    },
    handleSizeChange (val) { // 页码跳转
      this.formRule.model.size = val
      this.formRule.model.page = 0
      this.formRule.model.flag = true
      this.SetpageQuery(0)
    },
    handleCurrentChange (val) { // 页码跳转
      if (!this.formRule.model.flag) {
        this.formRule.model.page = val - 1
      }
      this.SetpageQuery(this.formRule.model.page)
    },
    SetpageQuery (page) { // 查询设置页码
      var times = {}
      if (this.formRule.model.operationTime === null || this.formRule.model.operationTime.length === 0) {
        times = {}
      } else {
        times = {
          operationTimeStart: new Date(this.formRule.model.operationTime[0]).getTime(),
          operationTimeEnd: new Date(this.formRule.model.operationTime[1]).getTime()
        }
      }
      var value = {
        operateAccount: this.formRule.model.operateAccount,
        action: this.formRule.model.action,
        result: this.formRule.model.result,
        page: page,
        clientIp: this.formRule.model.clientIp,
        operateObject: this.formRule.model.operateObject,
        size: this.formRule.model.size
      }
      var val = Object.assign({}, value, times)
      this.getTable(val)
    },
    query () { // 总体查询
      this.SetpageQuery(0)
    },
    getDetail (scope) {
      this.getdetailFunction({auditLogId: scope.row.id})
    },
    getdetailFunction (val) {
      ajax.auditDetail(val).then((res) => {
        if (res.data.flag) {
          this.DetailTableData.page = {
            pageGroup: [10, 20, 50, 100], // 分页数据
            CurrentPage: res.data.result.pageable.pageNumber + 1, // 当前页码
            pagesize: res.data.result.pageable.pageSize, // 当前分页条数
            Allpage: res.data.result.totalElements, // 总数据
            handleSizeChange: this.DetailSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.DetailCurrentChange // 当前页码改变触发改函数
          }
          this.DetailTableData.data = res.data.result.content
          this.DetailTableData.data.forEach(e => {
            e.operationTime = this.$formatDateTime(e.operationTime, this.$t('ViBorder.common.formatDate'))
          })
          this.detailDia.page = res.data.result.pageable.pageNumber
          this.detailDia.size = res.data.result.pageable.pageSize
          this.detailDia.id = val.auditLogId
          this.detailDia.pageflag = false // 防止分页事件冲突
          if (this.DetailTableData.data.length > 0) {
            this.DetailTableData.isPage = true
          }
          this.detailDia.flag = true
        }
      }).catch(() => {})
    },
    DetailSizeChange (val) { // 详情页码跳转
      this.detailDia.size = val
      this.detailDia.page = 0
      this.detailDia.pageflag = true
      const values = {
        auditLogId: this.detailDia.id,
        size: this.detailDia.size,
        page: this.detailDia.page
      }
      this.getdetailFunction(values)
    },
    DetailCurrentChange (val) { // 详情页码跳转
      if (!this.detailDia.pageflag) {
        this.detailDia.page = val - 1
      }
      const values = {
        auditLogId: this.detailDia.id,
        size: this.detailDia.size,
        page: this.detailDia.page
      }
      this.getdetailFunction(values)
    }
  },
  components: {bread, panelTitle, ComTable, ComForm}
}
</script>

<style lang="scss">
@import'../../styles/index.scss';
.locale-bar {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
        .el-switch__core {
          width: 70px !important;
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
         .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
