<template>
  <div class='audit-bar' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
            <!-- 查询。· -->
            <div class="form-bar" v-bar>
              <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
            </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格 -->
          <div class="table-bar" v-bar>
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/logTransferQuery.js'
import { setTimeout } from 'timers'
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      dialogAdd: false,
      dialogModify: false,
      unit: 'm',
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.logTransferQuery')
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },

      // *** 初始化查询 ***
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.IC.sendTime'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'sendTime',
          placeHolder: 'Send Time',
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.IC.receiveTime'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'receiveTime',
          placeHolder: 'Receive Time',
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        }
      ],
      // *** 初始化表格 ***
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.tableEdit,
          label: `<span class='editTable'><i class="iconfont">&#xe650;</i></span>`,
          title: this.$t('ViBorder.common.fix'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.IC.receiveTime'),
          type: 'text',
          model: 'receiveTime'
        },
        {
          label: this.$t('ViBorder.IC.receiveSource'),
          type: 'text',
          model: 'receiveSource'
        },
        {
          label: this.$t('ViBorder.IC.sendTime'),
          type: 'text',
          model: 'sendTime'
        },
        {
          label: this.$t('ViBorder.IC.sendSource'),
          type: 'text',
          model: 'sendSource'
        },
        {
          label: this.$t('ViBorder.IC.messageHead'),
          type: 'text',
          model: 'messageHead'
        },
        {
          label: this.$t('ViBorder.IC.sendStatus'),
          type: 'text',
          model: 'sendStatus'
        }
      ]
    }
  },
  created () {
    this.initPageData()
  },
  mounted () {
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'sendTime' && key !== 'receiveTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let sendTime = {}
      if (Array.isArray(model.sendTime) && model.sendTime.length) {
        if (!model.sendTime[1].includes('999')) {
          model.sendTime[1] = `${model.sendTime[1]}.999`
        }
        sendTime = {
          sendTime: new Date(model.sendTime[0]).getTime(),
          sendTime2: new Date(model.sendTime[1]).getTime()
        }
      }

      let receiveTime = {}
      if (Array.isArray(model.receiveTime) && model.receiveTime.length) {
        if (!model.receiveTime[1].includes('999')) {
          model.receiveTime[1] = `${model.receiveTime[1]}.999`
        }
        receiveTime = {
          receiveTime: new Date(model.receiveTime[0]).getTime(),
          receiveTime2: new Date(model.receiveTime[1]).getTime()
        }
      }

      let param = Object.assign({}, sendTime, receiveTime, options, value)
      return this.$filterNullFields(param)
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let sendTime = {
          sendTime: new Date(model.sendTime[0]).getTime(),
          sendTime2: new Date(model.sendTime[1]).getTime()
        }
        let receiveTime = {
          receiveTime: new Date(model.receiveTime[0]).getTime(),
          receiveTime2: new Date(model.receiveTime[1]).getTime()
        }

        let initTableParm = {...sendTime, ...receiveTime, ...{page: 0, size: 10}}
        Promise.all([this.getTableData(initTableParm)]).then(res => {
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._initList(options).then(res => { // 请求接口
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'sendTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'receiveTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'sendStatus':
                  if (element[oKey] === true) {
                    element[oKey] = 'Yes'
                  } else {
                    element[oKey] = 'No'
                  }
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    query () { // 表单查询方法
      this.pageOptions.currentChageFlag = true
      this.getTableData(this.getQueryParam({page: 0, size: 10}))
    },
    getSortTable (column, prop, order) { // 根据时间排序
      let vehicleId = {vehicleId: sessionStorage.getItem('vehicleId')}
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'trfficTime,ASC'} // 升序排序
          this.getTableData(Object.assign(sort, vehicleId))
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'trfficTime,DESC'} // 默认降序排序
          this.getTableData(Object.assign(sort, vehicleId))
        }
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      let handlesize = this.getQueryParam({...{size: val, page: 0}})
      this.formRule.model.page = 0
      this.formRule.model.size = val
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = this.getQueryParam({...{page: parseInt(val - 1), size: pagesize}})
        this.formRule.model.page = parseInt(val - 1)
        this.formRule.model.size = pagesize
        this.getTableData(handlesize)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit-bar {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    @media screen and (min-width: 1640px) {
      .panel-middle {
        width: 100% !important;
      }
    }
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
          .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .el-dialog {
      .el-dialog__body {
        padding: 30px 20px;
      }
      .el-form {
        .el-form-item {
          width: $all;
          .search-form-label {
            text-align: left;
          }
          .el-form-item__error {
            text-align: left;
          }
        }
        .search-form-btn {
          width: 100%;
          @include flex(row, flex-end, center);
        }
      }
    }
    .el-dialog__header {
      text-align: left;
    }
  }
}
</style>
