<template>
  <div class='audit-bar' v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
            <div class="form-bar" v-bar >
              <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
            </div>
        </div>
        <div class="panel panel-L">
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <el-button  type="primary" size="mini" @click="endMeasure">{{this.$t('ViBorder.IC.endMeasurement')}}</el-button>
            <i class="iconfont" @click="showPassageConfig" :title="$t('ViBorder.IC.siteConfig')">&#xe674;</i>
            <i class="iconfont last" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
          </panelTitle>
          <div class="table-bar" v-bar>
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
    </div>
    <!-- 通道配置 -->
    <el-dialog :title="$t('ViBorder.IC.siteConfig')" :visible.sync="toggleModalStatus" :show-close='false' :close-on-click-modal='false' :close-on-press-escape='false'>
      <div class="content-box">
        <div class="line" v-for="(item, idx) in passageConfig" :key="idx">
          <div class="title">{{item.title}}</div>
          <div class="choose-item">
            <el-radio v-model="item.type" label="NORMAL">{{$t('ViBorder.IC.enable')}}</el-radio>
            <el-radio v-model="item.type" label="MAINTAIN">{{$t('ViBorder.IC.disable')}}</el-radio>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <el-button type="primary" @click="comfirmBtn">{{$t('ViBorder.common.confirm')}}</el-button>
        <el-button @click="cancel">{{$t('ViBorder.common.cancel')}}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import handleData from '../../api/IC/measureVehicle.js'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
export default {
  name: 'vehicleMeasured',
  data () {
    const checkTime = async (rule, value, callback) => {
      let d1 = value[0].substring(0, 10)
      let d2 = value[1].substring(0, 10)
      let tmp = d1.split('-')
      let date1 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      tmp = d2.split('-')
      let date2 = new Date(tmp[0], tmp[1] - 1, tmp[2])
      if ((date2.getTime() - date1.getTime()) > 365 * 24 * 60 * 60 * 1000) {
        callback(new Error(this.$t('ViBorder.IC.oneYearInterval')))
      } else {
        callback()
      }
    }
    return {
      loading: false,
      notifyOffset: window.config.notifyOffset,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.vehicleMeasured')
          }
        ]
      },
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          measureTime: [
            {validator: checkTime, trigger: 'change'}
          ]
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'measureTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          models: '',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          models: '',
          placeHolder: this.$t('ViBorder.businessLogicCommon.lpnBackWarn'),
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.IC.inspection'),
              value: 'current'
            },
            {
              label: this.$t('ViBorder.IC.history'),
              value: 'history'
            }
          ],
          ruleProp: 'vehicleState',
          clearable: true
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        measureTable: true,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      tableGroup: [ // 表格数据列
        {
          type: 'selection'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessType',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureBeginTime'),
          type: 'text',
          model: 'enterTunnelTime',
          sortable: 'custom',
          width: '250'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureEndTime'),
          type: 'text',
          model: 'leftTunnelTime',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoRecognition'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '450'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correction'),
          type: 'text',
          model: 'licensePlateNumberAmend',
          width: '350'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          model: 'licensePlateNumberBack',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          model: 'fourthConclusion',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'text',
          model: 'vehicleState',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureHeight'),
          type: 'text',
          model: 'vehicleHeight',
          width: '340'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionHeight'),
          type: 'text',
          model: 'vehicleHeightAmend',
          width: '270'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureWidth'),
          type: 'text',
          model: 'vehicleWidth',
          width: '320'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionWidth'),
          type: 'text',
          model: 'vehicleWidthAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureLength'),
          type: 'text',
          model: 'vehicleLength',
          width: '320'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionLength'),
          type: 'text',
          model: 'vehicleLengthAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureWeight'),
          type: 'text',
          model: 'total',
          width: '300'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionTotal'),
          type: 'text',
          model: 'totalAmend',
          width: '230'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          width: '200'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          width: '180',
          model: 'fourthOperator'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.submitConclusionTime'),
          type: 'text',
          width: '220',
          model: 'fourthTime'
        }
      ],
      exportParam: {},
      toggleModalStatus: false,
      passageConfig: [],
      sort: {} // 表格排序
    }
  },
  created () {
    this.initPageData()
    this.getDeviceStatus()
  },
  methods: {
    /**
     * ***********************************公共方法区域******************************************
     */
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'measureTime') {
          Object.assign(options, {[key]: model[key]})
        }
      }
      let time = this.$startStopTime(model.measureTime)
      let param = Object.assign({}, time, options, value, this.sort)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.successfuly'),
            position: 'top-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    /**
     * **********************************页面逻辑方法区域*********************************************
     */
    initPageData () {
    // 初始化页面数据 包括下拉菜单的选项以及表格数据
    // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.measureTime[0]).getTime(),
          endTime: new Date(model.measureTime[1]).getTime()
        }
        let initTableParm = {...time, ...{page: 0, size: 10}}
        Promise.all([this.initDropDownList(), this.getTableData(initTableParm)]).then(res => {
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initDropDownList () { // 初始化下拉菜单数据
      let inputItem = this.inputItem
      handleData._initDropDownList().then(res => {
        if (res.data.flag) {
          let {result} = res.data
          inputItem.forEach(item => {
            if (result[item.ruleProp]) {
              switch (item.ruleProp) {
                case 'conclusionType':
                  item.option = result[item.ruleProp].filter(ele => {
                    if (ele.value === 'PASSED' || ele.value === 'NOPASS' || ele.value === 'MANUALMEASURE') {
                      return ele
                    }
                  }).map(e => {
                    return {
                      label: this.$t(e.key),
                      value: e.value
                    }
                  })
                  break
              }
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._initList(options).then(res => {
        if (res.data.flag) {
          this.exportParam = options
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'enterTunnelTime':case 'checkInTime':case 'fourthTime':case 'leftTunnelTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                // case 'fourthConclusion':
                //   element[oKey] = element.fourthConclusion && this.$t(element.fourthConclusion.key)
                //   break
                // case 'businessType':
                //   element[oKey] = element.businessType && this.$t(element.businessType)
                //   break
                case 'vehicleState':case 'businessType':case 'fourthConclusion':
                  element[oKey] = element[oKey] ? this.$t(element[oKey]) : '' // 国际化
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    // 获取设备状态
    getDeviceStatus () {
      handleData._getDeviceStatus({site: 'SCA', device: 'LANE'}).then(res => {
        let {flag, result} = res.data
        if (flag) {
          let title = {title: ''}
          this.passageConfig = result.map((item, idx) => {
            if (idx === 0) {
              title = {title: `${this.$t('ViBorder.IC.in')}${item.laneNumber}`}
            } else {
              title = {title: `${this.$t('ViBorder.IC.out')}${item.laneNumber}`}
            }
            return {...{
              type: item.type,
              site: item.site.value,
              laneNumber: item.laneNumber,
              device: item.device.value
            },
            ...title}
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // 修改设备状态
    modifyLaneStatus (options) {
      handleData._modifyLaneStatus(options).then(res => {
        let {flag, result} = res.data
        if (flag) {
          this.cancel()
          this.getDeviceStatus()
        }
        return flag
      }).catch(err => {
        console.log('err', err)
        return false
      })
    },
    // 打开弹窗
    showPassageConfig () {
      this.toggleModalStatus = true
    },
    // 修改设备状态确认按钮
    comfirmBtn () {
      let param = {}
      let options = this.passageConfig.map((item, idx) => {
        return {
          type: item.type,
          site: item.site,
          laneNumber: item.laneNumber,
          device: item.device
        }
      }).forEach((ele, index) => {
        let type = `statusList[${index}].type`
        let site = `statusList[${index}].site`
        let laneNumber = `statusList[${index}].laneNumber`
        let device = `statusList[${index}].device`
        Object.assign(param, { [type]: ele.type, [site]: ele.site, [laneNumber]: ele.laneNumber, [device]: ele.device })
      })
      let scb = () => {
        this.modifyLaneStatus(param)
      }
      this.confirmModal({tips: this.$t('ViBorder.IC.sureSwitchMeasurement'), scb})
    },
    cancel () {
      this.getDeviceStatus()
      this.toggleModalStatus = false
    },
    query () { // 表单查询方法
      this.currentChageFlag = true
      this.getTableData(this.getQueryParam({page: 0, size: 10}))
    },
    getEdit (selection) { // 操作
      this.$data.modalData.flag = true
      this.$data.modalData.title = this.$t('ViBorder.IC.modifyInformation')
    },
    removeTag () { // 多选移除时触发
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          this.sort = {'sort': 'enterTunnelTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          this.sort = {'sort': 'enterTunnelTime,DESC'} // 默认降序排序
        } else {
          this.sort = {}
        }
        this.getTableData(this.getQueryParam({size: this.formRule.model.size || 10, page: this.formRule.model.page || 0}))
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.currentChageFlag = true
      let handlesize = this.getQueryParam({size: val, page: 0})
      this.formRule.model.page = 0
      this.formRule.model.size = val
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = this.getQueryParam({...{page: parseInt(val - 1), size: pagesize}})
        this.formRule.model.page = parseInt(val - 1)
        // this.formRule.model.size = pagesize
        this.getTableData(handlesize)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    endMeasure () { // 结束测量
      let arr = this.pageOptions.vehicleIdArr
      if (!arr.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.IC.chooseOneData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let scb = () => {
        let option
        let idsStr = ''
        if (arr.length > 1) {
          arr.forEach(ele => {
            idsStr = idsStr + ele.id + ','
          })
        } else {
          idsStr = arr[0].id
        }
        handleData._endMeasure({measureIds: idsStr}).then(res => {
          if (res.data.flag) {
            this.getTableData(this.getQueryParam({page: 0, size: 10}))
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.IC.endMeasureSuccess'),
              type: 'success',
              offset: this.notifyOffset
            })
          }
          return res.data.flag
        }).catch((err) => {
          console.log('err', err)
          return false
        })
      }
      this.confirmModal({tips: this.$t('ViBorder.IC.sureEndMeasurement'), scb})
    },
    getDownloadOptions () {
      let op = this.exportParam
      delete op.measureTime
      delete op.page
      return {...op, ...initDownloadOptions({ exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4', titleKey: this.$t('ViBorder.IC.vehicleMeasured'), tableGroup: this.tableGroup })}
    },
    exportExcle () {
      if (this.tableData.data.length === 0) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
      } else {
        this.loading = true
        handleData._exportExcel(this.getDownloadOptions()).then(res => {
          this.$createBlobUrl(res.data, res.headers['content-type'], this.$t('ViBorder.IC.vehicleMeasured'))
        }).catch(err => {
          console.log('err', err)
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.audit-bar {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
        .iconfont {
          margin: 0 $margin;
          color: $primary;
        }
        .iconfont.last {
          margin-left: 0;
        }
      }
    }
    .modal-dialog {
      .search-form {
        @include layout(3);
      }
    }
  }
  .content-box {
    font-size: 18px;
    .line {
      @include flex();
      line-height: 40px;
      .title {
        width: 30%;
      }
      .choose-item {
        flex: 1;
        .el-radio__label {
          font-size: 18px;
        }
      }
    }
  }
  .btn-group {
    margin-top: $margin * 4;
  }
}
</style>
