<template>
  <report :reportModule="reportModule"></report>
</template>

<script>
import report from '../common/commonReport'
export default {
  name: 'plant-report',
  data () {
    return {
      reportModule: {
        name: 'plant',
        backTitle: {
          label: this.$t('ViBorder.IC.plantReport')
        }
      }
    }
  },
  components: {report}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
</style>
