<template>
  <div id="statistical-report-settings">
    <div class="bread-crumb">
      <breadCrumb :breadcrumb="titleBread"/>
    </div>
    <div class="panel">
      <panelTitle :panelTitleInit="panelTitle.queryTitle">
      </panelTitle>
      <div class="search-box">
        <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
      </div>
    </div>
    <div class="panel bottom-p">
      <panelTitle :panelTitleInit="panelTitle.queryTitle">
        <el-button type="danger" size="mini" @click="deleteByCheckbox">{{$t('ViBorder.common.delete')}}</el-button>
      </panelTitle>
      <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo" ref="multipleTable"></ComTable>
    </div>
    <Dialog :modalData="detailsModalData" class="model">
      <div class="content">
        <div class="cell-block" v-for="(e, i) in allEnableSc" :key="i">
          <el-checkbox-group v-model="checkboxData">
            <el-checkbox :label="e.id" border :checked="e.isSelect">{{e.getLabel}}</el-checkbox>
          </el-checkbox-group>
        </div>
      </div>
      <div class="btn-group">
        <el-button type="primary" @click="save">{{$t('ViBorder.common.save')}}</el-button>
        <el-button @click="close">{{$t('ViBorder.common.cancel')}}</el-button>
      </div>
    </Dialog>
  </div>
</template>

<script>
import handleData from '../../api/IC/statisticalReportSettings'
import initConfirmData from '../../components/common/commonData.js'
export default {
  name: 'statistical-report-settings',
  data () {
    return {
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t('ViBorder.systemModule.IC.headTitle'),
            path: '' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.statisticalReportSettings'),
            path: '' // 跳转路径
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.IC.reportSetting')
        },
        reportTitle: {
          title: this.$t('ViBorder.IC.reportList')
        }
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.IC.addReportName'),
          type: 'text',
          placeHolder: this.$t('ViBorder.IC.addReportName'),
          models: '',
          ruleProp: 'ufTypeName',
          maxlength: 200
        }
      ],
      queryFn: { // 页面表单查询方法
        query: this.initAllIsSelectBox,
        queryText: this.$t('ViBorder.common.add')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
          ufTypeName: [
            { required: true, message: this.$t('ViBorder.IC.inputReportName'), trigger: 'blur' },
            { min: 1, max: 200, message: this.$t('ViBorder.businessLogicCommon.reportNameMaxLength'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      tableData: { // 表格数据
        isBorder: true,
        isStripe: true,
        isPage: false,
        // MaxHeight: '730',
        refName: 'multipleTable',
        sortMethod: () => {},
        data: []
      },
      tableGroup: [ // 表格数据列
        {
          type: 'selection'
        },
        {
          label: this.$t('ViBorder.IC.reportName'),
          type: 'text',
          model: 'ufTypeName'
        },
        {
          label: this.$t('ViBorder.IC.addTime'),
          type: 'text',
          model: 'creation.creationTime'
        },
        {
          label: this.$t('ViBorder.IC.addUser'),
          type: 'text',
          model: 'creation.creationUserName'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          width: '150px',
          model: 'operation',
          fixed: 'right',
          operation: [
            {
              func: this.modify,
              label: `<span class='editTable'><i class="iconfont">&#xe650;<i/></span>`,
              title: this.$t('ViBorder.businessLogicCommon.view'),
              show: true
            },
            {
              func: this.deleteByIndex,
              label: `<span class='editTable'><i class="iconfont">&#xe658;<i/></span>`,
              title: this.$t('ViBorder.businessLogicCommon.view'),
              show: true
            }
          ]
        }
      ],
      operation: [
        {
          func: this.modify,
          label: `<span class='editTable'><i class="iconfont">&#xe650;<i/></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        },
        {
          func: this.deleteByIndex,
          label: `<span class='editTable'><i class="iconfont">&#xe658;<i/></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      detailsModalData: { // 模态框的固定属性
        flag: false,
        title: '',
        resetModal: this.close
      },
      allEnableSc: [],
      allBoxTitle: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          ruleProp: 'enterTunnelTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.measureEndDate'),
          ruleProp: 'leftTunnelTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.scanDate'),
          ruleProp: 'scanTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.releaseDate'),
          ruleProp: 'releaseTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.scanLane'),
          ruleProp: 'siteLane'
        },
        {
          getLabel: this.$t('ViBorder.IC.measurementType'),
          ruleProp: 'measureType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          ruleProp: 'containerNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.length'),
          ruleProp: 'vehicleLength'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.width'),
          ruleProp: 'vehicleWidth'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.height'),
          ruleProp: 'vehicleHeight'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.totalWeight'),
          ruleProp: 'total'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          ruleProp: 'vehicleState'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStep'),
          ruleProp: 'inspectStep'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          ruleProp: 'destination'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          ruleProp: 'trailer'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          ruleProp: 'logistics'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          ruleProp: 'normalEnd'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          ruleProp: 'vehicleType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          ruleProp: 'businessType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.animalConclusion'),
          ruleProp: 'animalConclusion'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.healthConclusion'),
          ruleProp: 'healthConclusion'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.plantConclusion'),
          ruleProp: 'plantConclusion'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.transiportConclusion'),
          ruleProp: 'transiportConclusion'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.dcConclusion'),
          ruleProp: 'diConclusion'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.inspectionPiConclusion'),
          ruleProp: 'piConclusion'
        },
        {
          getLabel: this.$t('ViBorder.CHECKOUT.releaseConclusion'),
          ruleProp: 'releaseConclusion'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInPerson'),
          ruleProp: 'checkInOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.transiportPerson'),
          ruleProp: 'transportOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.animalPerson'),
          ruleProp: 'animalOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.healthPerson'),
          ruleProp: 'healthOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.plantPerson'),
          ruleProp: 'plantOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.viewPicPerson'),
          ruleProp: 'diOperator'
        },
        {
          getLabel: this.$t('ViBorder.PI.inspectionPiUser'),
          ruleProp: 'piOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.releasePerson'),
          ruleProp: 'releaseOperator'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkOutPerson'),
          ruleProp: 'checkOutOperator'
        }
      ],
      checkboxData: [],
      pageOptions: {
        selectListCheckboxArr: [],
        selectLineInfo: []
      }
    }
  },
  created () {
    this.initUserSearchList()
  },
  methods: {
    confirmModal (parm) { // 信息确认
      this.$confirm(parm.tips, initConfirmData.confirm()).then(() => {
        if (parm.scb && parm.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            message: this.$t('ViBorder.common.successfuly'),
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initUserSearchList () {
      handleData._getUserSearch().then(res => {
        let {flag, result} = res.data
        if (flag) {
          if (result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            pagesize: result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: result.totalElements
          }
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.setTableData(result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    setTableData (option) {
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'creation':
                  element[oKey].creationTime = element[oKey].creationTime && this.$formatDateTime(element[oKey].creationTime, this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    handleSizeChange (val) {
      this.pageOptions.tableSize = val
      this.pageOptions.currentChageFlag = true
      this.getPageListData({size: val, page: 0})
    },
    handleCurrentChange (val) {
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}}
        this.getPageListData(handlesize)
      }
    },
    getLineInfo (v) {
      this.pageOptions.selectLineInfo = v
    },
    initAllIsSelectBox (parm) {
      let {ufTypeName} = this.formRule.model
      handleData._getSearchCondation({ufTypeName: ufTypeName || parm.ufTypeName, ufType: 1}).then(res => {
        const {result: {allEnableSc}, flag} = res.data
        allEnableSc.forEach((ele, i) => {
          if (ele.taskField === this.allBoxTitle[i].ruleProp) {
            ele.getLabel = this.allBoxTitle[i].getLabel
          }
        })
        if (flag) {
          this.allEnableSc = allEnableSc
          this.detailsModalData.flag = true
          this.detailsModalData.title = ufTypeName || parm.ufTypeName
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    close () {
      // 清空弹窗数据
      this.formRule.model = {}
      this.inputItem[0].models = ''
      // 清空存储checkbox是否选择的状态
      this.checkboxData = []
      // 关闭
      this.detailsModalData.flag = false
      // 清空弹窗获取的全局变量
      this.pageOptions = {
        selectListCheckboxArr: []
      }
      // this.allEnableSc = []
      // console.log('allEnableSc', JSON.parse(JSON.stringify(this.allEnableSc)))
    },
    addUserSearch (options = {}) {
      let parm = {
        strSearchCondations: this.checkboxData.toString(),
        ufTypeName: this.formRule.model.ufTypeName || options.ufTypeName,
        ufType: 1,
        id: options.id
      }
      if (!this.checkboxData.toString().length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.pleaseSelect'),
          offset: this.notifyOffset
        })
        return false
      }
      handleData._addUserSearch(this.$filterNullFields(parm)).then(res => {
        const {flag} = res.data
        if (flag) {
          this.$notify.success({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
            offset: this.notifyOffset
          })
          this.close()
          this.initUserSearchList()
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    save () {
      let {ufTypeName, modifyRowId} = this.pageOptions
      this.addUserSearch({id: modifyRowId, ufTypeName})
    },
    modify (v) {
      this.pageOptions.modifyRowId = v.row.id
      this.pageOptions.ufTypeName = v.row.ufTypeName
      this.initAllIsSelectBox({ufTypeName: v.row.ufTypeName})
    },
    deleteDataCommonFn (ids) {
      let tips = this.$t('ViBorder.businessLogicCommon.sureDelete')
      let scb = async () => {
        let p = {ids}
        try {
          let res = await handleData._delUserSearch(p)
          res.data.flag && this.initUserSearchList()
          return res.data.flag
        } catch (error) {
          console.log('err', error)
          return false
        }
      }
      this.confirmModal({tips, scb})
    },
    deleteByIndex (v) {
      this.deleteDataCommonFn(v.row.id)
    },
    deleteByCheckbox () {
      if (!this.pageOptions.selectLineInfo || !this.pageOptions.selectLineInfo.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.IC.chooseOneData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let ids = this.pageOptions.selectLineInfo.map(e => e.id).toString()
      this.deleteDataCommonFn(ids)
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#statistical-report-settings {
  width: $all;
  height: $all;
  @extend .extend-bar;
  padding: $margin;
  @include box-sizing();
  .bread-crumb {
    .margins {
      margin-bottom: $dis10;
    }
  }
  .panel {
    width: $all;
    @extend .extend-panel;
    .search-box {
      width: $all;
      padding: $dis10;
      @include box-sizing();
      @include flex($juc: flex-start);
      .el-form-item__error {
        text-align: left;
      }
      // @include layout(4);
    }
    .search-form {
      width: $all;
      .search-form-item {
        width: 20%;
        .search-form-label {
          text-align: left;
        }
      }
      .search-form-btn {
        .el-form-item__content {
          @include flex($juc: flex-end);
        }
        .el-button {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
  .panel.bottom-p {
    height: calc(100% - 240px);
  }
  .model {
    .el-dialog__header {
      padding: $dis10;
      padding-left: 0;
      border-bottom: 2px solid $primary;
      // height: auto!important;
      // .el-dialog__title {
      //   width: 96%;
      //   word-break: break-all;
      // }
      .el-dialog__headerbtn {
        right: 0;
      }
    }
    .el-dialog__body {
      padding: 0;
      height: 850px;
      overflow-y: auto;
    }
    .el-dialog {
      width: 1100px;
      padding: $dis10 $margin;
      margin-top: 5vh !important;
    }
    .content {
      // width: $all;
      // margin-left: 44px;
      @include box-sizing();
      @include flex($juc: flex-start);
      flex-wrap: wrap;
      .cell-block {
        padding: $dis10;
        width: calc(100% / 3.4);
        margin-right: $margin;
        .el-checkbox {
          min-width: 330px;
          .el-checkbox__input {
            display: none;
          }
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
    .btn-group {
      @include flex($juc: flex-end);
    }
  }
}
</style>
