<template>
  <div class='audit-vehicle taskPage' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <div class="inAndOut">
        <div class="inTab tab-item" @click="tabClick('IMPORT')" :class="{active: inOrOut === 'IMPORT'}">{{$t('ViBorder.IC.in')}}</div>
        <div class="outTab tab-item" @click="tabClick('EXPORT')" :class="{active: inOrOut === 'EXPORT'}">{{$t('ViBorder.IC.out')}}</div>
        <div class="search-wrap">
          <div>
            <el-input size="mini" :placeholder="$t('ViBorder.businessLogicCommon.inputLpn')" v-model="nowVehicleNumber"></el-input>
            <a href="javascript:void(0)" @click="query" class="search-btn"><i class="el-icon-search"></i></a>
          </div>
          <div class="icon" @click="refresh" :class="{ManuallyRefresh: isManual === true}"><i class="iconfont">&#xe67c;</i></div>
          <div class="icon" @click="automatic" v-html="refreshPic"></div>
        </div>
      </div>
      <div class="infolist" id="infolist">
        <div class="siteData-wrap siteData-wrap-in" v-if="inOrOut === 'IMPORT'">
          <div class="siteData sa"><!-- 测量站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.SMS.headTitle')}}({{sitList.import.SA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.SA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.skipMeasurement')" @click="endMeasure(item)">&#xe68f;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData tca"><!-- 联检确认站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.JI.headTitle')}}({{sitList.import.TCA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.TCA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData cda"><!-- 综合查验站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.DC.headTitle')}}({{sitList.import.CDA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.CDA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData mia"><!-- 人工查验站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.PI.headTitle')}}({{sitList.import.MIA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.MIA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData rca"><!-- 放行确认站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.RC.headTitle')}}({{sitList.import.RCA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.RCA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData lra"><!-- 挂锁 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.DIC.LEDSTATUS.LOCK')}}({{sitList.import.LRA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.LRA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData ara"><!-- 自助放行监管站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.CHECKOUT.headTitle')}}({{sitList.import.ARA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.ARA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData mra"><!-- 人工放行监管站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.MR.headTitle')}}({{sitList.import.MRA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.import.MRA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="siteData-wrap siteData-wrap-out" v-if="inOrOut === 'EXPORT'">
          <div class="siteData sa"><!-- 测量站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.SMS.headTitle')}}({{sitList.export.SA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.SA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endMeasurement')" @click="endMeasure(item)">&#xe68f;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData tca"><!-- 联检确认站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.JI.headTitle')}}({{sitList.export.TCA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.TCA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData cda"><!-- 综合查验站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.DC.headTitle')}}({{sitList.export.CDA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.CDA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData mia"><!-- 人工查验站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.PI.headTitle')}}({{sitList.export.MIA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.MIA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData rca"><!-- 放行确认站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.RC.headTitle')}}({{sitList.export.RCA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.RCA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData lra"><!-- 摘锁 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.DIC.LEDSTATUS.UNLOCK')}}({{sitList.export.LRA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.LRA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="siteData ara"><!-- 自助放行监管站 -->
            <div class="title"><div class="title-icon"><i class="iconfont">&#xe649;</i></div>{{$t('ViBorder.systemModule.CHECKOUT.headTitle')}}({{sitList.export.ARA.length}})</div>
            <div class="content">
              <div class="content-item panel" v-for="(item, index) in sitList.export.ARA" :class="{blueBorder:item.lpn.toUpperCase() === middleData.toUpperCase(), redBorder:Number(item.overTime) > 0}" :key="index" :id="item.vehicleId">
                <div class="item-title">
                  <div class="item-title-left">
                    <span v-html="item.icon" :title="item.title"></span>
                    {{item.lpn}}
                  </div>
                  <div class="item-title-right">
                    <i class="iconfont" :title="$t('ViBorder.IC.endProcess')" @click="endProcess(item)">&#xe704;</i>
                    <i class="iconfont" :title="$t('ViBorder.IC.taskDetail')" @click="detail(item)">&#xe62b;</i>
                  </div>
                </div>
                <div class="time-wrap">
                  <p class="time"><span class="time-label">{{$t('ViBorder.businessLogicCommon.checkInTime')}}:</span><span>{{item.checkInTime}}</span></p>
                  <p class="time"><span class="time-label">{{$t('ViBorder.IC.duration')}}:</span><span>{{item.spendTime}}</span></p>
                  <div class="pic-wrap">
                    <span v-for="(ele, cindex) in item.statusWrap" :key="cindex" :title="ele.title" :class="{completed: ele.number === '2', going: ele.number === '1', pending: ele.number === '0'}" v-html="ele.content"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/taskRegulatory.js'
import {formatSeconds} from '../../lib/index.js'
let _setTimeInter = null
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      isManual: true,
      inOrOut: 'IMPORT', // 进出口tab切换
      searchModle: '', // 搜索内容
      listHistory: false,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t(this.$route.name)
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: '查询'
        },
        listTitle: {
          title: '列表'
        }
      },
      nowVehicleNumber: '',
      middleData: '',
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: '查询',
        resetText: '重置'
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: '车牌号',
          models: '',
          placeHolder: '请输入车牌号',
          type: 'text',
          ruleProp: 'vehicleType',
          clearable: true
        }
      ],
      sitList: {
        import: {
          SA: [], // 测量站
          TCA: [], // 交通确认站
          CDA: [], // 综合查验站
          MIA: [], // 人工查验站
          RCA: [], // 放行确认站
          LRA: [], // 挂锁/摘锁
          ARA: [], // 自助放行监管站
          MRA: [] // 人工放行监管站
        },
        export: {
          SA: [], // 测量站
          TCA: [], // 交通确认站
          CDA: [], // 综合查验站
          MIA: [], // 人工查验站
          RCA: [], // 放行确认站
          LRA: [], // 挂锁/摘锁
          ARA: [], // 自助放行监管站
          MRA: [] // 人工放行监管站
        }
      },
      refreshPic: '<i class="iconfont">&#xe663;</i>'
    }
  },
  created () {
    this.initPageData()
    if (_setTimeInter) {
      clearInterval(_setTimeInter)
    }
  },
  mounted () {
    _setTimeInter = setInterval(() => {
      this.initPageData(this.inOrOut)
    }, 30000)
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let param = Object.assign({}, options, value)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.successfuly'),
            position: 'bottom-right',
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // // *********************************** 页面逻辑 *****************************************
    initPageData (val) {
      let inOut
      let d = new Date()
      let t = new Date(d.toLocaleDateString())
      let start = new Date(d.toLocaleDateString())
      let end = new Date(t.setMonth(t.getMonth() - 3)).getTime()
      let time = {
        checkInStartTime: end,
        checkInEndTime: start.getTime() + 24 * 60 * 60 * 1000 - 1
      }
      console.log(this.$formatDateTime(time.checkInStartTime, this.$t('ViBorder.common.formatDate')), this.$formatDateTime(time.checkInEndTime, this.$t('ViBorder.common.formatDate')))
      if (val) {
        inOut = {direction: val}
      } else {
        val = 'IMPORT'
        inOut = {direction: 'IMPORT'}
      }
      handleData._getList({...inOut, ...time}).then(res => {
        if (res.data.flag && res.data.result) {
          this.sitList = {
            import: {
              SA: [], // 测量站
              TCA: [], // 交通确认站
              CDA: [], // 综合查验站
              MIA: [], // 人工查验站
              RCA: [], // 放行确认站
              LRA: [], // 挂锁/摘锁
              ARA: [], // 自助放行监管站
              MRA: [] // 人工放行监管站
            },
            export: {
              SA: [], // 测量站
              TCA: [], // 交通确认站
              CDA: [], // 综合查验站
              MIA: [], // 人工查验站
              RCA: [], // 放行确认站
              LRA: [], // 挂锁/摘锁
              ARA: [], // 自助放行监管站
              MRA: [] // 人工放行监管站
            }
          }
          let importStatus = []
          let exportStatus = []
          let result = res.data.result
          if (val === 'IMPORT') {
            for (let oKey in this.sitList.import) {
              if (result[oKey]) {
                this.sitList.import[oKey] = result[oKey]
              }
            }
          } else if (val === 'EXPORT') {
            for (let oKey in this.sitList.export) {
              if (result[oKey]) {
                this.sitList.export[oKey] = result[oKey]
              }
            }
          }
          for (let oKey in this.sitList.import) { // 进境
            if (this.sitList.import[oKey]) {
              for (let i in this.sitList.import[oKey]) {
                this.sitList.import[oKey][i].statusWrap = []
                if (this.sitList.import[oKey][i].checkInTime) {
                  this.sitList.import[oKey][i].checkInTime = this.$formatDateTime(this.sitList.import[oKey][i].checkInTime, this.$t('ViBorder.common.formatDate'))
                }
                if (this.sitList.import[oKey][i].spendTime) {
                  let time = (this.sitList.import[oKey][i].spendTime / 60).toFixed(1)
                  this.sitList.import[oKey][i].spendTime = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
                }
                if (this.sitList.import[oKey][i].vehicleType === 'TRUCK' || this.sitList.import[oKey][i].vehicleType === 'OVERLIMITTRUCK') {
                  this.sitList.import[oKey][i].icon = '<i class="iconfont">&#xe63a;</i>'
                  this.sitList.import[oKey][i].title = this.$t('ViBorder.businessLogicCommon.truck')
                }
                if (this.sitList.import[oKey][i].vehicleType === 'EMPTYTRUCK') {
                  this.sitList.import[oKey][i].icon = '<i class="iconfont">&#xe6dc;</i>'
                  this.sitList.import[oKey][i].title = this.$t('ViBorder.DIC.VEHICLETYPE.EMPTYTRUCK')
                }
                if (this.sitList.import[oKey][i].vehicleType === 'BUS') {
                  this.sitList.import[oKey][i].icon = '<i class="iconfont">&#xe72b;</i>'
                  this.sitList.import[oKey][i].title = this.$t('ViBorder.DIC.VEHICLETYPE.BUS')
                }
                if (this.sitList.import[oKey][i].vehicleType === 'COMMODITYCAR') {
                  this.sitList.import[oKey][i].icon = '<i class="iconfont">&#xe64a;</i>'
                  this.sitList.import[oKey][i].title = this.$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR')
                }
              }
            }
          }
          for (let oKey in this.sitList.import) { // 进境
            if (this.sitList.import[oKey]) {
              for (let i in this.sitList.import[oKey]) {
                if (this.sitList.import[oKey][i] && this.sitList.import[oKey][i].status) {
                  this.sitList.import[oKey][i].statusWrap = [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]
                  for (let cKey in this.sitList.import[oKey][i].status) {
                    if (cKey === 'CUSTOMSINSPECTENTRY') { // 信息注册
                      this.sitList.import[oKey][i].statusWrap[0] = ({
                        number: this.sitList.import[oKey][i].status.CUSTOMSINSPECTENTRY,
                        content: '<i class="iconfont">&#xe60a;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.CUSTOMSINSPECTENTRY')
                      })
                    }
                    if (cKey === 'MEASURE') { // 测量
                      this.sitList.import[oKey][i].statusWrap[1] = ({
                        number: this.sitList.import[oKey][i].status.MEASURE,
                        content: '<i class="iconfont">&#xe637;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.MEASURE')
                      })
                    }
                    if (cKey === 'XRAYSCAN') { // 扫描
                      this.sitList.import[oKey][i].statusWrap[2] = ({
                        number: this.sitList.import[oKey][i].status.XRAYSCAN,
                        content: '<i class="iconfont">&#xe70e;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.XRAYSCAN')
                      })
                    }
                    if (cKey === 'TRAFFICCONFIRM') { // 交通确认
                      this.sitList.import[oKey][i].statusWrap[3] = ({
                        number: this.sitList.import[oKey][i].status.TRAFFICCONFIRM,
                        content: '<i class="iconfont">&#xe636;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.TRAFFICCONFIRM')
                      })
                    }
                    if (cKey === 'HEALTHCHECK') { // 卫生
                      this.sitList.import[oKey][i].statusWrap[4] = ({
                        number: this.sitList.import[oKey][i].status.HEALTHCHECK,
                        content: '<i class="iconfont">&#xe668;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.HEALTHCHECK')
                      })
                    }
                    if (cKey === 'ANIMALCHECK') { // 动物
                      this.sitList.import[oKey][i].statusWrap[5] = ({
                        number: this.sitList.import[oKey][i].status.ANIMALCHECK,
                        content: '<i class="iconfont">&#xe687;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.ANIMALCHECK')
                      })
                    }
                    if (cKey === 'PLANTCHECK') { // 植物
                      this.sitList.import[oKey][i].statusWrap[6] = ({
                        number: this.sitList.import[oKey][i].status.PLANTCHECK,
                        content: '<i class="iconfont">&#xe669;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.PLANTCHECK')
                      })
                    }
                    if (cKey === 'DATACOMPARE') { // 综合检查
                      this.sitList.import[oKey][i].statusWrap[7] = ({
                        number: this.sitList.import[oKey][i].status.DATACOMPARE,
                        content: '<i class="iconfont">&#xe638;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.DATACOMPARE')
                      })
                    }
                    if (cKey === 'PHYSICALINSPECTION') { // 人工查验
                      this.sitList.import[oKey][i].statusWrap[8] = ({
                        number: this.sitList.import[oKey][i].status.PHYSICALINSPECTION,
                        content: '<i class="iconfont">&#xe652;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.PHYSICALINSPECTION')
                      })
                    }
                    if (cKey === 'RELEASECONFIRM') { // 放行确认
                      this.sitList.import[oKey][i].statusWrap[9] = ({
                        number: this.sitList.import[oKey][i].status.RELEASECONFIRM,
                        content: '<i class="iconfont">&#xe639;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.RELEASECONFIRM')
                      })
                    }
                    if (cKey === 'ELOCKRELEASE') { // 挂锁
                      this.sitList.import[oKey][i].statusWrap[10] = ({
                        number: this.sitList.import[oKey][i].status.ELOCKRELEASE,
                        content: '<i class="iconfont">&#xe62c;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.ELOCKRELEASE')
                      })
                    }
                    if (cKey === 'CUSTOMSINSPECTEXIT') { // 自助放行
                      this.sitList.import[oKey][i].statusWrap[11] = ({
                        number: this.sitList.import[oKey][i].status.CUSTOMSINSPECTEXIT,
                        content: '<i class="iconfont">&#xe66a;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.CUSTOMSINSPECTEXIT')
                      })
                    }
                    if (cKey === 'MANUALRELEASE') { // 人工放行
                      this.sitList.import[oKey][i].statusWrap[12] = ({
                        number: this.sitList.import[oKey][i].status.MANUALRELEASE,
                        content: '<i class="iconfont">&#xe7dd;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.MANUALRELEASE')
                      })
                    }
                  }
                }
              }
            }
          }
          for (let oKey in this.sitList.export) { // 出境
            if (this.sitList.export[oKey]) {
              for (let i in this.sitList.export[oKey]) {
                this.sitList.export[oKey][i].statusWrap = []
                if (this.sitList.export[oKey][i].checkInTime) {
                  this.sitList.export[oKey][i].checkInTime = this.$formatDateTime(this.sitList.export[oKey][i].checkInTime, this.$t('ViBorder.common.formatDate'))
                }
                if (this.sitList.export[oKey][i].spendTime) {
                  let time = (this.sitList.export[oKey][i].spendTime / 60).toFixed(1)
                  this.sitList.export[oKey][i].spendTime = this.$t('ViBorder.businessLogicCommon.minutes', {msg: time})
                }
                if (this.sitList.export[oKey][i].vehicleType === 'TRUCK' || this.sitList.export[oKey][i].vehicleType === 'OVERLIMITTRUCK') {
                  this.sitList.export[oKey][i].icon = '<i class="iconfont">&#xe63a;</i>'
                  this.sitList.export[oKey][i].title = this.$t('ViBorder.businessLogicCommon.truck')
                }
                if (this.sitList.export[oKey][i].vehicleType === 'EMPTYTRUCK') {
                  this.sitList.export[oKey][i].icon = '<i class="iconfont">&#xe6dc;</i>'
                  this.sitList.export[oKey][i].title = this.$t('ViBorder.DIC.VEHICLETYPE.EMPTYTRUCK')
                }
                if (this.sitList.export[oKey][i].vehicleType === 'BUS') {
                  this.sitList.export[oKey][i].icon = '<i class="iconfont">&#xe72b;</i>'
                  this.sitList.export[oKey][i].title = this.$t('ViBorder.DIC.VEHICLETYPE.BUS')
                }
                if (this.sitList.export[oKey][i].vehicleType === 'COMMODITYCAR') {
                  this.sitList.export[oKey][i].icon = '<i class="iconfont">&#xe64a;</i>'
                  this.sitList.export[oKey][i].title = this.$t('ViBorder.DIC.VEHICLETYPE.COMMODITYCAR')
                }
              }
            }
          }
          for (let oKey in this.sitList.export) { // 出境
            if (this.sitList.export[oKey]) {
              for (let i in this.sitList.export[oKey]) {
                if (this.sitList.export[oKey][i] && this.sitList.export[oKey][i].status) {
                  this.sitList.export[oKey][i].statusWrap = [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}]
                  for (let cKey in this.sitList.export[oKey][i].status) {
                    if (cKey === 'CUSTOMSINSPECTENTRY') { // 信息注册
                      this.sitList.export[oKey][i].statusWrap[0] = ({
                        number: this.sitList.export[oKey][i].status.CUSTOMSINSPECTENTRY,
                        content: '<i class="iconfont">&#xe60a;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.CUSTOMSINSPECTENTRY')
                      })
                    }
                    if (cKey === 'MEASURE') { // 测量
                      this.sitList.export[oKey][i].statusWrap[1] = ({
                        number: this.sitList.export[oKey][i].status.MEASURE,
                        content: '<i class="iconfont">&#xe637;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.MEASURE')
                      })
                    }
                    if (cKey === 'XRAYSCAN') { // 扫描
                      this.sitList.export[oKey][i].statusWrap[2] = ({
                        number: this.sitList.export[oKey][i].status.XRAYSCAN,
                        content: '<i class="iconfont">&#xe70e;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.XRAYSCAN')
                      })
                    }
                    if (cKey === 'TRAFFICCONFIRM') { // 交通确认
                      this.sitList.export[oKey][i].statusWrap[3] = ({
                        number: this.sitList.export[oKey][i].status.TRAFFICCONFIRM,
                        content: '<i class="iconfont">&#xe636;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.TRAFFICCONFIRM')
                      })
                    }
                    if (cKey === 'HEALTHCHECK') { // 卫生
                      this.sitList.export[oKey][i].statusWrap[4] = ({
                        number: this.sitList.export[oKey][i].status.HEALTHCHECK,
                        content: '<i class="iconfont">&#xe668;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.HEALTHCHECK')
                      })
                    }
                    if (cKey === 'ANIMALCHECK') { // 动物
                      this.sitList.export[oKey][i].statusWrap[5] = ({
                        number: this.sitList.export[oKey][i].status.ANIMALCHECK,
                        content: '<i class="iconfont">&#xe687;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.ANIMALCHECK')
                      })
                    }
                    if (cKey === 'PLANTCHECK') { // 植物
                      this.sitList.export[oKey][i].statusWrap[6] = ({
                        number: this.sitList.export[oKey][i].status.PLANTCHECK,
                        content: '<i class="iconfont">&#xe669;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.PLANTCHECK')
                      })
                    }
                    if (cKey === 'DATACOMPARE') { // 综合检查
                      this.sitList.export[oKey][i].statusWrap[7] = ({
                        number: this.sitList.export[oKey][i].status.DATACOMPARE,
                        content: '<i class="iconfont">&#xe638;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.DATACOMPARE')
                      })
                    }
                    if (cKey === 'ELOCKRECOVER') { // 摘锁
                      this.sitList.export[oKey][i].statusWrap[8] = ({
                        number: this.sitList.export[oKey][i].status.ELOCKRECOVER,
                        content: '<i class="iconfont">&#xe60c;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.ELOCKRECOVER')
                      })
                    }
                    if (cKey === 'PHYSICALINSPECTION') { // 人工查验
                      this.sitList.export[oKey][i].statusWrap[9] = ({
                        number: this.sitList.export[oKey][i].status.PHYSICALINSPECTION,
                        content: '<i class="iconfont">&#xe652;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.PHYSICALINSPECTION')
                      })
                    }
                    if (cKey === 'RELEASECONFIRM') { // 放行确认
                      this.sitList.export[oKey][i].statusWrap[10] = ({
                        number: this.sitList.export[oKey][i].status.RELEASECONFIRM,
                        content: '<i class="iconfont">&#xe639;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.RELEASECONFIRM')
                      })
                    }
                    if (cKey === 'CUSTOMSINSPECTEXIT') { // 自助放行
                      this.sitList.export[oKey][i].statusWrap[11] = ({
                        number: this.sitList.export[oKey][i].status.CUSTOMSINSPECTEXIT,
                        content: '<i class="iconfont">&#xe66a;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.CUSTOMSINSPECTEXIT')
                      })
                    }
                    if (cKey === 'MANUALRELEASE') { // 人工放行
                      this.sitList.export[oKey][i].statusWrap[12] = ({
                        number: this.sitList.export[oKey][i].status.MANUALRELEASE,
                        content: '<i class="iconfont">&#xe7dd;</i>',
                        title: this.$t('ViBorder.DIC.INSPECTSTEP.MANUALRELEASE')
                      })
                    }
                  }
                }
              }
            }
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    switchChange (val) {
    },
    query () { // 表单查询方法
      let lpn = this.nowVehicleNumber.toUpperCase()
      let id
      if (this.inOrOut === 'IMPORT') {
        for (let oKey in this.sitList.import) {
          for (let i in this.sitList.import[oKey]) {
            if (lpn === this.sitList.import[oKey][i].lpn.toUpperCase()) {
              id = this.sitList.import[oKey][i].vehicleId
            }
          }
        }
      } else if (this.inOrOut === 'EXPORT') {
        for (let oKey in this.sitList.export) {
          for (let i in this.sitList.export[oKey]) {
            if (lpn === this.sitList.export[oKey][i].lpn.toUpperCase()) {
              id = this.sitList.export[oKey][i].vehicleId
            }
          }
        }
      }
      let dom = document.getElementById(id)
      if (id) {
        let info = document.getElementById('infolist')
        let allwidth = dom.offsetLeft + dom.offsetWidth
        let allhegiht = dom.offsetTop + dom.offsetHeight
        let allinfowidth = info.offsetLeft + info.offsetWidth
        let allinfohegiht = info.offsetTop + info.offsetHeight
        let width
        let height
        if (allhegiht > allinfohegiht) {
          height = allhegiht - allinfohegiht + dom.offsetHeight
        } else {
          height = 0
        }
        if (allwidth > allinfowidth) {
          width = allwidth - allinfowidth + dom.offsetWidth
        } else {
          width = 0
        }
        info.scrollTo(width, height)
      } else {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          position: 'top-right',
          type: 'warning',
          offset: this.notifyOffset
        })
      }
    },
    tabClick (val) {
      this.inOrOut = val
      this.initPageData(val)
    },
    endMeasure (scope) { // 结束测量
      let id = {vehicleId: scope.vehicleId}
      let scb = () => {
        handleData._endMeasure(id).then(res => {
          if (res.data.flag) {
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.IC.endMeasureSuccess'),
              type: 'success',
              offset: this.notifyOffset
            })
            this.initPageData(this.inOrOut)
          }
          return res.data.flag
        }).catch((err) => {
          console.log('err', err)
          return false
        })
      }
      this.confirmModal({tips: this.$t('ViBorder.IC.sureSkipMeasurement'), scb})
    },
    endProcess (scope) { // 结束进程
      let id = {vehicleIds: scope.vehicleId}
      let scb = () => {
        handleData._endProcess(id).then(res => {
          if (res.data.flag) {
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.IC.endSuccess'),
              type: 'success',
              offset: this.notifyOffset
            })
            this.initPageData(this.inOrOut)
          }
          return res.data.flag
        }).catch((err) => {
          console.log('err', err)
          return false
        })
      }
      this.confirmModal({tips: this.$t('ViBorder.IC.sureEndProcess'), scb})
    },
    detail (scope) {
      sessionStorage.setItem('vehicleId', scope.vehicleId)
      this.$router.push({path: '/ic/taskRegulatoryDetail'})
    },
    automatic () {
      if (this.isManual) {
        this.isManual = false
        this.refreshPic = '<i class="iconfont">&#xe68a;</i>'
        if (_setTimeInter) {
          clearInterval(_setTimeInter)
        }
      } else {
        this.isManual = true
        this.refreshPic = '<i class="iconfont">&#xe663;</i>'
        _setTimeInter = setInterval(() => {
          this.initPageData(this.inOrOut)
        }, window.config.refreshTime)
      }
    },
    refresh () {
      this.initPageData(this.inOrOut)
    }
  },
  beforeDestroy () {
    if (_setTimeInter) {
      clearInterval(_setTimeInter)
    }
  },
  watch: {
    'nowVehicleNumber': {
      handler (v1, v2) {
        // let reg = /^[A-Za-z]+$/
        // reg.test(v1)
        this.middleData = v1
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.taskPage {
  background-color: #000;
  .margins span:last-child .el-breadcrumb__inner.is-link {
    color: #fff;
  }
}
.taskPage {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .infolist {
      height: 90% !important;
    }
    .infolist::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    .infolist::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgba(23, 99, 179, 0.9);
    }
    .infolist::-webkit-scrollbar-track {
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
    }
    .infolist::-webkit-scrollbar-corner {
      background: rgba(0, 0, 0, 0);
    }
    .inAndOut {
      height: 40px;
      overflow: hidden;
      .tab-item {
        width: 120px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        box-sizing: border-box;
        border: 2px #005d8c solid;
        float: left;
        margin-right: 10px;
        background-color: #02101f;
        color: #00d5ff;
        cursor: pointer;
      }
      .active {
        border: 2px #00bfff solid;
        background-color: #02516d;
        color: #fff;
        pointer-events: none;
      }
      .tab-item:hover {
        color: #fff;
      }
      .search-wrap {
        float: right;
        width: 400px;
        margin-top: 5px;
        @include flex(row, space-between, center);
        .el-input--mini{
          color: #00b5ff;
          .el-input__inner {
            padding: 0 30px 0 15px;
          }
        }
        .search-btn {
          position: relative;
          left: -30px;
          top:4px;
          .el-icon-search {
            font-size: 20px;
            cursor: pointer;
            color: #00b5ff;
          }
        }
        .el-input {
          width: 300px;
          .el-input__inner {
            background-color: #021526 !important;
            border: 1px #00b5ff solid !important;
            color: #00b5ff;
            &::-webkit-input-placeholder { /* WebKit browsers */
              color:#005d8c;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color:#005d8c;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
              color:#005d8c;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
              color:#005d8c;
            }
          }
        }
      }
      .icon {
        width: 30px;
        height: 30px;
        background: $buttonBorder no-repeat center;
        background-size: 100% 100%;
        text-align: center;
        line-height: 30px;
        color: #5dd8f6;
        cursor: pointer;
      }
      .ManuallyRefresh {
        pointer-events: none;
        color: #ccc;
        cursor: not-allowed;
      }
    }
    .infolist {
      display: block;
      height: auto;
      border: 1px #00bfff solid;
      overflow-x: scroll;
      padding: 10px;
      .siteData-wrap {
        display: flex;
        margin-right: 10px;
        .siteData {
          flex: 1;
          min-width: 320px;
          margin: 10px;
          text-align: left;
          font-size: 14px;
          background-color: #102147;
          .title {
            height: 45px;
            color: #fff;
            background-color: #121331;
            padding-left: 10px;
            padding-top: 5px;
            box-sizing: border-box;
            .title-icon {
              float: left;
              height: 100%;
            }
            .iconfont {
              color: #1782d4;
              margin-right: 10px;
              font-size: 15px;
              font-weight: bold;
            }
          }
          .content {
            padding: 10px;
            .content-item {
              width: $all;
              overflow: hidden;
              box-sizing: border-box;
              @include rounded(5px);
              margin-bottom: 10px;
              .item-title {
                padding: 8px;
                overflow: hidden;
                background: $taskTitleBg1 no-repeat center;
                background-size: 100% 100%;
                color: #1782d4;
                .item-title-left {
                  float: left;
                }
                .item-title-right {
                  float: right;
                }
              }
            }
            .redBorder {
              border: 2px red solid;
            }
            .blueBorder {
              border: 2px green solid;
            }
            .panel-title-left {
              font-size: 14px !important;
            }
            .iconfont {
              margin: 0 5px;
              cursor: pointer;
            }
            .time-wrap {
              padding: 10px;
              border: 1px #0d637f dashed;
              border-top: none;
              box-sizing: border-box;
              .time {
                padding: 5px;
                span {
                  display: inline-block;
                  color: #00d5ff;
                }
                .time-label {
                  line-height: 0;
                  display: inline-block;
                  text-align:justify;
                  text-justify:distribute-all-lines;/*ie6-8*/
                  text-align-last:justify;/* ie9*/
                  -moz-text-align-last:justify;/*ff*/
                  -webkit-text-align-last:justify;/*chrome 20+*/
                  &:after{
                    content: "";
                    display: inline-block;
                    width: 100%;
                  }
                }
              }
              .pic-wrap {
                padding-left: 5px;
                margin: 10px 0;
                .iconfont {
                  margin: 0 1px;
                }
                .pending {
                  color: #ccc;
                }
                .completed {
                  color: #5bd4f2;
                }
                .going {
                  color: #35cf35;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
