<template>
  <report :reportModule="reportModule"></report>
</template>

<script>
import report from '../common/commonReport'
export default {
  name: 'traffic-report',
  data () {
    return {
      reportModule: {
        name: 'traffic',
        backTitle: {
          label: this.$t('ViBorder.IC.trafficReport'),
          path: '' // 跳转路径
        }
      }}
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {report}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
</style>
