<template>
  <div class='approaching-vehicle' v-bar>
    <div class="audit-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <!-- <i class="iconfont">&#xe745;</i> -->
          </panelTitle>
          <!-- 表格 -->
          <div class="table-wrap" v-bar>
            <div class="table-M">
              <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
            </div>
          </div>
          <!-- 返回按钮 -->
          <div class="btn-wrap"><el-button @click="goBack">{{$t('ViBorder.common.back')}}</el-button></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/vehicleEventQuery.js'
export default {
  data () {
    return {
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.vehicleInspectionQuery'),
            path: '/ic/vehicleEventQuery' // 跳转路径
          },
          {
            label: this.$t(sessionStorage.getItem('panelTitle'))
          }
        ]
      },
      history: sessionStorage.getItem('history'),
      vehicleId: sessionStorage.getItem('vehicleId'),
      eventOrCommand: sessionStorage.getItem('eventOrCommand'),
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.from'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'originPortI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          models: '',
          type: 'onlyRead',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          models: '',
          type: 'onlyRead',
          ruleProp: 'containerNumber'
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.IC.eventTime'),
          type: 'text',
          model: 'eventDateTime'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.area'),
          type: 'text',
          model: 'site.key'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.laneNo'),
          type: 'text',
          model: 'laneNumber'
        },
        {
          label: this.$t('ViBorder.IC.device'),
          type: 'text',
          model: 'device.key'
        },
        {
          label: this.$t('ViBorder.IC.deviceNo'),
          type: 'text',
          model: 'deviceNumber'
        },
        {
          label: this.$t('ViBorder.IC.event'),
          type: 'text',
          model: 'event'
        },
        {
          label: this.$t('ViBorder.IC.eventContent'),
          type: 'tableFormPopper',
          model: 'jsonObject',
          icon: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          fixed: 'right'
        }
      ]
    }
  },
  created () {
    this.getTableData(this.history, this.eventOrCommand, {page: 0, size: 10})
  },
  mounted () {
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    // *********************************** 页面逻辑 *****************************************
    getTableData (history, eventOrCommand, pageSize) { // 获取表格初始数据 模拟请求回来的数据
      let self = this
      let obj = Object.assign(pageSize, {'vehicleId': this.vehicleId})
      if (eventOrCommand === 'event') {
        if (history === 'true') {
          handleData._auditDetailHistoryEv(obj).then(res => {
            if (res.data.flag) {
              setData(res)
            }
          }).catch(err => {
            console.log(err)
          })
        } else if (history === 'false') {
          handleData._auditDetailEv(obj).then(res => {
            if (res.data.flag) {
              setData(res)
            }
          }).catch(err => {
            console.log(err)
          })
        }
      } else if (eventOrCommand === 'command') {
        this.tableGroup = [ // 表格数据列
          {
            label: this.$t('ViBorder.IC.sendCommandTime'),
            type: 'text',
            model: 'sendDateTime'
          },
          {
            label: this.$t('ViBorder.businessLogicCommon.area'),
            type: 'text',
            model: 'site.key'
          },
          {
            label: this.$t('ViBorder.businessLogicCommon.laneNo'),
            type: 'text',
            model: 'laneNumber'
          },
          {
            label: this.$t('ViBorder.IC.device'),
            type: 'text',
            model: 'device.key'
          },
          {
            label: this.$t('ViBorder.IC.deviceNo'),
            type: 'text',
            model: 'deviceNumber'
          },
          {
            label: this.$t('ViBorder.IC.command'),
            type: 'text',
            model: 'command'
          },
          {
            label: this.$t('ViBorder.IC.source'),
            type: 'text',
            model: 'source'
          },
          {
            label: this.$t('ViBorder.IC.commandContent'),
            type: 'tableFormPopper',
            model: 'jsonObject',
            icon: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
            fixed: 'right'
          }
        ]
        if (history === 'true') {
          handleData._auditDetailHistoryCo(obj).then(res => {
            if (res.data.flag) {
              setData(res)
            }
          }).catch(err => {
            console.log(err)
          })
        } else if (history === 'false') {
          handleData._auditDetailCo(obj).then(res => {
            if (res.data.flag) {
              setData(res)
            }
          }).catch(err => {
            console.log(err)
          })
        }
      }
      function setData (res) {
        if (res.data.result.totalElements) { // 总数存在的话 加分页
          self.tableData.isPage = true
        } else {
          self.tableData.isPage = false
        }
        self.tableData.page = {
          CurrentPage: parseInt(res.data.result.number + 1, 10),
          pagesize: res.data.result.size,
          handleSizeChange: self.handleSizeChange, // 分页条数改变触发该函数
          handleCurrentChange: self.handleCurrentChange, // 当前页码改变触发改函数
          Allpage: res.data.result.totalElements
        }
        self.formRule.model.size = res.data.result.size
        self.formRule.model.CurrentPage = res.data.result.number
        self.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
        self.tableData.data = self.unifiedFormData(res.data.result.content)
      }
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'eventDateTime': case 'sendDateTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'site': case 'device':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
                case 'jsonObject':
                  if (element[oKey]) {
                    for (let cKey in element[oKey]) {
                      if (cKey === 'operationTime' || cKey === 'timestamp' || cKey === 'startTime' || cKey === 'endTime' || cKey === 'arrivalTime' || cKey === 'checkInTime' || cKey === 'checkInDateTime' || cKey === 'checkOutDateTime') {
                        if (element[oKey][cKey].length === 23) {
                          element[oKey][cKey] = (element[oKey][cKey].substring(0, element[oKey][cKey].length - 4))
                        }
                        if (this.$store.state.lang !== 'zh-CN') {
                          let str = element[oKey][cKey]
                          element[oKey][cKey] = str.substring(8, 10) + '.' + str.substring(5, 7) + '.' + str.substring(0, 4) + ' ' + str.substring(11)
                        }
                      }
                    }
                  }
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    goBack () {
      this.$router.push({path: '/ic/vehicleEventQuery'})
    },
    tableEdit (selection) { // 操作
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      let handlesize = {...{size: val, page: 0}}
      this.getTableData(this.history, this.eventOrCommand, handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}}
        this.getTableData(this.history, this.eventOrCommand, handlesize)
      }
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        }
        let handlesize = this.getQueryParam({...{size: 10, page: 0}, ...sort, ...param})
        this.getTable(handlesize)
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.approaching-vehicle {
  @extend .extend-bar;
  .audit-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        width: $all !important;
        height: $all !important;
        position: relative;
        .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
        .table-wrap {
          @extend .extend-bar;
          height: calc(100% - 100px) !important;
          .table-M {
            box-sizing: border-box !important;
          }
        }
        .btn-wrap {
          position:absolute;
          left: 0;
          right: 0;
          bottom: 10px;
          .el-button--primary.is-plain {
            color: #fff;
          }
        }
        .tableForm {
          width: 100%;
          .el-form {
            @include flex(row, center, center);
            .el-form-item {
              flex: 1;
            }
          }
        }
      }
    }
  }
}
</style>
