<template>
  <div class="statisticalReportDetails" v-bar>
    <statisticalReportDetails :propsData="propsData" :isCompleted="isCompleted"></statisticalReportDetails>
    <downloadPage :propsData="propsData" :isCompleted="isCompleted"></downloadPage>
  </div>
</template>

<script>
import statisticalReportDetails from './statisticalReportDetails'
import downloadPage from '../../components/IC/downloadPage'
import handleData from '../../api/IC/vehicleTransactionStatusReport'
export default {
  name: 'vehicleReportDetails',
  data () {
    return {
      propsData: {},
      isCompleted: false
    }
  },
  created () {
    handleData._findDetail({vehicleId: sessionStorage.getItem('vehicleId')}).then(res => {
      const {flag, result} = res.data
      if (flag) {
        this.propsData = result
        this.isCompleted = true
      }
    })
  },
  components: {statisticalReportDetails, downloadPage}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.statisticalReportDetails {
  height: $all;
  width: $all;
  @extend .extend-bar;
}
</style>
