<template>
  <div id="vehicle-transaction-status-report" v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="com-ci-M">
      <div class="bread-crumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <div class="panel">
        <panelTitle :panelTitleInit="panelTitle.queryTitle">
        </panelTitle>
        <div class="search-box">
          <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
        </div>
      </div>
      <div class="panel export_print_block_1_1">
        <panelTitle :panelTitleInit="panelTitle.reportTitle">
          <i class="iconfont" @click="exportPdf">&#xe632;</i>
          <i class="iconfont" @click="exportExcel">&#xe745;</i>
          <i class="iconfont" @click="print">&#xe68b;</i>
        </panelTitle>
        <div class="middle-info">
          <div class="time-info">
            <p class="line">{{$t('ViBorder.IC.vehicleStatisticsInterval')}} {{times.checkInTime | formatDate($t(`ViBorder.common.dateFormat`))}} & {{times.checkOutTime | formatDate($t(`ViBorder.common.dateFormat`))}}</p>
            <p class="line">{{$t('ViBorder.IC.reportStatisticsTime')}} {{times.reportTime | formatDate($t(`ViBorder.common.formatDate`))}}</p>
            <div class="block-in block">{{$t('ViBorder.businessLogicCommon.in')}}:{{pieData.inboundCnt || 0}}</div>
            <div class="block-out block">{{$t('ViBorder.businessLogicCommon.out')}}:{{pieData.outboundCnt || 0}}</div>
          </div>
          <div class="pie-info">
            <div id="vtsr_echart_pie_1" style="width: calc(100% / 2); height: 100%;"></div>
            <div id="vtsr_echart_pie_2" style="width: calc(100% / 2); height: 100%;"></div>
          </div>
        </div>
        <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
      </div>
      <div class="chart-list panel export_print_block_1_1" id="print-v-t-s-r">
        <panelTitle :panelTitleInit="panelTitle.reportTitle">
        </panelTitle>
        <div class="middle-info1" id="export_print_block_1_1">
          <div class="time-info">
            <p class="line">Vehicle Transaction Detail between {{times.checkInTime | formatDate($t(`ViBorder.common.dateFormat`))}} & {{times.checkOutTime | formatDate($t(`ViBorder.common.dateFormat`))}}</p>
            <p class="line">Report Executton Time {{times.reportTime | formatDate($t(`ViBorder.common.formatDate`))}}</p>
            <div class="block-in block">{{$t('ViBorder.businessLogicCommon.in')}}:{{pieData.inboundCnt || 0}}</div>
            <div class="block-out block">{{$t('ViBorder.businessLogicCommon.out')}}:{{pieData.outboundCnt || 0}}</div>
          </div>
          <div class="pie-info">
            <div id="vtsr_echart_pie_11" style="width: calc(100% / 2); height: 100%;"></div>
            <div id="vtsr_echart_pie_22" style="width: calc(100% / 2); height: 100%;"></div>
          </div>
        </div>
        <ComTable :tableData='allListTableData' :tableGroup='tableGroup'></ComTable>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/vehicleTransactionStatusReport'
import downloadPage from '../../components/IC/downloadPage'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
import PrintJs from 'print-js'
import html2Canvas from 'html2canvas'
export default {
  name: 'vehicle-transaction-status-report',
  data () {
    let vehicleLengthRule = () => {
      return [ // 长度校验
        { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') },
        { min: 1, max: 500, message: this.$t('ViBorder.TC.meterError'), trigger: 'blur' }
      ]
    }
    let otherRules = () => {
      return [
        { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') },
        { min: 1, max: 100, message: this.$t('ViBorder.TC.meterError'), trigger: 'blur' }
      ]
    }
    let validateFn = (rule, value, callback) => {
      let [minNum, maxNum] = value || [0, 0]
      let [a, b] = rule.field === 'vehicleLength' ? vehicleLengthRule() : otherRules()
      if (!a.pattern.test(Number(minNum)) || !a.pattern.test(Number(maxNum))) {
        callback(new Error(a.message))
      }
      if ((minNum && minNum.length) > b.max || (maxNum && maxNum.length) > b.max) {
        callback(new Error(b.message))
      }
    }
    return {
      loading: false,
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t('ViBorder.systemModule.IC.headTitle'),
            path: '' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.vehicleTransactionStatusReport'),
            path: '' // 跳转路径
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        reportTitle: {
          title: this.$t('ViBorder.IC.report')
        }
      },
      inputItem: [],
      initSearchCondition: [
        {
          getLabel: this.$t('ViBorder.IC.statisticalReport'),
          type: 'select',
          placeHolder: this.$t('ViBorder.IC.pleaseSelectStatisticalReport'),
          models: '',
          option: [],
          ruleProp: 'statisticalReport',
          change: this.handleChange
        }
      ],
      checkInDate: [
        { // 检入日期
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkInTime',
          clearable: false
        }
      ],
      allSearchCondition: [
        { // 报关单号
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          maxlength: '100',
          ruleProp: 'declarationNumber'
        },
        { // 集装箱
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'
        },
        { // 前车牌
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        { // 后车牌
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.lpnBackWarn'),
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        { // 任务结束类型
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          ruleProp: 'normalEnd',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          clearable: true
        },
        { // 车辆放行状态
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.IC.inspection'),
              value: 'current'
            },
            {
              label: this.$t('ViBorder.IC.history'),
              value: 'history'
            }
          ],
          ruleProp: 'vehicleState',
          clearable: true
        },
        { // 车辆类型
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'vehicleType'
        },
        { // 业务类型
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'businessType'
        },
        { // 测量类型
          getLabel: this.$t('ViBorder.IC.measurementType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          ruleProp: 'measureType',
          clearable: true
        },
        { // 扫描通道
          getLabel: this.$t('ViBorder.businessLogicCommon.scanLane'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'siteLane',
          clearable: true
        },
        { // 检入员
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'checkInOperator',
          clearable: true,
          prmCode: 'VIBORDER-CHECKIN'
        },
        { // 交通查验员
          getLabel: this.$t('ViBorder.businessLogicCommon.transiportPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'transportOperator',
          clearable: true,
          prmCode: 'VIBORDER-TC'
        },
        { // 动物查验员
          getLabel: this.$t('ViBorder.businessLogicCommon.animalPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'animalOperator',
          clearable: true,
          prmCode: 'VIBORDER-AC'
        },
        { // 卫生查验员
          getLabel: this.$t('ViBorder.businessLogicCommon.healthPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'healthOperator',
          clearable: true,
          prmCode: 'VIBORDER-HC'
        },
        { // 植物查验员
          getLabel: this.$t('ViBorder.businessLogicCommon.plantPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'plantOperator',
          clearable: true,
          prmCode: 'VIBORDER-PC'
        },
        { // 审图员
          getLabel: this.$t('ViBorder.businessLogicCommon.viewPicPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'diOperator',
          clearable: true,
          prmCode: 'VIBORDER-DC'
        },
        { // 手检员
          getLabel: this.$t('ViBorder.PI.inspectionPiUser'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'piOperator',
          clearable: true,
          prmCode: 'VIBORDER-PI'
        },
        { // 放行员
          getLabel: this.$t('ViBorder.businessLogicCommon.checkOutPerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'checkOutOperator',
          clearable: true,
          prmCode: 'VIBORDER-CHECKOUT'
        },
        { // 放行确认员
          getLabel: this.$t('ViBorder.businessLogicCommon.releasePerson'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'releaseOperator',
          clearable: true,
          prmCode: 'VIBORDER-RC'
        },
        { // 动物查验结论
          getLabel: this.$t('ViBorder.businessLogicCommon.animalConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'animalConclusion',
          clearable: true
        },
        { // 植物查验结论
          getLabel: this.$t('ViBorder.businessLogicCommon.plantConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'plantConclusion',
          clearable: true
        },
        { // 卫生查验结论
          getLabel: this.$t('ViBorder.businessLogicCommon.healthConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'healthConclusion',
          clearable: true
        },
        { // 交通查验结论
          getLabel: this.$t('ViBorder.businessLogicCommon.transiportConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'transiportConclusion',
          clearable: true
        },
        { // 综合查验结论
          getLabel: this.$t('ViBorder.businessLogicCommon.dcConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'diConclusion',
          clearable: true
        },
        { // 人工查验结论
          getLabel: this.$t('ViBorder.businessLogicCommon.inspectionPiConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'piConclusion',
          clearable: true
        },
        { // 放行结论
          getLabel: this.$t('ViBorder.CHECKOUT.releaseConclusion'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'releaseConclusion',
          clearable: true
        },
        { // 是否物流监管
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.common.yes'),
              value: true
            },
            {
              label: this.$t('ViBorder.common.error'),
              value: false
            }
          ],
          ruleProp: 'logistics',
          clearable: true
        },
        { // 是否拖车
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.common.yes'),
              value: true
            },
            {
              label: this.$t('ViBorder.common.error'),
              value: false
            }
          ],
          ruleProp: 'trailer',
          clearable: true
        },
        { // 车辆环节
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStep'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'inspectStep',
          clearable: true
        },
        { // 目的地
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'select2',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'destination',
          clearable: true
        },
        { // 扫描日期
          getLabel: this.$t('ViBorder.businessLogicCommon.scanDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.scanDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'scanTime',
          clearable: false
        },
        { // 测量开始日期
          getLabel: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'enterTunnelTime',
          clearable: false
        },
        { // 测量结束日期
          getLabel: this.$t('ViBorder.businessLogicCommon.measureEndDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.measureEndDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'leftTunnelTime',
          clearable: false
        },
        { // 放行日期
          getLabel: this.$t('ViBorder.businessLogicCommon.releaseDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.releaseDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'releaseTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.length'),
          type: 'text2',
          ruleProp: 'vehicleLength',
          models: '',
          initData: [
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.length'),
              model: ''
            },
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.length'),
              model: ''
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.width'),
          type: 'text2',
          models: '',
          ruleProp: 'vehicleWidth',
          initData: [
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.width'),
              model: ''
            },
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.width'),
              model: ''
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.height'),
          type: 'text2',
          models: '',
          ruleProp: 'vehicleHeight',
          initData: [
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.height'),
              model: ''
            },
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.height'),
              model: ''
            }
          ]
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.totalWeight'),
          type: 'text2',
          models: '',
          ruleProp: 'total',
          initData: [
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.totalWeight'),
              model: ''
            },
            {
              placeHolder: this.$t('ViBorder.businessLogicCommon.totalWeight'),
              model: ''
            }
          ]
        }
      ],
      queryFn: { // 页面表单查询方法
        query: this.btnListQuery,
        close: this.reset,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
          total: [
            { validator: validateFn, trigger: 'blur' }
          ],
          vehicleLength: [
            { validator: validateFn, trigger: 'blur' }
          ],
          vehicleWidth: [
            { validator: validateFn, trigger: 'blur' }
          ],
          vehicleHeight: [
            { validator: validateFn, trigger: 'blur' }
          ]
        },
        model: {}
      },
      sortParm: {},
      tableData: { // 表格数据
        isBorder: true,
        isStripe: true,
        isPage: false,
        // MaxHeight: '730',
        refName: 'multipleTable',
        sortMethod: this.getSortTable, // 新增排序方法
        data: [],
        defaultSort: {order: 'descending'}
      },
      allListTableData: { // 表格数据
        isBorder: true,
        isStripe: true,
        isPage: false,
        // MaxHeight: '730',
        refName: 'multipleTable',
        sortMethod: () => {}, // 新增排序方法
        data: []
      },
      pageOptions: {},
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          // width: '260',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          // width: '170',
          model: 'licensePlateNumber'
        },
        // {
        //   label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
        //   type: 'text',
        //   model: 'licensePlateNumberBack'
        //   // width: '220'
        // },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'text',
          model: 'vehicleType'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          // width: '150',
          model: 'businessType'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          width: '160',
          model: 'operationUserName'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      operation: [
        {
          func: this.jump2Page,
          // func: this.downloadPage,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      times: {
        checkInTime: '',
        checkOutTime: '',
        reportTime: ''
      },
      pieData: {},
      pageOption: {}
    }
  },
  created () {
    // this.useCachedOptions2Search()
    this.inputItem = this.initSearchCondition
    // this.getReportName()
    Promise.all([this.getReportName(), this.useCachedOptions2Search()])
    this.insertFormTimeRule()
  },
  mounted () {
    let myEchart1 = this.$echarts.init(document.getElementById(`vtsr_echart_pie_1`))
    let myEchart2 = this.$echarts.init(document.getElementById(`vtsr_echart_pie_2`))
    let myEchart11 = this.$echarts.init(document.getElementById(`vtsr_echart_pie_11`))
    let myEchart22 = this.$echarts.init(document.getElementById(`vtsr_echart_pie_22`))
    window.onresize = () => {
      myEchart1.resize()
      myEchart2.resize()
      myEchart11.resize()
      myEchart22.resize()
    }
  },
  destroyed () {
    this.$store.commit({
      type: 'getNewSearchCondition',
      addNewSearchCondition: false
    })
    this.resetTime()
  },
  methods: {
    getCachedOptions () {
      return this.$store.state.searchConditionOption.vehicleTransactionStatusReport
    },
    useCachedOptions2ShowPageInputInitData () {
      let p = this.getCachedOptions() || []
      // 将从store获取的数组数据组装为对象键值对
      if (p.length) {
        let obj = {}
        p.forEach(item => {
          let key = Object.keys(item)
          Object.assign(obj, {[key]: item[key]})
        })
        this.$store.commit({
          type: 'cacheSearchCondition',
          searchConditionOption: {
            vehicleTransactionStatusReport: p
          }
        })
        // 请求选择哪个报表的接口并且赋初始的文本数据
        this.handleChange(p[0].statisticalReport, () => {
          this.inputItem.forEach(e => {
            if (e.type === 'text2') {
              e.initData[0].model = obj[e.ruleProp] && obj[e.ruleProp][0]
              e.initData[1].model = obj[e.ruleProp] && obj[e.ruleProp][1]
            } else {
              e.models = obj[e.ruleProp]
            }
          })
          this.inputItem[0].models = p[0].statisticalReport
          let initSortKey = {
            'checkInTime,ASC': {order: 'descending'},
            'checkInTime,DESC': {order: 'ascending'}
          }
          let sortKey = p.find(e => {
            if (Object.keys(e)[0] === 'sort') {
              return e
            }
          }).sort
          this.tableData.defaultSort = sortKey && initSortKey[sortKey]
        })
        this.pageOption = obj
      }
    },
    useCachedOptions2Search () {
      Promise.all([this.useCachedOptions2ShowPageInputInitData(), this.listQuery()])
    },
    resetTime () {
      this.inputItem.forEach(e => {
        if (e.type === 'daterange') {
          e.models = this.$resetTime()
        }
      })
    },
    insertFormTimeRule () {
      let arr = ['scanTime', 'enterTunnelTime', 'leftTunnelTime', 'releaseTime', 'checkInTime']
      let obj = {}
      let a = [
        {validator: (rule, value, callback) => {
          this.$customValidateTimeRange(rule, value, callback)
        },
        trigger: 'change'}
      ]
      arr.forEach(e => {
        Object.assign(obj, {[e]: a})
      })
      this.formRule.rule = {...this.formRule.rule, ...obj}
    },
    // 获取第一个默认显示的条件报表名称
    getReportName () {
      handleData._initReportName().then(res => {
        let {flag, result: {content}} = res.data
        if (flag) {
          this.inputItem[0].option = content.map(e => {
            return {
              label: e.ufTypeName,
              value: e.ufTypeName
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // 报表名称下拉数据改变的时候触发
    handleChange (val, callback) {
      if (this.getCachedOptions() && this.getCachedOptions()[0] && this.getCachedOptions()[0].statisticalReport !== val) {
        this.reset()
      }
      handleData._getSearchCondation({ufTypeName: val, ufType: 1}).then(res => {
        let {flag, result: {allEnableSc}} = res.data
        if (flag) {
          this.allSearchCondition.forEach(e => {
            allEnableSc.forEach(ele => {
              if (e.ruleProp === ele.taskField) {
                e.sortOrder = ele.sortOrder
              }
            })
          })
          // 过滤出选择的
          let isSelectArr = allEnableSc.filter(e => {
            if (e.isSelect) {
              return e
            }
          })
          // 过滤对应的字段显示
          let filterUseArr = this.allSearchCondition.filter(e => {
            return isSelectArr.find(ele => {
              if (e.ruleProp === ele.taskField) {
                return e
              }
            })
          })
          const compare = (property) => (a, b) => a[property] - b[property]
          filterUseArr.sort(compare('sortOrder'))
          this.inputItem = this.initSearchCondition
          // 组合数据
          this.inputItem = [...this.inputItem, ...this.checkInDate, ...filterUseArr]
          this.resetTime()
          // 切换不同的报表置空
          this.inputItem.forEach(e => {
            if (e.type === 'select2') {
              e.option = []
            }
          })
          let {model} = this.formRule
          this.$store.commit({
            type: 'getNewSearchCondition',
            addNewSearchCondition: true
          })
          let arr = [this.initDropDownList()]
          this.inputItem.forEach(e => {
            if (e.prmCode) {
              arr.push(this.getOperate(e.prmCode, e.ruleProp))
            }
          })
          console.log([...arr, ...[this.initDropDownList()]])
          Promise.all(arr).then(res => {
            let obj = {}
            // console.log('res', res)
            res.forEach(item => {
              Object.assign(obj, item)
            })
            // console.log('obj', obj)
            this.inputItem.forEach(e => {
              if (obj[e.ruleProp] && obj[e.ruleProp].length && e.ruleProp !== 'measureType') {
                // console.log(e)
                e.option = obj[e.ruleProp]
              }
            })
            callback && callback()
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getOperate (prmCode, key) {
      return new Promise((resolve, reject) => {
        handleData._getUpmsUser({prmCode}).then(res => {
          let {flag, result} = res.data
          if (flag) {
            let arr = result.filter(e => {
              return e.userStatus === 'upms.userstatus.normal'
            }).map(e => {
              return {
                label: e.name,
                value: e.id
              }
            })
            resolve({[key]: arr})
          }
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initDropDownList () {
      return new Promise((resolve, reject) => {
        handleData._initData().then(res => {
          let {flag, result} = res.data
          if (flag) {
            let obj = {}
            this.inputItem.forEach(e => {
              for (const key in result) {
                if ((result.hasOwnProperty(key) && key === e.ruleProp) && !e.prmCode) {
                  const element = result[key]
                  e.option = [...e.option, ...element.map(e => {
                    return {
                      label: this.$t(e.key) || this.$t(e.i18nKey) || this.$t(e.portI18nKey) || `${this.$t(e.site.key)} - ${e.laneNumber}`,
                      value: e.value || e.dataCode || e.portCode || `${e.site.value}-${e.laneNumber}`
                    }
                  })]
                  Object.assign(obj, {[e.ruleProp]: e.option})
                }
              }
            })
            // 将数据先做成统一的格式resolve到promise.all返回里面统一处理
            resolve(obj)
          }
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    getListQueryOptions () {
      let {model} = this.formRule
      model = Object.keys(model).length ? model : this.pageOption
      Object.keys(model).length && delete model.statisticalReport
      let time = {}
      let tStr = [
        {
          key: 'checkInTime',
          timeKey: ['checkInStartTime', 'checkInEndTime']
        },
        {
          key: 'scanTime',
          timeKey: ['scanStartTime', 'scanEndTime']
        },
        {
          key: 'enterTunnelTime',
          timeKey: ['enterTunnelStartTime', 'enterTunnelEndTime']
        },
        {
          key: 'leftTunnelTime',
          timeKey: ['leftTunnelStartTime', 'leftTunnelEndTime']
        },
        {
          key: 'releaseTime',
          timeKey: ['releaseStartTime', 'releaseEndTime']
        }
      ]
      tStr.forEach(e => {
        if (model[e.key]) {
          if (!model[e.key][1].includes('999')) {
            model[e.key][1] = `${model[e.key][1]}.999`
          }
          time = Object.assign(time, {
            [e.timeKey[0]]: new Date(model[e.key][0]).getTime(),
            [e.timeKey[1]]: new Date(model[e.key][1]).getTime()
          })
        }
      })
      let b = {}
      let c = {}
      let siteLaneObj = {}
      for (const key in model) {
        const element = model[key]
        if (key !== 'checkInTime' && key !== 'scanTime' && key !== 'enterTunnelTime' && key !== 'leftTunnelTime' && key !== 'releaseTime' && key !== 'vehicleHeight' && key !== 'vehicleLength' && key !== 'vehicleWidth' && key !== 'total') {
          if (Array.isArray(element)) {
            Object.assign(b, {[key]: element.toString()})
          } else {
            Object.assign(b, {[key]: element})
          }
        }
        // 处理这三个范围的参数
        if ((key === 'vehicleHeight' || key === 'vehicleLength' || key === 'vehicleWidth' || key === 'total')) {
          element && element.length && Object.assign(c, {
            ...{[`${key}Min`]: Math.min(...element) || ''},
            ...{[`${key}Max`]: Math.max(...element) || ''}
          })
        }
      }
      let param = Object.assign({}, { ...time, ...b, ...this.sortParm, ...c })
      return this.$filterNullFields(param)
    },
    cacheSearch (options = {}) {
      let parm = this.inputItem.map(e => {
        let obj = {}
        if (e.type === 'text2') {
          obj = {
            [e.ruleProp]: [e.initData[0].model, e.initData[1].model]
          }
        } else {
          obj = {
            [e.ruleProp]: e.models
          }
        }
        return obj
      })
      let op = [...[{size: options.size ? options.size : parm.size}], ...[{page: options.page ? options.page : parm.page}], ...[{sort: options.sort ? options.sort : parm.sort}]]
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {vehicleTransactionStatusReport: [...parm, ...op]}
      })
    },
    btnListQuery () {
      if (!Object.keys(this.getListQueryOptions()).length) {
        return false
      }
      Promise.all([this.getTableData(), this.getChartsData()]).then(res => {
        let {checkInStartTime, checkInEndTime} = this.getListQueryOptions()
        this.cacheSearch()
        this.times.reportTime = new Date().getTime()
        this.times.checkInTime = checkInStartTime
        this.times.checkOutTime = checkInEndTime
      })
    },
    listQuery () {
      if (!Object.keys(this.getListQueryOptions()).length) {
        return false
      }
      Promise.all([this.getTableData(), this.getChartsData()]).then(res => {
        let {checkInStartTime, checkInEndTime} = this.getListQueryOptions()
        // this.cacheSearch()
        this.times.reportTime = new Date().getTime()
        this.times.checkInTime = checkInStartTime
        this.times.checkOutTime = checkInEndTime
      })
    },
    clearSearchCache () {
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          vehicleTransactionStatusReport: []
        }
      })
    },
    reset () {
      this.insertFormTimeRule()
      this.resetTime()
      this.clearSearchCache()
      this.inputItem.forEach(e => {
        if (e.ruleProp !== 'statisticalReport') {
          if (e.type === 'text2') {
            e.models = ''
            e.initData.forEach(item => {
              item.model = ''
            })
          } else {
            e.models = ''
          }
        }
      })
    },
    getTableData (val, callBack) {
      handleData._initList({...this.getListQueryOptions(), ...val}).then(res => {
        let {flag, result} = res.data
        if (flag) {
          // this.cacheSearch(val)
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          // this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.initTableData(res.data.result.content)
          callBack && callBack()
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initTableData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          for (const oKey in element) {
            element.operation = this.operation
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate'))
                  // 分页查询时间格式化
                  break
                case 'businessType':
                  element[oKey] = element.businessType && this.$t(element.businessType)
                  break
                case 'vehicleType':
                  element[oKey] = element.vehicleType && this.$t(element.vehicleType)
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    handleSizeChange (val) {
      this.pageOptions.tableSize = val
      this.pageOptions.currentChageFlag = true
      let param = this.getListQueryOptions()
      const handlesize = {...param, ...{size: val, page: 0}, ...this.sortParm}
      this.getTableData(handlesize, () => {
        this.cacheSearch(handlesize)
      })
    },
    handleCurrentChange (val) {
      if (!this.pageOptions.currentChageFlag) {
        let param = this.getListQueryOptions()
        let handlesize = {...this.sortParm, ...{page: parseInt(val - 1), size: val}, ...param}
        this.getTableData(handlesize, () => {
          this.cacheSearch(handlesize)
        })
      }
    },
    getSortTable (column, prop, order) { // 主页的列表排序
      let param = this.getListQueryOptions(this.formRule)
      if (!param.checkInStartTime && !param.checkInEndTime) {
        return false
      }
      let sort = {}
      if (column && column.order === 'ascending') {
        sort = {'sort': 'checkInTime,ASC'} // 升序排序
      } else if (column && column.order === 'descending') {
        sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
      } else {
        return
      }
      this.sortParm = sort
      const handlesize = {...{size: this.pageOptions.tableSize || 10, page: 0}, ...sort, ...param}
      this.getTableData(handlesize, () => {
        this.cacheSearch(handlesize)
      })
    },
    getChartsData () {
      handleData._customCount(this.getListQueryOptions()).then(res => {
        let {flag, result} = res.data
        if (flag) {
          this.pieData = result
          this.initPieEchart1(result)
          this.initPieEchart2(result)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    commonEchatsOptions (options) {
      return {
        title: {
          text: options.title,
          x: 'center',
          y: 'bottom',
          padding: 20
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
          orient: 'horizontal',
          y: 'top',
          data: [this.$t('ViBorder.IC.inspection'), this.$t('ViBorder.IC.abnormalRelease'), this.$t('ViBorder.IC.normalRelease')],
          padding: 20
        },
        series: [
          {
            name: options.seriesName,
            type: 'pie',
            radius: '55%',
            labelLine: {
              normal: {
                show: false
              }
            },
            label: {
              normal: {
                show: false,
                position: 'center'
              },
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            center: ['50%', '52%'],
            data: options.data,
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    },
    commonEchatsOptionsInExport (options) {
      return {
        title: {
          text: options.title,
          x: 'center',
          y: 'bottom',
          padding: 20
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
          orient: 'horizontal',
          y: 'top',
          data: [this.$t('ViBorder.IC.inspection'), this.$t('ViBorder.IC.abnormalRelease'), this.$t('ViBorder.IC.normalRelease')],
          padding: 20
        },
        series: [
          {
            name: options.seriesName,
            type: 'pie',
            radius: '55%',
            labelLine: {},
            label: {
              formatter: '{b}:\n{@[' + 'c' + ']} ({d}%)',
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            center: ['50%', '52%'],
            data: options.data,
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    },
    initPieEchart1 (val) {
      let echatsObj = this.$echarts.init(document.getElementById(`vtsr_echart_pie_1`))
      let echatsObj2 = this.$echarts.init(document.getElementById(`vtsr_echart_pie_11`))
      let seriesName = this.$t('ViBorder.IC.vehicleInStatusTitle')
      let data = [
        {value: val.inboundOnCnt, name: this.$t('ViBorder.IC.inspection')},
        {value: val.inboundNormalCnt, name: this.$t('ViBorder.IC.normalRelease')},
        {value: val.inboundAbNormalCnt, name: this.$t('ViBorder.IC.abnormalRelease')}
      ]
      let option = this.commonEchatsOptions({title: this.$t('ViBorder.IC.vehicleInStatusTitle'), seriesName, data})
      let option2 = this.commonEchatsOptionsInExport({title: this.$t('ViBorder.IC.vehicleInStatusTitle'), seriesName, data})
      echatsObj.setOption(option)
      echatsObj2.setOption(option2)
    },
    initPieEchart2 (val) {
      let echatsObj = this.$echarts.init(document.getElementById(`vtsr_echart_pie_2`))
      let echatsObj2 = this.$echarts.init(document.getElementById(`vtsr_echart_pie_22`))
      let seriesName = this.$t('ViBorder.IC.vehicleOutStatusTitle')
      let data = [
        {value: val.outboundOnCnt, name: this.$t('ViBorder.IC.inspection')},
        {value: val.outboundNormalCnt, name: this.$t('ViBorder.IC.normalRelease')},
        {value: val.outboundAbNormalCnt, name: this.$t('ViBorder.IC.abnormalRelease')}
      ]
      let option = this.commonEchatsOptions({title: this.$t('ViBorder.IC.vehicleOutStatusTitle'), seriesName, data})
      let option2 = this.commonEchatsOptionsInExport({title: this.$t('ViBorder.IC.vehicleOutStatusTitle'), seriesName, data})
      echatsObj.setOption(option)
      echatsObj2.setOption(option2)
    },
    jump2Page (v) {
      sessionStorage.setItem('vehicleId', v.row.vehicleId)
      // sessionStorage.setItem('vehiclePage', v.row.vehicleState)
      this.$router.push({
        path: '/ic/vehicleReportDetails'
      })
    },
    getDownloadOptions ({exportType, size, pageType}) {
      let op = this.tableGroup.slice()
      op.forEach(e => {
        if (e.model === 'declarationNumber') {
          e.width = '150'
        }
        if (e.model === 'businessType') {
          e.width = '150'
        }
      })
      return {...this.getListQueryOptions(), ...initDownloadOptions({ exportType, pageType, titleKey: this.$t('ViBorder.IC.vehicleTransactionStatusReport'), size, tableGroup: op })}
    },
    downloadFileApi (parm, type, exportType) {
      this.loading = true
      handleData._exportFile(parm).then(res => {
        this.$createBlobUrl(res.data, res.headers['content-type'], this.$t('ViBorder.IC.vehicleTransactionStatusReport'), exportType)
      }).catch(err => {
        console.log('err', err)
      }).finally(() => {
        this.loading = false
      })
    },
    exportPdf (p = {}, type) {
      let el = document.getElementById('export_print_block_1_1')
      html2Canvas(el, {
        allowTaint: true
      }).then(canvas => {
        let base64 = canvas.toDataURL('image/jpeg', 1.0)
        const BASE64STR = base64.substring(base64.indexOf(',') + 1, base64.length)
        // orientation: landscape为横向，portrait为纵向
        let parm = {...this.getListQueryOptions(), ...this.getDownloadOptions({exportType: 'PDF', size: window.config.exportSizeMount, pageType: 'A4'}), ...{base64Code: BASE64STR, orientation: 'landscape'}, ...p}
        this.downloadFileApi(parm, 'pdf', type)
      })
    },
    exportExcel () {
      if (!this.tableData.data.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      const type = 'xlsx'
      this.downloadFileApi(this.getDownloadOptions({exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4'}), type)
    },
    print () {
      this.exportPdf({forPrint: 1}, 'print')
    }
  },
  components: {downloadPage}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#vehicle-transaction-status-report {
  width: $all;
  height: $all;
  @extend .extend-bar;
  .bread-crumb {
    .margins {
      margin-bottom: $dis10;
    }
  }
  .com-ci-M {
    padding: $margin;
    @include box-sizing();
    background-color: #fff;
    // box-sizing: border-box !important;
  }
  .middle-info, .middle-info1 {
    @include box-sizing();
    padding: $dis10;
    width: $all;
    @include flex();
    .time-info {
      @include flex(column, center, flex-start);
      height: $all;
      width: 40%;
      margin-left: 5%;
      .line {
        text-align: left;
        color: $primary;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .block {
        padding: $dis10;
        margin-top: $margin;
        border-radius: 4px;
        // max-width: 150px;
        min-width: 200px;
        text-align: left
      }
      .block-in {
        background-color: #FFFF66;
      }
      .block-out {
        background-color: #FFCC99;
      }
    }
    .pie-info {
      height: $all;
      flex: 1;
      @include flex();
    }
  }
  .middle-info {
    height: 300px;
    max-height: 350px;
  }
  .panel {
    @extend .extend-panel;
    .iconfont {
      color: $primary;
      margin: 0 $dis10;
      cursor: pointer;
    }
    .search-box {
      width: $all;
      padding: $dis10;
      @include box-sizing();
      @include flex($juc: flex-start);
      .el-form-item__error {
        text-align: left;
      }
      @include layout(4);
      .search-form {
        width: $all;
        @include flex($juc: flex-start);
        flex-wrap: wrap;
        .search-form-item {
          width: 23%;
          .search-form-label {
            text-align: left;
          }
        }
        .search-form-btn {
          .el-form-item__content {
            @include flex($juc: flex-end);
          }
          // .el-button {
          //   &:last-child {
          //     display: none;
          //   }
          // }
        }
      }
    }
  }
  .panel.export_print_block_1_1 {
    width: $all;
    .charts-group {
      height: $all;
    }
    .table-list {
      height: $all;
    }
  }
  #print-v-t-s-r {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #export_print_block_1_1 {
    @include flex(column, $ali: flex-start);
    max-height: 600px;
    height: 600px;
    .time-info {
      width: 98%;
      padding-left: 2%;
      height: 35%;
      margin-left: 0;
      @include box-sizing();
    }
    .pie-info {
      height: 50%;
      width: 54%;
    }
  }
}
</style>
