<template>
  <div class='white-ma-bar' v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="white-ma-M">
      <div class="breadCrumb">
        <breadCrumb :breadcrumb="titleBread"/>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <el-button type="primary" size="mini" @click="addFunction">{{this.$t('ViBorder.common.add')}}</el-button>
            <el-button type="danger" size="mini" @click="deleteFunction">{{this.$t('ViBorder.common.delete')}}</el-button>
            <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar" v-bar>
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
      <el-dialog :title="$t('ViBorder.common.add')" :visible.sync="dialogAdd" :close-on-click-modal='false' :close-on-press-escape='false'>
        <ComForm :searchIpt="inputItemAdd" :searchFunc="queryFnAdd" :formRule='formRuleAdd' ref="addForm"></ComForm>
      </el-dialog>
      <el-dialog :title="$t('ViBorder.common.fix')" :visible.sync="dialogModify" :close-on-click-modal='false' :close-on-press-escape='false'>
        <ComForm :searchIpt="inputItemAdd" :searchFunc="queryFnModify" :formRule='formRuleAdd' ref="modifyForm"></ComForm>
      </el-dialog>
      <!-- TODO: 这FORM组件好像没办法隐藏按钮？需要一种专门用来显示的弹出框 -->
      <el-dialog :title="$t('ViBorder.common.detail')" :visible.sync="dialogView" :close-on-click-modal='false' :close-on-press-escape='false'>
        <displayForm :searchIpt="notHasInputemPlaceHolder" :searchFunc="queryFnView" :formRule='formRuleAdd' ref="modifyForm"></displayForm>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import displayForm from '../../components/common/displayForm'
import handleData from '../../api/IC/whitelistManagement.js'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
import { setTimeout } from 'timers'
export default {
  data () {
    return {
      loading: false,
      notifyOffset: window.config.notifyOffset,
      dialogAdd: false,
      dialogModify: false,
      dialogView: false,
      unit: 'm',
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t(this.$route.matched[0].meta.title),
            path: '/ic/portMonitor' // 跳转路径
          },
          {
            label: this.$t('ViBorder.IC.whitelistManagement')
          }
        ]
      },
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.common.query')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },

      // *** 初始化查询 ***
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.IC.vehicleCreationDate'),
          models: '',
          type: 'daterange',
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          ruleProp: 'checkInTime',
          placeHolder: this.$t('ViBorder.IC.vehicleCreationDate'),
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.businessLogicCommon.lpnFront'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleCountry'),
          type: 'text',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleCountry'),
          models: '',
          ruleProp: 'vehicleCountry'
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleBelongs'),
          type: 'text',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleBelongs'),
          models: '',
          ruleProp: 'vehicleBelongs'
        }
      ],

      // *** 新增，编辑弹出框配置 ***
      queryFnAdd: { // 页面表单查询方法
        query: this.formAdd,
        close: this.formClose,
        queryText: this.$t('ViBorder.common.save'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      formRuleAdd: { // 表单验证和存放数据 model=> post到后台的数据 TODO
        refName: 'queryForm',
        model: {},
        rule: {
          licensePlateNumber: [
            { required: true, message: this.$t('ViBorder.IC.inputLpnFrontWarn'), trigger: 'blur' },
            { min: 1, max: 20, message: this.$t('ViBorder.IC.maxLength20'), trigger: 'blur' },
            { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.CHECKIN.onlyLpn') }
          ],
          vehicleCountry: [
            { min: 1, max: 50, message: this.$t('ViBorder.IC.maxLength50'), trigger: 'blur' }
          ],
          vehicleColor: [
            { min: 1, max: 50, message: this.$t('ViBorder.IC.maxLength50'), trigger: 'blur' }
          ],
          vehicleBrand: [
            { min: 1, max: 50, message: this.$t('ViBorder.IC.maxLength50'), trigger: 'blur' }
          ],
          vehicleBelongs: [
            { required: true, message: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleBelongs'), trigger: 'blur' },
            { pattern: /^\S+/g, message: this.$t('ViBorder.businessLogicCommon.blank') },
            { min: 1, max: 50, message: this.$t('ViBorder.IC.maxLength50'), trigger: 'blur' }
          ],
          contact: [
            { required: true, message: this.$t('ViBorder.IC.inputContactWarn'), trigger: 'blur' },
            { pattern: /^[0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyNumber') },
            { min: 1, max: 20, message: this.$t('ViBorder.IC.maxLength20'), trigger: 'blur' }
          ]
        }
      },
      notHasInputemPlaceHolder: '',
      inputItemAdd: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          models: '',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          ruleProp: 'licensePlateNumber',
          clearable: true,
          maxlength: 20
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleCountry'),
          models: '',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleCountry'),
          type: 'text',
          ruleProp: 'vehicleCountry',
          clearable: true,
          maxlength: 50
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleColor'),
          models: '',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleColor'),
          type: 'text',
          ruleProp: 'vehicleColor',
          clearable: true,
          maxlength: 50
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleBrand'),
          models: '',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleBrand'),
          type: 'text',
          ruleProp: 'vehicleBrand',
          clearable: true,
          maxlength: 50
        },
        {
          getLabel: this.$t('ViBorder.IC.vehicleBelongs'),
          models: '',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.vehicleBelongs'),
          type: 'text',
          ruleProp: 'vehicleBelongs',
          clearable: true,
          maxlength: 50
        },
        {
          getLabel: this.$t('ViBorder.IC.contact'),
          models: '',
          placeHolder: this.$t('ViBorder.common.pleaseEnter') + this.$t('ViBorder.IC.contact'),
          type: 'text',
          ruleProp: 'contact',
          clearable: true,
          maxlength: 20
        }
      ],
      queryFnModify: { // 页面表单查询方法
        query: this.formModify,
        close: this.formClose,
        queryText: this.$t('ViBorder.common.save'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      queryFnView: { // 页面表单查询方法
        query: this.formModify,
        close: this.formClose,
        queryText: this.$t('ViBorder.common.save'),
        resetText: this.$t('ViBorder.common.close')
      },
      // *** 初始化表格 ***
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation1: [ // 表格操作
        {
          func: this.tableEdit,
          label: `<span class='editTable'><i class="iconfont">&#xe650;</i></span>`,
          title: this.$t('ViBorder.common.fix'),
          show: true
        }
      ],
      operation2: [ // 表格操作
        {
          func: this.tableView,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          type: 'selection'
        },
        {
          label: this.$t('ViBorder.IC.vehicleCreationTime'),
          type: 'text',
          model: 'creationTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.IC.vehicleCountry'),
          type: 'text',
          model: 'vehicleCountry'
        },
        {
          label: this.$t('ViBorder.IC.vehicleBelongs'),
          type: 'text',
          model: 'vehicleBelongs'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation1',
          fixed: 'right'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.view'),
          type: 'operation',
          model: 'operation2',
          fixed: 'right'
        }
      ],
      tableSize: {},
      pageSortParm: {}
    }
  },
  created () {
    this.notHasInputemPlaceHolder = JSON.parse(JSON.stringify(this.inputItemAdd))
    this.notHasInputemPlaceHolder.forEach(ele => {
      ele.placeHolder = ''
    })
    this.initPageData()
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    getQueryParam (value) { // 获取查询字段参数 ٩(๑❛ᴗ❛๑)۶
      let {model} = this.formRule
      let options = {}
      for (const key in model) {
        if (key !== 'checkInTime') {
          Object.assign(options, {[key]: model[key]})
        }
        delete model.CurrentPage
      }
      let time = this.$startStopTime(model.checkInTime)
      // delete this.formRule.model.checkInTime
      // delete this.formRule.model.page
      let param = Object.assign({}, time, options, value, this.pageSortParm)
      return this.$filterNullFields(param)
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.tips, '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        type: 'warning'
      }).then(() => {
        if (param.scb && param.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // *********************************** 页面逻辑 *****************************************
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let initTableParm = this.getQueryParam({page: 0, size: 10})
        Promise.all([this.getTableData(initTableParm)]).then(res => {
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    getTableData (options) { // 获取表格初始数据 模拟请求回来的数据
      handleData._initList(options).then(res => { // 请求接口
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation1 = this.operation1
          element.operation2 = this.operation2
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'creationTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    query () { // 表单查询方法
      this.pageOptions.currentChageFlag = true
      this.getTableData(this.getQueryParam({page: 0, size: 10}))
    },
    getSortTable (column, prop, order) { // 根据时间排序
      let vehicleId = {vehicleId: sessionStorage.getItem('vehicleId')}
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'creation.creationTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'creation.creationTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.pageSortParm = sort
        let param = this.getQueryParam(this.formRule.model)
        const handlesize = {...{size: this.tableSize || 10, page: 0}, ...sort, ...param}
        this.getTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      let handlesize = this.getQueryParam({...{size: val, page: 0}, ...this.pageSortParm})
      this.formRule.model.page = 0
      this.formRule.model.size = val
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let handlesize = this.getQueryParam({...{page: parseInt(val - 1), size: pagesize}, ...this.pageSortParm})
        this.formRule.model.page = parseInt(val - 1)
        this.formRule.model.size = pagesize
        this.getTableData(handlesize)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    tableEdit (scope) { // 点击修改图标
      this.formRuleAdd.model.id = scope.row.id
      handleData._initOnly({id: scope.row.id}).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          this.inputItemAdd.forEach(ele => {
            ele.models = result[ele.ruleProp]
          })
        }
      })
      this.dialogModify = true
    },
    tableView (scope) { // 点击查看图标
      this.formRuleAdd.model.id = scope.row.id
      handleData._initOnly({id: scope.row.id}).then(res => {
        if (res.data.flag) {
          let result = res.data.result
          this.notHasInputemPlaceHolder.forEach(ele => {
            ele.models = result[ele.ruleProp]
          })
        }
      })
      this.dialogView = true
    },
    addFunction () {
      this.dialogAdd = true
      setTimeout(() => {
        this.$refs.addForm.reset()
      })
    },
    deleteFunction () {
      let arr = this.pageOptions.vehicleIdArr
      if (!arr.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.IC.chooseOneData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let scb = () => {
        let option
        let idsStr = ''
        if (arr.length > 1) {
          arr.forEach(ele => {
            idsStr = idsStr + ele.id + ','
          })
        } else {
          idsStr = arr[0].id
        }
        handleData._initDelete({ids: idsStr}).then(res => {
          if (res.data.flag) {
            this.getTableData(this.getQueryParam(this.formRule.model))
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.common.deleteSuccess'),
              type: 'success',
              offset: this.notifyOffset
            })
          }
          return res.data.flag
        }).catch((err) => {
          console.log('err', err)
          return false
        })
      }
      this.confirmModal({tips: this.$t('ViBorder.IC.sureDelete'), scb})
    },
    formAdd () {
      this.formRuleAdd.model.vehicleType = 'OFFICALCAR'
      handleData._initAdd(this.formRuleAdd.model).then(res => {
        if (res.data.flag) {
          this.$refs.addForm.reset()
          this.dialogAdd = false
          this.getTableData(this.getQueryParam(this.formRule.model))
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.addSuccess'),
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log(err)
      })
    },
    formModify () {
      handleData._initModify(this.formRuleAdd.model).then(res => {
        if (res.data.flag) {
          this.$refs.modifyForm.reset()
          this.dialogModify = false
          this.getTableData(this.getQueryParam(this.formRule.model))
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.common.editSuccess'),
            type: 'success',
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log(err)
      })
    },
    formClose () {
      this.dialogAdd = false
      this.dialogModify = false
      this.dialogView = false
    },
    getDownloadOptions () {
      let time = this.getQueryParam(this.formRule.model)
      let arr = this.tableGroup.slice()
      delete time.checkInTime
      return {...time, ...initDownloadOptions({ exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4', titleKey: this.$t('ViBorder.IC.whitelistManagement'), tableGroup: arr.splice(0, 5) })}
    },
    exportExcle () {
      if (this.tableData.data.length === 0) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
      } else {
        this.loading = true
        handleData._exportExcel(this.getDownloadOptions()).then(res => {
          this.$createBlobUrl(res.data, res.headers['content-type'], this.$t('ViBorder.IC.whitelistManagement'))
        }).catch(err => {
          console.log('err', err)
        }).finally(() => {
          this.loading = false
        })
      }
    }
  },
  components: {displayForm}
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.white-ma-bar {
  @extend .extend-bar;
  .white-ma-M {
    padding: $margin;
    box-sizing: border-box !important;
    @media screen and (min-width: 1640px) {
      .panel-middle {
        width: 100% !important;
      }
    }
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .table-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
      }
      .panel-L {
        @extend .extend-panel-L;
        @media screen and (min-width: 1640px) {
          width: calc(80% - 10px)!important;
        }
         .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .el-dialog {
      .el-dialog__body {
        padding: 30px 20px;
      }
      .el-form {
        .el-form-item {
          width: $all;
          .search-form-label {
            text-align: left;
          }
          .el-form-item__error {
            text-align: left;
          }
        }
        .search-form-btn {
          width: 100%;
          @include flex(row, flex-end, center);
        }
      }
    }
    .el-dialog__header {
      text-align: left;
    }
  }
}
</style>
