body,html{
    margin:0;
    padding:0!important;
    width:100%;
    height:100%;
    overflow-y: hidden;
    overflow-x: auto;
  }
  a:hover{
    text-decoration: none;
  }
  html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0;
  }
  fieldset,img {
    border: 0;
  }
  img {
    display: block;
  }
  address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal;
  }
  ul,ol,li {
    list-style: none;
  }
  input {
    padding-top: 0;
    padding-bottom: 0;
  }
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  select,input {
    vertical-align: middle;
  }
  select,input,textarea {
    font-size: 12px;
    margin: 0;
  }
  input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none;
  }
  textarea {
    resize: none;
  }
  textarea::-webkit-input-placeholder {
    font-family: Arial, Helvetica, sans-serif
  }
  textarea::-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif
  }
  textarea::-ms-input-placeholder {
    font-family: Arial, Helvetica, sans-serif
  }
  textarea:-moz-placeholder {
    font-family: Arial, Helvetica, sans-serif
  }
  table {
    border-collapse: collapse;
  }
  pre {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
  }
  