.extend-panel {
  @include flex(column, flex-start);
  border: $panelBorder solid 1px;
  overflow: hidden;
  margin-bottom: $dis10;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}

.extend-panel-title {
  width: $all;
  height: 34px;
  padding-top: 0;
  position: relative;
  @include flex(row, space-between, center);
}
.extend-panel-title-left { // 标题左侧文字
  height: 32px;
  line-height: 32px;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  align-self: flex-start;
  padding-right: $dis10 * 6;
  padding-left: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.extend-panel-title-right { // 标题组件右侧有子元素的时候
  margin-right: $margin;
  .el-button--mini {
    padding: 4px 15px;
  }
  .dropdown-style {
    margin-left: $dis10;
  }
}
.extend-bar { // bar
  width: $all;
  height: $all;
  overflow: hidden;
}
.extend-aside-hover-active { // 侧边栏效果
  background-color: $asideHoverbg;
  color: $asideHoverText;
}

.extend-fix-tab { // 右侧固定定位可以展开的小tab
  position: relative;
  height: 290px - $margin * 2;
  background: $tableEdit;
  width: $margin * 2 - $margin;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @include flex(column);
  color: $white;
  padding: $margin $dis10;
  cursor: pointer;
  .iconfont {
    position: absolute;
    top: $margin;
  }
  .tab-title {
    transform: rotate(-90deg);
    font-size: 18px;
    width: 144px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.extend-table-tr-th-style {
  .el-table {
    .cell,
    th div,
    th {
      background: transparent;
      padding-left: 0;
    }
  }
  .el-table--border {
    td:first-child {
      .cell {
        padding-left: 0;
      }
    }
    th:first-child {
      padding-left: 0;
    }
  }
}
.extend-banner-bottom {
  background: #f7f7f7;
  width: $all;
  border-top: 1px solid $panelBorder;
}

.extend-table-form-left-style {
  width: $all * 0.4;
  border: 1px solid $panelBorder;
  border-top: none;
  border-left: none;
  padding: 4px $margin;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include flex(row, flex-end, center);
  background: #f7f7f7;
  line-height: 30px;
}
.extend-table-form-content-style {
  width: $all * 0.6;
  @include flex(row, space-between, center);
  border-bottom: 1px solid $panelBorder;
  padding: 4px $margin;
  & > .el-input {
    width: $all * 0.6;
  }
  .read-only-style {
    word-break: break-word;
    text-align: left;
    line-height: 28px;
  }
  .read-only-style-color {
    display: inline-block;
    color: transparent;
    border-radius: 4px;
    line-height: $margin;
    height: $margin;
    width: $margin * 2;
    span {
      color: transparent;
    }
  }
  .el-select {
    width: $all * 0.6;
    .el-input {
      width: $all;
      .el-input__inner {
        height: $mini;
        line-height: $mini;
      }
    }
  }
  .el-radio {
    display: flex;
    .el-radio__label {
      line-height: $margin;
    }
  }
  .el-input {
    .el-input__inner {
      height: $mini;
      line-height: $mini;
    }
  }
  .el-radio-group {
    .el-radio__input {
      height: $margin;
      @include flex(row, flex-start, center);
    }
    @include flex();
    .hasColor {
      @include flex(row, flex-start, center);
      .el-radio {
        .el-radio__label {
          display: inline-block;
          margin-left: $margin;
          color: transparent;
          border-radius: 4px;
          height: $margin;
          width: $margin * 2;
        }
        &:first-child {
          .el-radio__label {
            background: $radioLevel0;
          }
        }
        &:nth-child(2) {
          .el-radio__label {
            background: $radioLevel1;
          }
        }
        &:last-child {
          .el-radio__label {
            background: $radioLevel2;
          }
        }
      }
    }
  }
  .level0 {
    background: $radioLevel0;
  }
  .level1 {
    background: $radioLevel1;
  }
  .level2 {
    background: $radioLevel2;
  }
}
/**重置element-ui 样式**/
// 子菜单
.el-menu-item-group__title,
.el-menu--popup,
.el-dropdown-menu {
  padding: $importantZero;
}
.el-menu--popup-right-start {
  margin-left: $importantZero;
  margin-right: $importantZero;
}
.el-form-item.is-required .el-form-item__label:after {
  content: "*";
  color: #f56c6c;
  margin-left: 4px;
}
.el-form-item.is-required .el-form-item__label:before {
  display: none;
}
.el-menu--collapse .el-submenu.is-active,
.el-menu--collapse .el-submenu.is-opened,
.el-menu-item.is-active {
  background: rgba(18, 70, 89, 0.8) !important;
}
// 重置按钮样式
.el-button--default {
  background-color: $white !important;
  border-color: #dcdfe6 !important;
}
// .el-button--default:focus,
.el-button--default:hover {
  color: #409EFF !important;
  background-color: #ecf5ff !important;
  border-color: #c6e2ff !important;
}
.el-button--default:active {
  background-color: $white !important;
  border-color: #dcdfe6 !important;
}
.el-button--primary {
  background-color: $primary !important;
  border-color: $primary !important;
}
// .el-button--primary:focus,
.el-button--primary:hover {
  background-color: $darkPrimary !important;
  border-color: $darkPrimary !important;
}
.el-button--primary:active {
  background-color: #0350a3 !important;
  border-color: #0350a3 !important;
}
.el-table__header {
  th {
    padding: 0 !important;
  }
}
// 穿梭框样式
.el-transfer {
  @include flex();
  @include box-sizing();
  width: $all;
  .el-transfer-panel {
    width: $transferWidth;
    height: $transferHeight;
    .el-transfer-panel__header {
      text-align: left;
    }
    .el-transfer-panel__body {
      .el-transfer-panel__list {
        height: $transferHeight - $margin * 2;
      }
      .el-transfer-panel__item.el-checkbox {
        display: flex;
        text-align: left;
      }
    }
  }
}
// 重置消息弹窗的按钮位置
.el-message-box__btns {
  display: flex;
  flex-direction: row-reverse;
  .el-button:last-child {
    margin-right: 15px;
  }
}
// 重置tab标签页样式
.el-tabs__nav-scroll {
  height: $grayTitleHeight;
}
.el-tabs--border-card {
  border-radius: 4px;
  .el-tabs__header {
    .el-tabs__nav-wrap {
      border-radius: 4px;
    }
  }
}
.el-tabs--border-card > .el-tabs__header {
  .el-tabs__item {
    color: $tabColor;
    line-height: $grayTitleHeight;
    min-width: 208px;
    font-size: 16px;
    font-weight: normal!important;
  }
}

.el-notification {
  z-index: 999999999 !important;
}
.el-popover {
  .el-carousel__indicators {
    @include flex(center);
    width: 50%;
  }
  .hover-title {
    font-weight: bold;
    margin: 0 0 $margin 0;
  }
  .tipValue {
    word-break: break-word;
    text-align: left;
  }
}
.viewer-in {
  z-index: 99999999999!important; // 手检站的文件预览的
}
.el-carousel {
  .el-carousel__container {
    img {
      width: $all;
    }
  }
}
.popover-bodystyle { // popover弹窗的样式
  @include flex(row, flex-start);
  // display: flex;
  // flex-direction: row;
  background: #f8f8f8;
  max-height: 300px;
  overflow: auto;
  padding: 10px 0 0 0;
  .popover-title {
    @include flex(row, center, center);
    padding: 2px 10px;
    text-align: center;
    white-space: nowrap;
  }
  .popover-content {
    text-align: left;
    padding: 4px 10px;
    word-break: break-all;
    white-space: pre-wrap;
  }
}
// .el-select-dropdown.el-popper {
//   width: $all / 10;
// }
// 级联
.el-cascader-menu {
  height: 100px;
}
.el-dialog__header {
  text-align: left;
}
.el-notification__content {
  text-align: left;
}

// 禁用的文本框样式校验变红
.el-form-item.is-error {
  .el-form-item__content {
    .table-form-pack {
      .info-item {
        .el-input.is-disabled {
          .el-input__inner {
            border-color: #f56c6c;
          }
        }
      }
    }
  }
}

// 黑色tooptip样式、
.el-tooltip__popper {
  max-width: 800px;
  word-break: break-all;
}
