// 开关设置
//-----------------------------------------------------
$lte7:                  true !default; //是否兼容ie6-7
$filter:                false !default; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景

// 基本颜色
// color function
//-----------------------------------------------------
$black:                 #000 !default;
$grayDarker:            #333 !default;
$grayDark:              #999 !default; // 主要边框
$gray:                  #ccc !default; // 次要边框
$grayLight:             #f5f5f5 !default;
$white:                 #fff !default;

$red:                   #cc3300 !default;
$blue:                  #1782d4 !default;
$blueDark:              #0064cd !default;
$orange:                #F47837 !default;
$green:                 #51B148 !default;
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;
$tabColor:              #026cb6 !default;

$primary:               #1782d4 !default;//主色
$darkPrimary:           #1167a9 !default;//主色加重
$tableEdit:             #00A3CF !default;//表格编辑颜色
$success:               #67c23a !default;//成功
$wraning:               #e6a23c !default;//警告
$danger:                #f56c6c !default;//危险
$info:                  #909399 !default;//消息

$radioLevel0:           #EE3B3B !default;//消息
$radioLevel1:           #FFFF00 !default;//消息
$radioLevel2:           #228B22 !default;//消息


$firBorder:             #999    !default;//主要边框
$panelBorder:           #ddd    !default;//panel边框
$secBorder:             #ccc    !default;//次要边框
$thiBorder:             #EBEEF5 !default;//三级边框
$fouBorder:             #F2f6fc !default;//四级边框

$text1:                 #303133 !default;//主要文字
$text2:                 #606266 !default;//常规文字

$asideHoverbg:          #036db7 !important;//侧边栏hover背景色
$asideHoverText:        #00abff !important;//侧边栏hover文本颜色
//基本数值
//---------------------------------------------------------
$all:                   100%      !default;
$welcomeTitle:          60px      !default;//页面欢迎标题
$headerTitle:           32px      !default;//Header主标题
$headerRight:           20px      !default;//header右侧icon和字体
$title:                 18px      !default;//副标题 弹窗标题头
$smallTitle:            16px      !default;//小标题 区块标题（类似查询，分类列表这类标题）
$texts:                 14px      !default;//正文 导航文字 表单label 表格表头
$smallText:             13px      !default;//正文小
$infoText:              12px      !default;//辅助文字
$dialogMin:             600px     !default;//最小弹窗大小
$dis10:                 10px      !default;
$margin:                20px      !default;//间距
$logoSize:              30px 5px/120px !default;// logo尺寸大小

$headerHeight:          80px      !default;//header高度
$asideWidth:            70px      !important;//侧边栏宽度
$footHeight:            36px      !default;//底部高度

$importantZero:         0px       !important;

$smallTitleLine:        24px      !important; // 行高
$tableHeadHeight:       36px      !important; // 表头高度
$grayTitleHeight:       34px      !important; // panel标题高度


// $topLine:               -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)))!default;//错误页面上边白线条
// $bottomLine:            -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)))!default;//错误页面下边白线
$errorPageLine: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.4) 30%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0.3) 80%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%)!default;
$LinearGradient:        linear-gradient(to right, #0b5c82 0%,#0b3168 49%,#0b2362 100%)!default;// 侧边栏渐变


// scss混入变量
// 查询
$inputCol:              3         !default;// 默认每行几个查询框
$btnPosition:           right     !default;// 默认查询按钮位置
$labelError:            left      !default;// label以及错误信息位置
$large:                 40px      !default;// input高度默认输入框
$medium:                36px      !default;// input高度中度输入框
$small:                 32px      !default;// input高度小输入框
$mini:                  28px      !default;// input高度最小输入框

$btnLarge:              12px 20px !default;// 大按钮
$btnMedium:             10px 18px !default;// 中等按钮
$btnSmall:              8px 16px  !default;// 小按钮
$btnMini:               6px 14px  !default;// 最小按钮
// 穿梭框
$transferWidth:         400px     !default;// 穿梭框宽度
$transferHeight:        300px     !default;// 穿梭框高度


//基本图像
//---------------------------------------------------------
$logo: url('../../assets/img/common/logo.png')!default;//logo 图像
$headerImg: url('../../assets/img/common/headerbg.jpg')!default; //头图像
$login: url('../../../static/login_bg.jpg')!default; //登录背景图像
$titleUrl: url('../../assets/img/common/titlebg_04.jpg')!default;// 标题背景
$titleLeftUrl: url('../../assets/img/common/titlebg_03.png')!default;// 标题左侧背景
$swiper: url('../../assets/img/common/swiper.png')!default;// 图像查看背景
$menuBg: url('../../../static/menu_bg.jpg')!default;// 图像查看背景
$indexBg: url('../../assets/img/common/index.jpg')!default;// 监控总览页面背景
$contentBorder: url('../../assets/img/common/contentBorder.png')!default;// 监控总览页面内容区域背景框背景
$point: url('../../assets/img/common/point.png')!default;// 监控总览页面内容区域标题箭头
$roundSquare: url('../../assets/img/common/roundSquare.png')!default;// 监控总览页面内容区域圆角矩形背景
$indexTitle1: url('../../assets/img/common/indexTitle_1.png')!default;// 监控总览页面中间内容标题背景
$indexTitle2: url('../../assets/img/common/indexTitle_2.png')!default;// 监控总览页面中间内容标题背景
$carBg: url('../../assets/img/dc/dss.png')!default;// 车辆图片按钮的背景
$videoBg: url('../../assets/img/dc/video_icon.png')!default;// video图片按钮的背景
$taskTitleBg: url('../../assets/img/common/taskTitle_bg.png')!default;// 任务监控标题背景
$taskTitleBg1: url('../../assets/img/common/taskTitle_bg1.png')!default;// 任务监控标题背景
$buttonBorder: url('../../assets/img/common/button_border.png')!default;// 任务监控标题背景
$welcomeImg:url('../../assets/img/common/welcome.png')!default;// 欢迎图像
$start:url('../../assets/img/common/start.png')!default;// 时间轴开始图像
$end:url('../../assets/img/common/end.png')!default;// 时间轴结束图像
$round:url('../../assets/img/common/event.png')!default;// 时间轴事件图像
$order:url('../../assets/img/common/order.png')!default;// 时间轴序号图像
