.tablebox {
  width: $all;
  height: $all;
  padding: $dis10;
  @include box-sizing;
}
.editTable {
  margin: 0 $dis10;
  color: $tableEdit;
  cursor: pointer;
  // font-weight: bold;
}
.iconfont.editTable {
  font-weight: bold;
  margin: 0 $dis10;
  font-size: 18px;
  color: $tableEdit;
  cursor: pointer;
}
.iconfont.edit-table-not-allow {
  font-weight: bold;
  margin: 0 $dis10;
  font-size: 18px;
  color: $gray;
  cursor: not-allowed;
}
.tableComp {
  box-sizing: border-box;
  padding: $dis10;
}
