.up-down-container {
  padding: $margin;
  box-sizing: border-box !important;
  .up-down-infolist {
    .up-down-panel {
      @extend .extend-panel;
      .search-form {
        width: calc(100% - 20px);
        padding: $dis10 $dis10 0 $dis10;
        @include box-sizing;
        @include layout(2);
        .el-form-item__label {
          font-weight: normal;
        }
      }
      .toggle-menu {
        display: block !important;
      }
    }
    .panel-bottom {
      .tableComp {
        .el-table__fixed-right-patch {
          background: #e7e7e7!important;
        }
        table {
          thead {
            th {
              .cell {
                background: #e7e7e7!important;
              }
            }
          }
        }
      }
    }
  }
}
