<template>
  <div class='check-component-detail-bar' v-bar>
    <div>
      <div class="check-in-data">
        <div class="check-component-detail-M">
          <!-- 左侧panel -->
          <div class="panel">
            <panelTitle :panelTitleInit="panelTitle"></panelTitle>
            <div class="left-bar" v-bar>
              <div>
                <tableForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></tableForm>
              </div>
            </div>
          </div>
          <div class="panel">
            <panelTitle :panelTitleInit="panelTitleDown"></panelTitle>
            <div class="left-bar" v-bar>
              <div>
                <!-- 历史 -->
                <tableForm v-if="isOnlyReadRemark" :searchIpt="remarkInput" :searchFunc="remarkQueryFn" :formRule='remarkFormRule'></tableForm>
                <!-- 在检 -->
                <tableForm v-if="!isOnlyReadRemark" :searchIpt="remarkInput" :searchFunc="remarkQueryFn" :formRule='remarkFormRule'></tableForm>
              </div>
            </div>
          </div>
        </div>
        <!-- 右侧图像 -->
        <div class="right">
          <el-tabs type="border-card">
            <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')">
              <div class="single-img">
                <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
              </div>
            </el-tab-pane>
            <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')">
              <div class="single-img">
                <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
              </div>
            </el-tab-pane>
            <el-tab-pane v-if="tabInfo.hasAsycude" :label="$t('ViBorder.businessLogicCommon.asycudaTab')">
              <div class="single-img">
                <div class="not-scan-img">
                  {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/BCI/index.js'
import initConfirmData from '../../components/common/commonData.js'
import swipe from '@/components/common/swipe'
export default {
  name: 'check-component-detail',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      vehicleId: '',
      sysApiUrl: '',
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      panelTitle: { // 主页面左侧标题
        title: this.$t('ViBorder.businessLogicCommon.checkInfo')
      },
      panelTitleDown: { // 主页面左侧标题
        title: ''
      },
      defaultOption: {},
      inputItemNewData: [],
      tabInfo: { // tab标签页数据
        isSacn: '',
        hasAsycude: true,
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [ // 扫描文件viewer数据
        ],
        singleImgInfo: { // 单张图显示
          src: '',
          right: '',
          left: ''
        }
      },
      queryFn: { // 左侧页面back
        hasBtn: false,
        backPath: '',
        backText: this.$t('ViBorder.common.close')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'arrivalTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark'
        }
      ],
      needInsertData: {
        rfid: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'rfidNumber'
          }
        ],
        out: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.from'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'originPortCode'
          }
        ],
        in: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'logistics'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.to'),
            type: 'onlyReadTooltip',
            models: '',
            ruleProp: 'destination',
            fullName: 'wertyuio'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'trailer'
          }
        ]
      },
      remarkInput: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
          type: 'textarea',
          models: '',
          ruleProp: 'remark',
          resize: 'none',
          maxlength: 500
        }
      ],
      remarkQueryFn: {
        hasBtn: false,
        btnList: [
          {
            fn: this.pass,
            text: this.$t('ViBorder.businessLogicCommon.pass'),
            btnType: 'success'
          },
          {
            fn: this.notPass,
            text: this.$t('ViBorder.businessLogicCommon.notPass'),
            btnType: 'danger'
          },
          {
            fn: this.noNeed,
            text: this.$t('ViBorder.businessLogicCommon.noNeed'),
            btnType: 'info'
          },
          {
            fn: this.cancel,
            text: this.$t('ViBorder.common.back'),
            btnType: '',
            pos: 'right'
          }
        ]
      },
      remarkFormRule: {
        refName: 'remarkQueryForm',
        rule: {
          remark: [
            { required: false, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ],
          approvalRecord: [
            { required: false, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
            { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
          ]
        },
        model: {}
      },
      approvalInfo: { // 审批信息
        approvalRecordObj: {
          getLabel: this.$t('ViBorder.businessLogicCommon.approvalRecord'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'approvalRecord'
        },
        btnList: [
          {
            fn: this.pass,
            text: this.$t('ViBorder.businessLogicCommon.pass'),
            btnType: 'success'
          },
          {
            fn: this.cancel,
            text: this.$t('ViBorder.common.back'),
            btnType: 'primary'
          }
        ],
        hasApprovalRecord: false // 默认没有审批备注
      },
      conclusionInfo: ''
    }
  },
  created () {
    this.inputItemClearData()
    this.changeTitle()
    this.defaultOption = {site: localStorage.checkInSite, laneNumber: localStorage.checkInLaneNumber}
    this.initPageData()
  },
  methods: {
    changeTitle () {
      let path = this.$route.path.split('/')[1]
      let title = ''
      if (path === 'ac') {
        title = this.$t('ViBorder.businessLogicCommon.animalCheck')
        this.sysApiUrl = 'animal'
      } else if (path === 'hc') {
        title = this.$t('ViBorder.businessLogicCommon.healthCheck')
        this.sysApiUrl = 'health'
      } else {
        title = this.$t('ViBorder.businessLogicCommon.plantCheck')
        this.sysApiUrl = 'plant'
      }
      this.panelTitleDown.title = title
    },
    async initPageData (parm) { // 初始化数据
      const VEHICLEID = sessionStorage.getItem('vehicleId')
      this.inputItem = JSON.parse(JSON.stringify(this.inputItemNewData))
      try {
        let res = ''
        if (this.isHis) {
          res = await handleData._findHisDetail({vehicleId: VEHICLEID}, this.sysApiUrl)
        } else {
          res = await handleData._getDetails({vehicleId: VEHICLEID}, this.sysApiUrl)
        }
        const {flag, result} = res.data
        if (flag) {
          // 根据数据返回的数据（进口，出口）和车辆的类型显示8中表单样式
          let checkSite = result.vehicle.position.site.value // 进口 OR 出口
          let val = result.vehicle.vehicleType // 车辆类型
          // 如果有审批记录并且在检
          if (result.vehicleInspection.length) {
            this.approvalInfo.approvalRecordObj.models = this.$getConclusion(result.vehicleInspection)
            this.remarkInput.unshift(this.approvalInfo.approvalRecordObj)
            if (!this.isOnlyReadRemark) {
              this.toggleRemarkRequired(true)
              // this.remarkFormRule.rule.remark = [
              //   { required: true, message: this.$t('ViBorder.TC.inputRemark'), trigger: 'blur' },
              //   { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
              // ]
            }
            this.approvalInfo.hasApprovalRecord = true
            this.remarkQueryFn.btnList = this.approvalInfo.btnList
            this.setOnlyReadRemark(result.vehicleInspection)
          }
          if (val === 'TRUCK' || val === 'COMMODITYCAR' || val === 'OVERLIMITTRUCK') {
            if (checkSite === 'OCIA') {
              for (let i in this.inputItem) {
                if (this.inputItem[i].ruleProp === 'logistics') {
                  this.inputItem.splice(i, 1)
                }
              }
            }
          } else if (val === 'EMPTYTRUCK') {
            this.inputItem = [
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'arrivalTime'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'asycudaCode'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'declarationNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumberBack'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'businessType'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'vehicleType'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'entryTunnel'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'xrayScan'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'fileScanAmount'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'remark'
              }
            ]
            if (checkSite === 'OCIA') {
              for (let i in this.inputItem) {
                if (this.inputItem[i].ruleProp === 'logistics') {
                  this.inputItem.splice(i, 1)
                }
              }
            }
          } else if (val === 'BUS') {
            this.inputItem = [
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'arrivalTime'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'asycudaCode'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'declarationNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumberBack'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'vehicleType'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'fileScanAmount'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.remark'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'remark'
              }
            ]
            for (let i in this.inputItem) {
              if (this.inputItem[i].ruleProp === 'logistics') {
                this.inputItem.splice(i, 1)
              }
            }
          }
          let rfidIndex = 1
          let splitIndex = 4
          if (result.isExistRFIDCard === '1') {
            let {left, right} = this.$splitArr(this.inputItem, rfidIndex) // 分割数组
            this.inputItem = [...left, ...this.needInsertData.rfid, ...right]
            splitIndex = 5
          }
          if (localStorage.checkInSite === 'ICIA' && val !== 'BUS') { // 添加转关起始字段
            let {left, right} = this.$splitArr(this.inputItem, splitIndex) // 分割数组
            this.inputItem = [...left, this.needInsertData.in[0], this.needInsertData.in[1], ...right]
            let arr = this.$splitArr(this.inputItem, splitIndex + 4)
            this.inputItem = [...arr.left, this.needInsertData.in[2], ...arr.right]
          }
          if (result.isTrans) { // 添加出境方向无转关起始信息车辆字段
            this.inputItem = [...this.needInsertData.out, ...this.inputItem] // 出境方向在最前面from
          }
          if (result.vehicleLpr) {
            Object.assign(this.tabInfo.singleImgInfo, {right: this.$formatDateTime(result.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')), src: `${this.lprFolder}${result.vehicleLpr.photoPath}`, left: result.vehicleLpr.result})
          }
          if (result.vehicleScannedDoc) { // 对扫描文件进行赋值
            this.tabInfo.pageImg.length = 0
            for (let item in result.vehicleScannedDoc) {
              let scannedNumber = {}
              scannedNumber.title = this.$t(result.vehicleScannedDoc[item].docTypeI18n.key)
              scannedNumber.url = result.vehicleScannedDoc[item].docPath.split(',').map(e => {
                return `${this.manifestFolder}${e}`
              })
              this.tabInfo.pageImg.push(scannedNumber)
            }
          }
          this.inputItem.forEach(e => {
            for (let k in result.vehicle) {
              if (e.ruleProp === k) {
                e.models = result.vehicle[k]
              }
              if (e.ruleProp === 'businessType') {
                e.models = this.$t(result.vehicle.businessTypeI18N.key)
              } else if (e.ruleProp === 'logistics') {
                if (result.vehicle.logistics) {
                  e.models = this.$t('ViBorder.common.yes')
                } else {
                  e.models = this.$t('ViBorder.common.error')
                }
              } else if (e.ruleProp === 'destination') {
                result.vehicle.destPortI18N && (e.models = this.$t(result.vehicle.destPortI18N.keyShort))
                result.vehicle.destPortI18N && (e.fullName = this.$t(result.vehicle.destPortI18N.key))
              } else if (e.ruleProp === 'trailer') {
                if (result.vehicle.trailer) {
                  e.models = this.$t('ViBorder.common.yes')
                } else {
                  e.models = this.$t('ViBorder.common.error')
                }
              } else if (e.ruleProp === 'entryTunnel') {
                if (result.vehicle.entryTunnel) {
                  e.models = this.$t('ViBorder.common.yes')
                } else {
                  e.models = this.$t('ViBorder.common.error')
                }
              } else if (e.ruleProp === 'xrayScan') {
                if (result.vehicle.xrayScan) {
                  e.models = this.$t('ViBorder.common.yes')
                } else {
                  e.models = this.$t('ViBorder.common.error')
                }
              } else if (e.ruleProp === 'originPortCode') {
                e.models = this.$t(result.vehicle.originPortI18N.keyShort)
              } else if (e.ruleProp === 'vehicleType') {
                if (e.models === 'BUS' || e.models === 'EMPTYTRUCK') {
                  this.tabInfo.hasAsycude = false
                }
                e.models = this.$t(result.vehicle.vehicleTypeI18N.key)
              } else if (e.ruleProp === 'arrivalTime') {
                e.models = this.$formatDateTime(result.vehicle.arrivalTime, this.$t('ViBorder.common.formatDate'))
              } else if (e.ruleProp === 'riskLevel' && result.vehicle.riskLevel) {
                if (result.vehicle.riskLevel.value === 'GREEN') {
                  e.models = '2'
                }
                if (result.vehicle.riskLevel.value === 'YELLOW') {
                  e.models = '1'
                }
                if (result.vehicle.riskLevel.value === 'RED') {
                  e.models = '0'
                }
              }
            }
          })
        }
      } catch (error) {
        console.log('error', error)
      }
    },
    inputItemClearData () {
      this.inputItemNewData = JSON.parse(JSON.stringify(this.inputItem))
    },
    getRemarkInfo (bool) {
      let inputelement = document.getElementsByClassName('el-textarea__inner')
      let el = ''
      setTimeout(() => {
        if (inputelement && inputelement[0]) {
          el = inputelement[0]
          inputelement[0].focus()
        }
        el.blur()
      }, 200)
      this.toggleRemarkRequired(bool)
      return this.remarkFormRule.model.remark
    },
    toggleRemarkRequired (bool) {
      this.remarkFormRule.rule.remark[0].required = bool
    },
    addRemark (remark, t) {
      let index = 0
      if (this.approvalInfo.approvalRecordObj.models) {
        index = 1
      }
      let str = ''
      if (t === 'PASSED') {
        str = `${this.$t('ViBorder.businessLogicCommon.pass')}\n${remark || ''}`
      } else if (t === 'NOPASS') {
        str = `${this.$t('ViBorder.businessLogicCommon.notPass')}\n${remark || ''}`
      } else if (t === 'NONEED') {
        str = `${this.$t('ViBorder.businessLogicCommon.noNeed')}\n${remark || ''}`
      }
      if (str.length > 500) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'),
          offset: this.notifyOffset
        })
        return false
      }
      return {str, index}
    },
    verifyRemarkIsNull (remark) {
      let msg = ''
      if (!remark || remark.length > 500) {
        if (!remark) {
          msg = this.$t('ViBorder.TC.inputRemark')
        } else {
          msg = this.$t('ViBorder.businessLogicCommon.RemarkWarn')
        }
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: msg,
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      } else {
        return true
      }
    },
    confirmModal (param) { // 信息确认
      let index = 0
      if (this.approvalInfo.approvalRecordObj.models) {
        index = 1
      }
      this.$confirm(`${param.msg}`, initConfirmData.confirm()).then(() => {
        if (param.scb && param.scb()) {
          this.remarkInput[index].models = ''
          this.conclusionInfo = ''
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            message: this.$t('ViBorder.common.successfuly'),
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        // console.log('remarkFormRule', this.conclusionInfo)
        this.remarkInput[index].models = this.conclusionInfo
        // console.log('remarkInput', this.remarkInput[0].models)
        console.log('err', err)
      })
    },
    requestRemarkInterface (conclusionRemark, conclusionType) {
      let vehicleId = sessionStorage.vehicleId
      let index = 0
      if (this.approvalInfo.approvalRecordObj.models) {
        index = 1
      }
      handleData._submitRemarkInfo({conclusionRemark: this.remarkInput[index].models, conclusionType, vehicleId}, this.sysApiUrl).then(res => {
        const {flag, errorCode} = res.data
        if (flag) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
            type: 'success',
            offset: this.notifyOffset
          })
          this.cancel()
        }
        return flag
      }).catch(err => {
        console.log('err', err)
        return false
      })
    },
    pass () {
      let remark = this.getRemarkInfo(false)
      this.conclusionInfo = remark
      let t = 'PASSED'
      // 如果是第二次下结论为通过的时候 备注必填
      if (this.approvalInfo.hasApprovalRecord) {
        this.getRemarkInfo(true)
        // if (!this.verifyRemarkIsNull(remark)) {
        //   return false
        // }
      } else {
        this.toggleRemarkRequired(false)
      }
      let {str, index} = this.addRemark(remark, t)
      if (!str) {
        return false
      }
      this.remarkInput[index].models = str
      this.confirmModal({
        msg: this.$t('ViBorder.businessLogicCommon.confirmPass'),
        scb: () => {
          this.requestRemarkInterface(remark, t)
        }
      })
    },
    notPass () {
      let remark = this.getRemarkInfo(true)
      this.conclusionInfo = remark
      let t = 'NOPASS'
      // if (!this.verifyRemarkIsNull(remark)) {
      //   return false
      // }
      let {str, index} = this.addRemark(remark, t)
      if (!str) {
        return false
      }
      this.remarkInput[index].models = str
      this.confirmModal({
        msg: this.$t('ViBorder.businessLogicCommon.confirmNotPass'),
        scb: () => {
          this.requestRemarkInterface(remark, t)
        }
      })
    },
    noNeed () {
      let remark = this.getRemarkInfo(false)
      this.conclusionInfo = remark
      let t = 'NONEED'
      let {str, index} = this.addRemark(remark, t)
      if (!str) {
        return false
      }
      this.remarkInput[index].models = str
      this.confirmModal({
        msg: this.$t('ViBorder.businessLogicCommon.confirmNoNeed'),
        scb: () => {
          this.requestRemarkInterface(remark, t)
        }
      })
    },
    cancel () {
      let path = this.$route.path.split('/')[1]
      this.$router.push({
        path: `/${path}/index`
      })
    },
    setOnlyReadRemark (parm) {
      if (this.isOnlyReadRemark) {
        this.approvalInfo.approvalRecordObj.models = this.$getConclusion(parm)
        this.remarkInput = [this.approvalInfo.approvalRecordObj]
        this.remarkQueryFn.btnList = [
          {
            fn: this.cancel,
            text: this.$t('ViBorder.common.close')
          }
        ]
      }
    }
  },
  props: ['isOnlyReadRemark', 'isHis']
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.check-component-detail-bar {
  @extend .extend-bar;
  .check-in-data {
    @include flex();
    height: calc(100% - 40px);
    padding: $margin;
    .check-component-detail-M {
      position: relative;
      width: $all / 2;
      height: $all;
      .panel {
        @extend .extend-panel;
        justify-content: flex-start;
        margin-right: $margin;
        width: calc(100% - 20px);
        margin-bottom: 0px;
        .left-bar {
          .el-form-item {
            .el-form-item__content {
              .el-form-item__label {
                white-space: pre-wrap;
              }
            }
          }
        }
        .left-bar {
          @extend .extend-bar;
          width: $all;
        }
        &:first-child {
          height: 70%;
          margin-bottom: $margin;
          .tableForm {
            .el-form {
              .btn-style {
                display: none
              }
              .el-form-item:last-child {
                .table-form-pack {
                  min-height: 40px;
                }
              }
            }
          }
        }
        &:last-child {
          height: calc(30% - 22px);
          .el-form {
            margin-bottom: 70px;
            .el-textarea {
              .el-textarea__inner {
                min-height: 100px!important;
              }
            }
            .btn-style {
              margin: 0;
              position: absolute;
              width: calc(100% - 10px);
              bottom: 0;
              background: #fff;
              padding: 10px;
              box-sizing: border-box;
            }
          }
        }
        .iconfont {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
  .right {
    width: $all / 2;
    height: $all;
    margin-bottom: 0px;
    .left-bar {
      .el-form-item {
        .el-form-item__content {
          .el-form-item__label {
            white-space: pre-wrap;
          }
        }
      }
    }
    // tab标签页
    .el-tabs__nav-scroll {
      background: $titleUrl repeat-x 0 -15px;
    }
    .el-tabs,
    .el-tab-pane {
      height: $all;
    }
    .el-tabs__content {
      height: calc(100% - 34px);
      @include box-sizing();
    }
    .single-img {
      height: $all;
      @include flex();
      .no-imgdata {
        color: #ccc;
      }
      .dirvePhoto-content {
        width: $all;
        height: $all;
        @include flex();
        .dirvePhoto {
          width: $all;
          display: block;
          margin: auto;
        }
      }
    }
    .not-scan-img {
      height: $all;
      @include flex();
      color: $gray;
    }
  }
}
</style>
