<template>
  <div id="common-report" v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)" :element-loading-text="$t('ViBorder.common.loading')">
    <div class="bread-crumb">
      <breadCrumb :breadcrumb="titleBread"/>
    </div>
    <!-- 日月年的时间查询 -->
    <div class="query-list">
      <div class="tab-search">
        <el-tabs type="card" v-model="actived" @tab-click="handleTab">
          <!-- 日 -->
          <el-tab-pane :label="$t('ViBorder.IC.dChart')" class="tb" name="d">
            <div class="s">
              <!-- 检入 -->
              <span class="label">{{$t('ViBorder.IC.checkinD')}}</span>
              <el-date-picker
                size="small"
                v-model="dateModel.d.checkInTime"
                @change="handleCheckInTime"
                type="date"
                :clearable="false"
                value-format="timestamp"
                :format="$t('ViBorder.common.dateFormat')"
                :placeholder="$t('ViBorder.common.pleaseSelect')">
              </el-date-picker>
            </div>
            <div class="f">
              <!-- 结论提交 -->
              <span class="label">{{$t('ViBorder.IC.conclusionSubmitD')}}</span>
              <el-date-picker
                size="small"
                v-model="dateModel.d.conclusionTime"
                type="date"
                :clearable="false"
                value-format="timestamp"
                :format="$t('ViBorder.common.dateFormat')"
                :placeholder="$t('ViBorder.common.pleaseSelect')">
              </el-date-picker>
            </div>
          </el-tab-pane>
          <!-- 月 -->
          <el-tab-pane :label="$t('ViBorder.IC.mChart')" class="tb" name="m">
            <div class="s">
              <!-- 检入 -->
              <span class="label">{{$t('ViBorder.IC.checkinM')}}</span>
              <el-date-picker
                size="small"
                v-model="dateModel.m.checkInTime"
                @change="handleCheckInTime"
                type="month"
                :clearable="false"
                value-format="timestamp"
                :format="$t('ViBorder.common.dateFormatM')"
                :placeholder="$t('ViBorder.common.pleaseSelect')">
              </el-date-picker>
            </div>
            <div class="f">
              <!-- 结论提交 -->
              <span class="label">{{$t('ViBorder.IC.conclusionSubmitM')}}</span>
              <el-date-picker
                size="small"
                v-model="dateModel.m.conclusionTime"
                type="month"
                :clearable="false"
                value-format="timestamp"
                :format="$t('ViBorder.common.dateFormatM')"
                :placeholder="$t('ViBorder.common.pleaseSelect')">
              </el-date-picker>
            </div>
          </el-tab-pane>
          <!-- 年 -->
          <el-tab-pane :label="$t('ViBorder.IC.yChart')" class="tb" name="y">
            <div class="s">
              <!-- 检入 -->
              <span class="label">{{$t('ViBorder.IC.checkinY')}}</span>
              <el-date-picker
                size="small"
                v-model="dateModel.y.checkInTime"
                @change="handleCheckInTime"
                type="year"
                :clearable="false"
                value-format="timestamp"
                :format="$t('ViBorder.common.dateFormatY')"
                :placeholder="$t('ViBorder.common.pleaseSelect')">
              </el-date-picker>
            </div>
            <div class="f">
              <!-- 结论提交 -->
              <span class="label">{{$t('ViBorder.IC.conclusionSubmitY')}}</span>
              <el-date-picker
                size="small"
                v-model="dateModel.y.conclusionTime"
                type="year"
                :clearable="false"
                value-format="timestamp"
                :format="$t('ViBorder.common.dateFormatY')"
                :placeholder="$t('ViBorder.common.pleaseSelect')">
              </el-date-picker>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="normal-search">
        <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
      </div>
    </div>
    <div class="chart-list panel">
      <panelTitle :panelTitleInit="panelTitle.mainTitle">
        <i class="iconfont" @click="exportPdf">&#xe632;</i>
        <i class="iconfont" @click="exportExcel">&#xe745;</i>
        <i class="iconfont" @click="print">&#xe68b;</i>
      </panelTitle>
      <h2 class="title">{{dateModel[actived].conclusionTime | formatDate($t(`ViBorder.common.dateFormat${actived === 'd' ? '' : actived.toUpperCase()}`))}}</h2>
      <div class="charts-group">
        <div class="left">
          <div :id="`echart_line_${reportModule.name}`" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="right">
          <div :id="`echart_pie_1_${reportModule.name}`" style="width: calc(100% / 3); height: 100%;"></div>
          <div :id="`echart_pie_2_${reportModule.name}`" style="width: calc(100% / 3); height: 100%;"></div>
          <div :id="`echart_pie_3_${reportModule.name}`" style="width: calc(100% / 3); height: 100%;"></div>
        </div>
      </div>
      <div class="table-list">
        <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
      </div>
    </div>
    <div class="chart-list panel export_print_block" id="export-c-r">
      <panelTitle :panelTitleInit="panelTitle.mainTitle"></panelTitle>
      <h2 class="title">{{dateModel[actived].conclusionTime | formatDate($t(`ViBorder.common.dateFormat${actived === 'd' ? '' : actived.toUpperCase()}`))}}</h2>
      <div class="charts-group hidden-charts-group" id="export_print_block">
        <div class="left export-left">
          <div :id="`echart_line_${reportModule.name}_2`" style="width: 100%; height: 50%;"></div>
          <div :id="`echart_pie_1_${reportModule.name}_2`" style="width: 100%; height: 50%;"></div>
        </div>
        <div class="right">
          <div :id="`echart_pie_2_${reportModule.name}_2`" style="width: 50%; height: 60%;"></div>
          <div :id="`echart_pie_3_${reportModule.name}_2`" style="width: 50%; height: 60%;"></div>
        </div>
      </div>
      <!-- <div class="table-list">
        <ComTable :tableData='allListTableData' :tableGroup='tableGroup'></ComTable>
      </div> -->
    </div>
  </div>
</template>

<script>
import handleData from '../../api/IC/commonReport'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
import PrintJs from 'print-js'
import html2Canvas from 'html2canvas'
export default {
  name: 'common-report',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      loading: false,
      actived: 'd',
      titleBread: { // 面包屑导航组件初始化
        font: '/', // 中间分隔字符，可以是文字，也可以是符号
        data: [
          {
            label: this.$t('ViBorder.systemModule.IC.headTitle'),
            path: '' // 跳转路径
          }
        ]
      },
      panelTitle: { // title组件数据
        mainTitle: {
          title: this.$t('ViBorder.IC.report')
        }
      },
      dateModel: {
        y: {
          conclusionTime: new Date().getTime(),
          checkInTime: new Date().getTime()
        },
        m: {
          conclusionTime: new Date().getTime(),
          checkInTime: new Date().getTime()
        },
        d: {
          conclusionTime: new Date().getTime(),
          checkInTime: new Date().getTime()
        }
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.IC.inspection'),
              value: 'current'
            },
            {
              label: this.$t('ViBorder.IC.history'),
              value: 'history'
            }
          ],
          ruleProp: 'vehicleState',
          clearable: true
        }
      ],
      queryFn: { // 页面表单查询方法
        query: this.queryChartsAndLists,
        close: this.resetTime,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      tableData: { // 表格数据
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '180',
        refName: 'multipleTable',
        sortMethod: this.getSortTable, // 新增排序方法
        data: []
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          // width: '260',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          // width: '170',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'text',
          // width: '150',
          model: 'vehicleState'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          // width: '150',
          model: 'conclusion'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.submitConclusionTime'),
          type: 'text',
          // width: '150',
          model: 'conclusionTime'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          width: '160',
          model: 'operator'
        }
      ],
      allListTableData: {
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '100',
        refName: 'multipleTable',
        sortMethod: () => {}, // 新增排序方法
        data: []
      },
      pageOptions: {
        pageSortParm: ''
      },
      echartsLabel: {
        conclusionType: [],
        businessType: []
      },
      unit: ''
    }
  },
  created () {
    this.titleBread.data.push(this.reportModule.backTitle)
    this.handleTabRequestApi()
    // Promise.all([this.initDropDownList(), this.getChartsData(), this.getPageListData()])
    // // this.getChartsData()
  },
  mounted () {
    this.resizeEcharts()
  },
  methods: {
    resizeEcharts () {
      let myEchart1 = this.$echarts.init(document.getElementById(`echart_line_${this.reportModule.name}`))
      let myEchart2 = this.$echarts.init(document.getElementById(`echart_pie_1_${this.reportModule.name}`))
      let myEchart3 = this.$echarts.init(document.getElementById(`echart_pie_2_${this.reportModule.name}`))
      let myEchart4 = this.$echarts.init(document.getElementById(`echart_pie_3_${this.reportModule.name}`))
      // 隐藏导出的图标
      let myEchart12 = this.$echarts.init(document.getElementById(`echart_line_${this.reportModule.name}_2`))
      let myEchart22 = this.$echarts.init(document.getElementById(`echart_pie_1_${this.reportModule.name}_2`))
      let myEchart32 = this.$echarts.init(document.getElementById(`echart_pie_2_${this.reportModule.name}_2`))
      let myEchart42 = this.$echarts.init(document.getElementById(`echart_pie_3_${this.reportModule.name}_2`))
      window.onresize = () => {
        myEchart1.resize()
        myEchart2.resize()
        myEchart3.resize()
        myEchart4.resize()
        // 隐藏导出的图标
        myEchart12.resize()
        myEchart22.resize()
        myEchart32.resize()
        myEchart42.resize()
      }
    },
    responseType () {
      let obj = {
        d: 'day',
        m: 'month',
        y: 'year'
      }
      return obj[this.actived]
    },
    handleTab (e) {
      e && e.active && this.handleTabRequestApi()
      let obj = {
        'y': this.$t('ViBorder.IC.month'),
        'm': this.$t('ViBorder.IC.day'),
        'd': this.$t('ViBorder.IC.hours')
      }
      this.unit = obj[this.actived]
      return this.dateModel[this.actived]
    },
    handleCheckInTime (e) {
      this.dateModel[this.actived].conclusionTime = e
    },
    getParm () {
      let op = {}
      if (this.reportModule.name === 'traffic') {
        op = {
          inspectStep: 'TRAFFICCONFIRM'
        }
      } else {
        op = {
          inspectStep: `${this.reportModule.name.toUpperCase()}CHECK`
        }
      }
      return this.$filterNullFields({...this.formRule.model, ...this.handleTab(), ...{reportType: this.responseType()}, ...op})
    },
    initDropDownList () {
      handleData._initData().then(res => {
        let {flag, result} = res.data
        if (flag) {
          let fn = (v, k) => {
            return v[k].map(item => {
              return {
                label: this.$t(item.key) || this.$t(item.i18nKey),
                value: item.value || item.dataCode
              }
            })
          }
          let label = (v, k) => {
            return v[k].map(e => this.$t(e.key) || this.$t(e.i18nKey))
          }
          this.echartsLabel.businessType = label(result, 'businessType')
          let object = this.echartsLabel
          if (this.reportModule.name === 'traffic') {
            this.echartsLabel.conclusionType = label(result, 'conclusionTypeTranport')
            for (let k in result) {
              this.inputItem.forEach(e => {
                if (e.ruleProp === 'conclusionType') {
                  e.option = fn(result, 'conclusionTypeTranport')
                } else if (e.ruleProp === k) {
                  e.option = fn(result, k)
                }
              })
            }
          } else {
            this.echartsLabel.conclusionType = label(result, 'conclusionType')
            for (let k in result) {
              this.inputItem.forEach(e => {
                if (e.ruleProp === k) {
                  e.option = fn(result, k)
                }
              })
            }
          }
          // console.log('this.echartsLabel', this.echartsLabel)
        }
      }).catch(err => {
        console.log(err, '获取下拉列表失败')
      })
    },
    getChartsData () {
      handleData._getReport(this.getParm()).then(res => {
        let {flag, result} = res.data
        if (flag) {
          this.initLineEchart(result.histogram)
          this.initPieEchart1(result.pies)
          this.initPieEchart2(result.pies)
          this.initPieEchart3(result.pies)
          setTimeout(() => {
            this.resizeEcharts()
          }, 800)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getPageListData (p) {
      handleData._getList({...p, ...this.getParm()}).then(res => {
        let {flag, result} = res.data
        if (flag) {
          if (result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            pagesize: result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: result.totalElements
          }
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.initTableData(result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    handleTabRequestApi () {
      this.loading = true
      Promise.all([this.initDropDownList(), this.getChartsData(), this.getPageListData()]).then(res => {
        console.log('res', res)
      }).finally(() => {
        setTimeout(() => {
          this.loading = false
        }, 2000)
      })
    },
    queryChartsAndLists () {
      Promise.all([this.getPageListData(), this.getChartsData()])
    },
    resetTime () {
      let time = new Date().getTime()
      this.dateModel[this.actived].checkInTime = time
      this.dateModel[this.actived].conclusionTime = time
    },
    initTableData (v, cb) {
      if (Array.isArray(v)) {
        let arr = v.slice()
        arr.forEach(element => {
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':case 'conclusionTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate'))
                  break
                case 'conclusion':case 'businessType':case 'vehicleState':
                  element[oKey] = element[oKey] && this.$t(element[oKey])
                  break
              }
            }
          }
        })
        cb && cb()
        return arr
      } else {
        return []
      }
    },
    handleSizeChange (val) {
      this.pageOptions.tableSize = val
      this.pageOptions.currentChageFlag = true
      let param = this.getParm()
      const handlesize = {...param, ...{size: val, page: 0}, ...this.pageOptions.pageSortParm}
      this.getPageListData(handlesize)
    },
    handleCurrentChange (val) {
      if (!this.pageOptions.currentChageFlag) {
        let param = this.getParm()
        const pagesize = this.tableData.page.pagesize
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.pageOptions.pageSortParm}
        this.getPageListData(handlesize)
      }
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.pageOptions.pageSortParm = sort
        let param = this.getParm()
        const handlesize = {...{size: this.pageOptions.tableSize || 10, page: 0}, ...sort, ...param}
        this.getPageListData(handlesize)
      }
    },
    commonEchatsOptions (options) {
      return {
        title: {
          text: options.title,
          x: 'center',
          y: 'bottom',
          padding: [10, 5, 10, 5]
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        legend: {
          orient: 'horizontal',
          y: 'top',
          // data: [],
          data: options.legend,
          padding: [5, 5, 20, 5]
        },
        series: [
          {
            name: options.seriesName,
            type: 'pie',
            radius: '55%',
            labelLine: {
              normal: {
                show: false
              }
            },
            label: {
              normal: {
                show: false,
                position: 'center'
              },
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '30',
                  fontWeight: 'bold'
                }
              }
            },
            center: ['50%', '58%'],
            data: options.data,
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    },
    commonEchatsOptionsInExport (options) {
      return {
        title: {
          text: options.title,
          x: 'center',
          y: 'bottom',
          padding: [10, 5, 10, 5]
        },
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b}: {c} ({d}%)'
        },
        grid: {
          left: '-5%',
          right: '5%',
          bottom: '3%',
          containLabel: true
        },
        series: [
          {
            name: options.seriesName,
            type: 'pie',
            radius: options.radius,
            labelLine: {
              normal: {
                show: true,
                length: 2
              }
            },
            label: {
              formatter: '{b}:\n{@[' + 'c' + ']} ({d}%)',
              emphasis: {
                show: false,
                textStyle: {
                  fontSize: '25',
                  fontWeight: 'bold'
                }
              }
            },
            center: options.pos,
            data: options.data,
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      }
    },
    dispatchData (keyArr, val, i18nKey) {
      let dataArr = []
      for (const key in val) {
        if (val.hasOwnProperty(key)) {
          const element = val[key]
          if (keyArr.includes(key)) {
            dataArr.push({
              value: val[key],
              name: this.$t(`ViBorder.DIC.${i18nKey}.${key.toUpperCase()}`)
            })
          }
        }
      }
      return dataArr
    },
    initLineEchart (val) {
      let echatsObj = this.$echarts.init(document.getElementById(`echart_line_${this.reportModule.name}`))
      let echatsObj2 = this.$echarts.init(document.getElementById(`echart_line_${this.reportModule.name}_2`))
      let getOpt = (v) => {
        return {
          color: ['#3398DB'],
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'cross',
              crossStyle: {
                color: '#999'
              }
            }
          },
          grid: {
            left: '5%',
            right: '10%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'category',
              data: val.map(e => e.timeUnit),
              axisTick: {
                alignWithLabel: true
              },
              axisPointer: {
                type: 'shadow'
              },
              name: this.unit
            }
          ],
          yAxis: [
            {
              type: 'value',
              name: this.$t('ViBorder.IC.amount')
            }
          ],
          series: [
            {
              name: this.$t('ViBorder.IC.checkData'),
              type: 'bar',
              data: val.map(e => e.cnt),
              label: v ? {
                normal: {
                  show: true,
                  formatter: '{c}',
                  position: 'top'
                }
              } : {}
            }
          ]
        }
      }
      echatsObj.setOption(getOpt())
      echatsObj2.setOption(getOpt(true))
    },
    initPieEchart1 (val) {
      let echatsObj = this.$echarts.init(document.getElementById(`echart_pie_1_${this.reportModule.name}`))
      let echatsObj2 = this.$echarts.init(document.getElementById(`echart_pie_1_${this.reportModule.name}_2`))
      let keyArr = ['import', 'transitdomestic', 'transitnontariffunion', 'transittariffunion', 'export', 'tologisticscenter']
      let option = this.commonEchatsOptions({title: this.$t('ViBorder.businessLogicCommon.businessType'), legend: this.echartsLabel.businessType, seriesName: this.$t('ViBorder.businessLogicCommon.businessType'), data: this.dispatchData(keyArr, val, 'BUSINESSTYPE')})
      let option1 = this.commonEchatsOptionsInExport({title: this.$t('ViBorder.businessLogicCommon.businessType'), legend: this.echartsLabel.businessType, seriesName: this.$t('ViBorder.businessLogicCommon.businessType'), data: this.dispatchData(keyArr, val, 'BUSINESSTYPE'), pos: ['50%', '50%'], radius: '40%'})
      echatsObj.setOption(option)
      echatsObj2.setOption(option1)
    },
    initPieEchart2 (val) {
      let echatsObj = this.$echarts.init(document.getElementById(`echart_pie_2_${this.reportModule.name}`))
      let echatsObj2 = this.$echarts.init(document.getElementById(`echart_pie_2_${this.reportModule.name}_2`))
      let legend = [this.$t('ViBorder.IC.inspection'), this.$t('ViBorder.IC.history')]
      let seriesName = this.$t('ViBorder.businessLogicCommon.vehicleStatus')
      let data = [
        {value: val.current, name: this.$t('ViBorder.IC.inspection')},
        {value: val.history, name: this.$t('ViBorder.IC.history')}
      ]
      let option = this.commonEchatsOptions({title: this.$t('ViBorder.businessLogicCommon.vehicleStatus'), legend, seriesName, data})
      let option1 = this.commonEchatsOptionsInExport({title: this.$t('ViBorder.businessLogicCommon.vehicleStatus'), legend, seriesName, data, pos: ['50%', '40%'], radius: '42%'})
      echatsObj.setOption(option)
      echatsObj2.setOption(option1)
    },
    initPieEchart3 (val) {
      let echatsObj = this.$echarts.init(document.getElementById(`echart_pie_3_${this.reportModule.name}`))
      let echatsObj2 = this.$echarts.init(document.getElementById(`echart_pie_3_${this.reportModule.name}_2`))
      let legend = this.echartsLabel.conclusionType
      let seriesName = this.$t('ViBorder.businessLogicCommon.conclusion')
      let keyArr = ['passed', 'noPass']
      if (this.reportModule.name === 'traffic') {
        keyArr.push('manualMeasure')
      } else {
        keyArr.push('noNeed')
      }
      let option = this.commonEchatsOptions({title: this.$t('ViBorder.businessLogicCommon.conclusion'), legend, seriesName, data: this.dispatchData(keyArr, val, 'CONCLUSIONTYPE')})
      let option1 = this.commonEchatsOptionsInExport({title: this.$t('ViBorder.businessLogicCommon.conclusion'), legend, seriesName, data: this.dispatchData(keyArr, val, 'CONCLUSIONTYPE'), pos: ['50%', '40%'], radius: '42%'})
      echatsObj.setOption(option)
      echatsObj2.setOption(option1)
    },
    getDownloadOptions ({exportType, size, pageType}) {
      let op = {}
      if (this.reportModule.name === 'traffic') {
        op = {
          inspectStep: 'TRAFFICCONFIRM'
        }
      } else {
        op = {
          inspectStep: `${this.reportModule.name.toUpperCase()}CHECK`
        }
      }
      return {...this.getParm(), ...initDownloadOptions({ exportType, pageType, titleKey: this.reportModule.backTitle.label, size, tableGroup: this.tableGroup }), ...op, ...{reportType: this.responseType()}}
    },
    downloadFileApi (parm, type, exportType) {
      this.loading = true
      handleData._exportFile(parm).then(res => {
        this.$createBlobUrl(res.data, res.headers['content-type'], this.reportModule.backTitle.label, exportType)
      }).catch(err => {
        console.log('err', err)
      }).finally(() => {
        this.loading = false
      })
    },
    exportPdf (p = {}, type) {
      let el = document.getElementById('export_print_block')
      html2Canvas(el, {
        allowTaint: true
      }).then(canvas => {
        let base64 = canvas.toDataURL('image/jpeg', 1.0)
        const BASE64STR = base64.substring(base64.indexOf(',') + 1, base64.length)
        // orientation: landscape为横向，portrait为纵向
        let parm = {...this.getParm(), ...this.getDownloadOptions({exportType: 'PDF', size: window.config.exportSizeMount, pageType: 'A4'}), ...{base64Code: BASE64STR, orientation: 'landscape'}, ...p}
        this.downloadFileApi(parm, 'pdf', type)
      })
    },
    exportExcel () {
      if (!this.tableData.data.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      let op = this.getDownloadOptions({exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4'})
      const type = 'xlsx'
      this.downloadFileApi(op, type)
    },
    print () {
      this.exportPdf({forPrint: 1}, 'print')
    }
  },
  props: {
    'reportModule': {
      type: Object
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#common-report {
  width: $all;
  height: $all;
  @extend .extend-bar;
  padding: $margin;
  @include box-sizing();
  background-color: #fff;
  position: relative;
  .bread-crumb {
    .margins {
      margin-bottom: $dis10;
    }
  }
  .query-list {
    @include flex();
    width: $all;
    @include box-sizing();
    margin-bottom: $dis10;
    .tab-search {
      width: 27%;
      margin-right: 6px;
      .el-tabs__item {
        height: 33px;
      }
      .tb {
        width: $all;
        @include flex(column);
        .f, .s {
          width: $all;
          @include flex($dir:column, $ali: flex-start);
          .label {
            line-height: 32px;
            flex: 1;
            text-align: left;
            display: inline-block;
            width: $all;
            margin-left: $margin;
          }
          .el-input {
            width: 65%;
            margin-left: $margin;
          }
        }
        .f {
          margin-bottom: $dis10;
        }
      }
    }
    .normal-search {
      flex: 1;
      .search-form {
        width: $all;
        @include layout(3);
        padding-top: 29px;
        .search-form-item {
          width: 25%;
          margin-right: 12%;
        }
        .search-form-btn {
          margin: 0;
        }
      }
    }
  }
  .chart-list {
    width: $all;
    height: calc(100% - 210px);
    @include box-sizing();
    .title {
      width: $all;
      height: 30px;
      line-height: 34px;
      padding: 8px 0 0 0 ;
    }
    .iconfont {
      color: $primary;
      margin: 0 $dis10;
      cursor: pointer;
    }
    .charts-group {
      @include flex();
      width: $all;
      height: 52%;
      .left {
        width: 38%;
        height: $all;
      }
      .right {
        @include flex();
        width: 60%;
        height: $all;
      }
    }
    .charts-group.hidden-charts-group {
      @include flex(column, center, flex-start);
      .left {
        width: 60%;
        // margin-bottom: $margin;
        // padding-left: 2%;
      }
      .export-left {
        @include flex(column);
        height: 650px;
        #echart_pie_1_animal_2, #echart_pie_1_health_2, #echart_pie_1_plant_2, #echart_pie_1_traffic_2 {
          margin-left: -30px;
        }
      }
      .right {
        width: 60%;
        height: 60%;
        align-items: flex-start;
        // position: relative;
        // left: -40px;
        // margin-left: $dis10;
      }
    }
    .table-list {
      width: $all;
      height: 37%;
    }
  }
  .chart-list.panel.export_print_block {
    height: $all;
  }
  .panel.export_print_block {
    width: 95%;
    .charts-group {
      height: $all;
    }
  }
  #export-c-r {
    position: absolute;
    z-index: -1;
    top: 0;
  }
  .panel {
    @extend .extend-panel;
  }
}
</style>
