<template>
  <div id="com-ci-bar" v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="com-ci-M">
      <!-- 表格内容 -->
      <div class="infolist list-height">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar">
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
    </div>
    <div class="fix-box">
      <div class="fix-tab" ref="toggleTab">
        <el-tooltip class="item" effect="dark" :content="$t('ViBorder.businessLogicCommon.historicalTaskList')" placement="left">
          <div class="fix-tab-title" @click="toggleAsideTab">
            <span class="tab-text">{{$t('ViBorder.businessLogicCommon.historicalTaskList')}}</span>
            <i class="iconfont" :style="{transform: asideTab.rotateDeg}">&#xe623;</i>
          </div>
        </el-tooltip>
        <div ref="toggleTabContanier" class="fix-tab-container">
          <div class="up-down-container">
            <div class="up-down-infolist">
              <div class="up-down-panel">
                <panelTitle :panelTitleInit="asideModalTitle.queryTitle"></panelTitle>
                <ComForm :searchIpt="asideModalItem" :searchFunc="asideModalFn" :formRule='asideModalRule'></ComForm>
              </div>
              <div class="up-down-panel panel-bottom">
                <panelTitle :panelTitleInit="asideModalTitle.listTitle">
                  <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
                </panelTitle>
                <ComTable :tableData='asideTabContainer' :tableGroup='asideTableGroup'></ComTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/BCI/index.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import {connect, disconnect} from '../../components/common/ws.js'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
export default {
  name: 'com-ci-page',
  data () {
    return {
      loading: false,
      notifyOffset: window.config.notifyOffset,
      pageOptions: {
        CurrentChageFlag: false,
        vehicleIdArr: ``
      },
      tableSize: '',
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.listQuery,
        close: this.reset,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'vehicleType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        }
      ],
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        MaxHeight: '780',
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.jump2Details,
          label: `<span class='editTable'><i class="iconfont">&#xe605;</i></span>`,
          title: this.$t('ViBorder.common.confirm'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          width: '210',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '130'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessTypeI18N.key',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'text',
          model: 'vehicleTypeI18N.key',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          model: 'licensePlateNumberBack',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'text',
          model: 'conclusionTypes',
          width: '180'
        },
        {
          label: this.$t('ViBorder.IC.operator'),
          type: 'text',
          model: 'operator',
          width: '150'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right',
          width: '110'
        }
      ],
      /**
       * ************************侧拉框的数据信息*******************
       */
      asideTab: { // 侧栏数据
        display: false,
        rotateDeg: ''
      },
      asideModalTitle: { // 模态框数据标题
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      asideModalItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          isThree: true,
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'vehicleType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.conclusion'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'conclusionType',
          clearable: true
        },
        // {
        //   getLabel: this.$t('ViBorder.businessLogicCommon.submitConclusionTime'),
        //   type: 'text',
        //   placeHolder: this.$t('ViBorder.businessLogicCommon.submitConclusionTime'),
        //   models: '',
        //   ruleProp: 'submitConclusionTime'
        // },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          ruleProp: 'normalEnd',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          clearable: true
        }
      ],
      asideTableGroup: [],
      asideModalFn: { // 弹窗表单确定方法
        query: this.asideModalSure,
        close: this.resetAside,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      asideModalRule: { // 弹窗表单验证和存放数据 model=> post到后台的数据
        refName: 'asideQueryForm',
        rule: {
          checkinTime: [
            {validator: (rule, value, callback) => {
              this.$customValidateTimeRange(rule, value, callback)
            },
            trigger: 'change'}
          ]
        },
        model: {}
      },
      sidePageOptions: {
        CurrentChageFlag: false,
        vehicleIdArr: ``
      },
      sideOperation: [ // 表格操作
        {
          func: this.viewDetail,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      asideTabContainer: { // 侧栏表格
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '570',
        refName: 'multipleTable',
        sortMethod: this.asideGetSortTable // 新增排序方法
      },
      pageUseParam: {
        pageSizeNum: `` // 当前页单页显示数据数
      },
      pageSortParm: {},
      asideSortParm: {},
      sysApiUrl: ''
    }
  },
  created () {
    this.changeApiUrl()
    Promise.all([this.getDropDownList(), !this.getCachedOptions('') ? this.listQuery(true) : this.initIndexInputVal()])
    this.connectWebSocket()
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
    // 页面加载时按下tab键不激活日期组件
    var key = document.getElementsByClassName('fix-box')[0].getElementsByClassName('el-range-input')
    for (var i = 0; i < key.length; i++) {
      key[i].setAttribute('tabindex', -1)
    }
  },
  destroyed () {
    this.socketInfo.client && disconnect({client: this.socketInfo.client}) // socket断开连接
    this.toggleGloableModal(false)
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    windowResize () { // 用于页面改变时（大屏或小屏）更改dialog弹窗数据列表的MaxHeight
      let clientWidth = document.body.clientWidth
      if (clientWidth < 1640) {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
        }
        this.$data.asideTabContainer.MaxHeight = 280
        // this.$data.tableData.MaxHeight = 160
      } else {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1500px' : '0px'
        }
        this.$data.asideTabContainer.MaxHeight = 410
        // this.$data.tableData.MaxHeight = 780
      }
    },
    getQueryParam (val) {
      let {model} = val
      let options = {}
      for (const key in model) {
        // if (key === 'conclusionType') {
        //   Object.assign(options, {conclusionType: model[key]})
        //   // delete model[key]
        // }
        if (key !== 'checkinTime') {
          Object.assign(options, {[key]: model[key]})
        }
      }
      let time = {}
      if (Array.isArray(model.checkinTime) && model.checkinTime.length) {
        if (!model.checkinTime[1].includes('999')) {
          model.checkinTime[1] = `${model.checkinTime[1]}.999`
        }
        time = {
          startTime: new Date(model.checkinTime[0]).getTime(),
          endTime: new Date(model.checkinTime[1]).getTime()
        }
        // // console.log(`startTime: ${new Date(model.checkinTime[0]).getFullYear()}-${new Date(model.checkinTime[0]).getMonth() + 1}`, `endTime: ${new Date(model.checkinTime[1]).getFullYear()}-${new Date(model.checkinTime[1]).getMonth() + 1}`)
      }
      let param = Object.assign({}, time, options)
      return this.$filterNullFields(param)
    },
    changeApiUrl () {
      let path = this.$route.path.split('/')[1]
      if (path === 'ac') {
        this.sysApiUrl = 'animal'
      } else if (path === 'hc') {
        this.sysApiUrl = 'health'
      } else {
        this.sysApiUrl = 'plant'
      }
      this.tableGroup.forEach(e => {
        if (e.model === 'conclusionTypes') {
          e.model = `${this.sysApiUrl}ConclusionType`
        }
      })
    },
    getCachedOptions (str) {
      return this.$store.state.searchConditionOption[`${this.sysApiUrl}${str}`]
    },
    initCache (key) {
      let p = this.getCachedOptions(key)
      let obj = {}
      // 将从store获取的数组数据组装为对象键值对
      p.forEach(item => {
        let key = Object.keys(item)
        Object.assign(obj, {[key]: item[key]})
      })
      return obj
    },
    initIndexInputVal () {
      let obj = this.initCache('')
      this.inputItem.forEach(e => {
        e.models = obj[e.ruleProp]
      })
      let param = this.getQueryParam({model: obj})
      const handlesize = {...{size: this.tableSize || 10, page: 0}, ...this.pageSortParm, ...param}
      this.getTableData(handlesize)
    },
    initAsideInputVal () {
      let obj = this.initCache('ListAll')
      this.asideModalItem.forEach(e => {
        e.models = obj[e.ruleProp]
      })
      let param = this.getQueryParam({model: obj})
      let initTableParm = {...{page: 0, size: this.pageUseParam.pageSizeNum || 10}, ...{site: this.defaultOption}, ...param}
      this.getSideTableData(initTableParm) // 初始化表格
    },
    // *********************************** 页面逻辑 *****************************************
    getDropDownList () {
      handleData._getDropDownlist('', this.sysApiUrl).then(res => {
        const {flag, result} = res.data
        if (flag) {
          let arrKey = ['asideModalItem', 'inputItem']
          arrKey.forEach(e => {
            this[e].forEach(item => {
              if (item.type === 'select' && (result[item.ruleProp] && result[item.ruleProp].length) && item.ruleProp !== 'conclusionType') {
                item.option = result[item.ruleProp].map(ele => {
                  return {
                    label: this.$t(ele.i18nKey) || this.$t(ele.key),
                    value: ele.dataCode || ele.value
                  }
                })
              }
            })
          })
          let arr = result.conclusionType.map(ele => {
            return {
              label: this.$t(ele.key),
              value: ele.value
            }
          })
          this.initAsideQueryData(arr)
          this.inputItem.forEach(item => {
            if (item.ruleProp === 'conclusionType') {
              item.option = arr.filter(item => {
                return item.value === 'NOPASS'
              })
            }
          })
          arrKey.forEach(e => {
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    initAsideQueryData (arr) {
      this.asideTableGroup = JSON.parse(JSON.stringify(this.tableGroup))
      this.asideTableGroup.splice(-2, 0, {
        label: this.$t('ViBorder.businessLogicCommon.submitConclusionTime'),
        type: 'text',
        width: '220',
        model: 'conclusionTime'
      })
      this.asideTableGroup.forEach(e => {
        if (e.model === 'vehicleTypeI18N.key') {
          e.model = 'vehicleType'
        } else if (e.model === 'businessTypeI18N.key') {
          e.model = 'businessType'
        }
      })
      // this.asideModalItem = JSON.parse(JSON.stringify(this.inputItem))
      this.asideModalItem.forEach(item => {
        if (item.ruleProp === 'conclusionType') {
          item.option = arr.filter(item => {
            return item.value !== 'NOPASS'
          })
        }
      })
    },
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.socketInfo.client = Stomp.over(socket)
      let path = `/topic/commandTopic_${this.socketInfo.site}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        this.listQuery()
      }
      connect({client: this.socketInfo.client, path, scb, header: this.socketInfo.header, reconCallBack: this.connectWebSocket})
    },
    clearSearchCache (str) {
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          [`${this.sysApiUrl}${str}`]: []
        }
      })
    },
    insertCache (item, key = '', options) {
      let parm = this[item].map(e => {
        let obj = {}
        obj = {
          [e.ruleProp]: e.models
        }
        return obj
      })
      parm = [...parm, ...[{size: options.size}], ...[{page: options.page}], ...[{sort: options.sort}]]
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          [`${this.sysApiUrl}${key}`]: parm
        }
      })
    },
    resetAside () {
      this.clearSearchCache('ListAll')
    },
    reset () {
      this.clearSearchCache('')
    },
    getSideTableData (options) { // 侧拉获取表格初始数据 模拟请求回来的数据
      this.insertCache('asideModalItem', 'ListAll', options)
      handleData._listHis(options, this.sysApiUrl).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话加分页
            this.asideTabContainer.isPage = true
          } else {
            this.asideTabContainer.isPage = false
          }
          this.asideTabContainer.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.sideHandleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.sideHandleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.asideModalRule.model.size = res.data.result.size
          // this.asideModalRule.model.CurrentPage = res.data.result.number
          this.sidePageOptions.CurrentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.asideTabContainer.data = this.unifiedFormData(res.data.result.content, 'side')
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getTableData (options, isAuto = '') { // 获取主页表格初始数据 模拟请求回来的数据
      !isAuto && this.insertCache('inputItem', '', options)
      handleData._indexList(options, this.sysApiUrl).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          // this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.CurrentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option, side) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        let values = ''
        let path = this.$route.path.split('/')[1].substring(0, 1)
        arr.forEach(element => {
          if (side === 'side') {
            element.operation = this.sideOperation
          } else {
            element.operation = this.operation
          }
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':case 'arrivedTunnelTime':case 'enterTunnelTime':case 'leftTunnelTime':case 'conclusionTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate'))
                  // 分页查询时间格式化
                  break
                case 'businessTypeI18N':case 'vehicleTypeI18N':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
                case 'businessType':case 'vehicleType':
                  element[oKey] = element[oKey] ? this.$t(element[oKey]) : '' // 国际化
                  break
              }
              // 只有是这三个系统的对应的结论类型的时候，并且数据存在并且当前系统的路径和字段匹配上之后才允许给当前的这一条数据追加国际化字段
              if ((oKey === 'plantConclusionType' || oKey === 'animalConclusionType' || oKey === 'healthConclusionType') && element[oKey]) {
                // if (oKey.indexOf(path) === 0) {
                //   values = this.$t(element[oKey] || element[oKey].key)
                //   element.conclusionTypes = values
                // }
                element[oKey] = this.$t(element[oKey].key || element[oKey])
              }
              if ((oKey === 'animalOperationUserName' || oKey === 'plantOperationUserName' || oKey === 'healthOperationUserName') && element[oKey]) {
                if (oKey.indexOf(path) === 0) {
                  element.operator = element[oKey]
                }
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    jump2Page (table, id, path) {
      sessionStorage.setItem('vehicleId', id)
      handleData._isAllowOpen({vehicleId: id}, this.sysApiUrl).then(res => {
        const {flag, errorCode} = res.data
        if (flag) {
          this.$router.push({
            path: this.jump2PagePath[path]
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    jump2Details (selection) { // 主页放行确认的操作按钮
      this.jump2Page('tableData', selection.row.id, 'check')
    },
    viewDetail (selection) { // 侧拉框的option方法
      this.asideTab.display = false
      this.jump2Page('asideTabContainer', selection.row.vehicleId, 'details')
    },
    listQuery (isAuto) { // 主页表单查询方法
      this.pageOptions.CurrentChageFlag = true
      setTimeout(() => {
        let param = this.getQueryParam(this.formRule)
        const handlesize = {...{size: this.tableSize || 10, page: 0}, ...this.pageSortParm, ...param}
        this.getTableData(handlesize, isAuto)
      }, 10)
    },
    asideModalSure () { // 侧拉框表单查询方法
      this.sidePageOptions.CurrentChageFlag = true
      let sort = this.getQueryParam(this.asideModalRule)
      const param = {...sort, ...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...this.asideSortParm}
      this.getSideTableData(param)
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.pageSortParm = sort
        let param = this.getQueryParam(this.formRule)
        const handlesize = {...{size: this.tableSize || 10, page: 0}, ...sort, ...param}
        this.getTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      this.tableSize = val
      this.pageOptions.CurrentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.pageSortParm}
      this.getTableData(handlesize)
    },
    sideHandleSizeChange (val) { // 侧拉页主页分页条数改变触发该函数
      this.sidePageOptions.CurrentChageFlag = true
      this.pageUseParam.pageSizeFlag = val
      // let handlesize = this.getQueryParam({...{size: val, page: 0}})
      let handlesize = this.getQueryParam(this.asideModalRule)
      let param = {...handlesize, ...{page: 0, size: val}, ...this.asideSortParm}
      this.getSideTableData(param)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.CurrentChageFlag) {
        let param = this.getQueryParam(this.formRule)
        const pagesize = this.tableData.page.pagesize
        let handlesize = {...param, ...{page: parseInt(val - 1), size: pagesize}, ...this.pageSortParm}
        this.getTableData(handlesize)
      }
    },
    sideHandleCurrentChange (val) { // 侧拉页当前页码改变触发改函数
      if (!this.sidePageOptions.CurrentChageFlag) {
        const pagesize = this.asideTabContainer.page.pagesize
        let handlesize = this.getQueryParam(this.asideModalRule)
        let param = {...handlesize, ...{page: parseInt(val - 1), size: pagesize}, ...this.asideSortParm}
        this.getSideTableData(param)
      }
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    toggleAsideTab () {
      // 切换侧栏tab
      this.asideTab.display = !this.asideTab.display
      // 宽度慢慢展现
      if (document.body.clientWidth < 1640) {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
      } else {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1500px' : '0px'
      }
      // this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0'
      // 隐藏掉边框
      this.$refs.toggleTab.style.right = this.asideTab.display ? '0' : '0'
      // 三角号旋转
      this.asideTab.rotateDeg = this.asideTab.display ? 'rotate(-90deg)' : 'rotate(90deg)'
      // 获取列表数据
      if (this.asideTab.display) {
        this.toggleGloableModal(true)
        if (!this.getCachedOptions('ListAll')) {
          setTimeout(() => {
            let param = this.getQueryParam(this.asideModalRule)
            let initTableParm = {...param, ...{page: 0, size: this.pageUseParam.pageSizeNum || 10}, ...{site: this.defaultOption}}
            this.getSideTableData(initTableParm) // 初始化表格
          }, 10)
        } else {
          this.initAsideInputVal()
        }
      } else {
        this.toggleGloableModal(false)
      }
    },
    asideGetSortTable (column, prop, order) { // 根据时间排序
      if (this.asideTabContainer.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.asideSortParm = sort
        let param = this.getQueryParam(this.asideModalRule)
        const handlesize = {...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...sort, ...param}
        this.getSideTableData(handlesize)
      }
    },
    getDownloadOptions () {
      return {...this.getQueryParam(this.asideModalRule), ...initDownloadOptions({ exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4', titleKey: this.$t(this.$route.matched[0].meta.title), tableGroup: this.asideTableGroup })}
    },
    exportExcle () {
      if (this.asideTabContainer.data.length === 0) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
      } else {
        this.loading = true
        handleData._exportExcel(this.getDownloadOptions(), this.sysApiUrl).then(res => {
          this.$createBlobUrl(res.data, res.headers['content-type'], this.$t(this.$route.matched[0].meta.title))
        }).catch(err => {
          console.log('err', err)
        }).finally(() => {
          this.loading = false
        })
      }
    }
  },
  watch: {
    'asideTab.display': {
      handler (newName, oldName) {
        if (document.getElementsByClassName('fix-box')[0]) {
          var key = document.getElementsByClassName('fix-box')[0].getElementsByClassName('el-range-input')
          var all = document.getElementsByClassName('el-range-input')
          if (newName) {
            for (let i = 0; i < all.length; i++) {
              all[i].setAttribute('tabindex', -1)
            }
            // 历史在检列表显示时按下tab键可以激活日期组件
            for (let i = 0; i < key.length; i++) {
              key[i].setAttribute('tabindex', i + 1)
            }
          } else {
            for (let i = 0; i < all.length; i++) {
              all[i].setAttribute('tabindex', i + 1)
            }
            // 历史在检列表隐藏时按下tab键不激活日期组件
            for (let i = 0; i < key.length; i++) {
              key[i].setAttribute('tabindex', -1)
            }
          }
        }
      },
      immediate: true
    }
  },
  props: ['jump2PagePath', 'socketInfo']
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#com-ci-bar {
  @extend .extend-bar;
  .com-ci-M {
    padding: $margin;
    box-sizing: border-box;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
          .search-form-item {
            .search-form-input {
              z-index: 4;
            }
          }
          .search-form-btn {
            padding-top: 23px;
          }
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
        width: 25%;
        @media screen and (max-width: 1640px) {
          width: 100%;
        }
      }
      .panel-L {
        @extend .extend-panel-L;
        width: 100%;
        .iconfont {
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
      height: $all;
    }
    .com-ci-top {
      height: auto;
      .panel {
        width: 100%;
      }
      .el-form-item {
        width: 48% !important;
        float: left;
      }
      .search-form-btn {
        display: none;
      }
    }
    .com-ci-lpn {
      .search-form-btn {
        display: block;
        .el-form-item__content {
          text-align: center!important;
        }
      }
    }
  }
  .fix-box {
    position: fixed;
    z-index: 25;
    right: -217px;
    top: calc(50% - 120px);
    .fix-tab {
      @include flex();
      height: 240px;
      .fix-tab-title {
        left: -96px;
        width: 280px;
        height: 40px;
        position: relative;
        cursor: pointer;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        background:rgba(44, 166, 204, 0.8);
        @include flex();
        transform: rotate(-90deg);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .iconfont {
          transform: rotate(90deg);
          margin-left: 10px;
        }
        .tab-text {
          display: inline-block;
          max-width: 246px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .fix-tab-container {
        background: $white;
        border: 1px solid #ccc;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
        position: relative;
        overflow: hidden;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -o-transition: width 0.6s;
        transition: width 0.6s;
        width: 0;
        right: 217px;
        height: 982px;
        @media screen and (max-width: 1640px) {
          height: 610px;
        }
        border-radius: 6px;
        .up-down-container {
          padding: 10px;
          .tableComp {
            @extend .extend-table-tr-th-style;
            // height: 640px;
          }
          .iconfont {
            margin: 0 $margin;
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }
  }
  .table-bar {
    width: $all;
    @media screen and (min-width: 1640px) {
      height: $all;
      overflow: hidden;
    }
  }
}
</style>
