<template>
  <div id="header">
    <div class="header-contanier">
      <div class="left">
        <!-- <div class="logo"></div> -->
        <div class="title">{{$t(this.$route.matched[0].meta.title)}}</div>
      </div>
      <div class="right">
        <div class="lang">
          <div class="site-lane">{{showSiteLane}}</div>
          <!-- 报警 -->
          <div class="audio" v-if="audio">
            <img src="../../assets/img/sms/warning.gif" v-if="audio" alt="" @click="audioPause">
          </div>
          <audio src="./static/audio/alarm.wav" loop="loop" ref="audio"></audio>
          <!-- 比对站推送 -->
          <!-- <div class="dc-push" v-if="checkedShow">
            <div class="dc-content" @click="dcPushClick">
              <i class="iconfont" v-if="dcPush">&#xe605;</i>
            </div>
            <span>{{$t('ViBorder.DC.pausepush')}}</span> -->
            <!-- <i class="iconfont">&#xe66a;</i> -->
          <!-- </div> -->
          <div class="menu" @click="jump2Menu">
            <i class="iconfont back-btn">&#xe600;</i>
          </div>
          <i class="iconfont">&#xe76c;</i>
          <el-dropdown trigger="click" @command="selectLang">
            <span class="el-dropdown-link whiteC">
              {{language ? $t('ViBorder.common.english') : $t('ViBorder.common.russian')}}<i class="el-icon-arrow-down el-icon--right whiteC"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command='ru-RU'>{{$t('ViBorder.common.russian')}}</el-dropdown-item>
              <el-dropdown-item command='en-US'>{{$t('ViBorder.common.english')}}</el-dropdown-item>
              <!-- <el-dropdown-item command='zh-CN'>{{$t('ViBorder.common.chinese')}}</el-dropdown-item> -->
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div class="user">
          <i class="iconfont">&#xe652;</i>
          <el-dropdown trigger="click" @command="modifyPwd">
            <span class="el-dropdown-link whiteC">{{username}}<i class="el-icon-arrow-down el-icon--right whiteC"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="modifyPwd">{{$t('ViBorder.common.modifyPwd')}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <div class="logout" @click="logOut">
          <i class="iconfont">&#xe653;</i>
        </div>
      </div>
    </div>
    <!-- <crypto></crypto> -->
    <cryp></cryp>
    <!-- 修改密码 -->
    <el-dialog :title="$t('ViBorder.common.modifyPwd')" :visible.sync="ChangePassword" :show-close='falseFlag' :close-on-click-modal='falseFlag' :close-on-press-escape='falseFlag' class='ChangePassDia'>
        <el-form :model="changePass" ref='ChagePassForm' :rules='PasswordRule'>
            <el-form-item :label="$t('ViBorder.upms.index.oldPassword')" prop='oldPass'>
                <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterOldPass')" v-model="changePass.oldPass" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
            </el-form-item>
            <el-form-item :label="$t('ViBorder.upms.index.newPassword')" prop='password'>
                <el-tooltip class="item" effect="dark" :content="tipPassrule" placement="top-end">
                  <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterNewPass')" v-model="changePass.password" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
                </el-tooltip>
            </el-form-item>
            <el-form-item :label="$t('ViBorder.upms.index.conPassword')" prop='ConfPass'>
                <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterConPass')" v-model="changePass.ConfPass" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click.enter="SubmitPassword">{{$t('ViBorder.common.save')}}</el-button>
            <el-button @click="Resetpassword">{{$t('ViBorder.common.cancel')}}</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import locale from 'element-ui/lib/locale'
import enLocale from 'element-ui/lib/locale/lang/en'
// import zhLocale from 'element-ui/lib/locale/lang/zh-CN'
import ruLocale from 'element-ui/lib/locale/lang/ru-RU'
import handleData from '../../api/common.js'
import Axios from '../../api/DC/dc.js'
export default {
  name: 'Header',
  data () {
    const requConfPass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error(this.$t('ViBorder.upms.index.EnterConPass')))
      } else if (value !== this.$data.changePass.password) {
        callback(new Error(this.$t('ViBorder.upms.index.DiffTwoPass')))
      } else {
        callback()
      }
    }
    const passwordConf = (rule, value, callback) => {
      if (value === this.$data.changePass.oldPass) {
        callback(new Error(this.$t('ViBorder.upms.index.DiffoldPass')))
      } else {
        callback()
      }
    }
    return {
      notifyOffset: window.config.notifyOffset,
      audio: false, // 控制警报灯是否显示
      // dcPush: false,
      // checkedShow: false,
      falseFlag: false,
      ChangePassword: false, // 修改密码
      changePass: {
        username: '',
        oldPass: '',
        password: '',
        ConfPass: ''
      },
      username: '',
      PasswordRule: {
        oldPass: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterOldPass'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterNewPass'), trigger: 'blur' },
          { validator: passwordConf, trigger: 'blur' }
        ],
        ConfPass: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterConPass'), trigger: 'blur' },
          { validator: requConfPass, trigger: 'blur' }
        ]
      },
      tipPassrule: '', // 用于存放密码修改提示
      language: null, // 利用标识判断显示地球图标后面的语言
      modalData: {
        title: this.$t('ViBorder.common.modifyPwd'),
        flag: false
      }
    }
  },
  created () {
    const {lang} = sessionStorage
    if (!lang) {
      localStorage.setItem('lang', this.$store.state.lang)
    }
    this.changeLangKeyAndVal()
    document.getElementsByTagName('title')[0].innerHTML = this.$t(this.$route.matched[0].meta.title)
    this.username = sessionStorage.userName
    this.getpasswordRule()
    // if (this.$route.path.includes('/dc')) {
    //   this.checkedShow = true
    // }
    // let hasAudioIcon = ['/sms', '/checkOut', '/checkIn']
    // hasAudioIcon.forEach(e => {
    //   if (this.$route.path.includes(e)) {
    //     this.audioWarning = true
    //   }
    // })
    // if (sessionStorage.getItem('dcPush')) {
    //   let sessionDcPush = sessionStorage.getItem('dcPush')
    //   if (sessionDcPush === 'false') {
    //     this.$data.dcPush = false
    //   } else {
    //     this.$data.dcPush = true
    //   }
    // }
  },
  methods: {
    handleTrim () { // 对修改密码输入框trim处理
      this.changePass.oldPass = this.changePass.oldPass.replace(/(^\s*)|(\s*$)/g, '')
      this.changePass.password = this.changePass.password.replace(/(^\s*)|(\s*$)/g, '')
      this.changePass.ConfPass = this.changePass.ConfPass.replace(/(^\s*)|(\s*$)/g, '')
    },
    noPaste () { // 禁止在密码输入框中粘贴
      return false
    },
    changeLangKeyAndVal () {
      let langArr = [
        {
          key: 'en-US',
          value: enLocale
        }, {
          key: 'ru-RU',
          value: ruLocale
        }
      ]
      langArr.forEach(item => {
        if (localStorage.lang === item.key) {
          this.$i18n.locale = item.key
          locale.use(item.value)
        }
      })
      if ((localStorage.lang || window.config.initLang) === 'en-US') {
        this.language = true
      } else {
        this.language = false
      }
    },
    // obtainDCTask () { // 比对站中向后台传递account
    //   let intput = {
    //     pause: false
    //   }
    //   if (sessionStorage.getItem('dcPush')) {
    //     let sessionDcPush = sessionStorage.getItem('dcPush')
    //     if (sessionDcPush === 'false') {
    //       intput.pause = false
    //     } else {
    //       intput.pause = true
    //     }
    //   } else {
    //     intput.pause = false
    //   }
    //   Axios._obtainDCTask(intput).then(res => {
    //     console.log('res', res)
    //   }).catch(err => {
    //     console.log('err', err)
    //   })
    // },
    // dcPushClick () {
    //   let intput = {
    //     pause: !this.dcPush
    //   }
    //   Axios._ifPushData(intput).then(res => {
    //     if (res.data.flag) {
    //       this.dcPush = !this.dcPush
    //       sessionStorage.setItem('dcPush', this.$data.dcPush)
    //       let isShowWelcome = this.$store.state.isShowWelcome
    //       if (!this.dcPush && isShowWelcome) {
    //         this.obtainDCTask()
    //       }
    //     }
    //   }).catch(err => {
    //     console.log('err', err)
    //   })
    // },
    getpasswordRule () {
      // 获取密码校验规则
      handleData.initPwdRule().then((res) => {
        if (res.data.flag) {
          this.$data.PasswordRule.password.unshift({ min: res.data.result.minLength, max: res.data.result.maxLength, message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          var content = ''
          if (res.data.result.containsDigitalNumber) {
            content += this.$t('ViBorder.upms.index.number') + ','
            this.$data.PasswordRule.password.unshift({ pattern: '.*[0-9]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsLowercaseLetters) {
            content += this.$t('ViBorder.upms.index.LowercaseLetter') + ','
            this.$data.PasswordRule.password.unshift({ pattern: '.*[a-z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsUppercaseLetters) {
            content += this.$t('ViBorder.upms.index.UppercaseLetter') + ','
            this.$data.PasswordRule.password.unshift({ pattern: '.*[A-Z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsSpecialCharacters) {
            content += this.$t('ViBorder.upms.index.SpecialCharacter') + ','
            this.$data.PasswordRule.password.unshift({ pattern: '.*[^0-9a-zA-Z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (content === '') {
            this.$data.tipPassrule = this.$t('ViBorder.upms.index.passwordLength', {min: res.data.result.minLength, max: res.data.result.maxLength})
          } else {
            content += this.$t('ViBorder.upms.index.allpassword', {min: res.data.result.minLength, max: res.data.result.maxLength})
            this.$data.tipPassrule = this.$t('ViBorder.upms.index.mustHave') + content
          }
        }
      }).catch(() => {})
    },
    logOut () {
      this.$confirm(this.$t('ViBorder.upms.index.EnterLogOut'), '', {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        type: 'warning'
      }).then(() => {
        // 请求登出接口
        handleData.logout().then((res) => {
          if (res.data.flag) {
            let lang = localStorage.lang
            sessionStorage.clear()
            localStorage.removeItem(`home`)
            localStorage.setItem('lang', lang)
            // console.log('this.', this.$route.path)
            this.$router.push({path: `/`})
            this.$notify.success({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.upms.index.LogOutSuccess'),
              offset: this.notifyOffset
            })
          }
        }).catch(() => {})
      }).catch(err => {
        console.log('取消退出', err)
      })
    },
    selectLang (command) { // 选择语言
      const {lang} = sessionStorage
      localStorage.setItem('lang', command)
      sessionStorage.setItem('path', this.$route.path)
      if (lang !== command) {
        this.$store.commit({
          type: 'changeLang',
          lang: command,
          path: this.$route.path
        })
        this.$router.push({ path: '/language' })
      }
    },
    modifyPwd (data) { // 修改密码
      // console.log('data', data)
      this.$data.ChangePassword = true
    },
    Resetpassword () {
      this.$data.ChangePassword = false // 关闭模态窗
      this.$refs.ChagePassForm.resetFields() // 清空所有填写数据与验证
    },
    SubmitPassword () {
      this.$refs.ChagePassForm.validate((valid) => {
        if (valid) {
          const passwordData = {
            changeStr: encrypt(sessionStorage.account, this.$data.changePass.oldPass, this.$data.changePass.password)
          }
          handleData.changePassword(passwordData).then((res) => {
            if (res.data.flag) {
              this.$data.ChangePassword = false // 关闭模态窗
              this.$refs.ChagePassForm.resetFields() // 清空所有填写数据与验证
              this.$notify.success({
                title: this.$t('ViBorder.common.successfuly'),
                message: this.$t('ViBorder.upms.index.ChangeSuccess'),
                offset: this.notifyOffset
              })
            }
          }).catch(() => {})
        }
      })
    },
    closeModal () {
      this.$data.modalData.flag = false
    },
    jump2Menu () {
      this.$router.push({
        path: `/menu`
      })
    },
    audioPause () {
      this.audio = false
      this.$store.state.audio = false
      this.$refs.audio.pause()
    }
  },
  computed: {
    listenButton () {
      return this.$store.state.audio
    },
    showSiteLane () {
      const s = `${localStorage.lastLoginSystem}Site`
      const l = `${localStorage.lastLoginSystem}LaneNumber`
      const key = localStorage.lastLoginSystem && localStorage.lastLoginSystem.toUpperCase()
      const {routes} = this.$router.options
      const bool = routes.filter(e => {
        if (e.meta && e.meta.hasSiteLaneNumber) {
          return e.KEY
        }
      }).find(e => {
        return e.KEY === key
      })
      if (bool) {
        let key = ''
        if (localStorage[s].indexOf('O') === 0) {
          key = this.$t(`ViBorder.businessLogicCommon.out`)
        } else if (localStorage[s].indexOf('I') === 0) {
          key = this.$t(`ViBorder.businessLogicCommon.in`)
        } else if (localStorage[s] === 'SCA') {
          if (localStorage[l] === '1') {
            key = this.$t(`ViBorder.businessLogicCommon.in`)
          } else if (localStorage[l] === '2') {
            key = this.$t(`ViBorder.businessLogicCommon.out`)
          }
        }
        return `${key} ${localStorage[l] ? localStorage[l] : ''}`
      }
    }
  },
  watch: {
    listenButton: {
      handler (curVal, oldVal) {
        if (curVal) {
          this.$refs.audio.play()
        } else {
          this.$refs.audio.pause()
          this.$store.state.audio = false
        }
        this.audio = curVal
      },
      deep: true
    }
  },
  props: [],
  components: {
    // 'crypto': {
    //   render (createElement) {
    //     return createElement(
    //       'script',
    //       {
    //         attrs: {
    //           type: 'text/javascript',
    //           src: window.config.baseUrl + window.config.upms + '/webjars/crypto-js/3.1.9/crypto-js.js'
    //         }
    //       }
    //     )
    //   }
    // },
    'cryp': {
      render (createElement) {
        return createElement(
          'script',
          {
            attrs: {
              type: 'text/javascript',
              src: window.config.baseUrl + window.config.upms + '/static/js/wasm.min.js'
            }
          }
        )
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
#header {
  width: $all;
  height: $all;
  background: $headerImg no-repeat;
  .header-contanier {
    @include flex(row, space-between, center);
    width: $all;
    height: $all;
    .whiteC {
      color: $white;
    }
    @include flex(row, space-between, center);
    .left {
      height: $all;
      @include flex(row, flex-start, center);
      .logo {
        height: $all;
        width: 180px;
        background: $logo no-repeat $logoSize;
      }
      .title {
        color: $white;
        text-align: left;
        font-size: $headerTitle;
        font-weight: bold;
        margin-left: $margin;
      }
    }
    .right {
      height: $all;
      @include flex(row, center, flex-end);
      padding: 0 $dis10 $dis10 * 2 0;
      .iconfont {
        font-size: $headerRight;
        color: $white;
        margin-right: $dis10;
      }
      .lang {
        .site-lane {
          color: #fff;
          font-size: 14px;
          margin-right: 10px;
        }
        .audio {
          height: 25px;
          width: 25px;
          margin-right: 20px;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .dc-push {
          display: flex;
          span {
            color: #fff;
            font-size: 14px;
            margin-right: 10px;
          }
          .dc-content {
            display: block;
            width: 15px;
            height: 15px;
            background-color: #FFF;
            margin-right: 17px;
            margin-top: 2px;
            .iconfont {
              color: #101010;
              font-size: 15px;
            }
          }
        }
      }
      .lang,
      .menu,
      .user,
      .logout {
        margin-right: $dis10 * 2;
        @include flex();
        &:hover {
          cursor: pointer;
        }
        z-index: 4;
      }
      .back-btn {
        margin-right: 0;
      }
    }
  }
  .el-dialog {
    .el-dialog__header {
      text-align: left;
    }
    .el-dialog__body {
      .el-form-item__error {
        text-align: left;
      }
    }
  }
  // .modal-dialog {
  //   .search-form {
  //     @include layout(3);
  //   }
  // }
}
</style>
