<template>
  <div id="ac-check">
    <AcDetails :isOnlyReadRemark="true" :isHis="true"></AcDetails>
  </div>
</template>

<script>
import AcDetails from '../common/checkComponent'
export default {
  name: 'ac-check',
  data () {
    return {
    }
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {AcDetails}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#ac-check {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
