<template>
  <div id="index">
    <el-container class="a-container">
      <el-header>
        <Header/>
      </el-header>
      <el-container class="b-container">
        <el-aside v-bar v-if="isShowMenu">
          <Aside/>
        </el-aside>
        <el-container class="c-container">
          <el-main>
            <transition name="fade">
              <router-view/>
            </transition>
          </el-main>
          <el-footer class="footer">{{$t('ViBorder.common.footer')}}</el-footer>
        </el-container>
      </el-container>
    </el-container>
    <div id="index-modal" v-if="this.$store.state.indexModal"></div>
  </div>
</template>

<script>
import Header from './header'
import Aside from './sideMenu'
export default {
  name: 'index',
  data () {
    return {
      indexModal: ''
    }
  },
  created () {
    let nowPath = this.$route.path.split('/')[1].toUpperCase()
    if (nowPath !== 'IC') {
      this.isShowMenu = false
    }
  },
  methods: {},
  components: { Header, Aside }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
#index {
  height: $all;
  width: $all;
  @include flex();
  .a-container {
    height: $all;
    width: $all;
    .el-header {
      height: $headerHeight !important;
      padding: 0;
    }
    .el-container.b-container,
    .el-container.c-container {
      overflow: auto;
    }
    .b-container {
      .el-aside {
        width: $asideWidth;
      }
      .el-menu--collapse {
        width: $all;
      }
      .c-container {
        .fade-enter-active, .fade-leave-active {
          transition: opacity .5s
        }
        .fade-enter, .fade-leave-to {
          opacity: 0
        }
        .el-main {
          @extend .extend-bar;
          padding: 0;
        }
        .footer {
          background: #3b434c;
          color: #a2abb7;
          font-size: 12px;
          text-align: right;
          padding: 0 15px 0 0;
          height: $footHeight !important;
          line-height: $footHeight;
        }
      }
    }
  }
  #index-modal {
    width: $all;
    height: $all;
    position: absolute;
    z-index: 4;
    background: rgba(0, 0, 0, 0.5);
  }
}
</style>
