<template>
  <div></div>
</template>

<script>
import locale from 'element-ui/lib/locale'
import enLocale from 'element-ui/lib/locale/lang/en'
// import zhLocale from 'element-ui/lib/locale/lang/zh-CN'
import ruLocale from 'element-ui/lib/locale/lang/ru-RU'
export default {
  name: 'loading',
  mounted () {
    let langArr = [
      {
        key: 'en-US',
        value: enLocale
      }, {
        key: 'ru-RU',
        value: ruLocale
      }
    ]
    langArr.forEach(item => {
      if (localStorage.lang === item.key) {
        this.$i18n.locale = item.key
        locale.use(item.value)
      }
    })
    const loading = this.$loading({
      lock: true,
      text: this.$t('ViBorder.common.changeLang'),
      spinner: 'el-icon-loading',
      background: 'rgba(0,0,0,.5)'
    })
    const path = sessionStorage.getItem('path')
    this.$router.push({ path: path })
    // document.getElementsByTagName('title')[0].innerHTML = this.$t(`ViBorder.${this.$route.path.split('/')[1].toUpperCase()}.headTitle`)
    setTimeout(() => {
      loading.close()
    }, 2000)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .el-loading-mask{
    background-color: rgba(0,0,0,.5);
  }
</style>
