<template>
  <div id="login" @keyup.enter="login('ruleForm')">
    <div class="login-form-bg">
      <p>{{$t(this.$route.matched[0].meta.title)}}</p>
      <!-- 默认登录输入框 -->
      <div class="form">
        <el-form :model='loginRule' ref="ruleForm" :rules='rule' class="firForm">
          <el-form-item class="firFormItem" prop="account">
            <i class="iconfont">&#xe6a3;</i>
            <el-input class="firIptClass" v-model="loginRule.account" maxlength="50" :placeholder="$t('ViBorder.common.userInfo')" clearable auto-complete="on" autofocus></el-input>
          </el-form-item>
          <el-form-item class="firFormItem" prop="password">
            <i class="iconfont">&#xe627;</i>
            <el-input class="firIptClass" type='password' v-model="loginRule.password" :placeholder="$t('ViBorder.common.passInfo')" @paste.native.capture.prevent="noPaste"></el-input>
          </el-form-item>
          <el-form-item class="firFormItem" prop="lang">
            <i class="iconfont">&#xe76c;</i>
            <el-select ref="selectLang" class="firIptClass" v-model="loginRule.lang" :placeholder="$t('ViBorder.common.langInfo')" @change="change">
              <el-option
                v-for="item in LangOption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <!-- 验证码 -->
          <el-form-item class="firFormItem" prop='captcha' v-if='yzm'>
            <i class="iconfont">&#xe6cb;</i>
            <el-input class="firIptClass" :placeholder="$t('ViBorder.upms.login.useryzm')" v-model="loginRule.captcha" auto-complete="on" :maxlength='captchaLength'>
              <img style='width: 142px;margin-right:-9px;cursor:pointer' slot="suffix" :src='captchaContent'  @click='getKaptcha'/>
            </el-input>
          </el-form-item>
          <el-form-item class="firFormItem">
            <el-button class="firbutton" type="primary" @click="login('ruleForm')">{{$t('ViBorder.common.title')}}</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <!-- <crypto></crypto> -->
    <cryp></cryp>
    <!-- 初次进入需要修改默认密码 -->
    <el-dialog :title="$t('ViBorder.common.modifyPwd')" :visible.sync="changePassword" :show-close='falseFlag' :close-on-click-modal='falseFlag' :close-on-press-escape='falseFlag' class='ChangePassDia'>
        <el-form :model="changePass" ref='chagePassForm' :rules='PasswordRule'>
            <el-form-item :label="$t('ViBorder.upms.index.oldPassword')" prop='oldPass'>
                <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterOldPass')" v-model="changePass.oldPass" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
            </el-form-item>
            <el-form-item :label="$t('ViBorder.upms.index.newPassword')" prop='password'>
                <el-tooltip class="item" effect="dark" :content="tipPassrule" placement="top-end">
                  <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterNewPass')" v-model="changePass.password" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
                </el-tooltip>
            </el-form-item>
            <el-form-item :label="$t('ViBorder.upms.index.conPassword')" prop='ConfPass'>
                <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterConPass')" v-model="changePass.ConfPass" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click.enter="submitPassword">{{$t('ViBorder.common.save')}}</el-button>
            <el-button @click="resetPassword">{{$t('ViBorder.common.cancel')}}</el-button>
        </div>
    </el-dialog>
  </div>
</template>

<script>
import handleData from '../../api/common.js'
export default {
  data () {
    const requConfPass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error(this.$t('ViBorder.upms.index.EnterConPass')))
      } else if (value !== this.changePass.password) {
        callback(new Error(this.$t('ViBorder.upms.index.DiffTwoPass')))
      } else {
        callback()
      }
    }
    const passwordConf = (rule, value, callback) => {
      if (value === this.changePass.oldPass) {
        callback(new Error(this.$t('ViBorder.upms.index.DiffoldPass')))
      } else {
        callback()
      }
    }
    return {
      notifyOffset: window.config.notifyOffset,
      yzm: false, // 是否展示验证码
      captchaContent: '',
      captchaToken: '',
      captchaLength: 6,
      falseFlag: false,
      changePassword: false, // 修改密码
      changePass: {
        oldPass: '',
        password: '',
        ConfPass: ''
      },
      rule: { // 表单校验
        account: [
          { required: true, message: this.$t('ViBorder.common.userInfo'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('ViBorder.common.passInfo'), trigger: 'blur' }
        ],
        captcha: [],
        lang: [
          { required: true, message: this.$t('ViBorder.common.langInfo'), trigger: 'change' }
        ]
      },
      loginRule: { // 表单提交数据
        account: '',
        password: '',
        captcha: '',
        lang: localStorage.lang || window.config.initLang
      },
      LangOption: [
        {
          value: 'ru-RU',
          label: this.$t('ViBorder.common.russian')
        },
        {
          value: 'en-US',
          label: this.$t('ViBorder.common.english')
        }
      ],
      PasswordRule: { // 模态框的修改密码校验数据
        oldPass: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterOldPass'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterNewPass'), trigger: 'blur' },
          { validator: passwordConf, trigger: 'blur' }
        ],
        ConfPass: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterConPass'), trigger: 'blur' },
          { validator: requConfPass, trigger: 'blur' }
        ]
      },
      tipPassrule: ''
    }
  },
  beforeCreate () {
    const {lang} = this.$store.state
    this.$i18n.locale = lang
  },
  created () {
    sessionStorage.setItem('path', this.$route.path)
    // this.getPasswordRule()
    this.ListeningForKeyboardEvents()
    Promise.all([this.getKaptcha(), this.getPasswordRule()]).catch(err => {
      console.log('err', err)
    })
    document.getElementsByTagName('title')[0].innerHTML = this.$t(this.$route.matched[0].meta.title)
  },
  mounted () {
    // console.log(this.$route)
    // console.log(this.$router)
    const {lang} = this.$store.state
    this.loginRule.lang = lang
    // var timer = setInterval(() => {
    //   if (window.config.initLang) {
    //     clearInterval(timer)
    //     this.LangOption = [
    //       {
    //         value: 'zh-CN',
    //         label: this.$t('ViBorder.common.chinese')
    //       },
    //       {
    //         value: 'en-US',
    //         label: this.$t('ViBorder.common.english')
    //       }
    //     ]
    //   }
    // }, 100)
  },
  beforeDestroy () {
    document.onkeydown = undefined
  },
  methods: {
    handleTrim () { // 对修改密码输入框trim处理
      this.changePass.oldPass = this.changePass.oldPass.replace(/(^\s*)|(\s*$)/g, '')
      this.changePass.password = this.changePass.password.replace(/(^\s*)|(\s*$)/g, '')
      this.changePass.ConfPass = this.changePass.ConfPass.replace(/(^\s*)|(\s*$)/g, '')
    },
    noPaste () { // 禁止在密码输入框中粘贴
      return false
    },
    getKaptcha () { // 获取验证码
      handleData._getKaptcha().then((res) => {
        if (res.data.flag) {
          if (res.data.result === null) {
            this.yzm = false
            this.loginRule.captcha = []
          } else {
            this.yzm = true
            this.captchaContent = `data:image/jpeg;base64,${res.data.result.captchaContent}`
            this.captchaToken = res.data.result.captchaToken
            this.captchaLength = res.data.result.captchaLength
            this.rule.captcha = [
              { required: true, message: this.$t('ViBorder.upms.login.useryzm'), trigger: 'blur' },
              {max: this.captchaLength, min: this.captchaLength, message: this.$t('ViBorder.upms.login.yzmError'), trigger: 'blur'}
            ]
          }
        }
      }).catch(() => {})
    },
    getPasswordRule () { // 获取校验规则
      handleData.initPwdRule().then((res) => {
        if (res.data.flag) {
          // 请求成功之后将校验规则写入
          this.PasswordRule.password.unshift({ min: res.data.result.minLength, max: res.data.result.maxLength, message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          var content = ''
          if (res.data.result.containsDigitalNumber) {
            content += this.$t('ViBorder.upms.index.number') + ','
            this.PasswordRule.password.unshift({ pattern: '.*[0-9]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsLowercaseLetters) {
            content += this.$t('ViBorder.upms.index.LowercaseLetter') + ','
            this.PasswordRule.password.unshift({ pattern: '.*[a-z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsUppercaseLetters) {
            content += this.$t('ViBorder.upms.index.UppercaseLetter') + ','
            this.PasswordRule.password.unshift({ pattern: '.*[A-Z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsSpecialCharacters) {
            content += this.$t('ViBorder.upms.index.SpecialCharacter') + ','
            this.PasswordRule.password.unshift({ pattern: '.*[^0-9a-zA-Z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (content === '') {
            this.tipPassrule = this.$t('ViBorder.upms.index.passwordLength', {min: res.data.result.minLength, max: res.data.result.maxLength})
          } else {
            content += this.$t('ViBorder.upms.index.allpassword', {min: res.data.result.minLength, max: res.data.result.maxLength})
            this.tipPassrule = this.$t('ViBorder.upms.index.mustHave') + content
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    resetPassword () { // 关闭修改密码弹窗
      this.changePassword = false // 关闭模态窗
      this.$refs.chagePassForm.resetFields() // 清空所有填写数据与验证
    },
    submitPassword () { // 提交初次修改秘密
      this.$refs.chagePassForm.validate((valid) => {
        if (valid) {
          const passwordData = {
            changeStr: encrypt(this.loginRule.account, this.changePass.oldPass, this.changePass.password)
          }
          handleData.changePassword(passwordData).then((res) => {
            if (res.data.flag) {
              this.changePassword = false // 关闭模态窗
              this.loginRule.password = ''
              this.$refs.chagePassForm.resetFields() // 清空所有填写数据与验证
              this.$notify.success({
                title: this.$t('ViBorder.common.successfuly'),
                message: this.$t('ViBorder.upms.index.ChangeSuccess'),
                offset: this.notifyOffset
              })
            }
          }).catch(() => {})
        }
      })
    },
    change () {
      sessionStorage.setItem('path', this.$route.path)
      setTimeout(() => {
        const {lang} = this.loginRule
        localStorage.setItem('lang', lang)
        this.$store.commit({
          type: 'changeLang',
          lang: lang,
          path: `${this.$route.path}`
        })
        this.$router.push({path: '/language'})
      }, 50)
    },
    login (formName) {
      const {lang} = this.loginRule
      localStorage.setItem('lang', lang)
      this.$refs.selectLang && this.$refs.selectLang.blur()
      // this.loginMenuOrSystem()
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let loginData
          this.loginRule.account = this.loginRule.account.replace(/(^\s*)|(\s*$)/g, '')
          if (this.yzm) {
            loginData = {
              loginStr: encrypt(this.loginRule.account, this.loginRule.password),
              captchaCode: this.loginRule.captcha,
              captchaToken: this.captchaToken
            }
          } else {
            loginData = {
              loginStr: encrypt(this.loginRule.account, this.loginRule.password)
            }
          }
          handleData.login(loginData).then((response) => { // 请求登录接口
            if (response.data.flag) {
              // 将返回值信息存入本地
              localStorage.setItem('Xcsrftoken', response.headers['x-csrf-token'])
              sessionStorage.setItem('account', response.data.result.account)
              sessionStorage.setItem('userName', response.data.result.userName)
              sessionStorage.setItem('userId', response.data.result.userId)
              this.loginMenuOrSystem()
            } else if (!response.data.flag && response.data.errorCode) {
              if (response.data.errorCode === 'I010104') {
                this.changePassword = true
                this.changePass.oldPass = this.loginRule.password
              }
            }
            if (!response.data.flag) {
              this.getKaptcha()
            }
          }).catch(err => {
            console.log('err', err)
          })
        } else {
          return false
        }
      })
    },
    exchangeSystemName (pathName) {
      let obj = {
        [pathName]: () => {
          return pathName
        },
        checkin: () => {
          return `checkIn`
        },
        checkout: () => {
          return `checkOut`
        }
      }
      return obj[pathName] && obj[pathName]()
    },
    getSite (prmList, cb) {
      handleData._getDropDownList().then(res => {
        let {flag, result} = res.data
        if (flag) {
          if (prmList.length === 1) {
            let path = prmList[0].split(`-`)[1].toLowerCase()
            switch (path) {
              case `ac`:
                localStorage.setItem(`${path}Site`, result.ANIMALCHECK.ACA.site.value)
                break
              case `pc`:
                localStorage.setItem(`${path}Site`, result.PLANTCHECK.PCA.site.value)
                break
              case `hc`:
                localStorage.setItem(`${path}Site`, result.HEALTHCHECK.HCA.site.value)
                break
              case 'tc':
                localStorage.setItem(`${path}Site`, result.TRAFFICCONFIRM.TCA.site.value)
                break
              case 'dc':
                localStorage.setItem(`${path}Site`, result.DATACOMPARISON.CDA.site.value)
                break
              case 'mr':
                localStorage.setItem(`${path}Site`, result.MANUALRELEASE.MRA.site.value)
                break
            }
          }
          cb()
        }
      })
    },
    accessControl (prmList) {
      let isIC = prmList.every(ele => {
        return ele.includes(`VIBORDER-IC`)
      })
      const LASTSYSTEM = this.exchangeSystemName(localStorage.lastLoginSystem)
      this.getSite(prmList, () => {
        let siteLaneData = [`checkIn`, `sms`, `pi`, `rc`]
        // 登入系统并且更新缓存
        let loginSyStemUpdateCatch = (path) => {
          let p = this.exchangeSystemName(path)
          this.$router.push({path: `/${p}/index`})
          localStorage.setItem(`lastLoginSystem`, p)
        }
        // 选择登入到哪里
        let chooseLogin = (path) => {
          let p = this.exchangeSystemName(path)
          // 有区域道号登入到菜单
          if (siteLaneData.includes(p)) {
            this.$router.push({path: `/menu`})
          } else {
            loginSyStemUpdateCatch(p)
          }
        }
        let loginIC = (PATH) => {
          if (prmList.includes(`VIBORDER-IC-PORTMONITOR`)) {
            this.$router.push({path: `/${PATH}/portMonitor`})
          } else {
            this.$router.push({path: `/${PATH}/home`})
          }
          localStorage.setItem(`lastLoginSystem`, PATH)
        }
        // 单权限其他除了信息中心
        if (prmList.length === 1) {
          let accessSys = this.exchangeSystemName(prmList[0].split(`-`)[1].toLowerCase())
          // 没登录过
          if (!LASTSYSTEM) {
            // 是否需要区域道号，是需要的登入menu，否则直接进入系统
            chooseLogin(accessSys)
          } else if (!isIC) {
            if (accessSys === LASTSYSTEM) {
              loginSyStemUpdateCatch(accessSys)
            } else {
              chooseLogin(accessSys)
            }
          }
        } else if (isIC) {
          const PATH = `ic`
          // 单权限只有信息中心
          loginIC(PATH)
        } else {
          // 多权限
          // 如果权限码中包含最后一次登录系统的权限直接进入
          if (LASTSYSTEM && prmList.includes(`VIBORDER-${LASTSYSTEM.toUpperCase()}`)) {
            const PATH = `ic`
            // 如果权限包含信息中心，看一下最后一次登录系统的名字是不是信息中心 是的话进到信息中心不是的话进到最后一次登录的系统
            if (prmList.includes(`VIBORDER-IC`) && LASTSYSTEM === PATH) {
              loginIC(PATH)
            } else {
              loginSyStemUpdateCatch(LASTSYSTEM)
            }
          } else {
            this.$router.push({path: `/menu`})
          }
        }
      })
    },
    loginMenuOrSystem () {
      let PATH = localStorage.lastLoginSystem
      // 最后一次登录缓存存在 则证明非第一次登陆
      handleData.getPrmList({ all: 'true', prmCode: `VIBORDER` }).then(res => {
        let prmList = res.data.result
        let {flag} = res.data
        if (flag && prmList.length) {
          this.accessControl(prmList)
        } else {
          return false
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    ListeningForKeyboardEvents () {
      document.onkeydown = function (event) {
        var e = event || window.event
        if (e.shiftKey && e.ctrlKey && e.keyCode === 67) {
          localStorage.setItem('lang', 'zh-CN')
          window.location.reload()
        }
      }
    }
  },
  components: {
    // 'crypto': {
    //   render (createElement) {
    //     return createElement(
    //       'script',
    //       {
    //         attrs: {
    //           type: 'text/javascript',
    //           src: window.config.baseUrl + window.config.upms + '/webjars/crypto-js/3.1.9/crypto-js.js'
    //         }
    //       }
    //     )
    //   }
    // },
    'cryp': {
      render (createElement) {
        return createElement(
          'script',
          {
            attrs: {
              type: 'text/javascript',
              src: window.config.baseUrl + window.config.upms + '/static/js/wasm.min.js'
            }
          }
        )
      }
    }
  },
  watch: {
    loginForm: { // 为表单数据赋值
      handler (oldValue, newValue) {
        for (let k = 0; k < newValue.length; k++) {
          this.loginRule.model[newValue[k].ruleProp] = newValue[k].models
        }
      },
      deep: true
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#login {
  width: $all;
  height: $all;
  @include flex();
  background: $login no-repeat center;
  .login-form-bg {
    @include flex(column,center,center);
    p {
      color: $white;
      font-size: $welcomeTitle;
      font-weight: bold;
      margin-bottom: 130px;
    }
    .form {
      // width: 400px;
      .firForm{
        width: $all;
        padding: $margin $margin * 4;
        background: #263645;
        opacity: .9;
        box-shadow: #263645 0 0 200px;
        border-radius: 10px;
        @include box-sizing();
        @include flex(column,center,center);
        flex-wrap: wrap;
      }
      .firFormItem{
        margin-right: $dis10;
        position: relative;
        width: 400px;
        .iconfont {
          color: #fff;
          font-size: $title;
          position: absolute;
          left: 0;
          bottom: $margin;
        }
        .el-form-item__content {
          .el-form-item__error {
            text-align: $labelError;
            top: 70%;
          }
        }
      }
      .firformLabel{
        width: $all;
        text-align: left;
        display: block;
      }
      .firIptClass{
        margin: 0;
        width: $all;
        margin-bottom: $dis10 * 2;
        .el-input__inner {
          color: #fff;
          background-color: transparent;
          border-left: none;
          border-top: none;
          border-right: none;
          border-radius: 0;
          padding-left: $margin*2;
          font-size: $texts;
          &:focus {
            border-bottom: 1px solid $primary;
          }
        }
      }
      .firbutton{
        width: $all;
      }
    }
  }
  .el-dialog {
    .el-dialog__header {
      text-align: left;
    }
    .el-dialog__body {
      .el-form-item__error {
        text-align: left;
      }
    }
  }
}
</style>
