<template>
<transition name="fade">
  <div class='menu-in-bar' v-bar>
    <div id="menu">
      <div class="header">
        <div class="header-contanier">
          <div class="left">
            <!-- <div class="logo"></div> -->
            <div class="title">{{$t(this.$route.matched[0].meta.title)}}</div>
          </div>
          <div class="right">
            <div class="lang">
              <i class="iconfont">&#xe76c;</i>
              <el-dropdown trigger="click" @command="selectLang">
                <span class="el-dropdown-link whiteC">
                  {{language ? $t('ViBorder.common.english') : $t('ViBorder.common.russian')}}<i class="el-icon-arrow-down el-icon--right whiteC"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command='ru-RU'>{{$t('ViBorder.common.russian')}}</el-dropdown-item>
                  <el-dropdown-item command='en-US'>{{$t('ViBorder.common.english')}}</el-dropdown-item>
                  <!-- <el-dropdown-item command='zh-CN'>{{$t('ViBorder.common.chinese')}}</el-dropdown-item> -->
                </el-dropdown-menu>
              </el-dropdown>
            </div>
            <div class="user">
              <i class="iconfont">&#xe652;</i>
              <el-dropdown trigger="click" @command="modifyPwd">
                <span class="el-dropdown-link whiteC">{{username}}<i class="el-icon-arrow-down el-icon--right whiteC"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="modifyPwd">{{$t('ViBorder.common.modifyPwd')}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
            <div class="logout" @click="logOut">
              <i class="iconfont">&#xe653;</i>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <!-- 1,2,3,6,9,10 -->
        <div class="main-box" :class="{'main-box-tenth': subsystemModule.length >= 10}" v-if="specialLayout.normal">
          <div class="sys-module" :class="[`${item.key}-BG`, `sys-module-${index}`]" v-for="(item, index) in subsystemModule" :key="index" @click.self="jump2SystemIndex({route: item.route, item, index})">
            <div class="title" @click="alsoJump2Page({route: item.route, item, index})"><i class="iconfont" v-html="item.sysIcon"></i><div class="sys-title">{{$t(item.title)}}</div></div>
            <!-- iconfont切换出区域道号 -->
            <i v-if="item.hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
          </div>
        </div>
        <!-- 4 -->
        <div class="main-box" v-if="specialLayout.four" :class="{'main-box-four': specialLayout.four}">
          <div class="sys-module" :class="[`${item.key}-BG`, {'sys-module-four': specialLayout.four}]" v-for="(item, index) in subsystemModule" :key="index" @click.self="jump2SystemIndex({route: item.route, item, index})">
            <div class="title" @click="alsoJump2Page({route: item.route, item, index})"><i class="iconfont" v-html="item.sysIcon"></i><div class="sys-title">{{$t(item.title)}}</div></div>
            <!-- iconfont切换出区域道号 -->
            <i v-if="item.hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
          </div>
        </div>
        <!-- 5 -->
        <div class="main-box" v-if="specialLayout.five" :class="{'main-box-unnormal': specialLayout.five}">
          <div class="line-first-five">
            <div class="sys-module" :class="[`${subsystemModule[0].key}-BG`, {'sys-module-unnormal': specialLayout.five}]" @click.self="jump2SystemIndex({route: subsystemModule[0].route, item: subsystemModule[0], index: 0})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[0].route, item: subsystemModule[0], index: 0})"><i class="iconfont" v-html="subsystemModule[0].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[0].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[0].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[0]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[1].key}-BG`, {'sys-module-unnormal': specialLayout.five}]" @click.self="jump2SystemIndex({route: subsystemModule[1].route, item: subsystemModule[1], index: 1})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[1].route, item: subsystemModule[1], index: 1})"><i class="iconfont" v-html="subsystemModule[1].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[1].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[1].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[1]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
          <div class="line-second-five">
            <div class="sys-module" :class="[`${subsystemModule[2].key}-BG`, {'sys-module-unnormal': specialLayout.five}]" @click.self="jump2SystemIndex({route: subsystemModule[2].route, item: subsystemModule[2], index: 2})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[2].route, item: subsystemModule[2], index: 2})"><i class="iconfont" v-html="subsystemModule[2].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[2].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[2].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[2]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
          <div class="line-three-five">
            <div class="sys-module" :class="[`${subsystemModule[3].key}-BG`, {'sys-module-unnormal': specialLayout.five}]" @click.self="jump2SystemIndex({route: subsystemModule[3].route, item: subsystemModule[3], index: 3})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[3].route, item: subsystemModule[3], index: 3})"><i class="iconfont" v-html="subsystemModule[3].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[3].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[3].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[3]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[4].key}-BG`, {'sys-module-unnormal': specialLayout.five}]" @click.self="jump2SystemIndex({route: subsystemModule[4].route, item: subsystemModule[4], index: 4})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[4].route, item: subsystemModule[4], index: 4})"><i class="iconfont" v-html="subsystemModule[4].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[4].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[4].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[4]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="main-box" v-if="specialLayout.seven" :class="{'main-box-unnormal': specialLayout.seven}">
          <div class="line-first-seven">
            <div class="sys-module" :class="[`${subsystemModule[0].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[0].route, item: subsystemModule[0], index: 0})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[0].route, item: subsystemModule[0], index: 0})"><i class="iconfont" v-html="subsystemModule[0].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[0].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[0].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[0]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[1].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[1].route, item: subsystemModule[1], index: 1})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[1].route, item: subsystemModule[1], index: 1})"><i class="iconfont" v-html="subsystemModule[1].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[1].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[1].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[1]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
          <div class="line-second">
            <div class="sys-module" :class="[`${subsystemModule[2].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[2].route, item: subsystemModule[2], index: 2})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[2].route, item: subsystemModule[2], index: 2})"><i class="iconfont" v-html="subsystemModule[2].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[2].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[2].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[2]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[3].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[3].route, item: subsystemModule[3], index: 3})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[3].route, item: subsystemModule[3], index: 3})"><i class="iconfont" v-html="subsystemModule[3].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[3].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[3].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[3]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[4].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[4].route, item: subsystemModule[4], index: 4})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[4].route, item: subsystemModule[4], index: 4})"><i class="iconfont" v-html="subsystemModule[4].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[4].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[4].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[4]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
          <div class="line-three-seven">
            <div class="sys-module" :class="[`${subsystemModule[5].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[5].route, item: subsystemModule[5], index: 5})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[5].route, item: subsystemModule[5], index: 5})"><i class="iconfont" v-html="subsystemModule[5].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[5].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[5].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[5]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[6].key}-BG`, {'sys-module-unnormal': specialLayout.seven}]" @click.self="jump2SystemIndex({route: subsystemModule[6].route, item: subsystemModule[6], index: 6})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[6].route, item: subsystemModule[6], index: 6})"><i class="iconfont" v-html="subsystemModule[6].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[6].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[6].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[6]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="main-box" v-if="specialLayout.eight" :class="{'main-box-unnormal': specialLayout.eight}">
          <div class="line-first-seven">
            <div class="sys-module" :class="[`${subsystemModule[0].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[0].route, item: subsystemModule[0], index: 0})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[0].route, item: subsystemModule[0], index: 0})"><i class="iconfont" v-html="subsystemModule[0].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[0].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[0].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[0]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[1].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[1].route, item: subsystemModule[1], index: 1})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[1].route, item: subsystemModule[1], index: 1})"><i class="iconfont" v-html="subsystemModule[1].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[1].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[1].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[1]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[2].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[2].route, item: subsystemModule[2], index: 2})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[2].route, item: subsystemModule[2], index: 2})"><i class="iconfont" v-html="subsystemModule[2].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[2].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[2].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[2]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
          <div class="line-second-eight">
            <div class="sys-module" :class="[`${subsystemModule[3].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[3].route, item: subsystemModule[3], index: 3})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[3].route, item: subsystemModule[3], index: 3})"><i class="iconfont" v-html="subsystemModule[3].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[3].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[3].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[3]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[4].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[4].route, item: subsystemModule[4], index: 4})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[4].route, item: subsystemModule[4], index: 4})"><i class="iconfont" v-html="subsystemModule[4].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[4].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[4].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[4]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
          <div class="line-three-seven">
            <div class="sys-module" :class="[`${subsystemModule[5].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[5].route, item: subsystemModule[5], index: 5})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[5].route, item: subsystemModule[5], index: 5})"><i class="iconfont" v-html="subsystemModule[5].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[5].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[5].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[5]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[6].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[6].route, item: subsystemModule[6], index: 6})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[6].route, item: subsystemModule[6], index: 6})"><i class="iconfont" v-html="subsystemModule[6].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[6].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[6].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[6]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
            <div class="sys-module" :class="[`${subsystemModule[7].key}-BG`, {'sys-module-unnormal-eight': specialLayout.eight}]" @click.self="jump2SystemIndex({route: subsystemModule[7].route, item: subsystemModule[7], index: 7})">
              <div class="title" @click="alsoJump2Page({route: subsystemModule[7].route, item: subsystemModule[7], index: 7})"><i class="iconfont" v-html="subsystemModule[7].sysIcon"></i><div class="sys-title">{{$t(subsystemModule[7].title)}}</div></div>
              <!-- iconfont切换出区域道号 -->
              <i v-if="subsystemModule[7].hasSiteLaneNumber" class="iconfont setting" @click.stop="toggleItem({item: subsystemModule[7]})" :title="$t('ViBorder.businessLogicCommon.settingsButtonTitle')">&#xe608;</i>
            </div>
          </div>
        </div>
      </div>
      <!-- 修改密码 -->
      <el-dialog :title="$t('ViBorder.common.modifyPwd')" :visible.sync="changePassword" :show-close='falseFlag' :close-on-click-modal='falseFlag' :close-on-press-escape='falseFlag' class='ChangePassDia'>
        <el-form :model="changePass" ref='ChagePassForm' :rules='passwordRule'>
          <el-form-item :label="$t('ViBorder.upms.index.oldPassword')" prop='oldPass'>
            <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterOldPass')" v-model="changePass.oldPass" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
          </el-form-item>
          <el-form-item :label="$t('ViBorder.upms.index.newPassword')" prop='password'>
            <el-tooltip class="item" effect="dark" :content="tipPassrule" placement="top-end">
              <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterNewPass')" v-model="changePass.password" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
            </el-tooltip>
          </el-form-item>
          <el-form-item :label="$t('ViBorder.upms.index.conPassword')" prop='ConfPass'>
            <el-input type='password' :placeholder="$t('ViBorder.upms.index.EnterConPass')" v-model="changePass.ConfPass" auto-complete="off" @paste.native.capture.prevent="noPaste" @blur="handleTrim"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="primary" @click.enter="submitPassword">{{$t('ViBorder.common.save')}}</el-button>
          <el-button @click="resetPassword">{{$t('ViBorder.common.cancel')}}</el-button>
        </div>
      </el-dialog>
      <!-- 选择区域道号 -->
      <el-dialog :title="$t('ViBorder.common.selectSiteOrLanNo')" :visible.sync="siteLanModalData.chooseSiteLanNo" :show-close='falseFlag' :close-on-click-modal='falseFlag' :close-on-press-escape='falseFlag'>
        <div class="SL-parent">
          <div class="site-lan-box" v-for="(item, index) in siteLanModalData.initData" :key="index">
            <div class="site-box" :class="{'is-activeSite': item.isActive}" @click="chooseSiteLoginSys({item})">{{item.label}}</div>
            <div class="lan-box">
              <div class="box-child" v-for="(ele, idx) in item.children" :key="idx" @click="chooseLanLoginSys({item, idx})">
                <el-col>
                  <el-card shadow="hover" :class="{'is-active': ele.isActive}">
                    {{ele.label}}
                  </el-card>
                </el-col>
              </div>
            </div>
          </div>
        </div>
        <div slot="footer" class="dialog-footer">
          <!-- <el-button type="primary" @click.enter="submitPassword">{{$t('ViBorder.common.save')}}</el-button> -->
          <el-button @click="closeSiteLanModal">{{$t('ViBorder.common.cancel')}}</el-button>
        </div>
      </el-dialog>
      <!-- <crypto></crypto> -->
      <cryp></cryp>
    </div>
  </div>
</transition>
</template>

<script>
import locale from 'element-ui/lib/locale'
import enLocale from 'element-ui/lib/locale/lang/en'
// import zhLocale from 'element-ui/lib/locale/lang/zh-CN'
import ruLocale from 'element-ui/lib/locale/lang/ru-RU'
import handleData from '../../api/common.js'
export default {
  name: 'Header',
  data () {
    const requConfPass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error(this.$t('ViBorder.upms.index.EnterConPass')))
      } else if (value !== this.changePass.password) {
        callback(new Error(this.$t('ViBorder.upms.index.DiffTwoPass')))
      } else {
        callback()
      }
    }
    const passwordConf = (rule, value, callback) => {
      if (value === this.changePass.oldPass) {
        callback(new Error(this.$t('ViBorder.upms.index.DiffoldPass')))
      } else {
        callback()
      }
    }
    return {
      notifyOffset: window.config.notifyOffset,
      subsystemModule: [], // 子系统
      prmCodeList: [],
      notFilterPrmCodeList: [],
      piOptions: [], // 存储pi的信息
      onlySiteValue: ``,
      isAllowAccess: false, // pi是否能登入
      selectOptions: [],
      falseFlag: false,
      changePassword: false, // 修改密码
      changePass: {
        username: '',
        oldPass: '',
        password: '',
        ConfPass: ''
      },
      username: '',
      passwordRule: {
        oldPass: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterOldPass'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterNewPass'), trigger: 'blur' },
          { validator: passwordConf, trigger: 'blur' }
        ],
        ConfPass: [
          { required: true, message: this.$t('ViBorder.upms.index.EnterConPass'), trigger: 'blur' },
          { validator: requConfPass, trigger: 'blur' }
        ]
      },
      tipPassrule: '', // 用于存放密码修改提示
      language: null, // 利用标识判断显示地球图标后面的语言
      modalData: {
        title: this.$t('ViBorder.common.modifyPwd'),
        flag: false
      },
      siteLanModalData: {
        chooseSiteLanNo: false, // 选择区域道号
        initData: '',
        route: ''
      },
      specialLayout: {
        normal: false,
        four: false,
        five: false,
        seven: false,
        eight: false
      },
      is22: false
    }
  },
  created () {
    const {lang} = sessionStorage
    // 国际化
    this.changeLangKeyAndVal()
    document.getElementsByTagName('title')[0].innerHTML = this.$t(this.$route.matched[0].meta.title)
    this.username = sessionStorage.userName
    Promise.all([this.getPrmList(), this.getpasswordRule()]).catch((err) => {
      console.log('err', err)
    })
  },
  methods: {
    getonlySiteRoute (route) {
      let routeList = this.$router.options.routes
      return routeList.filter(item => {
        if (item.meta && item.meta.onlySite) {
          return item
        }
      }).map(ele => ele.KEY.toLowerCase()).some(item => item === route)
    },
    changeLangKeyAndVal () {
      let langArr = [
        {
          key: 'en-US',
          value: enLocale
        }, {
          key: 'ru-RU',
          value: ruLocale
        }
      ]
      langArr.forEach(item => {
        if (localStorage.lang === item.key) {
          this.$i18n.locale = item.key
          locale.use(item.value)
        }
      })
      if ((localStorage.lang || window.config.initLang) === 'en-US') {
        this.language = true
      } else {
        this.language = false
      }
    },
    handleTrim () { // 对修改密码输入框trim处理
      this.changePass.oldPass = this.changePass.oldPass.replace(/(^\s*)|(\s*$)/g, '')
      this.changePass.password = this.changePass.password.replace(/(^\s*)|(\s*$)/g, '')
      this.changePass.ConfPass = this.changePass.ConfPass.replace(/(^\s*)|(\s*$)/g, '')
    },
    noPaste () { // 禁止在密码输入框中粘贴
      return false
    },
    getPrmList () {
      // 获取权限code
      handleData.getPrmList({ all: 'true', prmCode: `VIBORDER` }).then(response => {
        if (response.data.flag) {
          this.notFilterPrmCodeList = response.data.result
          let prmList = response.data.result.filter(item => {
            if (!item.includes('VIBORDER-IC-')) {
              return item
            }
          })
          let lenArr = [1, 2, 3, 6, 9, 10]
          lenArr.forEach(ele => {
            if (ele === prmList.length || prmList.length > 10) {
              this.specialLayout.normal = true
            }
          })
          if (prmList.length === 4) {
            this.specialLayout.four = true
          } else if (prmList.length === 5) {
            this.specialLayout.five = true
          } else if (prmList.length === 7) {
            this.specialLayout.seven = true
          } else if (prmList.length === 8) {
            this.specialLayout.eight = true
          }
          // prmList = [...prmList, ...['VIBORDER-AC', 'VIBORDER-PC', 'VIBORDER-HC', 'VIBORDER-CI']]
          this.prmCodeList = prmList
          this.getSiteLaneNumber(prmList) // 调用获取区域道号的接口
          let routeList = this.$router.options.routes
          let arr = []
          let notIc = []
          let str = 'IC'
          // 将路由，国际化标题存入九宫格自定义数据中
          routeList.forEach(item => {
            prmList.forEach(ele => {
              let sysName = ele.split('-')[1]
              if ((item.KEY === sysName) && (item.KEY !== 'IC')) {
                notIc.push({
                  route: item.path.split('/')[1],
                  key: ele,
                  title: `ViBorder.systemModule.${sysName}.headTitle`,
                  sortByKey: item.sortByKey,
                  sysIcon: item.sysIcon,
                  hasSiteLaneNumber: item.meta.hasSiteLaneNumber
                })
              }
            })
            // ic有多个页面特殊处理
            if (item.KEY === str) {
              arr.push({
                route: `ic`,
                key: `VIBORDER-${str}`,
                title: `ViBorder.systemModule.${str}.headTitle`,
                sortByKey: 20,
                sysIcon: item.sysIcon
              })
            }
          })
          // 去重 合并 目前角色拥有的所有的权限
          // find和filter区别是find找到第一个符合的数据就会返回
          // 因为上边的处理在allSysList里面无论如何都会有ic的数据，所以需要在下边处理
          let allSysList = [...[arr.find(ele => {
            return ele.route === 'ic'
          })], ...notIc]
          // 处理过没有权限的，剩下的是有权限的
          let nowSysList = []
          // 通过权限码最终过滤系统权限 权限包含ic则用allSysList， 否则过滤掉ic
          if (!prmList.includes(`VIBORDER-IC`)) {
            nowSysList = allSysList.filter(item => {
              return item.key !== `VIBORDER-IC`
            })
          } else {
            nowSysList = allSysList
          }
          let compare = (property) => (a, b) => a[property] - b[property]
          this.subsystemModule = nowSysList.sort(compare('sortByKey'))
          // console.log('this.subsystemModule', this.subsystemModule)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getSiteLaneNumber (prmList) {
      // 获取车辆道号下拉数据
      handleData._getDropDownList().then(res => {
        if (res.data.flag) {
          let siteLaneNumber = res.data.result
          let codeList = prmList
          // 公共方法 将后台返回的数据格式组装为级联所需要的数据格式
          let pushOption = ({siteLaneNumber, val, str}) => {
            // 有道号有child二级菜单 没有则没有child
            if (siteLaneNumber[val][str].laneNumbers && siteLaneNumber[val][str].laneNumbers.length) {
              let childArr = []
              siteLaneNumber[val][str].laneNumbers.forEach((item, idx) => {
                childArr.push({
                  value: siteLaneNumber[val][str] && siteLaneNumber[val][str].laneNumbers[idx],
                  label: siteLaneNumber[val][str] && siteLaneNumber[val][str].laneNumbers[idx],
                  isActive: false
                })
              })
              return [
                {
                  value: siteLaneNumber[val] && siteLaneNumber[val][str].site.value,
                  label: this.$t(siteLaneNumber[val] && siteLaneNumber[val][str].site.key),
                  children: childArr
                }
              ]
            } else {
              return [
                {
                  value: siteLaneNumber[val] && siteLaneNumber[val][str].site.value,
                  label: this.$t(siteLaneNumber[val] && siteLaneNumber[val][str].site.key),
                  isActive: false
                }
              ]
            }
          }
          this.subsystemModule.forEach(ele => {
            switch (ele.route) {
              case 'checkIn':
                ele.siteLaneNumber = [...pushOption({siteLaneNumber, val: 'CHECKIN', str: siteLaneNumber.CHECKIN.ICIA.site.value}), ...pushOption({siteLaneNumber, val: 'CHECKIN', str: siteLaneNumber.CHECKIN.OCIA.site.value})]
                break
              case 'checkOut':
                // 规则 site: ICOA,OCOA
                localStorage.setItem(`${ele.route}Site`, `${siteLaneNumber.CHECKOUT.ICOA.site.value},${siteLaneNumber.CHECKOUT.OCOA.site.value}`)
                break
              case 'sms':
                ele.siteLaneNumber = pushOption({siteLaneNumber, val: 'MEASUREDMENT', str: siteLaneNumber.MEASUREDMENT.SCA.site.value})
                break
              case 'pi':
                ele.siteLaneNumber = [
                  {
                    label: this.$t(siteLaneNumber.PHYSICALINSPECTION.IMIA.site.key),
                    value: siteLaneNumber.PHYSICALINSPECTION.IMIA.site.value
                  },
                  {
                    label: this.$t(siteLaneNumber.PHYSICALINSPECTION.OMIA.site.key),
                    value: siteLaneNumber.PHYSICALINSPECTION.OMIA.site.value
                  }
                ]
                break
              case 'rc':
                ele.siteLaneNumber = [
                  {
                    label: this.$t(siteLaneNumber.RELEASECONFIRM.IRCA.site.key),
                    value: siteLaneNumber.RELEASECONFIRM.IRCA.site.value
                  },
                  {
                    label: this.$t(siteLaneNumber.RELEASECONFIRM.ORCA.site.key),
                    value: siteLaneNumber.RELEASECONFIRM.ORCA.site.value
                  }
                ]
                break
              case 'dc':
                ele.onlySiteValue = siteLaneNumber.DATACOMPARISON.CDA.site.value
                break
              // case 'ji':
              //   ele.onlySiteValue = siteLaneNumber.JOINTINSPECTION.JICA.site.value
              //   break
              case 'mr':
                ele.onlySiteValue = siteLaneNumber.MANUALRELEASE.MRA.site.value
                break
              case 'tc':
                ele.onlySiteValue = siteLaneNumber.TRAFFICCONFIRM.TCA.site.value
                break
              case 'ac':
                ele.onlySiteValue = siteLaneNumber.ANIMALCHECK.ACA.site.value
                break
              case 'pc':
                ele.onlySiteValue = siteLaneNumber.PLANTCHECK.PCA.site.value
                break
              case 'hc':
                ele.onlySiteValue = siteLaneNumber.HEALTHCHECK.HCA.site.value
                break
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    change ({val}) {
      // 有val的话说明只有一个区域的时候选了值 允许登录进系统主页
      if (val) {
        this.isAllowAccess = true
      }
    },
    handleChange ({val}) {
      // 级联菜单改变的时候
      if (val && (val.length === 2)) {
        this.isAllowAccess = true
      }
    },
    updateCache ({route, item, sysItem}) {
      let siteLane
      if (this.getonlySiteRoute(route)) { // 针对只有一个区域的情况
        siteLane = [item.onlySiteValue]
      } else {
        siteLane = sysItem.selectedOptions // 当前子系统的区域和道号
      }
      // 存入本地存储
      if (route !== 'checkOut') {
        localStorage.setItem(`${route}Site`, siteLane && siteLane[0])
      }
      if (!this.getonlySiteRoute(route)) {
        localStorage.setItem(`${route}LaneNumber`, siteLane && siteLane[1])
      }
    },
    hasHome (route) {
      // 如果点击的九宫格为ic 并且有监控总览的权限 则其作为主页呈现
      if (route === 'ic') {
        if (this.notFilterPrmCodeList.includes('VIBORDER-IC-PORTMONITOR')) {
          this.$router.push({
            path: `/ic/portMonitor`
          })
        } else {
          this.$router.push({
            path: `/${route}/home`
          })
        }
        return true
      } else {
        return false
      }
    },
    jump2SystemIndex ({route, item, index}) {
      // 跳转至系统主页
      if (this.hasHome(route)) {
        this.saveLastLoginSys(route)
        return false
      }
      let sysItem = this.subsystemModule[index] // 当前的跳转的这个系统
      if ((!localStorage[`${route}Site`] || localStorage[`${route}Site`] === 'undefined') && !this.isAllowAccess && (sysItem.selectedOptions || item.siteLaneNumber)) {
        this.toggleItem({item})
        return false
      }
      if (!this.getonlySiteRoute(route)) {
        // 有区域和道号的必须满足区域和道号都选择才能登入
        if (sysItem.selectedOptions) {
          if (sysItem.selectedOptions.length < 2) {
            return false
          }
        }
      }
      if (item.siteLaneNumber && item.siteLaneNumber.length) { // 先区分有没有区域和道号
        // 如果本地有缓存，直接进主页
        if (localStorage[`${route}Site`] && localStorage[`${route}Site`] !== 'undefined') {
          this.$router.push({
            path: `/${route}`
          })
          // 更新缓存
          if (item.onlySiteValue && (localStorage[`${route}Site`] !== item.onlySiteValue && localStorage[`${route}Site`] !== 'undefined')) {
            this.updateCache({route, item})
          }
          if (sysItem.selectedOptions && (((localStorage[`${route}Site`] !== sysItem.selectedOptions[0]) && localStorage[`${route}Site`] !== 'undefined') || (localStorage[`${route}LaneNumber`] !== sysItem.selectedOptions[1]))) {
            this.updateCache({route, item, sysItem})
          }
        } else {
          if (sysItem.selectedOptions && (sysItem.selectedOptions.length > 0 || this.isAllowAccess)) {
            // 判断点击当前的系统有没有被选中数据
            this.updateCache({route, item, sysItem})
            this.$router.push({
              path: `/${route}`
            })
          } else {
            if (this.getonlySiteRoute(route) && item.onlySiteValue) {
              this.updateCache({route, item, sysItem})
              this.$router.push({
                path: `/${route}`
              })
            } else {
              return false
            }
          }
        }
      } else {
        if (route !== 'ic' && route !== 'checkOut') {
          localStorage.setItem(`${route}Site`, item && item.onlySiteValue)
        }
        this.$router.push({
          path: `/${route}`
        })
      }
      this.saveLastLoginSys(route)
    },
    alsoJump2Page ({route, item, index}) { // 点击文字的时候跳转还是阻止跳转
      if (this.hasHome(route)) {
        this.saveLastLoginSys(route)
        return false
      }
      let sysItem = this.subsystemModule[index]
      if ((!localStorage[`${route}Site`] || localStorage[`${route}Site`] === 'undefined') && !this.isAllowAccess && (sysItem.selectedOptions || item.siteLaneNumber)) {
        this.toggleItem({item})
        return false
      }
      if (item.route !== 'ic') {
        if (item.onlySiteValue) { // 单区域
          localStorage.setItem(`${item.route}Site`, item.onlySiteValue)
        } else if (item.selectedOptions && item.selectedOptions.length === 2) { // 区域和道号的
          localStorage.setItem(`${item.route}Site`, item.selectedOptions[0])
          localStorage.setItem(`${item.route}LaneNumber`, item.selectedOptions[1])
        } else { // 啥都没有的
          this.$router.push({
            path: `/${item.route}`
          })
        }
      }
      if (item.route === 'ic' || item.onlySiteValue || this.isAllowAccess) {
        this.$router.push({
          path: `/${item.route}`
        })
      }
      this.saveLastLoginSys(route)
    },
    toggleItem ({item}) {
      // 点击齿轮弹出切换区域道号的弹窗
      let getLocalSite = localStorage[`${item.route}Site`]
      let getLocalLan = localStorage[`${item.route}LaneNumber`]
      this.siteLanModalData.route = item.route
      item.siteLaneNumber.forEach(ele => {
        if (ele.value === getLocalSite) {
          ele.isActive = true
          if (ele.children) {
            ele.children.forEach(item => {
              if (item.value === getLocalLan) {
                item.isActive = true
              }
            })
          }
        }
      })
      if (!this.siteLanModalData.chooseSiteLanNo) {
        this.siteLanModalData.initData = item.siteLaneNumber
        this.siteLanModalData.chooseSiteLanNo = true
      } else {
        this.siteLanModalData.chooseSiteLanNo = false
      }
    },
    getpasswordRule () {
      // 获取密码校验规则
      handleData.initPwdRule().then((res) => {
        if (res.data.flag) {
          this.passwordRule.password.unshift({ min: res.data.result.minLength, max: res.data.result.maxLength, message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          var content = ''
          if (res.data.result.containsDigitalNumber) {
            content += this.$t('ViBorder.upms.index.number') + ','
            this.passwordRule.password.unshift({ pattern: '.*[0-9]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsLowercaseLetters) {
            content += this.$t('ViBorder.upms.index.LowercaseLetter') + ','
            this.passwordRule.password.unshift({ pattern: '.*[a-z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsUppercaseLetters) {
            content += this.$t('ViBorder.upms.index.UppercaseLetter') + ','
            this.passwordRule.password.unshift({ pattern: '.*[A-Z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (res.data.result.containsSpecialCharacters) {
            content += this.$t('ViBorder.upms.index.SpecialCharacter') + ','
            this.passwordRule.password.unshift({ pattern: '.*[^0-9a-zA-Z]+.*', message: this.$t('ViBorder.upms.index.EnterPassLength'), trigger: 'blur' })
          }
          if (content === '') {
            this.tipPassrule = this.$t('ViBorder.upms.index.passwordLength', {min: res.data.result.minLength, max: res.data.result.maxLength})
          } else {
            content += this.$t('ViBorder.upms.index.allpassword', {min: res.data.result.minLength, max: res.data.result.maxLength})
            this.tipPassrule = this.$t('ViBorder.upms.index.mustHave') + content
          }
        }
      }).catch(() => {})
    },
    logOut () {
      this.$confirm(this.$t('ViBorder.upms.index.EnterLogOut'), {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        closeOnClickModal: false,
        type: 'warning'
      }).then(() => {
        // 请求登出接口
        handleData.logout().then((res) => {
          if (res.data.flag) {
            let lang = localStorage.lang
            sessionStorage.clear()
            localStorage.removeItem(`home`)
            localStorage.setItem('lang', lang)
            this.$router.push({path: `/`})
            this.$notify.success({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.upms.index.LogOutSuccess'),
              offset: this.notifyOffset
            })
          }
        }).catch(() => {})
      }).catch(err => {
        console.log('取消退出', err)
      })
    },
    selectLang (command) {
      // 选择语言
      const {lang} = sessionStorage
      localStorage.setItem('lang', command)
      sessionStorage.setItem('path', this.$route.path)
      if (lang !== command) {
        this.$store.commit({
          type: 'changeLang',
          lang: command,
          path: this.$route.path
        })
        this.$router.push({ path: '/language' })
      }
    },
    modifyPwd (data) {
      // 修改密码打开弹窗
      this.changePassword = true
    },
    resetPassword () {
      this.changePassword = false // 关闭模态窗
      this.$refs.ChagePassForm.resetFields() // 清空所有填写数据与验证
    },
    submitPassword () {
      // 修改密码请求接口
      this.$refs.ChagePassForm.validate((valid) => {
        if (valid) {
          const passwordData = {
            changeStr: encrypt(sessionStorage.account, this.changePass.oldPass, this.changePass.password)
          }
          handleData.changePassword(passwordData).then((res) => {
            if (res.data.flag) {
              this.changePassword = false // 关闭模态窗
              this.$refs.ChagePassForm.resetFields() // 清空所有填写数据与验证
              this.$notify.success({
                title: this.$t('ViBorder.common.successfuly'),
                message: this.$t('ViBorder.upms.index.ChangeSuccess'),
                offset: this.notifyOffset
              })
            }
          }).catch(() => {})
        }
      })
    },
    closeModal () {
      this.modalData.flag = false
    },
    isShowChooseSite (route) {
      if (localStorage[`${route}Site`]) {
      }
    },
    saveLastLoginSys (route) {
      localStorage.setItem('lastLoginSystem', route)
    },
    closeSiteLanModal () {
      this.siteLanModalData.chooseSiteLanNo = false
    },
    chooseSiteLoginSys ({item}) {
      // 点击区域进去系统
      let {route} = this.siteLanModalData
      if (!this.getonlySiteRoute(route)) {
        return false
      }
      this.saveLastLoginSys(route)
      localStorage.setItem(`${route}Site`, item.value)
      this.$router.push({
        path: `/${route}`
      })
    },
    chooseLanLoginSys ({item, idx}) {
      // 选择道号登录系统
      let {route} = this.siteLanModalData
      this.saveLastLoginSys(route)
      localStorage.setItem(`${route}Site`, item.value)
      localStorage.setItem(`${route}LaneNumber`, item.children[idx].value)
      this.closeSiteLanModal()
      this.$router.push({
        path: `/${route}`
      })
    }
  },
  components: {
    // 'crypto': {
    //   render (createElement) {
    //     return createElement(
    //       'script',
    //       {
    //         attrs: {
    //           type: 'text/javascript',
    //           src: window.config.baseUrl + window.config.upms + '/webjars/crypto-js/3.1.9/crypto-js.js'
    //         }
    //       }
    //     )
    //   }
    // },
    'cryp': {
      render (createElement) {
        return createElement(
          'script',
          {
            attrs: {
              type: 'text/javascript',
              src: window.config.baseUrl + window.config.upms + '/static/js/wasm.min.js'
            }
          }
        )
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
.menu-in-bar {
  @extend .extend-bar;
  #menu {
    width: $all;
    height: $all;
    background: $menuBg no-repeat;
    background-size: cover;
    .header {
      width: $all;
      // background: $headerImg no-repeat;
      .header-contanier {
        @include flex(row, space-between, flex-start);
        width: $all;
        height: 80px;
        .whiteC {
          color: $white;
        }
        @include flex(row, space-between, center);
        .left {
          height: $all;
          @include flex(row, flex-start, center);
          // .logo {
          //   height: $all;
          //   width: 180px;
          //   background: $logo no-repeat $logoSize;
          // }
          .title {
            color: $white;
            text-align: left;
            font-size: $headerTitle;
            font-weight: bold;
            margin-left: $margin;
          }
        }
        .right {
          height: $all;
          @include flex(row, center, flex-end);
          padding: 0 0 $dis10 0;
          .iconfont {
            font-size: $headerRight;
            color: $white;
            margin-right: $dis10;
          }
          .lang,
          .menu,
          .user,
          .logout {
            margin-right: $dis10 * 2;
            @include flex();
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .main {
      // background: ivory;
      width: $all;
      // height: calc(100% - 80px);
      height: $all;
      @include box-sizing();
      @include flex();
      flex-wrap: wrap;
      padding: $margin * 2;
      .main-box {
        @include box-sizing();
        @include flex();
        flex-wrap: wrap;
        width: $all;
        height: $all;
      }
      .main-box.main-box-tenth {
        @include flex();
        .sys-module {
          margin: $margin $margin * 2;
        }
      }
      .main-box.main-box-four {
        @include box-sizing();
        @include flex();
        flex-wrap: wrap;
        width: $all / 2;
        height: $all;
      }
      .main-box.main-box-unnormal {
        @include flex(column, space-around, center);
        .line-second, .line-second-five {
          @include flex();
          width: $all;
        }
        .line-first, .line-three, .line-first-five, .line-three-five, .line-second-eight  {
          width: $all;
          @include flex(row, space-around, center);
        }
        .line-first-five, .line-three-five, .line-second-five {
          .sys-module-unnormal {
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .line-second-eight {
          .sys-module-unnormal-eight {
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .line-first-seven, .line-three-seven {
          width: $all;
          @include flex();
        }
      }
      .sys-module.sys-module-four {
        flex-wrap: wrap;
        width: 42%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      .sys-module.sys-module-unnormal-eight {
        margin-right: 70px;
      }
      .sys-module.sys-module-four {
        &:nth-child(3n) {
          margin-right: $margin * 4;
        }
      }
      .sys-module {
        position: relative;
        width: $all / 4.5;
        height: 220px;
        margin-right: $margin * 4;
        &:nth-child(3n) {
          margin-right: 0;
        }
        color: #fff;
        font-size: $headerTitle;
        @include box-sizing();
        @include flex($dir: column);
        border-radius: 4px;
        box-shadow: 4px 6px 10px #333;
        cursor: pointer;
        padding: 0 $dis10 * 3.6;
        .iconfont.setting {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 16px;
          font-size: 24px;
          &:hover {
            color: #409EFF;
            border-color: #c6e2ff;
          }
        }
        .title {
          margin-bottom: $margin;
          width: $all;
          @include flex(row, space-between, center);
          .iconfont {
            width: 10%;
            font-size: 24px;
            margin-bottom: 0;
            margin-right: $dis10;
          }
          .sys-title {
            flex: 1
          }
        }
        // &:last-child {
        //   margin-right: 0;
        // }
      }
      .sys-module.VIBORDER-JI-BG {
        background: #CDC0B0;
      }
      .sys-module.VIBORDER-MR-BG {
        background: #8B658B;
      }
      .sys-module.VIBORDER-AC-BG {
        background: rgb(84, 110, 110);
      }
      .sys-module.VIBORDER-PC-BG {
        background: rgb(104, 182, 15);
      }
      .sys-module.VIBORDER-HC-BG {
        background: #AB82FF;
      }
      .sys-module.VIBORDER-TC-BG {
        background: #FF6347;
      }
      .sys-module.VIBORDER-RC-BG {
        background: #CCCC99;
      }
      .sys-module.VIBORDER-IC-BG {
        background: #FFCC00;
      }
      .sys-module.VIBORDER-CHECKIN-BG {
        background: #CC9999;
      }
      .sys-module.VIBORDER-CHECKOUT-BG {
        background: #FF82AB;
      }
      .sys-module.VIBORDER-SMS-BG {
        background: #33CCCC;
      }
      .sys-module.VIBORDER-PI-BG {
        background: #FFCCFF;
      }
      .sys-module.VIBORDER-DC-BG {
        background: #0099FF;
      }
      .sys-module.VIBORDER-CI-BG {
        background: rgb(230, 84, 210);
      }
      .fade-enter-active, .fade-leave-active {
        transition: opacity 1s;
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
      }
    }
    @media screen and (max-width: 1640px) {
      .main {
        height: 90%;
        padding: $margin;
        .sys-module {
          width: 23%;
          height: 160px;
          font-size: 21px;
          // margin-right: $margin;
        }
        .line-first-seven, .line-three-seven, .line-second-eight {
          .sys-module.sys-module-unnormal-eight {
            margin-right: 42px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .main-box {
          .sys-module.sys-module-0, .sys-module.sys-module-1 {
            &:last-child {
              margin-right: 0;
            }
          }
          .line-second-eight {
            .sys-module.sys-module-unnormal-eight {
              &:first-child {
                margin-right: 46px;
              }
              &:last-child {
                margin-left: 14px;
              }
            }
          }
          .line-first-seven, .line-three-seven {
            .sys-module.sys-module-unnormal {
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
        .main-box.main-box-tenth {
          .sys-module:nth-child(n) {
            margin: 10px 50px;
          }
          .sys-module:nth-child(3n) {
            margin: 10px 50px;
          }
          .sys-module:nth-child(2n) {
            margin: 10px 50px;
          }
        }
      }
    }
    .el-dialog {
      .el-dialog__header {
        text-align: left;
      }
      .el-dialog__body {
        .el-form {
          .el-form-item__content {
            .el-form-item__error {
              text-align: $labelError;
            }
          }
        }
        .SL-parent {
          @include box-sizing();
          width: 80%;
          margin: 0 auto;
          .site-lan-box {
            @include box-sizing();
            @include flex(column, center, flex-start);
            margin-bottom: $margin;
            .site-box {
              font-size: 20px;
              padding: $dis10 0;
              margin-bottom: $dis10;
              &:hover {
                cursor: pointer;
              }
            }
            .site-box.is-activeSite {
              color: #409EFF;
              border-color: #c6e2ff;
              background-color: #ecf5ff;
              box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
            }
            .lan-box {
              @include box-sizing();
              @include flex();
              .box-child {
                margin-right: $margin;
                .el-col-24 {
                  @include box-sizing();
                  @include flex();
                  .el-card {
                    &:hover {
                      cursor: pointer;
                      color: #409EFF;
                      border-color: #c6e2ff;
                      background-color: #ecf5ff;
                    }
                    .el-card__body {
                      padding: $dis10 $margin;
                    }
                  }
                  .el-card.is-active {
                    color: #409EFF;
                    border-color: #c6e2ff;
                    background-color: #ecf5ff;
                    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.el-cascader-menu__item {
  padding-right: 30px;
}
</style>
