<template>
  <div class='menu-bar' v-bar>
    <div id="sideMenu">
      <el-menu :default-active="defaultActive" background-color="rgba(0,0,0,0)" text-color="#fff" :collapse="true" router>
        <span v-for="(item, index) in menuItem" :key="index">
          <!-- 有子路由 -->
          <el-submenu :index="item.path" v-if="item.child">
            <template slot="title">
              <!-- 图标内容 -->
              <i class="iconfont" v-html="item.icon"></i>
            </template>
            <!-- 子路由列表 -->
            <el-menu-item-group v-for="(ele, idx) in item.children" :key="idx" style="background-color:rgba(18,70,89,1)">
              <el-menu-item :index="ele.path"><i class="iconfont">&#xe6b7;</i>{{$t(ele.name)}}</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
          <!-- 没有子路由 -->
          <el-menu-item :index="item.path" v-if="!item.child">
            <i class="iconfont" v-html="item.icon"></i>
            <!-- tooltips显示内容 -->
            <span slot="title">{{$t(item.content)}}</span>
          </el-menu-item>
        </span>
      </el-menu>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/common'
export default {
  name: 'sideMenu',
  data () {
    return {
      defaultActive: '',
      saveIcItem: [],
      menuItem: []
    }
  },
  created () {
    this.defaultActive = this.$route.path
    let {routes} = this.$router.options
    this.saveIcItem = routes.filter(ele => {
      if (ele.KEY === 'IC' || ele.prmKey === 'home') {
        return ele
      }
    })
    setTimeout(() => {
      this.getPreCodeList()
    }, 500)
  },
  methods: {
    getPreCodeList () {
      let {routes} = this.$router.options
      handleData.getPrmList({
        all: true,
        prmCode: 'VIBORDER-IC'
      }).then(res => {
        let {result, flag} = res.data
        if (flag) {
          // result = [...result, ...['VIBORDER-IC-WHITELIST']]
          this.saveIcItem.forEach(item => {
            if (item.prmKey === 'home') {
              this.menuItem.push(item)
            }
            result.forEach(ele => {
              if (item.prmKey === ele) {
                this.menuItem.push(item)
              }
            })
          })
          // 如果权限有监控总览则剔除掉home 监控总览作为home
          let isHome = this.menuItem.find(e => e.prmKey === 'VIBORDER-IC-PORTMONITOR')
          if (isHome) {
            this.menuItem.shift()
          }
        }
      }).catch(err => {
        console.log('err', err)
      })
    }
  },
  computed: {},
  watch: {
    $route (to, from) {
      for (let i in this.menuItem) {
        if (this.menuItem[i].path === to) {
          this.defaultActive = to.path
        } else {
          for (let j in this.menuItem[i].children) {
            if (this.menuItem[i].children[j].path === to) {
              this.defaultActive = to.path
            }
          }
        }
      }
    }
  },
  props: [ ],
  components: {}
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.menu-bar {
  @extend .extend-bar;
  #sideMenu {
    width: $all;
    background: $LinearGradient;
    .el-menu-item {
      width: $all;
      color: #000;
    }
    .el-icon-arrow-right:before {
      content: "";
    }
    .el-menu {
      .el-submenu,.el-menu-item {
        padding: $dis10 0;
        box-shadow: inset 0 1px 0 rgba(92,150,175,.2), inset 0 -1px 0 rgba(7,7,7,.2);
      }
      .el-submenu__title {
        background-color: transparent !important;
      }
      .iconfont {
        font-size: 28px;
        color: $primary;
      }
      .el-menu-item {
        box-sizing: content-box;
        padding-left: $importantZero;
        &:hover {
          background-color:rgba(18,70,89,1) !important;
        }
      }
      .el-tooltip {
        @include flex();
        display: flex!important
      }
    }
  }
}
.el-menu--popup {
  .el-menu-item-group>ul {
    .el-menu-item {
      height: $margin * 2.1;
      line-height: $margin * 2.1;
      padding-left: $dis10!important;
      &:hover {
        @extend .extend-aside-hover-active;
      }
      .iconfont {
        color: $white;
        margin-right: $dis10 / 2;
      }
    }
    .el-menu-item.is-active {
      @extend .extend-aside-hover-active;
    }
  }
}
</style>
