<template>
  <div id="ac-check">
    <AcCheck></AcCheck>
  </div>
</template>

<script>
import AcCheck from '../common/checkComponent'
export default {
  name: 'ac-check',
  data () {
    return {}
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {AcCheck}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#ac-check {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
