<template>
  <div id="animal-index">
    <AnimalIndex :jump2PagePath="pagePath" :socketInfo="socketInfo"></AnimalIndex>
  </div>
</template>

<script>
import AnimalIndex from '../common/confirmationInspection'
export default {
  name: 'animal-index',
  data () {
    return {
      pagePath: {
        details: '/ac/historicalDetails',
        check: '/ac/check'
      },
      socketInfo: {
        client: 'ACClient',
        site: localStorage.acSite,
        header: 'ANIMALCHECK'
      }
    }
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {AnimalIndex}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#animal-index {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
