<template>
  <div id="downloadPage">
    <div>
      <!-- 检入信息 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.checkInVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.checkInVO.inputItem" :spliceIndex="pageInitData.checkInVO.spliceIndex"/>
      </div>
      <!-- 测量信息 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.measureVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.measureVO.inputItem" :spliceIndex="pageInitData.measureVO.spliceIndex"/>
      </div>
      <!-- 交通查验站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.transportVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.transportVO.inputItem" :spliceIndex="pageInitData.transportVO.spliceIndex"/>
      </div>
      <!-- 卫生查验站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.healthVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.healthVO.inputItem" :spliceIndex="pageInitData.healthVO.spliceIndex"/>
      </div>
      <!-- 植物查验站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.plantVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.plantVO.inputItem" :spliceIndex="pageInitData.plantVO.spliceIndex"/>
      </div>
      <!-- 动物查验站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.animalVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.animalVO.inputItem" :spliceIndex="pageInitData.animalVO.spliceIndex"/>
      </div>
      <!-- 综合查验站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.dataCompareInfo.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.dataCompareInfo.inputItem" :spliceIndex="pageInitData.dataCompareInfo.spliceIndex"/>
      </div>
      <!-- 人工查验站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.piInfo.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.piInfo.inputItem" :spliceIndex="pageInitData.piInfo.spliceIndex"/>
      </div>
      <!-- 放行确认站 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.releaseConfirmInfo.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.releaseConfirmInfo.inputItem" :spliceIndex="pageInitData.releaseConfirmInfo.spliceIndex"/>
      </div>
      <!-- 车辆放行信息 -->
      <div class="panel">
        <panelTitle :panelTitleInit="pageInitData.checkOutVO.mainTitile">
        </panelTitle>
        <tableList :initArr="pageInitData.checkOutVO.inputItem" :spliceIndex="pageInitData.checkOutVO.spliceIndex"/>
      </div>
    </div>
  </div>
</template>
<script>
import tableList from './tableList'
import {formatSeconds} from '../../lib/index'
export default {
  name: 'downloadPage',
  data () {
    return {
      pageInitData: {
        checkInVO: {
          mainTitile: {
            // 车辆注册信息
            title: this.$t('ViBorder.businessLogicCommon.checkInfo')
          },
          inputItem: [
            {
              // 到达时间
              label: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
              models: '',
              ruleProp: 'vehicleCheckIn.arrivalTime'
            },
            {
              // LPR识别时间
              label: this.$t('ViBorder.IC.lprRecognitionTime'),
              models: '',
              ruleProp: 'vehicleLpr.recognitionTime'
            },
            {
              // 识别车牌
              label: this.$t('ViBorder.businessLogicCommon.autoRecognition'),
              models: '',
              ruleProp: 'vehicleLpr.result'
            },
            {
              // 修正的车牌
              label: this.$t('ViBorder.businessLogicCommon.correction'),
              models: '',
              ruleProp: 'vehicleLpr.amendResult'
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.vehicleType'),
              models: '',
              ruleProp: 'vehicleCheckIn.vehicleTypeI18N.key'
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.asycuda'),
              models: '',
              ruleProp: 'vehicleCheckIn.asycudaCode'
            },
            {
              // 报关单号
              label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
              models: '',
              ruleProp: 'vehicleCheckIn.declarationNumber'
            },
            {
              // 后车牌
              label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
              models: '',
              ruleProp: 'vehicleCheckIn.licensePlateNumberBack'
            },
            {
              // 是否拖车
              label: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
              models: '',
              ruleProp: 'vehicleCheckIn.logistics'
            },
            {
              // 指运地
              label: this.$t('ViBorder.businessLogicCommon.to'),
              models: '',
              ruleProp: 'vehicleCheckIn.destPortI18N.key'
            },
            {
              // 业务类型
              label: this.$t('ViBorder.businessLogicCommon.businessType'),
              models: '',
              ruleProp: 'vehicleCheckIn.businessTypeI18N.key'
            },
            {
              // 拖车
              label: this.$t('ViBorder.businessLogicCommon.trailer'),
              models: '',
              ruleProp: 'vehicleCheckIn.trailer'
            },
            {
              // 是否进入通道
              label: this.$t('ViBorder.IC.measurement'),
              models: '',
              ruleProp: 'vehicleCheckIn.entryTunnel'
            },
            {
              // 驶离通道时间
              label: this.$t('ViBorder.businessLogicCommon.laneDepartingTime'),
              models: '',
              ruleProp: 'vehicleCheckIn.arrivalTime'
            },
            {
              // 检入时间
              label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
              models: '',
              ruleProp: 'vehicleCheckIn.checkInTime'
            },
            {
              // 是否扫描
              label: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              models: '',
              ruleProp: 'vehicleCheckIn.xrayScan'
            },
            {
              // 风险等级
              label: this.$t('ViBorder.businessLogicCommon.riskLevel'),
              models: '',
              type: 'color',
              ruleProp: 'vehicleCheckIn.riskLevel.value'
            },
            {
              // 文件数量
              label: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
              models: '',
              ruleProp: 'vehicleCheckIn.fileScanAmount'
            },
            {
              // 检入员
              label: this.$t('ViBorder.businessLogicCommon.checkInPerson'),
              models: '',
              ruleProp: 'vehicleCheckIn.operationUserName'
            },
            {
              // 检入备注
              label: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
              models: '',
              ruleProp: 'vehicleCheckIn.remark'
            },
            {
              // LPR识别车牌
              label: this.$t('ViBorder.businessLogicCommon.lprTab'),
              models: '',
              type: 'img',
              ruleProp: 'vehicleLpr.photoPath'
            }
          ],
          spliceIndex: 15
        },
        measureVO: {
          mainTitile: {
            // 测量信息
            title: this.$t('ViBorder.TC.measurementInformation')
          },
          spliceIndex: 13,
          inputItem: [
            {
              // 到达时间
              label: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
              models: '',
              ruleProp: 'vehicleMeasure.arrivedTunnelTime'
            },
            {
              // LPR识别时间
              label: this.$t('ViBorder.IC.lprRecognitionTime'),
              models: '',
              ruleProp: 'frontVehicleLprVo.recognitionTime'
            },
            {
              // 车牌的识别
              label: this.$t('ViBorder.businessLogicCommon.autoRecognition'),
              models: '',
              ruleProp: 'frontVehicleLprVo.result'
            },
            {
              // 自动测量的车辆长度（米）
              label: this.$t('ViBorder.businessLogicCommon.autoMeasureLength'),
              models: '',
              ruleProp: 'vehicleLmi.vehicleLength'
            },
            {
              // 修正的车辆长度（米）
              label: this.$t('ViBorder.businessLogicCommon.correctionLength'),
              models: '',
              ruleProp: 'vehicleLmi.vehicleLengthAmend'
            },
            {
              // 自动测量的车辆宽度（米）
              label: this.$t('ViBorder.businessLogicCommon.autoMeasureWidth'),
              models: '',
              ruleProp: 'vehicleLmi.vehicleWidth'
            },
            {
              // 修正的车辆宽度
              label: this.$t('ViBorder.businessLogicCommon.correctionWidth'),
              models: '',
              ruleProp: 'vehicleLmi.vehicleWidthAmend'
            },
            {
              // 自动测量的车辆高度（米）
              label: this.$t('ViBorder.businessLogicCommon.autoMeasureHeight'),
              models: '',
              ruleProp: 'vehicleLmi.vehicleHeight'
            },
            {
              // 修正的车辆高度
              label: this.$t('ViBorder.businessLogicCommon.correctionHeight'),
              models: '',
              ruleProp: 'vehicleLmi.vehicleHeightAmend'
            },
            {
              // 自动测量的车辆重量（吨）
              label: this.$t('ViBorder.businessLogicCommon.autoMeasureWeight'),
              models: '',
              ruleProp: 'vehicleWeight.total'
            },
            {
              // 修正的车辆重量
              label: this.$t('ViBorder.businessLogicCommon.correctionTotal'),
              models: '',
              ruleProp: 'vehicleWeight.totalAmendResult'
            },
            {
              // 自动测量的车辆轴重（吨）
              label: this.$t('ViBorder.IC.autoMeasureAxelWeight'),
              models: '',
              ruleProp: 'vehicleWeight.axelWeight'
            },
            {
              // 修正的车辆轴重
              label: this.$t('ViBorder.IC.correctionAxelWeight'),
              models: '',
              ruleProp: 'vehicleWeight.axelWeightAmendResult'
            },
            {
              // 测量开始时间
              label: this.$t('ViBorder.businessLogicCommon.measureBeginTime'),
              models: '',
              ruleProp: 'vehicleMeasure.enterTunnelTime'
            },
            {
              // 测量结束时间
              label: this.$t('ViBorder.businessLogicCommon.measureEndTime'),
              models: '',
              ruleProp: 'vehicleMeasure.leftTunnelTime'
            },
            {
              // 测量时长 暂未返回时间
              label: this.$t('ViBorder.IC.measureDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 是否扫描
              label: this.$t('ViBorder.businessLogicCommon.xrayScan'),
              models: '',
              ruleProp: 'vehicleXray'
            },
            {
              // 扫描开始时间
              label: this.$t('ViBorder.IC.scanBeginTime'),
              models: '',
              ruleProp: 'vehicleXray.scanStartTime'
            },
            {
              // 扫描结束时间
              label: this.$t('ViBorder.IC.scanEndTime'),
              models: '',
              ruleProp: 'vehicleXray.scanEndTime'
            },
            {
              // 扫描时长
              label: this.$t('ViBorder.IC.scanDuration'),
              models: '',
              ruleProp: 'xraySpendTime'
            },
            {
              // LPR识别车牌
              label: this.$t('ViBorder.businessLogicCommon.lprTab'),
              models: '',
              type: 'img',
              ruleProp: 'frontVehicleLprVo.photoPath'
            }
          ]
        },
        transportVO: {
          mainTitile: {
            // 交通查验站
            title: this.$t('ViBorder.auditLog.object.traffic')
          },
          inputItem: [
            {
              // 交通查验开始时间
              label: this.$t('ViBorder.IC.trafficBeginTime'),
              models: '',
              ruleProp: 'startTime'
            },
            {
              // 交通查验结论
              label: this.$t('ViBorder.businessLogicCommon.transiportConclusion'),
              models: '',
              ruleProp: 'conclusion.key'
            },
            {
              // 交通查验员
              label: this.$t('ViBorder.businessLogicCommon.transiportPerson'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // 交通查验结束时间
              label: this.$t('ViBorder.IC.trafficEndTime'),
              models: '',
              ruleProp: 'endTime'
            },
            {
              // 交通查验时长
              label: this.$t('ViBorder.IC.trafficDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 交通查验备注
              label: this.$t('ViBorder.IC.trafficRemark'),
              models: '',
              ruleProp: 'remark'
            }
          ]
        },
        healthVO: {
          mainTitile: {
            // 卫生查验站
            title: this.$t('ViBorder.auditLog.object.health')
          },
          inputItem: [
            {
              // 卫生查验开始时间
              label: this.$t('ViBorder.IC.healthBeginTime'),
              models: '',
              ruleProp: 'startTime'
            },
            {
              // 卫生查验结论
              label: this.$t('ViBorder.businessLogicCommon.healthConclusion'),
              models: '',
              ruleProp: 'conclusion.key'
            },
            {
              // 卫生查验员
              label: this.$t('ViBorder.businessLogicCommon.healthPerson'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // 卫生查验结束时间
              label: this.$t('ViBorder.IC.healthEndTime'),
              models: '',
              ruleProp: 'endTime'
            },
            {
              // 卫生查验时长
              label: this.$t('ViBorder.IC.healthDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 卫生查验备注
              label: this.$t('ViBorder.IC.healthRemark'),
              models: '',
              ruleProp: 'remark'
            }
          ]
        },
        plantVO: {
          mainTitile: {
            // 植物查验站
            title: this.$t('ViBorder.auditLog.object.plant')
          },
          inputItem: [
            {
              // 植物查验开始时间
              label: this.$t('ViBorder.IC.plantBeginTime'),
              models: '',
              ruleProp: 'startTime'
            },
            {
              // 植物查验结论
              label: this.$t('ViBorder.businessLogicCommon.plantConclusion'),
              models: '',
              ruleProp: 'conclusion.key'
            },
            {
              // 植物查验员
              label: this.$t('ViBorder.businessLogicCommon.plantPerson'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // 植物查验结束时间
              label: this.$t('ViBorder.IC.plantEndTime'),
              models: '',
              ruleProp: 'endTime'
            },
            {
              // 植物查验时长
              label: this.$t('ViBorder.IC.plantDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 植物查验备注
              label: this.$t('ViBorder.IC.plantRemark'),
              models: '',
              ruleProp: 'remark'
            }
          ]
        },
        animalVO: {
          mainTitile: {
            // 动物查验站
            title: this.$t('ViBorder.auditLog.object.animal')
          },
          spliceIndex: 5,
          inputItem: [
            {
              // 动物查验开始时间
              label: this.$t('ViBorder.IC.animalBeginTime'),
              models: '',
              ruleProp: 'startTime'
            },
            {
              // 动物查验结论
              label: this.$t('ViBorder.businessLogicCommon.animalConclusion'),
              models: '',
              ruleProp: 'conclusion.key'
            },
            {
              // 动物查验员
              label: this.$t('ViBorder.businessLogicCommon.animalPerson'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // 动物查验结束时间
              label: this.$t('ViBorder.IC.animalEndTime'),
              models: '',
              ruleProp: 'endTime'
            },
            {
              // 动物查验时长
              label: this.$t('ViBorder.IC.animalDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 动物查验备注
              label: this.$t('ViBorder.IC.animalRemark'),
              models: '',
              ruleProp: 'remark'
            }
          ]
        },
        dataCompareInfo: {
          mainTitile: {
            // 综合查验站
            title: this.$t('ViBorder.auditLog.object.comprehensive')
          },
          inputItem: [
            {
              // 综合查验开始时间
              label: this.$t('ViBorder.IC.comprehensiveBeginTime'),
              models: '',
              ruleProp: 'startTime'
            },
            {
              // 综合查验结论
              label: this.$t('ViBorder.businessLogicCommon.dcConclusion'),
              models: '',
              ruleProp: 'conclusion.key'
            },
            {
              // 综合查验员
              label: this.$t('ViBorder.DC.inspectionDcUser'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // 综合查验结束时间
              label: this.$t('ViBorder.IC.comprehensiveEndTime'),
              models: '',
              ruleProp: 'endTime'
            },
            {
              // 综合查验时长
              label: this.$t('ViBorder.IC.comprehensiveDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 综合查验备注
              label: this.$t('ViBorder.businessLogicCommon.inspectionDcRemark'),
              models: '',
              ruleProp: 'remark'
            }
          ]
        },
        piInfo: {
          mainTitile: {
            // 人工查验站
            title: this.$t('ViBorder.auditLog.object.physical')
          },
          spliceIndex: 6,
          inputItem: [
            {
              // 人工查验开始时间
              label: this.$t('ViBorder.IC.inspectionPiBeginTime'),
              models: '',
              ruleProp: 'startTime'
            },
            {
              // 人工查验结论
              label: this.$t('ViBorder.businessLogicCommon.inspectionPiConclusion'),
              models: '',
              ruleProp: 'conclusion.key'
            },
            {
              // 人工查验员
              label: this.$t('ViBorder.PI.inspectionPiUser'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // 是否上传查验凭证
              label: this.$t('ViBorder.IC.isUpInspectionVoucher'),
              models: '',
              ruleProp: 'upload'
            },
            {
              // 人工查验结束时间
              label: this.$t('ViBorder.IC.inspectionPiEndTime'),
              models: '',
              ruleProp: 'endTime'
            },
            {
              // 人工查验时长
              label: this.$t('ViBorder.IC.inspectionPiDuration'),
              models: '',
              ruleProp: 'spendTime'
            },
            {
              // 上传文件数量
              label: this.$t('ViBorder.businessLogicCommon.uploadFileQty'),
              models: '',
              ruleProp: 'uploadCount'
            },
            {
              // 人工查验备注
              label: this.$t('ViBorder.businessLogicCommon.inspectionPiRemark'),
              models: '',
              ruleProp: 'remark'
            }
          ]
        },
        releaseConfirmInfo: {
          mainTitile: {
            // 放行确认站
            title: this.$t('ViBorder.auditLog.object.releaseVerify')
          },
          spliceIndex: 1,
          inputItem: [
            {
              // 放行确认时间
              label: this.$t('ViBorder.businessLogicCommon.releaseTime'),
              models: '',
              ruleProp: 'confirmTime'
            },
            {
              // 放行确认员
              label: this.$t('ViBorder.businessLogicCommon.releasePerson'),
              models: '',
              ruleProp: 'operator'
            }
          ]
        },
        checkOutVO: {
          mainTitile: {
            // 车辆放行信息
            title: this.$t('ViBorder.IC.vehicleReleaseInfo')
          },
          spliceIndex: 4,
          inputItem: [
            {
              // 车辆到达出口时间
              label: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
              models: '',
              ruleProp: 'arriveTime'
            },
            {
              // 驶离通道时间
              label: this.$t('ViBorder.businessLogicCommon.laneDepartingTime'),
              models: '',
              ruleProp: 'leaveTime'
            },
            {
              // 放行类型
              label: this.$t('ViBorder.IC.releaseType'),
              models: '',
              ruleProp: 'normalEnd'
            },
            {
              // 放行员
              label: this.$t('ViBorder.businessLogicCommon.checkOutPerson'),
              models: '',
              ruleProp: 'operator'
            },
            {
              // LPR识别车牌
              label: this.$t('ViBorder.businessLogicCommon.lprTab'),
              models: '',
              type: 'img',
              ruleProp: 'vehicleLpr.photoPath'
            }
          ]
        }
      }
    }
  },
  methods: {
    initPageData () {
      let result = this.propsData
      for (const key in result) {
        const element = result[key]
        this.pageInitData[key] && this.pageInitData[key].inputItem.forEach((e, index) => {
          let keys = e.ruleProp
          // 数据统一处理
          if (keys.includes('I18N') || keys.includes('.key')) {
            // 国际化
            e.models = this.$t(this.$_get(element, `${keys}`, ''))
          } else if (keys.includes('Time') && !keys.includes('spendTime') && !keys.includes('xraySpendTime')) {
            // 国际化时间
            e.models = this.$formatDateTime(this.$_get(element, `${keys}`, ''), this.$t('ViBorder.common.formatDate'))
          } else if (typeof this.$_get(element, `${keys}`, '') === 'boolean') {
            // 布尔值
            e.models = this.$_get(element, `${keys}`, '') ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
          } else if (keys.includes('remark')) {
            // 备注
            e.models = this.$_get(element, `${keys}`, '') && this.$_get(element, `${keys}`, '').replace('<br/>', ' ')
          } else if (keys.includes('spendTime') || keys.includes('xraySpendTime')) {
            // 秒值
            e.models = formatSeconds(this.$_get(element, `${keys}`, 0))
          } else if (e.type === 'img') {
            // 图片
            let objk = keys.includes('.') && keys.split('.')
            let d = this.$_get(element, `${objk[0]}.${objk[1]}`, '') || this.$_get(element, `${keys}`, '')
            e.models = `${this.$lprFolder}${d}`
          } else {
            e.models = this.$_get(element, `${keys}`, '')
          }
          // 系统分开处理
          if (keys === 'vehicleXray') {
            e.models = Object.keys(element || {}).length > 0 ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
          } else if (keys === 'normalEnd') {
            e.models = this.$_get(element, `${keys}`, '') ? this.$t('ViBorder.businessLogicCommon.auto') : this.$t('ViBorder.businessLogicCommon.manual')
          }
        })
      }
    }
  },
  props: ['propsData', 'isCompleted'],
  components: {tableList},
  watch: {
    'isCompleted': {
      handler (newV, oldV) {
        if (newV) {
          this.initPageData()
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#downloadPage {
  // height: $all;
  // width: $all;
  // @extend .extend-bar;
  .panel {
    @extend .extend-panel;
    margin: $dis10;
  }
}
</style>
