<template>
  <div class="table-list">
    <div class="cell">
      <div class="cell-block">
        <div class="cell-block-pannel" v-for="(ele, idx) in initArrLeft" :key="idx">
          <div class="cell-item cell-title line-set">{{ele.label}}</div>
          <div class="cell-item cell-value line-set" v-if="ele.type === 'color'">
            <div :class="ele.models" class="color-block"></div>
          </div>
          <div class="cell-item cell-value line-set" v-else>{{ele.models}}</div>
        </div>
      </div>
      <div class="cell-block">
        <div class="cell-block-pannel" v-for="(ele, idx) in initArrRight" :key="idx">
          <div class="cell-item cell-title line-set" :class="ele.type === 'img' ? 'line-img-height' : ele.ruleProp.includes('remark') ? 'line-remark-height' : ''">{{ele.label}}</div>
          <div class="cell-item cell-value line-set" v-if="ele.type === 'color'">
            <div :class="ele.models" class="color-block"></div>
          </div>
          <div class="cell-item" :class="ele.ruleProp.includes('remark') ? 'line-remark-height' : 'line-set'" v-else-if="ele.ruleProp.includes('remark')">{{ele.models}}</div>
          <div class="cell-item cell-value" :class="ele.type === 'img' ? 'line-img-height' : 'line-set'" v-else-if="ele.type === 'img'">
            <img :src="ele.models" alt="" class="photo">
          </div>
          <div class="cell-item cell-value line-set" v-else>{{ele.models}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {splitArr} from '../../lib/index.js'
export default {
  name: 'table-list',
  data () {
    return {
      initArrLeft: [],
      initArrRight: []
    }
  },
  mounted () {
    let arr = this.initArr
    let len = arr.length
    let {left, right} = splitArr(arr, Number(this.spliceIndex || 5))
    this.initArrLeft = left
    this.initArrRight = right
  },
  props: ['initArr', 'spliceIndex']
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
.table-list {
  width: $all;
  height: $all;
  @include box-sizing();
  .cell {
    @include flex($ali: flex-start);
    .cell-block {
      width: 50%;
      .cell-block-pannel {
        width: $all;
        @include flex();
        &:last-child {
          margin-bottom: 4px;
        }
        .line-set {
          height: 40px;
          line-height: 38px;
        }
        .line-img-height {
          height: 240px;
          line-height: 228px;
          @include box-sizing();
        }
        .line-remark-height{
          height: 200px;
          padding: 0 20px;
          word-break: break-all;
          word-wrap: break-word;
          @include flex();
          flex-wrap: wrap;
          }
        .cell-item {
          // height: $all;
          width: 50%;
          border: 1px solid #ddd;
          border-top: none;
          border-left: none;
          @include flex();
          // padding: 4px 20px;
          @include box-sizing();
          .RED {
            background: $radioLevel0;
          }
          .YELLOW {
            background: $radioLevel1;
          }
          .GREEN {
            background: $radioLevel2;
          }
          .color-block {
            border-radius: 4px;
            line-height: $margin;
            height: $margin;
            width: $margin * 2;
          }
          .photo {
            height: 228px;
          }
        }
        .cell-title {
          background-color: #f7f7f7;
        }
      }
    }
  }
}
</style>
