<template>
  <div id="pi-index-page" v-bar>
    <!-- 查询和list -->
    <div class="home-M">
      <div class="infolist">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <div class="form-bar" v-bar >
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <el-button type="primary" size="mini" @click="additionalTask">{{this.$t('ViBorder.PI.addPiInspectionTask')}}</el-button>
          </panelTitle>
          <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
        </div>
      </div>
    </div>
    <!-- 右侧固定 -->
    <div class="fix-box">
      <div class="fix-tab" ref="toggleTab">
        <el-tooltip class="item" effect="dark" :content="$t('ViBorder.businessLogicCommon.historicalTaskList')" placement="left">
          <div class="fix-tab-title" @click="toggleAsideTab">
            <span class="tab-text">{{$t('ViBorder.businessLogicCommon.historicalTaskList')}}</span>
            <i class="iconfont" :style="{transform: asideTab.rotateDeg}">&#xe623;</i>
          </div>
        </el-tooltip>
        <div ref="toggleTabContanier" class="fix-tab-container">
          <div class="up-down-container">
            <div class="up-down-infolist">
              <div class="up-down-panel panel-top">
                <panelTitle :panelTitleInit="modalTitle.queryTitle"></panelTitle>
                <ComForm :searchIpt="modalItem" :searchFunc="modalFn" :formRule='modalRule'></ComForm>
              </div>
              <div class="up-down-panel panel-bottom">
                <panelTitle :panelTitleInit="modalTitle.listTitle"></panelTitle>
                <ComTable :tableData='asidetableData' :tableGroup='asideTableGroup'></ComTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Dialog :modalData="addTaskInfo">
      <ComForm :searchIpt="addTaskInput" :searchFunc="addTaskFn" :formRule='addTaskRule'></ComForm>
    </Dialog>
  </div>
</template>

<script>
import Axios from '@/api/PI/pi.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import {connect, disconnect} from '@/components/common/ws.js'
export default {
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      sideTableSize: '',
      tableSize: ``,
      PIClient: '',
      defaultOption: '', // 默认传参
      CurrentChageFlag: false, // 分页切换标志位
      sideCurrentChageFlag: false, // 侧拉框分页标志位
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      modalTitle: { // 侧拉框的标题
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'

        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          ruleProp: 'businessType',
          option: []
        }
      ],
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      queryFn: { // 页面表单查询方法
        query: this.listWaitPiVhicle, // 查询手检任务列表
        close: this.reset,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          width: '260',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '130'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessTypeI18N',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          model: 'licensePlateNumberBack',
          width: '150'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.locked'),
          type: 'text',
          model: 'locked',
          width: '160'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lockedUser'),
          type: 'text',
          model: 'lockedUserName',
          width: '220'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      tableData: { // 表格数据
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '730',
        refName: 'multipleTable',
        sortMethod: this.getSortTable, // 新增排序方法
        data: []
      },
      operation: [ // 手检任务dialog表格操作按钮
        {
          func: this.jumpIndex,
          label: `<span class='editTable'><i class="iconfont">&#xe65a;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.check'),
          show: true
        }
      ],
      /**
       * *******************************侧拉框的数据信息**************************
       */
      modalItem: [ // 侧拉框的文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          isThree: true,
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.InputPredeclarationNO'),
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputContainerNO'),
          models: '',
          ruleProp: 'containerNumber'

        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          models: '',
          placeHolder: this.$t('ViBorder.common.all'),
          type: 'select',
          ruleProp: 'businessType',
          option: []
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          ruleProp: 'normalEnd',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          clearable: true
        }
      ],
      modalRule: { // 弹窗表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
          checkinTime: [
            {validator: (rule, value, callback) => {
              this.$customValidateTimeRange(rule, value, callback)
            },
            trigger: 'change'}
          ]
        },
        model: {}
      },
      modalFn: { // 侧拉框表单确定方法
        query: this.sideQuery,
        close: this.resetAside,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      asideTableGroup: [ // 侧拉框表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessTypeI18N',
          width: '200'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          model: 'licensePlateNumberBack',
          width: '200'
        },
        // {
        //   label: this.$t('ViBorder.PI.releaseConclusion'),
        //   type: 'text',
        //   model: 'release'
        // },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ],
      asidetableData: { // 侧拉框的数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '430',
        refName: 'multipleTable',
        sortMethod: this.asideSort
      },
      SideOperation: [ // 手检任务dialog表格操作按钮
        {
          func: this.historyView,
          label: `<span class='editTable'><i class="iconfont">&#xe610;</i></span>`,
          title: this.$t('ViBorder.businessLogicCommon.view'),
          show: true
        }
      ],
      asideTab: { // 侧拉框的按钮
        display: false,
        rotateDeg: ''
      },
      addTaskInfo: {
        flag: false,
        title: this.$t('ViBorder.PI.addPiInspectionTask'),
        resetModal: this.cancelTask
      },
      addTaskInput: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        }
      ],
      addTaskRule: {
        refName: 'addTaskRule',
        rule: {
          licensePlateNumber: [ // 车牌号校验
            { required: true, message: this.$t('ViBorder.businessLogicCommon.inputLpn'), trigger: 'blur' },
            { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.lpnLength'), trigger: 'blur' },
            { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyLpn') }
          ]
        },
        model: {}
      },
      addTaskFn: {
        query: this.addTask,
        close: this.cancelTask,
        queryText: this.$t('ViBorder.PI.addPiInspectionTask'),
        resetText: this.$t('ViBorder.common.cancel')
      },
      sortParm: {},
      asideSortParm: {},
      pageSortParm: {},
      pageUseParam: {
        pageSizeNum: `` // 当前页单页显示数据数
      },
      sysApiUrl: 'pi'
    }
  },
  created () {
    this.defaultOption = localStorage.getItem('piSite')
    this.toggleGloableModal(false)
    this.initPageData() // 初始换页面数据
    this.connectWebSocket()
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
    // 页面加载时按下tab键不激活日期组件
    var key = document.getElementsByClassName('fix-tab')[0].getElementsByClassName('el-range-input')
    for (var i = 0; i < key.length; i++) {
      key[i].setAttribute('tabindex', -1)
    }
  },
  destroyed () {
    this.toggleGloableModal(false)
    this.PIClient && disconnect({client: this.PIClient}) // socket断开连接
  },
  methods: {
    windowResize () {
      let clientWidth = document.body.clientWidth
      if (clientWidth > 1640) {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
        }
        this.asidetableData.MaxHeight = 430
      } else {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
        }
        this.asidetableData.MaxHeight = 240
      }
    },
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.PIClient = Stomp.over(socket)
      let path = `/topic/commandTopic_${localStorage.piSite}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkinTime[0]).getTime(),
          endTime: new Date(model.checkinTime[1]).getTime()
        }
        let initTableParm = {...time, ...{page: 0, size: 10}, ...{site: this.defaultOption}}
        this.getTableData(initTableParm)
      }
      connect({client: this.PIClient, path, scb, header: 'PHYSICALINSPECTION', reconCallBack: this.connectWebSocket})
    },
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    initPageData () {
      // 初始化页面数据 包括下拉菜单的选项以及表格数据
      // 这个参数拿的也太费劲了╭(╬◣д◢) 必须写在setTimeout里 否则娶不到model下的数据(╰_╯)#会报错
      setTimeout(() => {
        let {model} = this.formRule
        let time = {
          startTime: new Date(model.checkinTime[0]).getTime(),
          endTime: new Date(model.checkinTime[1]).getTime()
        }
        let initTableParm = {...time, ...{page: this.tableSize, size: 10}, ...{site: this.defaultOption}}
        Promise.all([this.initBusinessTypeList({site: this.defaultOption}), !this.getCachedOptions('') ? this.getDropSearch(initTableParm) : this.initIndexInputVal()]).then(res => {
          console.log('res', res)
        }).catch(err => {
          console.log('err', err)
        })
      })
    },
    initBusinessTypeList (val) { // 网页打开的时候初始化页面调用（下拉列表初始化）
      Axios._initBusinessTypeList(val).then(res => {
        if (res.data.flag) {
          let businessType = res.data.result.businessType
          let option = businessType.map(item => {
            return {
              label: this.$t(item.i18nKey),
              value: item.dataCode
            }
          })
          let fn = (arr) => {
            arr.forEach(item => {
              if (item.ruleProp === 'businessType') {
                item.option = option
              }
            })
          }
          fn(this.inputItem)
          fn(this.modalItem)
        }
      })
    },
    jumpIndex (selection) { // 点击check按钮跳转页面的方法
      const index = selection.$index
      sessionStorage.setItem('vehicleId', this.tableData.data[index].id)
      Axios._openPiTask({vehicleId: this.tableData.data[index].id, site: localStorage.piSite}).then(res => {
        if (res.data.flag) {
          this.$router.push({
            path: '/pi/piOperationTunnel'
          })
        } else {
          let param = this.getQueryParam(this.formRule)
          this.getTableData({...param, ...{size: 10, page: 0}})
          return false
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    historyView (selection) { // 侧拉框点击view按钮时候进行的跳转
      const index = selection.$index
      sessionStorage.setItem('vehicleId', this.asidetableData.data[index].id)
      this.$router.push({
        path: '/pi/piDetailTunnel'
      })
    },
    getDropSearch (val) { // 先获取初始化数据，下拉选项等，再查询在检任务列表。
      this.getTableData(val)
      this.listWaitPiVhicle(true)
    },
    getCachedOptions (str) {
      return this.$store.state.searchConditionOption[`${this.sysApiUrl}${str}`]
    },
    initCache (key) {
      let p = this.getCachedOptions(key)
      let obj = {}
      // 将从store获取的数组数据组装为对象键值对
      p.forEach(item => {
        let key = Object.keys(item)
        Object.assign(obj, {[key]: item[key]})
      })
      return obj
    },
    initIndexInputVal () {
      let obj = this.initCache('')
      this.inputItem.forEach(e => {
        e.models = obj[e.ruleProp]
      })
      let param = this.getQueryParam({model: obj})
      const handlesize = {...{size: this.tableSize || 10, page: 0}, ...this.pageSortParm, ...param}
      this.getTableData(handlesize)
    },
    initAsideInputVal () {
      let obj = this.initCache('ListAll')
      this.modalItem.forEach(e => {
        e.models = obj[e.ruleProp]
      })
      let param = this.getQueryParam({model: obj})
      let initTableParm = {...{page: 0, size: this.pageUseParam.pageSizeNum || 10}, ...{site: this.defaultOption}, ...param}
      this.getModelData(initTableParm) // 初始化表格
    },
    insertCache (item, key = '', val) {
      let parm = this[item].map(e => {
        let obj = {}
        obj = {
          [e.ruleProp]: e.models
        }
        return obj
      })
      parm = [...parm, ...[{size: val.size}], ...[{page: val.page}], ...[{sort: val.sort}]]
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          [`${this.sysApiUrl}${key}`]: parm
        }
      })
    },
    clearSearchCache (str) {
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          [`${this.sysApiUrl}${str}`]: []
        }
      })
    },
    resetAside () {
      this.clearSearchCache('ListAll')
    },
    reset () {
      this.clearSearchCache('')
    },
    getTableData (val, isAuto = '') { // 主页中的获取表格初始数据 模拟请求回来的数据、和模态表单里面的查询数据
      !isAuto && this.insertCache('inputItem', '', val)
      Axios._listWaitPiVhicle({...val, ...this.sortParm}).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) {
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.modalRule.model.size = res.data.result.size
          this.modalRule.model.CurrentPage = res.data.result.number
          this.CurrentChageFlag = false // 防止点击分页条数时多次触发提交请求
          let ret = res.data.result.content
          ret.forEach(element => {
            element.operation = this.operation
            for (const key in element) {
              if (key === 'checkInTime') {
                element[key] = this.$formatDateTime(element[key], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
              }
              if (key === 'locked') {
                if (element[key]) {
                  element[key] = this.$t('ViBorder.common.yes')
                } else {
                  element[key] = this.$t('ViBorder.common.error')
                }
              }
              if (key === 'businessTypeI18N') {
                element[key] && (element[key] = this.$t(element[key]['key']))
              }
            }
          })
          this.tableData.data = res.data.result.content
        }
      }).catch(err => {
        console.log(err)
      })
    },
    getModelData (val) { // 侧拉框中获取表格初始数据 模拟请求回来的数据、和模态表单里面的查询数据
      this.insertCache('modalItem', 'ListAll', val)
      Axios._listHisPiVhicle({...val, ...this.asideSortParm}).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) {
            this.asidetableData.isPage = true
          } else {
            this.asidetableData.isPage = false
          }
          this.asidetableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.sideHandleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.sideHandleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.sideCurrentChageFlag = false // 防止点击分页条数时多次触发提交请求
          let ret = res.data.result.content
          ret.forEach(element => {
            element.operation = this.SideOperation
            for (const key in element) {
              if (key === 'checkInTime') {
                element[key] = this.$formatDateTime(element[key], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
              }
              if (key === 'businessTypeI18N') {
                element[key] && (element[key] = this.$t(element[key]['key']))
              }
              if (key === 'release') {
                if (element[key]) {
                  element[key] = this.$t('ViBorder.common.yes')
                } else {
                  element[key] = this.$t('ViBorder.common.error')
                }
              }
            }
          })
          this.asidetableData.data = res.data.result.content
        }
      }).catch(err => {
        console.log(err)
      })
    },
    listWaitPiVhicle (isAuto) { // 主页表单查询方法
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: this.tableSize || 10, page: 0}, ...this.sortParm}
      this.getTableData(handlesize, isAuto)
    },
    sideQuery () { // 侧拉框表单查询方法
      setTimeout(() => {
        let param = this.getQueryParam(this.modalRule)
        const handlesize = {...param, ...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...this.asideSortParm}
        this.getModelData(handlesize)
      }, 10)
    },
    getQueryParam (val) {
      let {model} = val
      let time = {}
      let param = {}
      if (model.checkinTime) {
        if (!model.checkinTime[1].includes('999')) {
          model.checkinTime[1] = `${model.checkinTime[1]}.999`
        }
        time = {
          startTime: new Date(model.checkinTime[0]).getTime(),
          endTime: new Date(model.checkinTime[1]).getTime()
        }
      }
      for (const key in model) {
        Object.assign(param, time, {site: this.defaultOption}, {[key]: model[key]})
      }
      return this.$filterNullFields(param)
    },
    handleCurrentChange (val) { // 主页的当前页码改变触发改函数
      if (!this.CurrentChageFlag) {
        let param = this.getQueryParam(this.formRule)
        const pagesize = this.tableData.page.pagesize
        const obj = {...param, ...{page: parseInt(val - 1), size: pagesize, ...this.sortParm}}
        this.getTableData(obj)
      }
    },
    handleSizeChange (val) { // 主页的分页条数改变触发该函数
      this.tableSize = val
      this.CurrentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const obj = {...param, ...{size: val, page: 0}, ...this.sortParm}
      this.getTableData(obj)
    },
    sideHandleCurrentChange (val) { // 侧拉框当前页码改变触发改函数
      if (!this.sideCurrentChageFlag) {
        let param = this.getQueryParam(this.modalRule)
        const pagesize = this.asidetableData.page.pagesize
        const obj = {...param, ...{page: parseInt(val - 1), size: pagesize, ...this.asideSortParm}}
        this.getModelData(obj)
      }
    },
    sideHandleSizeChange (val) { // 侧拉框分页条数改变触发该函数
      this.sideTableSize = val
      this.sideCurrentChageFlag = true
      let param = this.getQueryParam(this.modalRule)
      const obj = {...param, ...{size: val, page: 0}, ...this.asideSortParm}
      this.getModelData(obj)
    },
    getSortTable (column, prop, order) { // 主页的列表排序
      let sort = {}
      if (column && column.order === 'ascending') {
        sort = {'sort': 'checkInTime,ASC'} // 升序排序
      } else if (column && column.order === 'descending') {
        sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
      } else {
        return
      }
      this.sortParm = sort
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...{size: this.tableSize || 10, page: 0}, ...sort, ...param}
      this.getTableData(handlesize)
    },
    asideSort (column, prop, order) { // 侧拉框的列表排序
      let sort = {}
      if (column && column.order === 'ascending') {
        sort = {'sort': 'checkInTime,ASC'} // 升序排序
      } else if (column && column.order === 'descending') {
        sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
      } else {
        return
      }
      this.asideSortParm = sort
      let param = this.getQueryParam(this.modalRule)
      const handlesize = {...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...sort, ...param}
      this.getModelData(handlesize)
    },
    toggleAsideTab () {
      // 切换侧栏tab
      this.asideTab.display = !this.asideTab.display
      // 宽度慢慢展现
      if (document.body.clientWidth < 1640) {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
      } else {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
      }
      // 隐藏掉边框
      // this.$refs.toggleTab.style.right = this.asideTab.display ? '-218px' : '-218px'
      // 三角号旋转
      this.asideTab.rotateDeg = this.asideTab.display ? 'rotate(-90deg)' : 'rotate(90deg)'
      if (this.asideTab.display) {
        this.toggleGloableModal(true)
        if (!this.getCachedOptions('ListAll')) {
          setTimeout(() => {
            let param = this.getQueryParam(this.modalRule)
            let initTableParm = {...param, ...{page: 0, size: this.pageUseParam.pageSizeNum || 10}, ...{site: this.defaultOption}}
            this.getModelData(initTableParm) // 初始化表格
          }, 10)
        } else {
          this.initAsideInputVal()
        }
      } else {
        this.toggleGloableModal(false)
      }
    },
    additionalTask () {
      // 打开追加任务弹窗
      this.addTaskInfo.flag = true
    },
    addTask () {
      // 追加任务
      let {licensePlateNumber} = this.addTaskRule.model
      if (!licensePlateNumber) {
        return false
      }
      this.$confirm(this.$t('ViBorder.PI.isConfirmAdd'), {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        type: 'warning'
      }).then(() => {
        Axios._addedTask({site: localStorage.piSite, licensePlateNumber}).then(res => {
          if (res.data.flag) {
            // 成功 可以追加任务
            this.addTaskInfo.flag = false
            let option = this.getQueryParam(this.formRule)
            this.getTableData(option)
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.PI.addSuccessfully'),
              type: 'success',
              offset: this.notifyOffset
            })
          }
        }).catch(err => {
          console.log('err', err)
        })
      }).catch(() => {})
    },
    cancelTask () {
      // 取消任务
      this.addTaskInfo.flag = false
      this.addTaskRule.model = {}
      this.addTaskInput[0].models = ''
    }
  },
  watch: {
    'asideTab.display': {
      handler (newName, oldName) {
        if (document.getElementsByClassName('fix-tab')[0]) {
          var key = document.getElementsByClassName('fix-tab')[0].getElementsByClassName('el-range-input')
          var all = document.getElementsByClassName('el-range-input')
          if (newName) {
            for (let i = 0; i < all.length; i++) {
              all[i].setAttribute('tabindex', -1)
            }
            // 历史在检列表显示时按下tab键可以激活日期组件
            for (let i = 0; i < key.length; i++) {
              key[i].setAttribute('tabindex', i + 1)
            }
          } else {
            for (let i = 0; i < all.length; i++) {
              all[i].setAttribute('tabindex', i + 1)
            }
            // 历史在检列表隐藏时按下tab键不激活日期组件
            for (let i = 0; i < key.length; i++) {
              key[i].setAttribute('tabindex', -1)
            }
          }
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';
#pi-index-page {
  @extend .extend-bar;
  .home-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
        .search-form-input {
          z-index: 1;
        }
      }
      .panel-L {
        @extend .extend-panel-L;
        .el-switch__label {
          font-size: $texts;
          font-weight: bold;
        }
      }
    }
  }
  .fix-box {
    position: fixed;
    z-index: 25;
    right: -217px;
    top: calc(50% - 120px);
    .fix-tab {
      @include flex();
      height: 250px;
      .fix-tab-title {
        left: -96px;
        width: 280px;
        height: 40px;
        position: relative;
        cursor: pointer;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        background:rgba(44, 166, 204, 0.8);
        @include flex();
        transform: rotate(-90deg);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .iconfont {
          transform: rotate(90deg);
          margin-left: 10px;
        }
        .tab-text {
          display: inline-block;
          max-width: 246px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .fix-tab-container {
        background: $white;
        border: 1px solid #ccc;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
        position: relative;
        overflow: hidden;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -o-transition: width 0.6s;
        transition: width 0.6s;
        width: 0;
        left: -217px;
        height: 920px;
        border-radius: 6px;
        .up-down-container {
          padding: 10px;
          .tableComp {
            @extend .extend-table-tr-th-style;
            // height: 590px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1640px) { // 小屏
    .fix-box {
      .fix-tab {
        .fix-tab-container {
          height: 730px;
        }
        .exportFor {
          margin-top: 9px;
        }
      }
    }
  }
  #dialog {
    .el-dialog__header {
      padding: 20px 20px 10px;
      width: auto;
      margin-bottom: auto;
    }
    .el-dialog__body {
      padding: 30px 20px;
      .el-form {
        .el-form-item {
          margin-bottom: 20px;
          width: 100%;
          .el-form-item__label {
            text-align: left;
          }
          .el-form-item__error {
            text-align: left;
          }
        }
        .search-form-btn {
          text-align: right;
        }
      }
    }
  }
}
</style>
