<template>
  <div id='pi-operationtunnel' v-bar>
    <div class="dc-M">
      <!-- 左侧panel -->
      <div class="table-info">
        <!-- 基础信息栏目开始 -->
        <div class="panel">
          <panelTitle :panelTitleInit="panelTitle.BI"></panelTitle>
          <div class="left-bar" v-bar>
            <div>
              <tableForm :searchIpt="inputItem" :searchFunc="hasBtn = false" :formRule='formRule'></tableForm>
            </div>
          </div>
        </div>
        <!-- 基础信息栏结束 -->
        <!-- 信息对比栏开始 -->
        <div class="panel" :class="!overRun ? 'panel-middle' : ''">
          <panelTitle :panelTitleInit="panelTitle.IC">
            <div v-if="isShowOpenTitle">
              <a href="javascript: void(0);" class="analyze_image" slot="reference" @click="isShowIPS">{{$t('ViBorder.businessLogicCommon.analyzeImage')}}</a>
            </div>
          </panelTitle>
          <div class="left-bar" v-bar>
            <div class="tableForm">
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                <el-form-item v-if="overRun" prop="delivery">
                  <!-- 驶入通道和离开通道时间 -->
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')">{{$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.enterAndLeaveTime}}</span>
                      <div class="leaving-time common-img" @click="mediaPlay(true)" :title="$t('ViBorder.businessLogicCommon.videoTitle')"></div>
                  </div>
                </el-form-item>
                <el-form-item prop="lpnFront">
                  <!-- lpn(Front)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnFront')">{{$t('ViBorder.businessLogicCommon.lpnFront')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumber}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="noPictrueTips('lpnImageFront')">
                      <el-popover placement="left" :disabled="this.buttonImageData.lpnImageFront.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageFront" :key="index">
                            <img :src="item" class="pi-operationimg">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-front common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="overRun">
                  <!-- lpn(back)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lpnBack')">{{$t('ViBorder.businessLogicCommon.lpnBack')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.licensePlateNumberBack}}</span>
                    <!-- lpn（back）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div class="lpn-front" @click="noPictrueTips('lpnImageBackcontent')">
                      <el-popover placement="left" :disabled="this.buttonImageData.lpnImageBackcontent.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.lpnImageBackcontent" :key="index">
                            <img :src="buttonImageData.lpnImageBackcontent[0]" class="pi-operationimg">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="lpn-back common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.lprBackTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="overRun">
                  <!-- lpn(Front)鼠标放上去会有提示 -->
                  <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.containerNo')">{{$t('ViBorder.businessLogicCommon.containerNo')}}</label>
                  <div class="data-panel">
                    <span>{{ruleForm.containerNumber}}</span>
                    <!-- lpn（front）后面的图片按钮，点击后会展示图片，没有图片信息弹出提示框 -->
                    <div  @click="noPictrueTips('containerImagedata')">
                      <el-popover placement="left" :disabled="this.buttonImageData.containerImagedata.length > 0 ?  false : true" width="500" trigger="click">
                        <el-carousel trigger="click" :autoplay="imagePlay">
                          <el-carousel-item v-for="(item, index) in buttonImageData.containerImagedata" :key="index">
                            <img :src="item" class="pi-operationimg">
                          </el-carousel-item>
                        </el-carousel>
                        <div class="container common-img" slot="reference" :title="$t('ViBorder.businessLogicCommon.containerImgTitle')"></div>
                      </el-popover>
                    </div>
                  </div>
                </el-form-item>
                <el-form-item v-if="overRun" prop="resource">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.lwh')">{{$t('ViBorder.businessLogicCommon.lwh')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 长宽高，当超过设定的值得时候会显示红色 -->
                    <template v-if="ruleForm.LWH.vehicleLength || ruleForm.LWH.vehicleWidth || ruleForm.LWH.vehicleHeight">
                      <span v-for="(item, index) in ruleForm.LWH" :class="ruleForm.LWH[index] - ruleForm.lwhStatus[index] > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item v-if="overRun" prop="desc">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.totalWeight')">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 总重量，当值超过设定值得时候会显示红色边框 -->
                     <span v-if="ruleForm.totalWeight.totalWeight" class="border-style" :class="ruleForm.totalWeight.totalWeight - ruleForm.totalWeight.weightStatus > 0 ? 'danger-border' : ''">{{ruleForm.totalWeight.totalWeight}}</span>
                  </div>
                </el-form-item>
                <el-form-item v-if="overRun" prop="desc">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.axleWeight')">{{$t('ViBorder.businessLogicCommon.axleWeight')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.axleWeight">
                      <span v-for="(item, index) in ruleForm.axleWeight" :class="item - ruleForm.axleWeightstatus > 0 ? 'danger-border' : ''" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item v-if="overRun" prop="desc">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.wheelBase')">{{$t('ViBorder.businessLogicCommon.wheelBase')}}</label>
                  <div class="data-panel statusStart">
                    <!-- 轴重当轴重的值大于设定的值得时候会显示红色边框 -->
                    <template v-if="ruleForm.wheelbase">
                      <span v-for="(item, index) in ruleForm.wheelbase" class="border-style" :key="index"><span v-if="item">{{item}}</span></span>
                    </template>
                  </div>
                </el-form-item>
                <el-form-item prop="dataComparisonConclusion">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.dcConclusion')">{{$t('ViBorder.businessLogicCommon.dcConclusion')}}</label>
                  <div class="data-panel">
                    <span :class="isRedColor ? 'text-color' : ''">{{ruleForm.conclusionType}}</span>
                  </div>
                </el-form-item>
                <el-form-item prop="dataComparisonConclusion">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.inspectionDcRemark')">{{$t('ViBorder.businessLogicCommon.inspectionDcRemark')}}</label>
                  <div class="data-panel">
                    <div v-html="ruleForm.conclusionRemark" class="remark"></div>
                  </div>
                </el-form-item>
              </el-form>
              <!-- <tableForm v-if="outVehicleInfo.isOutVehicle" :searchIpt="outVehicleInfo.inputItem" :searchFunc="hasBtn = false" :formRule='outVehicleInfo.formRule'></tableForm> -->
            </div>
          </div>
        </div>
        <!-- 信息比对栏结束 -->
        <!-- 人工查验信息 -->
        <div class="panel panel-bottom">
          <panelTitle :panelTitleInit="panelTitle.VQ"></panelTitle>
          <div class="left-bar" v-bar>
            <div class="tableForm">
              <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
                <el-form-item prop="dataComparisonConclusion" class="upload">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.attachment')">{{$t('ViBorder.businessLogicCommon.attachment')}}</label>
                  <div class="data-panel">
                    <span @click="upFile" :title="$t('ViBorder.businessLogicCommon.attachment')"><i class="iconfont">&#xe60b;</i></span>
                  </div>
                </el-form-item>
                <el-form-item prop="remark">
                    <label class="el-form-item__label" :title="$t('ViBorder.businessLogicCommon.remark')">{{$t('ViBorder.businessLogicCommon.remark')}}</label>
                  <div class="data-panel">
                    <el-input type="textarea" :placeholder="$t('ViBorder.businessLogicCommon.remark')" resize="none" maxlength="500"  v-model="ruleForm.remark"></el-input>
                  </div>
                </el-form-item>
                </el-form>
            </div>
          </div>
          <div class="btn-group">
            <el-button type="success" @click="submit('PASS')">{{$t('ViBorder.businessLogicCommon.noSuspicion')}}</el-button>
            <el-button type="danger" @click="submit('SEIZED')">{{$t('ViBorder.businessLogicCommon.seized')}}</el-button>
            <el-button type="warning" @click="submit('TOCUSTOMS')">{{$t('ViBorder.businessLogicCommon.toCustoms')}}</el-button>
            <el-button class="buttonStyle" @click="cancel">{{$t('ViBorder.common.back')}}</el-button>
          </div>
        </div>
      </div>
      <!-- 视频图层 -->
      <div class="audio-one" v-if="!twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div v-for="(item, index) in audioData.videoData" :key="index">
            <div class="drive-in">{{singleVideoDrive}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="item" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <div class="audio-two" v-if="twoVideoShow">
        <Dialog :modalData="audioData.audioDialogData" v-if="audioData.videoSoure">
          <div>
            <div class="drive-in">{{videoDriveIn}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[0]" type="video/ogg"/>
            </video>
          </div>
          <div>
            <div class="drive-out">{{videoDriveOut}}</div>
            <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
              <source :src="audioData.videoData[1]" type="video/ogg"/>
            </video>
          </div>
        </Dialog>
      </div>
      <!-- 文件上传图层 -->
      <div class="upload-file">
        <Dialog :modalData="uploadFileData">
          <div class="upload" v-loading="uploadFileLoading" element-loading-background="rgba(255, 255, 255, 0.8)">
            <div class="upload-content">
              <el-upload
                name='piFiles'
                class="content-file"
                ref="upload"
                accept
                :data='uploadFile.data'
                :action="uploadFile.src"
                :on-remove="handleRemove"
                :before-remove='beforeRemove'
                :file-list="uploadFile.fileList"
                :on-success="uploadFileSuccess"
                :on-error="fileFail"
                :with-credentials='uploadFile.cookie'
                :headers='uploadFile.headers'
                multiple
                list-type="picture"
                :show-file-list='uploadFile.showFileList'
                :on-exceed="handleExceed"
                :before-upload="beforeAvatarUpload"
                auto-upload>
                <el-button slot="trigger" size="small">{{$t('ViBorder.businessLogicCommon.chooseFiles')}}</el-button>
              </el-upload>
            </div>
            <div>
              <swipe :listData="swipe.fileList" :propOption="swipe.propOption" @deleteAttach='deleteAttach' v-if="swipeShow"></swipe>
            </div>
          </div>
        </Dialog>
      </div>
      <!-- 右侧图像 -->
      <div class="right">
        <el-tabs type="border-card">
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.asycudaTab')" v-if="isShowTabAsycuda">
            <div class="single-img">
              <div class="not-scan-img">
                {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.otherSystemsTab')">
            <div class="single-img">
              <otherSystem :conclusionList="conclusionList"></otherSystem>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>
<script>
import initConfirmData from '@/components/common/commonData'
import swipe from '@/components/common/swipe'
import Axios from '@/api/PI/pi.js'
import {splitArr} from '@/lib/index.js'
import {openImageAndAnalysisInfoInViProbe, closeImageInViProbe, getNewMarks, uploadImageAnalysisInfo, getNewMarksSuccess, markNew, uploadImageAnalysisSuccess, reconnectToViProbeFailedNew} from '@/lib/viProbe/viProbeForIns.js'
import {viProbeWsCallback} from '@/lib/viProbe/viProbeUtil'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import { connect, sendMessage } from '@/components/common/ws.js'
export default {
  name: 'comparison',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      uploadFileLoading: false,
      fileSum: 0,
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      video: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.videoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.recheckFolder}`,
      DCclient: '', // 用于websocketd
      videoSoure: false, // 用于改变视频的地址
      overRun: true,
      overFilesNum: true, // 文件上传超过十个提示标志位
      outVehicleInfo: {
        // 是否出口超限货车
        isOutVehicle: false,
        inputItem: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'licensePlateNumber'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.dcConclusion'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'conclusionType'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.inspectionDcRemark'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'conclusionRemark'
          }
        ],
        formRule: { // 表单验证和存放数据 model=> post到后台的数据
          refName: 'middleInfo',
          model: {},
          rule: {}
        }
      },
      swipeShow: false,
      swipe: {
        fileList: [
        ],
        propOption: {
          propId: 1538215353132,
          deleteFlag: true
        }
      },
      fileListNumber: 0,
      uploadFile: {
        fileList: [
        ],
        src: `${window.config.baseUrl}${window.config.projectName}/api/pi/uploadPiFiles`,
        maxSize: 100,
        headers: {
          'X-APP-UACCOUNT': sessionStorage.getItem('account'),
          'X-CSRF-TOKEN': localStorage.getItem('Xcsrftoken')
        },
        data: {},
        showFileList: false,
        cookie: true
      },
      paramData: '', // 存放请求回来的数据
      imagePlay: false,
      clearInputItemData: '', // 存放请求来的数据用于后期提交参数使用
      btnText: this.$t('ViBorder.businessLogicCommon.bind'), // '绑定'按钮的国际化字段
      CurrentChageFlag: false, // dialog分页切换标志位
      uploadFileData: {
        flag: false,
        title: this.$t('ViBorder.businessLogicCommon.attachment'),
        resetModal: this.upLoadFileModal
      },
      audioData: { // 与视频相关
        videoSoure: false, // 用于改变视频的地址
        checkinVideoData: { // 存放登记时候的视屏会赋值到dialogData
          checkInVideoPathIn: '',
          checkInVideoPathOut: '',
          measureVideoPathIn: '',
          measureVideoPathOut: ''
        },
        videoData: [],
        audioDialogData: {
          flag: false,
          // videoData: [],
          title: this.$t('ViBorder.businessLogicCommon.checkInVideoTitle'),
          resetModal: this.resetVideoModal
        }
      },
      panelTitle: { // 主页面左侧标题
        BI: {
          title: this.$t('ViBorder.businessLogicCommon.checkInfo')
        },
        IC: {
          title: this.$t('ViBorder.businessLogicCommon.infoCom'),
          flag: true,
          isShow: true
        },
        VQ: {
          title: this.$t('ViBorder.PI.infManualCheck')
        }

      },
      conclusionList: [],
      buttonImageData: { // 三个图片按钮和一个“分析图像”的地址信息
        scanPath: '',
        lpnImageFront: [],
        lpnImageBackcontent: [],
        containerImagedata: []
      },
      tabInfo: { // tab标签页数据
        isShowScanImg: false,
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [ // 扫描文件viewer数据
        ],
        singleImgInfo: {}
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        model: {},
        rule: {
          logistics: [ // Need Logistics Supervision校验
            { required: false, message: this.$t('ViBorder.businessLogicCommon.logisticsWarn'), trigger: 'blur' }
            // { min: 1, max: 50, message: 'Need Logistics Supervision 长度不能超过50位', trigger: 'blur' }
          ]
        }
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'onlyRead',
          models: '',
          hasBtn: true,
          hasClearBtn: true, // 当有一个不需要必填验证的按钮
          ruleProp: 'checkInTime',
          btnOperate: {
            btnText: '',
            fn: this.mediaPlay
          }
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessTypeI18N'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'rfidNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark',
          content: '',
          resize: 'none'
        }
      ],
      needInsertData: {
        from: {
          getLabel: this.$t('ViBorder.businessLogicCommon.from'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'originPortCode'
        },
        trailer: {
          getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'trailer'
        }
      },
      needAndContent: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'logistics'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.to'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'destPortI18N'
        }
      ],
      rules: {
        iptLeft: [
          { required: true, message: this.$t('ViBorder.businessLogicCommon.containerNoWarn'), trigger: 'blur' },
          { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.containerLength'), trigger: 'blur' },
          { pattern: /^[a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.containerOnly') }
        ],
        iptRight: [
          { required: true, message: this.$t('ViBorder.businessLogicCommon.containerNoWarn'), trigger: 'blur' },
          { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.containerLength'), trigger: 'blur' },
          { pattern: /^[a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.containerOnly') }
        ]
      },
      videoDriveIn: this.$t('ViBorder.businessLogicCommon.enterVideo'), // 驶入通道视频title
      videoDriveOut: this.$t('ViBorder.businessLogicCommon.leaveVideo'), // 驶离通道视频title
      singleVideoDrive: '', // 当只有一个视频的的title
      twoVideoShow: false,
      videoPathIn: '', // 检入的视频地址
      videoPathOut: '', // 检出的视频地址
      ruleForm: {
        checkInVoVideoPath: '', // 测量进入通道的视频
        measureVoVieoPath: '', // 测量数据的驶离通道的视频
        containerNumber: '', // 集装箱号
        iptLeft: '',
        iptRight: '',
        licensePlateNumberBack: '', // 后车牌号
        delivery: false,
        type: [],
        resource: '',
        desc: '',
        licensePlateNumber: '', // 前车牌号
        enterAndLeaveTime: '',
        remark: '',
        basicInfo: {},
        lwhStatus: {
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        LWH: {
          vehicleLength: '',
          vehicleWidth: '',
          vehicleHeight: ''
        },
        totalWeight: {
          weightStatus: '',
          totalWeight: ''
        },
        axleWeightstatus: '', // 轴重
        axleWeight: [],
        wheelbase: [],
        conclusionType: '', // 数据比对类型
        conclusionRemark: '' // 数据比对备注
      },
      isShowTabAsycuda: ``,
      viProbeInfo: {
        name: '',
        path: '',
        viprobeShowPath: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.niiFolder}`,
        getNewMarksSuccess: '',
        markNew: [],
        errorCode: 0,
        markBase64: '',
        getMarkBase64Success: '',
        uploadImageAnalysisSuccess: ''
      },
      isRedColor: false,
      pageLoading: '',
      dcSuspicionMark: '', // 比对是否画标记
      isShowOpenTitle: false,
      isOperateBtn: true,
      message: '',
      middleRemark: ''
    }
  },
  created () {
    this.isShowMenu = false
    // this.clearInputItemData = JSON.parse(JSON.stringify(this.inputItem))
    // this.clearInputItemData[0].btnOperate.fn = this.mediaPlay
    let initPageData = sessionStorage.getItem('vehicleId')
    let site = localStorage.getItem('piSite')
    let params = {
      vehicleId: initPageData,
      site: site
    }
    let rules = [
      {
        key: 'licensePlateNumberBack',
        bool: false
      },
      {
        key: 'remark',
        bool: false
      }
    ]
    Object.assign(this.rules, this.$rules(rules))
    Object.assign(this.formRule.rule, this.$rules(['destPortI18N']))
    this.initPageData(params)
  },
  destroyed () {
    this.$store.commit({
      type: 'releaseBtn',
      releaseCloseBtn: false
    })
    this.closeViewingTool()
  },
  methods: {
    closeViewingTool () {
      if (this.isShowOpenTitle) {
        closeImageInViProbe(this.viProbeInfo.name)
      }
    },
    prompt (param) {
      this.$confirm(`${param}`, {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        closeOnClickModal: false,
        closeOnPressEscape: false,
        showCancelButton: false,
        type: 'warning'
      }).then().catch(() => { // 取消操作的时候就不用给提示了
      })
    },
    initPageData (val) {
      Axios._openPiTask(val).then(res => {
        if (res.data.flag) {
          this.paramData = JSON.parse(JSON.stringify(res)) // 深复制一个纯净的数据，用于后期提交时候的参数
          if (this.paramData.data.result.checkInVO) {
            this.uploadFile.data.vehicleId = this.paramData.data.result.checkInVO.vehicleCheckIn.vehicleId
          }
          /**
           * 1: 进口或转关起始
           * 2: 出口
           * 3：转关到达
           */
          // 默认inputItem是出口
          let result = res.data.result
          // 进口 货车（商品车）、空车
          if (result.checkInVO && result.checkInVO.businessType === '1') {
            let {left, right} = splitArr(this.inputItem, 4)
            this.inputItem = [...left, ...this.needAndContent, ...right]
            let arr = splitArr(this.inputItem, 7)
            this.inputItem = [...arr.left, ...[this.needInsertData.trailer], ...arr.right]
          }
          //  出口
          if (result.checkInVO && result.checkInVO.businessType === '2') {
            // 超限车
            if (result.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') {
              //  如果是超限货车 只要中间的比对结论
              // this.overRun = false
            } else if (result.checkInVO.vehicleCheckIn.vehicleType === 'TRUCK' || result.checkInVO.vehicleCheckIn.vehicleType === 'COMMODITYCAR') {
              // 货车商品车
            }
          }
          // 转关到达
          if (result.checkInVO && result.checkInVO.businessType === '3') {
            if (result.checkInVO.vehicleCheckIn && result.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') {
              // this.overRun = false
            }
            this.inputItem.unshift(this.needInsertData.from)
            if (result.checkInVO.vehicleCheckIn.vehicleType === 'OVERLIMITTRUCK') {
              //  如果是超限货车 只要中间的比对结论
              // this.overRun = false
            }
          }
          // 如果是空车 不分进出口 都不显示风险等级 不显示asycuda
          if (result.checkInVO && result.checkInVO.vehicleCheckIn.vehicleType === 'EMPTYTRUCK') {
            this.inputItem.forEach((item, index) => {
              if (item.ruleProp === 'riskLevel') {
                this.inputItem.splice(index, 1)
              }
            })
            this.isShowTabAsycuda = false
          } else {
            this.isShowTabAsycuda = true
          }
          let checkInVehicleData = ''
          let {jointConfirm} = result.checkInVO
          // jointConfirm && otherHoverData(jointConfirm, this.conclusionList)
          this.conclusionList = jointConfirm ? this.$otherHoverData(jointConfirm) : []
          checkInVehicleData = result.checkInVO && result.checkInVO.vehicleCheckIn
          let measureVOData = ''
          if (result.checkInVO) {
            if (result.checkInVO.scannedDocMap) { // 对扫描文件进行赋值
              this.tabInfo.pageImg.length = 0
              for (let item in result.checkInVO.scannedDocMap) {
                let scannedNumber = {}
                scannedNumber.title = this.$t(result.checkInVO.scannedDocMap[item].docTypeI18n.key)
                scannedNumber.url = result.checkInVO.scannedDocMap[item].docPath.split(',').map(e => {
                  return `${this.manifestFolder}${e}`
                })
                this.tabInfo.pageImg.push(scannedNumber)
              }
            }
            this.videoPathIn = (result.checkInVO.videoPathIn && `${this.video}${result.checkInVO.videoPathIn}`) || '' // 对视频地址赋值
            this.videoPathOut = (result.checkInVO.videoPathOut && `${this.video}${result.checkInVO.videoPathOut}`) || '' // 对视频地址赋值
            this.baseInformation(result, checkInVehicleData)
          } else {
            this.audioData.checkinVideoData.checkInVideoPathIn = ''
            this.audioData.checkinVideoData.checkInVideoPathOut = ''
          }
          measureVOData = result.measureVO
          this.dcSuspicionMark = result.suspicionMark
          // 是否显示分析图片
          if (measureVOData && measureVOData.vehicleXray) {
            let savePath = measureVOData.vehicleXray.savePath && measureVOData.vehicleXray.savePath.split(',')[0] // 获取扫描图路径
            let path = savePath && savePath.substring(0, savePath.lastIndexOf('/')) // 截取掉图片名
            this.viProbeInfo.name = result.measureVO.vehicleXray.scanId
            this.viProbeInfo.path = path
            this.viProbeInfo.savePath = result.measureVO.vehicleXray.savePath
            if (measureVOData.vehicleXray.scanId && (savePath && savePath.length > 0)) {
              this.isShowOpenTitle = true
              this.isOperateBtn = false
              this.showPhysicalCheckTaskDetail({name: measureVOData.vehicleXray.scanId, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
              this.rewriteCallBack()
            }
          }
          let checkInLprPhotoPath = checkInVehicleData && checkInVehicleData.lprPhotoPath && `${this.lprFolder}${checkInVehicleData.lprPhotoPath}`
          let measureLprPhotoPath = measureVOData && measureVOData.lprPhotoPath && `${this.lprFolder}${measureVOData.lprPhotoPath}`
          let lprPhotoPathBack = measureVOData && measureVOData.lprPhotoPathBack && `${this.lprFolder}${measureVOData.lprPhotoPathBack}`
          this.buttonImageData.lpnImageFront.length = 0 // 清空前车牌号数组对前车牌号赋值
          if (checkInLprPhotoPath) {
            this.buttonImageData.lpnImageFront.push(checkInLprPhotoPath)
          }
          this.buttonImageData.lpnImageBackcontent.length = 0
          if (lprPhotoPathBack) {
            this.buttonImageData.lpnImageBackcontent.push(lprPhotoPathBack)
          }
          if (measureLprPhotoPath) {
            this.buttonImageData.lpnImageFront.push(measureLprPhotoPath)
          }
          if (measureVOData && measureVOData.ccrPhoto) { // 对集装箱号图片按钮进行图片地址赋值
            let ccrPhotoArry = measureVOData.ccrPhoto.split(',')
            this.buttonImageData.containerImagedata = ccrPhotoArry.map(e => {
              return `${this.ccrFolder}${e}`
            })
          }
          this.ruleForm.checkInVoVideoPath = measureVOData.videoPathIn && `${this.video}${measureVOData.videoPathIn}` // 对mearsur视频地址进行赋值
          this.ruleForm.measureVoVieoPath = measureVOData.videoPathOut && `${this.video}${measureVOData.videoPathOut}` // 对mearsue视频地址进行赋值
          this.ruleForm.licensePlateNumberBack = measureVOData && measureVOData.vehicleMeasure && measureVOData.vehicleMeasure.licensePlateNumberBack // 后车牌号赋值
          // tab前车牌数据
          if (result.checkInVO.vehicleLpr) {
            this.tabInfo.singleImgInfo = {
              left: result.checkInVO.vehicleLpr.amendResult,
              right: this.$formatDateTime(result.checkInVO.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')),
              src: result.checkInVO.vehicleLpr.photoPath && `${this.lprFolder}${result.checkInVO.vehicleLpr.photoPath}`
            }
          }
          this.informationComparison(result)
          if (result.dcConclusion) {
            if (result.dcConclusion.conclusionType.value === 'SUSPICION') {
              this.isRedColor = true
            } else {
              this.isRedColor = false
            }
          }
        } else {
          this.closeLoading()
        }
      }).catch(err => {
        this.closeLoading()
        console.log('err', err)
      })
    },
    baseInformation (result, checkInVehicleData) { // 基本信息的渲染方法
      this.inputItem.forEach(e => {
        switch (e.ruleProp) {
          case 'checkInTime':
            e.models = checkInVehicleData.checkInTime && this.$formatDateTime(checkInVehicleData.checkInTime, this.$t('ViBorder.common.formatDate'))
            break
          case 'businessTypeI18N':case 'vehicleTypeI18N':case 'destPortI18N':
            e.models = checkInVehicleData[e.ruleProp] && this.$t(checkInVehicleData[e.ruleProp].key)
            break
          case 'entryTunnel':case 'xrayScan':case 'trailer':case 'logistics':
            if (checkInVehicleData[e.ruleProp]) {
              e.models = this.$t('ViBorder.common.yes')
            } else {
              e.models = this.$t('ViBorder.common.error')
            }
            break
          case 'riskLevel':
            if (checkInVehicleData.riskLevel) {
              if (checkInVehicleData.riskLevel.value === 'GREEN') {
                e.models = '2'
              }
              if (checkInVehicleData.riskLevel.value === 'YELLOW') {
                e.models = '1'
              }
              if (checkInVehicleData.riskLevel.value === 'RED') {
                e.models = '0'
              }
            }
            break
          case 'fileScanAmount':case 'remark':case 'originPortCode':case 'declarationNumber':case 'asycudaCode':case 'rfidNumber':case 'licensePlateNumberBack':
            e.models = checkInVehicleData[e.ruleProp]
            break
        }
      })
    },
    informationComparison (result) {
      this.outVehicleInfo.inputItem.forEach(ele => {
        if (ele.ruleProp === 'licensePlateNumber') {
          ele.models = (result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure.licensePlateNumber) || (result.checkInVO.vehicleCheckIn && result.checkInVO.vehicleCheckIn.licensePlateNumber)
        } else if (ele.ruleProp === 'conclusionType') {
          if (result.dcConclusion) {
            ele.models = this.$t(result.dcConclusion.conclusionType.key)
            if (result.dcConclusion.conclusionType.value === 'SUSPICION') {
              ele.color = 'red'
            } else {
              ele.color = ''
            }
          }
        } else if (ele.ruleProp === 'conclusionRemark') {
          ele.models = result.dcConclusion && result.dcConclusion.conclusionRemark
        }
      })
      for (let item in this.ruleForm) {
        switch (item) {
          case 'containerNumber':
            this.ruleForm[item] = this.$_get(result, `measureVO.vehicleMeasure.${item}`, '')
            break
          case 'licensePlateNumber':
            this.ruleForm[item] = this.$_get(result, `checkInVO.vehicleCheckIn.${item}`, '')
            break
          case 'enterAndLeaveTime':
            let enterTunnelTime = this.$formatDateTime(this.$_get(result, `measureVO.vehicleMeasure.enterTunnelTime`, ''), this.$t('ViBorder.common.formatDate'))
            let leftTunnelTime = this.$formatDateTime(this.$_get(result, `measureVO.vehicleMeasure.leftTunnelTime`, ''), this.$t('ViBorder.common.formatDate'))
            if (enterTunnelTime && leftTunnelTime) {
              this.ruleForm[item] = `${enterTunnelTime} / ${leftTunnelTime}`
            } else if (enterTunnelTime) {
              this.ruleForm[item] = enterTunnelTime
            } else if (leftTunnelTime) {
              this.ruleForm[item] = leftTunnelTime
            }
            break
          case 'LWH':
            for (let vale in this.ruleForm.LWH) { // 对长宽高进行赋值
              this.ruleForm.LWH[vale] = result.measureVO.vehicleMeasure && result.measureVO.vehicleMeasure[vale]
            }
            break
          case 'lwhStatus': // 对长宽高的标准值进行赋值
            this.ruleForm[item].vehicleLength = this.$_get(result, `measureVO.validationInfos.LENGTH`, '')
            this.ruleForm[item].vehicleWidth = this.$_get(result, `measureVO.validationInfos.WIDTH`, '')
            this.ruleForm[item].vehicleHeight = this.$_get(result, `measureVO.validationInfos.HEIGHT`, '')
            break
          case 'totalWeight':
            this.ruleForm[item].totalWeight = this.$_get(result, `measureVO.vehicleMeasure.vehicleWeight`, '')
            this.ruleForm[item].weightStatus = this.$_get(result, `measureVO.validationInfos.TOTALWEIGHT`, '')
            break
          case 'axleWeight':
            this.ruleForm[item] = result.measureVO.axelWeight && result.measureVO.axelWeight.split(',') // 对轴重进行赋值
            // this.ruleForm[item] = this.ruleForm[item] && this.ruleForm[item].map(function (item) {
            //   return Number(item)
            // })
            break
          case 'wheelbase':
            this.ruleForm[item] = result.measureVO.axelDistance && result.measureVO.axelDistance.split(',')
            break
          case 'axleWeightstatus':
            this.ruleForm[item] = this.$_get(result, `measureVO.validationInfos.AXLEWEIGHT`, '')
            break
          case 'conclusionType':
            this.ruleForm[item] = this.$t(this.$_get(result, `dcConclusion.conclusionType.key`, ''))
            break
          case 'conclusionRemark':
            this.ruleForm[item] = this.$t(this.$_get(result, `dcConclusion.conclusionRemark`, ''))
            break
        }
      }
    },
    cancel () { // 取消(解锁)按钮的方法
      let scb = () => {
        let params = {
          vehicleId: this.paramData.data.result.checkInVO.vehicleCheckIn.vehicleId
        }
        Axios._unLockPiTask(params).then(res => {
          if (res.data.flag) {
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
              type: 'success',
              offset: this.notifyOffset
            })
            this.$router.push({
              path: '/pi/index'
            })
            if (this.isShowOpenTitle) {
              closeImageInViProbe(this.viProbeInfo.name)
            }
          }
        }).catch(err => {
          console.log('err', err)
          this.$notify.error({
            title: this.$t('ViBorder.common.dataError'),
            message: this.$t('ViBorder.businessLogicCommon.operationFailed'),
            offset: this.notifyOffset
          })
        })
      }
      this.confirmModal({msg: this.$t('ViBorder.businessLogicCommon.confirmCancellation'), scb: scb})
      // if (this.$store.state.isReleaseCloseBtn || this.isOperateBtn) {
      // } else {
      //   this.$notify({
      //     title: this.$t('ViBorder.common.warning'),
      //     message: this.$t('ViBorder.businessLogicCommon.pleaseWait'),
      //     type: 'warning',
      //     offset: this.notifyOffset
      //   })
      //   return false
      // }
    },
    async submit (conclusion) { // 有嫌疑无嫌疑的时候使用的接口
      try {
        let res = await Axios._canSubmit({vehicleId: sessionStorage.vehicleId})
        if (!res.data.flag) {
          return false
        }
      } catch (error) {
        return false
      }
      let msg = ''
      let str = ''
      this.middleRemark = this.ruleForm.remark
      if (conclusion === 'PASS') {
        str = `${this.$t('ViBorder.businessLogicCommon.noSuspicion')}\n${this.ruleForm.remark}`
        msg = this.$t('ViBorder.businessLogicCommon.confirmSubmitNoSuspicion')
      } else if (conclusion === 'SEIZED') {
        str = `${this.$t('ViBorder.businessLogicCommon.seized')}\n${this.ruleForm.remark}`
        msg = this.$t('ViBorder.businessLogicCommon.confirmSized')
      } else if (conclusion === 'TOCUSTOMS') {
        let des = this.inputItem.find(e => {
          if (e.ruleProp === 'destPortI18N') {
            return e
          }
        })
        let destination = des.models ? des.models : ''
        str = `${this.$t('ViBorder.businessLogicCommon.toCustoms')} ${destination}\n${this.ruleForm.remark}`
        msg = this.$t('ViBorder.businessLogicCommon.confirmToCustoms')
      }
      if (str.length > 500) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'),
          offset: this.notifyOffset
        })
        return false
      }
      this.ruleForm.remark = str
      if (!this.isOperateBtn) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.message || this.$t('ViBorder.common.viProbe.pleaseOpenViProbe'),
          type: 'warning',
          offset: this.notifyOffset
        })
        let scb = () => {
          this.submitLogicInterface(conclusion, this.viProbeInfo.name)
          // this.openLoading()
        }
        this.confirmModal({msg, scb: scb})
        return false
      }
      if (this.viProbeInfo.name && this.viProbeInfo.savePath) {
        // let scb = () => {
        //   this.openLoading()
        // }
        this.submitTask({conclusion, name: this.viProbeInfo.name, path: `${this.viProbeInfo.viprobeShowPath}${this.viProbeInfo.path}`})
        // this.confirmModal({msg: this.$t('ViBorder.businessLogicCommon.confirmSubmit'), scb: scb})
      } else {
        let scb = () => {
          this.submitLogicInterface(conclusion, this.viProbeInfo.name)
          // this.openLoading()
        }
        this.confirmModal({msg, scb: scb})
      }
    },
    submitLogicInterface (conclusion, name) { // 有嫌疑无嫌疑的后端服务接口
      this.$refs.ruleForm.validate((valid, object) => {
        if (valid) {
          let params = {
            vehicleId: this.paramData.data.result.checkInVO.vehicleCheckIn.vehicleId,
            licensePlateNumber: this.ruleForm.licensePlateNumber,
            licensePlateNumberBack: this.ruleForm.licensePlateNumberBack, // 后车牌号
            containerNumber: this.ruleForm.containerNumber,
            remark: this.ruleForm.remark.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' '),
            conclusionType: conclusion,
            businessType: this.paramData.data.result.checkInVO.businessType,
            logistics: this.paramData.data.result.checkInVO.vehicleCheckIn.logistics,
            originVehicleId: this.paramData.data.result.originVehicleId,
            direction: this.paramData.data.result.direction,
            suspicionMark: this.dcSuspicionMark || (this.viProbeInfo.markNew !== null && this.viProbeInfo.markNew.length > 0)
          }
          Axios._submitConclusion(params).then(res => {
            if (res.data.flag) {
              // this.submitUpload()
              this.$notify({
                title: this.$t('ViBorder.common.successfuly'),
                message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
                type: 'success',
                offset: this.notifyOffset
              })
              if (this.isShowOpenTitle) {
                closeImageInViProbe(name)
              }
              this.$router.push({
                path: '/pi/piDetailTunnel'
              })
            }
            this.closeLoading()
          }).catch(err => {
            console.log('err', err)
            // this.$notify.error({
            //   title: this.$t('ViBorder.common.dataError'),
            //   message: this.$t('ViBorder.businessLogicCommon.operationFailed')
            // })
            this.closeLoading()
          })
        } else {
          let param = ''
          if (object.licensePlateNumberBack) {
            param = object.licensePlateNumberBack[0].message
          } else if (object.iptLeft) {
            param = object.iptLeft[0].message
          } else {
            if (object.iptRight) {
              param = object.iptRight[0].message
            }
          }
          this.prompt(param)
        }
      })
    },
    upLoadFileModal () {
      this.swipeShow = false
      this.uploadFileData.flag = false
      this.swipe.fileList = []
    },
    resetVideoModal () {
      this.audioData.videoSoure = false
    },
    resetModal () { // 点×号关闭弹窗并且清空数据
      this.audioData.videoSoure = false
      this.$refs.modalForm.reset()
    },
    mediaPlay (measure) {
      this.audioData.videoData = []
      let fn = (a, b) => {
        this.singleVideoDrive = a || b ? (a ? this.$t('ViBorder.businessLogicCommon.enterVideo') : this.$t('ViBorder.businessLogicCommon.leaveVideo')) : ''
        a && this.audioData.videoData.push(a)
        b && this.audioData.videoData.push(b)
      }
      if (measure) {
        let {checkInVoVideoPath, measureVoVieoPath} = this.ruleForm
        this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.measureVideoTitle')
        fn(checkInVoVideoPath, measureVoVieoPath)
      } else {
        let {videoPathIn, videoPathOut} = this
        this.audioData.audioDialogData.title = this.$t('ViBorder.businessLogicCommon.checkInVideoTitle')
        fn(videoPathIn, videoPathOut)
      }
      let switchDialog = ''
      if (this.audioData.videoData.length === 2) {
        this.twoVideoShow = true
      } else if (this.audioData.videoData.length === 1) {
        this.twoVideoShow = false
      }
      if (this.audioData.videoData.length === 0) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
      } else {
        this.audioData.videoSoure = true
        this.audioData.audioDialogData.flag = true
      }
    },
    upFile () { // 控制上传文件的dialog弹窗的显示和隐藏
      this.swipe.fileList = []
      this.swipeShow = true
      let params = {
        vehicleId: this.paramData.data.result.checkInVO.vehicleCheckIn.vehicleId
      }
      this.uploadFileData.flag = true
      Axios._listPiFiles(params).then(res => {
        // this.swipe.fileList = []
        if (res.data.flag === true) {
          if (res.data.result) {
            let fileList = res.data.result.reverse()
            fileList.forEach(e => {
              let data = {}
              let type = this.fileType(e.attachmentPath)
              data.type = type
              data.src = `${this.fileServerUrl}${e.attachmentPath}`
              data.id = e.id
              let index = e.attachmentPath.split('/').length
              let arry = e.attachmentPath.split('/')
              data.name = arry[index - 1]
              this.swipe.fileList.push(data)
            })
          }
          // this.uploadFileData.flag = true
        }
      })
      // }
    },
    deleteAttach (val) {
      let param = {}
      param.id = val.id
      let scb = () => {
        Axios._deletePiFiles(param).then(res => {
          if (res.data.flag) {
            this.upFile() // 删除完在请求一下数据
            this.$notify({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.common.deleteSuccess'),
              type: 'success',
              offset: this.notifyOffset
            })
          }
        }).catch(() => {
        })
      }
      this.confirmModal({msg: this.$t('ViBorder.PI.sureDelete'), scb: scb})
    },
    beforeAvatarUpload (file) { // 文件上传之前对文件大小进行判断
      let fileState = true
      let fileUp = false
      let fileListLength = false
      this.fileListNumber++
      this.fileSum++
      this.uploadFileLoading = true
      let fileength = this.swipe.fileList.length + 1
      if (fileength <= 10 && this.fileListNumber <= 10) {
        fileListLength = true
      } else {
        this.uploadFileLoading = false
        if (this.overFilesNum) {
          this.$notify({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.PI.uploadFilesNum'),
            type: 'warning',
            offset: this.notifyOffset
          })
          let that = this
          this.overFilesNum = false
          setTimeout(function () { // 防止很多个提示框重叠显示
            that.overFilesNum = true
          }, 200)
        }
        this.fileSum--
      }
      this.swipe.fileList.forEach(e => {
        if (e.name === file.name) {
          fileState = false
          this.uploadFileLoading = false
          if (fileListLength) {
            if (this.overFilesNum) {
              this.$notify.warning({
                title: this.$t('ViBorder.common.warning'),
                message: this.$t('ViBorder.PI.fileUploaded'),
                offset: this.notifyOffset
              })
              let that = this
              this.overFilesNum = false
              setTimeout(function () { // 防止很多个提示框重叠显示
                that.overFilesNum = true
              }, 200)
            }
            // this.$notify.warning({
            //   title: this.$t('ViBorder.common.warning'),
            //   message: this.$t('ViBorder.PI.fileUploaded'),
            //   offset: this.notifyOffset
            // })
          }
          this.fileSum--
        }
      })
      // let fileength = this.swipe.fileList.length
      const isLt100M = file.size / 1024 / 1024 < this.uploadFile.maxSize
      if (!isLt100M) {
        this.uploadFileLoading = false
        this.$notify.error({
          title: this.$t('ViBorder.common.dataError'),
          message: this.$t('ViBorder.PI.avatarNotToBig'),
          offset: this.notifyOffset
        })
        this.fileSum--
      }
      let fileNumberLength = ''
      if (file.name.length < 50) { // 控制上传文件名字的长度不能超过100
        fileNumberLength = true
      } else {
        fileNumberLength = false
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.PI.fileOverLength'),
          type: 'warning',
          offset: this.notifyOffset
        })
      }
      if (fileState && isLt100M && fileListLength && fileNumberLength) {
        fileUp = true
      } else {
        fileUp = false
        this.uploadFileLoading = false
      }
      return fileUp
    },
    uploadFileSuccess (file, fileList) {
      let data = {}
      let type = this.fileType(fileList.name)
      data.name = fileList.name
      data.type = type
      data.src = fileList.response.result && `${this.fileServerUrl}${fileList.response.result[0].attachmentPath}`
      data.id = fileList.response.result && fileList.response.result[0].id
      // this.$set(this.swipe.fileList, fileength, data)
      this.swipe.fileList.push(data)
      this.fileListNumber = 0
      this.fileSum--
      this.uploadFileLoading = false
      // if (this.fileSum === 0) {
      //   this.uploadFileLoading = false
      // }
    },
    fileType (val) {
      let arry = val.split('.')
      let arryLength = arry.length
      let type = arry[arryLength - 1]
      switch (type) {
        case 'jpg':case 'png':case 'jpeg':case 'gif':case 'img':
          type = 'img'
          break
        case 'mp4':
          type = 'video'
          break
        case 'txt':case 'doc':
          type = 'txt'
          break
        case 'pdf':
          type = 'pdf'
          break
        case 'mp3':
          type = 'audio'
          break
        case 'rar':
          type = 'rar'
          break
        default:
          type = 'otherTypes'
      }
      return type
    },
    beforeRemove (file, fileList) {},
    handleExceed (files, fileList) { // 文件上传超出数量限制的钩子函数
      this.uploadFileLoading = false
      this.$notify({
        title: this.$t('ViBorder.common.warning'),
        message: this.$t('ViBorder.PI.uploadFilesNum'),
        type: 'warning',
        offset: this.notifyOffset
      })
    },
    submitUpload () { // 文件上传到服务器按钮方法
      this.uploadFile.data.vehicleId = this.paramData.data.result.checkInVO.vehicleCheckIn.vehicleId
      this.$refs.upload.submit()
    },
    handleRemove () { // 文件移除的钩子函数
      // console.log('文件移除的钩子')
    },
    fileFail () { // 文件上传失败的钩子函数
      this.uploadFileLoading = false
      this.fileSum--
      this.$notify.error({
        title: this.$t('ViBorder.common.dataError'),
        message: this.$t('ViBorder.PI.uploadFail'),
        offset: this.notifyOffset
      })
    },
    confirmModal (parm) { // 确认信息弹窗
      this.$confirm(`${parm.msg}`, initConfirmData.confirm()).then(() => {
        parm.scb()
      }).catch(() => { // 取消操作的时候就不用给提示了
        this.ruleForm.remark = this.middleRemark
      })
    },
    noPictrueTips (str) {
      if (!this.buttonImageData[str].length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    rewriteCallBack () { // 重写方法拿到页面
      var self = this
      viProbeWsCallback.open = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        self.closeLoading()
        switch (jsonObj.error) {
          case 0:
            self.isOperateBtn = true
            break
          case 2:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.notEnoughStorage'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.notEnoughStorage')
            break
          case 4096:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.fileNotExit'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.fileNotExit')
            break
          case 4106:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.limitNum'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.limitNum')
            break
          case 12288:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.downFileFail'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.downFileFail')
            break
          case 32768:
            self.$notify.error({
              title: '',
              message: self.$t('ViBorder.common.viProbe.systemBusy'),
              offset: this.notifyOffset
            })
            self.message = self.$t('ViBorder.common.viProbe.systemBusy')
            break
          case 24577: // 图像已打开 将按钮置为可操作
            self.isOperateBtn = true
            break
        }
      }
      /**
       * 重写调用获取嫌疑标记后的onMessage方法
       */
      viProbeWsCallback.get_mark_as_base64 = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        if (jsonObj.error === 0) {
          self.viProbeInfo.getMarkBase64Success = true
          self.viProbeInfo.markBase64 = jsonObj.result
        } else {
          self.viProbeInfo.getMarkBase64Success = false
          self.viProbeInfo.markBase64 = null
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
      /**
       * 重写调用获取新嫌疑标记后的onMessage方法
       */
      viProbeWsCallback.get_new_marks = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        // console.log('进来了吗兄弟', jsonObj)
        if (jsonObj.error === 0) {
          self.viProbeInfo.getNewMarksSuccess = true
          // getNewMarksSuccess = true
          self.viProbeInfo.markNew = jsonObj.result
        } else {
          self.viProbeInfo.getNewMarksSuccess = false
          // getNewMarksSuccess = false
          self.viProbeInfo.markNew = []
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
      /**
       * 重写调用上传ViProbe中审图信息后的onMessage方法
       */
      viProbeWsCallback.upload = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        if (jsonObj.result && jsonObj.error === 0) {
          self.viProbeInfo.uploadImageAnalysisSuccess = true
        } else {
          self.viProbeInfo.uploadImageAnalysisSuccess = false
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
      /**
       * 重写调用获取嫌疑标记后的onMessage方法
       */
      viProbeWsCallback.get_image_as_base64 = function (jsonObj) {
        console.log('OnMessage call #' + jsonObj.command + '(rewrite) method')
        if (jsonObj.error === 0) {
          self.viProbeInfo.getImageInViProbeBase64Success = true
          self.viProbeInfo.imageInViProbeBase64 = jsonObj.result
        } else {
          self.viProbeInfo.getImageInViProbeBase64Success = false
          self.viProbeInfo.imageInViProbeBase64 = null
          self.viProbeInfo.errorCode = jsonObj.error
        }
      }
    },
    showPhysicalCheckTaskDetail ({name, path}) { // 在请求到数据的时候，打开ips/viprobe
      let pathArray = this.viProbeInfo.savePath.split(',')
      let imageFiles = pathArray.map(item => {
        let name = item.substring(item.lastIndexOf('/') + 1)
        return {name}
      }).filter(e => {
        if (e.name.includes('.img')) {
          return e
        }
      })
      let markFilePath = ''
      let stepFilePath = ''
      if (this.viProbeInfo.savePath.includes('suspects_json.mark')) {
        markFilePath = `${path}/suspects_json.mark`
      } else if (this.viProbeInfo.savePath.includes('history.steps')) {
        stepFilePath = `${path}/history.steps`
      }
      openImageAndAnalysisInfoInViProbe(name, path, imageFiles, markFilePath, stepFilePath)
    },
    submitTask ({conclusion, name, path}) { // 提交嫌疑标记任务
      let msg = ''
      if (conclusion === 'PASS') {
        msg = this.$t('ViBorder.businessLogicCommon.confirmSubmitNoSuspicion')
      } else if (conclusion === 'SEIZED') {
        msg = this.$t('ViBorder.businessLogicCommon.confirmSized')
      } else if (conclusion === 'TOCUSTOMS') {
        msg = this.$t('ViBorder.businessLogicCommon.confirmToCustoms')
      }
      let timeout = 500
      let self = this
      this.viProbeInfo.getNewMarksSuccess = null
      this.viProbeInfo.markNew = []
      this.viProbeInfo.uploadImageAnalysisSuccess = null
      // 获取ViProbe上的嫌疑标记
      // console.log('start getNewMarks')
      getNewMarks(name)
      // console.log('start validate Mark info')
      setTimeout(markValidator, timeout)
      // 校验嫌疑标记信息与结论是否相符，并进行后续操作
      function markValidator () {
        if (self.viProbeInfo.getNewMarksSuccess === null) {
          if (reconnectToViProbeFailedNew === true) {
            // setButtonEnable()
            return false
          } else {
            console.info('get mark not finished, waiting...')
            setTimeout(markValidator, timeout)
          }
        } else if (self.viProbeInfo.getNewMarksSuccess === true) {
          if (self.viProbeInfo.markNew && self.viProbeInfo.markNew.length) { // 有标记
            if (conclusion === 'PASS') { // 无嫌疑
              self.$notify({
                message: self.$t('ViBorder.PI.markImage'),
                type: 'warning',
                offset: this.notifyOffset
              })
              return false
            } else {
              let scb = () => {
                console.log('end validate Mark, start upload viprobe info')
                uploadImageAnalysisInfo(name, path, true, true, true)
                setTimeout(uploadViProbeInfoValidator, timeout)
              }
              self.confirmModal({msg, scb: scb})
            }
          } else { // 无标记
            // self.submitData(conclusion, name)
            let scb = () => {
              uploadImageAnalysisInfo(name, path, false, true, false)
              setTimeout(uploadViProbeInfoValidator, timeout)
            }
            self.confirmModal({msg, scb: scb})
          }
        } else if (self.viProbeInfo.getNewMarksSuccess === false) {
          // 弹出提示框，提示用户，与ViProbe交互失败
          self.$notify.error({
            title: '',
            message: this.$t('ViBorder.common.viProbe.errorMark'),
            offset: this.notifyOffset
          })
          // setButtonEnable()
          return false
        }
      }
      // 提交结论信息到后台服务，将markNew的值放到参数中一并提交到后台服务
      let submitConclusion = () => {
        // 若提交结论成功，关闭ViProbe中的图像
        self.submitLogicInterface(conclusion, name)
        // 返回列表页
      }
      // 校验上传ViProbe中审图相关信息是否成功，并进行后续操作
      function uploadViProbeInfoValidator () {
        self.openLoading()
        if (self.viProbeInfo.uploadImageAnalysisSuccess === null) {
          if (reconnectToViProbeFailedNew === true) {
            // setButtonEnable()
            return false
          } else {
            console.info('upload ViProbe info not finished, waiting...')
            setTimeout(uploadViProbeInfoValidator, timeout)
          }
        } else if (self.viProbeInfo.uploadImageAnalysisSuccess === true) {
          console.log('end validate Upload ViProbe info, submit conclusion')
          submitConclusion()
        } else if (self.viProbeInfo.uploadImageAnalysisSuccess === false) {
          // 弹出提示框，提示用户，与ViProbe交互失败
          self.$notify.error({
            title: '',
            message: this.$t('ViBorder.common.viProbe.errorMark'),
            offset: this.notifyOffset
          })
          // setButtonEnable()
          return false
        }
      }
    },
    openLoading () {
      this.pageLoading = this.$loading({
        lock: true,
        text: this.$t('ViBorder.common.loading'),
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      })
    },
    closeLoading () {
      if (this.pageLoading) {
        this.pageLoading.close()
      }
    },
    isShowIPS () { // 能否打开看图工具
      if (!this.viProbeInfo.savePath) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.PI.noScanPhoto'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      if (!this.isOperateBtn) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.message || this.$t('ViBorder.common.viProbe.pleaseOpenViProbe'),
          type: 'warning',
          offset: this.notifyOffset
        })
        return false
      }
      this.closeViewingTool()
      this.isOperateBtn = false
      let {name, path} = this.viProbeInfo
      this.showPhysicalCheckTaskDetail({name, path: `${this.viProbeInfo.viprobeShowPath}${path}`})
      // setTimeout(() => {
      // }, 2000)
    }
  },
  components: {swipe}
}
</script>

<style lang="scss">
@import "@/styles/index.scss";
.el-popover {
  .el-carousel .el-carousel__container {
    height: 100%!important;
    .is-active {
      position: relative;
    }
    .el-carousel__item {
      background-color: #f5f5f5;
      .pi-operationimg {
        width: 100%;
        position: relative!important;
      }
    }
  }
}
#pi-operationtunnel {
  @extend .extend-bar;
  .dc-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: flex !important;
    position: relative;
    .table-info {
      width: $all / 2;
      margin-right: $margin;
      @include flex(column);
      .panel {
        .el-form {
          &:first-child {
            .el-form-item__content {
              .info-item {
                .el-button {
                  background: $videoBg  top 50%  center no-repeat;
                  background-color: #ffffff!important;
                  border: none;
                  height: 30px;
                  width: 30px;
                }
              }

            }
          }
        }
        .panel-title {
          .operate-menu {
            .el-button {
              height: $mini;
              line-height: $mini;
              margin-right: 30px!important;
              padding-top: 0;
            }
          }
        }
        .btn-group {
          width: $all;
          position: relative;
          @include flex();
          margin: $margin 0;
          .buttonStyle {
            position: absolute;
            right: $dis10;
          }
        }
      }
      .panel {
        @extend .extend-panel;
        justify-content: flex-start;
        width: $all;
        .analyze_image {
          display: block;
          margin-right: 20px;
          color: #1782d4;
        }
        &:first-child {
          .el-form {
            border-bottom: none;
            // .el-form-item {
            //   .info-item, .el-input__icon{
            //     line-height: 30px;
            //   }
            // }
          }
        }
        &:nth-child(2n), &:last-child {
          .left-bar {
            .tableForm {
              .remark {
                word-break: break-all;
                text-align: left;
                white-space: pre-wrap;
              }
              .data-panel {
                width: $all * .6;
                @include flex(row,space-between);
                padding: 0 $margin;
                .el-input {
                  width: $all * 0.365;
                }
                .el-textarea {
                  padding: 4px 0;
                }
                .border-style {
                  width: $all * .15;
                  height: 20px;
                  @include flex();
                  border-radius: 6px;
                  border: 1px solid #ddd;
                  margin-left: 10px;
                  &:first-child {
                    margin-left: 0px;
                  }
                }
                .border-style.danger-border {
                  border: 1px dashed red;
                }
                .text-color {
                  color: red;
                }
              }
              .statusStart {
                 @include flex(row,flex-start);
              }
              .el-form {
                .upload {
                  .el-form-item__content{
                    span {
                      line-height: 23px;
                      margin-left: 4px;
                      cursor: pointer;
                      .iconfont {
                        color: #1782d4;
                        font-size: 23px;
                      }
                    }
                  }
                }
                width: calc(100% - 20px);
                margin: $dis10;
                @include box-sizing;
                border: 1px solid $panelBorder;
                .content_rule {
                  .el-form-item__content {
                    .content_left {
                      width: 65%!important;
                      margin-bottom: -1px;
                      .data-panel {
                        .left_button {
                          position:absolute;
                          right: 32px;
                          background-color: #f56c6c;
                          border: 0px;
                          height: 63%;
                          top: 9px;
                          width: 23px;
                          border-radius: 4px;
                          color: #fdfdfde8
                        }
                        @media screen and (max-width: 1640px) {
                          .left_button {
                            right: 22px;
                          }
                        }
                        .text-color {
                          color: red;
                        }
                      }
                      .el-form-item__label {
                        width: 580px!important;
                      }
                      @media screen and (max-width: 1640px) {
                        .el-form-item__label {
                          width: 410px!important;
                        }
                      }
                      .el-input {
                        width: 95%!important;
                      }
                      @media screen and (max-width: 1640px) {
                        .el-input {
                          width: 130%!important;
                        }
                      }
                    }
                    .content_right > .el-form-item__content {
                      display: flex!important;
                      justify-content: flex-start!important;
                    }
                    .content_right {
                      .el-input {
                        width: 60%!important;
                      }
                      @media screen and (max-width: 1640px) {
                        .el-input {
                          width: 58%!important;
                        }
                      }
                      .el-form-item__content > span {
                        position: absolute;
                        right: 19px;
                      }
                      .el-form-item__content {
                        .el-button {
                          position: absolute;
                          right: 97px;
                          padding: 6px 8px;
                        }
                        .right_button {
                          position:absolute;
                          right: 129px;
                          background-color: #f56c6c;
                          border: 0px;
                          height: 63%;
                          top: 9px;
                          width: 23px;
                          border-radius: 4px;
                          color: #fdfdfde8
                        }
                        @media screen and (max-width: 1640px) {
                          .right_button {
                            right: 95px;
                          }
                          .el-button {
                            position: absolute;
                            right: 80px;
                          }
                        }
                      }
                    }
                    .el-form-item {
                      .el-form-item__content {
                        margin: 0!important;
                      }
                    }
                  }
                }
                .btn-style {
                  margin: $margin;
                }
                .el-form-item {
                  width: $all;
                  display: flex;
                  .el-form-item__label {
                    @extend .extend-table-form-left-style;
                    border: none;
                    height: $all;
                    border-right: 1px solid #ddd;
                  }
                  .el-form-item__content {
                    @extend .extend-table-form-content-style;
                    width: $all;
                    padding: 0;
                    .common-img {
                      cursor: pointer;
                      height: $large;
                      width: $large;
                    }
                    .lpn-front {
                      background: $carBg top -15% center no-repeat;
                    }
                    .lpn-back {
                      background: $carBg top 48% center no-repeat;
                    }
                    .container {
                      background: $carBg top 115% center no-repeat;
                    }
                    .leaving-time {
                      background: $videoBg top 50%  center no-repeat;
                    }
                  }
                  .el-form-item__error {
                    display: none;
                  }
                  &:last-child {
                    .el-form-item__content {
                      // margin: $margin 0;
                      width: $all;
                      border-bottom: none
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-child(2n) {
          .tableForm {
            .el-form {
              .el-form-item {
                .table-form-pack {
                  .info-item {
                    border-bottom: none
                  }
                }
              }
            }
          }
        }
        .left-bar {
          @extend .extend-bar;
          width: $all;
        }
        .btn-group {
          width: $all;
          position: relative;
          @include flex();
          margin: $margin 0;
          .buttonStyle {
            position: absolute;
            right: $dis10;
          }
        }
      }
      @media screen and (min-width: 1640px) {
      // 大屏
        .panel-middle {
          height: 500px;
        }
      }
      .panel-bottom {
        margin-bottom: 0px;
      }
    }
    #idalog {
      .el-dialog__body {
        display: flex;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 2px);
      margin-bottom: 0px;
      .btn-group {
        width: $all;
        position: relative;
        @include flex();
        margin: $margin 0;
        .buttonStyle {
          position: absolute;
          right: $dis10;
        }
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
      }
      .single-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: $all;
        width: $all;
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
    @media screen and (max-width: 1640px) {
      // 小屏
      .aside-panel {
        height: $all * 0.7;
        .search-form {
          padding: 0;
          .el-form-item {
            margin-bottom: $dis10;
          }
          .el-form-item.search-form-btn {
            margin-top: 0;
          }
        }
        .up-down-infolist {
          .tableComp {
            height: 322px;
          }
        }
      }
    }
    .dialog-data {
      .el-dialog__header {
        padding: 10px 10px;
      }
      .el-dialog__body {
      padding: 0;
      .list-content {
        height: $all;
        .infolist {
          flex-direction: column;
          padding: 5px 20px;
          .panel {
            @extend .extend-panel;
            width: 100%;
            .form-bar {
              display: flex;
              width: $all;
              height: 135px;
              .search-form {
                @include flex();
                .search-form-item {
                  width: 45%!important;
                }
                .search-form-btn {
                  justify-content: flex-end;
                  @media screen and (max-width: 1640px) {
                    justify-content: flex-end;
                    // .el-form-item__content {
                    //   width: 20%;
                    // }
                  }
                }
                @include layout(2);
              }
            }
            .btn-group {
              width: $all;
              position: relative;
              @include flex();
              margin: $margin 0;
              .buttonStyle {
                position: absolute;
                right: $dis10;
              }
            }
          }

        }
      }
      }
    }
    .audio-one {
      #dialog .el-dialog {
        // width: 80%!important;
        width: 510px;
        .el-dialog__header {
          margin-bottom: 0px;
        }
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .audio-two {
       #dialog .el-dialog {
         .el-dialog__header {
          margin-bottom: 0px;
        }
        width: 1020px;
        .el-dialog__body {
          display: flex;
          justify-content: space-around;
          padding: 0!important;
          .videoSize {
            height: 450px;
            width: 500px;
          }
        }
      }
    }
    .upload-file {
      #dialog {
        // .el-dialog__wrapper {
        //   z-index: 2010!important;
        // }
        .el-dialog {
          width: 35%;
        }
        @media screen and (max-width: 1640px) {
          .el-dialog {
            width: 45%!important;
          }
        }
        .el-dialog__header {
          padding: $margin $margin 0px;
          width: auto;
        }
        .el-dialog__body {
          padding: 0 20px;
        }
        .upload {
          height: 400px;
          .upload-content {
            height: 33px;
            width: 100%;
            text-align: right;
            .content-file {
              .el-upload-list {
                .el-upload-list__item-name {
                  text-align: left;
                }
              }
            }
            // background-color: red;
          }
          .swiper-container {
            height: 354px;
            width: 100%;
            .swiper-container-box {
              .swiper-wrapper {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                .swiper-slide {
                  height: 40px;
                  @include flex($dir: row, $juc: space-between, $ali: center);
                  margin-bottom: 8px;
                  // justify-content: space-between;
                  .imgtitle {
                    height: 40px;
                    line-height: 40px;
                    width: 530px;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // padding-left: 30px;
                    // display: inline-block;
                    // margin-left: -300px;
                  }
                  .txtImg {
                    height: 46px;
                    width: 50px;
                    cursor: pointer;
                  }
                  .pdfImg {
                    height: 46px;
                    width: 45px;
                    margin-left: 3px;
                    cursor: pointer;
                  }
                  .rarImg {
                    height: 35px;
                    width: 37px;
                    margin-left: 7px;
                    cursor: pointer;
                  }
                  .otherImg {
                    height: 35px;
                    width: 40px;
                    margin-left: 1px;
                    cursor: pointer;
                  }
                  .videoImg {
                    height: 40px;
                    width: 35px;
                    margin-left: 7px;
                    cursor: pointer;
                  }
                  img {
                    height: 38px;
                    width: 35px;
                    cursor: pointer;
                    // margin-left: -10px;
                    // float: left;
                    margin-left: 7px;
                  }
                  // }
                  // img {
                  //   margin-top: -45px;
                  //   margin-left: 10px;
                  // }
                }
              }
            }
          }
        }
      }
    }
  }
}

.el-date-range-picker {
  width: 585px;
}
</style>
