<template>
  <el-breadcrumb :separator="breadcrumb.font" :separator-class='breadcrumb.class' class="margins">
    <el-breadcrumb-item v-for='(item, index) in breadcrumb.data'  :to="{ path: item.path }" :replace="item.replace" :key="index">{{item.label}}</el-breadcrumb-item>
  </el-breadcrumb>
</template>

<script>
export default {
  name: 'breadcrumb',
  created () {
    if (this.$route.path.substr(0, 3) === '/ic') {
      if (localStorage.home === 'true') {
        this.$props.breadcrumb.data[0].path = '/ic/home'
      } else if (localStorage.home === 'false') {
        this.$props.breadcrumb.data[0].path = '/ic/portMonitor'
      }
    }
  },
  props: ['breadcrumb']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../../styles/index.scss";
.margins {
  margin-bottom: $margin;
  .el-breadcrumb__inner.is-link {
    color: $primary;
    font-weight: normal;
    font-size: 14px;
  }
  span:last-child {
    .el-breadcrumb__inner.is-link {
      color: $black
    }
  }
}
</style>
