<template>
  <div id="device-status">
    <div class="device-box">
      <!-- 交通灯状态图 -->
      <div class="device-status">
        <img v-if="deviceMsg.device.TRAFFICLIGHT_1.status === 'powerOff'" src="../../assets/img/sms/TRAFFICLIGHT/powerOff.png">
        <img v-if="deviceMsg.device.TRAFFICLIGHT_1.status === 'greenLight'" src="../../assets/img/sms/TRAFFICLIGHT/greenLight.png">
        <img v-if="deviceMsg.device.TRAFFICLIGHT_1.status === 'redLight'" src="../../assets/img/sms/TRAFFICLIGHT/redLight.png">
      </div>
      <!-- 设备本地远程状态图 -->
      <div class="device-status-icon">
        <!-- 交通灯远程 -->
        <i class="iconfont device-status-icon-yc" v-if="deviceMsg.localRemote === 'false'" :title="$t('ViBorder.businessLogicCommon.remotely')">&#xe671;</i>
        <!-- 本地 -->
        <i class="iconfont device-status-icon-bd" v-if="deviceMsg.localRemote === 'true'" :title="$t('ViBorder.businessLogicCommon.local')">&#xe66c;</i>
      </div>
    </div>
    <div class="device-box">
      <div class="device-status">
        <img src="../../assets/img/sms/BARRIER/powerOff.png" v-if="deviceMsg.device.BARRIER_1.status === 'powerOff'">
        <img src="../../assets/img/sms/BARRIER/opened.png" v-if="deviceMsg.device.BARRIER_1.status === 'opened'">
        <img src="../../assets/img/sms/BARRIER/closed.png" v-if="deviceMsg.device.BARRIER_1.status === 'closed'">
        <img src="../../assets/img/sms/BARRIER/armDetached.png" v-if="deviceMsg.device.BARRIER_1.status === 'armDetached'">
      </div>
      <div class="device-status-icon">
        <!-- 远程 -->
        <i class="iconfont device-status-icon-yc" v-if="deviceMsg.localRemote === 'false'" :title="$t('ViBorder.businessLogicCommon.remotely')">&#xe671;</i>
        <!-- 本地 -->
        <i class="iconfont device-status-icon-bd" v-if="deviceMsg.localRemote === 'true'" :title="$t('ViBorder.businessLogicCommon.local')">&#xe66c;</i>
      </div>
    </div>
    <div class="line"></div>
  </div>
</template>

<script>
import handleData from '../../api/common.js'
export default {
  name: 'device-status',
  data () {
    return {
    }
  },
  created () {
    let path = this.$route.path.split('/')[1]
    if (path !== 'checkOut') {
      handleData._getDeviceStatus(this.siteLane, 'list').then(res => {
        let {flag, result} = res.data
        result.length && result.forEach(item => {
          if (item.device === 'BARRIER_1') {
            this.deviceMsg.device.BARRIER_1.status = item.body.status
            this.deviceMsg.localRemote = item.body.OBox_WorkMode_Entrance
          } else if (item.device === 'TRAFFICLIGHT_1') {
            this.deviceMsg.device.TRAFFICLIGHT_1.status = item.body.status
            this.deviceMsg.localRemote = item.body.OBox_WorkMode_Entrance
          }
        })
      }).catch(err => {
        console.log('err', err)
      })
    }
  },
  props: [ 'deviceMsg', 'siteLane' ]
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#device-status {
  height: $all;
  width: calc(100% - 60px);
  @include box-sizing();
  @include flex($juc: space-between);
  margin: 0 $margin * 1.5;
  position: relative;
  .line {
    position: absolute;
    top: 0;
    width: 1px;
    background: #ccc;
    height: $all;
    left: $all / 2;
  }
  .device-box {
    width: $all / 2.5;
    height: $all;
    @include flex();
    position: absolute;
    &:first-child {
      left: 14px;
      // margin-right: $dis10 * 10;
      img {
        width: $dis10 * 4;
      }
    }
    &:nth-child(2) {
      right: 40px;
      img {
        width: $dis10 * 11;
      }
    }
    .device-status {
      width: $all * .7;
      height: $all;
      @include flex();
    }
    .device-status-icon {
      flex: 1;
      height: $all;
      @include flex();
      .iconfont {
        font-size: 32px;
      }
    }
  }
}
</style>
