<template>
  <div id="dialog">
    <el-dialog v-if="modalData.flag" @close="closeModal(modalData.resetModal)" :title="modalData.title" :visible.sync="modalData.flag" :close-on-click-modal='false' :close-on-press-escape='false'>
      <slot></slot>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'modalDialog',
  data () {
    return {}
  },
  methods: {
    closeModal (fn) { // ×号关闭弹窗并且清空数据
      if (fn) {
        fn()
      }
    }
  },
  props: [ 'modalData' ]
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#dialog {
  .el-dialog {
    .el-dialog__header {
      padding: 0;
      padding-bottom: 10px;
      padding-left: 10px;
      text-align: left;
      height: auto!important;
      .el-dialog__title {
        width: 96%;
        word-break: break-all;
      }
      @extend .extend-panel-title;
      // background: $titleUrl repeat-x 0 -15px;
      .el-dialog__headerbtn {
        top: 10px;
      }
    }
  }
  .el-form {
    border: none
  }
  .search-form {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap
  }
  .el-form {
    .el-form-item {
      .el-form-item__error {
        display: block;
      }
    }
  }
}
</style>
