<template>
  <div id="export-conclusion-scan-image">
    <div class="export-content">
      <div class="title main-title">{{exportInfo.mainTitle}}</div>
      <div class="export-info">
        <img v-if="exportInfo.checkUrl" :src="exportInfo.checkUrl" alt="exportImg" class="export-img">
        <div v-if="!exportInfo.checkUrl" class="export-img middle-info">{{$t('ViBorder.businessLogicCommon.noNeedScan')}}</div>
        <!-- 综合查验 -->
        <div class="export-content-text" v-if="exportInfo.dcContentList && exportInfo.dcContentList.length > 0">
          <span class="module-info" v-for="(item, idx) in exportInfo.dcContentList" :key="idx">
            <span class="title">{{item.title}}</span>
            <span class="text" v-if="idx !== exportInfo.dcContentList.length - 1">{{item.value}}</span>
            <span class="text" v-else v-html="item.value"></span>
          </span>
        </div>
        <!-- 人工查验 -->
        <div class="export-content-text" v-if="exportInfo.piContentList && exportInfo.piContentList.length > 0">
          <span class="module-info" v-for="(item, idx) in exportInfo.piContentList" :key="idx">
            <span class="title">{{item.title}}</span>
            <span class="text" v-if="idx !== exportInfo.piContentList.length - 1">{{item.value}}</span>
            <span class="text" v-else v-html="item.value"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'export-conclusion-scan-image',
  data () {
    return {}
  },
  props: {
    exportInfo: {
      type: Object
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#export-conclusion-scan-image {
  .export-content {
    display: none;
    width: 1090px;
    // width: $all;
    padding: $margin;
    @include flex($dir: column, $juc: center, $ali: flex-start);
    @include box-sizing();
    .title {
      margin-bottom: $margin;
      font-size: $title;
      font-weight: bold;
    }
    .title.main-title {
      width: $all;
      text-align: left;
      border-bottom: 2px solid #ccc;
      padding-bottom: 4px;
    }
    .export-info {
      width: $all;
      @include flex($dir: column, $juc: center, $ali: flex-start);
      @include box-sizing();
      .export-img {
        width: $all;
        height: 200px;
        // background: #3cc51f;
        margin-bottom: $margin;
      }
      .export-img.middle-info {
        background: #ddd;
        @include flex();
      }
      .export-content-text{
        width: $all;
        @include flex($dir: row, $juc: flex-start, $ali: flex-start);
        flex-wrap: wrap;
        @include box-sizing();
        border-top: 2px solid $secBorder;
        padding: $margin / 2;
        .module-info {
          margin-right: $margin * 2;
          @include flex($dir: column, $juc: flex-start, $ali: flex-start);
          .title {
            margin-bottom: $margin;
            font-size: $smallTitle;
            font-weight: bold;
            text-align: left;
          }
          .text {
            margin-bottom: $margin;
            font-size: $texts;
            word-break: break-all;
            text-align: left;
          }
        }
      }
    }
  }
}
</style>
