<template>
  <div id="otherSystem">
    <div class="box" v-for="(item, index) in conclusionList" :key="index">
      <div class="title">{{item.title}}</div>
      <div class="content">
        <div class="table-data">
          <div class="table-item">
            <span class="label-left">{{$t('ViBorder.businessLogicCommon.conclusionTime')}}</span>
            <span class="label-content">{{item.conclusionTime}}</span>
          </div>
          <div class="table-item">
            <span class="label-left">{{$t('ViBorder.businessLogicCommon.conclusion')}}</span>
            <span class="label-content">{{item.conclusion.key}}</span>
            <div class="detailTip" v-if="item.tipInfo">
              <el-popover placement="left" width="500" trigger="hover">
                <!-- <div v-if="!item.tipInfo" class="tablePopperNoData">{{$t('ViBorder.CHECKOUT.noData')}}</div> -->
                <div class="tablePopperWrap">
                  <div class="hover-title">{{$t('ViBorder.businessLogicCommon.approvalRecord')}}</div>
                  <p class="tipValue" v-html="item.tipInfo"></p>
                  <!-- <div class="hover-content" v-for="(tip, tipIndex) in item.tipInfo" :key="tipIndex">
                  </div> -->
                </div>
                <div slot="reference" class="name-wrapper">
                  <span class="operation"><i class="iconfont" :class="item.conclusion.value === 'PASSED' || 'NONEED' ? 'green' : 'red'">&#xe650;</i></span>
                </div>
              </el-popover>
            </div>
          </div>
        </div>
        <div class="img-info">
          <img src="../../assets/img/common/pass.png" alt="Pass" v-if="item.conclusion.value === 'PASSED'">
          <img src="../../assets/img/common/noPass.png" alt="No pass" v-if="item.conclusion.value === 'NOPASS'">
          <img src="../../assets/img/common/noNeed.png" alt="No need" v-if="item.conclusion.value === 'NONEED'">
        </div>
      </div>
    </div>
    <div class="no-data" v-if="!conclusionList.length">No Data</div>
  </div>
</template>

<script>
export default {
  name: 'otherSystem',
  data () {
    return {
    }
  },
  created () {},
  props: ['conclusionList']
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#otherSystem {
  width: $all;
  height: $all;
  @include flex();
  @include box-sizing();
  flex-wrap: wrap;
  .box {
    width: calc(50% - 20px);
    @include flex($dir: column, $juc:flex-start);
    @include box-sizing();
    height: calc(50% - 20px);
    // padding: 10px;
    font-size: 16px;
    position: relative;
    &:nth-child(1) {
      margin-right: 20px;
    }
    &:nth-child(3) {
      margin-right: 20px;
    }
    .title {
      line-height: 20px;
      padding: 2px 0 2px 10px;
      width: calc(100% + 2px);
      text-align: left;
      color: #fff;
      @include box-sizing();
      @include linear-gradient(#4169E1, #1E90FF)
    }
    .content {
      border: 1px solid $tableEdit;
      width: $all;
      height: $all;
      @include flex($dir: column);
      .table-data {
        width: $all;
        line-height: 20px;
        flex: 1;
        @include flex($dir: column);
        .table-item {
          width: $all;
          @include flex();
          height: $all / 2;
          border-bottom: 1px solid #ccc;
          .label-left {
            height: $all;
            @include box-sizing();
            @include flex();
            padding-left: 8px;
            width: 45%;
            text-align: right;
            background: #f8f8f8;
            border-right: 1px solid #ccc;
          }
          .label-content {
            flex: 1;
            // height: $all;
            text-align: left;
            padding-left: 8px;
          }
          .detailTip {
            // position: absolute;
            // top: 115px;
            // right: 15px;
            // cursor: pointer;
            padding: $dis10;
            .tablePopperNoData {
              width: $all;
              text-align: center;
              line-height: 35px;
            }
            .tablePopperWrap {
              width: $all;
              border: 1px #ccc solid;
              .hover-title {
                font-weight: bold;
                margin: $margin 0;
                font-size: 18px;
                margin: 0 0 $margin $margin;
              }
              .hover-content {
                @include flex(row, flex-start, flex-start);
                p {
                  line-height: 35px;
                  box-sizing: border-box;
                  padding: 0 15px;
                }
                .tipLabel {
                  width: 35%;
                  background: #ccc;
                  border-bottom: 1px solid #fff;
                }
                .tipValue {
                  width: 65%;
                  border-bottom: 1px solid #ccc;
                  border-left: 1px solid #ccc;
                  margin-left: $margin * 2;
                }
              }
              .hover-content:last-child {
                .tipLabel {
                  border-bottom: none;
                }
                .tipValue {
                  width: 65%;
                  border-bottom: none;
                }
              }
            }
            .name-wrapper {
              .operation {
                .iconfont {
                  &.green {
                    color: $success;
                  }
                  &.red {
                    color: $danger;
                  }
                }
              }
            }
          }
        }
      }
      .img-info {
        @include flex();
        height: 80%;
        @media screen and (min-width: 1640px) {
          img {
            // height: 68%;
            width: $all;
          }
        }
        @media screen and (max-width: 1640px) {
          img {
            // height: 68%;
            width: $all * .7;
          }
        }
      }
    }
  }
  .no-data {
    color: #cccccc;
  }
}
</style>
