<template>
  <div id="printTable">
    <div class="title" v-if="turnOnPrinting">
      <p>Акт</p>
      <p>ручного измерения автотранспортных средств</p>
      <p>№_____ от _____________ 201 года</p>
      <p>пункт пропуска “Калжат” ДГД по Алматинской области</p>
    </div>
    <div class="table-title" :style="turnOnPrinting ? 'display: none' : ''">{{tableTitle}}</div>
    <div class="table" :class="{pageTable: !turnOnPrinting, readOnly: isReadOnly}">
      <el-form :model="tableDefaultData" :rules="rules" ref="tableDefaultData">
        <table>
          <!-- 表格头(只在打印表格中显示) -->
          <tr v-if="turnOnPrinting && !isReadOnly">
            <td class="number">{{turnOnPrinting ? '№.' : $t('ViBorder.common.No')}}</td>
            <td class="title-center" :colspan="tableOptions.maxColspan">{{tableOptions.colsTitle}}</td>
            <td class="otherInfo" :rowspan="tableData.length + 1">
              <div class="seal">{{tableOptions.otherInfo[0]}}</div>
              <div class="fullName">{{tableOptions.otherInfo[1]}}</div>
            </td>
          </tr>
          <!-- 表格内容 -->
          <tr v-for="(item, index) in tableData" :key="index">
            <!-- 序号列(只在打印表格中显示) -->
            <td v-if="turnOnPrinting && !isReadOnly && item.index > 0" class="number" :rowspan="item.rowspan">{{item.index}}</td>
            <!-- 左侧label列 -->
            <td class="label" :class="{innerTd: item.type && item.type === 'type1'}">
              <!-- label列分为两列的情况 -->
              <table v-if="item.type && item.type === 'type1'">
                <tr v-for="(dataItem, dataIndex) in item.data" :key="dataIndex" class="numRow">
                  <td v-if="dataIndex === 0" :rowspan="item.data.length">{{item.label}}</td>
                  <td class="numCenter">{{dataIndex + 1}}</td>
                </tr>
              </table>
              <!-- label列只有一列的情况 -->
              <span v-else>{{item.label}}</span>
            </td>
            <!-- 右侧内容列(一行一列数据) -->
            <td v-if="item.colspan && item.rowspan === 1 && !item.type" :colspan="item.colspan">
              <el-form-item v-if="!turnOnPrinting" :prop="item.ruleprop">
                <el-input v-if="item.modelType === 'text' && !isReadOnly" v-model="item.models" size="mini" :maxlength="item.maxlength"></el-input>
                <el-select v-else-if="item.modelType === 'select' && !isReadOnly" v-model="item.models" @change="item.change?item.change(item.models):none()" :placeholder="item.placeholder||''" size="mini" :clearable="true" filterable>
                  <el-option v-for="(items, key) in item.option" :key="key" :label="items.label" :value="items.value"></el-option>
                </el-select>
                <el-input v-else-if="item.modelType === 'textarea' && !isReadOnly" type="textarea" v-model="item.models" :rows="item.textareaRows || 3" :maxlength="item.maxlength || 500" resize="none"></el-input>
                <span v-else-if="item.modelType === 'onlyRead' || isReadOnly" :class="{textReadOnly: isReadOnly}" class="approvide" v-html="item.models"></span>
              </el-form-item>
              <!-- <div v-if="!turnOnPrinting && item.modelType === 'multiValText'" class="multiValText">
                <span v-for="(items, key) in item.data" :key="key">
                  <i v-if="items.type === 'dateTime'">{{items.label}}{{$formatDate(items.models, $t('ViBorder.common.formatDate'))}}</i>
                  <i v-else >{{items.label}}{{items.models}}</i>
                </span>
              </div> -->
              <div v-if="!turnOnPrinting && (item.index === 1)" class="showLpnPic">
                <el-popover placement="left" width="500" trigger="click" v-if="item.lpnPicUrl.length">
                  <!-- <div v-if="!item.lpnPicUrl" class="tablePopperNoData">{{$t('ViBorder.common.nopictrue')}}</div> -->
                  <el-carousel trigger="click" :autoplay="false">
                    <el-carousel-item v-for="(cell, index) in item.lpnPicUrl" :key="index">
                      <img :src="cell" class="tc-operation">
                    </el-carousel-item>
                  </el-carousel>
                  <!-- <img v-if="item.lpnPicUrl" :src="item.lpnPicUrl" class="tableLpnPic"/> -->
                  <div class="lpn-front common-img" slot="reference" @click="tapHasLpnPic(item.lpnPicUrl)" :title="$t('ViBorder.businessLogicCommon.lprFrontTitle')"></div>
                </el-popover>
              </div>
              <span v-if="turnOnPrinting">{{item.models}}</span>
            </td>
            <!-- 右侧内容列(一行多列数据) -->
            <td v-else-if="!item.colspan && !item.type" v-for="(dataItem, dataIndex) in item.data" :key="dataIndex" class="textCenter">
              <el-form-item v-if="!turnOnPrinting && item.modelType === 'multiValIpt'" :prop="dataItem.ruleprop">
                <el-input v-if="dataItem.modelType === 'text' && !isReadOnly" v-model="dataItem.models" size="mini" :maxlength="item.maxlength"></el-input>
                <el-radio-group v-if="dataItem.modelType === 'radio' && !isReadOnly" v-model="dataItem.models">
                  <el-radio v-for="(items,key) in dataItem.option" v-bind:label="items.value" :key='key'>{{items.label}}</el-radio>
                </el-radio-group>
                <div v-if="dataItem.modelType === 'onlyRead' || isReadOnly">
                  <span v-if="dataItem.ruleprop.indexOf('wheelType') !== -1 && dataItem.models">{{$t('ViBorder.businessLogicCommon.' + dataItem.models + 'Wheel')}}</span>
                  <span v-else>{{dataItem.models}}</span>
                </div>
              </el-form-item>
              <div v-else>
                <span v-if="dataItem.ruleprop.indexOf('wheelType') !== -1 && dataItem.models">{{$t('ViBorder.businessLogicCommon.' + dataItem.models + 'Wheel')}}</span>
                <span v-else>{{dataItem.models}}</span>
              </div>
            </td>
            <!-- 右侧内容列(多行多列数据) -->
            <td v-else-if="item.type && (item.type === 'type0' || item.type === 'type1')" :colspan="item.colspan" class="innerTd">
              <table>
                <tr v-for="(dataItem, dataIndex) in item.data" :key="dataIndex">
                  <td v-for="(dataItem, ind) in dataItem" :key="ind" class="textCenter">
                    <el-form-item v-if="!turnOnPrinting && item.modelType === 'multiValIpt'" :prop="dataItem.ruleprop">
                      <el-input v-if="dataItem.modelType === 'text' && !isReadOnly" v-model="dataItem.models" size="mini" :maxlength="item.maxlength"></el-input>
                      <span v-else-if="dataItem.modelType === 'onlyRead' || isReadOnly">{{dataItem.models}}</span>
                    </el-form-item>
                    <span v-else>{{dataItem.models}}</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </el-form>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/TC/index.js'
export default {
  name: 'printTable',
  data () {
    return {
      tableOptions: {
        maxColspan: 4,
        colsTitle: this.$t('ViBorder.businessLogicCommon.vehicleInfo'),
        otherInfo: [this.$t('ViBorder.businessLogicCommon.seal'), this.$t('ViBorder.businessLogicCommon.fullName')]
      },
      tableData: [
        {
          index: 1,
          label: this.turnOnPrinting ? 'Регистрационный номер транспортного средства' : this.$t('ViBorder.businessLogicCommon.lpnFront'),
          data: '',
          models: '',
          lpnPicUrl: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'licensePlateNumber',
          modelType: 'onlyRead',
          isShow: true
        },
        {
          index: 2,
          label: this.turnOnPrinting ? 'Марка' : this.$t('ViBorder.businessLogicCommon.brand'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'brand',
          modelType: 'select',
          option: [],
          isShow: true
        },
        {
          index: 3,
          label: this.turnOnPrinting ? 'Тип' : this.$t('ViBorder.businessLogicCommon.model'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'vehicleType',
          modelType: 'select',
          option: [],
          isShow: true,
          change: this.changeVehicleType
        },
        {
          index: 4,
          label: this.turnOnPrinting ? 'Количество осей' : this.$t('ViBorder.businessLogicCommon.alexNum'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          maxlength: 2,
          ruleprop: 'axles',
          modelType: 'text',
          isShow: true
        },
        {
          index: 5,
          label: this.turnOnPrinting ? 'Колесная формула' : this.$t('ViBorder.businessLogicCommon.wheelFormula'),
          data: [
            {
              models: '1-2',
              modelType: 'onlyRead',
              ruleprop: ''
            },
            {
              models: '2-3',
              modelType: 'onlyRead',
              ruleprop: ''
            },
            {
              models: '3-4',
              modelType: 'onlyRead',
              ruleprop: ''
            }
          ],
          rowspan: 3,
          colspan: 0,
          ruleprop: '',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 0,
          label: this.turnOnPrinting ? 'Расстояние между осями (cm)' : this.$t('ViBorder.businessLogicCommon.wheelBase'),
          data: [
            {
              models: '',
              modelType: 'text',
              maxlength: 5,
              ruleprop: 'axelDistance1'
            },
            {
              models: '',
              modelType: 'text',
              maxlength: 5,
              ruleprop: 'axelDistance2'
            },
            {
              models: '',
              modelType: 'text',
              maxlength: 5,
              ruleprop: 'axelDistance3'
            }
          ],
          rowspan: 1,
          colspan: 0,
          maxlength: 5,
          ruleprop: 'axleBaseAll1',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 0,
          label: this.turnOnPrinting ? 'Скатность колес' : this.$t('ViBorder.businessLogicCommon.singleOrDoubleWheel'),
          data: [
            {
              models: '',
              option: [
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.singleWheel'),
                  value: 'Одно колесо'
                },
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.doubleWheel'),
                  value: 'Двойное колесо'
                }
              ],
              modelType: 'radio',
              ruleprop: 'wheels1'
            },
            {
              models: '',
              option: [
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.singleWheel'),
                  value: 'Одно колесо'
                },
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.doubleWheel'),
                  value: 'Двойное колесо'
                }
              ],
              modelType: 'radio',
              ruleprop: 'wheels2'
            },
            {
              models: '',
              option: [
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.singleWheel'),
                  value: 'Одно колесо'
                },
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.doubleWheel'),
                  value: 'Двойное колесо'
                }
              ],
              modelType: 'radio',
              ruleprop: 'wheels3'
            }
          ],
          rowspan: 1,
          colspan: 0,
          ruleprop: 'wheelTypeAll1',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 6,
          label: this.turnOnPrinting ? 'Регистрационный номер прицепа/полуприцепа' : this.$t('ViBorder.businessLogicCommon.trailerLpn'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'trailerLicensePlateNumber',
          maxlength: 20,
          modelType: 'text',
          isShow: true
        },
        {
          index: 7,
          label: this.turnOnPrinting ? 'Марка' : this.$t('ViBorder.businessLogicCommon.trailerBrand'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'trailerBrand',
          modelType: 'select',
          option: [],
          isShow: true
        },
        {
          index: 8,
          label: this.turnOnPrinting ? 'Тип' : this.$t('ViBorder.businessLogicCommon.trailerModel'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'trailerVehicleType',
          modelType: 'select',
          option: [],
          isShow: true,
          change: this.changeVehicleType
        },
        {
          index: 9,
          label: this.turnOnPrinting ? 'Количество осей' : this.$t('ViBorder.businessLogicCommon.trailerAlexNum'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          maxlength: 2,
          ruleprop: 'trailerAxles',
          modelType: 'text',
          isShow: true
        },
        {
          index: 10,
          label: this.turnOnPrinting ? 'Колесная формула' : this.$t('ViBorder.businessLogicCommon.wheelFormula'),
          data: [
            {
              models: '1-2',
              modelType: 'onlyRead',
              ruleprop: ''
            },
            {
              models: '2-3',
              modelType: 'onlyRead',
              ruleprop: ''
            },
            {
              models: '3-4',
              modelType: 'onlyRead',
              ruleprop: ''
            }
          ],
          rowspan: 3,
          colspan: 0,
          ruleprop: '',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 0,
          label: this.turnOnPrinting ? 'Расстояние между осями (cm)' : this.$t('ViBorder.businessLogicCommon.wheelBase'),
          data: [
            {
              models: '',
              modelType: 'text',
              ruleprop: 'trailerAxelDistance1'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'trailerAxelDistance2'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'trailerAxelDistance3'
            }
          ],
          rowspan: 1,
          colspan: 0,
          maxlength: 5,
          ruleprop: 'axleBaseAll2',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 0,
          label: this.turnOnPrinting ? 'Скатность колес' : this.$t('ViBorder.businessLogicCommon.singleOrDoubleWheel'),
          data: [
            {
              models: '',
              option: [
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.singleWheel'),
                  value: 'Одно колесо'
                },
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.doubleWheel'),
                  value: 'Двойное колесо'
                }
              ],
              modelType: 'radio',
              ruleprop: 'trailerWheels1'
            },
            {
              models: '',
              option: [
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.singleWheel'),
                  value: 'Одно колесо'
                },
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.doubleWheel'),
                  value: 'Двойное колесо'
                }
              ],
              modelType: 'radio',
              ruleprop: 'trailerWheels2'
            },
            {
              models: '',
              option: [
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.singleWheel'),
                  value: 'Одно колесо'
                },
                {
                  label: this.turnOnPrinting ? '' : this.$t('ViBorder.businessLogicCommon.doubleWheel'),
                  value: 'Двойное колесо'
                }
              ],
              modelType: 'radio',
              ruleprop: 'trailerWheels3'
            }
          ],
          models: '',
          rowspan: 1,
          colspan: 0,
          ruleprop: 'wheelTypeAll2',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 11,
          label: this.turnOnPrinting ? 'Общий вес (t)' : this.$t('ViBorder.businessLogicCommon.totalWeight'),
          data: [
            [
              {
                models: this.turnOnPrinting ? 'Автоматического весового оборудования' : this.$t('ViBorder.businessLogicCommon.integrateMeasure'),
                modelType: 'onlyRead',
                ruleprop: ''
              },
              {
                models: this.turnOnPrinting ? 'фактический' : this.$t('ViBorder.businessLogicCommon.actualValue'),
                modelType: 'onlyRead',
                ruleprop: ''
              },
              {
                models: this.turnOnPrinting ? 'превышение' : this.$t('ViBorder.businessLogicCommon.differenceValue'),
                modelType: 'onlyRead',
                ruleprop: ''
              }
            ],
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'vehicleWeightOriginal'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'vehicleWeightActual'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'vehicleWeightDiff'
              }
            ]
          ],
          models: '',
          rowspan: 1,
          colspan: 3,
          maxlength: 6,
          ruleprop: 'totalWeightAll',
          type: 'type0',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 12,
          label: this.turnOnPrinting ? 'Нагрузка на ось (t)' : this.$t('ViBorder.businessLogicCommon.axleWeight'),
          data: [
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'axelWeightOriginal1'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightActual1'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightDiff1'
              }
            ],
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'axelWeightOriginal2'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightActual2'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightDiff2'
              }
            ],
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'axelWeightOriginal3'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightActual3'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightDiff3'
              }
            ],
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'axelWeightOriginal4'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightActual4'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightDiff4'
              }
            ],
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'axelWeightOriginal5'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightActual5'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightDiff5'
              }
            ],
            [
              {
                models: '',
                modelType: 'onlyRead',
                ruleprop: 'axelWeightOriginal6'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightActual6'
              },
              {
                models: '',
                modelType: 'text',
                ruleprop: 'axelWeightDiff6'
              }
            ]
          ],
          models: '',
          rowspan: 1,
          colspan: 3,
          maxlength: 6,
          ruleprop: 'axleWeightAll',
          type: 'type1',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 13,
          label: this.turnOnPrinting ? 'Высота (m)' : this.$t('ViBorder.businessLogicCommon.height'),
          data: [
            {
              models: '',
              modelType: 'onlyRead',
              ruleprop: 'vehicleHeightOriginal'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'vehicleHeightActual'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'vehicleHeightDiff'
            }
          ],
          models: '',
          rowspan: 1,
          colspan: 0,
          maxlength: 5,
          ruleprop: 'heightAll',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 14,
          label: this.turnOnPrinting ? 'Ширина (m)' : this.$t('ViBorder.businessLogicCommon.width'),
          data: [
            {
              models: '',
              modelType: 'onlyRead',
              ruleprop: 'vehicleWidthOriginal'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'vehicleWidthActual'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'vehicleWidthDiff'
            }
          ],
          models: '',
          rowspan: 1,
          colspan: 0,
          maxlength: 5,
          ruleprop: 'widthAll',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 15,
          label: this.turnOnPrinting ? 'Длина (m)' : this.$t('ViBorder.businessLogicCommon.length'),
          data: [
            {
              models: '',
              modelType: 'onlyRead',
              ruleprop: 'vehicleLengthOriginal'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'vehicleLengthActual'
            },
            {
              models: '',
              modelType: 'text',
              ruleprop: 'vehicleLengthDiff'
            }
          ],
          models: '',
          rowspan: 1,
          colspan: 0,
          maxlength: 5,
          ruleprop: 'lengthAll',
          modelType: 'multiValIpt',
          isShow: true
        },
        {
          index: 16,
          label: this.$t('ViBorder.businessLogicCommon.approvalRecord'),
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'approvalRecord',
          modelType: 'onlyRead',
          isShow: false
        },
        {
          index: 17,
          label: this.$t('ViBorder.businessLogicCommon.remark'),
          data: '',
          models: '',
          rowspan: 1,
          colspan: 3,
          ruleprop: 'remark',
          maxlength: 500,
          modelType: 'textarea',
          isShow: false
        }
      ],
      rules: {
        axles: [ // 轴数校验
          { pattern: /^[1-9][0-9]{0,1}$/, message: this.$t('ViBorder.TC.onlyTwoNumbers') }
        ],
        axelDistance1: [ // 轴间距1校验
          { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
        ],
        axelDistance2: [ // 轴间距2校验
          { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
        ],
        axelDistance3: [ // 轴间距3校验
          { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
        ],
        trailerAxelDistance1: [ // 轴间距4校验
          { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
        ],
        trailerAxelDistance2: [ // 轴间距5校验
          { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
        ],
        trailerAxelDistance3: [ // 轴间距6校验
          { pattern: /^([1-9][0-9]{0,4}|0)$/, message: this.$t('ViBorder.TC.cmError') }
        ],
        trailerLicensePlateNumber: [ // 拖车车牌校验
          { min: 1, max: 20, message: this.$t('ViBorder.businessLogicCommon.trailerLpnLength'), trigger: 'blur' },
          { pattern: /^[\u4e00-\u9fa5a-zA-Z0-9]+$/, message: this.$t('ViBorder.businessLogicCommon.onlyTrailerLpn') }
        ],
        trailerAxles: [ // 拖车轴数校验
          { pattern: /^[1-9][0-9]{0,1}$/, message: this.$t('ViBorder.TC.onlyTwoNumbers') }
        ],
        vehicleWeightActual: [ // 总重校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.totalWeightError') }
        ],
        vehicleWeightDiff: [ // 总重差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.totalWeightError') }
        ],
        axelWeightActual1: [ // 轴重1校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightDiff1: [ // 轴重1差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightActual2: [ // 轴重2校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightDiff2: [ // 轴重2差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightActual3: [ // 轴重3校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightDiff3: [ // 轴重3差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightActual4: [ // 轴重4校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightDiff4: [ // 轴重4差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightActual5: [ // 轴重5校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightDiff5: [ // 轴重5差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightActual6: [ // 轴重6校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        axelWeightDiff6: [ // 轴重6差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,3})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,3})$/, message: this.$t('ViBorder.TC.tonError') }
        ],
        vehicleLengthActual: [ // 长度校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
        ],
        vehicleLengthDiff: [ // 长度差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
        ],
        vehicleWidthActual: [ // 宽度校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
        ],
        vehicleWidthDiff: [ // 宽度差值校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
        ],
        vehicleHeightActual: [ // 高度校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
        ],
        vehicleHeightDiff: [ // 高度校验
          { pattern: /^((([0-9]|[1-9][0-9]|0)[.][0-9]{1,2})|([0-9]|[1-9][0-9]|0)|0[.][0-9]{1,2})$/, message: this.$t('ViBorder.TC.meterError') }
        ],
        remark: [ // 备注校验
          { min: 1, max: 500, message: this.$t('ViBorder.businessLogicCommon.RemarkWarn'), trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    let tempTableData = []
    this.tableData.forEach(e => {
      if (e.isShow || (!e.isShow && !this.$props.turnOnPrinting)) {
        tempTableData.push(e)
      }
    })
    this.tableData = tempTableData
    if (!this.isReadOnly) {
      this.getDropDownList()
    }
    this.getDefaultData()
  },
  methods: {
    none () {
      return false
    },
    tapHasLpnPic (val) {
      if (!val.length) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.nopictrue'),
          offset: this.notifyOffset
        })
      }
    },
    changeVehicleType (val) {
      this.tableData.forEach(item => {
        if (item.ruleprop === 'vehicleType' || item.ruleprop === 'trailerVehicleType') {
          item.models = val
        }
      })
    },
    getDefaultData () {
      let tableDefaultData = this.$props.tableDefaultData
      if (!tableDefaultData.hasOwnProperty('remark')) {
        this.tableData.pop()
      }
      this.tableData.forEach(item => {
        if (item.ruleprop === 'licensePlateNumber') {
          item.lpnPicUrl = this.$props.lpnFrontImg
        }
        if (tableDefaultData.hasOwnProperty(item.ruleprop)) {
          item.models = tableDefaultData[item.ruleprop]
        } else {
          if (this.isArray(item.data) && item.data.length > 0) {
            item.data.forEach(e => {
              if (this.isArray(e) && e.length > 0) {
                e.forEach(obj => {
                  if (tableDefaultData.hasOwnProperty(obj.ruleprop)) {
                    obj.models = tableDefaultData[obj.ruleprop]
                  }
                })
              } else {
                if (tableDefaultData.hasOwnProperty(e.ruleprop)) {
                  e.models = tableDefaultData[e.ruleprop]
                }
              }
            })
          }
        }
      })
    },
    isArray (data) {
      return Object.prototype.toString.call(data) === '[object Array]'
    },
    getDropDownList () {
      handleData._initManualMeasure().then(res => {
        let {flag, result} = res.data
        if (flag) {
          this.tableData.forEach(item => {
            if (result[item.ruleprop]) {
              item.option = result[item.ruleprop].map(ele => {
                return {
                  label: this.$t(ele.i18nKey),
                  value: ele.dataCode
                }
              })
            }
            if (item.ruleprop === 'trailerVehicleType') {
              item.option = result.vehicleType && result.vehicleType.map(ele => {
                return {
                  label: this.$t(ele.i18nKey),
                  value: ele.dataCode
                }
              })
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    }
  },
  watch: {
    'tableData': {
      handler (newValue, oldValue) {
        let allData = this.$props.tableDefaultData
        for (let k = 0; k < newValue.length; k++) {
          if (allData.hasOwnProperty(newValue[k].ruleprop)) {
            this.$props.tableDefaultData[newValue[k].ruleprop] = newValue[k].models
          } else {
            if (this.isArray(newValue[k].data) && newValue[k].data.length > 0) {
              newValue[k].data.forEach(e => {
                if (this.isArray(e) && e.length > 0) {
                  e.forEach(item => {
                    if (allData.hasOwnProperty(item.ruleprop)) {
                      this.$props.tableDefaultData[item.ruleprop] = item.models
                    }
                  })
                } else {
                  if (allData.hasOwnProperty(e.ruleprop)) {
                    this.$props.tableDefaultData[e.ruleprop] = e.models
                  }
                }
              })
            }
          }
        }
      },
      deep: true
    },
    'tableDefaultData.isSavePass': {
      // 监听当数据改变之后给打印的表格赋值
      handler (newValue, oldValue) {
        if (newValue) {
          this.getDefaultData()
        }
      },
      deep: true
    },
    'lpnFrontImg': {
      // 监听当数据改变之后给打印的表格赋值
      handler (newValue, oldValue) {
        if (newValue) {
          this.tableData.forEach(item => {
            if (item.ruleprop === 'licensePlateNumber') {
              item.lpnPicUrl = newValue
            }
          })
        }
      },
      deep: true
    },
    'tableDefaultData': {
      // 监听当整个数据变化的时候
      handler (newValue, oldValue) {
        if (newValue) {
          this.getDefaultData()
        }
      },
      deep: true
    }
  },
  props: {
    'tableTitle': {
      type: String,
      default: ''
    },
    'isReadOnly': {
      type: Boolean,
      default: false
    },
    'turnOnPrinting': {
      type: Boolean,
      default: false
    },
    'tableDefaultData': {
      type: Object
    },
    'lpnFrontImg': {
      type: Array
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';
#printTable {
  width: calc(100% - 4px);
  height: auto;
  margin-top: 40px;
  .title {
    // line-height: 24px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    // p {
    //   text-align: center
    // }
  }
  .table-title {
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
  }
  .table {
    padding: $dis10 0;
    width: $all;
    box-sizing: border-box;
    color: $black;
    font-size: 14px;
    table {
      width: $all;
      border: 1px solid $black;
      tr {
        width: $all;
      }
      .number {
        width: 30px;
        text-align: center;
      }
      .title-center {
        text-align: center;
      }
      .otherInfo {
        width: 270px;
        position: relative;
        word-break: break-all;
        .seal {
          width: 90%;
          padding: 5px;
          box-sizing: border-box;
          border: 1px solid $black;
          // border-top: none;
          word-break: break-all;
          position: absolute;
          top: 40%;
          left: 5%;
        }
        .fullName {
          width: 90%;
          position: absolute;
          top: $all / 2;
          left: 5%;
          text-align: center;
        }
      }
      .label {
        width: 20%;
        word-break: break-all;
      }
      td {
        text-align: left;
        border: 1px solid $black;
        padding: 5px;
      }
      .textCenter {
        text-align: center;
        width: 16%;
        word-break: break-all;
        height: 24px;
      }
      .innerTd {
        padding: 0;
        table {
          border: none;
          tr {
            border-bottom: 1px solid $black;
            td {
              // height: 18px;
              border: none;
              border-left: 1px solid $black;
            }
            td:first-child {
              border-left: none;
            }
          }
          tr:last-child {
            border-bottom: none;
          }
        }
      }
      .numRow {
        border-bottom: none!important;
        .numCenter {
          text-align: center;
          height: 24px;
          border-bottom: 1px solid $black;
        }
      }
      .numRow:last-child {
        .numCenter {
          border-bottom: none;
        }
      }
    }
  }
  .pageTable {
    color: $text2;
    font-size: 14px;
    table {
      border: 1px solid $panelBorder;
      .label {
        background: #f7f7f7;
        width: 30%;
        text-align: right;
        padding: 4px 20px;
        line-height: 35px;
      }
      .label.innerTd {
        padding: 0;
      }
      td {
        border: 1px solid $panelBorder;
        position: relative;
        .multiValText {
          padding-left: $dis10;
          span {
            margin-right: $dis10;
            i {
              font-style: normal;
            }
          }
        }
        .el-form-item {
          margin-bottom: 0;
          // width: 63%;
          padding-left: $dis10;
          .el-form-item__content {
            line-height: 30px;
            .el-select {
              width: $all;
            }
            .el-textarea {
              width: 99%;
            }
            .el-radio-group {
              display: inline-block;
              margin: 0 auto;
              .el-radio {
                display: block;
                text-align: left;
                margin: 5px 0;
                .el-radio__label {
                  word-break: break-all;
                  white-space: normal;
                }
              }
            }
            .el-form-item__error {
              padding-top: 2px;
              z-index: 2;
              display: none;
            }
            input {
              font-size: 14px;
            }
            .approvide {
              word-break: break-all;
            }
          }
        }
        .showLpnPic {
          width: 35px;
          height: 35px;
          position: absolute;
          top: 2px;
          right: 20px;
          cursor: pointer;
          .lpn-front {
            width: $all;
            height: $all;
            background: $carBg  top -5% center no-repeat;
          }
        }
      }
      .textCenter {
        border: none;
        border-bottom: 1px solid $panelBorder;
        .el-form-item {
          margin: 0 auto;
          width: 90%;
          padding-left: 0;
          input {
            text-align: center;
          }
          .el-form-item__error {
            text-align: left;
            display: none;
          }
        }
      }
      .innerTd {
        table {
          tr {
            border-bottom: 1px solid $panelBorder;
            td {
              height: 35px;
              border-left: 1px solid $panelBorder;
            }
            .textCenter {
              border: none;
              border-bottom: 1px solid $panelBorder;
            }
          }
          tr:last-child {
            .textCenter {
              border-bottom: none;
            }
          }
        }
      }
      .numRow {
        td:first-child {
          text-align: right;
          padding-right: 20px;
        }
        td:last-child {
          text-align: center;
          padding-right: 5px;
        }
        .numCenter {
          border-bottom: 1px solid $panelBorder;
        }
      }
    }
  }
  .readOnly {
    color: $text2;
    font-size: 14px;
    table {
      border: 1px solid $panelBorder;
      .label {
        background: #f7f7f7;
        width: 30%;
        text-align: right;
        padding: 4px 20px;
        line-height: 35px;
      }
      .label.innerTd {
        padding: 0;
      }
      td {
        border: 1px solid $panelBorder;
        position: relative;
        .multiValText {
          padding-left: $dis10;
          span {
            margin-right: $dis10;
            i {
              font-style: normal;
            }
          }
        }
        .showLpnPic {
          width: 35px;
          height: 35px;
          position: absolute;
          top: 2px;
          right: 20px;
          cursor: pointer;
          .lpn-front {
            width: $all;
            height: $all;
            background: $carBg  top -5% center no-repeat;
          }
        }
      }
      .textCenter {
        border: none;
        border-bottom: 1px solid $panelBorder;
      }
      .innerTd {
        table {
          tr {
            border-bottom: 1px solid $panelBorder;
            td {
              height: 35px;
              border-left: 1px solid $panelBorder;
            }
            .textCenter {
              border: none;
              border-bottom: 1px solid $panelBorder;
            }
          }
          tr:last-child {
            .textCenter {
              border-bottom: none;
            }
          }
        }
      }
      .numRow {
        td:first-child {
          text-align: right;
          padding-right: 20px;
        }
        td:last-child {
          text-align: center;
          padding-right: 5px;
        }
        .numCenter {
          border-bottom: 1px solid $panelBorder;
        }
      }
      .textReadOnly {
        // padding-left: $dis10;
      }
    }
  }
}
.tableLpnPic {
  width: $all;
}
.tablePopperNoData {
  width: $all;
  text-align: center;
  line-height: 35px;
}
</style>
