<template>
  <div id="E_Receipt">
    <div class="head">
      <div>{{allData.title}}</div>
      <div class="subtitle">{{allData.subtitle}}</div>
      <div class="subtitle1">{{allData.subtitle1}}</div>
      <div class="subtitle1">{{allData.subtitle2}}</div>
    </div>
    <ul class="info">
      <li v-for="(infoItem, key) in allData.info" :key="key" :class="{'block-style': key === 0}">
        <span :class="{fontWeight: infoItem.fontWeight}">{{infoItem.label}}</span>
        <span class="line" :class="{'border-line': infoItem.value}" v-if="infoItem.type === 'dateTime'">{{$formatDate(infoItem.value, $t('ViBorder.common.formatDate'))}}</span>
        <span class="line" :class="{'border-line': infoItem.value}" v-if="infoItem.type === 'text'">{{infoItem.value}}</span>
      </li>
    </ul>
    <div class="result-table">
      <div class="label fontWeight">{{allData.result.label}}</div>
      <ul>
        <li class="totalWeight"><span class="fontWeight">{{allData.result.totalWeight.label}}</span> — {{allData.result.totalWeight.value}}{{allData.unit.t}}</li>
        <li class="axleWeight fontWeight">{{allData.result.axleWeight.label}}</li>
        <li>
          <span class="smallBox" v-for="(item, key) in allData.result.axleWeight.value" :key="key"><span class="number">{{key + 1}}.</span> {{ item}}{{allData.result.axleWeight.value.length - 2 >= key ? `${allData.unit.t},` : allData.unit.t}}</span>
        </li>
        <li class="lwh fontWeight">{{allData.result.lwh.label}}</li>
        <li v-for="(item, key) in allData.result.lwh.value" :key="key">
          {{item.name}} — {{item.val}}{{allData.unit.m}}
        </li>
      </ul>
    </div>
    <ul class="otherInfo">
      <li v-for="(infoItem, key) in allData.otherInfo" :key="key" :class="{'block-style': infoItem.ruleProp === 'manifestNumber'}">
        <span class="fontWeight">{{infoItem.label}}</span>
        <span class="line deno" :class="{'border-line': infoItem.value}">{{infoItem.value}}</span>
      </li>
    </ul>
    <div class="divideLine"></div>
    <div class="exportDate">
      <span>{{allData.exportDate.label}}</span>
      <span class="line" :class="{'border-line': allData.exportDate.value}">{{$formatDate(allData.exportDate.value, $t('ViBorder.common.formatDate'))}}</span>
    </div>
    <!-- <img id="barcode"> -->
    <div class="barCode">
      <img id="barcode"/>
    </div>
  </div>
</template>

<script>
import PrintJs from 'print-js'
import JsBarcode from 'jsbarcode'
export default {
  name: 'E_Receipt',
  data () {
    return {
      allData: {
        title: this.$t('ViBorder.RECEIPT.title'),
        subtitle: this.$t('ViBorder.RECEIPT.subtitle'),
        subtitle1: this.$t('ViBorder.RECEIPT.subtitle1'),
        subtitle2: this.$t('ViBorder.RECEIPT.subtitle2'),
        unit: {
          t: this.$t('ViBorder.RECEIPT.unitT'),
          m: this.$t('ViBorder.RECEIPT.unitM')
        },
        info: [
          {
            label: this.$t('ViBorder.RECEIPT.lpnFront'),
            value: '',
            type: 'text',
            fontWeight: false,
            ruleProp: 'licensePlateNumber'
          },
          {
            label: this.$t('ViBorder.RECEIPT.importDate'),
            value: '',
            type: 'dateTime',
            fontWeight: false,
            ruleProp: 'checkInDateTime'
          },
          {
            // 标题
            label: this.$t('ViBorder.RECEIPT.borderControl'),
            value: '',
            type: 'text',
            fontWeight: true,
            ruleProp: 'borderControl'
          },
          {
            label: this.$t('ViBorder.RECEIPT.animalControl'),
            value: '',
            type: 'text',
            fontWeight: true,
            ruleProp: 'animalQuarantine'
          },
          {
            label: this.$t('ViBorder.RECEIPT.healthControl'),
            value: '',
            type: 'text',
            fontWeight: true,
            ruleProp: 'healthQuarantine'
          },
          {
            label: this.$t('ViBorder.RECEIPT.plantControl'),
            value: '',
            type: 'text',
            fontWeight: true,
            ruleProp: 'plantQuarantine'
          },
          {
            label: this.$t('ViBorder.RECEIPT.transControl'),
            value: '',
            type: 'text',
            fontWeight: true,
            ruleProp: 'transportation'
          }
        ],
        result: {
          label: this.$t('ViBorder.RECEIPT.transControlResult'),
          totalWeight: {
            label: this.$t('ViBorder.RECEIPT.totalWeight'),
            value: '',
            ruleProp: 'totalWeight'
          },
          axleWeight: {
            label: this.$t('ViBorder.RECEIPT.axleWeight'),
            value: [],
            ruleProp: 'axleWeight'
          },
          lwh: {
            label: this.$t('ViBorder.RECEIPT.lwh'),
            value: [
              {
                name: this.$t('ViBorder.RECEIPT.height'),
                val: '',
                ruleProp: 'height'
              },
              {
                name: this.$t('ViBorder.RECEIPT.width'),
                val: '',
                ruleProp: 'width'
              },
              {
                name: this.$t('ViBorder.RECEIPT.length'),
                val: '',
                ruleProp: 'length'
              }
            ]
          }
        },
        otherInfo: [
          {
            label: this.$t('ViBorder.RECEIPT.cusControl'),
            value: '',
            ruleProp: 'conclusionType'
          },
          {
            label: this.$t('ViBorder.RECEIPT.declarationNo'),
            value: '',
            ruleProp: 'manifestNumber'
          }
        ],
        exportDate: {
          label: this.$t('ViBorder.RECEIPT.exportDate'),
          value: '',
          ruleProp: 'checkOutDateTime'
        },
        barCodeUrl: ''
      }
    }
  },
  methods: {
    barCode (data) {
      let options = {
        format: 'CODE128',
        displayValue: true,
        fontSize: 18,
        height: 100,
        marginTop: 40
      }
      JsBarcode('#barcode', data, options)
    },
    checkIsChinese (val) {
      let reg = new RegExp('[\\u4E00-\\u9FFF]+', 'g')
      if (!reg.test(val)) {
        return val
      }
      return val.replace(reg, '')
    },
    getData () {
      let receiptData = this.$props.receiptData
      this.allData.info.forEach(e => {
        e.value = receiptData[e.ruleProp]
      })
      let lpn = this.checkIsChinese(this.allData.info[0].value)
      this.barCode(lpn)
      this.allData.otherInfo.forEach(e => {
        e.value = receiptData[e.ruleProp]
      })
      this.allData.result.totalWeight.value = receiptData['totalWeight']
      this.allData.result.axleWeight.value = receiptData['axelWeight']
      this.allData.result.lwh.value.forEach(e => {
        e.val = receiptData[e.ruleProp]
      })
      this.allData.exportDate.value = receiptData['checkOutDateTime']
      setTimeout(() => {
        // 等页面渲染完毕之后增加延时调打印否则打印没有数据
        PrintJs({
          printable: 'print-receipt',
          type: 'html',
          // 继承原来的所有样式
          targetStyles: ['*']
        })
        // 每次打开打印完之后将是否打印变量重置 用于监听变化下次打印调用getData方法
        this.$emit('changePrintStatus', false)
      }, 1000)
    }
  },
  props: {
    'receiptData': {
      type: Object
    },
    'isPrinting': {
      type: Boolean
    },
    'changePrintStatus': {}
  },
  watch: {
    'isPrinting': {
      handler (newVal, oldVal) {
        if (newVal) {
          this.getData()
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';
#E_Receipt {
  width: 88%;
  // min-height: 200px;
  // margin: 0 auto;
  padding: 35px 0;
  box-sizing: border-box;
  border: 1px solid #000;
  font-size: 18px;
  // line-height: 24px;
  color: #000;
  .head {
    padding: 0 15px 5px 15px;
    text-align: center;
    div {
      width: 90%;
      margin: 0 auto;
    }
    div:first-child {
      margin-bottom: 5px;
    }
    .subtitle {
      width: 82%;
    }
    .subtitle1 {
      width: 76%;
      text-align: left;
    }
  }
  .info {
    text-align: left;
    padding: 0 15px;
    width: 85%;
    margin: 0 auto;
    li {
      height: 34px;
      line-height: 34px;
      span {
        display: inline-block;
      }
      &:first-child {
        margin-bottom: $margin;
      }
    }
  }
  .result-table {
    .label {
      width: 85%;
      margin: 0 auto;
      text-align: left;
    }
    ul {
      border: 1px solid #000;
      border-left: none;
      border-right: none;
      margin: $dis10 0;
      li {
        height: 34px;
        line-height: 34px;
        @include flex(row, center, center);
        border-bottom: 1px solid #000;
        .smallBox {
          margin: 0 5px;
          .number {
            font-weight: bold;
          }
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }
  .otherInfo {
    padding: 0 15px;
    text-align: left;
    margin-bottom: $margin;
    li {
      // height: 34px;
      // line-height: 34px;
    }
  }
  .block-style {
    display: flex;
    flex-direction: column
  }
  .divideLine {
    padding: 0 15px;
    // height: 50px;
    // border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 0 auto;
  }
  .exportDate {
    padding: 0 15px;
    text-align: left;
    margin-bottom: $dis10;
    span {
      height: 34px;
      line-height: 34px;
    }
  }
  .barCode {
    padding: 0 15px;
    min-height: 100px;
    @include flex(row, center, center);
    // img {
    //   width: 54%;
    // }
  }
  .line {
    display: inline-block;
    width: auto;
    min-width: 50px;
    padding: 0 $dis10;
    // border-bottom: 1px solid #000;
    line-height: 20px;
  }
  .line.deno {
    word-break: break-all;
    width: $all * .9;
  }
  .line.border-line {
    border-bottom: 1px solid #000;
  }
  .fontWeight {
    font-weight: bold;
  }
}
</style>
