<template>
  <div id="release-img">
    <div class="play-content">
      <canvas id="video-canvas" class="canvas-box"></canvas>
      <div class="operate" v-if="isShowOperate">
        <i class="iconfont" @click="takePhoto" :title="$t('ViBorder.businessLogicCommon.takePhoto')">&#xe619;</i>
        <i class="iconfont" @click="recordVideo(videoMethod)" :title="$t('ViBorder.businessLogicCommon.recordVideo')">&#xf14a;</i>
      </div>
    </div>
    <div class="show-picture-video" v-if="isShowOperate">
      <div class="lpn-front-pic" id='drag-box-parent'>
        <img v-drag :src="takePicture" id='drag-box' :data-url='takePicture'  v-if="takePicture" class='drag-img' @mousewheel="scrollImgFront">
        <div class="media-info" v-if="!takePicture">{{$t('ViBorder.common.noPhoto')}}</div>
      </div>
      <div class="video">
        <video class="media-info" v-if="videoStreamAttr.path" :src="videoStreamAttr.path" controls="controls" autoplay=true loop="loop" ref="media"></video>
        <div class="ready-canvas" v-show="videoStreamAttr.isReadyRecordVideo">
          <canvas id="video-canvas-second"></canvas>
        </div>
        <div class="media-info" v-if="!videoStreamAttr.isReadyRecordVideo && !videoStreamAttr.path">{{$t('ViBorder.businessLogicCommon.waitForVideoInterception')}}</div>
      </div>
    </div>
    <div class="show-light-barrier" v-if="!isShowOperate">
      <DeviceStatus :deviceMsg="deviceMsg" :siteLane="siteLane"/>
    </div>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
import export2Img from '../../lib/export2Img'
import DeviceStatus from './deviceStatus'
export default {
  name: 'releaseImg',
  data () {
    return {
      scaleInfo: 100
    }
  },
  mounted () {
    let url = this.$route.path.split('/')[1]
    let rtspP = ''
    let bitrate = ''
    let checkInSite = localStorage.checkInSite
    let {MRA, ICIA, OCIA} = window.config.rtsp
    if (url === 'checkIn') {
      if (checkInSite === 'ICIA') {
        rtspP = ICIA.rtspPath
        bitrate = ICIA.bitrate
      } else {
        rtspP = OCIA.rtspPath
        bitrate = OCIA.bitrate
      }
    } else {
      rtspP = MRA.rtspPath
      bitrate = MRA.bitrate
    }
    this.initCanvasVideo(rtspP, bitrate)
    this.readySimultaneousRecording(rtspP, bitrate)
  },
  methods: {
    scrollImgFront (e) {
      const el = document.querySelector('.drag-img')
      if (e.wheelDelta > 0) {
        this.zoom({el, mode: 'zoomIn'})
      } else {
        this.zoom({el, mode: 'zoomOut'})
      }
    },
    zoom ({el, mode}) {
      let scale = this.scaleInfo
      let TranScale = ''
      if (mode === 'zoomIn') {
        TranScale = parseInt(scale + 10)
        if (TranScale > 200) {
          return false
        }
      } else if (mode === 'zoomOut') {
        TranScale = parseInt(scale - 10)
        if (TranScale < 50) {
          return false
        }
      }
      this.scaleInfo = TranScale
      if (el) {
        el.style.left = ''
        el.style.top = ''
      }
      el.style.transform = `rotate(0deg)scale(${TranScale / 100}, ${TranScale / 100})`
    },
    initCanvasVideo (rtspPath, bitrate) { // 初始化红外摄像头
      let canvas = document.getElementById('video-canvas')
      let svrPath = 'ws://127.0.0.1:9110'
      let player = new JSMpeg.Player(svrPath, rtspPath, null, bitrate, { canvas })
    },
    takePhoto () { // 获取canvas视频画布当前帧的数据 转为流 截屏
      let canvas = document.getElementById('video-canvas')
      let base64 = canvas.toDataURL('image/jpeg', 1.0)
      const BASE64STR = base64.substring(base64.indexOf(',') + 1, base64.length)
      this.$emit('printScreenData', BASE64STR)
    },
    recordVideo (val) { // 录制视频
      this.videoStreamAttr.path = ''
      val.interceptVideo && val.interceptVideo()
    },
    readySimultaneousRecording (rtspPath, bitrate) {
      // 同步播放的canvas
      let canvas = document.getElementById('video-canvas-second')
      let svrPath = 'ws://127.0.0.1:9110'
      let player = new JSMpeg.Player(svrPath, rtspPath, null, bitrate, { canvas })
    }
  },
  props: ['videoStreamAttr', 'takePicture', 'videoMethod', 'isShowOperate', 'deviceMsg', 'siteLane'],
  components: {DeviceStatus}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#release-img {
  width: $all;
  height: $all;
  @include box-sizing();
  @include flex(column, center, center);
  .play-content,.show-picture-video {
    @include box-sizing();
    @include flex();
    height: 50%;
    width: $all;
  }
  .play-content {
    margin-bottom: $margin;
    position: relative;
    border: 1px solid #ccc;
    height: 80%;
    #video-canvas {
      height: $all;
      width: $all;
    }
    .operate {
      position: absolute;
      bottom: 0;
      left: 0;
      width: $all;
      @include box-sizing();
      @include flex(row, space-around, center);
      .iconfont {
        font-size: 40px;
        color: $primary;
        cursor: pointer;
      }
    }
  }
  .show-picture-video {
    .lpn-front-pic {
      height: $all;
      width: 50%;
      @include flex();
      overflow: hidden;
      position: relative;
      background-color: #f5f5f5;
      margin-right: 10px;
      img {
        cursor: pointer;
        height: $all;
        width: $all;
        position: absolute;
      }
    }
    .picture {
      @include flex();
      width: $all / 2;
      height: $all;
      background-color: $grayLight;
      margin-right: $dis10;
      img {
        cursor: pointer;
      }
    }
    .video {
      @include flex();
      width: $all / 2;
      height: $all;
      background-color: $grayLight;
      video {
        width: $all;
      }
      .ready-canvas {
        width: $all;
        height: $all;
        @include flex();
        #video-canvas-second {
          width: $all;
          height: $all;
          @include flex();
        }
      }
    }
    .picture {
      img {
        width: $all;
      }
    }
  }
  .show-light-barrier {
    height: 38%;
    width: $all;
    border: 1px solid #ccc;
    position: relative;
    .line {
      width: 1px;
      height: $all;
      background: #ccc;
      position: absolute;
      top: 0;
      left: $all / 2;
    }
  }
}
</style>
