<template>
  <Viewer :imgInfo="docList" :viewerStyle="viewerStyle" @viewerPhoto="clearViewerPhoto" @deleteThumbnailIndex="getThumbIndex"></Viewer>
</template>

<script>
import uuidv1 from 'uuid/v1'
import Viewer from './viewer'
import ReconnectingWebSocket from 'reconnectingwebsocket'
import { changesDropDownListItemC, responseImgListC, initScanImgC, clearViewerPhotoC, getThumbIndexC, restoreListC } from './scanDoc.js'
export default {
  name: 'scan-doc',
  data () {
    return {
      docList: [],
      viewerStyle: { // 控制viewer显示
        layout: 'horizontal',
        thumbnailPosition: 'left',
        bigImgPosition: 'right',
        titleIndex: 0,
        isShowDelete: true
      },
      webSocketScan: '',
      webSocketRFID: ''
    }
  },
  destroyed () {
    this.webSocketRFID && this.webSocketRFID.close()
    this.webSocketScan && this.webSocketScan.close()
    console.log('这里是客户端调用断开rfid和scan的方法的地方')
  },
  methods: {
    clearDocList () {
      this.docList = []
    },
    initReconnectWs () {
      this.startWebSocketConnect({instanseKey: this.webSocketScan, url: window.config.scannerWebSocket, flag: `scan`})
      this.startWebSocketConnect({instanseKey: this.webSocketRFID, url: window.config.rfidWebSocket, flag: `rfid`})
    },
    initWebSocketRFID () {
      this.startWebSocketConnect({instanseKey: this.webSocketRFID, url: window.config.rfidWebSocket, flag: `rfid`})
    },
    initWebSocketSCAN () {
      this.startWebSocketConnect({instanseKey: this.webSocketScan, url: window.config.scannerWebSocket, flag: `scan`})
    },
    // 按照标题删除 title
    clearViewerPhoto (idx) {
      let {arr, index, len} = clearViewerPhotoC({idx, pageImg: this.docList, viewerStyle: this.viewerStyle})
      this.docList = arr
      this.viewerStyle.titleIndex = index
      if (len === 0) {
        this.$props.scanDoc.isScan = false
        // 为了让对应页面获取扫描文件的信息
        this.$props.scanDoc.scanDocList = this.docList
        this.$props.scanDoc.inputList = restoreListC(this.$props.scanDoc.inputList)
        // 将可以重新接着扫描变量以及扫描结果list，最后一个参数只要是重置扫描的类型
        this.$emit('refreshScanData', this.$props.scanDoc)
      }
    },
    // 按照标题下的单个删除 thumbnail
    getThumbIndex (index) {
      let {titleIndex} = this.viewerStyle
      let {len, arr} = getThumbIndexC({index, pageImg: this.docList, viewerStyle: this.viewerStyle})
      if (len === 0) { // 删除标题下最后一个的时候  就相当于删除了标题 直接调用方法
        this.clearViewerPhoto(titleIndex)
      } else {
        this.docList = arr
      }
    },
    // 扫描.rfid=>socket初始化
    startWebSocketConnect (options) {
      // console.log('初始化 第一行代码 传入参数', options)
      if (!window.WebSocket) {
        console.log('websocket_alert.notSupport')
        return
      }
      let init = options.instanseKey
      let counter = 0
      init = new ReconnectingWebSocket(options.url)
      // console.log('实例化init对象 下边可以获取对应的webSocketScan，webSocketRFID', init)
      if (options.flag === 'scan') {
        this.webSocketScan = init
      } else if (options.flag === 'rfid') {
        this.webSocketRFID = init
      }
      init.onerror = (event) => {
        console.log('接收到消息出现错误', event)
        // onErrorScanner(event)
        counter++
        if (counter === 1) {
          let tips = ''
          if (options.flag === 'scan') {
            tips = this.$t('ViBorder.CHECKIN.noScanInfo')
          } else {
            tips = this.$t('ViBorder.CHECKIN.noRFIDInfo')
          }
          this.$notify.error({
            title: this.$t('ViBorder.common.dataError'),
            message: tips,
            offset: this.$notifyOffset
          })
        } else if (counter === 2) {
          counter = 1
        }
      }
      init.onopen = (event) => {
        console.log('正在打开连接 connecting...')
        counter = 0
        // onOpenScanner(event)
      }
      init.onmessage = (event) => {
        console.log('这里是onmessage', event.data)
        if (options.flag === 'scan') {
          // console.log('接收到了扫描仪的推送数据')
          this.onMessageScanner(JSON.parse(event.data))
        } else if (options.flag === 'rfid') {
          this.onMessageRFID(JSON.parse(event.data))
        }
      }
      init.onclose = function (event) {
        console.log('socket 关闭了')
        // onCloseRFID(event)
      }
    },
    // 初始化失败调用
    initScanerFailedTips ({errCode}) {
      let message = ''
      if (errCode === -1) {
        message = this.$t('ViBorder.CHECKIN.scannerInitFailed')
      } else if (errCode === -2) {
        message = this.$t('ViBorder.CHECKIN.scanFileUploadFailed')
      }
      this.$notify.error({
        title: this.$t('ViBorder.common.dataError'),
        message,
        offset: this.$notifyOffset
      })
    },
    /**
     * 得到服务器推送消息
     */
    onMessageScanner (data) {
      // console.log('这里是onmessage接受到消息 状态是scan的时候 执行方法 开始执行页面上图操作', data)
      if (data.error !== 0) {
        this.initScanerFailedTips({errCode: data.error})
        // return false
      }
      if (data.counter > 0) {
        if (!data.images.length) {
          this.$notify({
            title: this.$t('ViBorder.common.warning'),
            message: this.$t('ViBorder.common.nopictrue'),
            type: 'warning',
            offset: this.$notifyOffset
          })
          return false
        }
        let photoPath = data.images.map(e => {
          return `${this.$manifestFolder}${e}`
        })
        // console.log('扫描类型docType:', data.taskId.split('_')[1])
        // console.log('此时tab应该已经被定格在当前扫描图像的页面 打印数据等于second,则代码没问题', this.activeName)
        this.initScanImg({docType: data.taskId.split('_')[1], res: photoPath})
      }
    },
    // 获得cardId
    onMessageRFID (data) {
      // console.log('这里是onmessage接受到消息 状态是rfid的时候 执行方法', data)
      this.$props.scanDoc.inputList.forEach(e => {
        if (e.ruleProp === 'rfidNumber') {
          e.models = data.cardId
        }
      })
      this.$props.scanDoc.vehicleRfid = data.cardId
    },
    sendScannerMessage ({docType}) {
      var taskId = `${new Date().getTime()}_${docType}`
      var fileServerUrl = `${window.config.scannerUrl}${window.config.fileServerUrl}/`
      var rootDirectory = `${window.config.fileFolder.manifestFolder}/`
      var jsonMessage = {}
      jsonMessage['taskId'] = taskId
      jsonMessage['fileServerUrl'] = fileServerUrl
      jsonMessage['rootDirectory'] = rootDirectory
      var scanMsg = JSON.stringify(jsonMessage)
      // console.log('准备发送数据给设备 数据为：', scanMsg)
      this.webSocketScan.send(scanMsg)
      // console.log('数据已发送 等待消息推送')
    },
    beginScan ({docType, res}) {
      // console.log('beginScan docType', docType)
      if (!this.$props.scanDoc.startTime) {
        this.$props.scanDoc.startTime = new Date().getTime() // 记录扫描开始时间
      }
      changesDropDownListItemC({val: docType, list: this.$props.scanDoc.inputList})
      // this.isSacn = true // 显示扫描的图像
      if (window.config.devScanImg) { // 开发测试环境
        let uuid = uuidv1()
        this.$props.scanDoc.inputList.forEach(e => {
          if (e.ruleProp === 'rfidNumber') {
            e.models = uuid
          }
        })
        this.$props.scanDoc.vehicleRfid = uuid
        let res = responseImgListC()
        // console.log('beginScan res', res)
        if (res.data.flag) {
          this.initScanImg({docType, res: res.data.result})
        }
      } else {
        this.sendScannerMessage({docType})
      }
    },
    initScanImg ({docType, res}) {
      // console.log('组件initScanImg')
      // console.log('接下来调用页面图像渲染方法 扫描类型为', docType)
      let options = {docType, res, viewerStyle: this.viewerStyle, pageImg: this.docList, selectOption: this.$props.scanDoc.selectOption}
      let time = initScanImgC(options, () => {
        this.$props.scanDoc.isScan = false
        // 为了让对应页面获取扫描文件的信息
        this.$props.scanDoc.scanDocList = this.docList
        this.$emit('refreshScanData', this.$props.scanDoc)
      })
      this.$props.scanDoc.endTime = time // 记录扫描结束时间
    }
  },
  watch: {
    'scanDoc.isScan': {
      handler (newVal, oldVal) {
        if (newVal) {
          const options = {docType: this.$props.scanDoc.docType}
          this.beginScan(options)
        }
      }
    }
  },
  props: [ 'scanDoc' ],
  components: {Viewer}
}
</script>

<style lang="scss">
</style>
