<template>
  <div id="singleImgView">
    <div class="show-img drag-box-parent" ref="imgContainer" id="drag-box-parent">
      <img v-drag class="drag-box-single" id='drag-box-single' :data-url='singleImgInfo.src' ref="scroll" v-if="correctSrc" :src="singleImgInfo.src" alt=""  @mousewheel="scrollImg">
      <div class="img no-img"  ref="scroll" v-if="!correctSrc">
        {{$t('ViBorder.common.nopictrue')}}
      </div>
    </div>
    <div class="down-panel">
      <div class="left">{{singleImgInfo.left}}</div>
      <div class="right">{{singleImgInfo.right}}</div>
    </div>
  </div>
</template>

<script>
import {isExitUrl} from '../../lib/index'
export default {
  name: 'singleImgView',
  data () {
    return {
      correctSrc: true,
      viewer: {
        scale: 100,
        rotateTimes: 0,
        isExitImg: '',
        isAllowScrollImg: true
      }
    }
  },
  mounted () {
    window.addEventListener('resize', () => {
      this.resetImg()
    })
  },
  methods: {
    resetStyle () {
      const ele = document.querySelector('.drag-box-single')
      if (ele) {
        ele.style.display = 'flex'
        ele.style.alignItems = 'center'
        ele.style.justifyContent = 'center'
        ele.style.left = ''
        ele.style.top = ''
      }
    },
    scrollImg (e) { // 滚动滚轮
      if (e.wheelDelta > 0) {
        this.zoomIn()
      } else {
        this.zoomOut()
      }
    },
    zoom (scale) { // 放大缩小方法
      this.resetStyle()
      const ele = document.querySelector('.drag-box-single')
      let angle = 90 * this.viewer.rotateTimes
      ele.style.transform = `rotate(${angle}deg)scale(${scale}, ${scale})`
    },
    zoomIn () { // 放大
      let scale = this.viewer.scale
      let TranScale = parseInt(scale + 10)
      if (TranScale > 200) {
        return false
      }
      this.viewer.scale = TranScale
      this.zoom(TranScale / 100)
    },
    zoomOut () { // 缩小
      let scale = this.viewer.scale
      let TranScale = parseInt(scale - 10)
      if (TranScale < 50) {
        return false
      }
      this.viewer.scale = TranScale
      this.zoom(TranScale / 100)
    },
    resetImg () { // 重置
      if (this.viewer.heightDpo) {
        this.maxHeight()
      } else {
        this.maxWidth()
      }
    },
    maxWidth () { // 宽度自适应
      const ele = document.querySelector('.drag-box-single')
      if (ele) {
        ele.style.cssText = ''
        ele.style.transform = `rotate(0deg)scale(1,1)`
      }
      this.resetStyle()
      this.viewer.scale = 100
      this.viewer.rotateTimes = 0
    },
    maxHeight () { // 高度自适应
      this.maxWidth()
      const dragHeight = document.querySelector('.drag-box-single').offsetHeight
      const dragParentHeight = document.getElementById('drag-box-parent').offsetHeight
      this.viewer.scale = dragParentHeight / dragHeight * 100
      this.zoom(dragParentHeight / dragHeight)
    }
  },
  watch: {
    'singleImgInfo.src': {
      handler (newVal, oldVal) {
        this.correctSrc = isExitUrl(newVal)
      },
      immediate: true
    }
  },
  props: [ 'singleImgInfo' ]
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#singleImgView {
  width: $all;
  height: $all;
  position: relative;
  @include box-sizing();
  .show-img {
    width: $all;
    height: calc(100% - 75px);
    margin-bottom: $margin;
    overflow: hidden;
    @include flex();
    position: absolute;
    .drag-box-single {
      width: $all;
      position: absolute;
      align-items: center;
      color: #ccc;
      cursor: pointer;
    }
    .no-img {
      cursor: default;
      color: #ccc;
    }
  }
  .down-panel {
    @include flex();
    width: $all;
    height: 60px;
    position: absolute;
    bottom: 0;
    .left,.right {
      width: $all / 2;
      height: $all;
      border: 1px solid $panelBorder;
      box-shadow: 2px 2px 2px $gray;
      padding: $margin 0;
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      @include box-sizing();
      background: $white;
    }
    .left {
      margin-right: $margin;
    }
  }
}
</style>
