<template>
  <div :class="this.option.navigate.position === 'outside'?'swiper-container-out swiper-container ':'swiper-container ' + propOption.propId" :style="swiperStyle">
    <div :id="propOption.propId" class="swiper-container-box">
      <div class="swiper-wrapper">
        <div v-for="(item, key, index) in listData" :key='index' class="swiper-slide">
          <!-- <div v-if="propOption.deleteFlag" class="delicon">
            <el-button @click='deleteAttach(item)' type="text">
              <span title="delete"><span class="iconfont editTable">&#xe658;</span></span>
            </el-button>
          </div> -->
          <img class="swiper-slide-container"  v-if='item.type==="img" && !loading' :data-original="item.src" :src="item.src" @click="showViewer(key)">
          <div class="imgtitle" v-if='item.type==="img"'>{{item.src.split('/')[item.src.split('/').length - 1]}}</div>
          <img class="swiper-slide-container swiper-lazy" :data-original="item.src" v-if='item.type==="img" && loading' :data-src="item.src" @click="showViewer(key)">
          <div class="swiper-lazy-preloader" v-if='loading'></div>
          <div class="swiper-slide-container swiper-slide-file fileImg txtImg" v-if='item.type==="txt"'>
            <!-- <img src='../assets/txt.png'> -->
          </div>
          <div class="imgtitle" v-if='item.type==="txt"' @click="checkFile(item.src, 'txt')">{{item.src.split('/')[item.src.split('/').length - 1]}}</div>
          <div class="swiper-slide-container swiper-slide-file fileImg rarImg" v-if='item.type==="rar"'>
            <!-- <img src='../assets/txt.png'> -->
          </div>
          <div class="imgtitle" v-if='item.type==="rar"'>{{item.src.split('/')[item.src.split('/').length - 1]}}</div>
          <div class="swiper-slide-container swiper-slide-file fileImg otherImg" v-if='item.type==="otherTypes"'>
            <!-- <img src='../assets/txt.png'> -->
          </div>
          <div class="imgtitle" v-if='item.type==="otherTypes"'>{{item.src.split('/')[item.src.split('/').length - 1]}}</div>
          <div class="swiper-slide-container swiper-slide-file fileImg pdfImg" v-if='item.type==="pdf"'>
            <!-- <img src='../assets/pdf.png'> -->
            <!-- <p @click="checkFile(item.src, 'pdf')">{{item.src.split('/')[item.src.split('/').length - 1]}}</p> -->
          </div>
          <div class="imgtitle" v-if='item.type==="pdf"' @click="checkFile(item.src, 'pdf')">{{item.src.split('/')[item.src.split('/').length - 1]}}</div>
          <div class="swiper-slide-container swiper-slide-file fileImg fileImg videoImg" v-if='item.type==="video"' @click = 'playVideo(item.src, "video")'>
            <!-- <img src='../../assets/img/swipe/video.png' @click = 'playVideo(item.src, "video")'> -->
          </div>
          <div class="imgtitle" v-if='item.type==="video"'>{{item.src.split('/')[item.src.split('/').length - 1]}}</div>
          <div class="swiper-slide-container swiper-slide-file fileImg audioImg" v-if='item.type==="audio"'>
            <!-- <img src='../assets/audio.png'> -->
            <p @click="checkFile(item.src, 'audio')">{{item.src.split('/')[item.src.split('/').length - 1]}}</p>
          </div>
          <div>
            <el-button @click='deleteAttach(item)' type="text">
              <span :title="$t('ViBorder.common.delete')"><span class="iconfont editTable">&#xe658;</span></span>
            </el-button>
          </div>
        </div>
      </div>
      <el-dialog :before-close='stopVideo' :append-to-body='true' :visible.sync="modalData.flag" :close-on-click-modal='false' :close-on-press-escape='false'>
        <div class="video">
          <div class="first">
            <getVideo ref="videoPlayer" :playerOptions="playerOptions" :src='videoSrc' :playerFunc="palyerFunc"></getVideo>
          </div>
        </div>
      </el-dialog>
      <div :class="propOption.propId + '-modal file-show-box'" v-if="option.hasFile" @click="hideFile">
        <div class="file-box">
          <iframe v-if='fileType === "pdf" || fileType === "txt"' autoPlay='true' :src="fileSrc"  width="100%" height="100%" border=1></iframe>
          <audio width="100%" height="100%" :src="fileSrc" v-if='fileType === "audio"'>
            your browser does not support the audio tag
          </audio>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Swiper from 'swiper'
// import 'swiper/dist/css/swiper.min.css'
import Viewer from 'viewerjs'
import 'viewerjs/dist/viewer.css'
import getVideo from '@/components/common/video.vue'
/* eslint-disable */
export default {
  data () {
    return {
      viewer: '',
      modalData: {
        flag: false
      },
      videoSrc: '',
      swiperObj: {},
      swiperStyle: {},
      swiperPagination: {},
      navigation: {},
      loading: this.propOption.lazy,
      isObserver: this.propOption.observer,
      fileSrc: '',
      fileType: '',
      option: {},
      optionDefault: {
        deleteFlag: false,
        showImg: true,
        hasFile: true,
        slidesPerView: 1,
        direction: 'horizontal',
        initialSlide: 0,
        speed: 300,
        effect: 'slide',
        coverflowEffect: {},
        preloadImages: true,
        loop: false,
        observer: false,
        autoplay: false,
        pagination: {},
        spaceBetween: 0,
        lazy: false,
        navigate: {
          position: 'inside',
          type: 'default'
        },
        uniqueNavElements: false,
        bulletsColor: '#007aff'
      },
      playerOptions: {
        refName: 'videoPlayer',
        muted: false, // 是否静音
        language: sessionStorage.getItem('lang'), // 插件语言
        playbackRates: [0.7, 1.0, 1.5, 2.0], // 设置倍速
        sources: [{
          type: 'video/mp4',
          src: ''
        }]
      },
      palyerFunc: {
        play: this.onPlayerPlay,
        pause: this.onPlayerPause,
        ended: this.onPlayerEnded,
        loadeddata: this.onPlayerLoadeddata,
        waiting: this.onPlayerWaiting,
        playing: this.onPlayerPlaying,
        timeupdate: this.onPlayerTimeupdate,
        canplay: this.onPlayerCanplay,
        canplaythrough: this.onPlayerCanplaythrough,
        statechanged: this.playerStateChanged,
        ready: this.playerReadied
      }
    }
  },
  created () {
    this.option = Object.assign(this.optionDefault, this.propOption)
    if (this.$listeners.hasOwnProperty('last')) {
      this.isObserver = true
      this.loading = true
    }
    if (this.option.hasOwnProperty('navigate')) {
      if (this.option.navigate.position === 'outside') {
        this.option.uniqueNavElements = true
      }
      if (!this.option.navigate.hasOwnProperty('type')) {
        this.option.navigate['type'] = 'default'
      }
    }
    this.swiperStyle = {
      height: this.option.height,
      width: this.option.width
    }
    if (this.option.effect === 'coverflow') {
      this.option.coverflowEffect = {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }
    }
  },
  mounted () {
    // const _this = this
    // new Promise((resolve, reject) => {
    //   if (_this.$parent.$options._componentTag !== 'c-swiper-group') {
    //     _this.$parent._data[_this.option.propId + 'Index'] = _this.option.initialSlide
    //   }
    //   if (Object.entries(_this.option.pagination).length > 0) {
    //     _this.ctrlNode('el', 'pagination', 'swiper-pagination-' + _this.option.propId)
    //   }
    //   if (_this.propOption.hasOwnProperty('navigate')) {
    //     _this.ctrlNode('prevEl', 'navigation', 'swiper-button-prev')
    //     _this.ctrlNode('nextEl', 'navigation', 'swiper-button-next')
    //   }
    //   resolve()
    // }).then(() => {
    //   _this.swiperObj[_this.option.propId] = new Swiper('#' + _this.option.propId, {
    //     slidesPerView: _this.option.slidesPerView,
    //     direction: _this.option.direction,
    //     initialSlide: _this.option.initialSlide,
    //     speed: _this.option.speed,
    //     effect: _this.option.effect,
    //     coverflowEffect: _this.option.coverflowEffect,
    //     preloadImages: _this.option.preloadImages,
    //     loop: _this.option.loop,
    //     observer: _this.isObserver,
    //     autoplay: _this.option.autoplay,
    //     pagination: _this.option.pagination,
    //     navigation: _this.navigation,
    //     lazy: _this.loading,
    //     uniqueNavElements: _this.option.navOut,
    //     spaceBetween: _this.option.spaceBetween,
    //     grabCursor: true,
    //     setWrapperSize: true,
    //     on: {
    //       init: () => {
    //         _this.$nextTick(() => {
    //           if (Object.entries(_this.option.pagination).length > 0 && _this.option.pagination.type === 'bullets') {
    //             _this.swiperObj[_this.option.propId].pagination.bullets.css('background', _this.option.bulletsColor)
    //           }
    //         })
    //       },
    //       slideChange: () => {
    //         _this.$nextTick(() => {
    //           _this.$parent._data[_this.option.propId + 'Index'] = _this.swiperObj[_this.option.propId].activeIndex
    //           if (_this.$parent.$options._componentTag === 'c-swiper-group') {
    //             _this.$parent.getWatcher(_this.swiperObj[_this.option.propId].activeIndex)
    //           }
    //         })
    //       },
    //       slideChangeTransitionEnd: () => {
    //         _this.$nextTick(() => {
    //           _this.$parent._data[_this.option.propId + 'Index'] = _this.swiperObj[_this.option.propId].activeIndex
    //           if (_this.swiperObj[_this.option.propId].isEnd) {
    //             _this.$emit('last')
    //           }
    //         })
    //       },
    //       resize: () => {
    //         _this.throttle(_this.swiperResize, window)
    //       }
    //     }
    //   })
    // }).catch((error) => {
    //   console.log(error)
    // })
    // if(document.getElementsByClassName('file-show-box').length > 0){
    //   document.getElementsByClassName('file-show-box')[0].addEventListener('mousewheel', (e) => {
    //     e.stopPropagation()
    //     e.preventDefault()
    //   }, {passive: false})
    // }
  },
  methods: {
    swiperResize () {
      this.swiperObj[this.option.propId].update()
    },
    slideTo (index) {
      this.swiperObj[this.option.propId].slideTo(index,0,false)
    },
    ctrlNode (tag, flag, name) {
      let node = document.createElement('div')
      node.setAttribute('class', name + '-' + this.option.propId + ' ' + name + ' ' + name + '-' + this.option.navigate.type)
      if (this.option.navigate.position === 'outside') {
        document.getElementById(this.option.propId).parentNode.appendChild(node)
      } else {
        document.getElementById(this.option.propId).appendChild(node)
      }
      if (tag === 'el') {
        this.option[flag][tag] = '.' + name
      } else {
        this[flag][tag] = '.' + name + '-' + this.option.propId
      }
    },
    throttle (method, context) {
      clearTimeout(method.tid)
      method.tid = setTimeout(function () {
        method.call(context)
      }, 500)
    },
    checkFile (src, type) {
      this.fileSrc = src
      this.fileType = type
      this.option.hasFile = true
      // document.getElementsByClassName(this.option.propId + '-modal')[0].style.display = 'block'
      if(this.fileType === "img"){
        document.getElementsByClassName(this.option.propId + '-modal')[0].style.display = 'block'
      }
    },
    hideFile () {
      document.getElementsByClassName(this.option.propId + '-modal')[0].style.display = 'none'
    },
    deleteAttach (item) {
      this.$emit('deleteAttach', item);
    },
    showViewer (key) {
      if(this.option.showImg){
        this.LookImg(key)
      }else{
        this.propOption.index = this.swiperObj[this.option.propId].clickedIndex
        this.$emit('changeImg')
      }
    },
    LookImg (index) {
      if (this.viewer) {
        this.viewer.destroy()
      }
      this.viewer = new Viewer(document.getElementById(this.$props.propOption.propId).getElementsByClassName('swiper-wrapper')[0], {
        url: 'data-original'
      })
    },
    playVideo (src) {
      this.modalData.flag = true
      this.playerOptions.sources[0].src = src
    },
    // listen event
    onPlayerPlay (player) {
      // console.log(player)
      // let type = player.currentType()
      // let src = player.currentSrc()
      // player.pause()
      // player.play()
      /*  this.$notify({
        title: '开始播放' + type + src
      }) */
    },
    onPlayerPause (player) {
      player.pause()
      /* this.$notify({
        title: '暂停'
      }) */
    },
    onPlayerEnded (player) {
      /* this.$notify({
        title: '播放结束'
      }) */
    },
    onPlayerLoadeddata (player) {
      /* this.$notify({
        title: '加载数据'
      }) */
    },
    onPlayerWaiting (player) {
      /* this.$notify({
        title: '视频缓存'
      }) */
    },
    onPlayerPlaying (player) {
      // this.$notify('播放中', player)
    },
    onPlayerTimeupdate (player) {
      // this.$notify('播放进度更新', player.currentTime())
    },
    onPlayerCanplay (player) {
      /* this.$notify({
        title: '可以播放'
      }) */
    },
    onPlayerCanplaythrough (player) {
      /* this.$notify({
        title: '进度拖动'
      }) */
    },
    // or listen state event
    playerStateChanged (playerCurrentState) {
      // this.$notify('player current update state', playerCurrentState)
    },
    // player is ready
    playerReadied (player) {
      // seek to 10s
      // player.currentTime(10)
      /* this.$notify({
        title: '从多少秒开始'
      }) */
    },
    playerTOReadied (player) {
      // seek to 10s
      player.currentTime(30)
      /* this.$notify({
        title: '从多少秒开始'
      }) */
    },
    stopVideo () {
      this.onPlayerPause(this.$refs.videoPlayer.$refs.videoPlayer.player)
      this.modalData.flag = false
    }
  },
  props: {
    'listData': {
      type: Array,
      default: []
    },
    'propOption': {
      type: Object,
      default: {}
    }
  },
  // watch: {
  //   'listData': {
  //     handler (curVal, oldVal) {
  //       console.log('KKKKKKKKKKK', this.viewer)
  //     //   this.viewer = new Viewer(document.getElementById(this.$props.propOption.propId).getElementsByClassName('swiper-wrapper')[0], {
  //     //   url: 'data-original'
  //     // })
  //       // this.viewer.destroy()
  //     },
  //     deep: true
  //   }
  // },
  components: { getVideo }
}
</script>

<style>
.swiper-slide-container {
  max-width: 100%;
  height: 100%;
  display: block;
}
.swiper-container-out {
  padding: 0 50px!important;
}
.swiper-wrapper {
  position: relative;
  z-index: 998;
}
.delicon {
  text-align: right;
}
.swiper-container {
  z-index: initial;
  position: relative;
}
.swiper-container-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-container-out .swiper-container-box {
  overflow: hidden;
}
.swiper-container>div[class^="swiper-pagination"] {
  position: absolute;
  z-index: 100;
}
.swiper-slide-file {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  /* padding: 10%; */
}
.fileImg{
  background-size: 100% 100%!important;
  background-position: top center!important;
}
.txtImg{
  background: url(../../assets/img/swipe/txt.png) no-repeat;
}
.pdfImg{
  background: url(../../assets/img/swipe/pdf.png) no-repeat;
}
.videoImg{
  background: url(../../assets/img/swipe/video.png) no-repeat;
}
.rarImg {
  background: url(../../assets/img/swipe/rar.jpg) no-repeat;
}
.otherImg {
  background: url(../../assets/img/swipe/timg.jpg) no-repeat;
}
.audioImg{
  background: url(../../assets/img/swipe/audio.png) no-repeat;
}
.swiper-slide-file img {
  display: block;
}
.swiper-slide-file p {
  text-decoration: underline;
  font-size: 30px;
  color: #666;
  padding: 1rem;
  cursor: pointer;
  margin-top: 35px;
}
.file-show-box {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(	119, 136, 153, 0.4);
  box-sizing: border-box;
  padding: calc(15% - 1px) calc(25% - 1px);
}
.file-box {
  width: 100%;
  height: 100%;
  background: #fff;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next,
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  z-index: 998;
}
.swiper-button-prev,
.navigation-out.swiper-button-prev {
  left: 0
}
.swiper-button-next,
.navigation-out.swiper-button-next {
  right: 0
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  position: absolute;
  z-index: 998;
}
.swiper-button-prev.swiper-button-prev-large {
  height: 100px;
  width: 50px;
  background: url('../../assets/img/swipe/swiper_button_large.png') no-repeat;
  background-position: 0 50%;
}
.swiper-button-next.swiper-button-next-large {
  height: 100px;
  width: 50px;
  background: url('../../assets/img/swipe/swiper_button_large.png') no-repeat;
  background-position: -75px 50%;
}
.swiper-button-prev.swiper-button-prev-circle {
  height: 32px;
  width: 32px;
  /* background: url('../../assets/img/swipe/swiper_button_circle.png') no-repeat; */
  background-position: 0 50%;
}
.swiper-button-next.swiper-button-next-circle {
  height: 32px;
  width: 32px;
  /* background: url('../../assets/img/swipe/swiper_button_circle.png') no-repeat; */
  background-position: -40px 50%;
}
.swiper-button-prev.swiper-button-prev-bold {
  height: 32px;
  width: 20px;
  background: url('../../assets/img/swipe/swiper_button_bold.png') no-repeat;
  background-position: 0 50%;
}
.swiper-button-next.swiper-button-next-bold {
  height: 32px;
  width: 20px;
  background: url('../../assets/img/swipe/swiper_button_bold.png') no-repeat;
  background-position: -30px 50%;
}
.swiper-button-prev.swiper-button-prev-shadow {
  height: 60px;
  width: 36px;
  background: url('../../assets/img/swipe/swiper_button_shadow.png') no-repeat;
  background-position: 0 50%;
}
.swiper-button-next.swiper-button-next-shadow {
  height: 60px;
  width: 36px;
  background: url('../../assets/img/swipe/swiper_button_shadow.png') no-repeat;
  background-position: -75px 50%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  display:flex;
  justify-content: center;
}
.video{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .video .first,.video .second{
    width:calc(100% - 30px);
    height:auto;
    padding:20px;
  }
</style>
