<template>
  <div class="tableComp">
    <el-table :border="tableData.isBorder" :stripe="tableData.isStripe" :ref='tableData.refName' @selection-change="selectChange" :data="tableData.data"  style="width: 100%"  :max-height='tableData.MaxHeight' :row-class-name="tableRowClassName" :id="tableData.id" @sort-change='tableData.sortMethod' :default-sort="tableData.defaultSort || {order: 'descending'}">
      <template v-for="(item, index) in tableGroup">
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false' :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'img'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <img :src="scope.row[item.model]" :style="{height:item.height}">
          </template>
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false' :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'link'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <a :href="scope.row[item.model].link" :style="scope.row[item.model].style" :title="scope.row[item.model].title">{{scope.row[item.model].label}}</a>
          </template>
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'statusText'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope">
            <!-- <p :style="{color:scope.row[item.model].color,background:scope.row[item.model].background}">{{scope.row[item.model].label}}</p> -->
            <el-tag :type='scope.row[item.model].type'>{{scope.row[item.model].label}}</el-tag>
          </template>
        </el-table-column>
        <!-- color -->
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'color'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope">
            <div :style="{background: scope.row[item.model], height: '24px', width: '40px', margin: '0 auto'}"></div>
          </template>
        </el-table-column>
        <!-- audio -->
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'audio'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope">
            {{scope.row[item.model].label}}
            <el-button type="info" icon="el-icon-service" circle class="selectAudioButton" @click="play(scope.row[item.model].value)"></el-button>
            <audio :id="scope.row[item.model].value" :src="scope.row[item.model].path"></audio>
          </template>
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'editInput'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <el-popover trigger="click" placement="top" v-model="item.click">
              <el-input  v-model="editModel" style="width: 60%"></el-input>
              <el-button type="primary" @click="scope.row[item.model]=editModel;item.click=false"><i class="el-icon-edit"></i></el-button>
              <el-button @click="item.click=false"><i class="el-icon-close"></i></el-button>
              <div slot="reference" class="name-wrapper" @click="editModel=scope.row[item.model]">{{scope.row[item.model]}}</div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'editNumber'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <el-popover trigger="click" placement="top"  v-model="item.click">
              <el-input-number v-model="editModel" controls-position="right"></el-input-number>
              <el-button type="primary" @click="scope.row[item.model]=editModel;item.click=false"><i class="el-icon-edit"></i></el-button>
              <el-button @click="item.click=false"><i class="el-icon-close"></i></el-button>
              <div slot="reference" class="name-wrapper" @click="editModel=scope.row[item.model]">{{scope.row[item.model]}}</div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'editTime'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <el-popover trigger="click" placement="top"  v-model="item.click">
              <el-date-picker v-model="editModel" type="datetime"  :format="$t('ViBorder.language.format')"></el-date-picker>
              <el-button type="primary" @click="scope.row[item.model]=editModel;item.click=false"><i class="el-icon-edit"></i></el-button>
              <el-button @click="item.click=false"><i class="el-icon-close"></i></el-button>
              <div slot="reference" class="name-wrapper" @click="editModel=scope.row[item.model]">{{scope.row[item.model]|formatDate($t('ViBorder.language.format'))}}</div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column  :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false' :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'editSelect'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <el-popover trigger="click" placement="top"  v-model="item.click">
              <el-select v-model="editModel">
                <el-option
                  v-for="choose in item.option"
                  :key="choose.value"
                  :label="choose.label"
                  :value="choose.value">
                </el-option>
              </el-select>
              <el-button type="primary" @click="scope.row[item.model]=editModel;item.click=false"><i class="el-icon-edit"></i></el-button>
              <el-button @click="item.click=false"><i class="el-icon-close"></i></el-button>
              <div slot="reference" class="name-wrapper" @click="editModel=scope.row[item.model]">{{scope.row[item.model]}}</div>
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false' :label="item.label" :prop="item.model" :width="item.width" v-else-if="item.type == 'text'" :fixed="item.fixed" :key="index">
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-else-if="item.type == 'time'" :formatter="item.formatter" :fixed="item.fixed" :key="index">
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-else-if="item.type == 'emptyText'" :formatter="item.formatter" :fixed="item.fixed" :key="index">
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false'  :label="item.label" :prop="item.model" :width="item.width" v-else-if="item.type == 'locale'" :formatter="item.formatter" :fixed="item.fixed" :key="index">
        </el-table-column>
        <el-table-column type="selection" v-else-if="item.type == 'selection'" :selectable='checkboxT' :width="item.width" :fixed="item.fixed" :key="index">
        </el-table-column>
        <el-table-column  :label="item.label" :prop="item.model" :width="item.width" v-else-if="item.type == 'operation'" :fixed="item.fixed" :key="index">
          <template slot-scope="scope">
            <span v-for="(operate, index) in scope.row[item.model]"   @click="operate.func(scope)"  v-html="operate.label" :title="operate.title" v-show="operate.show" :key="index"></span>
          </template>
        </el-table-column>
        <el-table-column  :resizable='false' :show-overflow-tooltip='true' :sortable='item.sortable?item.sortable:false' :label="item.label" :prop="item.model" :width="item.width" v-else-if="item.type == 'hover'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope">
            <el-popover trigger="hover" :placement="scope.row[item.model].position"  :class="scope.row[item.model].class">
              <p v-html="scope.row[item.model].hoverText"></p>
              <div slot="reference" class="name-wrapper" v-html="scope.row[item.model].title"></div>
            </el-popover>
          </template>
        </el-table-column>
        <!-- 下标 -->
        <el-table-column type="index" :index="indexMethod"  :label="item.label" :width="item.width" v-else-if="item.type == 'index'" :fixed="item.fixed" :key="index">
        </el-table-column>
        <el-table-column :resizable='false' :show-overflow-tooltip='false' :sortable='item.sortable?item.sortable:false' :label="item.label" :prop="item.model" :width="item.width" v-if="item.type == 'imgPopper'"  :fixed="item.fixed" :key="index">
          <template slot-scope="scope" >
            <el-popover placement="left" width="500" trigger="hover" class="popover">
              <!-- <div style="display: flex; flex-direction: row"> -->
              <div>
                <img :src="scope.row[item.model]" style="display: block; margin-right: 10px; width: 100%; position: relative;">
                <!-- <img :src="scope.row[item.model]" :width="tableData.popoverWidth" :height="tableData.popoverHeight"> -->
              </div>
              <!-- <img :src="scope.row[item.model]" :width="tableData.popoverWidth" :height="tableData.popoverHeight"> -->
              <img :src="scope.row[item.model]" slot="reference">
            </el-popover>
          </template>
        </el-table-column>
        <el-table-column :label="item.label" v-if="item.type == 'tableFormPopper'" :key="index">
          <template slot-scope="scope" >
            <el-popover placement="left" width="580" trigger="hover">
              <div v-if="Object.keys(scope.row.jsonObject).length !== 0" class="popover-wrap">
                <ul class="tableFormPopper-wrap">
                  <li v-for="(oKey, index) in scope.row.jsonObject" :key="index" class="tableFormPopper"><span>{{index}}</span><span>{{oKey}}</span></li>
                </ul>
              </div>
              <span v-else class="noData">{{$t('ViBorder.CHECKOUT.noData')}}</span>
              <div slot="reference" class="name-wrapper">
                <span class="operation" v-html="item.icon"></span>
              </div>
            </el-popover>
          </template>
        </el-table-column>
      </template>
    </el-table>
    <div class="exportFor">
      <el-pagination v-on:size-change="tableData.page.handleSizeChange" v-on:current-change="tableData.page.handleCurrentChange" v-bind:current-page="tableData.page.CurrentPage?tableData.page.CurrentPage:1" v-bind:page-sizes="[10, 20, 50, 100]" v-bind:page-size="tableData.page.pagesize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="tableData.page.Allpage"  v-if="tableData.isPage">
      </el-pagination>
    </div>

  </div>
</template>

<script>
export default {
  name: 'tableComp',
  data () {
    return {
      editModel: '',
      selectedData: [],
      playFlag: false
    }
  },
  methods: {
    checkboxT (row, index) { // 这里是测量车辆页面专用的复选按钮禁用
      if (this.tableData.measureTable) {
        if (row.vehicleStatus) {
          if (row.vehicleStatus.value === 'MEASURING' || (row.vehicleStatus.value === 'WAITTRAFFICCONFIRM' && !row.vehicleId)) {
            return true
          } else {
            return false
          }
        }
      } else {
        return true
      }
    },
    indexMethod (index) { //    下标
      return index * 1 + 1
    },
    none () {
      return false
    },
    selectChange (row) {
      this.selectedData = row
      this.$emit('listenToSelectDataEvent', this.selectedData)
    },
    formatJson (filterVal, jsonData) {
      for (var i = 0; i < jsonData.length; i++) {
        for (var key in jsonData[i]) {
          if (key.indexOf('time') > -1) {
            jsonData[i][key] = this.getFormat(jsonData[i][key])
          }
          if (key.indexOf('type') > -1) {
            jsonData[i][key] = this.getLocale(jsonData[i][key])
          }
        }
      }
      return jsonData.map(v => filterVal.map(j => v[j]))
    },
    copyArr (arr) {
      let res = []
      for (let i = 0; i < arr.length; i++) {
        let target1 = {}
        Object.assign(target1, arr[i])
        res.push(target1)
      }
      return res
    },
    getLocale (cellValue) {
      var _this = this
      if (!cellValue) {
        return ''
      } else {
        return this.$t(_this.$props.tableData.localgroup + cellValue)
      }
    },
    getFormat (cellValue) {
      return this.$formatDate(cellValue, this.$t('ViBorder.language.format'))
    },
    tableRowClassName ({row, rowIndex}) { //    设置表格行颜色
      var getType = Object.prototype.toString.call(this.$props.tableData.RowNum)
      if (getType === '[object Number]' && rowIndex === this.$props.tableData.RowNum) {
        return 'success-row'
      } else if (getType === '[object Array]') {
        for (var i = 0; i < this.$props.tableData.RowNum.length; i++) {
          if (rowIndex === this.$props.tableData.RowNum[i]) {
            return 'success-row'
          }
        }
      }
      return ''
    },
    play (id) {
      let dom = document.getElementById(id)
      if (this.$data.playFlag) {
        this.$data.playFlag = false
        dom.pause()
      } else {
        this.$data.playFlag = true
        dom.play()
      }
    }
  },
  props: ['tableData', 'tableGroup']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .tableComp{
    width: 100%;
  }
  .tableComp .el-table th,
  .tableComp .el-table th div{
    background: #e7e7e7;
    text-align: center;
    color:#2a2a2a;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
  }
  .tableComp .el-table .cell{
    text-align: center;
    padding:0;
  }
  .tableComp .el-table .danger{
    color: red
  }

  .tableComp .el-pagination{
    display: flex;
    justify-content: flex-end;
  }
  .tableComp .el-table .red-row td .cell{
    background-color:rgba(255,0,0,1);
  }
  .el-table .success-row {
    background: red;
  }
  .tableComp .exportFor{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .tableComp .popover img {
    display: inline-block;
    width: 55px;
  }
  .tableComp .exportFor .excels{
    width: 32px;
    height:32px;
    margin-right:.3rem;
    cursor: pointer;
  }
  .tableComp .el-button.is-circle {
    padding: 3px;
  }
  @media screen and (max-width: 1500px) {
    .popover-wrap {
      max-height: 600px;
      overflow-y: auto;
    }
  }
  @media screen and (min-width: 1500px) {
    .popover-wrap {
      max-height: 800px;
      overflow-y: auto;
    }
  }
  .tableFormPopper-wrap {
    box-sizing: border-box !important;
    border: 1px #ccc solid;
    overflow: hidden;
  }
  .tableFormPopper-wrap li{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  .tableFormPopper-wrap li:last-child span{
    border-bottom: none;
  }
  .tableFormPopper span{
    padding: 0 20px;
    line-height: 35px;
    padding-left: 10px;
    word-wrap:break-word;
    white-space:pre-wrap;
    box-sizing: border-box;
  }
  .tableFormPopper span:first-child{
    border-bottom: 1px #fff solid;
    border-right: 1px #ccc solid;
    width: 35%;
    background-color: #ccc;
  }
  .tableFormPopper span:last-child{
    border-bottom: 1px #ccc solid;
    width: 65%;
  }
  .noData {
    display: block;
    padding: 10px;
    text-align: center;
  }
  .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    padding-left: 0;
  }
  /* .el-table--border td:first-child .cell {
    padding-left: 0;
  } */
</style>
