<template>
  <div class="tableForm">
    <el-form :model='formRule.model?formRule.model:""' :rules='formRule.rule' :ref='formRule.refName'>
      <el-form-item  v-for="(item, index) in searchIpt" :key='index' :prop='item.ruleProp'>
        <div class="table-form-pack">
          <!-- <el-tooltip class="item" effect="dark" :content="item.getLabel" placement="top"> -->
            <label class="el-form-item__label" :title="item.getLabel">{{item.getLabel}}</label>
          <!-- </el-tooltip> -->
          <div class="info-item">
            <!-- 带不带按钮从对应页面传参数过来 -->
            <!-- 输入框 -->
            <el-input v-if="item.type == 'text'" @blur="item.blur?item.blur():none()" @focus="item.focus?item.focus():none()" @change="item.change?item.change(item.models):none()" :name="item.name" v-model="item.models" v-bind:placeholder='item.placeHolder' :disabled="item.disabled" :maxlength="item.maxlength" :suffix-icon="item.endIcon"  :prefix-icon="item.StartIcon" :readonly='item.readonly'>
            </el-input>
            <!-- 纯文本 -->
            <!-- <div v-if="item.type == 'onlyRead'" class="read-only-style" :class="item.color ? `color-${item.color}` : ''">{{item.models}}</div> -->
            <div v-if="item.type === 'onlyRead' && item.ruleProp !== 'remark' && item.ruleProp !== 'approvalRecord'" class="read-only-style" :class="item.color ? `color-${item.color}` : ''">{{item.models}}</div>
            <div v-if="item.type === 'onlyRead' && (item.ruleProp === 'remark' || item.ruleProp === 'approvalRecord')" class="read-only-style" :class="item.color ? `color-${item.color}` : ''" v-html="item.models && item.models.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' ')"></div>
            <!-- 把参数作为节点显示 -->
            <div v-if="item.type == 'onlyReadByHtml'" class="read-only-style" :class="item.color ? `color-${item.color}` : ''" v-html="item.models"></div>
            <el-tooltip  v-if="item.type == 'onlyReadTooltip'"  effect="dark" :content="item.fullName" placement="top-start">
              <div class="read-only-style">{{item.models}}</div>
            </el-tooltip>
            <div v-if="item.type == 'onlyReadColor'" class="read-only-style-color" :class="`level${item.models}`"></div>
            <div v-if="item.type == 'iconfont'" class="read-only-style"><span @click="item.methods"><i class="iconfont" v-html="item.label"></i></span></div>
            <!-- 下拉单选 -->
            <el-select v-if="item.type == 'select'" v-model="item.models" v-bind:placeholder="item.placeHolder" :name="item.name" @clear="item.clear?item.clear():none()" @blur="item.blur?item.blur():none()" @focus="item.focus?item.focus():none()" @change="item.change?item.change(item.models):none()" :disabled="item.disabled" :clearable="item.clearable" :filterable="item.filterable" :allow-create="item.allowCreate">
              <el-tooltip v-for="(items,key) in item.option" :key='key' effect="dark" :open-delay="800" :content="items.label" placement="top-start">
                <el-option v-bind:label="items.label" v-bind:value="items.value" :disabled="items.disabled" ></el-option>
              </el-tooltip>
            </el-select>
            <!-- 单选按钮 -->
            <el-radio-group v-model="item.models" v-if="item.type == 'radio'" :disabled="item.disabled" @change="item.change?item.change(item.models):none()">
              <!-- 正常单选 -->
              <div v-if="!item.isColor" class="no-Color">
                <el-radio v-for="(items, key) in item.option" v-bind:label="items.value" :name="item.name" :disabled="items.disabled"  @change="item.change?item.change(item.models):none()" :key='key'>{{ items.label }}</el-radio>
              </div>
              <!-- 彩色单选 -->
              <div class="hasColor" v-if="item.isColor">
                <el-radio v-for="(ele, key) in radioOption" v-bind:label="ele.value" :name="item.name" :disabled="ele.disabled"  @change="item.change?item.change(item.models):none()" :key='key'></el-radio>
              </div>
            </el-radio-group>
            <!--文本域textarea-->
            <el-input v-if="item.type == 'textarea'" type="textarea" :maxlength="item.maxlength" v-model="item.models" v-bind:placeholder='item.placeHolder' @blur="item.blur?item.blur():none()" @focus="item.focus?item.focus():none()" @change="item.change?item.change(item.models):none()" :name="item.name" :resize="item.resize" :disabled="item.disabled"></el-input>
            <!-- 按钮 -->
            <!-- <el-button type="primary" size="mini" v-if="item.hasClearBtn || false" @click="rowClearBtnEvent({item, index, fn: item.btnOperate.fn})">{{item.btnOperate.btnText}}</el-button> -->
            <el-button type="primary" size="mini" v-if="item.hasBtn || false" @click="rowBtnEvent({item, index, fn: item.btnOperate.fn})">{{item.btnOperate.btnText}}</el-button>
          </div>
        </div>
      </el-form-item>
      <div class="btn-style" v-if="searchFunc.hasBtn || false">
        <el-form-item v-if="!searchFunc.isBackBtn || false">
          <el-button type="primary" size="large" @click="query(searchFunc.query)" :disabled="searchFunc.queryDisabled || false">{{searchFunc.queryText}}</el-button>
          <el-button size="large" @click="reset(searchFunc.close)" :disabled="searchFunc.disabled || false">{{searchFunc.resetText}}</el-button>
          <el-button v-if="searchFunc.hasBackBtn" size="large" @click="back(searchFunc.backPath)">{{searchFunc.backText}}</el-button>
        </el-form-item>
        <el-form-item v-else>
          <el-button size="large" @click="back(searchFunc)">{{searchFunc.backText}}</el-button>
        </el-form-item>
      </div>
      <div class="btn-style" v-if="searchFunc.btnList && searchFunc.btnList.length || false">
        <el-form-item>
          <el-button v-for="(item, index) in searchFunc.btnList" :key="index" size="large" @click="item.fn" :type="item.btnType" :class="item.pos === 'right' ? 'right-btn' : ''">{{item.text}}</el-button>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'tableForm',
  data () {
    return {
      licensePlateNumberFlag: false,
      isTabQueryBtn: false,
      notifyOffset: window.config.notifyOffset,
      tipsHidden: false,
      riskLevel: '',
      radioOption: [
        {
          label: 'red',
          value: 'RED'
        },
        {
          label: 'yellow',
          value: 'YELLOW'
        },
        {
          label: 'green',
          value: 'GREEN'
        }
      ]
    }
  },
  mounted () {
  },
  methods: {
    query (func) { // 提交按钮
      this.isTabQueryBtn = true
      let { rule } = this.$props.formRule
      let tipsInfo = []
      let inputArr = this.$props.searchIpt.slice()
      // 找到没有填写的必填项
      if (document.querySelector('.el-form-item__error')) {
        tipsInfo.push(`${document.querySelector('.el-form-item__error').innerHTML}`)
      } else {
        inputArr.forEach(e => {
          for (const key in rule) {
            if (rule.hasOwnProperty(key)) {
              if ((e.ruleProp === key) && rule[key][0].required && (e.models === '' && (e.models !== 0))) {
                let ope = ''
                if (e.type === 'text') {
                  ope = this.$t('ViBorder.common.pleaseEnter')
                } else {
                  ope = this.$t('ViBorder.common.pleaseSelect')
                }
                tipsInfo.push(`${e.placeHolder}`)
              }
            }
          }
        })
      }
      // 判断是否有项目咩填写
      let hasErr = tipsInfo[0]
      if (hasErr) {
        let not = this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: hasErr,
          type: 'warning',
          offset: this.notifyOffset
        })
        setTimeout(() => {
          not.close()
        }, 5000)
      } else {
        func()
      }
      return false
      //   }
      // })
    },
    reset (fn) {
      fn && fn()
      // for (let i = 0; i < this.$props.searchIpt.length; i++) {
      //   if (this.$props.searchIpt[i].type === 'select2') {
      //     this.$props.searchIpt[i].models = []
      //   } else {
      //     this.$props.searchIpt[i].models = ''
      //   }
      // }
      // this.way(this.$props.formRule.model)
      this.$refs[this.$props.formRule.refName].resetFields()
    },
    isObject (val) {
      return Object.prototype.toString.call(val) === '[object Object]'
    },
    way (value) {
      for (var key in value) {
        if (this.isObject(value[key])) {
          let childrenObj = value[key]
          this.way(childrenObj)
        } else if (Array.isArray(value[key])) {
          value[key].forEach(element => {
            if (this.isObject(element)) {
              this.way(element)
            } else {
              value[key] = []
            }
          })
        } else {
          value[key] = ''
        }
      }
    },
    none () {
      return false
    },
    // rowClearBtnEvent (parm) {
    //   let {item, fn} = parm
    //   fn && fn()
    // },
    rowBtnEvent (parm) {
      let {item, fn} = parm
      let clearBtn = true
      if (item.hasClearBtn) { // 当按钮不需要非空校验
        clearBtn = false
      }
      // 如果是text输入并且为空 则提示
      if (item.type === 'text' || item.type === 'onlyRead') {
        if (!item.models && clearBtn) {
          this.$notify({
            title: this.$t('ViBorder.common.warning'),
            message: `${this.$t('ViBorder.common.pleaseEnter')} ${item.getLabel}`,
            type: 'warning',
            offset: this.notifyOffset
          })
        } else {
          fn && fn()
        }
      } else if (item.type === 'select') {
        fn && fn()
      }
    },
    back (path) {
      path.backPath && this.$router.push({
        path: path.backPath
      })
      if (path.formMethod) {
        path.formMethod()
      }
    }
  },
  watch: {
    'changeVehicle': {
      handler (oldValue, newValue) {
        this.licensePlateNumberFlag = true
      }
    },
    'searchIpt': {
      handler (oldValue, newValue) {
        this.$props.formRule.model = {}
        for (let k = 0; k < newValue.length; k++) {
          // if (newValue[k].type === 'textarea') {
          //   // 在文本域的时候 将输入格式转换
          //   this.$props.formRule.model[newValue[k].ruleProp] = newValue[k].models.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, ' ')
          // } else {
          // }
          this.$props.formRule.model[newValue[k].ruleProp] = newValue[k].models
        }
        if (this.$route.path.includes('/checkIn')) {
          let {licensePlateNumber} = this.$props.formRule.model
          let reg = /^[\u4e00-\u9fa5a-zA-Z0-9]+$/
          if ((!reg.test(licensePlateNumber) && licensePlateNumber) || (this.isTabQueryBtn && !this.licensePlateNumberFlag)) {
            this.$refs[this.formRule.refName].validateField('licensePlateNumber')
          }
        }
        // if (this.licensePlateNumberFlag && this.$route.path.includes('/checkIn')) {
        // }
        // this.licensePlateNumberFlag = false
      },
      deep: true
    }
  },
  props: ['searchIpt', 'searchFunc', 'formRule', 'changeVehicle']
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.tableForm {
  .el-form {
    width: calc(100% - 20px);
    margin: $dis10;
    @include box-sizing;
    border: 1px solid $panelBorder;
    .btn-style {
      margin: $margin;
      position: relative;
      .right-btn {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .el-form-item {
      margin: 0;
      .table-form-pack {
        width: $all;
        display: flex;
        height: $all;
        .el-form-item__label {
          @extend .extend-table-form-left-style;
        }
        .info-item {
          @extend .extend-table-form-content-style;
          .color-red {
            color: red
          }
          .no-Color {
            @include flex()
          }
        }
      }
      .el-form-item__error {
        display: none;
      }
    }
  }
}
.el-radio-group {
  line-height: 40px;
}
.colorStyle .el-color-picker__trigger {
  width: 100%;
}
.el-color-picker {
  width: 100%;
  top: 8px;
}
.selectAudio .el-button.is-circle {
  padding: 6px;
}
</style>
