<template>
  <div id="take-photo">
    <div class="driver-photo">
      <div class="ready-area">
        <video :src="videoSrc" autoplay class="video-box"></video>
        <div class="cam-upload">
          <i class="iconfont" @click="takePhoto">&#xe689;</i>
        </div>
      </div>
      <div class="show-photo-area">
        <canvas class="canvas-box">
        </canvas>
        <div class="img-box">
          <img class="draw-img" :src="driverPhoto" alt="">
          <div class="cam-upload" v-if="isShowDriverPhoto" @click="deletePhoto">
            <i class="iconfont red">&#xe615;</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/CHECKIN/checkIn.js'
import {isExitUrl} from '../../lib/index.js'
export default {
  name: 'takePhoto',
  data () {
    return {
      videoSrc: '',
      driverPhoto: '',
      isShowDriverPhoto: false,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      isUpload: true
    }
  },
  created () {
    this.initCamera()
  },
  mounted () {
    // this.driverPhoto = `data:image/png;base64,${this.showDriverPhoto}`
  },
  methods: {
    initCamera () {
      // srcObject https下测一下流
      // navigator.getUserMedia = navigator.getUserMedia ||
      //                   navigator.webkitGetUserMedia ||
      //                   navigator.mozGetUserMedia
      // if (navigator.getUserMedia) {
      //   navigator.getUserMedia({ video: true },
      //     (stream) => {
      //       let video = document.querySelector('video')
      //       video.srcObject = stream
      //       video.onloadedmetadata = (e) => {
      //         video.play()
      //       }
      //     },
      //     (err) => {
      //       console.log('The following error occurred: ' + err.name)
      //     }
      //   )
      // } else {
      //   console.log('getUserMedia not supported')
      // }
      // creatUrl 方法
      navigator.getUserMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia
      // setTimeout(() => {
      let video = document.querySelector('video')
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({
          video: true
        }).then(stream => {
          // this.MediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[1]
          let CompatibleURL = window.URL || window.webkitURL
          this.videoSrc = CompatibleURL.createObjectURL(stream)
          // video.srcObject = stream
          // video.play()
        }).catch(err => {
          console.log(err)
        })
      } else if (navigator.getMedia) {
        navigator.getMedia({
          video: true
        }).then(stream => {
          this.MediaStreamTrack = stream.getTracks()[1]
          // video.srcObject = stream
          // video.play()
        }).catch(err => {
          console.log(err)
        })
      }
    },
    takePhoto () {
      if (this.isUpload) {
        let canvas = document.querySelector('.canvas-box')
        let video = document.querySelector('.video-box')
        let context = canvas.getContext('2d')
        context.drawImage(video, 50, 0, 200, 150)
        let imgData = canvas.toDataURL('image/png')
        const base64Str = imgData.substring(imgData.indexOf(',') + 1, imgData.length) // 获取base64字符串
        this.isUpload = false
        this.uploadBase64Stream({base64: base64Str})
      } else {
        this.$notify({
          message: '正在上传中，请稍后......',
          type: 'warning'
        })
      }
    },
    deletePhoto (val) {
      this.driverPhoto = ''
      this.isShowDriverPhoto = false
      this.$emit('driverPhotoUrl', '') // 将子组件数据清空传递至父组件
    },
    uploadBase64Stream (option) {
      handleData._uploadDriverPhoto({...option, ...{'position.site': localStorage.checkInSite, 'position.laneNumber': localStorage.checkInLaneNumber}}).then(res => {
        if (!res.data.flag) {
          this.isUpload = false
          this.$notify.error('上传文件出错，请重新上传')
        } else { // 上传成功
          this.isUpload = true
          let path = `${this.photoFolder}${res.data.result.photoPath}`
          console.log('isExitUrl(path)', isExitUrl(path))
          if (isExitUrl(path)) {
            this.isShowDriverPhoto = true
            this.driverPhoto = path
            this.$emit('driverPhotoUrl', this.driverPhoto) // 将子组件生成的base64字符串传递至父组件
          }
        }
      }).catch(err => {
        this.isUpload = false
        console.log('err', err)
      })
    }
  },
  props: ['showDriverPhoto']
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#take-photo {
  width: $all;
  height: $all;
  @include flex();
  .driver-photo {
    width: $all;
    height: $all;
    .ready-area {
      width: $all;
      height: $all / 2;
      @include flex();
      position: relative;
      .video-box {
        // width: $all / 2;
        height: $all * .85;
      }
      .cam-upload {
        position: absolute;
        right: $all * .1;
        @include flex($dir: column, $juc: center);
        height: 60%;
        .iconfont {
          color: $tabColor;
          font-size: 60px;
          cursor: pointer;
        }
      }
    }
    .show-photo-area {
      width: $all;
      height: $all / 2;
      @include flex();
      position: relative;
      .canvas-box {
        display: none;
      }
      .img-box {
        @include flex();
        position: absolute;
        height: $all;
        .draw-img {
          height: $all * .85;
        }
        img {
          flex: 1
        }
        .cam-upload {
          position: absolute;
          right: 0;
          @include flex($dir: column, $juc: center);
          height: 60%;
          .iconfont {
            color: $tabColor;
            font-size: 60px;
            cursor: pointer;
          }
          .iconfont.red {
            color: rgb(255, 105, 100)
          }
        }
      }
    }
  }
}
</style>
