<template>
  <div id="viewer">
    <div class="container" v-if="imgInfo.length">
      <!-- 顶部标题 -->
      <div class="title" v-if="viewerStyle.isTitle || false">
        <span class="title-info" v-for="(item, index) in imgInfo" :key="index" @click="changeTitle(index)" :class="viewerStyle.titleIndex == index ? 'selected' : ''">{{item.title}} <span v-if="viewerStyle.isShowDelete || false" @click.stop="clearViewerPhoto(index)"><i class="iconfont">&#xe615;</i></span>
        </span>
      </div>
      <!-- 图片面板水平方向 -->
      <div v-if="viewerStyle.layout == 'horizontal'" class="img-panel" :style="{height: viewerStyle.isTitle ? '90%' : '100%'}">
        <!-- 缩略图预览小图的位置 -->
        <div style="width: 90px;height: 100%;overflow-y: auto;position: absolute;" :style="viewerStyle.thumbnailPosition == 'left' ? 'left: 0' : 'right: 0'" >
          <div class="horThumbP" v-for="(item, index) in (imgInfo.length !== 0 ? imgInfo[viewerStyle.titleIndex].url : [])" :key="index" >
            <img :src="item" alt="image" :style="viewerStyle.thumbnailStyle"  class="horThumbS" :class="viewer.thumbnailSelected == index ? 'selectedBorder': ''" @click="checkImg({item, index})">
              <span v-if="viewerStyle.isShowDelete || false" @click="clearPhotoByIndex({item, index})"><i class="iconfont">&#xe615;</i></span>
          </div>
        </div>
        <!-- 大图位置 -->
        <div :style="viewerStyle.bigImgPosition == 'right' ? 'right: 0' : 'left: 0'" class="horBigImgP" v-loading='loading'>
          <div class="viewer-tool-group drag-box-parent" :style="{height: viewerHeight}" :class="isFullscreenFlag ? 'full-class' : 'not-full-class'" ref="imgContainer" @mousewheel="scrollImg" id='drag-box-parent'>
            <div v-drag class="drag-box" id='drag-box' :data-url='viewer.url'>
              <img :class="initImgWidth" :src="viewer.url || (imgInfo.length !== 0 ? imgInfo[viewerStyle.titleIndex].url[0] : '')" alt="image" ref="scroll" class="big-img" id='natrualImg'>
            </div>
            <!-- <span class="percentage-tips">{{viewer.zoom}}</span> -->
            <div class="tool">
              <ul>
                <li class="tool-zoom-in" @click="zoomIn"></li>
                <li class="tool-zoom-out" @click="zoomOut"></li>
                <li class="tool-reset" @click="resetImg"></li>
                <li class="tool-rotate-left" @click="rotateLeft"></li>
                <li class="tool-rotate-right" @click="rotateRight"></li>
                <li class="tool-max-width" @click="maxWidth"></li>
                <li class="tool-max-height" @click="maxHeight"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!imgInfo.length" class="not-scan-img">{{$t('ViBorder.common.nopictrue')}}</div>
  </div>
</template>

<script>
import {remove} from '../../lib/index.js'
export default {
  name: 'viewer',
  data () {
    return {
      loading: false,
      viewer: {
        url: '', // 右侧大图显示的图片地址
        thumbnailSelected: 0, // 图片是否被选中
        scale: 100,
        rotateTimes: 0,
        heightDpo: true
      },
      initImgWidth: '',
      initCounter: 0,
      isFullscreenFlag: false,
      notCheckOut: true,
      viewerHeight: ''
    }
  },
  created () {
    this.isFullscreen()
    window.addEventListener('resize', () => {
      this.resetImg()
      this.isFullscreen()
    })
  },
  methods: {
    isFullscreen () {
      let path = this.$route.path.split('/')[1]
      let {clientHeight} = document.body
      if (path === 'checkOut') {
        // this.notCheckOut = false
        if (clientHeight > 1058) {
          this.viewerHeight = '780px'
        } else {
          this.viewerHeight = '680px'
        }
      } else {
        // this.notCheckOut = true
        if (clientHeight > 1058) {
          this.isFullscreenFlag = true
        } else {
          this.isFullscreenFlag = false
        }
      }
    },
    resetStyle () {
      const ele = document.querySelector('.drag-box')
      if (ele) {
        ele.style.display = 'flex'
        ele.style.alignItems = 'center'
        ele.style.justifyContent = 'center'
        ele.style.left = ''
        ele.style.top = ''
      }
    },
    changeTitle (index) { // 切换标题的方法
      this.$props.viewerStyle.titleIndex = index // 取到title索引
      this.viewer.url = '' // 将上一个title下的显示图片置空
      this.viewer.thumbnailSelected = 0 // 将下一个页面的第一个缩略图加边框
      this.viewer.rotateTimes = 0 // 旋转次数为 0
      this.viewer.scale = 100
      this.checkImg({
        url: this.$props.imgInfo[index].url[0],
        index: 0
      })
    },
    checkImg (parm) { // 点击图片
      var that = this
      let {item, index} = parm // 获取图片信息
      this.viewer.url = item
      this.viewer.thumbnailSelected = index // 高亮当前的缩略图
      this.viewer.rotateTimes = 0 // 旋转次数为 0
      // this.viewer.scale = 100
      const ele = document.querySelector('.drag-box')
      if (ele) {
        ele.style.cssText = ''
        ele.style.transform = `rotate(0deg)scale(.9, .9)`
      }
      this.resetStyle()
      this.viewer.scale = 90
      this.viewer.rotateTimes = 0
      setTimeout(() => {
        // const ImgNaturalWidth = document.getElementById('natrualImg') && document.getElementById('natrualImg').naturalWidth
        // const ImgNaturalHeight = document.getElementById('natrualImg') && document.getElementById('natrualImg').naturalHeight
        const ImgNaturalWidth = document.getElementById('natrualImg') && document.getElementById('natrualImg').offsetWidth
        const ImgNaturalHeight = document.getElementById('natrualImg') && document.getElementById('natrualImg').offsetHeight
        const BoxNaturalWidth = (document.querySelector('.not-full-class') && document.querySelector('.not-full-class').offsetWidth) || (document.querySelector('.full-class') && document.querySelector('.full-class').offsetWidth)
        const BoxNaturalHeight = (document.querySelector('.not-full-class') && document.querySelector('.not-full-class').offsetHeight) || (document.querySelector('.full-class') && document.querySelector('.full-class').offsetHeight)
        const dpx = ImgNaturalHeight / ImgNaturalWidth
        const BoxDpx = BoxNaturalHeight / BoxNaturalWidth
        if (dpx > BoxDpx) {
          that.viewer.heightDpo = true
        } else {
          that.viewer.heightDpo = false
        }
        that.backToOne(ImgNaturalHeight, ImgNaturalWidth)
      }, 10)
    },
    scrollImg (e) { // 滚动滚轮
      if (e.wheelDelta > 0) {
        this.zoomIn()
      } else {
        this.zoomOut()
      }
    },
    zoom (scale) { // 放大缩小方法
      this.resetStyle()
      const ele = document.querySelector('.drag-box')
      let angle = 90 * this.viewer.rotateTimes
      if (ele) {
        ele.style.transform = `rotate(${angle}deg)scale(${scale}, ${scale})`
      }
    },
    zoomIn () { // 放大
      let scale = this.viewer.scale
      let TranScale = parseInt(scale + 10)
      if (TranScale > 200) {
        return false
      }
      this.viewer.scale = TranScale
      this.zoom(TranScale / 100)
    },
    zoomOut () { // 缩小
      let scale = this.viewer.scale
      let TranScale = parseInt(scale - 10)
      if (TranScale < 50) {
        return false
      }
      this.viewer.scale = TranScale
      this.zoom(TranScale / 100)
    },
    resetImg () { // 重置
      setTimeout(() => {
        const ImgNaturalWidth = document.getElementById('natrualImg') && document.getElementById('natrualImg').offsetWidth
        const ImgNaturalHeight = document.getElementById('natrualImg') && document.getElementById('natrualImg').offsetHeight
        this.backToOne(ImgNaturalHeight, ImgNaturalWidth)
      }, 10)
      // if (this.viewer.heightDpo) {
      //   this.maxHeight()
      // } else {
      //   this.maxWidth()
      // }
    },
    backToOne (ImgNaturalHeight, ImgNaturalWidth) {
      console.info(`图片宽高比例   ${ImgNaturalWidth} / ${ImgNaturalHeight}`)
      if (ImgNaturalHeight >= ImgNaturalWidth) {
        this.maxHeight()
      } else {
        this.maxWidth()
      }
      // if (this.viewer.heightDpo) {
      //   this.maxHeight()
      // } else {
      //   this.maxWidth()
      // }
      this.loading = false
    },
    rotate (parm) { // 旋转
      const ele = document.querySelector('.drag-box')
      const scale = this.viewer.scale / 100
      parm.direction === 'left' ? this.viewer.rotateTimes -= 1 : this.viewer.rotateTimes += 1
      let angle = 90 * this.viewer.rotateTimes
      if (ele) {
        ele.style.left = ''
        ele.style.top = ''
        ele.style.transform = `rotate(${angle}deg)scale(${scale},${scale})`
      }
    },
    rotateLeft () {
      this.rotate({direction: 'left'})
    },
    rotateRight () {
      this.rotate({direction: 'right'})
    },
    maxWidth () { // 宽度自适应
      const ele = document.querySelector('.drag-box')
      if (ele) {
        ele.style.cssText = ''
        // ele.style.transform = `rotate(0deg)scale(.9, .9)`
      }
      this.initImgWidth = 'init-img-width'
      this.resetStyle()
      this.viewer.scale = 100
      this.viewer.rotateTimes = 0
    },
    maxHeight () { // 高度自适应
      // this.maxWidth()
      const ele = document.querySelector('.drag-box')
      if (ele) {
        ele.style.cssText = ''
        // ele.style.transform = `rotate(0deg)scale(.9, .9)`
      }
      this.initImgWidth = 'init-img-height'
      this.resetStyle()
      this.viewer.scale = 100
      this.viewer.rotateTimes = 0
      // const dragHeight = document.querySelector('.drag-box') && document.querySelector('.drag-box').offsetHeight
      // const dragParentHeight = (document.querySelector('.not-full-class') && document.querySelector('.not-full-class').offsetHeight) || (document.querySelector('.full-class') && document.querySelector('.full-class').offsetHeight)
      // this.viewer.scale = dragParentHeight / dragHeight * 100
      // console.log();
      // this.zoom(dragParentHeight / dragHeight)
    },
    clearViewerPhoto (index) {
      this.$confirm(this.$t('ViBorder.businessLogicCommon.sureDelete'), this.$t('ViBorder.common.prompt'), {
        confirmButtonText: this.$t('ViBorder.common.sure'),
        cancelButtonText: this.$t('ViBorder.common.cancel'),
        type: 'warning'
      }).then(() => {
        this.$emit('viewerPhoto', index) // 将子组件数据清空传递至父组件
      }).catch(() => {})
    },
    clearPhotoByIndex ({item, index}) {
      this.$emit('deleteThumbnailIndex', index)
    }
  },
  watch: {
    'imgInfo': {
      handler (oldValue, newValue) {
        this.loading = true
        var that = this
        setTimeout(function () {
          that.checkImg({
            url: newValue[that.$props.viewerStyle.titleIndex] && newValue[that.$props.viewerStyle.titleIndex].url[0],
            index: 0
          })
        }, 100)
      },
      deep: true
    }
  },
  props: [ 'imgInfo', 'viewerStyle' ],
  components: {}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#viewer {
  width: $all;
  height: $all;
  @include flex();
  .container {
    width: $all;
    height: $all;
    .title {
      @include flex(row,flex-start,center);
      padding: 14px 4px;
      position: relative;
      z-index: 2;
      .title-info {
        position: relative;
        font-size: 20px;
        color: #999;
        display: block;
        min-width: $margin * 4;
        margin-right: $dis10;
        &:hover {
          cursor: pointer;
        }
        span {
          width: 20px;
          height: 20px;
          display: inline-block;
          // background: rgba(1, 1, 1, 0.1);
          // border-radius: 50%;
          // line-height: 20px;
          // text-align: center;
          .iconfont {
            position: absolute;
            right: 2px;
            top: 0;
            color: $tableEdit;
          }
        }
      }
      .selected {
        color: #2ba6e1;
      }
    }
    .img-panel {
      width: $all;
      height: $all * .9;
      position: relative;
      .horThumbS.selectedBorder,.verThumbS.selectedBorder {
        border-color: #2ba6e1;
      }
      .horThumbP {
        // width: $all * .9;
        // height: $all;
        // padding-right: $dis10;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        span {
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
          height: 20px;
          cursor: pointer;
          .iconfont {
            position: absolute;
            right: 2px;
            top: 0;
            color: $tableEdit;
          }
        }
      }
      .horThumbS {
        width: $all;
        height: $dis10 * 10;
        margin-bottom: $dis10;
        border-radius: 4px;
        object-fit: cover;
        border: 2px solid #999;
        cursor: pointer;
        @include box-sizing()
      }
      .horBigImgP {
        height: $all;
        width: calc(100% - 96px);
        position: absolute;
        @include flex();
        .big-img {
          &:hover{
            cursor: pointer;
          }
        }
        .big-img.init-img-width {
          width: $all;
        }
        .big-img.init-img-height {
          height: $all;
        }
        .big-img.init-img-width-no {
          width: '';
        }
      }
      .viewer-tool-group {
        position: relative;
        @include flex();
        width: $all;
        height: $all;
        overflow: hidden;
        .drag-box {
          width: $all;
          height: $all;
          position: absolute;
          .not-scan-img {
            height: $all;
            @include flex();
            color: $gray;
          }
          .img-init-width {
            width: $all
          }
        }
        .percentage-tips {
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
          border-radius: 30px;
          font-size: 10px;
          position: absolute;
          top: 50%;
          padding: 2px 8px;
        }
        .tool {
          position: absolute;
          bottom: 20px;
          ul {
            @include flex();
            .tool-zoom-in {
              background-position: 2px;
            }
            .tool-zoom-out {
              background-position: -18px;
            }
            .tool-reset {
              background-position: -38px;
            }
            .tool-rotate-left {
              background-position: -138px;
            }
            .tool-rotate-right {
              background-position: -158px;
            }
            .tool-max-width {
              background-position: -178px;
            }
            .tool-max-height {
              background-position: -198px;
            }
          }
          li {
            background: $swiper no-repeat;
            background-color: rgba(0, 0, 0, .5);
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
            width: 24px;
            height: 24px;
          }
        }
      }
      @media screen and (max-width: 1640px) {
        .viewer-tool-group.not-full-class {
          // width: 600px;
          height: 500px;
        }
      }
      @media screen and (min-width: 1640px) and (max-width: 1900px){
        .viewer-tool-group.not-full-class {
          // width: 600px;
          height: 540px;
        }
      }
      @media screen and (min-width: 1900px) {
        .viewer-tool-group.full-class {
          // width: 800px;
          height: 873px;
        }
        .viewer-tool-group.not-full-class {
          width: 500px;
          height: 690px;
        }

      }
    }
  }
  .not-scan-img {
    height: $all;
    @include flex();
    color: $gray;
  }
}
</style>
