// 项目会用到的颜色
$white: #ffffff;                 // 白色
$black: #333333;                 // 黑色
$lightBlue: #f1f3fa;             // 淡蓝色
$lightBlack: #2b3643;            // 浅黑色
$red: red;                       // 红色
$grey: #545c64;                  // 灰色


$all : 100%;
$dis10: 10px;
$margin: 20px;

$titleUrl: './assets/img/titlebg_04.jpg'!default;
$titleLeftUrl: './assets/img/titlebg_03.png'!default
