<template>
  <div id="sms">
    <div class="top">
      <div class="top-card-banner">
        <!-- 上左 -->
        <div class="top-card-banner-left">
          <!-- 线圈 -->
          <div class="sense-coil panel">
            <panelTitle :panelTitleInit="panelTitle.snese"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.PLC_1.SENSECOIL_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="show-lpn">
              <div class="lpn-no">
                <img src="../../assets/img/sms/SENSECOIL/nonsignaled.png" v-if="device.SENSECOIL_1.status === 'nonsignaled'">
                <img src="../../assets/img/sms/SENSECOIL/signaled.png" v-if="device.SENSECOIL_1.status === 'signaled'">
                <span>{{$t('ViBorder.SMS.senseCoilFront')}}</span>
              </div>
              <div class="lpn-no">
                <img src="../../assets/img/sms/SENSECOIL/nonsignaled.png" v-if="device.SENSECOIL_2.status === 'nonsignaled'">
                <img src="../../assets/img/sms/SENSECOIL/signaled.png" v-if="device.SENSECOIL_2.status === 'signaled'">
                <span>{{$t('ViBorder.SMS.senseCoilBack')}}</span>
              </div>
            </div>
          </div>
          <!-- 交通灯 -->
          <div class="traffic-light panel">
            <panelTitle :panelTitleInit="panelTitle.traffic"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.PLC_1.TRAFFICLIGHT_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="show-light">
              <!-- 设备状态 -->
              <div class="device-state">
                <!-- 灯 -->
                <div class="device-light">
                  <img v-if="device.TRAFFICLIGHT_1.status === 'powerOff'" src="../../assets/img/sms/TRAFFICLIGHT/powerOff.png">
                  <img v-if="device.TRAFFICLIGHT_1.status === 'greenLight'" src="../../assets/img/sms/TRAFFICLIGHT/greenLight.png">
                  <img v-if="device.TRAFFICLIGHT_1.status === 'redLight'" src="../../assets/img/sms/TRAFFICLIGHT/redLight.png">
                </div>
                <!-- 可以切换的灯 -->
                <div class="device-light">
                  <div class="traffic-light-operate">
                    <!-- 可以切换绿灯 远程手动并且是红灯-->
                    <img v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'false' && device.TRAFFICLIGHT_1.status === 'redLight'" src="../../assets/img/sms/TRAFFICLIGHT/green.png" @click="switchGreenOrRedLight('greenLight')" :title="$t('ViBorder.SMS.greenLightTitle')">
                    <!-- 不可以切换绿灯 本地或者远程自动或者远程手动绿灯-->
                    <img class="notAllow" v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'true' || (localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'true') || (autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'false' && device.TRAFFICLIGHT_1.status === 'greenLight') || device.TRAFFICLIGHT_1.status === 'powerOff'" src="../../assets/img/sms/TRAFFICLIGHT/green_gray.png" :title="$t('ViBorder.SMS.greenLightTitle')">
                  </div>
                  <div class="traffic-light-operate">
                    <!-- 可以切换红灯 远程手动并且为绿灯-->
                    <img v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'false' && device.TRAFFICLIGHT_1.status === 'greenLight'" src="../../assets/img/sms/TRAFFICLIGHT/red.png" @click="switchGreenOrRedLight('redLight')" :title="$t('ViBorder.SMS.redLightTitle')">
                    <!-- 不可以切换红灯 -->
                    <img class="notAllow" v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'true' || (localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'true') || (autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'false' && device.TRAFFICLIGHT_1.status === 'redLight') || device.TRAFFICLIGHT_1.status === 'powerOff'" src="../../assets/img/sms/TRAFFICLIGHT/red_gray.png" :title="$t('ViBorder.SMS.redLightTitle')">
                  </div>
                </div>
              </div>
              <!-- 切换自动和手动的按钮 -->
              <div class="device-state">
                <div class="traffic-operate-btn">
                  <!-- 交通灯自动不允许 本地或者远程自动-->
                  <img class="notAllow" src="../../assets/img/sms/auto.png" v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'true' || (localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'true')" :title="$t('ViBorder.SMS.autoSettingTitle')">
                  <!-- 交通灯自动允许 远程并且手动-->
                  <img src="../../assets/img/sms/auto1.png" v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'false'" @click="switchTrafficLightStatus(true)" :title="$t('ViBorder.SMS.autoSettingTitle')">
                </div>
                <div class="traffic-operate-btn">
                  <!-- 交通灯手动不允许 本地或者远程手动-->
                  <img class="notAllow" src="../../assets/img/sms/touch.png" v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'true' || (localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'false')" :title="$t('ViBorder.SMS.manualOperation')">
                  <!-- 交通灯手动允许 远程并且自动-->
                  <img src="../../assets/img/sms/touch1.png" v-if="localOrRemote.TRAFFICLIGHT_1.TL_LocalMode === 'false' && autoOrHandle.TRAFFICLIGHT_1.TL_AutoControl === 'true'" @click="switchTrafficLightStatus(false)" :title="$t('ViBorder.SMS.manualOperation')">
                </div>
              </div>
            </div>
          </div>
          <!-- rfid -->
          <div class="rfid panel">
            <panelTitle :panelTitleInit="panelTitle.rfid"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.RFID_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="show-rfid">
              <div class="receive-signal">
                <img src="../../assets/img/sms/rfid.gif">
              </div>
              <div class="show-signal">
                <el-tooltip class="item" effect="dark" :content="device.RFID_1.cardId" placement="top">
                  <span class="signal-text">{{device.RFID_1.cardId}}</span>
                </el-tooltip>
              </div>
            </div>
          </div>
          <!-- 档杆 -->
          <div class="barrier panel">
            <panelTitle :panelTitleInit="panelTitle.barrier"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.PLC_1.BARRIER_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="change-barrier">
              <!-- 设备状态 -->
              <div class="device-state">
                <!-- 档杆 -->
                <div class="device-light">
                  <img src="../../assets/img/sms/BARRIER/powerOff.png" v-if="device.BARRIER_1.status === 'powerOff'">
                  <img src="../../assets/img/sms/BARRIER/opened.png" v-if="device.BARRIER_1.status === 'opened'">
                  <img src="../../assets/img/sms/BARRIER/closed.png" v-if="device.BARRIER_1.status === 'closed'">
                  <img src="../../assets/img/sms/BARRIER/armDetached.png" v-if="device.BARRIER_1.status === 'armDetached'">
                </div>
                <!-- 可以切换的档杆 -->
                <div class="device-light">
                  <div class="traffic-light-operate">
                    <!-- 落杆 远程手动并且抬杆-->
                    <img v-if="!OPC_Bar_Admit && (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'false' && device.BARRIER_1.status === 'opened')" src="../../assets/img/sms/BARRIER/smallClosed.png" @click="switchBarrierOpenOrClose('closed')" :title="$t('ViBorder.SMS.fallingRod')">
                    <!-- 禁止点击 本地或者远程自动或者远程手动落杆-->
                    <img class="notAllow" v-if="OPC_Bar_Admit || (localOrRemote.BARRIER_1.BR_LocalMode === 'true' || (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'true') || (autoOrHandle.BARRIER_1.BR_AutoControl === 'false' && device.BARRIER_1.status === 'closed') || device.BARRIER_1.status === 'powerOff')" src="../../assets/img/sms/BARRIER/smallClosed_gray.png" :title="$t('ViBorder.SMS.fallingRod')">
                  </div>
                  <div class="traffic-light-operate">
                    <!-- 抬杆 远程手动并且落杆-->
                    <img v-if="!OPC_Bar_Admit && (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'false' && device.BARRIER_1.status === 'closed')" src="../../assets/img/sms/BARRIER/smallOpened.png" @click="switchBarrierOpenOrClose('opened')" :title="$t('ViBorder.SMS.liftingRod')">
                    <!-- 不允许点击 本地或者远程自动或者远程手动抬杆-->
                    <img class="notAllow" v-if="OPC_Bar_Admit || (localOrRemote.BARRIER_1.BR_LocalMode === 'true' || (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'true') || (autoOrHandle.BARRIER_1.BR_AutoControl === 'false' && device.BARRIER_1.status === 'opened') || device.BARRIER_1.status === 'powerOff')" src="../../assets/img/sms/BARRIER/smallOpened_gray.png" :title="$t('ViBorder.SMS.liftingRod')">
                  </div>
                </div>
              </div>
              <!-- 切换自动和手动的按钮 -->
              <div class="device-state">
                <div class="traffic-operate-btn">
                  <!-- 自动 -->
                  <!-- 不允许点击 本地或者远程自动-->
                  <img class="notAllow" src="../../assets/img/sms/auto.png" v-if="OPC_Bar_Admit || (localOrRemote.BARRIER_1.BR_LocalMode === 'true' || (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'true'))" :title="$t('ViBorder.SMS.autoSettingTitle')">
                  <!-- 可以切换自动点击 远程并且手动-->
                  <img src="../../assets/img/sms/auto1.png" v-if="!OPC_Bar_Admit && (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'false')" @click="switchBarrierStatus(true)" :title="$t('ViBorder.SMS.autoSettingTitle')">
                </div>
                <div class="traffic-operate-btn">
                  <!-- 手动 -->
                  <!-- 不允许 本地或者远程手动-->
                  <img class="notAllow" src="../../assets/img/sms/touch.png" v-if="OPC_Bar_Admit || (localOrRemote.BARRIER_1.BR_LocalMode === 'true' || (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'false'))" :title="$t('ViBorder.SMS.manualOperation')">
                  <!-- 允许 远程并且自动-->
                  <img src="../../assets/img/sms/touch1.png" v-if="!OPC_Bar_Admit && (localOrRemote.BARRIER_1.BR_LocalMode === 'false' && autoOrHandle.BARRIER_1.BR_AutoControl === 'true')" @click="switchBarrierStatus(false)" :title="$t('ViBorder.SMS.manualOperation')">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 上左的右  前车牌 -->
        <div class="top-card-banner-single">
          <div class="lpn-front panel">
            <panelTitle :panelTitleInit="panelTitle.lpnFront"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.LPR_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="box-auto">
              <div class="lpn-front-pic">
                <!-- <img src="../../assets/img/sms/defaultImage.jpg" v-if="!device.LPR_1.lprPhotoPathCsv"> -->
                <div class="no-pic-bg" v-if="!device.LPR_1.lprPhotoPathCsv"></div>
                <img v-drag :src="device.LPR_1.lprPhotoPathCsv" v-if="device.LPR_1.lprPhotoPathCsv" @mousewheel="scrollImgFront" id='drag-box' :data-url='device.LPR_1.lprPhotoPathCsv' class='drag-box' :class="{'init-image': scaleObj.lprFrontScaleInfo === 100}">
              </div>
              <div class="bottom-panel">
                <span v-if="device.LPR_1.flag === '0'">{{device.LPR_1.licensePlate}}</span>
                <span v-else></span>
                <span>{{device.LPR_1.time}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 上边右侧 后车牌 -->
      <div class="top-card-banner" :class="{'swipe-width': device.CCR_1.ocrPhotoPathCsv}">
        <!-- lpn back -->
        <div class="top-card-banner-single">
          <div class="lpn-front panel">
            <panelTitle :panelTitleInit="panelTitle.lpnBack"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.LPR_2.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="box-auto">
              <div class="lpn-front-pic" id='drag-box-parent'>
                <!-- <img src="../../assets/img/sms/defaultImage.jpg" v-if="!device.LPR_2.lprPhotoPathCsv"> -->
                <div class="no-pic-bg" v-if="!device.LPR_2.lprPhotoPathCsv"></div>
                <img v-drag :src="device.LPR_2.lprPhotoPathCsv" v-if="device.LPR_2.lprPhotoPathCsv" @mousewheel="scrollImgBack" id='drag-back' :data-url='device.LPR_2.lprPhotoPathCsv' class='drag-back' :class="{'init-image': scaleObj.lprBackScaleInfo === 100}">
              </div>
              <div class="bottom-panel">
                <span v-if="device.LPR_2.flag === '0'">{{device.LPR_2.licensePlate}}</span>
                <span v-else></span>
                <span>{{device.LPR_2.time}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- ccr -->
        <div class="top-card-banner-single">
          <div class="lpn-front panel">
            <panelTitle :panelTitleInit="panelTitle.ccr"></panelTitle>
            <div class="modal-box" v-if="deviceErrMsg.CCR_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
            <div class="box-auto">
              <div class="ccr-carousel">
                <el-carousel trigger="click" arrow="always" :autoplay="false" v-if="device.CCR_1.ocrPhotoPathCsv">
                  <el-carousel-item v-for="(item, index) in device.CCR_1.ocrPhotoPathCsv" :key="index">
                    <img v-drag ref="swiperScroll" class='ccr-box' :class="[`ccr-box-${index}`, {'init-image': scaleObj.ccrScaleInfo === 100}]" :src="item" alt="" @mousewheel="scrollCCR($event, index)">
                  </el-carousel-item>
                </el-carousel>
                <!-- <img src="../../assets/img/sms/defaultImage.jpg" v-if="!device.CCR_1.ocrPhotoPathCsv"> -->
                <div class="no-pic-bg" v-if="!device.CCR_1.ocrPhotoPathCsv"></div>
              </div>
              <div class="bottom-panel">
                <span>{{device.CCR_1.containerNumberCsv}}</span>
                <span>{{device.CCR_1.time}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="middle-left">
        <!-- lwh -->
        <div class="lwh panel">
          <panelTitle :panelTitleInit="panelTitle.lwh"></panelTitle>
          <div class="modal-box" v-if="deviceErrMsg.LMI_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
          <div class="show-lwh">
            <div class="show-lwh-pic">
              <img class="car-pic" src="../../assets/img/sms/LWH/LWH.png">
              <img src="../../assets/img/sms/LWH/lmiComing.png" class="the-car-img" v-if="device.LANE_1.occupancy === 'true' || device.IMC_1.status === 'vehicleIn' || device.IMC_1.status === 'vehicleReverse' || device.IMC_1.status === 'vehicleInAbnormal'" @click="clearChannelOccupy">
              <div v-else class="none-pic"></div>
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_0.png" alt="sensorLeft" v-if="!device.LMI_1.sensorLeft">
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_0.png" alt="sensorLeft" v-show="device.LMI_1.sensorLeft==='0'">
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_1.png" alt="sensorLeft" v-show="device.LMI_1.sensorLeft==='1'">
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_2.png" alt="sensorLeft" v-show="device.LMI_1.sensorLeft==='2'">
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_3.png" alt="sensorLeft" v-show="device.LMI_1.sensorLeft==='3'">
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_4.png" alt="sensorLeft" v-show="device.LMI_1.sensorLeft==='4'">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_0.png" alt="sensorRight" v-if="!device.LMI_1.sensorRight">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_0.png" alt="sensorRight" v-show="device.LMI_1.sensorRight==='0'">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_1.png" alt="sensorRight" v-show="device.LMI_1.sensorRight==='1'">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_2.png" alt="sensorRight" v-show="device.LMI_1.sensorRight==='2'">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_3.png" alt="sensorRight" v-show="device.LMI_1.sensorRight==='3'">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_4.png" alt="sensorRight" v-show="device.LMI_1.sensorRight==='4'">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_0.png" alt="sensorFront" v-if="!device.LMI_1.sensorFront">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_0.png" alt="sensorFront" v-show="device.LMI_1.sensorFront==='0'">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_1.png" alt="sensorFront" v-show="device.LMI_1.sensorFront==='1'">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_2.png" alt="sensorFront" v-show="device.LMI_1.sensorFront==='2'">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_3.png" alt="sensorFront" v-show="device.LMI_1.sensorFront==='3'">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_4.png" alt="sensorFront" v-show="device.LMI_1.sensorFront==='4'">
            </div>
            <div class="show-lwh-info">
              <div class="info-detail">
                <span>{{$t('ViBorder.businessLogicCommon.length')}}</span><span :class="Number(device.LMI_1.length) > Number(validations.LENGTH) ? 'info-detail-err' : 'info-detail-noErr'">{{device.LMI_1.length}}</span>
              </div>
              <div class="info-detail">
                <span>{{$t('ViBorder.businessLogicCommon.width')}}</span><span :class="Number(device.LMI_1.width) > Number(validations.WIDTH) ? 'info-detail-err' : 'info-detail-noErr'">{{device.LMI_1.width}}</span>
              </div>
              <div class="info-detail">
                <span>{{$t('ViBorder.businessLogicCommon.height')}}</span><span :class="Number(device.LMI_1.height) > Number(validations.HEIGHT) ? 'info-detail-err' : 'info-detail-noErr'">{{device.LMI_1.height}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- weight -->
        <div class="weight panel">
          <panelTitle :panelTitleInit="panelTitle.weight"></panelTitle>
          <div class="modal-box" v-if="deviceErrMsg.QWM_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif"></div>
          <div class="weight-info">
            <div class="top-info">
              <div class="detail-info">
                <span class="title">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</span>
                <span class="text" :class="Number(device.QWM_1.weight) > Number(validations.TOTALWEIGHT) ? 'info-detail-err' : 'info-detail-noErr'">{{device.QWM_1.weight}}</span>
              </div>
              <div class="detail-info">
                <span class="title">{{$t('ViBorder.SMS.speed')}}</span>
                <span class="text">{{device.QWM_1.speed}}</span>
              </div>
            </div>
            <!-- <ComTable :tableData='weightTableData' :tableGroup='weightTableGroup'></ComTable> -->
            <div class="tableComp">
              <el-table :data="weightTableData.data" border style="width: 100%">
                <el-table-column prop="No" width=50 :label="$t('ViBorder.common.No')"> </el-table-column>
                <el-table-column :label="$t('ViBorder.businessLogicCommon.axleWeight')">
                  <template slot-scope="scope">
                    <span v-if="Number(scope.row.aweight) > Number(validations.AXLEWEIGHT)" style="color: red">{{scope.row.aweight}}</span>
                    <span v-else>{{scope.row.aweight}}</span>
                </template>
                </el-table-column>
                <el-table-column prop="distance" :label="$t('ViBorder.SMS.wheelbase')"> </el-table-column>
              </el-table>
            </div>
            <!-- <div class="table-info">
            </div> -->
          </div>
        </div>
      </div>
      <div class="middle-right">
        <!-- X-ray Image -->
        <div class="x-ray panel">
          <panelTitle :panelTitleInit="panelTitle.xRay">
            <div class="operate-btn-group">
              <!-- 禁止进车 -->
              <i :title="$t('ViBorder.SMS.vehicleForbidden')" class="iconfont" v-if="deviceErrMsg.NII_1.status === 'ipcWell' && NII_OPC.OPC_Admit === 'false'">&#xe664;</i>
              <!-- 故障 -->
              <i :title="$t('ViBorder.SMS.deviceMalfunction')" class="iconfont" v-if="deviceErrMsg.NII_1.status === 'ipcWell' && NII_OPC.OPC_Malfunction === 'true'">&#xe666;</i>
            </div>
          </panelTitle>
          <div class="modal-box" v-if="deviceErrMsg.NII_1.status === 'ipcFaulty'"><img src="../../assets/img/sms/noConnection.gif" v-if="canvas.showWarning"></div>
          <div class="canvas-prompt" v-if="canvas.showWarning">
            <P>{{canvas.warningMessage}}</p>
          </div>
          <div class="canvas-draw-img" id="con_bt" v-if="!canvas.showWarning">
            <!-- <div class="modal-warning" v-if="canvas.showWarning">{{canvas.warningMessage}}</div> -->
            <div id="scanImageDiv" style="width: 100%; white-space: nowrap;">
              <canvas id="can">
                {{$t('ViBorder.SMS.friendlyReminder')}}
              </canvas>
            </div>
            <!-- <img src="../../assets/img/sms/defaultImage.jpg" v-if="!device.CCR_1.ocrPhotoPathCsv.length"> -->
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="table-show-data panel">
        <!-- <panelTitle :panelTitleInit="panelTitle.lpnFront"></panelTitle> -->
        <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
        <div class="more" @click="jump2Query">{{$t('ViBorder.SMS.searchMore')}} >></div>
      </div>
    </div>
  </div>
</template>

<script>
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import handleData from '../../api/SMS/sms.js'
import {dealNIIimage} from '../../components/SMS/canvas.js'
import initConfirmData from '../../components/common/commonData.js'
import { connect, disconnect } from '../../components/common/ws.js'
export default {
  data () {
    return {
      audioFlag: {
        PLC_1: true, // 地感前
        LPR_1: true,
        LPR_2: true,
        RFID_1: true,
        LMI_1: true,
        QWM_1: true,
        CCR_1: true,
        NII_1: true
      },
      scaleInfo: 100,
      scaleObj: {
        lprFrontScaleInfo: '',
        lprBackScaleInfo: '',
        ccrScaleInfo: ''
      },
      audioTimeout: '',
      notifyOffset: window.config.notifyOffset,
      defaultOptions: {},
      deviceStatusParm: {},
      canvas: {
        showWarning: true,
        warningMessage: this.$t('ViBorder.SMS.notScan'),
        canvasHeight: '',
        canvasWidth: ''
      },
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      WSClient: '',
      validations: { // 标准参照参数
        LENGTH: '',
        WIDTH: '',
        HEIGHT: '',
        TOTALWEIGHT: '',
        AXLEWEIGHT: ''
      },
      localOrRemote: { // 远程还是本地
        TRAFFICLIGHT_1: {
          TL_LocalMode: 'false'
        },
        BARRIER_1: {
          BR_LocalMode: 'false'
        }
      },
      autoOrHandle: { // 是否为自动
        TRAFFICLIGHT_1: {
          TL_AutoControl: 'true'
        },
        BARRIER_1: {
          BR_AutoControl: 'true'
        }
      },
      lmisensor: { // 初始化长宽高三个灯的状态
        sensorLeft: '0',
        sensorRight: '0',
        sensorFront: '0'
      },
      lwhFirst: {
        length: '',
        width: '',
        height: ''
      },
      deviceErrMsg: { // 有错误的时候图片不能消失 所以用参数接一下
        PLC_1: {
          SENSECOIL_1: { // 电感前
            status: ''
          },
          SENSECOIL_2: { // 地感后
            status: ''
          },
          TRAFFICLIGHT_1: { // 交通灯
            status: ''
          },
          BARRIER_1: { // 档杆
            status: ''
          }
        },
        RFID_1: { // 前车牌图像
          status: ''
        },
        LPR_1: { // 前车牌图像
          status: ''
        },
        LPR_2: { // 后车牌图像
          status: ''
        },
        CCR_1: {
          status: ''
        },
        QWM_1: {
          status: ''
        },
        NII_1: {
          status: ''
        },
        IMC_1: {
          status: ''
        },
        VDM_1: {
          status: ''
        },
        LMI_1: {
          status: ''
        }
      },
      device: { // 设备信息
        SENSECOIL_1: { // 地感前车牌
          status: 'nonsignaled'
        },
        SENSECOIL_2: { // 地感后
          status: 'nonsignaled'
        },
        TRAFFICLIGHT_1: { // 交通灯
          status: 'greenLight'
        },
        PLC_1: {
          status: 'ipcWell'
        },
        RFID_1: { // rfid
          status: '',
          cardId: ''
        },
        BARRIER_1: { // 档杆
          status: 'closed'
        },
        LPR_1: { // 前车牌图像
          status: '',
          licensePlate: '', // 车牌号
          lprPhotoPathCsv: '' // 图片路径
        },
        LPR_2: { // 后车牌图像
          status: '',
          licensePlate: '',
          lprPhotoPathCsv: ''
        },
        LMI_1: { // 长宽高
          status: '',
          sensorLeft: '0',
          sensorRight: '0',
          sensorFront: '0',
          length: '',
          width: '',
          height: ''
        },
        CCR_1: {
          status: '',
          result: '',
          containerNumberCsv: '',
          ocrPhotoPathCsv: ''
        },
        QWM_1: {
          status: '',
          direction: '',
          level: '',
          axlenum: '',
          weight: '',
          speed: '',
          begin: '',
          end: '',
          axles: ''
        },
        NII_1: {
          status: ''
        },
        IMC_1: {
          status: ''
        },
        VDM_1: {
          status: ''
        },
        LANE_1: {
          status: ''
        }
      },
      NII_OPC: {
        OPC_Admit: '',
        OPC_Malfunction: ''
      },
      panelTitle: { // title组件数据
        snese: {
          title: this.$t('ViBorder.SMS.senseCoil')
        },
        traffic: {
          title: this.$t('ViBorder.SMS.trafficLight')
        },
        rfid: {
          title: this.$t('ViBorder.businessLogicCommon.rfid')
        },
        barrier: {
          title: this.$t('ViBorder.SMS.barrier')
        },
        lpnFront: {
          title: this.$t('ViBorder.businessLogicCommon.lprTab')
        },
        lpnBack: {
          title: this.$t('ViBorder.businessLogicCommon.lprBackTab')
        },
        ccr: {
          title: this.$t('ViBorder.SMS.ccr')
        },
        lwh: {
          title: this.$t('ViBorder.SMS.lwh')
        },
        weight: {
          title: this.$t('ViBorder.SMS.weight')
        },
        xRay: {
          title: this.$t('ViBorder.SMS.xrayImage')
        }
      },
      weightTableData: {
        data: []
      },
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '120',
        refName: 'multipleTable',
        sortMethod: this.none // 新增排序方法
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'text',
          model: 'licensePlateNumberBack'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.containerNo'),
          type: 'text',
          model: 'containerNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.length'),
          type: 'text',
          model: 'vehicleLength'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.width'),
          type: 'text',
          model: 'vehicleWidth'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.height'),
          type: 'text',
          model: 'vehicleHeight'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.totalWeight'),
          type: 'text',
          model: 'vehicleWeight'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.laneEnteringTime'),
          type: 'text',
          model: 'enterTunnelTime',
          width: ''
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'text',
          model: 'vehicleStatus.key'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          width: '150px',
          model: 'operation',
          fixed: 'right'
        }
      ],
      operation: [ // 表格操作
        {
          func: this.finish,
          show: true,
          label: `<i class="iconfont editTable">&#xe61a;</i>`,
          title: this.$t('ViBorder.common.endTask')
        },
        {
          func: this.none,
          show: true,
          label: `<i class="iconfont edit-table-not-allow">&#xe61a;</i>`,
          title: this.$t('ViBorder.common.endTask')
        }
      ],
      OPC_Bar_Admit: false
    }
  },
  created () {
    this.defaultOptions = {site: localStorage.smsSite, laneNumber: localStorage.smsLaneNumber} // 默认的车辆和道号
    this.deviceStatusParm = {...this.defaultOptions, ...{deviceNumber: '1', source: 'MEASUREDMENT'}} // 切换设备状态的时候需要传参
    this.getVehicleMeasureList(this.defaultOptions) // 获取下方测量表格数据
    // sockjs连接
    this.connectWebSocket()
  },
  mounted () {
    var key = document.getElementsByClassName('signal-text')
    for (var i = 0; i < key.length; i++) {
      key[i].setAttribute('tabindex', -1)
    }
    window.onresize = () => {
      let clientWidth = document.body.clientWidth
      let canvas = document.querySelector('#canvas')
      if (this.f_IsFullScreen()) {
        this.tableData.MaxHeight = 160
      } else {
        this.tableData.MaxHeight = 120
      }
    }
    let a = this.getDeviceStatus(this.defaultOptions) // 获取设备状态
    let b = this.getMeasureValidation(this.defaultOptions) // 获取测量基准值
    let c = this.getLmiStatusRequest() // 获取长宽高激光头
    Promise.all([a, b, c]).then(res => {
    }).catch(err => {
      console.log('err', err)
    })
  },
  beforeDestroy () {
    disconnect({client: this.WSClient})
    this.toggleWarningAudio(false)
  },
  methods: {
    f_IsFullScreen () {
      return (document.body.scrollHeight === window.screen.height && document.body.scrollWidth === window.screen.width)
    },
    toggleWarningAudio (bool) {
      this.$store.commit({
        type: 'audioAndLight',
        audio: bool
      })
    },
    audioStopFlag () { // 用于判断是否保留报警灯和报警声音
      let audioFlag = ''
      if (this.audioFlag.PLC_1 && this.audioFlag.LPR_1 && this.audioFlag.LPR_2 && this.audioFlag.RFID_1 && this.audioFlag.LMI_1 && this.audioFlag.QWM_1 && this.audioFlag.CCR_1 && this.audioFlag.NII_1) {
        audioFlag = true
      } else {
        audioFlag = false
      }
      return audioFlag
    },
    sleepCloseAudio () {
      this.audioTimeout = setTimeout(() => {
        this.toggleWarningAudio(false)
      }, 60000)
    },
    transEle ({initEle, TranScale}) { // 根据不同类型改变样式
      let eleObj = {
        lprFront: () => {
          this.scaleObj.lprFrontScaleInfo = TranScale
        },
        lprBack: () => {
          this.scaleObj.lprBackScaleInfo = TranScale
        },
        ccr: () => {
          this.scaleObj.ccrScaleInfo = TranScale
        }
      }
      eleObj[initEle]()
    },
    zoom ({el, mode, initEle}) {
      let scale = this.scaleInfo
      let TranScale = ''
      if (mode === 'zoomIn') {
        TranScale = parseInt(scale + 10)
        if (TranScale > 200) {
          return false
        }
      } else if (mode === 'zoomOut') {
        TranScale = parseInt(scale - 10)
        if (TranScale < 50) {
          return false
        }
      }
      this.transEle({initEle, TranScale})
      this.scaleInfo = TranScale
      if (el) {
        el.style.left = ''
        el.style.top = ''
      }
      el.style.transform = `rotate(0deg)scale(${TranScale / 100}, ${TranScale / 100})`
    },
    getCcrDOMElement (index) { // 动态获取DOM元素
      let DOM = `DOM_${index}`
      let DOMEle = {
        [DOM]: document.querySelector(`.ccr-box-${index}`)
      }
      return DOMEle[DOM]
    },
    scrollImgFront (e) {
      const el = document.querySelector('.drag-box')
      if (e.wheelDelta > 0) {
        this.zoom({el, mode: 'zoomIn', initEle: 'lprFront'})
      } else {
        this.zoom({el, mode: 'zoomOut', initEle: 'lprFront'})
      }
    },
    scrollImgBack (e) {
      const el = document.querySelector('.drag-back')
      if (e.wheelDelta > 0) {
        this.zoom({el, mode: 'zoomIn', initEle: 'lprBack'})
      } else {
        this.zoom({el, mode: 'zoomOut', initEle: 'lprBack'})
      }
    },
    scrollCCR (e, index) {
      let el = this.getCcrDOMElement(index)
      if (e.wheelDelta > 0) {
        this.zoom({el, mode: 'zoomIn', initEle: 'ccr'})
      } else {
        this.zoom({el, mode: 'zoomOut', initEle: 'ccr'})
      }
    },
    connectWebSocket () { // 连接socket
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(baseUrl + viborderStompWebsocket)
      // console.log('baseUrl + viborderStompWebsocket', baseUrl + viborderStompWebsocket)
      this.WSClient = Stomp.over(socket) // 实例化
      let path1 = `/topic/eventTopic_${localStorage.smsSite}_${localStorage.smsLaneNumber}`
      let path2 = `/topic/commandTopic_${localStorage.smsSite}_${localStorage.smsLaneNumber}`
      let path3 = `/topic/thumbnailTopic_${localStorage.smsSite}_${localStorage.smsLaneNumber}`
      let scb1 = (msg) => { // 针对订阅路径处理推送逻辑
        this.setSocketLogic({msg})
      }
      let scb2 = (msg) => {
        this.socketUpdateTableData({msg})
      }
      let scb3 = (msg) => {
        this.socketUpdateCanvas(msg)
      }
      let subscribeData = [
        {
          path: path1,
          scb: scb1
        },
        {
          path: path2,
          scb: scb2
        },
        {
          path: path3,
          scb: scb3
        }
      ]
      connect({client: this.WSClient, subscribeData, header: 'MEASUREDMENT', reconCallBack: this.connectWebSocket})
    },
    confirmModal (parm) { // 信息确认
      this.$confirm(parm.tips, initConfirmData.confirm()).then(() => {
        if (parm.scb && parm.scb()) {
          this.$notify({
            title: this.$t('ViBorder.common.successfuly'),
            type: 'success',
            message: this.$t('ViBorder.common.successfuly'),
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    setSocketLogic ({msg}) { // websocket 推送页面逻辑
      let deviceKey = ['CCR_1', 'LPR_1', 'LPR_2', 'LMI_1', 'QWM_1', 'NII_1', 'RFID_1']
      if (deviceKey.includes(msg.device)) {
        if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
          this.deviceErrMsg[msg.device] = msg.body
        } else {
          if (msg.body.status === 'niiAdmit') {
            this.NII_OPC.OPC_Admit = msg.body.OPC_Admit
          } else if (msg.body.status === 'niiSystemState') {
            this.NII_OPC.OPC_Malfunction = msg.body.OPC_Malfunction
          } else {
            this.device[msg.device] = msg.body
          }
        }
      }
      switch (msg.device) {
        case 'NII_1':
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag.NII_1 = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag.NII_1 = true
          }
          // D车模式
          if (msg.body.status === 'niiBarAdmit') {
            if (msg.body.OPC_Bar_Admit === 'true') {
              this.OPC_Bar_Admit = true
            } else {
              this.OPC_Bar_Admit = false
            }
          }
          break
        case 'PLC_1': // plc
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag.PLC_1 = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag.PLC_1 = true
          }
          if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
            for (const key in this.deviceErrMsg.PLC_1) {
              this.deviceErrMsg.PLC_1[key].status = msg.body.status
            }
          } else {
            this.device[msg.device] = msg.body
          }
          break
        case 'TRAFFICLIGHT_1': // 交通灯
          if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
            this.deviceErrMsg.PLC_1[msg.device].status = msg.body.status
          } else {
            if (msg.body.TL_LocalMode === 'false') { // 远程
              this.localOrRemote.TRAFFICLIGHT_1.TL_LocalMode = 'false'
            } else if (msg.body.TL_LocalMode === 'true') { // 本地
              this.localOrRemote.TRAFFICLIGHT_1.TL_LocalMode = 'true'
            } else if (msg.body.TL_AutoControl === 'false') { // 手动
              this.localOrRemote.TRAFFICLIGHT_1.TL_AutoControl = 'false'
            } else if (msg.body.TL_AutoControl === 'true') { // 自动
              this.localOrRemote.TRAFFICLIGHT_1.TL_AutoControl = 'true'
            } else if (msg.body.status !== 'switchFailure') {
              this.device[msg.device] = msg.body
            }
            if (msg.body.status === 'switchFailure') {
              this.$notify.error({
                title: this.$t('ViBorder.common.dataError'),
                message: this.$t('ViBorder.SMS.lightSwitchFailed'),
                duration: 5000,
                offset: this.notifyOffset
              })
            }
          }
          break
        case 'BARRIER_1': // 档杆
          if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
            this.deviceErrMsg.PLC_1[msg.device].status = msg.body.status
          } else {
            if (msg.body.BR_LocalMode === 'false') {
              this.localOrRemote.BARRIER_1.BR_LocalMode = 'false'
            } else if (msg.body.BR_LocalMode === 'true') {
              this.localOrRemote.BARRIER_1.BR_LocalMode = 'true'
            } else if (msg.body.BR_AutoControl === 'false') {
              this.localOrRemote.BARRIER_1.BR_AutoControl = 'false'
            } else if (msg.body.BR_AutoControl === 'true') {
              this.localOrRemote.BARRIER_1.BR_AutoControl = 'true'
            }
            let statusArr = ['boxUp', 'boxDown', 'openFailure', 'closeFailure', 'localMode', 'autoControl']
            if (!statusArr.includes(msg.body.status)) {
              this.device[msg.device] = msg.body
            }
            // if (msg.body.status !== 'boxUp' && msg.body.status !== 'boxDown' && msg.body.status !== 'openFailure' && msg.body.status !== 'closeFailure' && msg.body.status !== 'localMode' && msg.body.status !== 'autoControl') {
            //   this.device[msg.device] = msg.body
            // }
            if (msg.body.status === 'openFailure') {
              this.$notify.error({
                title: this.$t('ViBorder.common.dataError'),
                message: this.$t('ViBorder.SMS.leverLiftFailed'),
                duration: 5000,
                offset: this.notifyOffset
              })
            } else if (msg.body.status === 'closeFailure') {
              this.$notify.error({
                title: this.$t('ViBorder.common.dataError'),
                message: this.$t('ViBorder.SMS.leverFallFailed'),
                duration: 5000,
                offset: this.notifyOffset
              })
            }
          }
          break
        case 'SENSECOIL_1':case 'SENSECOIL_2': // 地感前、后
          if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
            for (const key in this.deviceErrMsg.PLC_1) {
              this.deviceErrMsg.PLC_1[key].status = msg.body.status
            }
          } else {
            this.device[msg.device] = msg.body
          }
          break
        // case 'SENSECOIL_2': // 地感前、后
        //   if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
        //     for (const key in this.deviceErrMsg.PLC_1) {
        //       this.deviceErrMsg.PLC_1[key].status = msg.body.status
        //     }
        //   } else {
        //     this.device[msg.device] = msg.body
        //   }
        //   break
        case 'LPR_1':case 'LPR_2':// 前车牌、后
          let obj = {
            LPR_1: 'lprFrontScaleInfo',
            LPR_2: 'lprBackScaleInfo'
          }
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag[msg.device] = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag[msg.device] = true
          }
          this.scaleObj[obj[msg.device]] = 100
          msg.body.lprPhotoPathCsv && (this.device[msg.device].lprPhotoPathCsv = `${this.lprFolder}${msg.body.lprPhotoPathCsv}`) // 拼lpr地址
          msg.body.time = this.$formatDateTime(new Date(msg.body.time), this.$t('ViBorder.common.formatDate'))
          break
        // case 'LPR_2': // 前车牌、后
        //   if (msg.body.status === 'ipcFaulty') {
        //     this.audioFlag.LPR_2 = false
        //   } else if (msg.body.status === 'ipcWell') {
        //     this.audioFlag.LPR_2 = true
        //   }
        //   this.scaleObj.lprBackScaleInfo = 100
        //   msg.body.lprPhotoPathCsv && (this.device[msg.device].lprPhotoPathCsv = `${this.lprFolder}${msg.body.lprPhotoPathCsv}`) // 拼lpr地址
        //   msg.body.time = this.$formatDateTime(new Date(msg.body.time), this.$t('ViBorder.common.formatDate'))
        //   break
        case 'RFID_1': // rfid
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag.RFID_1 = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag.RFID_1 = true
          }
          if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
            this.deviceErrMsg[msg.device] = msg.body
          } else {
            this.device[msg.device] = msg.body
          }
          break
        case 'LMI_1': // 长宽高
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag.LMI_1 = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag.LMI_1 = true
          }
          if (msg.body.status === 'ipcFaulty' || msg.body.status === 'ipcWell') {
            this.deviceErrMsg[msg.device] = msg.body
          } else {
            if (msg.body.height || msg.body.length || msg.body.width) {
              this.lwhFirst = msg.body
            }
            if (msg.body.sensorFront || msg.body.sensorLeft || msg.body.sensorRight) {
              this.lmisensor = msg.body
            }
            this.device[msg.device] = {...msg.body, ...this.lmisensor, ...this.lwhFirst}
          }
          break
        case 'QWM_1': // 称重表格数据
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag.QWM_1 = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag.QWM_1 = true
          }
          if (msg.body.axles) {
            this.weightTableData.data = msg.body.axles
            this.weightTableData.data.forEach((e, index) => { // 插入序号
              e['No'] = index + 1
            })
          }
          break
        case 'CCR_1': // 轮播图改变url
          this.scaleObj.ccrScaleInfo = 100
          if (msg.body.status === 'ipcFaulty') {
            this.audioFlag.CCR_1 = false
          } else if (msg.body.status === 'ipcWell') {
            this.audioFlag.CCR_1 = true
          }
          if (msg.body.ocrPhotoPathCsv) {
            let ccrImg = msg.body.ocrPhotoPathCsv.split(',')
            msg.body.time = this.$formatDateTime(new Date(msg.body.time), this.$t('ViBorder.common.formatDate'))
            if (ccrImg.length) {
              let swiperArr = []
              ccrImg.forEach(e => {
                swiperArr.push(`${this.ccrFolder}${e}`)
              })
              this.device[msg.device].ocrPhotoPathCsv = swiperArr
            }
          }
          this.device[msg.device].containerNumberCsv = msg.body.containerNumberCsv && msg.body.containerNumberCsv.replace(/(^,*)|(,*$)/g, '')
          break
        case 'VDM_1':
          if (msg.body.status === 'vehicleLeave') {
            this.device[msg.device] = msg.body
          }
          break
        case 'IMC_1': // 车辆非法进入
          if (msg.body.status === 'vehicleReverse' || msg.body.status === 'vehicleInAbnormal') {
            msg.body.time = this.$formatDateTime(new Date(msg.body.time), this.$t('ViBorder.common.formatDate')) // 处理时间
            let closeAuido = () => {
              let audioflag = this.audioStopFlag()
              if (audioflag) {
                this.toggleWarningAudio(false)
              }
            }
            if (this.audioTimeout) {
              clearTimeout(this.audioTimeout)
            }
            this.toggleWarningAudio(true)
            this.sleepCloseAudio()
            this.$notify.error({
              title: `${msg.body.status}`,
              message: `${msg.body.time}`,
              onClose: closeAuido,
              duration: 5000,
              offset: this.notifyOffset
            })
          }
          if (msg.body.status !== 'vehicleArrive') {
            this.device[msg.device] = msg.body
          }
          break
      }
      if (msg.body.status === 'ipcFaulty') {
        if (this.audioTimeout) {
          clearTimeout(this.audioTimeout)
        }
        this.toggleWarningAudio(true)
        this.sleepCloseAudio()
      } else if (msg.body.status === 'ipcWell') {
        let flag = this.audioStopFlag()
        if (flag) {
          this.toggleWarningAudio(false)
        }
      }
      // console.log('deviceErrMsg', this.deviceErrMsg)
      // console.log('this.device bottom bottom', this.device)
      // console.log('this.localOrRemote', this.localOrRemote)
      // console.log('this.autoOrHandle', this.autoOrHandle)
    },
    socketUpdateTableData ({msg}) { // 订阅2更新最下方表格数据
      if (msg.command && msg.command === 'vehicleScan') { // 等待扫描
        this.canvas.warningMessage = this.$t('ViBorder.SMS.waitingScan')
        this.canvas.showWarning = true
      }
      if (msg.body && msg.body.status === 'niiFSInterlock' && msg.body.OPC_FSInterlock === 'false') { // 不需要扫描
        this.canvas.warningMessage = this.$t('ViBorder.SMS.notScan')
        this.canvas.showWarning = true
      }
      if (msg.command && msg.command === 'vehicleRefresh') {
        // console.log('刷新表格数据')
        this.getVehicleMeasureList(this.defaultOptions)
      }
    },
    socketUpdateCanvas (msg) {
      this.canvas.showWarning = false
      setTimeout(function () { // 增加了一个延时，不然初始化画布会有问题（前面有空白）
        dealNIIimage(msg.body)
      }, 500)
    },
    getMeasureValidation (parm) { // 获取校验数据
      handleData._measureValidation(parm).then(res => {
        if (res.data.flag) {
          let {result} = res.data
          this.validations = result
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getVehicleMeasureList (parm) { // 测量的表格数据
      let o = {
        startTime: new Date(new Date(new Date().toLocaleDateString())).getTime(),
        endTime: new Date(new Date(new Date().toLocaleDateString()).getTime() + 24 * 60 * 60 * 1000 - 1).getTime(),
        size: 3,
        page: 0
      }
      handleData._vehicleMeasure({...parm, ...o}).then(res => {
        // console.log('res刷新表格数据', res)
        if (res.data.flag) {
          let {content} = res.data.result.measureVo
          if (!content.length) {
            return false
          }
          content.forEach(e => {
            // e.operation = this.operation
            if (e.vehicleStatus.value === 'MEASURING' || e.vehicleStatus.value === 'XRAYSCANNING') { // 允许点击
              e.operation = [this.operation[0]]
            } else {
              e.operation = [this.operation[1]]
            }
            e.enterTunnelTime = e.enterTunnelTime && this.$formatDateTime(new Date(e.enterTunnelTime), this.$t('ViBorder.common.formatDate'))
            e.vehicleStatus.key = this.$t(`${e.vehicleStatus.key}`)
          })
          this.$data.tableData.data = content
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getDeviceStatus (parm) { // 初始化获取设备状态信息
      handleData._initDeviceStatus(this.defaultOptions).then(res => {
        if (res.data.flag) {
          let deviceKey = ['CCR_1', 'LANE_1', 'LPR_1', 'LPR_2', 'LMI_1', 'QWM_1', 'NII_1', 'RFID_1']
          res.data.result.forEach(e => {
            if (e.device !== 'DVR_1') {
              if (e.body.status === 'ipcFaulty') {
                if (this.audioTimeout) {
                  clearTimeout(this.audioTimeout)
                }
                this.toggleWarningAudio(true)
                this.sleepCloseAudio()
              }
              if (deviceKey.includes(e.device)) {
                if (e.body.status === 'ipcFaulty' || e.body.status === 'ipcWell') {
                  this.deviceErrMsg[e.device] = e.body
                } else {
                  this.device[e.device] = e.body
                }
              }
            } else if (deviceKey.includes(e.device)) {
              if (e.body.status === 'ipcFaulty' || e.body.status === 'ipcWell') {
                this.deviceErrMsg[e.device] = e.body
              } else {
                this.device[e.device] = e.body
              }
            }
            switch (e.device) {
              case 'NII_1':
                if (e.body.status === 'ipcFaulty') {
                  this.audioFlag.NII_1 = false
                } else if (e.body.status === 'ipcWell') {
                  // 取消图标
                  this.NII_OPC.OPC_Admit = ''
                  this.NII_OPC.OPC_Malfunction = ''
                  // 显示无需扫描
                  this.canvas.showWarning = true
                  this.audioFlag.NII_1 = true
                }
                // D车模式
                if (e.body.OPC_Bar_Admit === 'true') {
                  this.OPC_Bar_Admit = true
                } else {
                  this.OPC_Bar_Admit = false
                }
                this.NII_OPC.OPC_Admit = e.body.OPC_Admit
                this.NII_OPC.OPC_Malfunction = e.body.OPC_Malfunction
                break
              case 'RFID_1':case 'LPR_1':case 'LPR_2':
                if (e.body.status === 'ipcFaulty') {
                  this.audioFlag[e.device] = false
                } else if (e.body.status === 'ipcWell') {
                  this.audioFlag[e.device] = true
                }
                break
              case 'SENSECOIL_1':case 'SENSECOIL_2': // 地感前
                if (!e.body.status) {
                  this.deviceErrMsg.PLC_1[e.device].status = 'nonsignaled'
                } else {
                  this.device[e.device] = e.body
                }
                if (e.body.status !== 'signaled') {
                  this.device.SENSECOIL_1.status = 'nonsignaled'
                  this.device.SENSECOIL_2.status = 'nonsignaled'
                }
                break
              case 'PLC_1': // plc
                if (e.body.status === 'ipcFaulty') {
                  this.audioFlag.PLC_1 = false
                } else if (e.body.status === 'ipcWell') {
                  this.audioFlag.PLC_1 = true
                }
                // console.log('e.body.status', e.body.status)
                if (e.body.status === 'ipcFaulty' || e.body.status === 'ipcWell') {
                  for (const key in this.deviceErrMsg.PLC_1) {
                    this.deviceErrMsg.PLC_1[key].status = e.body.status
                  }
                } else {
                  this.device[e.device] = e.body
                }
                break
              case 'TRAFFICLIGHT_1': // 交通灯
                if (e.body.status === 'ipcFaulty' || e.body.status === 'ipcWell') {
                  this.deviceErrMsg.PLC_1[e.device].status = e.body.status
                }
                if (!e.body.TL_LocalMode) {
                  e.body.TL_LocalMode = 'false'
                }
                if (!e.body.TL_AutoControl) {
                  e.body.TL_AutoControl = 'true'
                }
                if (e.body.status !== 'greenLight' && e.body.status !== 'redLight') {
                  this.device.TRAFFICLIGHT_1.status = 'powerOff'
                } else {
                  this.device[e.device] = e.body
                }
                this.localOrRemote.TRAFFICLIGHT_1 = e.body
                this.autoOrHandle.TRAFFICLIGHT_1 = e.body
                break
              case 'BARRIER_1': // 档杆
                // if (e.body.status === 'ipcFaulty' || e.body.status === 'ipcWell') {
                //   this.deviceErrMsg.PLC_1[e.device].status = 'closed'
                // }
                if (!e.body.BR_LocalMode) {
                  e.body.BR_LocalMode = 'false'
                  // this.device[e.device] = e.body
                }
                if (!e.body.BR_AutoControl) {
                  e.body.BR_AutoControl = 'true'
                }
                if (e.body.status !== 'opened' && e.body.status !== 'closed' && e.body.status !== 'armDetached') {
                  this.device.BARRIER_1.status = 'powerOff'
                } else {
                  this.device[e.device] = e.body
                }
                this.localOrRemote.BARRIER_1 = e.body
                this.autoOrHandle.BARRIER_1 = e.body
                break
              case 'LMI_1': // 长宽高
                if (e.body.status === 'ipcFaulty') {
                  this.audioFlag.LMI_1 = false
                } else if (e.body.status === 'ipcWell') {
                  this.audioFlag.LMI_1 = true
                }
                if (e.body.status === 'ipcFaulty' || e.body.status === 'ipcWell') {
                  this.deviceErrMsg[e.device] = e.body
                }
                if (e.body.height || e.body.length || e.body.width) {
                  this.lwhFirst = e.body
                }
                if (e.body.sensorFront || e.body.sensorLeft || e.body.sensorRight) {
                  this.lmisensor = e.body
                }
                this.device[e.device] = {...e.body, ...this.lmisensor, ...this.lwhFirst}
                break
            }
            if (e.device === 'LMI_1') {
              this.lmisensor = e.body
            }
          })
          // console.log('this.deviceErrMsg', this.deviceErrMsg)
          // console.log('this.localOrRemote', this.localOrRemote)
          // console.log('this.autoOrHandle', this.autoOrHandle)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getLmiStatusRequest () { // 获取长宽高激光头状态
      let parm = {...this.defaultOptions, ...{device: 'LMI', deviceNumber: '1', source: 'MEASUREDMENT', command: 'lmiStatusRequest'}}
      handleData._lmiStatusRequest(parm).then(res => {
        if (!res.data.flag) {
          this.$notify.error({
            title: this.$t('ViBorder.common.dataError'),
            message: this.$t('ViBorder.SMS.getLaserError'),
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    switchTrafficLightStatus (val) { // 是否要切换为手动或者自动控制交通灯
      if (!val) {
        const tips = this.$t('ViBorder.SMS.swithToManualControlTrafficLights')
        let parm = {...this.deviceStatusParm, ...{command: `TL_SwitchMA_true`, device: 'TRAFFICLIGHT'}}
        const scb = async () => {
          try {
            let res = await handleData._switchDeviceMode(parm)
            return res.data.flag
          } catch (error) {
            return false
          }
        }
        this.confirmModal({tips, scb: scb})
      } else {
        const tips = this.$t('ViBorder.SMS.swithToAutomaticTrafficLights')
        let parm = {...this.deviceStatusParm, ...{command: `TL_SwitchMA_false`, device: 'TRAFFICLIGHT'}}
        const scb = async () => {
          try {
            let res = await handleData._switchDeviceMode(parm)
            return res.data.flag
          } catch (error) {
            return false
          }
        }
        this.confirmModal({tips, scb: scb})
      }
    },
    switchBarrierStatus (val) { // 切换档杆 切换为手动或者自动
      if (!val) {
        const tips = this.$t('ViBorder.SMS.manualLift')
        let parm = {...this.deviceStatusParm, ...{command: `BR_SwitchMA_true`, device: 'BARRIER'}}
        const scb = async () => {
          try {
            let res = await handleData._switchDeviceMode(parm)
            return res.data.flag
          } catch (error) {
            return false
          }
        }
        this.confirmModal({tips, scb: scb})
      } else {
        const tips = this.$t('ViBorder.SMS.automaticLifting')
        let parm = {...this.deviceStatusParm, ...{command: `BR_SwitchMA_false`, device: 'BARRIER'}}
        const scb = async () => {
          try {
            let res = await handleData._switchDeviceMode(parm)
            return res.data.flag
          } catch (error) {
            return false
          }
        }
        this.confirmModal({tips, scb: scb})
      }
    },
    switchGreenOrRedLight (status) { // 手动切换到绿灯或者红灯
      let tips = ``
      let lightSwitch = ``
      if (status.includes('greenLight')) {
        tips = this.$t('ViBorder.SMS.pass')
        lightSwitch = `manualGreen`
      } else {
        tips = this.$t('ViBorder.SMS.prohibited')
        lightSwitch = `manualRed`
      }
      let parm = {...this.deviceStatusParm, ...{command: lightSwitch, device: 'TRAFFICLIGHT'}}
      const scb = async () => {
        try {
          let res = await handleData._switchDeviceStatus(parm)
          return res.data.flag
        } catch (error) {
          return false
        }
      }
      this.confirmModal({tips, scb: scb})
    },
    switchBarrierOpenOrClose (status) { // 手动切换到落下或者抬起档杆
      let tips = ``
      let barrierSwitch = ``
      if (status.includes('closed')) {
        tips = this.$t('ViBorder.SMS.down')
        barrierSwitch = `manualDown`
      } else {
        tips = this.$t('ViBorder.SMS.liftUp')
        barrierSwitch = `manualUp`
      }
      let parm = {...this.deviceStatusParm, ...{command: barrierSwitch, device: 'BARRIER'}}
      const scb = async () => {
        try {
          let res = await handleData._switchDeviceStatus(parm)
          return res.data.flag
        } catch (error) {
          return false
        }
      }
      this.confirmModal({tips, scb: scb})
    },
    finish (val) { // 结束测量
      if (val.row.vehicleStatus.value === 'WAITMEASURED') {
        return false
      } else {
        let scb = () => {
          handleData._finish({id: val.row.id, ...this.defaultOptions}).then(res => {
            if (res.data.flag) {
              this.getVehicleMeasureList(this.defaultOptions)
              return res.data.flag
            } else if (res.data.errorCode) {
              this.getVehicleMeasureList(this.defaultOptions)
            }
          }).catch(err => {
            console.log('err', err)
          })
        }
        this.confirmModal({tips: this.$t('ViBorder.SMS.sureEndMeasure'), scb})
      }
    },
    none () {
      return false
    },
    clearChannelOccupy () {
      let scb = () => {
        handleData._clearChannelOccupy(this.defaultOptions).then(res => {
          if (res.data.flag) {
            this.device.LANE_1.occupancy = 'false'
            this.device.IMC_1.status = ''
          }
          return res.data.flag
        }).catch(err => {
          console.log('err', err)
          return flag
        })
      }
      this.confirmModal({tips: this.$t('ViBorder.SMS.initStatusChannel'), scb})
    },
    jump2Query () {
      this.$router.push({
        path: '/sms/smsQuery'
        // path: '/sms/smsDetail'
      })
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
#sms {
  width: $all;
  height: $all;
  @include box-sizing();
  padding: $dis10;
  .top {
    width: $all;
    height: 45%;
    @include flex();
    @include box-sizing();
    margin-bottom: $dis10;
    .top-card-banner {
      width: calc(50% - 5px);
      height: $all;
      margin-right: $dis10;
      @include flex();
      &:last-child {
        margin-right: 0;
        .top-card-banner-single {
          &:first-child {
            margin-right: $dis10;
          }
        }
      }
      .top-card-banner-left,
      .top-card-banner-single {
        height: $all;
        // width: $all / 2;
        @include flex();
        @include box-sizing();
        @media screen and (max-width: 1640px) {
        }
        .box-auto {
          width: $all;
          height: $all;
          @include flex(column,center,flex-start);
          .bottom-panel {
            @include flex($juc: space-between);
            width: calc(100% - 20px);
            padding: 0 10px;
          }
        }
      }
      .top-card-banner-left      {
        // width: $all;
        flex: 1;
        height: $all;
        margin-right: $dis10;
        flex-wrap: wrap;
        .sense-coil,
        .traffic-light,
        .rfid,
        .barrier {
          position: relative;
          @include box-sizing();
          width: calc(50% - 6px);
          height: calc(50% - 5px);
          margin-bottom: 10px;
        }
        .sense-coil {
          margin-right: $dis10;
          .show-lpn {
            padding: $dis10;
            @include box-sizing();
            @include flex(column);
            height: calc(100% - 34px);
            width: $all;
            .lpn-no {
              width: $all;
              height: $all / 2;
              @include flex(column, space-around);
              position: relative;
              img {
                height: 40%;
                width: 80%;
              }
              @media screen and (max-width: 1640px) {
                span {
                  color: $tabColor;
                  line-height: 20px;
                  font-size: 12px;
                }
              }
              @media screen and (min-width: 1640px) {
                span {
                  color: $tabColor;
                  line-height: 30px;
                }
              }
            }
          }
        }
        .traffic-light,
        .barrier {
          @media screen and (max-width: 1640px) {
            //小屏
            .show-light,
            .change-barrier {
              padding: 4px 0;
              .device-state {
                width: 70%;
                .device-light {
                  width: 20%;
                  img {
                    width: $all;
                  }
                }
                &:last-child {
                  .traffic-operate-btn {
                    width: 20%;
                    height: $all;
                    img {
                      cursor: pointer;
                      width: $all;
                    }
                  }
                }
                .traffic-operate-btn {
                  .notAllow {
                    cursor: not-allowed!important;
                  }
                }
              }
            }
            .change-barrier {
              .device-state {
                .device-light {
                  &:first-child {
                    width: 62%;
                    margin-left: -4%;
                    img {
                      width: $all;
                    }
                  }
                }
              }
            }
          }
          @media screen and (min-width: 1640px) {
            .show-light,
            .change-barrier {
              padding: 16px 0 $dis10 0;
              .device-state {
                width: 70%;
                &:first-child {
                  height: 60%;
                  margin-bottom: $dis10;
                }
                .device-light {
                  width: 25%;
                  img {
                    width: $all;
                  }
                }
                &:last-child {
                  .traffic-operate-btn {
                    width: 25%;
                    height: $all;
                    img {
                      cursor: pointer;
                      width: $all;
                    }
                  }
                }
                .traffic-operate-btn {
                  .notAllow {
                    cursor: not-allowed!important;
                  }
                }
              }
            }
            .change-barrier {
              .device-state {
                .device-light {
                  &:first-child {
                    width: 70%;
                    margin-left: -4%;
                    img {
                      width: $all;
                    }
                  }
                }
              }
            }
          }
          .show-light,
          .change-barrier {
            width: $all;
            height: $all;
            @include box-sizing();
            @include flex(column);
            .device-state {
              @include flex(row, space-between, center);
              .device-light {
                height: $all;
                &:last-child {
                  height: $all;
                  .traffic-light-operate {
                    height: calc(50% - 5px);
                    width: $all;
                    &:first-child {
                      margin-bottom: $dis10;
                    };
                    img {
                      cursor: pointer;
                    }
                    .notAllow {
                      cursor: not-allowed!important;
                    }
                  }
                }
              }
            }
          }
        }
        @media screen and (max-width: 1640px) { // 小屏
          .rfid {
            .show-rfid {
              width: 186px
            }
          }
        }
        @media screen and (min-width: 1640px) {
          .rfid {
            .show-rfid {
              width: 226px
            }
          }
        }
        .rfid {
          margin-right: $dis10;
          .show-rfid {
            height: $all;
            .receive-signal {
              @include flex();
              height: $all;
              width: $all;
              height: 72%;
              img {
                height: 95%;
                width: 37%;
              }
            }
            .show-signal {
              @extend .extend-banner-bottom;
              height: 23%;
              width: $all;
              padding: 4px;
              box-sizing: border-box;
              @include flex();
              @include box-sizing();
              .signal-text {
                width: $all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .top-card-banner-single {
        // @media screen and (min-width: 1640px) {
        //   width: 466px;
        // }
        width: calc(50% - 5px);
        @include box-sizing();
        // width: $all;
        height: $all;
        @media screen and (min-width: 1640px) {
          .bottom-panel {
            flex: 1;
          }
        }
        @media screen and (max-width: 1640px) {
          .bottom-panel {
            height: 15%;
          }
        }
        .bottom-panel {
          @extend .extend-banner-bottom;
        }
        .lpn-front {
          @include box-sizing();
          width: $all;
          height: $all;
          position: relative;
        }
        .lpn-front.panel {
          .ccr-carousel {
            height: 90%;
            width: $all;
            .el-carousel {
              height: $all;
              .el-carousel__container {
                height: $all;
                .el-carousel__item {
                  height: $all;
                  @include flex();
                  img {
                    cursor: pointer;
                    width: $all;
                    position: absolute;
                  }
                  .init-image {
                    transform: rotate(0deg) scale(1, 1)!important;
                  }
                }
              }
            }
          }
          .lpn-front-pic {
            // .swiper-pagination-bullet {
            //   background: #fff;
            //   opacity: 1
            // }
            // .swiper-pagination-bullet-active {
            //   opacity: 1;
            //   background: #007aff;
            // }
            height: 90%;
            width: $all;
            @include flex();
            // img {
            //   width: $all;
            //   height: $all;
            // }
            overflow: hidden;
            position: relative;
            .swiper-container {
              height: $all;
              .swiper-slide {
                @include flex();
                overflow: hidden;
              }
            }
            .no-pic-bg {
              // background: #f7f7f7;
              width: $all;
              height: $all;
            }
            img {
              cursor: pointer;
              width: 100%;
              position: absolute;
            }
            .init-image {
              transform: rotate(0deg) scale(1, 1)!important;
            }
          }
        }
      }
    }
    .top-card-banner.swipe-width {
      width: calc(50% - 5px)
    }
  }
  .middle {
    width: $all;
    height: 35%;
    margin-bottom: $dis10;
    @include flex();
    @include box-sizing();
    .middle-left,
    .middle-right {
      width: $all / 2;
      height: $all;
      @include flex();
      .lwh,
      .weight,
      .x-ray {
        width: $all;
        height: $all;
      }
      .x-ray {
        .operate-btn-group {
          @include flex();
          margin-right: $margin;
          .iconfont {
            margin-right: $margin;
            font-size: 24px;
            color: red;
          }
          img {
            width: 40px;
            margin-right: $margin;
          }
        }
        #con_bt {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .canvas-draw-img {
          width: $all;
          height: calc(100% - 34px);
          overflow-x: scroll;
          overflow-y: hidden;
          @media screen and (max-width: 1640px) {
            overflow-y: scroll!important;
          }
          &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
          }
          &::-webkit-scrollbar-button {
            background:rgba(220, 220, 220, .5);
          }
          &::-webkit-scrollbar-track {
            background:rgba(220, 220, 220, .1);
          }
          &::-webkit-scrollbar-track-piece {
            background:rgba(220, 220, 220, .1);
          }
          &::-webkit-scrollbar-thumb {
            background:rgba(220, 220, 220, .5);
            border-radius: 6px;
          }
          &::-webkit-scrollbar-corner {
            background:rgba(220, 220, 220, .5);
          }
          &::-webkit-scrollbar-resizer {
            background:rgba(220, 220, 220, .8);
          }
          canvas {
            // width: $all;
            height: calc(100% - 34px);
          }
        }
        .canvas-prompt {
          width: $all;
          height: calc(100% - 34px);
          @include flex();
          // position: absolute;
          // left: 0;
          // top:0;
        }
      }
    }
    .middle-left {
      @media screen and (max-width: 1640px) {
        // 小屏
        .lwh {
          .show-lwh {
            .show-lwh-pic {
              flex: 1;
              width: 48%;
              .left-light {
                width: 25px;
                top: 14px;
                left: -2px;
              }
              .right-light {
                width: 25px;
                top: 42px;
                left: 44px;
              }
              .middle-light {
                width: 20px;
                top: 14px;
                right: 26px;
              }
              .the-car-img {
                width: $all;
                top: 0;
                cursor: pointer;
              }
              .none-pic {
                display: none;
                position: absolute;
                z-index: -1;
                top: 0;
                height: 10px;
                width: 10px;
              }
            }
            .show-lwh-info {
              margin-top: 10px;
              .info-detail {
                padding: 4px;
                font-size: 14px;
              }
            }
          }
        }
        .weight {
          .weight-info {
            .tableComp {
              .el-table .cell {
                line-height: 16px;
                .iconfont {
                  cursor: pointer;
                }
              }
              .el-table td, .el-table th {
                padding: 2px 0;
              }
              .el-table th div,.el-table th {
                height: 16px;
                line-height: 16px;
                font-size: 12px;
              }
            }
            .top-info {
              .detail-info {
                .title {
                  margin-bottom: 2px;
                  font-size: 12px;
                }
                .text {
                  min-height: 12px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      @media screen and (min-width: 1640px) {
        .lwh {
          .show-lwh {
            height: $all;
            .show-lwh-pic {
              height: 52%;
              width: 65%;
              .left-light {
                width: 25px;
                top: 24px;
                left: 2px;
              }
              .right-light {
                width: 25px;
                top: 73px;
                left: 83px;
              }
              .middle-light {
                width: 20px;
                top: 24px;
                right: 52px;
              }
              .the-car-img {
                width: $all;
                top: -16px;
                cursor: pointer;
              }
              .none-pic {
                display: none;
                position: absolute;
                z-index: -1;
                top: 0;
                height: 10px;
                width: 10px;
              }
            }
            .show-lwh-info {
              margin-top: 10px;
              .info-detail {
                padding: 5px;
                font-size: 16px;
              }
            }
          }
        }
        .weight {
          .weight-info {
            .tableComp {
              .el-table th div,.el-table th {
                height: 30px;
                line-height: 30px;
              }
            }
            .top-info {
              .detail-info {
                .title {
                  margin-bottom: 6px;
                }
                .text {
                  min-height: 20px;
                }
              }
            }
          }
        }
      }
      .weight {
        .weight-info {
          width: $all;
          height: calc(100% - 34px);
          padding: $dis10;
          @include flex(column,flex-start);
          .tableComp {
            width: 96%;
            height: 85%;
            @extend .extend-table-tr-th-style;
            .el-table td, .el-table th {
              padding: 4px 0;
            }
            .el-table th div,.el-table th {
              color: $tabColor;
              font-weight: normal;
            }
          }
          .top-info {
            flex: 1;
            width: $all;
            @include flex(row, space-around);
            .detail-info {
              @include flex(column);
              color: $tabColor;
              width: $all / 2;
              .title {
                width: 80%;
              }
              .text {
                width: 80%;
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 4px;
              }
              .info-detail-noErr {
                border: 1px solid #ddd;
              }
              .info-detail-err {
                border: 1px dashed red;
                color: red;
              }
            }
          }
        }
      }
      .lwh {
        margin-right: $dis10;
        .show-lwh {
          width: calc(100% - 34px);
          @include flex(column);
          .show-lwh-pic {
            position: relative;
            margin: 0 auto;
            img:not(:first-child) {
              position: absolute;
            }
            .car-pic {
              width: $all;
              height: $all;
            }
          }
          .show-lwh-info {
            margin-top: 10px;
            height: 40%;
            width: $all;
            @include flex(column);
            .info-detail {
              width: 80%;
              margin-bottom: 4px;
              color: $tabColor;
              @include flex();
              span {
                padding: 4px;
                &:first-child {
                  width: 55%;
                }
                &:last-child {
                  width: 80%;
                  min-height: 20px;
                  border-radius: 6px;
                  @include flex();
                }
              }
              .info-detail-noErr {
                border: 1px solid #ddd;
              }
              .info-detail-err {
                border: 1px dashed red;
                color: red;
              }
            }
          }
        }
      }
      margin-right: $dis10;
    }
  }
  .bottom {
    width: $all;
    height: calc(20% - 20px);
    @include flex();
    @include box-sizing();
    .panel {
      @extend .extend-panel;
      margin-bottom: 0;
    }
    .table-show-data {
      width: $all;
      height: $all;
      .more {
        width: $all;
        text-align: right;
        padding: 0 $dis10 $dis10 0;
        @include box-sizing();
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
      }
      .tableComp {
        @extend .extend-table-tr-th-style;
        .exportFor {
          margin: 0;
        }
        .el-table {
          .editTable {
            color: #ee3b3b;
          }
          th {
            background: #e7e7e7!important;
            div {
              height: auto;
              line-height: 25px;
              white-space: pre-wrap;
              background: #e7e7e7!important;
            }
          }
          td, th {
            padding: 4px 0;
          }
        }
      }
    }
  }
  .panel {
    @extend .extend-panel;
    margin-bottom: 0;
    position: relative;
    .modal-box {
      width: $all;
      height: $all;
      background: rgba(189,210,253,0.5);
      @include flex();
      position: absolute;
      left: 0;
      top:0;
      z-index: 3;
    }
    .modal-warning {
      background: #fff;
    }
  }
  .fix-tab {
    height: 240px;
    position: fixed;
    right: -12px;
    top: calc(50% - 120px);
    z-index: 2;
    @include flex();
    .el-table td, .el-table th {
      padding: 7px 0
    }
    .fix-tab-title {
      position: relative;
      right: -69px;
      cursor: pointer;
      color: $white;
      font-size: 16px;
      font-weight: bold;
      width: 178px;
      height: 40px;
      background:rgba(44, 166, 204, 0.8);
      @include flex();
      transform: rotate(-90deg);
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      .iconfont {
        transform: rotate(90deg);
        margin-left: 10px;
      }
    }
    .fix-tab-container {
      background: $white;
      border: 6px solid rgba(44, 166, 204, 0.5);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
      border-radius: 6px;
      height: 230px;
      width: 0;
      position: relative;
      overflow: hidden;
      -webkit-transition: width 0.6s;
      -moz-transition: width 0.6s;
      -o-transition: width 0.6s;
      transition: width 0.6s;
      .tableComp {
        padding: 0;
        @extend .extend-table-tr-th-style;
      }
    }
  }
}
.tableComp {
  .el-table {
    th {
      background: #e7e7e7!important;
      div.cell {
        background: #e7e7e7!important;
      }
    }
  }
}
</style>
