<template>
  <div id="sms-detail">
    <div class="top">
      <div class="top-card-banner">
        <!-- 上左 -->
        <div class="top-card-banner-left">
          <!-- 通道时间 -->
          <div class="lane-time panel">
            <panelTitle :panelTitleInit="panelTitle.laneTime"></panelTitle>
            <div class="time-title">
              <div class="top">
                <span class="text">{{$t('ViBorder.businessLogicCommon.laneEnteringTime')}}</span>
                <span class="text">201907181011</span>
              </div>
              <div class="top">
                <span class="text">{{$t('ViBorder.businessLogicCommon.laneDepartingTime')}}</span>
                <span class="text">201907181011</span>
              </div>
            </div>
          </div>
          <!-- 驶入视频 -->
          <div class="lane-video panel">
            <panelTitle :panelTitleInit="panelTitle.enterVideo"></panelTitle>
            <div class="video-img-box">
              <i class="iconfont" @click="seeVideo('i')">&#xe697;</i>
              <img class="video-img" src="" alt="">
            </div>
          </div>
          <!-- rfid -->
          <div class="rfid panel">
            <panelTitle :panelTitleInit="panelTitle.rfid"></panelTitle>
            <div class="show-rfid">
              <div class="receive-signal">
                <img src="../../assets/img/sms/rfid.gif">
              </div>
              <div class="show-signal">
                <el-tooltip class="item" effect="dark" :content="initMeasureVoData.vehicleMeasure.rfidNumber" placement="top">
                  <span class="signal-text">{{initMeasureVoData.vehicleMeasure.rfidNumber}}</span>
                </el-tooltip>
              </div>
            </div>
          </div>
          <!-- 驶离视频 -->
          <div class="lane-video panel">
            <panelTitle :panelTitleInit="panelTitle.leaveVideo"></panelTitle>
            <div class="video-img-box">
              <i class="iconfont" @click="seeVideo('o')">&#xe697;</i>
              <img class="video-img" src="" alt="">
            </div>
          </div>
        </div>
        <!-- 上左的右  前车牌 -->
        <div class="top-card-banner-single">
          <div class="lpn-front panel">
            <panelTitle :panelTitleInit="panelTitle.lpnFront"></panelTitle>
            <div class="box-auto">
              <div class="lpn-front-pic">
                <div class="no-pic-bg" v-if="!initMeasureVoData.frontVehicleLpr.photopath"></div>
                <img v-drag :src="initMeasureVoData.frontVehicleLpr.photopath" v-if="initMeasureVoData.frontVehicleLpr.photopath" @mousewheel="scrollImgFront" id='drag-box' :data-url='initMeasureVoData.frontVehicleLpr.photopath' class='drag-box' :class="{'init-image': scaleObj.lprFrontScaleInfo === 100}">
              </div>
              <div class="bottom-panel">
                <span>{{initMeasureVoData.frontVehicleLpr.amendResult}}</span>
                <span v-if="!initMeasureVoData.frontVehicleLpr.amendResult"></span>
                <span>{{initMeasureVoData.frontVehicleLpr.recognitionTime}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 上边右侧 后车牌 -->
      <div class="top-card-banner" :class="{'swipe-width': initMeasureVoData.backVehicleLpr.photopath}">
        <!-- lpn back -->
        <div class="top-card-banner-single">
          <div class="lpn-front panel">
            <panelTitle :panelTitleInit="panelTitle.lpnBack"></panelTitle>
            <div class="box-auto">
              <div class="lpn-front-pic" id='drag-box-parent'>
                <div class="no-pic-bg" v-if="!initMeasureVoData.backVehicleLpr.photopath"></div>
                <img v-drag :src="initMeasureVoData.backVehicleLpr.photopath" v-if="initMeasureVoData.backVehicleLpr.photopath" @mousewheel="scrollImgBack" id='drag-back' :data-url='initMeasureVoData.backVehicleLpr.photopath' class='drag-back' :class="{'init-image': scaleObj.lprBackScaleInfo === 100}">
              </div>
              <div class="bottom-panel">
                <span>{{initMeasureVoData.backVehicleLpr.amendResult}}</span>
                <span v-if="!initMeasureVoData.backVehicleLpr.amendResult"></span>
                <span>{{initMeasureVoData.backVehicleLpr.recognitionTime}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- ccr -->
        <div class="top-card-banner-single">
          <div class="lpn-front panel">
            <panelTitle :panelTitleInit="panelTitle.ccr"></panelTitle>
            <div class="box-auto">
              <div class="ccr-carousel">
                <el-carousel trigger="click" arrow="always" :autoplay="false" v-if="initMeasureVoData.containerCcr.containerNumber">
                  <el-carousel-item v-for="(item, index) in initMeasureVoData.containerCcr.containerNumber" :key="index">
                    <img v-drag ref="swiperScroll" class='ccr-box' :class="[`ccr-box-${index}`, {'init-image': scaleObj.ccrScaleInfo === 100}]" :src="item" alt="" @mousewheel="scrollCCR($event, index)">
                  </el-carousel-item>
                </el-carousel>
                <!-- <img src="../../assets/img/sms/defaultImage.jpg" v-if="!initMeasureVoData.containerCcr.containerNumber"> -->
                <div class="no-pic-bg" v-if="!initMeasureVoData.containerCcr.containerNumber"></div>
              </div>
              <div class="bottom-panel">
                <span>{{initMeasureVoData.containerCcr.containerNumber}}</span>
                <span>{{initMeasureVoData.containerCcr.recognitionTime}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="middle-left">
        <!-- lwh -->
        <div class="lwh panel">
          <panelTitle :panelTitleInit="panelTitle.lwh"></panelTitle>
          <div class="show-lwh">
            <div class="show-lwh-pic">
              <img class="car-pic" src="../../assets/img/sms/LWH/LWH.png">
              <img src="../../assets/img/sms/LWH/lmiComing.png" class="the-car-img">
              <img class="left-light" src="../../assets/img/sms/LWH/sensorLeft_0.png" alt="sensorLeft">
              <img class="right-light" src="../../assets/img/sms/LWH/sensorRight_0.png" alt="sensorRight">
              <img class="middle-light" src="../../assets/img/sms/LWH/sensorFront_0.png" alt="sensorFront">
            </div>
            <div class="show-lwh-info">
              <div class="info-detail">
                <span>{{$t('ViBorder.businessLogicCommon.length')}}</span><span :class="Number(initMeasureVoData.vehicleMeasure.vehicleLength) > Number(validations.LENGTH) ? 'info-detail-err' : 'info-detail-noErr'">{{initMeasureVoData.vehicleMeasure.vehicleLength}}</span>
              </div>
              <div class="info-detail">
                <span>{{$t('ViBorder.businessLogicCommon.width')}}</span><span :class="Number(initMeasureVoData.vehicleMeasure.vehicleWidth) > Number(validations.WIDTH) ? 'info-detail-err' : 'info-detail-noErr'">{{initMeasureVoData.vehicleMeasure.vehicleWidth}}</span>
              </div>
              <div class="info-detail">
                <span>{{$t('ViBorder.businessLogicCommon.height')}}</span><span :class="Number(initMeasureVoData.vehicleMeasure.vehicleHight) > Number(validations.HEIGHT) ? 'info-detail-err' : 'info-detail-noErr'">{{initMeasureVoData.vehicleMeasure.vehicleHight}}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- weight -->
        <div class="weight panel">
          <panelTitle :panelTitleInit="panelTitle.weight"></panelTitle>
          <div class="weight-info">
            <div class="top-info">
              <div class="detail-info">
                <span class="title">{{$t('ViBorder.businessLogicCommon.totalWeight')}}</span>
                <span class="text" :class="Number(1) > Number(validations.TOTALWEIGHT) ? 'info-detail-err' : 'info-detail-noErr'">{{initMeasureVoData.vehicleWeight.total}}</span>
              </div>
              <div class="detail-info">
                <span class="title">{{$t('ViBorder.SMS.speed')}}</span>
                <span class="text">{{initMeasureVoData.vehicleWeight.speed}}</span>
              </div>
            </div>
            <div class="tableComp">
              <el-table :data="weightTableData.data" border style="width: 100%">
                <el-table-column prop="No" width=50 :label="$t('ViBorder.common.No')"> </el-table-column>
                <el-table-column :label="$t('ViBorder.businessLogicCommon.axleWeight')">
                  <template slot-scope="scope">
                    <span v-if="Number(scope.row.aweight) > Number(validations.AXLEWEIGHT)" style="color: red">{{scope.row.aweight}}</span>
                    <span v-else>{{scope.row.aweight}}</span>
                </template>
                </el-table-column>
                <el-table-column prop="distance" :label="$t('ViBorder.SMS.wheelbase')"> </el-table-column>
              </el-table>
            </div>
            <!-- <div class="table-info">
            </div> -->
          </div>
        </div>
      </div>
      <div class="middle-right">
        <!-- X-ray Image -->
        <div class="x-ray panel">
          <panelTitle :panelTitleInit="panelTitle.xRay"></panelTitle>
          <div class="canvas-draw-img" v-if="initMeasureVoData.vehicleXray">
            <img :src="initMeasureVoData.vehicleXray.scanPath" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="back-btn">
      <el-button type="primary" @click="goBack">{{$t('ViBorder.common.back')}}</el-button>
    </div>
    <dialogBox :modalData="videoDialogData">
      <video  class="videoSize" controls="controls" autoplay=true loop="loop" ref="media">
        <source :src="videoDialogData.videoSrc" type="video/ogg"/>
      </video>
    </dialogBox>
  </div>
</template>

<script>
import dialogBox from '../../components/common/dialog'
import handleData from '../../api/SMS/sms'
export default {
  name: 'sms-detail',
  data () {
    return {
      scaleInfo: 100,
      scaleObj: {
        lprFrontScaleInfo: '',
        lprBackScaleInfo: '',
        ccrScaleInfo: ''
      },
      notifyOffset: window.config.notifyOffset,
      defaultOptions: {},
      deviceStatusParm: {},
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      ccrFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.ccrFolder}`,
      validations: { // 标准参照参数
        LENGTH: '',
        WIDTH: '',
        HEIGHT: '',
        TOTALWEIGHT: '',
        AXLEWEIGHT: ''
      },
      panelTitle: { // title组件数据
        laneTime: {
          title: this.$t('ViBorder.businessLogicCommon.enteringTimeAndLeavingTime')
        },
        enterVideo: {
          title: this.$t('ViBorder.businessLogicCommon.enterVideo')
        },
        rfid: {
          title: this.$t('ViBorder.businessLogicCommon.rfid')
        },
        leaveVideo: {
          title: this.$t('ViBorder.businessLogicCommon.leaveVideo')
        },
        lpnFront: {
          title: this.$t('ViBorder.businessLogicCommon.lprTab')
        },
        lpnBack: {
          title: this.$t('ViBorder.businessLogicCommon.lprBackTab')
        },
        ccr: {
          title: this.$t('ViBorder.SMS.ccr')
        },
        lwh: {
          title: this.$t('ViBorder.SMS.lwh')
        },
        weight: {
          title: this.$t('ViBorder.SMS.weight')
        },
        xRay: {
          title: this.$t('ViBorder.SMS.xrayImage')
        }
      },
      weightTableData: {
        data: []
      },
      // 新增
      initMeasureVoData: {
        vehicleMeasure: '',
        frontVehicleLpr: '',
        backVehicleLpr: '',
        containerCcr: '',
        vehicleWeight: '',
        vehicleXray: ''
      },
      videoDialogData: {
        flag: false,
        videoSrc: '',
        title: this.$t('ViBorder.businessLogicCommon.checkInVideoTitle'),
        resetModal: this.resetVideoModal
      }
    }
  },
  mounted () {
    this.defaultOptions = {site: localStorage.smsSite, laneNumber: localStorage.smsLaneNumber} // 默认的车辆和道号
    // Promise.all([this.getMeasureValidation(this.defaultOptions), this.initPageData()])
  },
  methods: {
    // 初始化详情页数据
    initPageData () {
      // handleData._smsDetail({vehicleMeasureId: 100012019080800002}).then(res => {
      //   let {result, flag} = res.data
      //   if (flag) {
      //     this.initMeasureVoData = result.measureVo
      //   }
      // }).catch(err => {
      //   console.log('err', err)
      // })
    },
    getMeasureValidation (parm) { // 获取校验数据
      handleData._measureValidation(parm).then(res => {
        if (res.data.flag) {
          let {result} = res.data
          this.validations = result
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // 查看视频
    seeVideo (v) {
      let {videoPathIn, videoPathOut} = this.initMeasureVoData
      if (!videoPathIn || !videoPathOut) {
        this.$notify.warning({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.common.noVideo'),
          offset: this.notifyOffset
        })
        return false
      }
      if (v === 'i') {
        if (videoPathIn) {
          this.videoDialogData.videoSrc = videoPathIn
        }
      } else if (v === 'o') {
        if (videoPathOut) {
          this.videoDialogData.videoSrc = videoPathOut
        }
      }
      this.videoDialogData.flag = true
    },
    // 重置视频弹窗
    resetVideoModal () {
      this.videoDialogData.flag = false
      this.videoDialogData.videoSrc = ''
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  components: {dialogBox}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#sms-detail {
width: $all;
  height: $all;
  @include box-sizing();
  padding: $dis10;
  .top {
    width: $all;
    height: 45%;
    @include flex();
    @include box-sizing();
    margin-bottom: $dis10;
    .top-card-banner {
      width: calc(50% - 5px);
      height: $all;
      margin-right: $dis10;
      @include flex();
      &:last-child {
        margin-right: 0;
        .top-card-banner-single {
          &:first-child {
            margin-right: $dis10;
          }
        }
      }
      .top-card-banner-left,
      .top-card-banner-single {
        height: $all;
        // width: $all / 2;
        @include flex();
        @include box-sizing();
        .box-auto {
          width: $all;
          height: $all;
          @include flex(column,center,flex-start);
          .bottom-panel {
            @include flex($juc: space-between);
            width: calc(100% - 20px);
            padding: 0 $dis10;
          }
        }
      }
      .top-card-banner-left {
        .lane-time,
        .lane-video,
        .rfid {
          position: relative;
          @include box-sizing();
          width: calc(50% - 6px);
          height: calc(50% - 5px);
          margin-bottom: $dis10;
        }
        .lane-time {
          margin-right: $dis10;
          .time-title {
            height: $all;
            @include flex(column);
            .top {
              @include flex(column);
              font-size: 16px;
              .text {
                padding-top: $dis10;
              }
            }
          }
        }
        .lane-video {
          .video-img-box {
            width: $all;
            height: $all;
            position: relative;
            @include flex();
            .video-img {
              width: $all;
              background-color: rosybrown;
            }
            .iconfont {
              cursor: pointer;
              font-size: 30px;
              position: absolute;
              z-index: 2;
            }
          }
        }
        // width: $all;
        flex: 1;
        height: $all;
        margin-right: $dis10;
        flex-wrap: wrap;
        @media screen and (min-width: 1640px) {
          .rfid {
            .show-rfid {
              width: 226px
            }
          }
        }
        .rfid {
          margin-right: $dis10;
          .show-rfid {
            height: $all;
            @include flex(column);
            .receive-signal {
              @include flex();
              height: $all;
              width: $all;
              height: 72%;
              img {
                height: 95%;
                width: 37%;
              }
            }
            .show-signal {
              @extend .extend-banner-bottom;
              flex: 1;
              width: $all;
              padding: 4px;
              box-sizing: border-box;
              @include flex();
              @include box-sizing();
              .signal-text {
                width: $all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .top-card-banner-single {
        width: calc(50% - 5px);
        @include box-sizing();
        // width: $all;
        height: $all;
        @media screen and (min-width: 1640px) {
          .bottom-panel {
            flex: 1;
          }
        }
        .bottom-panel {
          @extend .extend-banner-bottom;
        }
        .lpn-front {
          @include box-sizing();
          width: $all;
          height: $all;
          position: relative;
        }
        .lpn-front.panel {
          .ccr-carousel {
            height: 90%;
            width: $all;
            .el-carousel {
              height: $all;
              .el-carousel__container {
                height: $all;
                .el-carousel__item {
                  height: $all;
                  @include flex();
                  img {
                    cursor: pointer;
                    width: $all;
                    position: absolute;
                  }
                  .init-image {
                    transform: rotate(0deg) scale(1, 1)!important;
                  }
                }
              }
            }
          }
          .lpn-front-pic {
            height: 90%;
            width: $all;
            @include flex();
            overflow: hidden;
            position: relative;
            .swiper-container {
              height: $all;
              .swiper-slide {
                @include flex();
                overflow: hidden;
              }
            }
            .no-pic-bg {
              width: $all;
              height: $all;
            }
            img {
              cursor: pointer;
              width: 100%;
              position: absolute;
            }
            .init-image {
              transform: rotate(0deg) scale(1, 1)!important;
            }
          }
        }
      }
    }
    .top-card-banner.swipe-width {
      width: calc(50% - 5px)
    }
  }
  .middle {
    width: $all;
    height: 50%;
    margin-bottom: $dis10;
    @include flex();
    @include box-sizing();
    .middle-left,
    .middle-right {
      width: $all / 2;
      height: $all;
      @include flex();
      .lwh,
      .weight,
      .x-ray {
        width: $all;
        height: $all;
      }
      .x-ray {
        .operate-btn-group {
          @include flex();
          margin-right: $margin;
          .iconfont {
            margin-right: $margin;
            font-size: 24px;
            color: red;
          }
          img {
            width: 40px;
            margin-right: $margin;
          }
        }
      }
    }
    .middle-left {
      @media screen and (min-width: 1640px) {
        .lwh {
          .show-lwh {
            height: $all;
            .show-lwh-pic {
              height: 48%;
              width: 65%;
              .left-light {
                width: 25px;
                top: 40px;
                left: 2px;
              }
              .right-light {
                width: 25px;
                top: 112px;
                left: 83px;
              }
              .middle-light {
                width: 20px;
                top: 40px;
                right: 52px;
              }
              .the-car-img {
                width: $all;
                top: 28px;
                cursor: pointer;
              }
            }
            .show-lwh-info {
              margin-top: $dis10;
              .info-detail {
                padding: 5px;
                font-size: 16px;
              }
            }
          }
        }
        .weight {
          .weight-info {
            .tableComp {
              .el-table th div,.el-table th {
                height: 30px;
                line-height: 30px;
                text-align: center;
              }
            }
            .top-info {
              .detail-info {
                .title {
                  margin-bottom: 6px;
                }
                .text {
                  min-height: 20px;
                }
              }
            }
          }
        }
      }
      .weight {
        .weight-info {
          width: $all;
          height: calc(100% - 34px);
          padding: $dis10;
          @include flex(column,flex-start);
          .tableComp {
            width: 96%;
            height: 85%;
            @extend .extend-table-tr-th-style;
            .el-table td, .el-table th {
              padding: 4px 0;
            }
            .el-table th div,.el-table th {
              color: $tabColor;
              text-align: center;
              font-weight: normal;
            }
          }
          .top-info {
            flex: 1;
            width: $all;
            @include flex(row, space-around);
            .detail-info {
              @include flex(column);
              color: $tabColor;
              width: $all / 2;
              .title {
                width: 80%;
              }
              .text {
                width: 80%;
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 4px;
              }
              .info-detail-noErr {
                border: 1px solid #ddd;
              }
              .info-detail-err {
                border: 1px dashed red;
                color: red;
              }
            }
          }
        }
      }
      .lwh {
        margin-right: $dis10;
        .show-lwh {
          width: calc(100% - 34px);
          @include flex(column);
          .show-lwh-pic {
            position: relative;
            margin: 0 auto;
            img:not(:first-child) {
              position: absolute;
            }
            .car-pic {
              width: $all;
              height: $all;
            }
          }
          .show-lwh-info {
            margin-top: $dis10;
            height: 40%;
            width: $all;
            @include flex(column);
            .info-detail {
              width: 80%;
              margin-bottom: 4px;
              color: $tabColor;
              @include flex();
              span {
                padding: 4px;
                &:first-child {
                  width: 55%;
                }
                &:last-child {
                  width: 80%;
                  min-height: 20px;
                  border-radius: 6px;
                  @include flex();
                }
              }
              .info-detail-noErr {
                border: 1px solid #ddd;
              }
              .info-detail-err {
                border: 1px dashed red;
                color: red;
              }
            }
          }
        }
      }
      margin-right: $dis10;
    }
  }
  .back-btn {
    width: $all;
    @include flex(row, flex-end);
  }
  .panel {
    @extend .extend-panel;
    margin-bottom: 0;
    position: relative;
    .modal-box {
      width: $all;
      height: $all;
      background: rgba(189,210,253,0.5);
      @include flex();
      position: absolute;
      left: 0;
      top:0;
      z-index: 3;
    }
    .modal-warning {
      background: #fff;
    }
  }
}
</style>
