<template>
  <div id="sms-query" v-bar v-loading.fullscreen.lock="loading" element-loading-spinner="el-icon-loading" element-loading-background="rgba(0, 0, 0, 0.5)">
    <div class="sms-M">
      <!-- 表格内容 -->
      <div class="infolist list-height">
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar" v-bar>
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
            <i class="iconfont" @click="exportExcle" :title="$t('ViBorder.common.export', {msg: 'excel'})">&#xe745;</i>
          </panelTitle>
          <!-- 表格 -->
          <div class="table-bar">
            <div class="btn-back">
              <el-button @click="goBack">{{$t('ViBorder.common.back')}}</el-button>
            </div>
            <ComTable :tableData='tableData' :tableGroup='tableGroup'></ComTable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/SMS/sms'
import {initDownloadOptions} from '../../lib/apiDownloadFile'
export default {
  name: 'sms-query-page',
  data () {
    return {
      loading: false,
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      tableSize: '',
      panelTitle: { // title组件数据
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      queryFn: { // 页面表单查询方法
        query: this.listQuery,
        close: this.reset, // 清除查询条件缓存
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {
          measureTime: [
            {validator: (rule, value, callback) => {
              this.$customValidateTimeRange(rule, value, callback)
            },
            trigger: 'change'}
          ],
          checkInTime: [
            {validator: (rule, value, callback) => {
              this.$customValidateTimeRange(rule, value, callback)
            },
            trigger: 'change'}
          ]
        },
        model: {}
      },
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.measureBeginDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'measureTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleStatus'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [
            {
              label: this.$t('ViBorder.IC.inspection'),
              value: 'current'
            },
            {
              label: this.$t('ViBorder.IC.history'),
              value: 'history'
            }
          ],
          ruleProp: 'vehicleStatus',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          option: [],
          ruleProp: 'businessType',
          clearable: true
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          type: 'daterange',
          format: this.$t('ViBorder.common.dateFormat'),
          startPlace: this.$t('ViBorder.common.startTime'),
          rangeSeparator: '...',
          endPlace: this.$t('ViBorder.common.endTime'),
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkInTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.taskFinishType'),
          type: 'select',
          placeHolder: this.$t('ViBorder.common.all'),
          models: '',
          ruleProp: 'normalEnd',
          option: [
            {
              label: this.$t('ViBorder.businessLogicCommon.auto'),
              value: true
            },
            {
              label: this.$t('ViBorder.businessLogicCommon.manual'),
              value: false
            }
          ],
          clearable: true
        }
      ],
      pageUseParam: {
        pageSizeNum: `` // 当前页单页显示数据数
      },
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        MaxHeight: '780',
        isPage: false,
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'text',
          model: 'businessType',
          width: '180'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureBeginTime'),
          type: 'text',
          model: 'enterTunnelTime',
          sortable: 'custom',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.measureEndTime'),
          type: 'text',
          model: 'leftTunnelTime',
          width: '220'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoRecognition'),
          type: 'text',
          model: 'licensePlateNumber',
          width: '430'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correction'),
          type: 'text',
          model: 'licensePlateNumberAmend',
          width: '350'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureHeight'),
          type: 'text',
          model: 'vehicleHeight',
          width: '330'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionHeight'),
          type: 'text',
          model: 'vehicleHeightAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureWidth'),
          type: 'text',
          model: 'vehicleWidth',
          width: '330'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionWidth'),
          type: 'text',
          model: 'vehicleWidthAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureLength'),
          type: 'text',
          model: 'vehicleLength',
          width: '330'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionLength'),
          type: 'text',
          model: 'vehicleLengthAmend',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.autoMeasureWeight'),
          type: 'text',
          model: 'total',
          width: '330'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.correctionTotal'),
          type: 'text',
          model: 'totalAmend',
          width: '250'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          width: '180'
        }
      ],
      pageSortParm: {}
    }
  },
  created () {
    Promise.all([this.getDropDownList(), !this.getCachedOptions('sms') ? this.listQuery() : this.initInputVal()])
  },
  methods: {
    getQueryParam (val) {
      let {model} = val
      let time = {}
      let tStr = [
        {
          key: 'measureTime',
          timeKey: ['startTime', 'endTime']
        },
        {
          key: 'checkInTime',
          timeKey: ['checkInStartTime', 'checkInEndTime']
        }
      ]
      tStr.forEach(e => {
        if (model[e.key]) {
          if (!model[e.key][1].includes('999')) {
            model[e.key][1] = `${model[e.key][1]}.999`
          }
          time = Object.assign(time, {
            [e.timeKey[0]]: new Date(model[e.key][0]).getTime(),
            [e.timeKey[1]]: new Date(model[e.key][1]).getTime()
          })
        }
      })
      let b = {}
      for (const key in model) {
        const element = model[key]
        if (key !== 'measureTime' && key !== 'checkInTime') {
          Object.assign(b, {[key]: element})
        }
      }
      let param = Object.assign({}, { ...time, ...b })
      return this.$filterNullFields(param)
    },
    // *********************************** 页面逻辑 *****************************************
    getDropDownList () {
      handleData._getDropDownlist().then(res => {
        const {flag, result} = res.data
        if (flag) {
          this.inputItem.forEach(item => {
            if (item.ruleProp === 'businessType') {
              item.option = result.businessType.map(ele => {
                return {
                  label: this.$t(ele.i18nKey),
                  value: ele.dataCode
                }
              })
            }
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    // 重置查询条件，清除缓存
    reset () {
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          'sms': []
        }
      })
    },
    getCachedOptions (str) {
      return this.$store.state.searchConditionOption[`${str}`]
    },
    initInputVal () {
      let p = this.getCachedOptions('sms')
      let obj = {}
      // 将从store获取的数组数据组装为对象键值对
      p.forEach(item => {
        let key = Object.keys(item)
        Object.assign(obj, {[key]: item[key]})
      })
      this.inputItem.forEach(e => {
        e.models = obj[e.ruleProp]
      })
      let param = this.getQueryParam({model: obj})
      // this.asideTabContainer.page.CurrentPage = param.page
      let initTableParm = {...{page: 0, size: this.pageUseParam.pageSizeNum || 10}, ...{site: this.defaultOption}, ...param}
      this.getTableData(initTableParm) // 初始化表格
    },
    getTableData (options) { // 获取主页表格初始数据 模拟请求回来的数据
      let parm = this.inputItem.map(e => {
        let obj = {}
        obj = {
          [e.ruleProp]: e.models
        }
        return obj
      })
      parm = [...parm, ...[{size: options.size}], ...[{page: options.page}], ...[{sort: options.sort}]]
      this.$store.commit({
        type: 'cacheSearchCondition',
        searchConditionOption: {
          'sms': parm
        }
      })
      handleData._smsHis({...options, ...{laneNumber: localStorage.smsLaneNumber}}).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          // this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'enterTunnelTime':case 'leftTunnelTime':case 'checkInTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate'))
                  // 分页查询时间格式化
                  break
                case 'businessType':
                  element[oKey] = element.businessType && this.$t(element.businessType)
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    listQuery () { // 主页表单查询方法
      this.pageOptions.currentChageFlag = true
      setTimeout(() => {
        let param = this.getQueryParam(this.formRule)
        const handlesize = {...param, ...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...this.pageSortParm}
        this.getTableData(handlesize)
      }, 5)
    },
    getSortTable (column, prop, order) { // 根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'enterTunnelTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'enterTunnelTime,DESC'} // 默认降序排序
        } else {
          return
        }
        this.pageSortParm = sort
        let param = this.getQueryParam(this.formRule)
        const handlesize = {...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...sort, ...param}
        this.getTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 分页条数改变触发该函数
      // this.tableSize = val
      this.pageOptions.currentChageFlag = true
      this.pageUseParam.pageSizeFlag = val
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.pageSortParm}
      this.getTableData(handlesize)
    },
    handleCurrentChange (val) { // 当前页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        let param = this.getQueryParam(this.formRule)
        const pagesize = this.tableData.page.pagesize
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.pageSortParm}
        this.getTableData(handlesize)
      }
    },
    goBack () {
      this.$router.go(-1)
    },
    getDownloadOptions () {
      // delete this.formRule.size
      // delete this.formRule.measureTime
      return {...this.getQueryParam(this.formRule), ...initDownloadOptions({ exportType: 'XLSX', size: window.config.exportSizeMount, pageType: 'A4', titleKey: this.$t(this.$route.matched[0].meta.title), tableGroup: this.tableGroup })}
    },
    exportExcle () {
      if (!this.tableData.data.length) {
        this.$notify({
          title: this.$t('ViBorder.common.warning'),
          message: this.$t('ViBorder.CHECKOUT.noData'),
          type: 'warning',
          offset: this.notifyOffset
        })
      } else {
        this.loading = true
        handleData._exportExcel({...this.getDownloadOptions(), ...{laneNumber: localStorage.smsLaneNumber}}).then(res => {
          this.$createBlobUrl(res.data, res.headers['content-type'], this.$t(this.$route.matched[0].meta.title))
        }).catch(err => {
          console.log('err', err)
        }).finally(() => {
          this.loading = false
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#sms-query {
  @extend .extend-bar;
  .sms-M {
    padding: $margin;
    box-sizing: border-box;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        .search-form {
          @include layout(2);
          display: flex!important;
          flex-direction: column;
          .search-form-item {
            align-self: flex-start;
            .search-form-input {
              z-index: 4;
            }
          }
          .search-form-btn {
            padding-top: 23px;
          }
          // .el-form-item__content {
          //   padding-top: 19px;
          // }
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
        width: 25%;
        @media screen and (max-width: 1640px) {
          width: $all;
        }
      }
      .panel-L {
        @extend .extend-panel-L;
        width: $all;
        .iconfont {
          // font-size: 25px;
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
      height: $all;
    }
  }
  .table-bar {
    width: $all;
    position: relative;
    .btn-back {
      position: absolute;
      bottom: $dis10;
      left: 49%;
      @include flex();
    }
    @media screen and (min-width: 1640px) {
      height: $all;
      overflow: hidden;
    }
  }
}
</style>
