<template>
  <div class='check-detail-bar' v-bar>
    <div class="check-detail-M">
      <!-- 左侧panel -->
      <div class="panel">
        <panelTitle :panelTitleInit="panelTitle"></panelTitle>
        <div class="left-bar" v-bar>
          <div>
            <tableForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></tableForm>
          </div>
        </div>
      </div>
      <!-- 右侧图像 -->
      <div class="right">
        <el-tabs type="border-card">
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.lprTab')">
            <div class="single-img">
              <singleImgView :singleImgInfo="tabInfo.singleImgInfo"></singleImgView>
            </div>
          </el-tab-pane>
          <el-tab-pane :label="$t('ViBorder.businessLogicCommon.scannedFilesTab')">
            <div class="single-img">
              <Viewer :imgInfo="tabInfo.pageImg" :viewerStyle="tabInfo.viewerStyle"></Viewer>
            </div>
          </el-tab-pane>
          <el-tab-pane v-if="tabInfo.hasAsycude" :label="$t('ViBorder.businessLogicCommon.asycudaTab')">
            <div class="single-img">
              <div class="not-scan-img">
                {{$t('ViBorder.businessLogicCommon.noAsycuda')}}
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '@/api/CHECKIN/checkIn.js'
export default {
  name: 'checkIn',
  data () {
    return {
      vehicleId: '',
      lprFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.lprFolder}`,
      photoFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.photoFolder}`,
      manifestFolder: `${window.config.baseUrl}${window.config.fileServerUrl}${window.config.fileFolder.manifestFolder}`,
      panelTitle: { // 主页面左侧标题
        title: this.$t('ViBorder.businessLogicCommon.checkInfo')
      },
      inputItemNewData: [],
      tabInfo: { // tab标签页数据
        isSacn: '',
        hasAsycude: true,
        viewerStyle: { // 控制viewer显示
          layout: 'horizontal',
          thumbnailPosition: 'left',
          bigImgPosition: 'right',
          titleIndex: 0,
          isTitle: true
        },
        pageImg: [ // 扫描文件viewer数据
        ],
        singleImgInfo: { // 单张图显示
          src: '',
          right: '',
          left: ''
        }
      },
      queryFn: { // 左侧页面back
        isBackBtn: true,
        hasBtn: true,
        backPath: '/checkIn/index',
        backText: this.$t('ViBorder.common.close')
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      inputItem: [
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'arrivalTime'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'asycudaCode'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'declarationNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'licensePlateNumberBack'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'businessType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'vehicleType'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'entryTunnel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'xrayScan'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.riskLevel'),
          type: 'onlyReadColor',
          models: '',
          ruleProp: 'riskLevel'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'fileScanAmount'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
          type: 'onlyRead',
          models: '',
          ruleProp: 'remark'
        }
      ],
      needInsertData: {
        rfid: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.rfid'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'rfidNumber'
          }
        ],
        out: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.from'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'originPortCode'
          }
        ],
        in: [
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.needLogisticsSupervision'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'logistics'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.to'),
            type: 'onlyReadTooltip',
            models: '',
            ruleProp: 'destination',
            fullName: 'wertyuio'
          },
          {
            getLabel: this.$t('ViBorder.businessLogicCommon.trailer'),
            type: 'onlyRead',
            models: '',
            ruleProp: 'trailer'
          }
        ]
      },
      page: ''
    }
  },
  created () {
    // this.inputItemClearData()
    this.initPageData()
  },
  methods: {
    async initPageData (parm) { // 初始化数据
      const VEHICLEID = sessionStorage.getItem('vehicleId')
      // this.inputItem = JSON.parse(JSON.stringify(this.inputItemNewData))
      try {
        let res = await handleData._getDetails({vehicleId: VEHICLEID})
        const {flag, result: {checkInVO}} = res.data
        if (flag) {
          // 根据数据返回的数据（进口，出口）和车辆的类型显示8中表单样式
          let checkSite = checkInVO.vehicleCheckIn.position.site.value // 进口 OR 出口
          let val = checkInVO.vehicleCheckIn.vehicleType // 车辆类型
          if (val === 'TRUCK' || val === 'COMMODITYCAR' || val === 'OVERLIMITTRUCK') {
            if (checkSite === 'OCIA') {
              for (let i in this.inputItem) {
                if (this.inputItem[i].ruleProp === 'logistics') {
                  this.inputItem.splice(i, 1)
                }
              }
            }
          } else if (val === 'EMPTYTRUCK') { // 选中 空车 时,某些inputItem中的节点修改或者formRule中验证规则改变
            this.inputItem = [ // 由于要不断判断8中条件，inputItem变化复杂，在每次切换车辆类型时紧接着先初始化一次inputItem数据
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'arrivalTime'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'asycudaCode'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'declarationNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumberBack'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.businessType'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'businessType'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'vehicleType'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.entryTunnel'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'entryTunnel'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.xrayScan'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'xrayScan'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'fileScanAmount'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'remark'
              }
            ]
            if (checkSite === 'OCIA') {
              for (let i in this.inputItem) {
                if (this.inputItem[i].ruleProp === 'logistics') {
                  this.inputItem.splice(i, 1)
                }
              }
            }
          } else if (val === 'BUS') { // 选中 大巴 时,某些inputItem中的节点修改或者formRule中验证规则改变
            this.inputItem = [ // 由于要不断判断8中条件，inputItem变化复杂，在每次切换车辆类型时紧接着先初始化一次inputItem数据
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.arrivalTime'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'arrivalTime'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'asycudaCode'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'declarationNumber'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.lpnBack'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'licensePlateNumberBack'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.vehicleType'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'vehicleType'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.documentScanningqty'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'fileScanAmount'
              },
              {
                getLabel: this.$t('ViBorder.businessLogicCommon.checkinRemark'),
                type: 'onlyRead',
                models: '',
                ruleProp: 'remark'
              }
            ]
            for (let i in this.inputItem) {
              if (this.inputItem[i].ruleProp === 'logistics') {
                this.inputItem.splice(i, 1)
              }
            }
          }
          let rfidIndex = 1
          let splitIndex = 4
          if (checkInVO.isExistRFIDCard === '1') {
            let {left, right} = this.$splitArr(this.inputItem, rfidIndex) // 分割数组
            this.inputItem = [...left, ...this.needInsertData.rfid, ...right]
            splitIndex = 5
          }
          if (localStorage.checkInSite === 'ICIA' && val !== 'BUS') { // 添加转关起始字段
            let {left, right} = this.$splitArr(this.inputItem, splitIndex) // 分割数组
            this.inputItem = [...left, this.needInsertData.in[0], this.needInsertData.in[1], ...right]
            let arr = this.$splitArr(this.inputItem, splitIndex + 4)
            this.inputItem = [...arr.left, this.needInsertData.in[2], ...arr.right]
          }
          if (checkInVO.isTrans) { // 添加出境方向无转关起始信息车辆字段
            this.inputItem = [...this.needInsertData.out, ...this.inputItem] // 出境方向在最前面from
          }
          if (checkInVO.vehicleLpr) {
            Object.assign(this.tabInfo.singleImgInfo, {right: this.$formatDateTime(checkInVO.vehicleLpr.recognitionTime, this.$t('ViBorder.common.formatDate')), src: `${this.lprFolder}${checkInVO.vehicleLpr.photoPath}`, left: checkInVO.vehicleLpr.amendResult})
          }
          if (checkInVO.vehicleScannedDoc) { // 对扫描文件进行赋值
            this.tabInfo.pageImg.length = 0
            for (let item in checkInVO.vehicleScannedDoc) {
              let scannedNumber = {}
              scannedNumber.title = this.$t(checkInVO.vehicleScannedDoc[item].docTypeI18n.key)
              scannedNumber.url = checkInVO.vehicleScannedDoc[item].docImgPath.split(',').map(e => {
                return `${this.manifestFolder}${e}`
              })
              this.tabInfo.pageImg.push(scannedNumber)
            }
          }
          let rulePropKey = ['logistics', 'trailer', 'entryTunnel', 'xrayScan']
          this.inputItem.forEach(e => {
            for (let k in checkInVO.vehicleCheckIn) {
              if (e.ruleProp === k) {
                e.models = checkInVO.vehicleCheckIn[k]
              }
              if (rulePropKey.includes(e.ruleProp)) {
                if (checkInVO.vehicleCheckIn[e.ruleProp]) {
                  e.models = this.$t('ViBorder.common.yes')
                } else {
                  e.models = this.$t('ViBorder.common.error')
                }
              }
              if (e.ruleProp === 'businessType') {
                e.models = this.$t(this.$_get(checkInVO, 'vehicleCheckIn.businessTypeI18N.key', ''))
              } else if (e.ruleProp === 'originPortCode') {
                e.models = this.$t(this.$_get(checkInVO, 'vehicleCheckIn.originPortI18N.keyShort', ''))
              } else if (e.ruleProp === 'vehicleType') {
                if (e.models === 'BUS' || e.models === 'EMPTYTRUCK') {
                  this.tabInfo.hasAsycude = false
                }
                e.models = this.$t(this.$_get(checkInVO, 'vehicleCheckIn.vehicleTypeI18N.key', ''))
              } else if (e.ruleProp === 'arrivalTime') {
                e.models = this.$formatDateTime(checkInVO.vehicleCheckIn.arrivalTime, this.$t('ViBorder.common.formatDate'))
              } else if (e.ruleProp === 'riskLevel' && checkInVO.vehicleCheckIn.riskLevel) {
                let obj = {
                  GREEN: () => {
                    return '2'
                  },
                  YELLOW: () => {
                    return '1'
                  },
                  RED: () => {
                    return '0'
                  }
                }
                e.models = obj[checkInVO.vehicleCheckIn.riskLevel.value]()
              } else if (e.ruleProp === 'destination') {
                e.models = this.$t(this.$_get(checkInVO, 'vehicleCheckIn.destPortI18N.keyShort', ''))
                e.fullName = this.$t(this.$_get(checkInVO, 'vehicleCheckIn.destPortI18N.key', ''))
              }
            }
          })
        }
      } catch (error) {
      }
    },
    inputItemClearData () {
      this.inputItemNewData = JSON.parse(JSON.stringify(this.inputItem))
    }
  }
}
</script>

<style lang="scss">
@import "../../styles/index.scss";
.check-detail-bar {
  @extend .extend-bar;
  .check-detail-M {
    padding: $margin;
    box-sizing: border-box !important;
    display: flex !important;
    position: relative;
    .panel {
      @extend .extend-panel;
      justify-content: flex-start;
      margin-right: $margin;
      .left-bar {
        @extend .extend-bar;
        width: $all;
      }
    }
    .right,
    .panel {
      width: $all / 2;
      height: calc(100% - 10px);
      margin-bottom: 0px;
      .left-bar {
        .el-form-item {
          .el-form-item__content {
            .el-form-item__label {
              white-space: pre-wrap;
            }
          }
        }
      }
    }
    .right {
      // tab标签页
      .el-tabs__nav-scroll {
        background: $titleUrl repeat-x 0 -15px;
      }
      .el-tabs,
      .el-tab-pane {
        height: $all;
      }
      .el-tabs__content {
        height: calc(100% - 34px);
        @include box-sizing();
      }
      .single-img {
        height: $all;
        @include flex();
        .no-imgdata {
          color: #ccc;
        }
        .dirvePhoto-content {
          width: $all;
          height: $all;
          @include flex();
          .dirvePhoto {
            width: $all;
            display: block;
            margin: auto;
          }
        }
      }
      .not-scan-img {
        height: $all;
        @include flex();
        color: $gray;
      }
    }
  }
}
</style>
