<template>
  <div id="hc-check">
    <HcCheck></HcCheck>
  </div>
</template>

<script>
import HcCheck from '../common/checkComponent'
export default {
  name: 'hc-check',
  data () {
    return {}
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {HcCheck}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#hc-check {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
