<template>
  <div id="health-index">
    <HealthIndex :jump2PagePath="pagePath" :socketInfo="socketInfo"></HealthIndex>
  </div>
</template>

<script>
import HealthIndex from '../common/confirmationInspection'
export default {
  name: 'health-index',
  data () {
    return {
      pagePath: {
        details: '/hc/historicalDetails',
        check: '/hc/check'
      },
      socketInfo: {
        client: 'HCClient',
        site: localStorage.hcSite,
        header: 'HEALTHCHECK'
      }
    }
  },
  methods: {},
  computed: {},
  watch: {},
  props: [ ],
  components: {HealthIndex}
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#health-index {
  height: $all;
  width: $all;
  @include box-sizing();
}
</style>
