<template>
  <div id="jic-bar" v-bar>
    <div class="jic-M">
      <div class="infolist infonlist-top">
        <div class="panel panel-top">
          <panelTitle :panelTitleInit="panelTitle.queryTitleTop"></panelTitle>
          <div class="form-bar">
            <ComForm :searchIpt="inputItemTop" :searchFunc="queryFnTop" :formRule='formRuleTop'></ComForm>
          </div>
        </div>
        <div class="panel panel-Q">
          <panelTitle :panelTitleInit="panelTitle.queryTitle"></panelTitle>
          <!-- 查询。· -->
          <div class="form-bar">
            <ComForm :searchIpt="inputItem" :searchFunc="queryFn" :formRule='formRule'></ComForm>
          </div>
        </div>
      </div>
      <!-- 表格内容 -->
      <div class="infolist">
        <div class="panel panel-L">
          <!-- 表格展示右侧按钮组 -->
          <panelTitle :panelTitleInit="panelTitle.listTitle">
          </panelTitle>
          <!-- 表格 -->
          <div class="form-bar">
            <ComTable :tableData='tableData' :tableGroup='tableGroup' @listenToSelectDataEvent="getLineInfo"></ComTable>
          </div>
        </div>
      </div>
    </div>
    <!-- 右侧固定 -->
    <div class="fix-box">
      <div class="fix-tab" ref="toggleTab">
        <el-tooltip class="item" effect="dark" :content="$t('ViBorder.JI.historyCheck')" placement="left">
          <div class="fix-tab-title" @click="toggleAsideTab">
            <span class="tab-text">{{$t('ViBorder.JI.historyCheck')}}</span>
            <i class="iconfont" :style="{transform: asideTab.rotateDeg}">&#xe623;</i>
          </div>
        </el-tooltip>
        <div ref="toggleTabContanier" class="fix-tab-container">
          <div class="up-down-container">
            <div class="up-down-infolist">
              <div class="up-down-panel">
                <panelTitle :panelTitleInit="asideModalTitle.queryTitle"></panelTitle>
                <ComForm :searchIpt="asideModalItem" :searchFunc="asideModalFn" :formRule='asideModalRule'></ComForm>
              </div>
              <div class="up-down-panel panel-bottom">
                <panelTitle :panelTitleInit="asideModalTitle.listTitle"></panelTitle>
                <ComTable :tableData='asideTabContainer' :tableGroup='asideTableGroup'></ComTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import handleData from '../../api/JI/index.js'
import SockJS from 'sockjs-client'
import Stomp from '@stomp/stompjs'
import initConfirmData from '../../components/common/commonData'
import {connect, disconnect} from '../../components/common/ws.js'
export default {
  name: 'jic-page',
  data () {
    return {
      notifyOffset: window.config.notifyOffset,
      pageSizeNum: ``, // 当前页单页显示数据数
      asideTab: { // 侧栏数据
        display: false,
        rotateDeg: ''
      },
      sortParm: {}, // 存放排序的参数
      asideSortParm: {}, // 存放侧拉框排序的参数
      sideTableSize: '',
      JIClient: '',
      pageUseParam: {
        CurrentChageFlag: false, // 分页切换标志位
        defaultOptions: ``, // 默认参数
        pageSizeNum: ``, // 当前页单页显示数据数
        fileServerUrl: `${window.config.baseUrl}${window.config.fileServerUrl}`,
        lprFolder: window.config.fileFolder.lprFolder,
        manifestFolder: `${window.config.fileFolder.manifestFolder}`,
        vehicleId: ``,
        // JIClient: ``,
        saveInitPlantNum: ``,
        saveInitTime: ``,
        notAllowRelease: ``,
        allowRelease: ``,
        saveImcTime: ``
      },
      /**
       * ***************侧拉框数据开始*************************
       */
      asideModalTitle: { // 模态框数据标题
        queryTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleQuery')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.vehicleList')
        }
      },
      asideModalItem: [ // 侧拉框文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.checkInDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.confirmDate'),
          type: 'daterange',
          placeHolder: this.$t('ViBorder.businessLogicCommon.confirmDate'),
          models: '',
          rangeSeparator: '...', // 范围过滤字符
          format: this.$t('ViBorder.common.dateFormat'), // 显示的日期格式
          startPlace: this.$t('ViBorder.common.startTime'), // 开始时间文字提示
          endPlace: this.$t('ViBorder.common.endTime'), // 结束时间文字提示
          valueFormat: 'yyyy-MM-dd HH:mm:ss', // 存入日期格式
          ruleProp: 'checkinTime2',
          clearable: false
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        },
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputAsycuda'),
          models: '',
          ruleProp: 'asycudaCode',
          option: [],
          clearable: true
        }
      ],
      asideModalFn: { // 弹窗表单确定方法
        query: this.asideModalSure,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      asideTabContainer: { // 侧栏表格
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '525',
        refName: 'multipleTable',
        sortMethod: this.asideGetSortTable // 新增排序方法
      },
      asideTableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'time',
          model: 'checkInTime',
          sortable: 'custom',
          width: '260'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.confirmTime'),
          type: 'time',
          model: 'jointInspectionTime'
          // sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
          // sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          model: 'asycudaCode'
          // width: '260px'
        }
      ],
      asideModalRule: { // 弹窗表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      pageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      sidePageOptions: {
        currentChageFlag: false,
        vehicleIdArr: ``
      },
      panelTitle: { // title组件数据
        queryTitleTop: {
          title: this.$t('ViBorder.JI.quickConfirmation')
        },
        queryTitle: {
          title: this.$t('ViBorder.JI.queryConfirmation')
        },
        listTitle: {
          title: this.$t('ViBorder.businessLogicCommon.list')
        }
      },
      /**
       * ********************主页面的查询data数据开始*********************************
       */
      queryFnTop: { // 页面表单查询方法
        query: this.asycudaQuery,
        queryText: this.$t('ViBorder.common.confirm'),
        resetText: this.$t('ViBorder.common.reset')
      },
      formRuleTop: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {
          asycudaCode: ''
        }
      },
      formRule: { // 表单验证和存放数据 model=> post到后台的数据
        refName: 'queryForm',
        rule: {},
        model: {}
      },
      inputItemTop: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          placeHolder: this.$t('ViBorder.JI.automaticInquiry'),
          models: '',
          // blur: this.asycudaQuery,
          autofocus: true,
          ruleProp: 'asycudaCode'
        }
      ],
      inputItem: [ // 文本搜索条件 models为显示的数据
        {
          getLabel: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          placeHolder: this.$t('ViBorder.businessLogicCommon.inputLpn'),
          models: '',
          ruleProp: 'licensePlateNumber'
        }
      ],
      queryFn: { // 页面表单查询方法
        query: this.query,
        queryText: this.$t('ViBorder.common.query'),
        resetText: this.$t('ViBorder.common.reset')
      },
      tableData: { // 表格数据
        data: [],
        isBorder: true,
        isStripe: true,
        isPage: false,
        MaxHeight: '580',
        refName: 'multipleTable',
        sortMethod: this.getSortTable // 新增排序方法必须得写
      },
      operation: [ // 表格操作
        {
          func: this.confirmRelease, // 放行确认按钮
          label: `<span class='editTable'><i class="iconfont">&#xe605;</i></span>`,
          title: this.$t('ViBorder.common.confirm'),
          show: true
        }
      ],
      tableGroup: [ // 表格数据列
        {
          label: this.$t('ViBorder.businessLogicCommon.checkInTime'),
          type: 'text',
          model: 'checkInTime',
          sortable: 'custom'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.predeclarationNO'),
          type: 'text',
          model: 'declarationNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.lpnFront'),
          type: 'text',
          model: 'licensePlateNumber'
        },
        {
          label: this.$t('ViBorder.businessLogicCommon.asycuda'),
          type: 'text',
          model: 'asycudaCode'
        },
        {
          label: this.$t('ViBorder.common.operation'),
          type: 'operation',
          model: 'operation',
          fixed: 'right'
        }
      ]
    }
  },
  created () {
    this.query()
    this.connectWebSocket()
    document.onkeydown = (e) => {
      var key = window.event.keyCode
      if (key === 13) {
        this.asycudaQuery()
      }
    }
  },
  mounted () {
    this.windowResize()
    let self = this
    window.onresize = function () {
      self.windowResize()
    }
    // 页面加载时按下tab键不激活日期组件
    var key = document.getElementsByClassName('el-range-input')
    for (var i = 0; i < key.length; i++) {
      key[i].setAttribute('tabindex', -1)
    }
    setTimeout(function () {
      let inputelement = document.getElementsByClassName('el-input__inner')
      if (inputelement && inputelement[0]) {
        inputelement[0].focus()
      }
    }, 1000)
  },
  destroyed () {
    document.onkeydown = undefined
    this.JIClient && disconnect({client: this.JIClient})
    this.toggleGloableModal(false)
  },
  methods: {
    // *********************************** 公共方法 *****************************************
    windowResize () { // 用于页面改变时（大屏或小屏）更改dialog弹窗数据列表的MaxHeight
      let clientWidth = document.body.clientWidth
      if (clientWidth < 1640) {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0px'
        }
        this.$data.asideTabContainer.MaxHeight = 250
      } else {
        if (this.$refs.toggleTabContanier) {
          this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
        }
        this.$data.asideTabContainer.MaxHeight = 540
      }
    },
    confirmModal (param) { // 信息确认
      this.$confirm(param.msg, initConfirmData.confirm()).then(() => {
        param.scb && param.scb()
      }).catch(err => {
        console.log('err', err)
        let inputelement = document.getElementsByClassName('el-input__inner')
        if (inputelement && inputelement[0]) {
          inputelement[0].focus()
        }
      })
    },
    toggleGloableModal (status) { // 打开或者关闭模态窗
      this.$store.commit({
        type: 'showIndexModal',
        indexModal: status
      })
    },
    getQueryParam (val) {
      let {model} = val
      let time = {}
      if (model.checkinTime) {
        if (!model.checkinTime[1].includes('999')) {
          model.checkinTime[1] = `${model.checkinTime[1]}.999`
        }
        time = {
          startCheckInTime: new Date(model.checkinTime[0]).getTime(),
          endCheckInTime: new Date(model.checkinTime[1]).getTime()
        }
      }
      let tiemjic = {}
      if (model.checkinTime2) {
        if (!model.checkinTime2[1].includes('999')) {
          model.checkinTime2[1] = `${model.checkinTime2[1]}.999`
        }
        tiemjic = {
          startJointInspectionTime: new Date(model.checkinTime2[0]).getTime(),
          endJointInspectionTime: new Date(model.checkinTime2[1]).getTime()
        }
      }
      let param = Object.assign({}, time, tiemjic, { asycudaCode: model.asycudaCode ? model.asycudaCode : '', licensePlateNumber: model.licensePlateNumber })
      return this.$filterNullFields(param)
    },
    // *********************************** 页面逻辑 *****************************************
    connectWebSocket () { // websocket推送
      const baseUrl = window.config.baseUrl
      const viborderStompWebsocket = `${window.config.projectName}${window.config.viborderStompWebsocket}`
      let socket = new SockJS(
        baseUrl + viborderStompWebsocket
      )
      this.JIClient = Stomp.over(socket)
      let path = `/topic/commandTopic_${localStorage.jiSite}`
      let scb = (msg) => { // 针对订阅路径处理推送逻辑
        this.query()
      }
      connect({client: this.JIClient, path, scb, header: 'JOINTINSPECTION', reconCallBack: this.connectWebSocket})
    },
    getTableData (options) { // 主页获取表格初始数据 模拟请求回来的数据
      handleData._initList(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.tableData.isPage = true
          } else {
            this.tableData.isPage = false
          }
          this.tableData.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.handleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.handleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.formRule.model.size = res.data.result.size
          this.formRule.model.CurrentPage = res.data.result.number
          this.pageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.tableData.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getSideTableData (options) { // 侧拉获取表格初始数据 模拟请求回来的数据
      handleData._listJointInspection(options).then(res => {
        if (res.data.flag) {
          if (res.data.result.totalElements) { // 总数存在的话 加分页
            this.asideTabContainer.isPage = true
          } else {
            this.asideTabContainer.isPage = false
          }
          this.asideTabContainer.page = {
            CurrentPage: parseInt(res.data.result.number + 1, 10),
            pagesize: res.data.result.size,
            handleSizeChange: this.sideHandleSizeChange, // 分页条数改变触发该函数
            handleCurrentChange: this.sideHandleCurrentChange, // 当前页码改变触发改函数
            Allpage: res.data.result.totalElements
          }
          this.asideModalRule.model.size = res.data.result.size
          this.asideModalRule.model.CurrentPage = res.data.result.number
          this.sidePageOptions.currentChageFlag = false // 防止点击分页条数时多次触发提交请求
          this.asideTabContainer.data = this.unifiedFormData(res.data.result.content)
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    unifiedFormData (option) { // 表格数据的国际化时间处理以及插入operation
      if (Array.isArray(option)) {
        let arr = option.slice()
        arr.forEach(element => {
          element.operation = this.operation
          for (const oKey in element) {
            if (element[oKey]) {
              switch (oKey) {
                case 'checkInTime':case 'jointInspectionTime':
                  element[oKey] = element[oKey] && this.$formatDateTime(element[oKey], this.$t('ViBorder.common.formatDate')) // 分页查询时间格式化
                  break
                case 'businessTypeI18N':case 'vehicleTypeI18N':case 'conclusionType':
                  element[oKey].key = element[oKey] ? this.$t((element[oKey]).key) : '' // 国际化
                  break
              }
            } else {
              switch (oKey) {
                case 'locked':
                  element[oKey] = element[oKey] ? this.$t('ViBorder.common.yes') : this.$t('ViBorder.common.error')
                  break
              }
            }
          }
        })
        return arr
      } else {
        return []
      }
    },
    query () { // 主页表单查询方法
      this.pageOptions.currentChageFlag = true
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}}
      this.getTableData(handlesize)
    },
    asideModalSure () { // 侧拉框表单查询方法
      this.sidePageOptions.currentChageFlag = true
      let sort = this.getQueryParam(this.asideModalRule)
      const param = {...{size: this.sideTableSize || 10, page: 0}, ...sort}
      this.getSideTableData(param)
    },
    confirmRelease (selection) { // 主页放行确认的操作按钮
      let index = selection.$index
      let param = {
        asycudaCode: this.tableData.data[index].asycudaCode ? this.tableData.data[index].asycudaCode : '',
        vehicleId: this.tableData.data[index].id ? this.tableData.data[index].id : ''
      }
      let val = this.$filterNullFields(param) // 去掉空字符串
      console.log('confirmRelease', val)
      let scb = () => {
        handleData._asycudaQuery(val).then(res => {
          if (res.data.flag) {
            this.query()
            this.$notify.success({
              title: this.$t('ViBorder.common.successfuly'),
              message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
              offset: this.notifyOffset
            })
            let inputelement = document.getElementsByClassName('el-input__inner')
            if (inputelement && inputelement[0]) {
              inputelement[0].focus()
            }
          } else {
            this.$notify.error({
              title: this.$t('ViBorder.common.dataError'),
              message: this.$t('ViBorder.businessLogicCommon.operationFailed'),
              offset: this.notifyOffset
            })
          }
        }).catch(err => {
          console.log('err', err)
        })
      }
      this.confirmModal({msg: this.$t('ViBorder.JI.sureConfirm'), scb: scb})
    },
    getSortTable (column, prop, order) { // 主页面的根据时间排序
      if (this.tableData.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        }
        this.sortParm = sort
        let param = this.getQueryParam(this.formRule)
        let handlesize = {...{size: this.pageUseParam.pageSizeFlag || 10, page: 0}, ...param, ...sort}
        this.getTableData(handlesize)
      }
    },
    asideGetSortTable (column, prop, order) { // 侧拉框根据时间排序
      if (this.asideTabContainer.data.length) {
        let sort = {}
        if (column && column.order === 'ascending') {
          sort = {'sort': 'checkInTime,ASC'} // 升序排序
        } else if (column && column.order === 'descending') {
          sort = {'sort': 'checkInTime,DESC'} // 默认降序排序
        }
        this.asideSortParm = sort
        let param = this.getQueryParam(this.asideModalRule)
        let handlesize = {...{size: this.sideTableSize || 10, page: 0}, ...param, ...sort}
        this.getSideTableData(handlesize)
      }
    },
    handleSizeChange (val) { // 主页分页条数改变触发该函数
      this.pageOptions.currentChageFlag = true
      this.pageUseParam.pageSizeFlag = val
      let param = this.getQueryParam(this.formRule)
      const handlesize = {...param, ...{size: val, page: 0}, ...this.sortParm}
      this.getTableData(handlesize)
    },
    sideHandleSizeChange (val) { // 侧拉页主页分页条数改变触发该函数
      this.sidePageOptions.currentChageFlag = true
      this.sideTableSize = val
      let handlesize = this.getQueryParam(this.asideModalRule)
      let param = {...{page: 0, size: val}, ...handlesize, ...this.asideSortParm}
      this.getSideTableData(param)
    },
    handleCurrentChange (val) { // 主页页码改变触发改函数
      if (!this.pageOptions.currentChageFlag) {
        const pagesize = this.tableData.page.pagesize
        let param = this.getQueryParam(this.formRule)
        let handlesize = {...{page: parseInt(val - 1), size: pagesize}, ...param, ...this.sortParm}
        this.getTableData(handlesize)
      }
    },
    sideHandleCurrentChange (val) { // 侧拉页当前页码改变触发改函数
      if (!this.sidePageOptions.currentChageFlag) {
        const pagesize = this.asideTabContainer.page.pagesize
        let handlesize = this.getQueryParam(this.asideModalRule)
        let param = {...{page: parseInt(val - 1), size: pagesize}, ...handlesize, ...this.asideSortParm}
        this.getSideTableData(param)
      }
    },
    asycudaQuery () { // adcode自动查询方法
      let params = {
        asycudaCode: this.inputItemTop[0].models
      }
      handleData._asycudaQuery(params).then(res => {
        if (res.data.flag) {
          this.inputItemTop[0].models = ''
          this.query()
          this.$notify.success({
            title: this.$t('ViBorder.common.successfuly'),
            message: this.$t('ViBorder.businessLogicCommon.successfulOperation'),
            offset: this.notifyOffset
          })
        } else {
          this.$notify.error({
            title: this.$t('ViBorder.common.dataError'),
            message: this.$t('ViBorder.JI.bindFailed'),
            offset: this.notifyOffset
          })
        }
      }).catch(err => {
        console.log('err', err)
      })
    },
    getLineInfo (data) { // 点击多选之后获取点击的信息
      this.pageOptions.vehicleIdArr = data
    },
    toggleAsideTab () {
      // 切换侧栏tab
      this.asideTab.display = !this.asideTab.display
      // 宽度慢慢展现
      if (document.body.clientWidth < 1640) {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1200px' : '0'
      } else {
        this.$refs.toggleTabContanier.style.width = this.asideTab.display ? '1600px' : '0px'
      }
      // 隐藏掉边框
      this.$refs.toggleTab.style.right = this.asideTab.display ? '0' : '0'
      // 三角号旋转
      this.asideTab.rotateDeg = this.asideTab.display ? 'rotate(-90deg)' : 'rotate(90deg)'
      // 获取列表数据
      if (this.asideTab.display) {
        this.toggleGloableModal(true)
        let param = this.getQueryParam(this.asideModalRule)
        this.getSideTableData({...param, ...{size: this.pageUseParam.pageSizeNum || 10, page: 0}}) // 初始化表格
      } else {
        this.toggleGloableModal(false)
        let inputelement = document.getElementsByClassName('el-input__inner')
        if (inputelement && inputelement[0]) {
          inputelement[0].focus()
        }
      }
    }
  },
  watch: {
    'asideTab.display': {
      handler (newName, oldName) {
        var key = document.getElementsByClassName('el-range-input')
        if (newName) {
          // 历史任务列表显示时按下tab键可以激活日期组件
          for (let i = 0; i < key.length; i++) {
            key[i].setAttribute('tabindex', i + 1)
          }
        } else {
          // 历史任务列表隐藏时按下tab键不激活日期组件
          for (let i = 0; i < key.length; i++) {
            key[i].setAttribute('tabindex', -1)
          }
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/index.scss';
#jic-bar {
  @extend .extend-bar;
  .jic-M {
    padding: $margin;
    box-sizing: border-box !important;
    .form-bar {
      width: $all;
      @media screen and (min-width: 1640px) {
        height: $all;
        overflow: hidden;
      }
    }
    @media screen and (min-width: 1640px) {
      .infolist {
        // height: calc(100% - 150px);
        height: 700px;
      }
    }
    .infolist {
      .panel {
        @extend .extend-panel;
        width: $all;
        .search-form {
          @include layout(2);
          display: flex!important;
          @include flex(column, flex-start, flex-start);
        }
      }
      .panel-Q {
        @extend .extend-panel-Q;
        margin-left: 10px;
      }
      .panel-L {
        @extend .extend-panel-L;
         .iconfont {
          // font-size: 25px;
          margin: 0 $margin;
          color: $primary;
          cursor: pointer;
        }
      }
    }
    .infonlist-top {
      @include flex(row, flex-start, flex-start);
      height: auto;
      .panel {
        width: 100%;
      }
      .el-form-item {
        width: 48% !important;
      }
      .search-form-btn {
        align-self: flex-end;
      }
      .panel-top {
        height: 190px;
        .search-form-btn {
          .el-form-item__content {
            .el-button--default {
              display: none;
            }
          }
        }
      }
    }
  }
  .fix-box {
    position: fixed;
    z-index: 25;
    right: -217px;
    top: calc(50% - 120px);
    .fix-tab {
      @include flex();
      height: 260px;
      .fix-tab-title {
        left: -96px;
        width: 280px;
        height: 40px;
        position: relative;
        cursor: pointer;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        background:rgba(44, 166, 204, 0.8);
        @include flex();
        transform: rotate(-90deg);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .iconfont {
          transform: rotate(90deg);
          margin-left: 10px;
        }
        .tab-text {
          display: inline-block;
          max-width: 246px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .fix-tab-container {
        background: $white;
        border: 1px solid #ccc;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
        position: relative;
        overflow: hidden;
        -webkit-transition: width 0.6s;
        -moz-transition: width 0.6s;
        -o-transition: width 0.6s;
        transition: width 0.6s;
        width: 0;
        left: -217px;
        height: 928px;
        @media screen and (max-width: 1640px) {
          height: 660px;
        }
        border-radius: 6px;
        .up-down-container {
          padding: 10px;
          .tableComp {
            @extend .extend-table-tr-th-style;
          }
          @media screen and (min-width: 1640px) {
            .tableComp {
              height: 590px;
            }
          }
        }
      }
    }
  }
}
</style>
